[2022-10-04 18:17] MaryaBelanger opened #4264 "[2.19] Pub docs"
## This is an _evaluation_ ticket

Evaluating the _possible_ need for doc updates due to [changes to pub](https://github.com/dart-lang/sdk/blob/master/CHANGELOG.md#pub)

### Summary

Various minor changes listed in change log, double checking if anything in the docs is affected

### Evaluation

- [x] new `funding` already documented: https://github.com/dart-lang/site-www/pull/4190

- [x] "Remove r

[2022-10-04 20:34] parlough commented on #4261
Thanks for raising the questions, it's an interesting point to consider. It definitely makes sense that the implementer could implement `noSuchMethod` like you mentioned, but my concern is that it then results in those static errors not showing up, resulting in the developer potentially not recognizing any problems until that code path is hit during runtime.

Definitely is a workaround for the men

[2022-10-04 20:54] #4252 closed

[2022-10-05 00:20] MaryaBelanger commented on #4261
@parlough I like your point about it being the “Effective Dart” page; it’s not very effective to provide workarounds to best practices we’re trying to encourage.

I think i misunderstood noSuchMethod’s purpose to specifically be for this reason (overriding fields _in implementing classes_, because that’s the context in which I first learned about it), but [looking at its own explanation](https://d

[2022-10-05 01:52] munificent commented on #4262
Me too.

[2022-10-05 06:03] parlough commented on #867
It seems this picture is much more clear today, with the Flutter SDK including a full Dart SDK by default, with stable releases tied together. We also now mention this on the Get Dart page and the IntelliJ instruction page.

As for the other IDE related questions, Android Studio prompts users to install the Dart plugin when installing the Flutter one, and also includes a Dart project generator whi

[2022-10-05 06:03] #867 closed

[2022-10-05 06:06] parlough commented on #1280
Since the discussed article [no longer exists](https://web.archive.org/web/20181211221156/https://webdev.dartlang.org/articles/performance/event-loop), I'm going to close this in favor of https://github.com/dart-lang/site-www/issues/2142 which aims to introduce a replacement. Thanks again for opening the issue!

[2022-10-05 06:06] #1280 closed

[2022-10-05 06:09] parlough commented on #1252
This mention no longer exists due to the removal of the article. We now have a small mention [in the language tour](https://dart.dev/guides/language/language-tour#callable-classes) and I'm not sure it's a very encouraged construct.

With the removal of the article and this mention, I'm going to close this issue. Thanks for raising the suggestion!

[2022-10-05 06:09] #1252 closed

[2022-10-05 06:12] parlough commented on #1461
This was removed in https://github.com/dart-lang/site-www/commit/99fd6c7e61d2dc70809bed4b3dd6efe8fd5b2470

[2022-10-05 06:12] #1461 closed

[2022-10-05 06:16] parlough commented on #2468
We now link to this on the sidenav, from the `dart run` documentation, and we don't need a version note with support being there for multiple years now. Closing this.

[2022-10-05 06:16] #2468 closed

[2022-10-05 20:54] MaryaBelanger opened #4266 "[2.19] New `create` `exclusive` parameter docs"
## This is an _evaluation_ ticket

Evaluating the _possible_ need for doc updates due to dart-lang/sdk#49647

### Summary

New parameter `exclusive` for (what I'm assuming is a fairly ubiquitous) method, `File.create` (and `createSync`).
The new parameter is for optionally failing on `create` if the file (name?) already exists

### Evaluation

- [Async samples page](https://dart.dev/samples#async)

[2022-10-05 22:07] MaryaBelanger commented on #3904
This is is in the [change log](https://github.com/dart-lang/sdk/blob/master/CHANGELOG.md#dartisolate) for 2.19 now, and seems to be [implemented](https://github.com/dart-lang/sdk/blob/master/CHANGELOG.md#dartisolate) at this point (I could be misreading that though), so I'm going to treat it as such and convert this into an evaluation issue.

[2022-10-06 00:22] feinstein commented on #1252
Why do you think it's not recommended in the current state of dart? Callable classes can be quite useful for abstracting use cases, with dependency injection. We can construct a class with different dependencies and just call it, having one object for each use case. This pattern is recommended by Google in the Android Jetpack Architecture.

[2022-10-06 00:29] parlough opened #4267 "Expand on the documentation for callabe classes"
### Page URL

https://dart.dev/guides/language/language-tour#callable-classes

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/language/language-tour.md

### Describe the problem

We used to have an article called [Emulating functions in Dart](https://web.archive.org/web/20190402210311/www.dartlang.org/articles/language/emulating-functions), but now have very limited d

[2022-10-06 00:32] parlough commented on #1252
That's fair, thanks for the example. I've created a new issue to track expansion of the language tour section covering callable classes, with a focus on the "why" as well as some other changes that need to be made: https://github.com/dart-lang/site-www/issues/4267

[2022-10-06 01:34] parlough commented on #4266
As for the async example, it's focus is not really on the try-catch aspect, that's just there since there may be an error when creating a file, as other errors are possible. I suppose the `await file.exists()` part could be replaced by specifying a `exclusive: false` parameter to `create` but that removes the opportunity to print out the last modified time in that situation. Either way, it seems t

[2022-10-06 17:56] parlough opened #4269 "Deploy is failing due to permission issue"
### Describe the problem

Automatic deploy is failing on the main branch, due to a `cloudfunctions.functions.list` permission being denied.

[code]

 Failed build log: https://github.com/dart-lang/site-www/actions/runs/3196595084/jobs/5224887570

### Expected fix

_No response_

### Additional context

The part of the workflow which handles deployment can be found at: https://github.com/dart-lang/

[2022-10-06 18:40] khanhnwin commented on #4269
This looks like a new permission that's required by the Firebase action since nothing was changed on the service account IAM. I've updated the IAM settings on our service account as a fix and re-ran the deploy action to verify.

Context: https://github.com/FirebaseExtended/action-hosting-deploy/issues/203

[2022-10-06 18:45] khanhnwin commented on #4269
We're green again! https://github.com/dart-lang/site-www/actions/runs/3196595084/jobs/5225548010

[2022-10-06 18:55] parlough commented on #4269
Thanks so much @khanhnwin!

[2022-10-06 18:55] #4269 closed

[2022-10-08 01:49] natebosch commented on #4262
@srawlins - will we update the `type_init_formals` lint to catch this case as well?

[2022-10-08 14:51] srawlins commented on #4262
Yeah the proposal is in https://github.com/dart-lang/linter/issues/3210

[2022-10-08 22:35] parlough commented on #679
This has been added back but is missing useful content and examples. I'm going to close this in favor of https://github.com/dart-lang/site-www/issues/4144 which tracks the work of updating this page and adding further examples.

[2022-10-08 22:35] #679 closed

[2022-10-12 00:31] parlough opened #4276 "Linter rules should document the release they were made available in"
### Page URL

https://dart.dev/tools/linter-rules.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/tools/linter-rules.md

### Describe the problem

Right now user's cannot tell if they can are able to use a linter rule or not.

### Expected fix

We should document what SDK a linter rule was made available in.

### Additional context

This will need additional work on the

[2022-10-12 15:43] parlough opened #4278 "Standardize all icon usage to Material Symbols"
### Describe the problem

Material Symbols is a variable font with expanded and updated icons. dartdoc has switched to using it and we should as well.

### Expected fix

Migrate all Material Icons usages to Material Symbols.

Font Awesome usage should also be migrated: https://github.com/dart-lang/site-www/issues/3790

### Additional context

Material symbols: https://fonts.google.com/icons
Materi

[2022-10-13 15:02] devoncarew opened #4281 "[PAGE ISSUE]: 'Troubleshooting pub'"
### Page URL

https://dart.dev/tools/pub/troubleshoot

### Page source

https://github.com/dart-lang/site-www/tree/main/src/tools/pub/troubleshoot.md

### Describe the problem

This page needs to be updated to reference the new location of the pub `credentials.json` file. I believe the location is now OS dependent

- `~/Library/Application Support/dart/pub-credentials.json` on the mac
- ~/.config/

[2022-10-15 04:37] parlough opened #4286 "[PAGE ISSUE]: 'Using JSON' - Provide proper guide for JSON"
### Page URL

https://dart.dev/guides/json

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/json.md

### Describe the problem

Right now our JSON page just links to other resources. We should expand on this, similar to Flutter's [JSON and serialization](https://docs.flutter.dev/development/data-and-backend/json) page. This is necessary for a proper update of the fetchi

[2022-10-15 04:47] #4262 closed

[2022-10-15 06:39] niteshb opened #5007 "Issue with whenComplete example on dart.dev documentation website"
In the section about `whenComplete` in the article on [Futures and Error handling](https://dart.dev/guides/libraries/futures-error-handling#completing-the-future-returned-by-whencomplete) there is a code example which doesn't work as expected when implemented

[code]
The name suggests that `funcThatThrows()` will throw an exception, and could have any return type. But in that case `then()` can't b

[2022-10-15 11:53] atoka93 opened #4287 "Operator precedence table"
### What information is missing?

I would expect that when I search for the phrase `dart operator precedence` on Google to receive a first page result for the dart operator precedence table pointing to a `dart.dev` page.

Currently the latest operator precedence table is only accessible by tapping on the link in the following warning in the Language Tour:
<img width="939" alt="Screen Shot 2022-10-

[2022-10-15 18:02] parlough commented on #4287
As you mentioned, the operator table is already present on the site, but we could be more clear it roughly represents the precedence (or can be used as a helpful guide) to make it more searchable and perhaps add associativity guidelines.

The reason we have the warning and link to the spec is not because of the table in the spec, but because the table can only be used as a guideline, as it is "not

[2022-10-17 04:11] parlough commented on #4287
Ah, sorry I was just using the wording from the spec there, but yeah it essentially means that there are special cases and differences which cannot be accounted for in the table.

I'll prepare a change which makes it more clear it can be used as a helpful guide for precedence as well as modify the wording of the wording to be more around special cases to make it more clear and less concerning.

[2022-10-17 06:41] iLoveDocs opened #4288 "[PAGE ISSUE]: 'The Dart type system'"
### Page URL

https://dart.dev/guides/language/type-system

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/language/type-system.md

### Describe the problem

In the last paragraph of [Generic type assignment](https://dart.dev/guides/language/type-system#generic-type-assignment)

There's a line

Even if you provide `Cat` in the list of `Animal`, the code will still fai

[2022-10-17 17:18] parlough commented on #4288
Hey @iLoveDocs, thanks for opening an issue. I believe this section is saying how this cast enables the code to pass static analysis but this type of explicit cast (not this specific situation) may fail at runtime, rather than about how to avoid potential runtime errors.

Perhaps we could be more explicit it's talking about this general case?

[2022-10-17 18:27] atoka93 commented on #4287
Thank you! 😃

[2022-10-18 05:32] iLoveDocs commented on #4288
@parlough

Yes, I understand the context but I think your this line makes more sense than the the current line in the docs:

[2022-10-18 20:11] parlough opened #4291 "[PAGE ISSUE]: 'Security' - Consider mentioning GitHub Advisory Database support for packages"
### Page URL

https://dart.dev/security.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/security.md

### Describe the problem

Now that GitHub's Advisory Database [supports Dart](https://medium.com/dartlang/partnering-with-github-on-an-supply-chain-security-485eed1fc388), we should consider documenting this. Perhaps with a little detail and linking to GitHub's documentat

[2022-10-18 20:12] parlough commented on #4291
@mit-mit Should we add some mention of this on the site? If so, where and how?

[2022-10-18 21:54] #4288 closed

[2022-10-19 16:09] MaryaBelanger commented on #4042
_fyi [this blog](https://medium.com/dartlang/dart-asynchronous-programming-isolates-and-event-loops-bffc3e296a6a) also says Dart is single-threaded_

Questions about each of the work items:

### 1. FAQ

@mit-mit Dart _is_ single-threaded, isn't it? Would the answer here be something like:

Or if we want to provide more information, this sentence (mostly copied right from the [language tour](https:

[2022-10-19 16:54] sigmundch commented on #4042
I sense part of the confusion here is that when we say "Dart is single-threaded", people may hear "Dart doesn't support concurrency". Even if we try to clarify it on the same sentence, as your example above:

May I suggest that instead of attributing "single-threadedness" to Dart, we attribute it directly to isolates?

For example, instead of the sentence above, what if we say:

?

Regarding your

[2022-10-19 20:36] MaryaBelanger commented on #4042
Thank you @sigmundch! I thought the issue was saying that Dart is _not_ single-threaded, but now I understand that though it technically is single-threaded, we shouldn't lead with that because it functions like it's multithreaded (with all the benefits, and none of the issues). I'll try to incorporate that nuance into the FAQ.

I'll also add a FAQ for the web, and try to incorporate the web detail

[2022-10-19 20:53] #4276 closed

[2022-10-19 21:25] johnpryan commented on #4042
Yes, the [library tour has a dart:io section](https://dart.dev/guides/libraries/library-tour#dartio) and the [Concurrency in Dart](https://dart.dev/guides/language/concurrency) page is a better overview

[2022-10-20 03:11] MahmoudShawkyy commented on #4267
Hello @parlough I am working on this Part in Docs, and I will submit a PR after finishing it.

[2022-10-20 05:12] parlough opened #4297 "Don't break build when a new Node or Dart release is made"
### Describe the problem

It can impact work, breaking deploys and staging on PRs until someone updates the checksums, which not everyone may have the local setup to do so easily. Even once it's updated, PRs need to be updated by rebasing or merging to pass the build.

### Expected fix

I understand the checksum checks are important, but could we just pin and check a specific version and then upda

[2022-10-20 11:13] eernstg commented on #1552
Oh, this issue is 3 years old and I never noticed it ... thanks for the heads-up!

I do not think it is obvious that there is anything to fix about the tokens `...` and `...?` in `<spreadElement>`: We do not have a formal notion of operators, so any response to the question "Which operators does Dart have?" will be a matter of informal judgment. The [Operators](https://dart.dev/guides/language/lan

[2022-10-20 21:18] parlough commented on #1552
I appreciate the extra context, thank you both. Definitely sounds like it doesn't make sense to document the spread syntax as part of the operators section, but rather as part of the collection and collection literal documentation.

We do that now, but currently it links to the proposal rather than documenting the functionality fully, so it looks like the next step is to expand on that existing do

[2022-10-20 21:47] parlough commented on #4281
Thanks for pointing this out, not sure how I missed this one.

Here are the full details from the SDK changelog:

Credentials are no longer stored in the pub-cache, but in a platform dependent config directory:
* On Linux `$XDG_CONFIG_HOME/dart/pub-credentials.json` if `$XDG_CONFIG_HOME` is defined, otherwise `$HOME/.config/dart/pub-credentials.json`
* On Mac OS: `$HOME/Library/Application Support

[2022-10-20 22:17] eernstg commented on #1552
If needed, the current specification of `<element>`s can be found in section 'Collection Literals' of [the language specification](https://spec.dart.dev/DartLangSpecDraft.pdf), with source [here](https://github.com/dart-lang/language/blob/6c28500e03d049c421a6fac1cfb895dc03a54481/specification/dartLangSpec.tex#L9344).

[2022-10-20 22:19] #3710 closed

[2022-10-21 17:18] MaryaBelanger opened #4308 "Utilize on-page tabs for slight variations in content"
### Proposal
Use **on-page tabs** to un-clutter variations in instructions on a single page

### Motivation
#4305 lists out different terminal commands for each OS. _I think it's very important to do this wherever variations might occur_, but comes with obvious drawbacks:
- adds length and clutter to a page
- doesn't look great
- creates unnecessary cognitive overhead
  - for readers (scanning and

[2022-10-21 17:42] #4281 closed

[2022-10-21 17:47] #3667 closed

[2022-10-21 17:50] MaryaBelanger opened #4309 "Use of "version note" across the docs"
### Proposal
We need a rule around the use of "Version note:" across the docs, either eliminating their use completely or just much tighter rules around when and where to use.

### Motivation
I find it strange that we have so many version notes, like "before 2.14" or "after 2.3", across the docs (like the 6 in the [language tour](https://dart.dev/guides/language/language-tour) alone). Do we actual

[2022-10-21 18:13] dark-chocolate commented on #3124
Hi,

It's still confusing to have first import line (which is good) in the bad section.

<img width="442" alt="image" src="https://user-images.githubusercontent.com/40364434/197261690-b506ea85-5c81-4659-afd5-7f649f0d3658.png">

I think it will make more sense if we can write it like this:

`api.dart` can be imported in two ways:
1. `import '../lib/api.dart';` (bad)
2. `import 'package:my_package/a

[2022-10-21 18:28] parlough commented on #4309
I don't have an answer here, but I have some thoughts:

1. I would like to avoid versioning the site. There aren't a lot of version notes and with versioning, users may get stuck in this world where they don't see the new functionality and aren't encouraged to upgrade. They may be missing lots of other benefits too, especially if we only target new changes to the current version. There are of cour

[2022-10-21 18:37] parlough commented on #3124
Hi @dark-chocolate, thanks for raising the concern. Taking a look, this snippet is not about the first one being good and the second one being bad, it's about how importing in both ways at the same time is very confusing and causes issues. So the suggestion to this issue, is to just stick to the `package` one.

If we only put the `import '../lib/api.dart';` in the bad section, it doesn't illustrat

[2022-10-21 18:46] dark-chocolate commented on #3124
@parlough

It's not clear what is bad.

[code]

or the combination of

[code]

Of course both are bad. I think the docs needs to convey the following message explicitly because the reader also knows that importing both will be bad, the doc was (I think) more about what should be the correct way of importing.

[2022-10-24 05:57] iLoveDocs opened #4312 "Revise information on `.cast` on the 'Effective Dart: Usage' page"
### Page URL

https://dart.dev/guides/language/effective-dart/usage

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/language/effective-dart/usage.md

### Describe the problem

In the [DON’T use cast() when a nearby operation will do.](https://dart.dev/guides/language/effective-dart/usage#dont-use-cast-when-a-nearby-operation-will-do) section, there's a line:

But in t

[2022-10-24 11:52] mit-mit commented on #4291
Yes, I think we should.

Maybe on https://dart.dev/tools/pub/publishing? This page is getting long though... Given the importance of the subject, perhaps a new leaf page under `Packages >` ?

[2022-10-24 21:31] kevmoo opened #4314 "[2.19] Update documentation on Dart library directive to include non-name libraries"
See https://github.com/dart-lang/language/issues/1073

Ask @srawlins for clarification

[2022-10-24 21:49] srawlins commented on #4314
To give a little summary here, because there's really nothing to this, haha:

We already have a "library directive" which can be written above imports, like `library my_library;`. You can use this identifier in part files (in an older style), or hang annotations off it (like `@deprecated`), or hang doc comments off it (with `/// comment`). The new feature is just that you don't need to spell out a

[2022-10-25 08:53] mit-mit commented on #4314
I think the documentation impact might be simply checking if we have any library directives in our docs that have annotations or doc comments, and if so, update those to use use the new `library;` syntax?

[2022-10-25 14:52] mit-mit commented on #4042
Yes, this issues was filed to state that "Dart is NOT single-threaded". While there is some variance about what constitutes single/multiple threading, I think it's common to take single-threaded to mean a "single unit of execution at any given time". That is not the case for Dart, at least on native targets (on web, we're mostly single-threaded).

On native, `async` and `isolate.spawn` will cause

[2022-10-25 15:34] MaryaBelanger commented on #3904
Tracking Flutter impact (will determine if it's included in 2.19(?))

https://github.com/dart-lang/sdk/issues/48566

[2022-10-25 18:00] kevmoo commented on #4314
@mit-mit – likely. Just good to double-check.

[2022-10-25 18:53] MaryaBelanger opened #4318 "[2.19] `DateTime`'s new `copyWith` method"
### This is an _evaluation_ issue
Evaluating the _possible_ need for doc updates due to https://github.com/dart-lang/sdk/issues/24644

### Evaluation
Maybe add something to this section: https://dart.dev/guides/libraries/library-tour#dates-and-times
Though that section doesn't necessarily cover every `DateTime` method, so maybe just the API docs are sufficient

[2022-10-26 14:27] mit-mit commented on #4318
@lrhn we'd like to add a simple example of this to https://dart.dev/guides/libraries/library-tour#dates-and-times. wdyt about adding some like the last two lines here?

[code]

[2022-10-26 14:55] lrhn commented on #4318
LGTM.
Nits:
[code]

[2022-10-26 18:18] iLoveDocs opened #4321 "[PAGE ISSUE]: 'Effective Dart: Usage'"
### Page URL

https://dart.dev/guides/language/effective-dart/usage

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/language/effective-dart/usage.md

### Describe the problem

In the [DON’T use async when it has no useful effect.](https://dart.dev/guides/language/effective-dart/usage#dont-use-async-when-it-has-no-useful-effect) section, there's a line:

The example pr

[2022-10-26 18:32] iLoveDocs opened #4322 "Provide an example for transforming a Stream"
### What information is missing?

The [CONSIDER using higher-order methods to transform a stream.](https://dart.dev/guides/language/effective-dart/usage#consider-using-higher-order-methods-to-transform-a-stream) section mentions:

It would be nice to provide some examples.

### How would you like us to fix this problem?

An example could be:

[code]

[2022-10-26 18:39] MaryaBelanger commented on #4322
This page is probably a little out of date, but might help? https://dart.dev/articles/libraries/creating-streams
(I didn't actually check myself, so let us know if it's lacking)

[2022-10-26 19:10] parlough commented on #4322
I agree, it would be nice to expand on this section, rather than just pointing to another one, so that the rule can be absorbed in isolation.

[2022-10-27 07:57] Rushour0 commented on #3846
Hey, can I work on this?
I would need to understand the issue a bit more neatly, if you can give an example run case for the same

[2022-10-27 17:48] iLoveDocs opened #4324 "Add an example for quoted exception in Effective Dart's Design section."
### What information is missing?

In the [PREFER the “positive” name for a boolean property or variable.](https://dart.dev/guides/language/effective-dart/design#prefer-the-positive-name-for-a-boolean-property-or-variable) section, there's an exception quoted like this:

It would be nice to provide example for this.

### How would you like us to fix this problem?

An example could be:

[code]

[2022-10-27 19:40] parlough commented on #4324
Thanks for opening an issue. We don't currently have a lot of examples for exceptions, perhaps to avoid confusion, but this makes sense in general.

I'd like to hear @munificent's thoughts.

[2022-10-27 23:01] parlough commented on #3846
The main part that needs to be done is tracked in https://github.com/dart-lang/site-www/issues/1744

Essentially, right now the `{% prettify dart tag=pre+code %}` syntax allows for highlighting certain text with `[!TEXT!]`, but the normal markdown syntax with ``` does not yet. I believe this is handled through some Jekyll plugins written in Ruby in [site-www/_plugins](https://github.com/dart-lang/

[2022-10-28 21:52] #4321 closed

[2022-10-31 17:55] MaryaBelanger opened #4331 "[Eval] Update to `@staticInterop` docs"
### This is an _evaluation_ issue
Evaluating the _possible_ need for doc updates due to https://github.com/dart-lang/sdk/issues/49350 ,  https://github.com/dart-lang/sdk/issues/48730 in particular

### Summary
Limitations to `@staticInterop` `package:js` classes to simplify future implementation and support of JSinterop.

### Evaluation
Because `@staticInterop` is fairly new, there is no documenta

[2022-10-31 20:10] BellRampion opened #4333 "Explain how labels work with `break` and `continue` on 'Control Flow` page"
### Page URL

https://dart.dev/language/control-flow#break-and-continue

### Page source

[_No response_](https://github.com/dart-lang/site-www/blob/main/src/language/control-flow.md?plain=1#L116)

### Describe the problem

The current Dart documentation for `break` and `continue` does not explain what labels are or how to use them in Dart. I didn't even know you *could* use labels with `break` an

[2022-10-31 20:26] parlough commented on #4333
Thanks for opening an issue. Definitely makes sense to document this functionality, but we have to be careful in how we document them, as they are often easy to use in confusing ways, or just aren't familiar to those reading your code.

[2022-11-04 17:04] #2083 closed

[2022-11-04 22:30] parlough commented on #3071
I feel most of these issues could maybe be fixed by adjusting "variable" to "property", as property more closely refers to the external portion, in the Java case, `.getSpeed`, and in the Dart case, `.speed`, which is implemented with the underlying `_speed` variable.

@domesticmouse I'm going through some old issues and came across this one. Do you think any changes are needed here? If so, could y

[2022-11-04 22:33] parlough commented on #3071
The same page also links to https://dartpad.dev/?id=f176b4c31b4be8a454107d0946fe2fa3 (https://gist.github.com/Sfshaza/f176b4c31b4be8a454107d0946fe2fa3) which triggers the `unnecessary_new` lint with `new Bicycle`. Could you also fix that, perhaps with a new gist under flutterdevrelgists?

I would fix these, but I don't have access to the codelabs.

[2022-11-04 22:56] parlough commented on #3859
I'm going to close this as no one else has reported issues and I think the primary issue here is Language Tour is more of a reference and maybe should be restructured to be without DartPads, and we should have an alternative interactive tour that properly uses DartPads (maybe workshops). Tracking that in https://github.com/dart-lang/site-www/issues/3934

Thanks again for the investigation and info

[2022-11-04 22:56] #3859 closed

[2022-11-05 03:32] domesticmouse commented on #3071
@parlough I'm happy to share this document with you if you want to take an edit pass. I'll update DartPad snippets so they don't have linter warnings.

[2022-11-05 22:07] parlough commented on #4248
I'm going to close this for now as I haven't seen anyone else have the issue and we would need some extra information. Let us know if you're still facing this issue though. Thanks again!

[2022-11-05 22:07] #4248 closed

[2022-11-05 22:07] parlough commented on #3071
That would be great @domesticmouse, thanks!

[2022-11-05 22:49] parlough commented on #4331
It will be exciting to have some documentation of this new functionality once views are released. Is there an example of the expected syntax with views or what will be in a core library?

Without the complete context, it doesn't currently sound like a perfect fit for the library tour. I wonder if it would be better in its own page, such as [JavaScript Interoperability](https://dart.dev/web/js-inte

[2022-11-06 09:21] domesticmouse commented on #3071
Shared

[2022-11-07 06:19] timsneath opened #4347 "[PAGE ISSUE]: 'dart doc'"
### Page URL

https://dart.dev/tools/dart-doc.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/tools/dart-doc.md

### Describe the problem

https://github.com/dart-lang/dartdoc contains a lot more documentation that is missing from the `dart doc` page.

### Expected fix

We should move this across or at least link to it.

### Additional context

_No response_

[2022-11-07 18:40] MaryaBelanger commented on #3904
Note: [this example](https://github.com/dart-lang/samples/blob/master/isolates/bin/long_running_isolate.dart) shouldn't change because there is no method to accomplish this with `run()` yet

[2022-11-07 19:49] atsansone commented on #4165
@johnpryan : Do you have any guidance on adding this type of content to the docs?

[2022-11-07 20:00] atsansone commented on #37
@munificent : Is this still an issue? We cover a good bit on [envvar](https://dart.dev/search?cx=011220921317074318178%3A_yy-tmb5t_i&ie=UTF-8&hl=en&q=environment+variables), but maybe we're not as complete as needed.

[2022-11-07 20:58] johnpryan commented on #4165
@washingtondeveloper thanks for sharing your series! This is the first Dart course in Portuguese that I've seen, and looks like it's already helping a lot of Portuguese speakers learn Dart.

@atsansone We should try to avoid adding _too_ many YouTube playlists to this page and have clear guidance for contributors. I tend to agree with this [comment from filiph](https://github.com/dart-lang/site-ww

[2022-11-07 21:28] parlough opened #4348 "Update and improve the zones page"
Page URL: https://dart.dev/articles/archive/zones

Page source: https://github.com/dart-lang/site-www/tree/main/src/_articles/archive/zones.md

The [Dart Zones](https://dart.dev/articles/archive/zones) page is the only document covering zones but it is out of date, has issues, and is not following the website's current documentation and writing guidelines. We should update or completely replace it

[2022-11-07 21:29] parlough commented on #2147
I'm going to close this in favor of https://github.com/dart-lang/site-www/issues/4348 to consolidate improvements (or replacements) to Zones documentation. Thanks again!

[2022-11-07 21:29] #2147 closed

[2022-11-07 21:29] parlough commented on #2153
I'm going to close this in favor of https://github.com/dart-lang/site-www/issues/4348 to consolidate improvements (or replacements) to Zones documentation. Thanks again!

[2022-11-07 21:29] #2153 closed

[2022-11-07 21:30] parlough commented on #2148
I'm going to close this in favor of https://github.com/dart-lang/site-www/issues/4348 to consolidate improvements (or replacements) to Zones documentation. Thanks!

[2022-11-07 21:30] #2148 closed

[2022-11-07 21:30] parlough commented on #2149
I'm going to close this in favor of https://github.com/dart-lang/site-www/issues/4348 to consolidate improvements (or replacements) to Zones documentation. Thanks for reporting this!

[2022-11-07 21:30] #2149 closed

[2022-11-07 21:30] parlough commented on #2150
I'm going to close this in favor of https://github.com/dart-lang/site-www/issues/4348 to consolidate improvements (or replacements) to Zones documentation. Thanks for reporting this!

[2022-11-07 21:30] #2150 closed

[2022-11-07 21:30] parlough commented on #2151
I'm going to close this in favor of https://github.com/dart-lang/site-www/issues/4348 to consolidate improvements (or replacements) to Zones documentation. Thanks for reporting this!

[2022-11-07 21:30] #2151 closed

[2022-11-07 21:40] parlough opened #4349 "Document environment declarations in the library tour"
### Page URL

https://dart.dev/guides/libraries/library-tour

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/libraries/library-tour.md

### Describe the problem

We don't currently document environment declarations which are exposed through constructors: [`int.fromEnvironment`](https://api.dart.dev/stable/dart-core/int/int.fromEnvironment.html), [`String.fromEnvironme

[2022-11-07 21:40] parlough commented on #37
Superseded by https://github.com/dart-lang/site-www/issues/4349

[2022-11-07 21:40] #37 closed

[2022-11-07 21:48] parlough commented on #1108
It looks like Rouge does this a little better, so going to close this in favor of https://github.com/dart-lang/site-www/issues/3846.

The final though goal though is to move to a Dart analyzer based system as tracked in https://github.com/dart-lang/site-www/issues/4163.

[2022-11-07 21:48] #1108 closed

[2022-11-07 21:49] parlough commented on #1744
I'm going to close this in favor of tracking the work in https://github.com/dart-lang/site-www/issues/3846.

[2022-11-07 21:49] #1744 closed

[2022-11-07 21:51] parlough commented on #1105
I'm going to close this in favor of https://github.com/dart-lang/site-www/issues/3846 where I plan to tackle this alongside some of the other work.

[2022-11-07 21:51] #1105 closed

[2022-11-07 22:01] parlough commented on #1810
I'm going to close this in favor of https://github.com/dart-lang/site-www/issues/1803 now that the page is using code excerpts, we just need to actually run the tests.

[2022-11-07 22:01] #1810 closed

[2022-11-07 22:25] parlough opened #4350 "Improve discussion around `const` and `const` constructors in language tour"
### Page URL

https://dart.dev/guides/language/language-tour

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/language/language-tour.md

### Describe the problem

The documentation around `const` was never fully fleshed out and there are some questions remaining.

Some current issues:

- [ ] When `const` should be used, potential trade-offs, etc (https://github.com/dar

[2022-11-07 22:26] parlough commented on #1061
I'm going to close this in favor of https://github.com/dart-lang/site-www/issues/4350 to consolidate issues related to `const` in the language tour. Thanks!

[2022-11-07 22:26] #1061 closed

[2022-11-07 22:26] parlough commented on #2010
I'm going to close this in favor of https://github.com/dart-lang/site-www/issues/4350 to consolidate issues related to `const` in the language tour. Thanks!

[2022-11-07 22:26] #2010 closed

[2022-11-07 22:26] parlough commented on #1364
I'm going to close this in favor of https://github.com/dart-lang/site-www/issues/4350 to consolidate issues related to `const` in the language tour. Thanks!

[2022-11-07 22:26] #1364 closed

[2022-11-07 22:26] parlough commented on #1859
I'm going to close this in favor of https://github.com/dart-lang/site-www/issues/4350 to consolidate issues related to `const` in the language tour. Thanks!

[2022-11-07 22:26] #1859 closed

[2022-11-07 22:31] parlough opened #4351 "Create documentation discussing benchmarking and optimization"
### What information is missing?

We used to have some documentation about benchmarking, but we currently have no documentation or suggestions.

This is separate from profiling in DevTools, which is currently documented on the Flutter docs.

### How would you like us to fix this problem?

We should document benchmarking techniques and examples in Dart, as well as the tooling to do so.

[2022-11-07 22:31] parlough commented on #1475
Closing in favor of https://github.com/dart-lang/site-www/issues/4351

[2022-11-07 22:31] #1475 closed

[2022-11-07 22:31] parlough commented on #2276
Closing in favor of https://github.com/dart-lang/site-www/issues/4351

[2022-11-07 22:31] #2276 closed

[2022-11-07 22:33] parlough commented on #1932
Currently this won't work for our Docker based infrastructure. We can revisit if we move to a Dart based infrastructure or someone feels strongly about this or is impacted by it.

[2022-11-07 22:33] #1932 closed

[2022-11-07 22:37] parlough commented on #3395
I'm going to close this in favor of https://github.com/dart-lang/site-www/issues/3371 which requests documenting customizing analysis options in a sub-directory.

[2022-11-07 22:37] #3395 closed

[2022-11-07 22:39] parlough commented on #1548
Closing this in favor of https://github.com/dart-lang/site-www/issues/1548.

[2022-11-07 22:39] #1548 closed

[2022-11-07 22:42] parlough commented on #3790
Closing in favor of https://github.com/dart-lang/site-www/issues/4278 to consolidate the work.

[2022-11-07 22:49] parlough commented on #1835
I'm going to close this in favor of https://github.com/dart-lang/site-www/issues/1835, as these points are outdated and we should document the new mechanism of interop instead.

[2022-11-07 22:49] #1835 closed

[2022-11-07 22:55] parlough commented on #253
This article hasn't existed for a long time, so I'm going to close this. If someone wants to see a new serialization article, beyond expanded JSON documentation (tracked in https://github.com/dart-lang/site-www/issues/4286), feel free to open a new issue.

[2022-11-07 22:55] #253 closed

[2022-11-07 22:58] parlough commented on #143
The tool seems to put the popover below now if it doesn't have space. Either way, we likely will remove/replace this functionality (https://github.com/dart-lang/site-www/issues/2316).

[2022-11-07 22:58] #143 closed

[2022-11-07 22:59] parlough commented on #6
Closing this, as we will likely replace this functionality (https://github.com/dart-lang/site-www/issues/2316) instead.

[2022-11-07 22:59] #6 closed

[2022-11-07 23:05] parlough commented on #2991
I think the suggestion is to include links in the same section as you are writing unless it will be referenced throughout the page. Closing this in favor of https://github.com/dart-lang/site-www/issues/2991 about documenting processes in general.

[2022-11-07 23:05] #2991 closed

[2022-11-07 23:06] parlough commented on #1424
I'm going to close this in favor of https://github.com/dart-lang/site-www/issues/1424 where we track site/infrastructure support for surfacing multiple languages. Thanks!

[2022-11-07 23:06] #1424 closed

[2022-11-07 23:10] parlough commented on #2234
Fixed by https://github.com/dart-lang/site-www/commit/d3586bf1490e75c799e2ce2e790a766bbec28978 and https://github.com/dart-lang/site-www/commit/f9f99849aa8db71e2ce180332e9ced88d02eb10d. `package:isolate` is not included as it was discontinued.

[2022-11-07 23:10] #2234 closed

[2022-11-07 23:12] parlough commented on #377
I'm going to close this in favor of https://github.com/dart-lang/site-www/issues/3934 as the Language Tour is meant to be used as a reference and DartPad in its current state won't allow this to be performant if we use it across the page. The alternative would be a proper interactive tour or a more broken up language tour which is also being explored.

Thanks again for the suggestion!

[2022-11-07 23:12] #377 closed

[2022-11-07 23:13] parlough commented on #408
This was added in https://github.com/dart-lang/site-www/commit/08793e5856d8ed7fda414145e1ad74a9ed2d1b95. Thanks all!

[2022-11-07 23:13] #408 closed

[2022-11-07 23:18] parlough opened #4352 "Document DevTools functionality and usage"
### What information is missing?

We currently document what DevTools is and how to start using it, but don't document how to use it to debug, profile, or analyze code. The Flutter docs have documentation on using many of its views but that's a different site and also contains a lot of Flutter specific mentions.

### How would you like us to fix this problem?

We should have more extensive documen

[2022-11-07 23:19] parlough commented on #1899
Closing in favor of https://github.com/dart-lang/site-www/issues/4352 which discusses documenting various DevTools views.

[2022-11-07 23:19] #1899 closed

[2022-11-07 23:22] parlough commented on #25
Sounds like this isn't something needed with the current Firebase setup then. I'm going to close this, but if someone feels this is needed, feel free to open a new issue. Thanks all!

[2022-11-07 23:22] #25 closed

[2022-11-08 01:20] munificent commented on #4261
Sort of. It turns a compile-time error into a runtime error. That often makes things *worse*. For example, let's say you're using an API like:

[code]

And you define:

[code]

If Fish is later changed to:

[code]

Then `AquaticGoat` does keep compiling because of its `noSuchMethod()`. But the *body* of that doesn't actually have anything like:

[code]

So even though my class keeps compiling, it

[2022-11-08 16:06] atsansone commented on #663
This list of links applied to prior infrastructure. The degree of changes make this issue obsolete. If this is still a going concern, please create a new issue and update relevant information. Thanks!

[2022-11-08 16:06] #663 closed

[2022-11-08 16:10] atsansone commented on #52
This issue covers concerns not within the current site and an external tool that the Dart team did not develop. Any issues with LCOV should be covered in their documentation. Closing this issue.

[2022-11-08 16:10] #52 closed

[2022-11-08 16:12] atsansone commented on #69
The update instructions can be found in the [Get Dart page](https://dart.dev/get-dart). Closing this issue.

[2022-11-08 16:12] #69 closed

[2022-11-08 16:15] atsansone commented on #275
This has been covered in [An introduction to the dart:io library](https://dart.dev/articles/libraries/dart-io#interacting-with-processes). Closing this issue.

[2022-11-08 16:15] #275 closed

[2022-11-08 20:23] washingtondeveloper commented on #4165
In this series I am closely following the  [documentation](https://dart.dev/guides) and [specification](https://dart.dev/guides/language/spec) of the language.

[2022-11-08 21:53] parlough opened #4355 "Document Dart code test coverage support"
### What information is missing?

Collecting, manipulating, and displaying code test coverage is an important workflow for many times working to guarantee code quality. We currently do not document how to collect or display this information, but we should.

### How would you like us to fix this problem?

Document using [`package:coverage`](https://pub.dev/packages/coverage) to collect coverage dat

[2022-11-08 21:54] parlough commented on #52
We actually have a package which interacts with Dart's VM service to collect coverage information(https://pub.dev/packages/coverage). We should likely still document this. I've opened a new issue at https://github.com/dart-lang/site-www/issues/4355 to cover that work.

[2022-11-08 22:54] parlough commented on #1319
I'm not sure we need to automate this association, especially since it's maintained on the same site now, and rarely new lints will be added for current guidelines. If anyone feels strongly about this, feel free to open a new issue. Thanks!

[2022-11-08 22:54] #1319 closed

[2022-11-09 05:00] #4166 closed

[2022-11-10 07:47] suragch opened #4359 "Two new books that replace Dart Apprentice"
### Page URL

https://dart.dev/resources/books

### Page source

_No response_

### Describe the problem

Kodeco (formerly raywenderlich.com) has updated their Dart Apprentice book. Rather than simply publishing a new edition of Dart Apprentice, we broke the book into two, reworking the content and adding new chapters. The two new books are Dart Apprentice: Fundamentals and Dart Apprentice: Beyond

[2022-11-10 08:06] parlough commented on #4359
I think we’d prefer to link to resources that will stay up to date. Thanks for the heads up!

[2022-11-10 21:08] #4359 closed

[2022-11-11 07:36] suragch commented on #4359
@parlough Thank you. Looks good.

[2022-11-11 09:27] jonasfj opened #4361 "[2.19] Document content-hashing in pubspec.lock"
Starting Dart 2.19 we're embedding a sha256 content-hashes in `pubspec.lock`.

We should document this, and create a link `dart.dev/go/content-hashes` pointing to the documentation. This link have already been added to messages in the pub tool and sdk CHANGELOG.

[2022-11-11 09:31] jonasfj commented on #4361
Filed link in https://github.com/dart-lang/site-www/pull/4362

[2022-11-11 09:33] sigurdm commented on #4361
The feature was implemented here: https://github.com/dart-lang/pub/pull/3482

[2022-11-11 18:10] iLoveDocs opened #4363 "[PAGE ISSUE]: 'Migrating to null safety'"
### Page URL

https://dart.dev/null-safety/migration-guide.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/null-safety/migration-guide.md

### Describe the problem

In the [Migrate](https://dart.dev/null-safety/migration-guide#step2-migrate) section, there's a line:

As there was no mention of "named parameter" in the given context, this line doesn't make much sense.

##

[2022-11-13 05:00] Krissvector187 opened #4369 "(OAD P 9771.1A))"

[2022-11-13 05:06] parlough commented on #4369
Thanks for opening an issue. I’m going to close this as there isn’t any actionable information here.

If you’re still having an issue, feel free to comment here or open a new issue with more information. Thanks again!

[2022-11-13 05:06] #4369 closed

[2022-11-13 22:18] parlough commented on #1181
I know this is four years late...But do you think we need to mention this now that no-name library declarations will be allowed in 2.19? Would it be sufficient to just expand on our documentation on how to use a no-name library declaration and add documentation to that (tracked in https://github.com/dart-lang/site-www/issues/4314)?

[2022-11-14 03:57] Krissvector187 opened #4371 "https://github.com/settings/apps/new"
https://github.com/firstcontributions/first-contributions/pull/60192

[2022-11-14 03:58] Krissvector187 commented on #4371
Homebrew logo
Homebrew
The Missing Package Manager for macOS (or Linux)

Search Homebrew

English
Install Homebrew

/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
📋

Paste that in a macOS Terminal or Linux shell prompt.

The script explains what it will do and then pauses before it does it. Read about other installation options.

What Does Homebrew

[2022-11-14 04:53] parlough commented on #4371
Hi @Krissvector187, thanks for opening an issue.

There isn't enough actionable information here though, so I'm going to close this. If you are still having an issue, feel free to respond here or open a new issue. Thanks again!

[2022-11-14 04:53] #4371 closed

[2022-11-14 15:54] MaryaBelanger opened #4373 "There's nothing about isolates in Effective Dart: Usage"
### Page URL

https://dart.dev/guides/language/effective-dart/usage#asynchrony

### Page source

https://github.com/dart-lang/site-www/blob/main/src/_guides/language/effective-dart/usage.md

### Describe the problem

There's nothing about isolates in the [Asynchrony section of Effective Dart: Usage](https://dart.dev/guides/language/effective-dart/usage#asynchrony). Should there be? @munificent Do

[2022-11-14 20:44] #4363 closed

[2022-11-15 03:43] parlough commented on #4361
Without the new `pub get` option, what should be documented here? The fact that a sha256 hash of the package archive is included in the `pubspec.lock` description of each package that can be manually verified against?

We don't really have great centralized documentation of `pubspec.lock`. Perhaps the best place is the [Lockfile section of Package versioning](https://dart.dev/tools/pub/versioning#

[2022-11-15 14:26] lrhn commented on #4373
One issue with isolates is that they're not available on the web. We can't *generally* recommend using them for any particular code pattern, because you might not be able to anyway.

I also don't think I can come up with a simple pattern that I would *always* recommend using an isolate for (if you can).
It's very much a trade-off between concerns that depend on your concrete problem.

In other wor

[2022-11-15 15:40] MaryaBelanger commented on #4373
Thank you for explaining @lrhn, this is great info and I'm glad I asked. With that context, I agree that the page and the topic don't line up, so I'll close the issue

[2022-11-15 19:04] johnpryan commented on #4361
From a user perspective, how do you use this feature to verify the integrity of downloaded packages?

[2022-11-15 19:10] johnpryan commented on #4355
This would be great. The coverage package has very thorough documentation but a high-level guide would help a lot here. Another thing to consider is that the `flutter test` command has a [`--coverage` flag](https://codewithandrea.com/articles/flutter-test-coverage/) that might not have enough documentation either.

[2022-11-15 19:12] johnpryan commented on #4352
We might want to make sure we don't duplicate docs between dart.dev and flutter.dev cc: @kenzieschmoll

[2022-11-15 19:13] johnpryan commented on #4351
This would be great - just want to make sure we don't duplicate docs between dart.dev and flutter.dev cc: @kenzieschmoll

[2022-11-15 19:15] #2837 closed

[2022-11-16 21:51] domesticmouse commented on #4042
This specific line causes me DevRel conniptions. I totally agree `isolate.spawn` creates threads of execution on native.

The part of this that I am being nit-picky on is `async`. We need to differentiate concurrency and parallelisation. Most developers have difficulty understanding that `async`, `await` and friends don't involve threading directly, but instead convert code into re-entrant state m

[2022-11-17 23:36] MaryaBelanger commented on #4314
I have a question: Is there a reason to explicitly name libraries _at all_ anymore?
Should we just completely discourage naming libraries and only ever show examples of `library;` _unnamed_?

[One note in the docs](https://dart.dev/guides/libraries/create-library-packages#what-makes-a-library-package:~:text=Note%3A%20When%20the%20library%20directive%20isn%E2%80%99t%20specified%2C%20a%20unique%20ta

[2022-11-17 23:38] kevmoo commented on #4314
@MaryaBelanger – not really.

If you're using `dart:mirrors` – maybe. But we discourage that.
You don't need `library` for parts, either. You SHOULD use the URI of the library instead of the library name.

The ONLY (good) reason for library is `///` doc comments and/or `@annotations`.

[2022-11-17 23:39] kevmoo commented on #4314
See https://dart-lang.github.io/linter/lints/unnecessary_library_directive.html !!

[2022-11-17 23:45] parlough commented on #1181
I'm going to close this as the library name clash rule was removed from the spec in https://github.com/dart-lang/language/pull/1083 and the analyzer removed the warning in https://github.com/dart-lang/sdk/commit/ef147c0a95bc345fbfca99946434745bf484ca08.

[2022-11-17 23:45] #1181 closed

[2022-11-17 23:52] MaryaBelanger commented on #4314
Ok might be a little drastic but I'm going to add an Effective Dart: Usage section that says something like "DO only use the `library` directive for doc comments and annotations". It'd be really nice to point to one place for that info (that's not the linter docs, which is the most complete source atm since it's already updated for 2.19)

[2022-11-18 00:14] kevmoo commented on #4314
Please do! Then we should update the lint to reference that this is a style guide "thing" – @srawlins @pq

[2022-11-18 16:34] kevmoo commented on #4314
Yeah there's a linter rule. That's great. But we should update the style guide, too.

[2022-11-18 17:57] munificent opened #4388 "Replace "PREFER using ?? to convert null to a boolean value." with more precise guideline"
### Page URL

https://dart.dev/guides/language/effective-dart/usage#prefer-using--to-convert-null-to-a-boolean-value

### Page source

_No response_

### Describe the problem

The guideline currently suggests using `?? <bool>` instead of `== <bool>` or `!= <bool>` when dealing with a nullable Boolean. But the `??` operator often doesn't type promote in ways that you want, which is why the guidelin

[2022-11-18 18:14] cbracken commented on #52
Thanks! I suspect that's what this issue was referring to -- I wrote that package a long time ago, but it's been maintained by others on the team for the last few years.

[2022-11-18 19:23] MaryaBelanger opened #4391 "[2.19] Docs for new type inference circular dependency error"
## This is an _evaluation_ ticket

Evaluating the _possible_ need for doc updates due to https://github.com/dart-lang/sdk/issues/50383

### Summary
A compile-time error now occurs for inference dependency cycles.

### Evaluation
Since this involves new messages in the analyzer and compiler, and since it's related to type inference, could there potentially be a new section on this page? https://dar

[2022-11-18 23:47] kenzieschmoll commented on #4352
There are some DevTools tools that apply to both standalone dart apps and to flutter apps, though a lot of the content on flutter.dev assumes a flutter app is connected. On many pages (like the performance page for example) there will be a smaller subset of features that are enabled for Dart CLI apps, so it may be worth documenting those workflows on dart.dev. Can we share code between the two web

[2022-11-21 09:50] mit-mit commented on #4314
cc @munificent

[2022-11-21 17:45] #4287 closed

[2022-11-21 22:53] MaryaBelanger commented on #4391
@eernstg @scheglov for the new analyzer and compiler messages, would those messages potentially fit into the [Fixing type promotion failures](https://dart.dev/tools/non-promotion-reasons) page?

Those sections [are linked to](https://github.com/dart-lang/sdk/blob/main/pkg/_fe_analyzer_shared/lib/src/flow_analysis/flow_analysis.dart#L2221) from different analyzer messages relating to type promotion

[2022-11-21 22:59] johnpryan commented on #4352
I don't think we have a way to share docs between the two sites. We _might_ be able to use site-shared, but this isn't something we are doing right now as far as I know.

[2022-11-21 23:24] MaryaBelanger opened #4393 "Reconcile and consolidate type issue troubleshooting pages"
[Fixing type promotion failures](https://dart.dev/tools/non-promotion-reasons) (non-promotion-reasons) and [Fixing common type problems](https://dart.dev/guides/language/sound-problems) (sound-problems)

In terms of purpose and subject matter, I can't really tell if they're trying to address different topics. Seems like basically the same thing to me. Does anyone know what the goal was for each pa

[2022-11-21 23:44] MaryaBelanger opened #4394 "[2.19] Remove ignore: `undefined_method` for all 2.19 code excerpts"
I've been adding `undefined_method` to the `// ignore_for_file: ` lines of all the code excerpts I've been writing in preparation of 2.19.

I'm assuming the best thing to do would be to remove these once 2.19 is stable so anyone editing them in the future can't accidentally add an actually undefined method to any of the code excerpts or tests.

[2022-11-21 23:58] parlough commented on #4393
I believe the context is that **Fixing common type problems** was introduced alongside a optional [strong mode](https://web.archive.org/web/20170613155410/dartlang.org/guides/language/sound-dart) (found first in the web dart dev compiler(DDC)) and then for Dart 2's sound type system, whereas **Fixing type promotion failures** was introduced alongside null safety where that class of type problem be

[2022-11-22 00:04] parlough commented on #4394
I think if you're documenting future releases, unless the change needs to get in before 2.19 lands, it may be fine to just not ignore the error and let the build fail, as it could cause us to miss issues now or in the future.

If you want to get the change in before 2.19, I think it should be fine to comment out the code excerpt for now.

Especially if you have tests or other code, the build will

[2022-11-22 00:12] MaryaBelanger commented on #4261
Thanks @munificent and @parlough! I opened this while checking for potential changes relating to https://github.com/dart-lang/site-www/issues/4263 and understand it better now, so I'll close it. Really appreciate the detailed explanations!

[2022-11-22 00:12] #4261 closed

[2022-11-22 16:52] bwilkerson commented on #4393
I don't remember the origins of those pages.

I guess the question is what information are we trying to make available and how best to do so. Both pages appear to have the same goal, which is to explain some of the common pitfalls that developers can run into related to the type system. If that's true, then having that information in a single place seems reasonable.

We should also look for opport

[2022-11-22 18:28] MaryaBelanger commented on #4393
Ok, action item will be to consolidate the pages (sound-problems and non-promotion-reasons).

Currently, [Fixing type promotion failures](https://dart.dev/tools/non-promotion-reasons) doesn't show up anywhere in the left nav. Since it's the more modern page, that should probably be the more visible page.

One thing I like more about sound-problems is that the actual error messages are included wit

[2022-11-22 18:50] MaryaBelanger commented on #4391
@stereotype441 can you let me know if I'm conflating type _inference_ failure with type _promotion_ failure?

The more I look at this, I think https://github.com/dart-lang/sdk/issues/50383 absolutely qualifies as a type promotion failure; it literally blocks inference that wasn't previously blocked, and blocking inference blocks promotion, doesn't it?

Impact is extremely minimal, but documentatio

[2022-11-22 19:16] stereotype441 commented on #4393
Good question.  In principle a lot of errors could result from a type promotion failure, but I would guess the most common ones are probably `undefined_getter`, `undefined_method`, `invalid_assignment`, `argument_type_not_assignable`, and `unchecked_use_of_nullable_value`.

[2022-11-22 19:33] MaryaBelanger commented on #4391
Ok just got my answers elsewhere, type promotion is _not_ the same thing as type inference. So,
- nothing to add to [Fixing type promotion failures](https://dart.dev/tools/non-promotion-reasons)
- [Fixing common type problems](https://dart.dev/guides/language/sound-problems) is for more general type problems (not just promotion failures), but the key word there is "common" problems, which this is

[2022-11-22 20:17] MaryaBelanger commented on #4254
Note: need to take into consideration record fields as well

[2022-11-22 22:24] bwilkerson commented on #4393
I was actually thinking about links in the opposite direction. If a diagnostic could be the result of a type promotion failure the docs should probably say so and have a link back to the more complete description of what can cause promotion failures. (Though in the IDE there will often already be a direct link to this documentation. Which means that we'll need to be careful not to break those link

[2022-11-23 00:25] munificent commented on #4314
Honestly, it's probably not even worth adding to "Effective Dart". There are an infinite number of bad things we could tell users not to do but if the bad thing takes effort to do and doesn't have any even perceived upside, we don't usually tell them not to because they just... won't. :)

We can add a guideline against it if others think it's useful, but I'm always a little worried about "Effectiv

[2022-11-23 15:18] #4263 closed

[2022-11-23 16:30] mit-mit commented on #4042
Sure, I agree that that is a very helpful differentiation. But I don't think all our customers necessarily make that distinction, so it'd be helpful to have a broad take on the question part of this Q-A entry, and then in the answer talk about that difference.

[2022-11-24 21:29] eernstg commented on #4391
Sorry about the missing answer, just came back from a flu. Sounds like everything is in good shape now. Please give me a heads up if I can help with anything!

[2022-11-25 15:04] HosseinYousefi commented on #4388
You mean

[code]

[2022-11-28 19:43] MaryaBelanger commented on #4266
Reviewed one last time, also per @parlough's comment, nothing to do here! Closing

[2022-11-28 19:43] #4266 closed

[2022-11-28 23:05] MaryaBelanger commented on #4224
@parlough could you help me figure out where to view the changes made in [this commit](https://github.com/dart-lang/sdk/commit/59cd692fb996f7b4f534a11ec9e270fcea07629e) in api.dart.dev? I've found that [lines 1696-1726](https://dart-review.googlesource.com/c/sdk/+/255252/5/sdk/lib/async/zone.dart#1696) seem to correspond to [here](https://api.dart.dev/dev/2.19.0-437.0.dev/dart-async/runZoned.html)

[2022-11-28 23:14] parlough commented on #4224
It seems some of those changes might be on the properties of the [`Zone`](https://api.dart.dev/dev/dart-async/Zone-class.html) class itself. For example, lines 624 through 688 are on the [`errorZone`](https://api.dart.dev/dev/dart-async/Zone/errorZone.html) property of the class.

It's sometimes bit hard to see, especially on Gerrit, but to find where doc changes are, I scroll down to find the cla

[2022-11-28 23:17] munificent commented on #4388
Oops, right, fixed. Thanks!

[2022-11-29 00:34] bwilkerson opened #4399 "[2.19] New diagnostic documentation available"
There is new diagnostic documentation available in `pkg/analyzer/tool/diagnostics/diagnostics.md` that I would like to have published as soon as possible. The text has been reviewed, so there should be minimal edits required to land the changes.

@parlough

[2022-11-29 00:56] parlough commented on #4399
The additions and changes look good to me. So should be ready to land.

[2022-11-29 01:07] #4399 closed

[2022-11-29 01:07] parlough commented on #4399
@bwilkerson Should be published in ~10 minutes :)

[2022-11-29 19:37] MaryaBelanger commented on #4224
Small related fix in API docs: https://dart-review.googlesource.com/c/sdk/+/272488

[2022-11-29 20:59] MaryaBelanger commented on #4361
That seems like the only decent place to put it at the moment. It might be a little too high level/conceptual if we want to document the "how" in @johnpryan's question (@jonasfj or @sigurdm it'd be wonderful to get that info to fill out the docs!)

_Another option:_
Currently the [pubspec page](https://dart.dev/tools/pub/pubspec) is just about `pubspec.yaml`, but maybe that'd be a good place to ta

[2022-11-29 21:49] MaryaBelanger opened #4404 "[2.19] Update whats-new and language evolution pages"
Once all 2.19 issues are closed, update [whats-new.md](https://github.com/dart-lang/site-www/blob/main/src/_guides/whats-new.md) and [evolution.md](https://github.com/dart-lang/site-www/blob/main/src/_guides/language/evolution.md) to reflect 2.19 changes (complete list [here](https://github.com/orgs/dart-lang/projects/55/views/2?sortedBy%5Bdirection%5D=asc&sortedBy%5BcolumnId%5D=Status))

[2022-11-29 21:58] MaryaBelanger commented on #4249
As expected, nothing in the docs (except the spec I think, but I know that lags behind). Closing!

[2022-11-29 21:58] #4249 closed

[2022-11-30 09:27] jonasfj commented on #4361
Maybe... I'm inclined to keep the "pubspec page" being just reference documentation. It's the closest thing to a specification we have for `pubspec.yaml`.

----

We could also mention `--enforce-lockfile` in the best practices section: https://dart.dev/tools/pub/dependencies#best-practices

------

@johnpryan, when calling `dart pub get --enforce-lockfile` it'll refuse the resolve the hashes (or a