[2019-11-06 10:45] jonasfj commented on #2072
I just saw the github repository [github.com/GeKorm/dart-windows](https://github.com/GeKorm/dart-windows), which has been updated fairly recent, so I assume this is still maintained.

@GeKorm, maybe it would be safer to host the website for the installer on github pages which has HTTPS?

[2019-11-06 10:52] GeKorm commented on #2072
Hi, it is indeed hosted on github pages. I'll look into enabling HTTPS, thanks

[2019-11-06 12:03] jonasfj commented on #2072
If it's on GitHub pages it should just be an option to enforce HTTPS:
https://github.blog/2018-05-01-github-pages-custom-domains-https/

Thanks for looking into this :)

[2019-11-06 12:51] GeKorm commented on #2072
Yep those are the changes. Github used a different set of IPs for A records before that blog post

[2019-11-06 18:12] DiWizard opened #2074 "Dart SDK 2.6.0 ia32 Stable: dartaotruntime.exe file is missing ..."
Subj :-(

[2019-11-07 15:24] GeKorm commented on #2072
Should be good now, with http -> https redirection

[2019-11-07 17:50] kwalrath commented on #2072
Thanks, @GeKorm!

[2019-11-07 18:31] refi64 opened #2075 ""Get the Dart SDK" page has list bullet points on top of the text"
![Screenshot from 2019-11-07 12-26-19](https://user-images.githubusercontent.com/1690697/68416624-7895f780-015a-11ea-88ca-f96fe663fdf9.png)

The bullet points for the channel list somehow got stuck on top of the above text.

[2019-11-07 18:45] kwalrath commented on #2075
Known problem. :( Closing as a duplicate of #2054.

(@refi64, if you have any additional information, #2054 would be a great place to put it.)

[2019-11-07 18:45] #2075 closed

[2019-11-07 18:53] #2072 closed

[2019-11-07 18:54] #2068 closed

[2019-11-07 19:05] chalin commented on #2061
We need to analyze each on a case-by-case basis. E.g., the missing anchors in the books page required adjustment of the page content, specifically a switch to use of markdown rather than HTML -- other solutions were possible, but that seemed to be the simplest way to get the header id's generated once again.

[2019-11-07 19:21] kwalrath opened #2077 "Add legend to "Core libraries" page"
In https://dart.dev/guides/libraries, it's unclear what JIT and AOT mean. You shouldn't have to go to the platform page to see those definitions.

Related: #2070

[2019-11-08 02:56] refi64 commented on #2075
Worth noting I had this appear on Chrome though...

[2019-11-08 18:17] kwalrath commented on #2075
That is definitely worth noting! Which version of Chrome? Can you reproduce it?

[2019-11-08 19:20] refi64 commented on #2054
Okay so I could reproduce this in Chrome 78 and decided to give it a look.

It's due to [this style rule](https://github.com/dart-lang/site-www/blob/3826ffbae424e426b8f99eac1e04630d7743261c/src/_assets/css/main.scss#L795):

[code]

Deleting the bullet point list's `::before` child fixes the issue in Chrome *and* Firefox. This appears to have been added during the big site redesign commit, though r

[2019-11-08 20:43] kwalrath commented on #2054
Thanks, @refi64, that's very helpful! I bet the issue doesn't show up on Chrome 78 for me because I'm on a Mac, and something about switching the tab makes the problem not appear.

[2019-11-08 21:34] kwalrath commented on #2054
I suspect that style rule is what makes links to anchors (such as headings) work. Without something like this, the heading is covered by the page header.

A workaround might be to avoid the bulleted list in the Linux instructions, but the problem might still show up elsewhere.

[2019-11-09 01:02] refi64 commented on #2054
Hmm, at least for headings, that's [already covered here](https://github.com/dart-lang/site-www/blob/3826ffbae424e426b8f99eac1e04630d7743261c/src/_assets/css/main.scss#L753-L793). However, assuming this rule does have a purpose: It only applies to link elements with an `id`, and the only reason these have an ID seems to be [so the JS code that updates the download links can find them](https://gith

[2019-11-10 08:31] miquelbeltran opened #2080 "Either support zsh or clarify that only bash is supported"
I am trying to run the site and I am facing an issue with the installation scripts.

At the step "3. Run installation scripts" I can't get past the step:

The error I get is:

[code]

I installed `travis-fold` using `npm install -g travis-fold` but I still see the error.

I use a MacOs 10.15.1, iTerm2 and zsh.

Thankfully I was able to continue the setup manually by running `npm install` and `bund

[2019-11-10 13:18] chalin commented on #2080
Hi Miguel. We only currently support the use of `bash` to build the site, not `zsh` (though I did try to adapt the scripts to zsh a little while back, but couldn't get it to work and, I needed to move on to other things). So if you'd like to use the build scripts "as is", then you'll need to launch an interactive `bash` session first.

I do realize that `zsh` is the default shell under macOS 10.15

[2019-11-10 16:29] miquelbeltran commented on #2080
Thanks! indeed, when I run the install scripts from within `bash` they work as expect.

[2019-11-10 17:08] chalin commented on #2080
Changed the title to just "support zsh". @kwalrath @legalcodes I'll let you decide if you think that this is worthwhile, and assign a priority.

[2019-11-10 17:34] SwissCheese5 commented on #1569
This still requires documentation. I'm finding problems with conditional imports.

This is my firebase_access.dart class
[code]

This class works for firebase_mobile.dart but does NOT work for firebase_web.dart.
I don't know why, I tried printing an line for each, it prints for firebase_mobile on mobile, does NOT print for firebase_web.

This is firebase_web.dart (using the firebase_web plugin) :

[2019-11-11 08:41] mit-mit commented on #1569
cc @lrhn

[2019-11-11 08:53] lrhn commented on #1569
I see no problem with the conditional export. My guess is that the problem lies elsewhere.
If the program *compiles*, then it has exported *some* version of the library.
Does the `unsupported_firebase.dart` file contain any prints, so you can see if it picks that incorrectly?

[2019-11-11 14:05] SwissCheese5 commented on #1569
@lrhn Yes it does:

![image](https://user-images.githubusercontent.com/7407478/68593012-1f50ff80-049d-11ea-89c8-34acea8d8139.png)
It's never printed.

[2019-11-11 20:24] #2054 closed

[2019-11-11 20:39] kwalrath opened #2083 "Update /tools/dart-run to refer to DevTools"
Details: https://github.com/JetBrains/intellij-plugins/pull/741

[2019-11-12 01:17] larryaasen opened #2084 "'The pubspec file' page issue with author field"
Page URL: https://dart.dev/tools/pub/pubspec.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/pub/pubspec.md

Description of issue:
I just used pub publish -n and it reported this error:
`Your pubspec.yaml includes an "author" section which is no longer used and may be removed.`

However, the documentation still includes `author` as a valid field.

[code]

[2019-11-12 17:19] kwalrath commented on #2029
This is apparently visible in at least some releases, per #2084, so I should update the docs.

[2019-11-12 17:20] kwalrath commented on #2084
Thanks for letting us know this is now visible! I'm closing this in favor of #2029, and I've removed the **blocked** label from that issue.

[2019-11-12 17:20] #2084 closed

[2019-11-13 01:03] kwalrath commented on #2080
We can't justify supporting zsh at this time, but we should clarify that the scripts expect bash.

[2019-11-13 01:09] kwalrath opened #2086 "Document extension methods"
[Design doc](https://github.com/dart-lang/language/blob/master/accepted/2.6/static-extension-members/feature-specification.md)
[Article](https://medium.com/dartlang/extension-methods-2d466cd8b308)

[2019-11-13 09:57] mit-mit commented on #1750
Closing as a dupe of https://github.com/dart-lang/site-www/issues/1569, which has an active PR. If anything is missing there, please comment on the PR

[2019-11-13 10:01] #1750 closed

[2019-11-13 16:09] chalin commented on #2080
I thought that we already has such a comment in this site's README, but we don't yet. Ah, it seems that I had only added the bash prerequisite to the flutter.dev README: https://github.com/flutter/website/blob/master/README.md#1-get-the-prerequisites.

[2019-11-13 17:02] #2080 closed

[2019-11-13 18:45] #1569 closed

[2019-11-13 18:50] SwissCheese5 commented on #1569
Should I open a new issue for this?

[2019-11-13 19:20] chalin opened #2088 "External link icons aren't shown in sidenav"
Flutter.dev has external link icons showing in the sidenav (both under mobile and desktop), e.g.:

Why have external link icons explicitly been hidden for dart.dev? Shouldn't we be showing them too @kwalrath? /cc @legalcodes

[2019-11-13 19:23] mit-mit commented on #1569
Yes, please open a new issue (the present bug tracked documentation), with the smallest set of repro steps you have. Please open it in the SDK repo: https://github.com/dart-lang/sdk/issues

[2019-11-13 19:47] kwalrath commented on #2088
I think it was a conscious choice — they were ugly, we didn't have many of them, and they were clustered together so it didn't seem necessary.

For some reason, I thought flutter.dev didn't have external link icons in the regular text, so I was surprised to see them in the menu.

[2019-11-13 19:49] chalin commented on #2088
Adding external link icons to flutter.dev is WIP. That is why the sidenav has them, and not the main text :).

[2019-11-13 21:01] chalin opened #2090 "'DartPad' page issue: packages are supported"
Page URL: https://dart.dev/tools/dartpad/
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/dartpad/index.md

From the page:

But packages are supported, e.g., see the embedded DartPad from the [Flutter.dev layout codelab](https://flutter.dev/docs/codelabs/layout-basics#row-and-column-classes):

[2019-11-13 21:22] chalin commented on #2090
I see from the [DartPad wiki "Embedding Guide"](https://github.com/dart-lang/dart-pad/wiki/Embedding-Guide#embed-flutterhtml) that `flutter_web` packages are available. If those are the _only_ packages that are available, then maybe all we need is a note to that effect? /cc @kwalrath @johnpryan

[2019-11-13 21:57] kwalrath commented on #2090
Yes, I believe that only flutter_web packages are available, and only under certain circumstances.

@RedBrogdon is there a page with the details about dartpad package support?

[2019-11-14 00:05] #2027 closed

[2019-11-14 08:48] sigurdm commented on #2029
Yes - I think that would be fine.

[2019-11-14 16:29] chalin opened #2091 "Create top-level glossary"
Might it make sense to move `src/tools/pub/glossary.md` to the top level and use it as the basis for a general Dart glossary? We'd then have a place to add glossary entries for terms like AOT and JIT (#2077).

[2019-11-14 16:43] johnpryan commented on #2090
Here's the issue for package support: https://github.com/dart-lang/dart-pad/issues/901

[2019-11-14 17:11] jtxmp commented on #1256
Hi @kwalrath,

Can I have a go at these issues?

pub deps page is missing --dev and --executables.
pub downgrade page is missing -n, --dry-run.
pub get and pub upgrade pages are missing --precompile and -n, --dry-run.

Proposing to align the options section contents and formatting with the 'Global Options' section found in  [https://dart.dev/tools/pub/cmd](https://dart.dev/tools/pub/cmd).

I can d

[2019-11-14 17:36] kwalrath commented on #1256
Doing a single-page PR for `pub deps` would be a great way to start. It's yours, @jtxmp!

[2019-11-14 17:40] kwalrath commented on #2091
Yes, it might make sense... Let's use this issue to talk about which terms we'd want in a top-level glossary.

[2019-11-14 18:02] RedBrogdon commented on #2090
John's on the money. For dart you can import the `dart:xxx` libraries. For Flutter you gain additional access to `package:flutter/xxx.dart`, but that's the limit of our support for now.

[2019-11-14 18:39] johnpryan opened #2093 "Improve Control Flow Collections section"
## Page

https://dart.dev/language/operators

## Notes

The [feature spec](https://github.com/dart-lang/language/blob/master/accepted/2.3/control-flow-collections/feature-specification.md) for control flow collections has a few more examples than [the language tour](https://dart.dev/guides/language/language-tour#collection-operators).

It would be great if searching for "Dart ui-as-code" or "dart

[2019-11-14 18:45] kwalrath commented on #1638
I'm going to close this issue because always having a top-of-page TOC isn't easy for us to implement, there are workarounds (make your window smaller, use the main page), and I suspect that people are now more used to the new navigation. Feel free to open a new issue if the lack of top-of-page TOC still really bugs you.

[2019-11-14 18:45] #1638 closed

[2019-11-14 18:47] kwalrath commented on #1698
Sorry this took so long... We should at least do the redirect.

[2019-11-14 18:48] kwalrath commented on #1450
Closing due to lack of info. If you get the repro info, please add it to a comment and I'll reopen this bug.

[2019-11-14 18:48] #1450 closed

[2019-11-14 18:56] kwalrath commented on #1831
Closing because I've confirmed that dart.dev doesn't link to dartlang.cc.

/cc @messi01

[2019-11-14 18:56] #1831 closed

[2019-11-14 19:17] chalin opened #2095 "YAML front matter errors don't fail the build"
For example, consider the following build (note that the site is still deployed, and the job is deemed to have succeeded):

<img width="997" alt="Screen Shot 2019-11-14 at 13 59 44" src="https://user-images.githubusercontent.com/4140793/68888666-5e739080-06e9-11ea-9032-cc5720059e59.png">

[2019-11-14 19:52] #2095 closed

[2019-11-15 16:50] chalin commented on #1839
With the closing of https://github.com/dart-lang/dart-pad/issues/1203, this issue should be resolved as well, right @kwalrath?

[2019-11-15 17:09] johnpryan commented on #1839
Good catch, I think we can close this one.

[2019-11-15 17:09] #1839 closed

[2019-11-15 18:21] kwalrath commented on #432
We've updated the page, but it still doesn't discuss pubspec.

[2019-11-15 18:23] kwalrath commented on #1976
@InfiniteVerma did you have any feedback, or should I remove your assignment?

[2019-11-15 20:30] kwalrath commented on #1834
Per https://github.com/dart-lang/sdk/issues/34597#issuecomment-424984510, `await` is a unary prefix operator that binds exactly as tightly as `!`, `~`, and unary `-`. So `await expr` should go into the second line of the table at https://dart.dev/guides/language/language-tour#operators.

/cc @leafpetersen @lrhn

[2019-11-16 01:18] #1834 closed

[2019-11-16 05:45] jtxmp commented on #1256
Thanks, @kwalrath!

I'll move on to `pub downgrade` now, in the same style as `pub deps`.

The default and negatable options stumped me too in #2099. Will study how others have done it for a future PR.

[2019-11-16 17:17] chalin opened #2102 "Library tour: highlight-marker is showing in code excerpt"
This is the excerpt:

[2019-11-16 17:36] chalin opened #2103 "Markdown file dart-html-tour.md is being published, but shouldn't"
[code]

[2019-11-16 18:33] chalin commented on #1648
How about placing the language cheatsheet under "Resources" in the sidenav?

[2019-11-16 20:38] #2102 closed

[2019-11-16 20:38] #2103 closed

[2019-11-16 23:14] chalin opened #2106 "Recover dart:html library tour code and reinstate tests"

[2019-11-17 03:09] chalin opened #2108 "Recover and update examples/fetch_data"
Part of #1803

[2019-11-17 03:18] #2106 closed

[2019-11-17 22:15] chalin opened #2113 "examples/fetch_data: write tests or check web app build for problems"
At least a smoke test. Alternatively, until tests are written, we could at least run `webdev build` to ensure that no errors are reported.

For the record, the code is at least being analyzed.

[2019-11-17 22:50] #2108 closed

[2019-11-17 22:51] chalin commented on #2108
Followup: #2113

[2019-11-18 20:51] kwalrath commented on #1648
That could work. We should also remove Overview from the Resources menu (it has no interested info).

[2019-11-18 22:44] #432 closed

[2019-11-19 00:41] kwalrath opened #2116 "Update CORS note"
Nobody cares what the original implementation was. :)

Context: https://github.com/dart-lang/site-www/pull/2104#pullrequestreview-318635581

[2019-11-19 18:09] johnpryan opened #2117 "cross-site cookie warnings in console"
There are multiple warnings in the console on the dart.dev homepage:

![image](https://user-images.githubusercontent.com/1145719/69173361-744fcf80-0ab4-11ea-8122-ca3cfa9d4f4e.png)

This is related to #2115

[2019-11-19 18:45] tehsphinx opened #2118 "'Dart cheatsheet codelab' page issue"
Page URL: https://dart.dev/codelabs/dart-cheatsheet.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/codelabs/dart-cheatsheet.md

Description of issue:
The solution one gets when clicking on the "Solution" tab in the code exercise of the `Exceptions` section, does not pass the tests:

![image](https://user-images.githubusercontent.com/6624571/69176101-61192000-0b05-11ea-95cd

[2019-11-19 20:18] kwalrath opened #2119 "Create issues for TODO comments"
As of today, there are 39 occurrences of [TODO in site-www source code](https://github.com/dart-lang/site-www/search?utf8=%E2%9C%93&q=TODO). Some of them are valid (e.g. the Todo app), but many are actual TODOs and should be tracked by GitHub issues.

We should (1) add issues for the actual TODOs and (2) either remove the corresponding TODO from the source code or put the issue number by the TODO

[2019-11-19 23:57] chalin commented on #2117
FYI, I opened https://github.com/dart-lang/dart-pad/issues/1378 to cover this issue.

[2019-11-20 00:00] #2117 closed

[2019-11-20 15:55] lenniezelk commented on #2119
i'd like to work on this @kwalrath

[2019-11-20 16:19] kwalrath commented on #2119
@lenniezelk it's yours. Thank you!

[2019-11-20 16:36] chalin commented on #1915
(Just thought that I'd mention in passing that merging in commits where there are local remote and local changes to generated files is no fun. Admittedly, that shouldn't happen too often.)

[2019-11-21 16:07] chalin opened #2126 "Homepage Try-Dart example code issues"
Consider making code changes shown in red to avoid the named analyzer issues:

Also, quite a few of the example files have `ignore: type_annotate_public_apis` which we might want to address.

Followup to https://github.com/dart-lang/site-www/pull/2124#discussion_r349008367. cc @mit-mit

[2019-11-21 16:12] chalin opened #2127 "Improve Try-Dart section of Dart homepage to adjust better between mobile, desktop"
@mit-mit, correct me if I'm wrong, but the improvements that you'd like to see relative to the Try-Dart section are the following:

- Add spacing (and/or some other visual element(s)), to more clearly separate the Try-Dart section from the rest of the busy Homepage.
- Consider keeping the Try-Dart section even on mobile, so that there will always be a valid target for https://dart.dev/#try-dart. O

[2019-11-21 18:11] chalin opened #2128 "Asynchronous programming codelab: consider updates to example code"
Moving the discussion from https://github.com/dart-lang/site-www/pull/2114#discussion_r348243358 to this issue so that PR #2114 can contain only the original code. Copying the relevant parts of the discussion below.

Also consider that the **analyzer** (with the package using the `pedantic` analyzer options), **raises issues** with quite a few samples of the code, including: `await_only_futures`,

[2019-11-21 18:52] legalcodes commented on #2128
Thanks for raising this issue, happy to consider changes to this codelab!

Re: `If [an async] ... function doesn’t explicitly return a value, then the return type is Future<void>`, is this the relevant part of the codelab you're referencing?

![Screen Shot 2019-11-21 at 10 49 55 AM](https://user-images.githubusercontent.com/5550175/69367347-f672fc00-0c4c-11ea-9eb8-4edfd0104dc5.png)

[2019-11-21 20:10] chalin commented on #2128
Yes

[2019-11-21 21:19] kwalrath commented on #2126
@johnpryan what do you say?

[2019-11-21 23:03] legalcodes commented on #2128
@galeyang has kindly agreed to review notes about any UX considerations that were relevant here. Outside of that, I'm totally open to adding the type annotations you've suggested.

Does this capture the proposed changes?

![futures_intro](https://user-images.githubusercontent.com/5550175/69383765-67c3a680-0c6f-11ea-9a09-30d367ee1ab6.png)
![get order sync bad](https://user-images.githubusercontent.

[2019-11-22 02:07] galeyang commented on #2127
Overall, I like this idea! However, for this particular [demo](https://mit-staging.firebaseapp.com/#try-dart), the big space is a bit surprising to me. When I scrolled down from the top to the end, I thought the big space is the end, and then embedded DartPad shows up. We might want to try different visual options.

As mentioned in other channel, I just wanted to note that dartpad.dev is not very

[2019-11-22 02:14] andesappal opened #2129 "'Creating streams in Dart' page issue"
Page URL: https://dart.dev/articles/libraries/creating-streams
Page source: https://github.com/dart-lang/site-www/tree/master/src/_articles/libraries/creating-streams.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: search for the word "promise", which should be a "future".

[2019-11-22 08:25] mit-mit commented on #2127
In the demo, I picked a fairly arbitrary amount of spacing just to demonstrate the concept of using whitespace to separate out DartPad. Fully agree that we need to spend some time determining the correct amount of spacing.

[2019-11-22 14:00] chalin commented on #2127
IMHO the current overall design and layout of the homepage is fine. Adding a little space before the Try Dart section won't really address the current issue on large displays, since the problem isn't that "Try Dart" is embedded on the homepage, it's that on large (tall) displays, visiting "/#try-dart" doesn't put the "Try Dart" section title at the top of the view.

In an email @galeyang mentioned

[2019-11-22 15:22] vsmenon opened #2130 "Make web debugging page refer to new Dart DevTools"
Can we correct the `Note` on this page:

https://dart.dev/web/debugging

to point the new Dart DevTools work instead?

I.e.,

Alternatively, we could delete it for now.  We have no further plans for that fork.

@kwalrath @grouma

[2019-11-22 17:14] chalin commented on #2128
Thanks @galeyang! Thanks for the code diffs Jon, although I'm not sure how clear they are with the docregion tags. PR #2114 now contains the original code, so the **simplest way to visualize the suggested code changes would be to submit a PR with the changes made** (that way we could use the GitHub diff).

That being said, the main suggested code changes are:
 1. Update the code so that it has no

[2019-11-22 17:43] legalcodes commented on #2128
Agreed that ideally we can review these changes in a GitHub PR, but since the code still lives in gists, we can't compare updates in the PR to the prior code (i.e. the diff will simply be new code, as opposed to a diff of changes to the old code), or have I missed something @chalin ?

[2019-11-22 17:47] legalcodes commented on #2128
I'm assuming you meant that *once #2114 is merged* we'll be able to raise the changes in a GitHub PR, which works for me. Just worth noting that we don't have an ETA on merging that PR yet, correct?

[2019-11-22 18:17] chalin commented on #2128
Oh, I'm sorry if it wasn't clear. I just added https://github.com/dart-lang/site-www/pull/2114#issuecomment-557635064 to clarify that #2114 now uses the same code as the Gists, modulo running dartfmt. So the code in the code blocks of `async-await.md` corresponds to the Gist code. (FYI, this is the main commit that reverts code changes: https://github.com/dart-lang/site-www/pull/2114/commits/ed393

[2019-11-22 18:47] galeyang commented on #2128
Re: @chalin's initial [comment](https://github.com/dart-lang/site-www/issues/2128#issue-526758837)

`#1:`I'm trying to remember our discussion around the return type declaration before `main()` and found previous [comments](https://github.com/dart-lang/site-www/pull/1659#discussion_r310330259) between @legalcodes, @kwalrath and me. Basically  I found it confusing if we only add `Future<void>` befo

[2019-11-22 18:51] galeyang commented on #2128
I just found in the [Effective Dart](https://dart.dev/guides/language/effective-dart/design#do-use-futurevoid-as-the-return-type-of-asynchronous-members-that-do-not-produce-values), it has recommendations

![image](https://user-images.githubusercontent.com/5102864/69452235-0a366500-0d16-11ea-9d4b-c3b1c7b7fc48.png)

[2019-11-22 19:14] kwalrath commented on #2128
I think that recommendation was pointed at fully typed older code that used either `Future` or `Future<Null>`. Taken literally, it doesn't seem to apply to `main` because `main` isn't a member (afaik).

That said, I think the pedantic package might now complain if we don't type `main`. (Not sure about that. @chalin, do you happen to know?)

[2019-11-22 19:20] kwalrath commented on #2130
Oops, yes I can correct that.

[2019-11-22 19:22] chalin commented on #2128
Yes:

Which is why the Async codelab code in #2114 is sprinkled with `ignore` directives :).

[2019-11-22 19:23] legalcodes commented on #2128
Summing up, referencing @chalin  's original proposal:

It sounds like we're all OK with:
(1)  declaring `main()` with a return type for all example code in this codelab
(2) Declaring async functions returning nothing as `Future<void>`
(3) Rename `createOrderMessage()` to `printOrderMessage()`.

So these changes should go in!
Does anyone want to weigh in on the refactor using arrow functions? @kwa

[2019-11-22 19:25] grouma commented on #2130
We can direct users to `package:webdev` which exposes the `--debug` flag. There is some basic documentation in https://github.com/dart-lang/webdev but we definitely can do a lot better.

[2019-11-22 19:29] kwalrath commented on #2130
How much should you use Dart DevTools vs. Chrome DevTools?

[2019-11-22 19:30] chalin commented on #2128
Do we generally agree that codelab, tutorial and pretty much **all example code** should be **free of analyzer issues** when configured with the **pedantic** options?

[2019-11-22 19:43] chalin commented on #2128
(Unless, of course, it is meant to, e.g.: illustrate errors, or be an incomplete starting point for an exercise.)

[2019-11-22 19:44] legalcodes commented on #2128
Speaking for myself: yes, absolutely. Thanks Patrice!

[2019-11-22 20:17] grouma commented on #2130
Long term we hope most folks are using Dart DevTools for debugging Dart logic, in conjunction with Chrome DevTools for general HTML / CSS debugging. If they are developing a Flutter Web app, we hope they mostly only use Dart DevTools.

[2019-11-23 00:42] kwalrath commented on #2130
I've created a PR to delete the note. I want to point to the Dart DevTools, but I need to understand more about how they're used (for both dart:html & Flutter web apps) before I do that. I'll leave this issue open to track that.

[2019-11-23 00:46] kwalrath commented on #2129
Good to know you're paying attention! The only case of _promise_ I found in this doc isn't actually referring to the Future class (or to JS promises):

So I'm going to close this bug, although I'll be happy to update the text if @lrhn has a better idea.

[2019-11-23 00:46] #2129 closed

[2019-11-23 01:00] johnpryan commented on #2126
Do we need the `ignore:` statements or can we fix the samples?

[2019-11-23 01:19] chalin commented on #2126
We can certainly fix the examples, if you feel that the fixes proposed above are reasonable.

To give you a bit of context: All of the site's example code is analyzed under the [pedantic](https://pub.dev/packages/pedantic) analyzer options. Elsewhere, @legalcodes and @kwalrath gave a thumbs up agreeing that:

If you agree too, then we should update the code, including removing the `ignore: type_an

[2019-11-23 01:33] kwalrath commented on #2118
@RedBrogdon could you please change `_Exception` to `Exception` here: https://gist.github.com/RedBrogdon/e221e3fd667825e62aac79079b8b5c59#file-test-dart-L21

That seems to make the test pass.

[2019-11-24 17:33] nolon5 opened #2132 "Description Errors (https://dart.dev/guides/language/effective-dart/design)"
"DO annotate when Dart infers the wrong type." The example is not clear, the same code in the correct and erroneous examples.

https://dart.dev/guides/language/effective-dart/design

Screenshot: https://i.stack.imgur.com/WlpFh.pn

[2019-11-25 07:16] lenniezelk commented on #2119
@kwalrath i found 36 valid TODOs. Do i make 36 issues?

[2019-11-25 17:38] johnpryan commented on #2126
That makes sense. I left some more specific comments here: https://github.com/dart-lang/site-www/pull/2124#pullrequestreview-322455574

[2019-11-25 18:09] kwalrath opened #2133 "Update diagnostic-messages"
https://dart-review.googlesource.com/c/sdk/+/125901 added new messages and updated old ones.

[2019-11-25 18:17] kwalrath commented on #2119
Good question. First I'd make sure the TODOs don't already have an associated issue. (If they do, we should update the source code to refer to that issue... so you could either do that or add a note to the issue that the TODO needs to be updated.)

Second, it's fine to combine related TODOs in a single issue if (1) they're likely/easy to be fixed in a single PR or (2) they have a common theme that

[2019-11-25 18:19] kwalrath commented on #2132
I'm going to reopen this since it's really easy to miss the type annotation on `highest`.

[2019-11-25 19:16] #1919 closed

[2019-11-25 19:25] natebosch opened #2135 "Fix await void issue in async await codelab"
https://gist.github.com/legalcodes/25ade03f0632878a9169209e3cd7bef2

The `void createOrderMessage ()` should be `Future<void> createOrderMessage()`.

[2019-11-25 19:30] chalin commented on #2135
Yes, that was a point raised in #2128.

[2019-11-25 19:33] chalin commented on #2135
Specifically in this comment: https://github.com/dart-lang/site-www/issues/2128#issuecomment-557660677

[2019-11-25 19:35] natebosch commented on #2135
:+1: Will comment on that thread and close this as a duplicate.

[2019-11-25 19:35] #2135 closed

[2019-11-25 19:35] natebosch commented on #2128
+1 for using `Future<void>` as a return type in any place where we will be using an `await` with it.

`void` as a return type is OK only if callers should never await it, which I don't think comes up in this codelab.

+1 for changing the name between `create` and `print` depending on the behavior, return vs print.

Also, see https://github.com/dart-lang/site-www/pull/2134

We should rename all `ge

[2019-11-25 21:45] #2133 closed

[2019-11-26 00:18] UnHumbleBen opened #2138 "'Customizing static analysis' page issue"
Page URL: https://dart.dev/guides/language/analysis-options
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/analysis-options.md

It is not clear what the text
[code]
and
[code]
and
[code]
in the black boxes signify. Are they commands? Outputs? Please provide a description.

[2019-11-26 08:09] timehdl opened #2139 "'服务器 Dart' page issue"
Page URL: https://www.dartlang.org/server/
Page source: https://github.com/dart-lang/site-www/tree/src_zh_CN/src_zh_CN/server/index.md

[2019-11-26 14:24] #2139 closed

[2019-11-26 18:44] chalin commented on #2128
There are still some points from this issue that haven't been addressed. Reopening.

[2019-11-26 20:23] legalcodes commented on #2128
@chalin Can you specify which points from this issue haven't been addressed?

[2019-11-26 23:34] RedBrogdon commented on #2118
I've revised the gist so that either `Exception` or `_Exception` will pass the exercise. The solution *used* to work, which makes me wonder if one of the internal exception classes has been updated in the past few months.

These are the instructions for that part of the exercise:

By specifically saying "use `on` to solve this one," I was trying to direct readers to catch by type and then use the

[2019-11-26 23:34] #2118 closed

[2019-11-26 23:37] gewoonwoutje opened #2140 "What is the effective way to document generic return types?"
I was reading Page URL: https://dart.dev/guides/language/effective-dart/documentation
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/effective-dart/documentation.md

I was looking how to effectively document the expected generic return types. As an example of what I would like to document:
[code]
Where `[Either]`, `[Left]`, `[Right]`, `[Option]`, `[Some]` and `

[2019-11-27 00:05] kwalrath commented on #2118
Thanks, @RedBrogdon. And big thanks to @tehsphinx for reporting this issue!

[2019-11-27 00:06] kwalrath commented on #2140
@munificent can you point to some good examples and/or give us some guidance?

[2019-11-27 00:33] munificent commented on #2140
I think guidance at this level is a little too specific for "Effective Dart", which is already quite long and intimidating. I would just write a sentence that is as clear as you can make it and contains links to the declarations that you think a reader will find the most useful.

[2019-11-27 00:33] #2140 closed

[2019-11-27 00:49] gewoonwoutje commented on #2140
Fair enough.
It would be nice though if VS code showed the `[Block type]` as a hyperlink in the inline documentation viewer; it currently does not:
![image](https://user-images.githubusercontent.com/9407072/69683957-f17fd380-10b6-11ea-8dae-2b779e6a1691.png)

I think I'll stick with `[Outer]<[Inner]>` format, because I think it has a better chance of working correctly when the above is implemented.

[2019-11-27 17:45] chalin commented on #2128
- https://github.com/dart-lang/site-www/pull/2137/files#r350924276, which you know about already.
- https://github.com/dart-lang/site-www/pull/2137/files#r351422017

(There might be one more point, will post it here if I find it.)

[2019-11-27 18:07] #2128 closed

[2019-11-27 23:51] kwalrath opened #2142 "Document microtasks"
With the disappearance of the out-of-date article "The Event Loop and Dart", we no longer have any doc on dart.dev for microtasks. Microtasks are mentioned in /articles/archive/zones, but that article, too, is out of date.

The [scheduleMicrotask API docs](https://api.dartlang.org/stable/dart-async/scheduleMicrotask.html) point to the old event loop article (/articles/event-loop, which is forwarde

[2019-11-28 08:52] caviroski opened #2143 "Book that you are missing"
In this list: https://dart.dev/resources/books

you are missing this book:
http://shop.oreilly.com/product/9781941222256.do

[2019-12-02 08:16] lenniezelk commented on #2119
I have tried grouping the ones that seem related. Any more that can be grouped or what do you think needs to change?
 https://gist.github.com/lenniezelk/ba4526665f321cde5aa8aa634ef61724
@kwalrath

[2019-12-02 15:15] mit-mit opened #2144 "Document the characters package"
https://github.com/dart-lang/language/issues/685 is being announced in 2.7, we should probably add some initial docs for it.

Maybe somewhere around here:
https://dart.dev/guides/language/language-tour#runes ?

[2019-12-02 17:24] kwalrath commented on #2143
Thanks very much for letting us know about this book. (I wonder how we missed it!) I don't plan to add this book, since it's 5 years old and covers Dart 1, but if and when they update to Dart 2, I'd be very happy to add the new edition.

[2019-12-02 17:24] #2143 closed

[2019-12-03 08:26] caviroski commented on #2143
The book is from November 2014, more than half of the books on the list are older than this book. But it is your decision :)

[2019-12-03 17:44] kwalrath commented on #2119
I haven't had time to look in depth at your groupings, but I aim to give you feedback today or tomorrow. Thanks very much for your work on this!

[2019-12-03 18:00] ejain commented on #1365
Looks like this issue was closed accidentally?

[2019-12-03 18:18] kwalrath commented on #1365
You're right, it doesn't look like this should be closed.

[2019-12-04 18:11] riyabasak52 commented on #1976
I'd like to work on this issue.

[2019-12-04 19:38] feinstein opened #2147 "'Zones' page issue"
Page URL: https://dart.dev/articles/archive/zones
Page source: https://github.com/dart-lang/site-www/tree/master/src/_articles/archive/zones.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

This page is marked as `Some of the content of this page might be out of date. `. Could the team please

[2019-12-04 20:50] feinstein opened #2148 "'Zones' page issue"
Page URL: https://dart.dev/articles/archive/zones
Page source: https://github.com/dart-lang/site-www/tree/master/src/_articles/archive/zones.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

The Zone basics chapter says:

This is too technical, it should be broke down and explained better, for

[2019-12-04 21:02] feinstein opened #2149 "'Zones' page issue"
Page URL: https://dart.dev/articles/archive/zones
Page source: https://github.com/dart-lang/site-www/tree/master/src/_articles/archive/zones.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

The Zone basics chapter says:

The statement that `Child zones don’t completely replace their parent zon

[2019-12-04 22:07] feinstein opened #2150 "'Zones' page issue"
Page URL: https://dart.dev/articles/archive/zones
Page source: https://github.com/dart-lang/site-www/tree/master/src/_articles/archive/zones.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

The Zone basics chapter says:

But although it mentions there's a `simple rule` it fails to explain what

[2019-12-04 23:56] feinstein opened #2151 "'Zones' page issue"
Page URL: https://dart.dev/articles/archive/zones
Page source: https://github.com/dart-lang/site-www/tree/master/src/_articles/archive/zones.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

On the Overriding functionality chapter, it says:

Why? What's the benefit/difference of this?

[2019-12-05 01:23] kwalrath commented on #2147
Hi, @feinstein. Could you tell me what you hoped to get from the zones page? My impression is that zones are difficult and usually the province of VM and framework implementers. (That's not necessarily a reason not to document them, but I don't know if updating this old article is the best way to document them.)

/cc @mraleph

[2019-12-05 02:23] feinstein commented on #2147
Hi @kwalrath, I bumped into Zones looking for a way to silence `print()` statements in my App. There are several libraries that include `print()` inside of them and I don't want it printing anything in release mode, just in debug mode.

I am not a fan of copying and pasting code I find on the web, so I wanted to understand Zones before using them, looking for impacts in performance or some other s

[2019-12-05 13:34] feinstein opened #2153 "'Zones' page issue"
Page URL: https://dart.dev/articles/archive/zones
Page source: https://github.com/dart-lang/site-www/tree/master/src/_articles/archive/zones.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

What's this synchronous code?

[2019-12-05 16:47] kwalrath commented on #2147
Thanks very much for the details, @feinstein!

[2019-12-05 16:50] feinstein commented on #2147
My pleasure :)

[2019-12-05 19:12] robin-carry opened #2154 "Gist link is broken"
On the congratulation page for the 20-mins Java-to-Dart tutorial, there is a gist link is broken.

https://dartpad.dartlang.org/fae22cffa7b184b4d27cd96dd633a5af  - doesn't load.

![image](https://user-images.githubusercontent.com/4965919/70265807-0829c880-1750-11ea-8899-8f2731f41c50.png)

[2019-12-06 21:27] kwalrath opened #2158 "Fix the build"
Cron jobs started failing yesterday.

[2019-12-06 22:46] kwalrath commented on #2158
I'm pretty sure this has to do with the pedantic package update yesterday.

[2019-12-07 01:56] kwalrath opened #2160 "Update to pedantic 1.9.0, latest analyzer"
And undo the quick fixes we made to fix the build in #2159

[2019-12-07 02:09] #2158 closed

[2019-12-09 20:16] kwalrath commented on #2160
No longer blocked due to analyzer brokenness (see https://github.com/dart-lang/site-www/pull/2159#pullrequestreview-329142485).

[2019-12-09 20:17] kwalrath commented on #2160
Important but not urgent, compared to other stuff happening this week...

[2019-12-09 21:46] kwalrath commented on #2119
Finally looked at https://gist.github.com/lenniezelk/ba4526665f321cde5aa8aa634ef61724. Thanks so much for your work on this! Your groupings look good. Some specific comments:

* 5 (TODO: refactor into an AbstractLlamaGreetingFactory?) is a joke comment intended to be shown in the docs, so no issue is necessary.
* We might be able to combine some TODOs under an issue related to infrastructure tools

[2019-12-10 23:32] natebosch opened #2163 "Regression in docs for the event loop"
If I search for "Dart microtask" one of the first links is: http://www.dartlang.org/articles/event-loop/ 

That link redirects me to a medium article with is less useful than the old article. It doesn't mention "microtask" anywhere.

Do we have a plan to improve our documentation here? The codelab on async await (https://dart.dev/codelabs/async-await) doesn't mention "microtask" either. Understand

[2019-12-11 02:35] #1096 closed

[2019-12-11 02:38] kwalrath commented on #2163
Yep, we should do this, but I'm closing this as a duplicate of #2142.

(As for a plan... let's talk.)

[2019-12-11 02:38] #2163 closed

[2019-12-11 03:24] joshvocal commented on #2154
The DartPad you provided seems to work currently, @robin-carry.

I also checked out the [Intro to Dart for Java Developers](https://codelabs.developers.google.com/codelabs/from-java-to-dart/#6) code lab and that link works too.

[2019-12-11 12:05] #2086 closed

[2019-12-11 13:49] kwalrath opened #2168 "Fix dev build"
Workaround: #2167

[2019-12-11 13:56] kwalrath commented on #2154
Thanks for checking, @joshvocal. The DartPad is working for me, too, so I'm going to close this issue.

[2019-12-11 13:56] #2154 closed

[2019-12-11 20:59] kwalrath commented on #2144
Fixed in #2156

[2019-12-11 20:59] #2144 closed

[2019-12-11 21:00] kwalrath opened #2171 "Improve generic extension docs"
We should flesh out https://dart.dev/guides/language/extension-methods#implementing-generic-extensions.

See the [comments in the page's source](https://github.com/dart-lang/site-www/blame/main/src/language/extension-methods.md#L254-L264) for ideas.

[code]

[2019-12-12 02:53] robin-carry commented on #2154
Sorry for bothering you guys. at that point of time, the link didn't open. Appreciate looking into this.

[2019-12-12 14:01] kwalrath commented on #2154
No worries, we appreciate all reports! Gists are usually pretty reliable, but sometimes there are issues with rate limits, so we're considering other solutions.

[2019-12-13 21:58] kwalrath opened #2174 "Remove outdated version notes for changes before 2.12"
This came up in the course of reviewing PR #2166.

[code]

[2019-12-14 00:21] russelldavis opened #2175 "Error output in the Try Dart section is invisible due to font color"
Type some gibberish into the code section and then hit Run. An error will appear in the Console section to the right, but it's almost invisible due to the font color.

[2019-12-16 19:51] kwalrath commented on #2175
@johnpryan is this an interaction with dart.dev styles? Should it be fixed in DartPad or on dart.dev?

[2019-12-16 20:34] johnpryan commented on #2175
This is a CSS issue in DartPad. Should I transfer it there?

[2019-12-16 21:15] kwalrath commented on #2175
Yes, please.

[2019-12-16 22:55] kwalrath commented on #2174
Also, remove as many "1.x" references as possible.

[2019-12-17 09:34] pouloghost commented on #2029
We have deployed a pub server inside our company, and author field is crucial for looking for the developer of the package/plugin.
All packages are published using one CI machine, hence we can't use uploader.
And I think this is more or less the standard routine in big companies, so
What is the purpose of deprecating author? What's the alternative?

[2019-12-17 12:54] sigurdm commented on #2029
The problem with the authors field is that there is no validation of it.
You could claim you are A else misusing the end-users trust in A.

Therefore we have stopped displaying it on pub.dev.
We find it misleading to support a tag that we are never going to use.

Though it is deprecated you can still use it internally on your own server - I don't think we can or will ever forbid you from doing tha

[2019-12-17 21:08] #2168 closed

[2019-12-17 23:16] #927 closed

[2019-12-20 19:54] kwalrath commented on #1810
@legalcodes could you update the status of this?

[2019-12-20 19:57] kwalrath commented on #1976
@riyabasak52 it is yours!

[2019-12-20 19:59] kwalrath commented on #69
The Mac version of https://dart.dev/get-dart has an "Upgrade" section (close to "Updating", but the Windows & Linux versions don't.

[2019-12-20 21:29] legalcodes commented on #1810
AFAIK we can't move forward on this before https://github.com/flutter/website/issues/3262 is resolved, though to be 100% certain we'd need to verify that the issue exists for dart-lang/site-www.

[2019-12-20 21:50] kwalrath commented on #69
We could really use some help with this. Here are the files to edit:

https://github.com/dart-lang/site-www/blob/master/src/tools/sdk/_windows.md
https://github.com/dart-lang/site-www/blob/master/src/tools/sdk/_linux.md

Those files (along with the Mac one) are included by the source file for https://dart.dev/get-dart.

[2019-12-21 01:44] kwalrath opened #2180 "Add video to extension method docs"
https://dart.dev/guides/language/extension-methods should link to or embed the new extension methods video, https://www.youtube.com/watch?v=D3j0OSfT9ZI. Here's the embed code YouTube suggests:

[code]

[2019-12-21 17:27] tenhobi opened #2182 "Add section about enabling Effective Dart rules using package"
Hello 👋,

before I create a PR I would like to kindly ask if I am allowed to add a section about enabling a set of rules corresponding to the Effective Dart guide using [`package:effective_dart`](https://github.com/tenhobi/effective_dart) to the Customizing static analysis page, similarly to the pedantic section -> https://dart.dev/guides/language/analysis-options#default-google-rules-pedantic.

T

[2019-12-23 02:40] feinstein opened #2183 "'A tour of the Dart language' page issue"
Page URL: https://dart.dev/guides/language/language-tour
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/language-tour.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

I tried to create a `final` variable that need a reference to the class itself, like:

[co

[2020-01-03 00:16] cseder commented on #806
This one seems to be available:

[Quick Start Guide to Dart Programming (Apress ©2020)](https://www.apress.com/gp/book/9781484255612)
eBook ISBN: 978-1-4842-5562-9
Softcover ISBN: 978-1-4842-5561-2

Do I need to create a PR or something to get it on the list or do we have a magician around here that takes care of it?

Chris

[2020-01-04 09:40] itsconquest opened #2194 "Incorrect string shown in hint/error for async-await Exercise: Putting it all together Part 3"
**Bug description:**
The hint/error for _async-await Exercise: putting it all together Part 3_ asks the user if they added:
```Thanks! See you next time!```
However the exercise asks for and checks for the string:
```Thanks, see you next time```

**Solution:**
Correct the hint/error to show the correct string `Thanks, see you next time` to avoid confusion

[2020-01-06 08:45] athomas opened #2196 "Remove ia32 macOS from the download page"
With https://github.com/dart-lang/sdk/issues/39810 we've removed support for ia32 on macOS from the Dart SDK. For technical reasons, we can no longer create distributions for ia32 for all future releases. We should remove the ia32 download links from https://dart.dev/tools/sdk/archive to avoid people downloading outdated versions of the Dart SDK and/or broken links on the dart.dev.

[2020-01-06 18:51] kwalrath commented on #2194
Thanks for the report, @itsconquest!

[2020-01-06 18:57] kwalrath commented on #2182
Sorry I didn't see this before! Most of us were out the previous 2 weeks, but I plan to look at your PRs today.

[2020-01-06 19:04] legalcodes commented on #2194
Nice catch, will look into this.

[2020-01-07 00:22] #2180 closed

[2020-01-07 02:06] CheoWalker opened #2198 "'Asynchronous programming: futures, async, await' page issue"
Page URL: https://dart.dev/codelabs/async-await.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/codelabs/async-await.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
It mention code examples that are not found on the page.

[2020-01-07 02:11] kwalrath commented on #2198
@CheoWalker could you tell us which code examples it mentions that aren't on the page? Having strings we can search for will help us know how to fix this bug. Thanks!

[2020-01-07 02:19] CheoWalker commented on #2198
None of the examples are on the page, just empty code pads.

From: Kathy Walrath <notifications@github.com>
Sent: Monday, January 6, 2020 09:12 PM
To: dart-lang/site-www <site-www@noreply.github.com>
Cc: Cheo Walker <cwalker@dzwebcreations.com>; Mention <mention@noreply.github.com>
Subject: Re: [dart-lang/site-www] 'Asynchronous programming: futures, async, await' page issue (#2198)

@CheoWalker <

[2020-01-07 02:33] kwalrath commented on #2198
Ouch, that sounds like a browser issue. Are you using a browser like Brave that doesn't permit cookies? There's troubleshooting info here: https://dart.dev/tools/dartpad/troubleshoot

[2020-01-07 02:36] CheoWalker commented on #2198
Latest version of Chrome.

The following example shows the wrong way to use an asynchronous function (fetchUserOrder()). Later you’ll fix the example using async and await. Before running this example, try to spot the issue – what do you think the output will be? Is string you can target.

From: Kathy Walrath <notifications@github.com>
Sent: Monday, January 6, 2020 09:33 PM
To: dart-lang/site-www

[2020-01-07 17:34] kwalrath commented on #2198
Could you please send us a screenshot and the contents of the JavaScript console?

[2020-01-07 18:32] kwalrath opened #2200 "Update license"
We should be CC BY 4.0 (not 3.0) everywhere.

[2020-01-07 18:59] rkj opened #2202 "Mention initializing final variables using factory constructors"
https://dart.dev/guides/language/language-tour#factory-constructors

About only time I have used factory constructor is to have a class with final fields, but need some logic in the constructor to initialize them that cannot be expressed in initializer list.

The current documentation for factory constructor mention that it's for cases when implementing a constructor that doesn’t always create a n

[2020-01-07 19:09] CheoWalker commented on #2198
Here is what I am seeing, I notice the same issue on Flutter.dev as well.
![Annotation 2020-01-07 140811](https://user-images.githubusercontent.com/4996125/71921634-405d6600-3157-11ea-8089-e6de4a850c48.jpg)

[2020-01-07 21:19] #2200 closed

[2020-01-07 21:23] kwalrath commented on #2198
"Failed to read the 'localStorage' property" is an indication that you have cookies turned off. Can you enable cookies in Chrome? The troubleshooting instructions have a link to a page on turning the cookies on (which you'll need to do for dart.dev & flutter.dev): https://support.google.com/chrome/answer/95647

DartPad depends on local storage, so it doesn't work if cookies are disabled. https://g

[2020-01-07 21:23] #2198 closed

[2020-01-07 21:27] kwalrath commented on #1837
Related: https://github.com/dart-lang/dart-pad/issues/1237

[2020-01-07 22:10] CheoWalker commented on #2198
Thanks, now I need to figure out my cookies were turned off for dartpad.dev.

[2020-01-08 01:05] #2196 closed

[2020-01-08 03:49] #1801 closed

[2020-01-08 16:22] JerryMatera opened #2203 "Add Dart Book resource"
### Tittle - Quick Start Guide to Dart Programming
     Desc : Create High-Performance Applications for the Web and Mobile
     Author - Sinha, Sanjib
     https://www.apress.com/gp/book/9781484255612#

[2020-01-08 18:14] kwalrath commented on #2203
Thank you! I hadn't heard of this book.

[2020-01-08 18:18] #2182 closed

[2020-01-08 20:34] kwalrath commented on #2160
/cc @mit-mit

[2020-01-08 20:37] kwalrath commented on #2029
Fixed in #2085.

[2020-01-08 20:37] #2029 closed

[2020-01-08 21:06] kwalrath commented on #1792
Also see https://github.com/dart-lang/sdk/issues/37663.

[2020-01-08 21:14] kwalrath commented on #1792
In general, it seems like a good idea to link from CONTRIBUTING.md files to the code of conduct. https://github.com/dart-lang/.github/blob/master/CODE_OF_CONDUCT.md links to it and covers all GitHub dart-lang projects, but it's easy to miss.

[2020-01-08 22:33] kwalrath commented on #1792
I've updated this repo's CONTRIBUTING.md file to link to the code of conduct.

[2020-01-08 22:35] kwalrath commented on #1792
I think we're good for now. Open a new issue if you think of any other places that should link to the code of conduct.

[2020-01-08 22:35] #1792 closed

[2020-01-08 22:38] #1651 closed

[2020-01-08 22:40] kwalrath opened #2205 "Update browser support info in FAQ for IE11 sunset"
Page URL: https://dart.dev/faq.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/faq.md

Update https://webdev.dartlang.org/faq#q-what-browsers-do-you-support-as-javascript-compilation-targets to reflect the IE 11 sunset info announced in https://groups.google.com/a/dartlang.org/forum/#!topic/announce/x7eDinVT6fM.

[2020-01-08 22:42] kwalrath commented on #929
Confirmed that https://dart.dev/resources is in the sidenav.

[2020-01-08 22:42] #929 closed

[2020-01-08 23:13] kwalrath commented on #697
Seems to already be embedded.

[2020-01-08 23:13] #697 closed

[2020-01-09 18:19] kwalrath opened #2207 "Update pub versioning recommendations"
A discussion with @munificent, @mit-mit, @nex3, and @jonasfj concluded that we want to recommend that **applications use caret notation** (or version ranges) in pubspec.yaml. This makes it easy to use `pub upgrade` to get semver-compatible upgrades.

We need to update two pages:

* https://dart.dev/tools/pub/dependencies, which currently suggests that users might want to use **any** (or nothing at

[2020-01-09 18:44] #2203 closed

[2020-01-10 12:18] jonasfj commented on #2207
We could also consider:

 * [avoid recommending adding dependencies without caret](https://user-images.githubusercontent.com/149732/72152421-3c298680-33ab-11ea-93af-5ce45ee8984b.png)
 * [avoid example without dependency constraints](https://user-images.githubusercontent.com/149732/72152423-3d5ab380-33ab-11ea-932a-b56375e62cfd.png)

On flutter.dev

Page URL: https://flutter.dev/docs/development/pac

[2020-01-10 17:20] kwalrath commented on #2207
/cc @sfshaza2 @legalcodes

[2020-01-10 23:41] ryanmcginnis opened #2209 "console text in DartPad's dark theme isn't readable"
Page URL: https://dart.dev/codelabs/iterables#exercise-practice-writing-a-test-predicate
Page source: https://github.com/dart-lang/site-www/tree/master/src/codelabs/iterables.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

when i run the DartPad in the section of the linked page, i can't easi

[2020-01-10 23:56] kwalrath commented on #2209
Closing as a duplicate of https://github.com/dart-lang/dart-pad/issues/1424.

[2020-01-10 23:56] #2209 closed

[2020-01-11 01:33] kwalrath opened #2211 "Fix CSS for external links, so punctuation can be outside the link"
For more info, see #2210.

We should also make sure this is documented somewhere obvious, so contributors know what to do.

[2020-01-13 18:47] kwalrath opened #2212 "Update gists for iterables codelab"
See @legalcodes comments on #2208 for details.

[2020-01-13 20:44] leiboldm opened #2213 "Link icons next to effective dart headers should copy the link to the clipboard"
Currently, these icons cause the header to jump to the top of screen which seems pretty pointless because I could much more intuitively achieve the same effect by just scrolling.  What I really want when clicking that icon is to copy the link address so that I can paste it somewhere else.

Note that this is how these icons work on other google sites: https://sites.google.com/site/southcountycats/v

[2020-01-13 21:13] kwalrath commented on #2212
Fixed by editing solution.dart in the following gists:

* https://gist.github.com/8113e2880772456f9036ddf55c517e9e
* https://gist.github.com/5ce89481a3dc8b14800825c78bd547e2
* https://gist.github.com/0be68487b124b4e55927c3e026094547

It mostly just required adding the missing classes (User, EmailAddress), but in one case the type signature of the solution's method was wrong — it wouldn't compile,

[2020-01-13 21:13] #2212 closed

[2020-01-13 21:22] kwalrath commented on #2213
Thanks for the input. You aren't the first to ask for this (see #920). Unfortunately, it isn't easy with our current infrastructure. I'm going to close this as a duplicate of #920, which you might want to thumbs-up or comment on.

[2020-01-13 21:22] #2213 closed

[2020-01-14 22:47] kwalrath opened #2214 "fix dev build"
The [dev build has broken](https://travis-ci.org/dart-lang/site-www/jobs/637095921#L1329) in a weird way. I'm going to allow that failure for now, in hopes that the next dev release will fix the problem. If it doesn't, I'll take a look. (Or someone else is welcome to take a look... just let me know.)

From the [raw build log](https://api.travis-ci.org/v3/job/637095921/log.txt):

[code]

/cc @bwilk

[2020-01-14 23:42] bwilkerson commented on #2214
If you're talking about the "â€¢" sequences, they are likely caused by `dartanalyzer` attempting to produce a small black circle between pieces of the output.

If you're talking about the diagnostics themselves, my guess is that the code is using extensions and being analyzed by a version of analyzer in which extensions are not yet supported.

[2020-01-15 00:33] kwalrath commented on #2214
That did look weird, but I assumed it was the circle so I didn't worry about it.

The weird thing is that the same code passes in the stable build. But maybe the messages are different. I'll try updating the messages for the dev build.

[2020-01-15 01:04] kwalrath opened #2216 "/get-dart instructions on switching to dev didn't work"
If someone out there is a Homebrew expert, I'd love your take on this.

I had a confusing experience today when trying to update my version of the SDK. I don't know if this is just a bad message in brew, something wrong with the dart formulas, and/or something we should fix in our docs.

https://dart.dev/get-dart says that, to upgrade to a dev channel release when a stable release is currently act

[2020-01-15 01:13] kwalrath commented on #2214
I just tried generating the messages, but there's no message difference. It seems like extensions aren't on in the new dev release (2.8.0-dev.2.0). Can that really be true?!

[2020-01-15 01:34] bwilkerson commented on #2214
Extension methods were supposed to be enabled by default on [9/30/19](https://dart-review.googlesource.com/c/sdk/+/119327). If you're using a later SDK then there might be a bug.

[2020-01-15 10:05] scorpioa opened #2217 "Code sample and fails with error"
[Link](https://dartpad.dartlang.org/8e2ad295a1b7c8254414afb43fc7d280) does not open code sample and fails with error. Source link is [Implement an interface](https://codelabs.developers.google.com/codelabs/from-java-to-dart/#4)

[2020-01-15 16:50] kwalrath commented on #2217
That link is working for me. Could you try it again? If it still doesn't work, could you comment with a screenshot and any text that's in the console? Thanks!

[2020-01-15 18:23] gaaclarke opened #2218 "Links in FFI document are broken"
If you try to download files like hello.c in https://dart.dev/guides/libraries/c-interop#examples the links are broken.

[2020-01-15 18:29] johnpryan commented on #2218
the `c/` folder moved to `hello_library` so the URLs should be changed to:

https://github.com/dart-lang/samples/blob/master/ffi/hello_world/hello_library/hello.c
https://github.com/dart-lang/samples/blob/master/ffi/hello_world/hello_library/hello.h

[2020-01-15 18:30] johnpryan commented on #2218
@kwalrath I think I forgot that we were linking to the source code from the docs

[2020-01-15 18:38] johnpryan commented on #2218
The other thing that changed is that we are using CMake for these samples now. The steps are:

1. install cmake (using apt or homebrew)
2. run `cmake .`
3. run `make`

The only documentation we have for the CMake stuff is in the unit test right now: https://github.com/dart-lang/samples/blob/master/ffi/hello_world/test/hello_world_test.dart

[2020-01-15 18:54] kwalrath opened #2219 "Instructions for compiling FFI example are broken"
I'm going to wait for the README to be updated (https://github.com/dart-lang/samples/issues/29) before updating dart.dev.

[2020-01-15 18:55] kwalrath commented on #2218
Oh, ha, just filed https://github.com/dart-lang/site-www/issues/2219 about the build instructions.

[2020-01-15 19:06] #2218 closed

[2020-01-15 19:12] rkj opened #2221 "Give example of using constructor variable initialization with named parameters"
Language tour have many example of classes and their initialization, but none of them includes named arguments that also initialize. Would be nice have something like:

[code]

As when you have multiple arguments with the same type it's usually better to make them named to avoid mistakes / make the callsite easier to read. There is also an edge case here when you want to assign to a private variab

[2020-01-15 19:28] kwalrath commented on #2221
Thanks, @rkj, this kind of feedback based on code reviews is very helpful!

[2020-01-15 19:32] Haugen opened #2222 "Mention that dart2native doesn't come with Dart when downloaded via Flutter"
I recently updated Flutter, which also updated the Dart SDK to 2.7. In the documentation, it says I now should have access to the dart2native binary, but I was not able to find it. I eventually found and issue (https://github.com/flutter/flutter/issues/43968) where it was mentioned that the dart2native binary doesn't come with the version of Dart downloaded through Flutter.

Perhaps it would make

[2020-01-15 21:33] kwalrath commented on #2222
Good point. I think the Flutter SDK used to include everything in the Dart SDK, but apparently that's no longer true (if it ever was). I'm a little worried about yet another thing to keep in sync, but this seems helpful enough to be worth the risk.

Marking this as e1 because we should compare everything in the SDKs and maybe come up with a boilerplate include, plus add it to the list of things to

[2020-01-15 22:16] kwalrath commented on #2219
@johnpryan how do you deal with signing? Here's what I see:

[code]

[2020-01-15 22:28] johnpryan commented on #2219
https://github.com/dart-lang/sdk/issues/38314 is the issue to follow, but I think unsigning the dart binary will allow it to use unsigned libraries:

[code]

[2020-01-15 23:06] #2219 closed

[2020-01-15 23:46] #2214 closed

[2020-01-16 00:41] ryanmcginnis opened #2225 "some section tabs load Docs-like pages, but aren't included in Docs navigation"
Page URL: https://dart.dev/platforms.html, https://dart.dev/community, https://dart.dev/get-dart
Page source: https://github.com/dart-lang/site-www/tree/master/src/platforms.md, et al

i've been spending some time reading the Docs section of the Dart website. when i navigate to one of the other sections on Dart's website (the top bar tabs Platform, Community, and Get Dart), a page loads that visua

[2020-01-16 11:18] ahan opened #2227 "Language Tour - mixins issue"
Page URL: https://dart.dev/guides/language/language-tour#adding-features-to-a-class-mixins

Found a typo?
To specify that only certain types can use the mixin — for example, `so your mixin can invoke` a method that it doesn’t define — use on to specify the required superclass:

Description of issue:
Maybe it should be `so your mixin can't invoke`?

[2020-01-16 11:23] ahan opened #2228 "Language Tour - @override issue"
Page URL: https://dart.dev/guides/language/language-tour#extending-a-class

Question:
There are two similar examples with `class SmartTelevision`, one is without @override annotation, one is with.
Are there any differences between these two examples?

[code]

[code]

[2020-01-16 20:49] kwalrath commented on #2228
Good catch! There's no real difference, other than indicating that the method was intentionally overridden, but I believe pedantic wants `@override` everywhere now (i.e. it's considered good practice at Google), so we should probably add it.

[2020-01-16 20:51] kwalrath commented on #2227
No, actually, it's _can_. If the mixin is guaranteed to have a certain superclass, then it can invoke a method from that superclass, even though the mixin doesn't define it.

Can you think of a way I can make it clearer?

[2020-01-16 20:53] kwalrath commented on #2225
The lack of being in the TOC is intentional (and mimics what Flutter does, I believe), but your point about the page looking too much like docs is a good one.

[2020-01-17 11:59] har79 opened #2230 "Links above headings aren't clickable"
cf. https://github.com/dart-lang/site-www/pull/155

Headings were initially being hidden behind the main header bar when following links directly to them, which places the top of the linked element's position at the top of the page. You can see this same bug on github by linking directly to any comment (-:

This was fixed with (where `$offset` = height of the header bar):

[code]

However this als

[2020-01-17 21:51] kwalrath commented on #2230
Thank you for the explanation, @har79!

@johnpryan do you agree that the scroll-margin-top approach is the best one?

[2020-01-19 05:29] ahan commented on #2227
Ok, I understood. I confused  it with Abstract Class. Thanks.

I not sure if this can be clearer:
[code]

[2020-01-20 16:49] AmirSimantov opened #2233 "The 'as' operator is NOT a shorthand for the 'is' operator"
[Contributors, please label with "LanguageTour"]

Hi guys, as this is not just a typo, I have not directly edited the language-tour.md file but, rather, opening an issue in order to discuss it.

GIVEN
Citing from /src/_guides/language/language-tour.md:
"Use the as operator to cast an object to a particular type. In general, you should use it as a shorthand for an is test on an object followed by a

[2020-01-21 16:51] kwalrath commented on #2233
SGTM, at first glance. Anyone else have an opinion? Maybe @munificent?

[2020-01-21 18:09] kwalrath opened #2234 "link to isolate (and other packages that expand on core libraries)"
Page URL: https://dart.dev/guides/libraries/useful-libraries
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/libraries/useful-libraries.md

It seems like we should do a couple of things:

1. Link to the core+ packages from https://dart.dev/guides/libraries (and maybe even move all info about these packages from https://dart.dev/guides/libraries/useful-libraries, to avoid

[2020-01-21 18:49] kwalrath commented on #2227
I'd tweak the second sentence, but I do like making the first sentence simpler. We could have an example in the second sentence to make it clearer.

[2020-01-21 22:36] munificent commented on #2233
I agree with @AmirSimantov.

[2020-01-21 22:52] kwalrath commented on #2233
@AmirSimantov would you like to create a PR?

[2020-01-22 22:33] borisbokan opened #2235 "'Tutorials' page issue"
Page URL: https://dart.dev/tutorials/index
Page source: https://github.com/dart-lang/site-www/tree/master/src/_tutorials/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-01-22 23:22] kwalrath commented on #2235
Thanks for filing an issue, but I’m going to close it for lack of a description. If you add a comment with details, we’ll reopen the issue.

[2020-01-22 23:22] #2235 closed

[2020-01-23 21:51] kwalrath commented on #2142
Interim fix: add link from Andrew's event loop article to an archive URL like https://web.archive.org/web/20170704074724/https://webdev.dartlang.org/articles/performance/event-loop.

[2020-01-23 22:26] feinstein opened #2236 "'The pubspec file' page issue"
Page URL: https://dart.dev/tools/pub/pubspec.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/pub/pubspec.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

The docs say:

But I don't have a Homepage, so I just provided Repository instead. But then when I run ` flutt

[2020-01-23 22:38] kwalrath commented on #2236
Thanks for the issue, @feinstein.

@isoos or @jonasfj, what should the doc and tool be doing here?

[2020-01-24 06:28] isoos commented on #2236
/cc @sigurdm

[2020-01-24 09:17] sigurdm commented on #2236
This sounds like a bug in the tool.

At publishing time it should be a warning, not an error if there is neither tool nor homepage.

For non-published packages we should not care.

[2020-01-25 01:43] kwalrath commented on #2160
Looking at the output, it all seems to boil down to the following lints:

  lint • Don't access members with `this` unless avoiding shadowing. • ... • unnecessary_this
  lint • Don't check for null in custom == operators. • ... • avoid_null_checks_in_equality_operators
  lint • Omit type annotations for local variables. • ... • omit_local_variable_types
  lint • Prefer generic function type aliase

[2020-01-25 01:45] kwalrath commented on #2160
I think we should mostly follow the pedantic lints. If they're too onerous in certain cases, then I'll switch to effective_dart lints or add allow comments.

[2020-01-25 11:25] AmirSimantov commented on #2233
I would like to @kwalrath, but I am not a native English speaker and this is quite a change. In this case, is creating a PR is the best way? Because there may (probably) be grammar mistakes there... If yes, I will gladly do it. Otherwise, I can prepare the text here and only when approved by natively English speakers I will create the PR.

[2020-01-25 18:24] Salmankhancodes commented on #2205
What changes exactly we need to make?

[2020-01-26 12:09] mayberryflavorbox opened #2238 "Example doesnt include script src to javascript"
I tried to use this example and it didn't work.
Meaning - i took the html, css and dart code and put it in my own local project.

https://dart.dev/tutorials/web/fetch-data

It seems to be missing  this at the END of the html file.

  <script src="main.dart.js"></script>

[2020-01-27 13:08] lrhn commented on #2234
We have `package:async`, `package:collection`, `package:convert`, `package:isolate`, `package:typed_data` that I am considering myself in charge of (whether other people agree with that is open for debate). I don't think we have a `package:math` and definitely no `package:core`.

So, do add `isolate` and `typed_data` to the list.

I know there is a `package:js` and `package:html`, but I don't know

[2020-01-27 17:40] kwalrath commented on #2142
I've just discovered an internal resource that seems helpful: go/dart-await. It refers to [this DartPad](https://dartpad.dartlang.org/12bf241722ad99087134e07e26bc0c7c) and [this article](https://www.woolha.com/articles/dart-event-loop-microtask-event-queue).

[2020-01-27 17:50] kwalrath commented on #2233
I thought your wording was better than what many native English speakers would write. Also, I can copy edit the file in the actual PR.

But tweaking the language here works, too. The only place where I found the wording unclear was the last sentence:

I'd change it to something like this:

Note that we tend to use contractions where it makes sense — especially for "not", which can easily get separ

[2020-01-27 18:56] kwalrath commented on #2205
It currently says:

I think we just need to remove "Internet Explorer 11 and".

Correct, @kevmoo?

[2020-01-28 16:16] jaredbaszler opened #2240 "'Iterable collections' page issue"
Page URL: https://dart.dev/codelabs/iterables.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/codelabs/iterables.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

The bottom exercise lists that a method isValidEmailAddress() is provided but it it is not:

[code]

[2020-01-28 18:05] kevmoo opened #2241 "'Iterable collections' page issue – runtimeType comparison in equality? Very weird..."
Page URL: https://dart.dev/codelabs/iterables.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/codelabs/iterables.md

See https://stackoverflow.com/q/59952521/39827

It seems **very** weird to have a comparison of `runtimeType` for the equality check.

CC @munificent @lrhn RE best practices

[2020-01-29 06:03] Salmankhancodes commented on #2205
Will you assigned me this task?

[2020-01-29 16:52] kwalrath commented on #2205
Assigned. Thank you!

[2020-01-29 17:11] kwalrath commented on #2240
Actually, that method _is_ provided for you — it's just not visible in the UI. But if you call it, it does run and (in a very simple way) work.

[2020-01-29 17:11] #2240 closed

[2020-01-29 17:12] kwalrath commented on #2240
Implementation is in test.dart in https://gist.github.com/0be68487b124b4e55927c3e026094547

[2020-01-29 17:47] kwalrath opened #2242 "Make title entries consistent"
We should do a pass over the `title:` part of the YAML at the top of every page. I noticed two small things that are wrong:

1. Pages with colons in the names sometimes capitalize the word that follows the colon, but sometimes don't. Examples: **Effective Dart: Usage** vs. **Overview: the Dart language**
2. Pages without colons in the names sometimes use unneeded quotation marks. Example: `title:

[2020-01-30 18:37] Salmankhancodes commented on #2205
Please Review the changes.Thank you.

[2020-01-30 19:37] kwalrath opened #2245 "Add links to iterables codelab"
Library tour (Iterable/Iterator) should point there, language tour (for-in) should point there, and maybe discussions of built-in iterable types (list, set).

[2020-01-30 19:39] #2205 closed

[2020-01-30 19:58] sfshaza2 opened #2246 "Update dart.dev/web"
Some feedback I've received in email:

I noticed that [https://dart.dev/web](https://dart.dev/web) doesn't describe the current state of Dart on the Web any more. Specifically, there's no mention of Fluter for Web, and there's nothing about the [level of support](https://github.com/dart-lang/angular/issues/1866#issuecomment-571851626) users should expect from AngularDart. Anyone here maintains the

[2020-01-31 09:52] lrhn commented on #2241
The "best practice" here is disputed territory.

My personal opinion is that you should *never* use `runtimeType` for anything except interacting with `dart:mirrors`.

The *goal* here is to avoid situations where `point == colorPoint` gives true, but `colorPoint == point` gives false.
The consequence is that `point == mockPoint` or `carthesianPoint == polarPoint` are also false, even if they repre

[2020-01-31 20:41] kwalrath commented on #2241
Thanks, @kevmoo & @lrhn

[2020-01-31 23:49] kwalrath commented on #2216
I just ran into this again, and it's frustrating, so I'm increasing the priority.

@kevmoo, any tips?

[2020-02-01 01:37] kwalrath opened #2251 "Improve extension method examples' pubspec file"
File: https://github.com/dart-lang/site-www/blob/master/examples/extension_methods/pubspec.yaml

* Drop dependency_overrides
* Fix name
* Delete version?

Basically, make it as much like the other example pubspecs as possible.

I think we had the dependency override for analyzer due to https://github.com/dart-lang/sdk/issues/39702, but we removed it from other pubspecs (#2159). This one might have

[2020-02-01 02:24] kevmoo commented on #2216
What's w/ the `-- --devel`?

I never use the stand-alone `--`.

I DO have to uninstall dart stable before I can get dev to work...and vice versa. I've never been able to do the in-place switch.

[2020-02-03 04:37] rudolfolah opened #2252 "'Mobile app development' page issue: other ways of creating mobile apps?"
Page URL: https://dart.dev/mobile.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/mobile.md

Description of issue: If there are other ways of creating mobile apps without using Flutter SDK, it would be helpful if they were listed.

[2020-02-03 18:23] kwalrath commented on #2216
A while ago we started having to add `--` everywhere. The relevant PR, #1844, mentions @filiph discovering this, so maybe he can tell us more.

[2020-02-03 19:03] kwalrath commented on #2233
Closed by #2253.

[2020-02-03 19:03] #2233 closed

[2020-02-03 22:27] kwalrath commented on #2252
I don't know of any other Dart ways, offhand. Anyone?

[2020-02-04 07:59] rahul-bavaliya opened #2254 "'Troubleshooting pub' page issue"
Page URL: https://dart.dev/tools/pub/troubleshoot
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/pub/troubleshoot.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: Using below command I set proxy and provide credential for proxy. But unable to run flutter doctor from it

[2020-02-05 14:03] vasylkovbas opened #2257 "var pi"
var pi = 3.14;

so "var"  is variable? maybe const?

[2020-02-05 16:12] kwalrath commented on #2254
@jonasfj can you figure out what's wrong here? I'm not sure whether this is a pub issue, a flutter issue, or a misunderstanding, but I'd like to update the troubleshooting page if that might help.

[2020-02-05 16:13] kwalrath commented on #2257
Good point.

[2020-02-06 09:06] jonasfj commented on #2254
@rahul-bavaliya, I think this is a flutter issue, probably the `flutter doctor` command runs a powershell script that doesn't handle the proxy config.. Maybe configuring system proxy will help, I don't know windows well enough.. Or maybe you need to quote the environment variable when you set it..

I suggest filing a bug on https://github.com/flutter/flutter/issues/

quick note: for future referen

[2020-02-06 09:06] #2254 closed

[2020-02-06 14:43] bertbeck opened #2259 "'DartPad' page issue"
Page URL: https://dart.dev/tools/dartpad/
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/dartpad/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

**Text is misleading.**

**What does this mean?**

"If you want to use dart:io, use the Dart SDK instead. If you wan

[2020-02-06 19:22] MitaiGit opened #2260 "When auto-translating docs, code is also translated"
Page URL: https://dart.dev/tutorials/server/cmdline
Page source: https://github.com/dart-lang/site-www/tree/master/src/_tutorials/server/cmdline.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: при нажатии перевести на русский так же переводится и код языка, и что это за учебник который говорит

[2020-02-06 19:32] MitaiGit commented on #2260
![Снимок экрана от 2020-02-07 00-31-00](https://user-images.githubusercontent.com/32243762/73971749-48204e00-4941-11ea-8830-990d0ba365d6.png)

[2020-02-06 22:18] kwalrath commented on #2254
@rahul-bavaliya could you refer to this issue when you open the Flutter issue? Thank you!

(Oh, and I've added the code fences. :) )

[2020-02-06 22:20] kwalrath commented on #2259
No, there's no way to add user packages to dartpad.dev. We should be clearer.

It is open source, so you _could_ create your own version of DartPad and serve it up... but that's not something we expect people to do.

[2020-02-06 22:22] kwalrath commented on #2260
From Google Translate:

I'm surprised that the code is also translated. Is there a way we can prevent that from happening?

[2020-02-07 00:38] kwalrath opened #2261 "Link to stream_transform package"
Perhaps we should add a link from https://dart.dev/guides/libraries/useful-libraries to the stream_transform package: https://pub.dev/packages/stream_transform

/cc @natebosch @mit-mit

[2020-02-07 05:00] MitaiGit commented on #2260
you can see how this is implemented in angulardart in their tutorial, code snippets are not translated

[2020-02-07 05:02] MitaiGit commented on #2260
want a joke? angulardart tutorial on creating modern sites, does not have any mention of image output, they teach people to create book sites?))

[2020-02-07 05:02] MitaiGit commented on #2260
your textbooks are just a quiet horror

[2020-02-07 15:24] bertbeck commented on #2259
What is it that prevents a user to add packages to darted.dev?

Is there any guide to creating. your own version of dartpad and including
user packages?

I assume that any Flutter Web compatible packages should be able to be
used. The xml2json packages seems like it should be compatible.

On Thu, Feb 6, 2020 at 3:20 PM Kathy Walrath <notifications@github.com>
wrote:

[2020-02-07 16:27] Afsar-Pasha opened #2262 "'A tour of the Dart language' page issue"
Page URL: https://dart.dev/guides/language/language-tour#final-and-const
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/language-tour.md

Description of issue:

Looks like `collection for` can't be used in constants.

[2020-02-07 17:34] kwalrath commented on #2260
Let's keep this conversation constructive: https://dart.dev/code-of-conduct

[2020-02-07 17:41] kwalrath commented on #2260
Looking at https://angulardart.dev/tutorial/toh-pt0, I suspect that the code snippets aren't translated because the code is in an Angular component (`<ng-transclude>`).

I don't think we want to introduce an Angular dependency into dart.dev, but I wonder whether there's another way we could make Google Translate avoid translating our code.

[2020-02-07 17:41] kwalrath commented on #2260
/cc @johnpryan

[2020-02-07 17:54] kwalrath commented on #2259
https://github.com/dart-lang/dart-pad/issues/901 is the issue for adding package support to dartpad.dev. It has some good info, with links to relevant issues.

I think that implementing your own DartPad server is possible but might not be easy or commonly done. Still, it is open source, so you're free to try: https://github.com/dart-lang/dart-services.

[2020-02-07 19:12] johnpryan commented on #2260
I think the issue here is that not all samples on https://dart.dev/tutorials/server/cmdline are wrapped in a `<code>` tag.

[2020-02-07 19:22] #2257 closed

[2020-02-07 19:44] kwalrath opened #2264 "Add page(s) about contributing to the docs"
We have wiki content, but that isn't easily findable. dart.dev and flutter.dev should have pages aimed at people who want to contribute. I could create a prototype on dart.dev.

- Where to place links (https://github.com/dart-lang/site-www/issues/2991)

/cc @sfshaza2

[2020-02-07 20:44] sfshaza2 commented on #2264
SG! You write and I'll plagiarize. :D

[2020-02-07 20:50] kwalrath commented on #2262
You're right. I just checked https://github.com/dart-lang/language/blob/master/accepted/2.3/control-flow-collections/feature-specification.md, which says:

[2020-02-07 20:56] kwalrath commented on #2260
Is it the code snippets with highlights that are the problem? (In the [source code](https://raw.githubusercontent.com/dart-lang/site-www/master/src/_tutorials/server/cmdline.md), the snippets with highlights use `{% prettify dart %}` instead of <code>```dart</code>.)

[2020-02-07 21:38] #2262 closed

[2020-02-10 09:20] MitaiGit commented on #2260
thanks

[2020-02-10 09:20] #2260 closed

[2020-02-10 16:36] geziefer opened #2267 "Intro to Dart for Java Developers - missing explanations"
I did the tutorial as a Java developer and stumbled upon chapter 5, which should be explained in more detail in observation section:
With an empty CircleMock implementation, we'll see the 'Missing concrete implementations' error as stated - but for a Java developer it is not understandable, why the getter/setter for radius is not usable in the implementing class (see [Stack Overflow question](http

[2020-02-10 17:18] kwalrath commented on #2227
Actually, I'd like to keep this open, since I think the first sentence should be simpler.

[2020-02-10 17:22] kwalrath opened #2268 "Remove extra space at top of cmd-line example"
Followup to #2266; see https://github.com/dart-lang/site-www/pull/2266#pullrequestreview-355494669 for details.

[2020-02-10 18:04] kwalrath opened #2269 "Avoid auto-translation of API names, language keywords, and other literals"
Code font is the obvious fix, but it's ugly and takes up a lot of space, so it seems a shame to use it in places where a human can tell that you're talking about something literal. Tables and API docs are especially poor places to be forced to use code font.

This is an issue for all of our sites, including (but almost certainly not limited to) dart.dev and api.dart.dev.

For more details, see #22

[2020-02-10 18:08] kwalrath commented on #2267
Thanks for the report, @geziefer.

[2020-02-10 18:24] kwalrath commented on #2269
/cc @jcollins-g @tvolkert @sfshaza2 @legalcodes @johnpryan

[2020-02-10 18:39] kwalrath commented on #2246
@kevmoo & @mit-mit we should talk.

[2020-02-10 18:42] johnpryan commented on #2269
we could try `class="notranslate"` according to this [stackoverflow answer](https://stackoverflow.com/a/57165402)

[2020-02-11 00:32] kwalrath opened #2270 "Fix the dev build"
The dev build broke between two cron jobs, probably due to a change in analyzer behavior/output in 2.8.0-dev.7.0:

* https://travis-ci.org/dart-lang/site-www/builds/645655049 (success)
Dart VM version: 2.8.0-dev.6.0 (Tue Jan 28 17:29:05 2020 +0100) on "linux_x64"
* https://travis-ci.org/dart-lang/site-www/builds/646128881 (failure)
Dart VM version: 2.8.0-dev.7.0 (Tue Feb 4 12:17:12 2020 +0100) on

[2020-02-11 00:51] kwalrath commented on #2205
Fixed in #2244

[2020-02-11 15:59] bagintz opened #2271 "'Effective Dart: Style' page issue"
Page URL: https://dart.dev/guides/language/effective-dart/style
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/effective-dart/style.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

The wording seems to indicate that enums should be both UpperCamelCase and l

[2020-02-11 18:54] kwalrath commented on #2271
I interpret it as enum _types_ should be UpperCamelCase, and enum _values_ should be lowerCamelCase. Do you think we need a note/example to clarify this, and if so, where?

[2020-02-11 21:27] bagintz commented on #2271
that makes sense, and the second one `PREFER using lowerCamelCase for constant names` does say `enum values`.  Maybe adding `types` to the first one to give the distinction????

[2020-02-11 21:51] legalcodes commented on #2269
I want to +1 this:

`Code font is the obvious fix, but it's ugly and takes up a lot of space`

The flutter/website codefont styles might be due for revisiting. I'm not convinced that our bright hyperlink-blue mixes well with the dark forest green we're using for code font on flutter.dev:

![Screen Shot 2020-02-11 at 1 46 57 PM](https://user-images.githubusercontent.com/5550175/74282542-3211e500-4c

[2020-02-12 21:30] iboldurev opened #2274 "add the ability to select the site language"
Hi @kwalrath, I propose to add the ability to select the website language (add a switch section to header), for example, the Chinese version of the site and the Russian, what do you say?

[2020-02-12 21:36] kwalrath commented on #2274
I suspect that if we did this, we'd want to have all the source in one repo, and we'd need different infrastructure. I'll leave this bug open, since it's worth considering, but I suspect it won't happen for a while.

[2020-02-12 21:39] iboldurev commented on #2274
@kwalrath Thank you, for now I will continue to translate the documentation into Russian, and help the Russian community

[2020-02-12 23:47] kwalrath commented on #2274
That sounds great. Thank you!

[2020-02-13 10:28] mihir5755 opened #2275 "'Get the Dart SDK' page issue"
Page URL: https://dart.dev/get-dart.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/get-dart.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-02-13 10:29] #2275 closed

[2020-02-13 16:50] devinrhode2 opened #2276 "404 on dart.dev/performance - has this page ever existed?"
I'm not sure if this page has ever existed: http://dart.dev/performance

This page links to dart.dev/performance: https://news.dartlang.org/2013/12/ecma-forms-tc52-for-dart-standardization.html?m=1

Doesn't actually exist in wayback machine: https://web.archive.org/web/20200601000000*/Dart.dev/performance (the few instances show the 404 page)

Have not checked the git history of this repo yet

[2020-02-13 22:20] kwalrath commented on #2276
It existed a very long time ago, back when we used another repo. e.g. https://web.archive.org/web/20130115070042/http://dartlang.org/performance. But I think the specific benchmarks we used weren't terribly relevant to most Dart users, so we took down the page. (See #661 for more info.)

People still try to find it, though. In the last 30 days, it was the 9th most common 404 on dart.dev. Over the

[2020-02-14 17:54] kwalrath commented on #2269
I'm going to downgrade to P2 since this is going to take some time, and it _mostly_ works now.

[2020-02-14 18:15] kwalrath commented on #2160
Downgrading to p2. Still need to do this, but it isn't urgent.

[2020-02-14 18:23] kwalrath commented on #1365
This bug will be fixed once we start using pedantic 1.9.0, which added prefer_collection_literals. ([Changelog](https://pub.dev/packages/pedantic#-changelog-tab-))

Closing in favor of #2160.

[2020-02-14 18:23] #1365 closed

[2020-02-14 18:42] kwalrath commented on #1268
Once we add `void` to the language tour, we should change the `void` entry in the [keyword table](https://dart.dev/guides/language/language-tour#keywords) to point to that discussion instead of to the medium article.

Btw, looking at the keyword table made me realize that the `set` keyword incorrectly pointed to the `Set` API ref. This is fixed in #2278.

While I'm thinking about important types..

[2020-02-14 18:44] kwalrath commented on #1038
Downgrading to p2 because, obviously, we've survived this long without the change. Still needs to be done, though.

[2020-02-14 21:51] kwalrath commented on #176
I'm just going to apply this fix by hand.

[2020-02-15 15:43] EPNW commented on #2222
So the suggested workaround is downloading a seperate copy of the dart sdk? Should I add this copy to my $PATH instead of the included dart sdk or will this break this things with flutter?

[2020-02-17 02:01] SkepticalBit opened #2280 "Broken link (404 not found) in tutorial for linked Dartpad code"
[Found here](https://codelabs.developers.google.com/codelabs/from-java-to-dart/#5), in the "Intro to Dart for Java Developers"

Last link from this paragraph at the top of the page:

The link returns a 404: Not found.

[2020-02-18 15:38] mit-mit commented on #2276
Creating a new /performance page would be a good ideas, but I think we'd need to write some new content for it: general Dart language performance considerations, profile tips etc.

[2020-02-19 16:05] kwalrath commented on #2280
Strangely, the gist behind this DartPad exists: https://gist.github.com/Sfshaza/405379bacf30335f3aed. I'll look into this.

Thanks for the heads up, @SkepticalBit!

[2020-02-19 16:09] kwalrath commented on #2280
@johnpryan do you know why the links http://dartpad.dartlang.org/405379bacf30335f3aed & http://dartpad.dev/405379bacf30335f3aed don't work? The first one used to, and the link http://gist.github.com/405379bacf30335f3aed does work. Is it because DartPad has gotten pickier about requiring the file to be named main.dart?

[2020-02-19 16:16] kwalrath commented on #2280
/cc @RedBrogdon @domesticmouse

[2020-02-19 17:59] kwalrath commented on #176
Perhaps we should have a test for _blanks without noopener?

[2020-02-19 18:03] johnpryan commented on #2280
I think this is an issue with the router DartPad uses. If you don't want to fork the gists, you can change the URL to [`https://dartpad.dev/?id=405379bacf30335f3aed`](https://dartpad.dev/?id=405379bacf30335f3aed).

[2020-02-20 01:40] kwalrath commented on #2222
@kevmoo or @mit-mit do you have recommendations for what to do when you have both the Flutter SDK & the Dart SDK?

[2020-02-20 12:37] mit-mit commented on #2222
The Dart SDK located inside the Flutter SDK is currently designed to run the Flutter tool, and not for direct use. That's why it's hidden inside the `cache` folder and not shown in a more prominent folder. We're hoping to include an actual Dart SDK for wide consumption, but that is not ready yet.

For now, if you want to do to Dart development and use the Dart terminal commands (like dartfmt, pub,

[2020-02-26 06:42] boduan402 opened #2287 "404 not found error for example hyperlink."
In this line:
You can also call an instance of a Dart class as if it were a function, as in `this example`.

The hyperlink of `this example` gives 404 error

[2020-02-26 14:03] roelvandun opened #2288 "Dead link"
On https://codelabs.developers.google.com/codelabs/from-java-to-dart/#5 the link at the end of the sentence "You can also call an instance of a Dart class as if it were a function, as in this example." is a link to DartPad which gives a 404: https://dartpad.dartlang.org/405379bacf30335f3aed

[2020-02-26 22:48] kwalrath commented on #2280
I'd rather DartPad could handle the route, since I suspect this affects more than just one link. Is that a possibility?

[2020-02-26 22:48] kwalrath commented on #2288
Closing in favor of #2280. But thank you very much for making sure we knew about this!

[2020-02-26 22:48] #2288 closed

[2020-02-26 22:49] kwalrath commented on #2287
Closing as a duplicate of #2280. Thanks for making sure we know about this!

[2020-02-26 22:49] #2287 closed

[2020-02-26 23:04] johnpryan commented on #2280
I think this is something we can fix in DartPad. Created https://github.com/dart-lang/dart-pad/issues/1489 to track

[2020-02-26 23:42] RedBrogdon commented on #2280
This is an easy fix. It was broken when we migrated to python3.

https://github.com/dart-lang/dart-pad/pull/1490

[2020-02-27 10:07] jonasfj opened #2289 "Let's only mention README|CHANGELOG|LICENSE.md (deprecating filename variations)"
We talk about `README(.md)` and `CHANGELOG(.md)` in many places:
 * https://dart.dev/tools/pub/publishing#important-files
 * https://dart.dev/tools/pub/package-layout#readme
 * https://dart.dev/guides/libraries/create-library-packages#providing-additional-files

We have historically supported a lot of filename variations. In our tooling we probably have to continue to support these variations goin

[2020-02-27 14:09] sigurdm opened #2290 "Document `pub outdated` at https://dart.dev/tools/pub/cmd/pub-outdated"
New command being developed here: https://github.com/dart-lang/pub/pull/2315.

This should be done before next stable sdk release

[2020-02-27 14:57] jakemac53 commented on #2289
cc @natebosch

LGTM from me

[2020-02-27 18:03] kwalrath commented on #2280
Yay, thank you! Could you tell us when you expect the fix to go out?

[2020-02-27 19:24] natebosch commented on #2289
LGTM

[2020-02-27 21:37] RedBrogdon commented on #2280
https://github.com/dart-lang/dart-pad/pull/1492

[2020-02-27 21:40] johnpryan commented on #2280
@kwalrath this is deployed now

[2020-02-27 21:40] #2280 closed

[2020-02-28 02:26] jddeep commented on #1803
@kwalrath So I noticed the src for the Dart cheatsheet codelab to be here https://github.com/dart-lang/site-www/edit/master/src/codelabs/dart-cheatsheet.md. So if were to add the code-excerpt for the code snippet:
[code]

Is there the code file for this snippet already there to be linked or we need to create first? Also should it be just a gist or we should add as `.dart` file in this repo itself?

[2020-02-28 03:55] kwalrath commented on #1803
You've got the right source file for the cheatsheet codelab, although it'd probably be easiest to edit it locally rather than in GitHub.

I believe that all of those samples are untested, and grepping the repo for `??= 3` brings up nothing. Gists aren't testable, so ideally we'd add `.dart` files to the repo so that Travis will analyze the code, and perhaps actually test it.

Once that code is in

[2020-02-28 10:37] mit-mit commented on #2289
LGTM

[2020-02-28 14:12] jddeep commented on #1803
Yes, @kwalrath that makes sense.
But could I add all the code files needed at `/misc/bin/` first through a PR. And then in another, I will link the code-excerpts. Is that a problem?
If it is, I will do it in different commits.
Do let me know. Thanks :)

[2020-02-28 17:11] jddeep commented on #1803
@kwalrath Adding all the code snippets as in the cheatsheet.md file, into a single dart file, say, `dart_cheatsheet.dart` isn't feasible cause, in the .md file there are various objects and classes with the same name as for demonstration.
So should I go ahead to make separate code files(as fewer files needed) at `/misc/bin/` of the repo?
If yes, could I open an issue to add the code files for this

[2020-02-28 18:58] kwalrath commented on #1803
I'm fine with splitting this up into two PRs, although what I'm about to say next might change your mind...

To deal with multiple objects/classes having the same name, one possibility is to put them in different files, as you said. Another one is to change the names used in the samples, so they aren't all the same. (We generally don't do this, since the names were the same for a reason.) A techni

[2020-02-29 00:22] kwalrath commented on #2276
@mit-mit who'd be a good source for that info?

[2020-02-29 12:23] bradyt opened #2292 "Link to dart academy is 404"
On the page https://dart.dev/tutorials, at the bottom is a link [Dart Academy](https://dart.academy/), but the result is 404.

[code]

[2020-02-29 12:34] jddeep commented on #1803
@kwalrath Thanks for letting me know about this technique :)
Actually, I have already made different files for the code snippets used in the cheatsheet and will make a PR with the code files now. So should I direct/refer to this issue (#1803) only in that PR body or I should make a separate issue for adding the code files?
Thanks.

[2020-03-02 02:44] mit-mit commented on #2276
Someone from the VM team, I think

[2020-03-03 02:42] kwalrath commented on #2292
Thanks for the report!

Looking at the wayback machine, the last archive is from June 6, 2019: https://web.archive.org/web/20190606204730/https://dart.academy/.

@kevmoo do you happen to know what happened to it?

In the meantime, I'll remove that bad link.

[2020-03-03 03:22] kwalrath commented on #1803
I'd love to see that PR and how Travis likes it. Did you find any issues with the code while creating those files?

It'd probably be good to have a separate issue for adding the cheatsheet code samples. (Then I can add that issue above by the cheatsheet item.) Either you or I can create that issue.

[2020-03-03 03:35] jddeep commented on #1803
Nope i didn't find any such issues while creating the files.
@kwalrath Could you then open the issue for the same and let me know. Will make the PR and direct to the issue. Thanks :)

[2020-03-03 14:36] jonasfj commented on #2289
I filed https://github.com/dart-lang/pub/issues/2349 because I think we should move ahead with this is seems uncontroversial.

[2020-03-03 16:43] kevmoo commented on #2292
Zero clue on this. Worth an email to all of the devrel folks?

[2020-03-03 16:43] kevmoo commented on #2292
@bradyt – thanks for the report!! 🙏

[2020-03-03 17:10] jddeep opened #2295 "Add and auto-include cheatsheet code samples"
We need to add the cheatsheet code samples in the repo so that we can link the code-excerpts in the source file.

Context: #1803

cc: @kwalrath

[2020-03-03 17:12] jddeep commented on #1803
@kwalrath nvm :) have opened the issue for us.

[2020-03-04 20:51] kwalrath commented on #2295
#2296 fixes the issue of having tests for the code, but now we need to auto-include the code in the cheatsheet codelab.

[2020-03-05 03:17] jddeep commented on #2295
@kwalrath I will make a PR for including the code-excerpts in the cheatsheet src `.md` file. should we close this and direct that PR to #1803 ? Let me know while I make the PR :)

[2020-03-05 16:58] kwalrath commented on #2295
What you did (saying that your new PR fixes this issue) is the right thing. I'll take a look at your PR today. Thank you!

[2020-03-05 18:55] kwalrath commented on #2246
We need to iron out a couple of small details, and then I'll create a PR.

[2020-03-10 17:36] kwalrath commented on #2295
I think we still have some code that isn't analyzed, so I'm going to reopen this until we ascertain that there's no more left to do.

[2020-03-10 17:49] #2246 closed

[2020-03-10 22:18] peabnuts123 commented on #35
This is an old thread but I am still seeing the same issue.

[code]

`adslkajsdkljasd.dart` is a copy-paste of `web_server.dart` to validate that pub wasn't first searching its cache for a package named `web_server` first (presumably there are no packages on pub.dev called `adslkajsdkljasd`).

It seems like the discussion in this thread has been suggesting that writing `pub run xxxx` is equivalent

[2020-03-10 22:21] peabnuts123 commented on #35
cc @kwalrath apologies for the tag but I don't believe anybody in this thread works on the project any more.

[2020-03-10 22:36] kwalrath commented on #35
@jonasfj who would know what the `pub run` behavior is supposed to be?

[2020-03-11 11:34] bradyt commented on #2292
Same link at https://dart.dev/community#additional-community-resources.

[2020-03-11 15:18] jonasfj commented on #35
`pub run <package>:<command> [args...]` will check if dependencies are installed, specifically that:
 *  `.dart_tool/package_config.json` and `.packages` is a placement of `pubspec.lock`, and,
 *  `pubspec.lock` is a resolution that satisfies `pubspec.yaml`.
This is checked with timestamps and checks. I don't think we're going to document this, instead would merely specify that `pub run` checks if

[2020-03-11 18:42] kwalrath commented on #2292
Thanks, @bradyt. I'll do a search.

[2020-03-12 23:31] aardappel commented on #1822
Yup, just ran into this when working over ssh. `curl` workaround worked.

[2020-03-13 18:02] kwalrath commented on #1822
Seems important to document now that so many people are working from home.

[2020-03-13 18:39] kwalrath commented on #1972
Looks like this was fixed by #2001.

[2020-03-13 18:39] #1972 closed

[2020-03-17 06:03] dnfield commented on #1757
There are a few problems with this..

1. If you try to run checks on older versions of the repository, the versions of the tools are not versioned with the code, and may not be compatible.
2. If changes are made upstream that are incompatible, you may not find out until you go to push an unrelated commit to the source repository.

We should ideally publish these packages to pub and just be able to

[2020-03-17 06:03] dnfield commented on #1757
@chalin do you plan to publish these to pub?

[2020-03-17 14:37] chalin commented on #1757
Yes, I'll get these published.

FYI: It was decided a while ago that we wouldn't put effort into maintaining older versions of the site (@kwalrath and @mit-mit can confirm).

Essentially, we used to have code-excerpt handling via a Jekyll plugin back in the AngularTS/Dart days, and the bottom line is that it made site generation slower; most writers find Jekyll too slow already. Writers rightfully

[2020-03-17 16:07] dnfield commented on #1757
Thanks for the context!

We don't necessarily need this for multiple versions of the site, but we do need it if we want to be able to test previous commits - e.g. the last commit succeeded, this one failed, is it the version of package X impacting it?

[2020-03-18 10:59] mausom98 commented on #2292
I have a open PR please review it.

[2020-03-18 18:35] #2292 closed

[2020-03-18 18:36] kwalrath commented on #2292
Thank you, @mausom98!

[2020-03-18 19:53] #1822 closed

[2020-03-20 18:18] johnpryan commented on #2126
I think these issues are fixed by https://github.com/dart-lang/site-www/pull/2124 now.

[2020-03-20 18:18] #2126 closed

[2020-03-20 18:19] johnpryan commented on #1825
This should be fixed now: https://github.com/dart-lang/site-www/search?q=experimental&unscoped_q=experimental

[2020-03-20 18:19] #1825 closed

[2020-03-20 18:21] johnpryan commented on #1656
Since the only remaining issue is https://github.com/dart-lang/site-www/issues/89, I'm going to close this so we can just track that specific issue.

[2020-03-20 18:21] #1656 closed

[2020-03-21 10:39] Dmitry-Borodin opened #2309 "Dart SDK as Debian package in the .deb package format link is broken"
https://dart.dev/get-dart#install-a-debian-package
Alternatively, download Dart SDK as Debian package in the .deb package format.

    Stable channel -> leads to top of the page, so there is no way I can download stable dart SDK as .deb file
For develop channel link works

[2020-03-21 14:20] Nishikoh commented on #2268
hi , @kwalrath .
If I will work on this issue, should I fix like next images?

**current space**
![image](https://user-images.githubusercontent.com/55723667/77228082-25cc5200-6bc8-11ea-9c80-bf1196629ccd.png)

**fix space**
![image](https://user-images.githubusercontent.com/55723667/77228293-a8094600-6bc9-11ea-8fa1-c7eced31d0cc.png)

[2020-03-23 10:00] mit-mit opened #2312 "Initial null safety docs for tech preview"
As of https://github.com/dart-lang/pub/pull/2465, pub will link to https://dart.dev/null-safety/migration-guide, so we need to provide a file or redirect for that URL.

[2020-03-23 17:58] kwalrath commented on #2268
Actually, no. This bug is about a single sample, visible at https://dart.dev/tutorials/server/cmdline#overview-of-the-dcat-app-code. It seems to have an extra blank line at the top (above `import 'dart:convert';`), and I don't know why.

[2020-03-23 18:11] kwalrath commented on #2309
@Dmitry-Borodin could you try again? When I click the **Stable channel** link, it starts downloading a file.

[2020-03-23 18:13] Dmitry-Borodin commented on #2309
@kwalrath Yes, now it point to storage.googleapis.com, not to parent page. Looks like it's fixed.
Thank you.

[2020-03-23 18:13] #2309 closed

[2020-03-23 22:14] johnpryan opened #2313 "Remove safari restriction from DartPad troubleshooting guide"
Safari is [working normally ](https://github.com/dart-lang/dart-pad/issues/1108#issuecomment-601453068) now - we can remove the "Embedded DartPads on flutter.dev are slow in Safari" section of the [DartPad troubleshooting guide](https://dart.dev/tools/dartpad/troubleshoot)

[2020-03-23 23:36] nvjvn commented on #2211
I'm a beginner with open source. I would like to take up this issue but wanted to confirm if this is still open.
Thanks!!

[2020-03-24 00:25] kwalrath commented on #2211
It's definitely still open, and I'd love for you to take on this issue!

[2020-03-24 15:46] nvjvn commented on #2211
Thanks @kwalrath

[2020-03-24 17:33] Nishikoh commented on #2268
@kwalrath
I understand.
I'll try to fix this issue.

[2020-03-24 21:52] #2313 closed

[2020-03-25 17:21] kwalrath opened #2316 "Delete/improve+use create_code_with_tooltips.dart"
We apparently have some tooltips still in code, e.g. see #2315, which discusses some code at https://dart.dev/tutorials/server/cmdline#overview-of-the-dcat-app-code.

These code snippets are auto-generated and not included or tested.

We should fix this, one way or another.

[2020-03-26 20:55] legalcodes opened #2319 "Make dart.dev's default font size larger."
I think it'd be worth testing with a few larger font sizes to see what the majority of users prefer, but I'd also happily settle for moving from 14px to 16px so that we are at least consistent with flutter.dev.

[2020-03-26 21:09] kwalrath commented on #2319
/cc @sfshaza2

[2020-03-26 21:19] sfshaza2 commented on #2319
+100

[2020-03-27 16:30] suztomo commented on #1994
(Not sure this issue is for voting) As a Flutter user, I prefer to have braces for all `for` statements regardless of the length of the body.

@creativecreatorormaybenot You may want to rename the issue title. E.g., "Effective Dart: Style" exclude for-statement from curly_braces_in_flow_control_structures

[2020-03-28 00:08] munificent commented on #1994
Yes, that is the current rule, and I don't think we plan to change it.

[2020-03-28 18:34] suztomo commented on #1994
Thank you for clarification.

[2020-03-29 14:49] jodinathan opened #2321 "--disable-service-origin-check flag not documented"
Hi,

I was getting some forbidden errors with observatory and @simolus3 commented about this flag ```--disable-service-origin-check``` in Gitter and it helped me to get it to work.

I wonder why is it not documented here: https://dart.dev/tools/dart-vm and also not here: https://dart-lang.github.io/observatory/get-started.html ?

[2020-03-30 15:49] codegrue opened #2322 "'Publishing packages' page issue"
Page URL: https://dart.dev/tools/pub/publishing.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/pub/publishing.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

`pub publish --dry-run` doesn't seem to report issues that would lower a packages score: old dependencie

[2020-03-30 16:19] #1994 closed

[2020-03-30 23:21] kwalrath commented on #2321
@a-siva should we be documenting the `--disable-service-origin-check` flag, either on the websites or in a troubleshooting page somewhere?

/cc @sfshaza2

[2020-03-30 23:42] sfshaza2 commented on #2321
Yeah, keep me posted. Though, @jodinathan, we don't generally support the Observatory docs on the wiki.

[2020-03-30 23:52] kwalrath commented on #2322
@jonasfj any advice? 2.8's `pub outdated` should help find old dependencies, and maybe you could use https://pub.dev/packages/pana directly, but is there something more we can do (either in this page or in `pub publish`)?

[2020-03-31 01:01] a-siva commented on #2321
@kwalrath the option `--disable-service-origin-check ` is an internal option we use for testing purposes and is not intended for use otherwise, I would prefer we do not document it as it bypasses the origin check.
@jodinathan what kind of errors are you running into when you do not use the flag ?

[2020-03-31 06:41] simolus3 commented on #2321
In Gitter, it came up when trying to run Dart in a container and connecting to the vm service protocol from the host. The VM will respond with a 403 error in that case.
I thought this use-case might be common enough to deserve documentation. Since it appears to be a security risk in general, maybe it's more appropriate to add this to the Docker readme?

[2020-03-31 15:39] jodinathan commented on #2321
@a-siva as @simolus3 commented, I was trying to view the Observatory from a dockered dart vm application and I was able to open the observatory page, but the requests in the chrome network panel were throwing a 403.
Once I added the mentioned flag, the requests were accepted

[2020-03-31 15:55] codegrue commented on #2322
It would be nice in this publish instructions page to list all the automated analyses that are executed after upload, so that it can be performed prior to this. What I end up doing is publishing a version e.g. 1.8.0, seeing what issues it reports, then have to immediately publish a 1.8.1 version to address those. Would like to avoid that double publish.

[2020-03-31 18:14] mit-mit opened #2323 "Null safety intro code lab"
Tracks an initial code lab for null safety tech preview to cover main topics (core feature, opt-ing in, inference, etc.). Doesn't need to cover migration, that can come later.

[2020-03-31 18:38] mit-mit opened #2324 "Null safety code challenge for tech preview"
Tracks a request for am online code challenge for null safety for tech preview. This is expected to be similar to https://dart.dev/codelabs/dart-cheatsheet, just with a bunch of coding challenges specific to null safety.

This is a complement to the general docs (https://github.com/dart-lang/site-www/issues/2312), and the more structured learning codelab (https://github.com/dart-lang/site-www/issu

[2020-03-31 18:43] mit-mit commented on #2323
Note that https://github.com/dart-lang/site-www/issues/2324 tracks a more interactive learning experience. It may be work discussing if that is sufficient, and we don't need the present codelab if we have that.

[2020-04-01 00:03] kwalrath commented on #2290
I'm starting now, so let me know if there's anything non-obvious I should know, @sigurdm. Otherwise, expect to hear from me when I have a PR.

[2020-04-01 08:33] jonasfj commented on #2322
You can run `pana` locally, but I don't think we should document it at this point.

The `pana` CLI is still very unpolished, it's not a user-friendly product at this point.

We are aware of this short coming, most of the missing analysis can be remedied by using `package:pedantic`.

We could update the docs to let users know that `pub.dev` runs additional analysis (to minimize the surprise). But t

[2020-04-01 08:33] #2322 closed

[2020-04-01 08:34] jonasfj commented on #2322
Just to be clear, I fully acknowledge that the current situation is not ideal -- and that this is the underlying problem we should solve. Once we have a solution, we should document it.

[2020-04-01 15:15] sahniajay opened #2325 "Assert"
Page URL: https://dart.dev/guides/language/language-tour
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/language-tour.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-04-01 16:23] kwalrath commented on #2325
@sahniajay could you describe the issue? Thanks!

[2020-04-01 16:26] kwalrath opened #2326 "Update docs & SDK archive page to reflect the beta channel"
Once Dart has a beta channel, we'll need to update places that talk about stable & dev to also talk about beta. We'll also need to update the code in https://dart.dev/tools/sdk/archive.

For details on the beta channel, see https://github.com/dart-lang/sdk/issues/40687.

/cc @johnpryan

[2020-04-01 23:34] jessika opened #2327 "'Effective Dart' page issue"
Page URL: https://dart.dev/guides/language/effective-dart/style#do-capitalize-acronyms-and-abbreviations-longer-than-two-letters-like-words
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/effective-dart/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-04-01 23:37] jessika commented on #2327
Nevermind, "ID" is an "abbreviation" not an "acronym".

[2020-04-01 23:37] #2327 closed

[2020-04-02 07:45] sigurdm commented on #2290
The command itself claims to be documented at: https://dart.dev/tools/pub/cmd/pub-outdated it would be nice if that could be the real url :)

I know @mit-mit has written a bit about pub outdated in an internal document. Maybe it contains some useful details.

I'll also give you access to our original design doc.

[2020-04-03 10:53] athomas commented on #2326
Thanks for creating this issue!

Note that for chocolatey and homebrew, the beta channel will be distributed as separate packages.

Homebrew:
https://github.com/dart-lang/sdk/issues/40990#issuecomment-605957206
[code]

Chocolatey:
https://github.com/dart-lang/sdk/issues/40995 (not implemented, yet)
[code]

[2020-04-04 16:31] LeifRiemann opened #2329 "'Tutorials' page issue"
Page URL: https://dart.dev/tutorials/index
Page source: https://github.com/dart-lang/site-www/tree/master/src/_tutorials/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-04-04 22:37] peabnuts123 commented on #35
(Apologies for sleeping on this reply)

@jonasfj  Are you saying that this is ONLY the case when `<command>` is not a valid package name? That doesn't seem to be documented, and the documentation on the dart.dev site ([here](https://dart.dev/tools/pub/cmd/pub-run#running-a-script-in-your-packages-bin-directory)) gives the example `pub run foo` which _is_ a valid package name, and as a result does

[2020-04-06 01:10] workerbee22 opened #2330 "'Customizing static analysis' page issue"
Page URL: https://dart.dev/guides/language/analysis-options
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/analysis-options.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

Disabling Linter rules section is confusing. Two bullets given:

-Omit the dash (-)

[2020-04-06 01:56] domesticmouse commented on #2330
The core of this confusion is understanding `YAML`'s syntax, near as I can tell. It is a case of both are required because you are turning it from a list of values, into a map of token to booleans, near as I can tell. How should we change this to make more sense?

[2020-04-06 02:05] workerbee22 commented on #2330
Actually I suspect it is either OR, not both. Both currently throws Dart Analysis errors in AS. Also so does just removing the leading '-'.

So suggest:
1. Fix issues so that both syntaxes work.
2. Make clear that either syntax is permitted, but not BOTH
3. Syncronis the Enable and Disable lint rule example code to both use just one of these methods. Or provide two examples, each using one method

[2020-04-06 02:40] domesticmouse commented on #2330
Hey @bwilkerson and @pq, I'd love your input here. Thanks!

[2020-04-06 14:33] pq commented on #2330
Sadly, I think this is right and IIRC YAML out of the box isn't hospitable to a mixed syntax.

The most expedient thing here would likely be  improving the docs.  To that end this feels like a good suggestion me:

Sorry for the confusion @workerbee22!

[2020-04-06 14:55] bwilkerson commented on #2330
I think you're right, that the confusion is a result of YAML's syntax. Perhaps the best solution is to explain a little bit about how we're using YAML's syntax. Perhaps changing the current text to something like the following:

### Enabling individual rules

To enable a single linter rule, add `linter:` to the analysis options file as a top-level key, followed by `rules:` as a second-level key. O

[2020-04-06 17:50] kwalrath commented on #2329
Closing due to lack of description. If you add a description, we'll happily reopen this.

[2020-04-06 17:50] #2329 closed

[2020-04-07 02:33] amarendrajoshi opened #2331 "'Fixing common type problems' page issue"
Page URL: https://dart.dev/guides/language/sound-problems
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/sound-problems.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
error: A function body must be provided.

[2020-04-07 03:51] kwalrath commented on #2331
@amarendrajoshi could you give us more context? Thanks!

[2020-04-07 04:22] amarendrajoshi commented on #2331
Hi Kathy,

The said error was a result of improper bracketing in the code, kindly go through the below screen shots to know more. Sorry if this error don’t qualifies for consideration.

import 'package:flutter/material.dart';

void main(
  runApp(TempApp())
)

class TempApp extends StatelessWidget {
  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      title: '',
      h

[2020-04-07 06:35] cspok82 opened #2333 "Codelab: Intro to Dart for Java Developers - dart:math, not dart.math"
Codelab: Intro to Dart for Java Developers
Step 4: Create a factory
URL: https://google.dev/codelabs/from-java-to-dart?return=https%3A%2F%2Fgoogle.dev%2Fpathways%2Fbeta%2Fintro-to-flutter%3Fhl%3Den%23codelab-https%3A%2F%2Fgoogle.dev%2Fcodelabs%2Ffrom-java-to-dart&hl=en#3

Under the first Observations, third point:

- dart.math is one of Dart's core libraries. Other core libraries include dart:core

[2020-04-07 07:27] domesticmouse commented on #2333
Thanks for the report @cspok82!

Would you like to author a PR to fix it? =)

[2020-04-07 08:34] cspok82 commented on #2333
@domesticmouse I would love to. But I can't seem to find the file containing the issue. :(

[2020-04-07 18:50] javedabb opened #2334 "'Get the Dart SDK' page issue"
Page URL: https://dart.dev/get-dart.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/get-dart.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-04-07 18:50] javedabb opened #2335 "Dart"

[2020-04-07 21:19] domesticmouse commented on #2335
Please expand on what the issue is here, please?

[2020-04-07 21:20] #2334 closed

[2020-04-07 21:21] domesticmouse commented on #2333
Ahh, yeah codelabs. I got this. Thanks for the report!

[2020-04-07 22:24] domesticmouse commented on #2333
Shams, I added some suggested edits to the source for this codelab. =)

[2020-04-07 23:08] matanlurey opened #2337 "'Extension methods' implies "name" is required, but it is not"
Page URL: https://dart.dev/guides/language/extension-methods
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/extension-methods.md

Based on this page, it looks like the `<name>` is required, but based on the specification it is not.

For example, this is legal:

[code]

I wonder if this is worth noting, and if it is, if it worth noting if this implicit extension

[2020-04-07 23:21] sfshaza2 commented on #2333
Thanks, @kwalrath! @domesticmouse, Kathy owns that one now.  :)

[2020-04-08 00:19] kwalrath commented on #2333
I've fixed it and republished. Thanks for the report, @cspok82!

It's kind of amazing how long that little typo existed, unnoticed (or at least unreported).

[2020-04-08 00:20] kwalrath commented on #2337
iirc, we decided to always show the name because it's usually a bad idea not to include the name (even though that's allowed). @leafpetersen, do you recall?

[2020-04-08 00:22] #2333 closed

[2020-04-08 01:05] leafpetersen commented on #2337
I don't think it's a particularly bad idea to omit the name - we added that ability for a reason.  An extension without a name is private to the library it is defined in and is not visible anywhere else.  If you're using library private extensions, most of the time you don't need a name for the extension at all.   The only reasons you need a name for a local extension are if 1) you wanted to put a

[2020-04-08 15:25] jonasfj commented on #35
I think you're right.. I'm somewhat confused by `.dart` being automatically added when missing.
But that's no reason not to document how this works. That said, I'm not entirely show how we should phrase this..

Also users can just do `dart path/to/file.dart`, so I'm not sure there is a huge win in explaining that `pub run foo` can be used as a shorthand for `dart bin/foo.dart`.

[2020-04-08 16:29] srawlins opened #2338 "Analysis options page should document strict modes"
There are three strict analysis modes, `strict-raw-types`, `strict-inference`, and `strict-casts`. These should be documented at https://dart.dev/guides/language/analysis-options.

Summary:
* `strict-raw-types`:
  * since: 2.9.0
  * spec: https://github.com/dart-lang/language/blob/master/resources/type-system/strict-raw-types.md
* `strict-inference`:
  * since: 2.9.0
  * spec: https://github.com/d

[2020-04-08 17:39] kwalrath commented on #2337
In my hazy recollection, the desire to only show the named case might have come from making autocomplete work. Maybe. @filiph do you remember?

[2020-04-08 19:30] kwalrath commented on #1135
Just fixed this now.

[2020-04-08 19:30] #1135 closed

[2020-04-08 19:31] kwalrath commented on #2267
Just fixed this.

[2020-04-08 19:31] #2267 closed

[2020-04-08 21:09] filiph commented on #2337
Sorry, I can't remember. FWIW, in the video, I start with unnamed extensions, and only mention named extensions at the very end.

[2020-04-08 21:31] kwalrath commented on #2337
@mit-mit might remember. I looked at the PR (#2155) but there's nothing there.

iirc, if you don't specify a name, a default one is assigned, so technically no extension is unnamed — it just might not be explicitly named.

Anyhoo, let's wait until mit gets back from Danish holidays and can weigh in.

[2020-04-09 23:00] kwalrath commented on #2338
/cc @bwilkerson @pq

[2020-04-10 14:24] bwilkerson commented on #2338
I agree. I believe that we're now at a point where we can remove the documentation of the `strong-mode` option / section and replace it with the `language` options Sam mentioned.

@srawlins Just to confirm, are those the only two language options we plan to add at this point?

When we do this, we should be sure to update the characterization of the language options, which currently reads

I don't

[2020-04-10 16:00] srawlins commented on #2338
Unfortunately, I got strong pushback from prominent voices inside google that `implicit-casts: false` is still useful and should not be deprecated. We had a plan to replace this mode with `strict-casts`, which would be almost identical, except that casts from dynamic would be allowed, to match the Null Safety type system. Again, users were saying that `implicit-casts: false` is useful as is. Perha

[2020-04-10 16:14] bwilkerson commented on #2338
That would have been useful when it was proposed, but at this point, with Null Safety as close as I hope it is, I don't think doing this would add enough value.

That sounds good to me. I think it's reasonable to allow users to opt out of allowing implicit casts from dynamic.

In the meantime we can at least stop documenting the "strong-mode" options that have been replaced.

[2020-04-10 19:56] kwalrath commented on #1810
Looks like flutter/website#3262 has been resolved.

[2020-04-10 21:14] legalcodes commented on #1810
This  codelab uses gists, so IIRC in order to add testing we're also waiting for an update on https://github.com/dart-lang/dart-pad/issues/1120.

@RedBrogdon can you please advise?

[2020-04-10 22:50] kwalrath commented on #2335
Closing due to lack of detail.

[2020-04-10 22:50] #2335 closed

[2020-04-10 22:51] kwalrath commented on #2325
Closing due to lack of info.

[2020-04-10 22:51] #2325 closed

[2020-04-10 22:52] kwalrath commented on #2321
I'm going to close this, since it appears we shouldn't be documenting this flag on dart.dev.

[2020-04-10 22:52] #2321 closed

[2020-04-10 22:52] #2252 closed

[2020-04-10 22:53] #2217 closed

[2020-04-10 22:55] #1282 closed

[2020-04-10 22:57] kwalrath commented on #280
No movement on this, as far as I know.

[2020-04-10 22:57] #280 closed

[2020-04-10 23:00] kwalrath opened #2340 "Equality operator "code" is confusing"
See comments on #2328 for details.

[2020-04-11 00:37] VarunChilukuri opened #2341 "Icons in code editor cover the code underneath"
https://dart.dev/codelabs/async-await

In the code editor below the "Part 2: reportLogins()" section, there are two icons that cover the text underneath.  One is a "copy code" button and the other is the "full screen" button. They cover the text underneath (which is just commented code).

![Photo with error](https://user-images.githubusercontent.com/48163435/79031180-07c09480-7b6b-11ea-8edf-0f8d87

[2020-04-12 19:29] Konoshenko opened #2343 "Misprint"
<img width="693" alt="Screenshot 2020-04-12 at 22 26 47" src="https://user-images.githubusercontent.com/15077780/79077871-13e45780-7d0d-11ea-98fb-19240cf4fd58.png">

need change to
take(3)gets the next 3 values—2, 3, and **4**—in the values list literal.

https://codelabs.developers.google.com/codelabs/from-java-to-dart/#5

[2020-04-13 01:35] jifalops opened #2345 "Analyzer shows error when referring to named extension from within another extension"
![image](https://user-images.githubusercontent.com/826613/79085126-5013ba00-7d05-11ea-8761-6449abd02036.png)

Try using an extension override to specify the extension you want to to be chosen.dart(ambiguous_extension_member_access)

Removing the name, `AList`, fixes the error:

[code]

[2020-04-13 01:40] jifalops commented on #2345
wrong repo

[2020-04-13 01:40] #2345 closed

[2020-04-13 16:12] kwalrath commented on #2343
The values are `[1, 2, 3, 5, 10, 50]`, so "2, 3, and 5" is correct. If we changed the values to something less contiguous — e.g. 2, 4, 8, 16, 32 — would that be less confusing?

[2020-04-13 16:22] kwalrath commented on #2341
Dupe of https://github.com/dart-lang/dart-pad/issues/1381. I'm closing this, but thanks for letting us know that this is still a problem.

[2020-04-13 16:22] #2341 closed

[2020-04-13 17:41] srawlins opened #2346 "Customizing static analysis page should note that errors cannot be ignored in a file"
See: https://dart.dev/guides/language/analysis-options#suppressing-rules-for-a-file

As of [cr 140142](https://dart-review.googlesource.com/c/sdk/+/140142), errors cannot be suppressed via `// ignore:` or `// ignore_for_file:` comments. Warnings, hints, and lints still can.

The last releases in which errors can be suppressed are 2.7.2 (stable) and 2.8.0-dev.20.0 (dev).

I imagine we should add a

[2020-04-14 00:19] VarunChilukuri opened #2349 "Google Form not loading"
https://dart.dev/resources/dartpad-best-practices

at the bottom of the page, the google form doesn't load.

[2020-04-14 00:22] kwalrath commented on #2349
Hi, @VarunChilukuri. Can you give us some information about your browser? Is there anything in the console window?

[2020-04-14 13:17] mit-mit commented on #280
I believe this is accurately covered on https://dart.dev/guides/language/spec

[2020-04-14 13:47] mit-mit commented on #2337
Using a name *seems* more idiomatic to me, but not sure... @munificent is this something the style guide should cover?

[2020-04-14 14:09] VarunChilukuri commented on #2349
I am using chrome and I see the following:

![google form not loading](https://user-images.githubusercontent.com/48163435/79234125-d3352d00-7e37-11ea-8561-fcf96448a366.PNG)

The window loads for me but the actual form is not viewable

[2020-04-14 19:01] kwalrath commented on #2349
Oh wow, that's embarrassing. I'll talk to the survey creator.

[2020-04-14 19:49] kwalrath opened #2351 "Update get-dart"
Clarify that Flutter isn't just for mobile, and make the link to Flutter installation more obvious.

https://dart.dev/get-dart

[2020-04-14 22:28] kwalrath commented on #2349
I believe works now, so I'm closing this bug.

[2020-04-14 22:28] #2349 closed

[2020-04-14 22:29] kwalrath commented on #2349
Thank you very much, @VarunChilukuri, for letting us know about this!

[2020-04-14 23:36] kwalrath opened #2352 "Don't say DartPad auto-runs"
See dart-lang/dart-pad#1529.

The Java -> Dart codelab mentions this behavior. Other pages might, too.

[2020-04-15 00:13] kwalrath opened #2353 "Dart homepage console error"
https://groups.google.com/a/dartlang.org/d/msg/misc/LjbcekI-Ja4/124WwIyFBwAJ reports the following bug:

@johnpryan might you be able to diagnose this?

[2020-04-16 15:34] raslan3333 opened #2356 "dart2native, executable file is too large"
why is the executable file too large? 4.59 MB for 35 lines!

[2020-04-16 16:31] kwalrath commented on #2356
I'm going to close this issue because it belongs in https://github.com/dart-lang/sdk/issues. Could you please file an issue there with more details about the code you're compiling, your SDK version, and so on? Thank you!

[2020-04-16 16:32] #2356 closed

[2020-04-16 21:22] johnpryan opened #2357 "Add "extension" to keywords table in language tour"
We should add "extension" to the list of [keywords in the language tour](https://dart.dev/guides/language/language-tour#keywords)

cc: @kwalrath

[2020-04-16 23:58] #2357 closed

[2020-04-17 07:00] mit-mit opened #2360 "Document AOT size reduction via DWARF stack traces"
I believe this has now all landed, cc @sstrickl to confirm?  If so, can you @sstrickl work with @kwalrath to get some basic docs online for this?

Background: https://github.com/dart-lang/sdk/issues/35851, https://pub.dev/packages/native_stack_traces

[2020-04-17 07:01] mit-mit commented on #2360
Some ideas: Maybe we can add it on https://dart.dev/tools/dart2native, alternatively start a new AOT performance tuning page?

[2020-04-17 07:51] sstrickl commented on #2360
We can also start with some of the information in https://github.com/dart-lang/sdk/blob/master/runtime/docs/dwarf_stack_traces.md, though that predates pulling the translator out into the native_stack_traces package so would need updating to mention its use. It also includes technical details of the translator code in the latter half that should be dropped for this kind of documentation (it was or

[2020-04-17 11:39] mkustermann commented on #2360
I think for `dart2native` we might not want to advertise this too much:

  * any caught exception will have a stack trace that needs to be symbolized (on a server which writes exception stacks to a logging system, this might be really inconvenient)
  * size matters much less for desktop/server apps

On mobile (where the size really matters), flutter has their own commands which use this under the

[2020-04-17 18:51] raslan3333 commented on #2356
ok

[2020-04-17 20:08] Konoshenko commented on #2343
Sure

пн, 13 апр. 2020 г. в 19:13, Kathy Walrath <notifications@github.com>:

[2020-04-17 21:02] johnpryan commented on #2353
Yeah, I think this was introduced in https://github.com/dart-lang/site-www/pull/2115

[2020-04-20 22:28] kwalrath commented on #2130
It looks like we need to do this sooner rather than later: https://bugs.chromium.org/p/chromium/issues/detail?id=1016755#c3

[2020-04-20 23:35] munificent commented on #2337
Probably at some point, yes. But I don't think we have enough real-world usage to distill what the best practice is yet. Until then, it's reasonable to let people try different styles so we have enough genetic diversity to evolve to the optimal practice.

[2020-04-21 03:06] kwalrath commented on #2290
Along with the doc of `pub outdated`, we should document best practices for dependency management, which is probably a more invasive change. (A first draft of the proposed content is below.) Also, we should search for references to `pub upgrade`, and consider adding a reference to `pub outdated` and/or best practices.

Here's some dependency management text we can start with:

### Specifying your

[2020-04-21 06:41] sigurdm commented on #2290
Best practices might be a good idea.

A few minor suggestions:

Very much a nit, but I believe the algorithm is called PubGrub, and the solver implements that algorithm. Maybe we can write

In the last paragraph it seems natural to link to the pub outdated doc as a tool for keeping the dependencies up-to-date.

Somehow I feel that 'best practices' should repeat https://dart.dev/tools/pub/glossary#

[2020-04-21 22:23] #2351 closed

[2020-04-22 00:16] kwalrath opened #2367 "Clarify classes of keywords"
From [@eernstg](https://github.com/dart-lang/site-www/pull/2359#issuecomment-615265188) :

[2020-04-22 11:50] mit-mit commented on #2360
I see. Maybe this really belongs on flutter.dev then! cc @sfshaza2

[2020-04-22 15:19] sfshaza2 commented on #2360
I just searched the flutter.dev docs. I recently moved the [obfuscate page to flutter.dev](https://flutter.dev/docs/deployment/obfuscate) (from the wiki) and updated it (as of 1.16). It is the only place I can find where `flutter symbolize` is mentioned on the website. On the page for reducing app size, I only added info on the `--split-debug-info tag`.

If I'm understanding this correctly, it sou

[2020-04-23 11:44] mit-mit commented on #2360
No, this is primarily for mobile or any other platform where app size is important.

What this feature does is to use a much more compact format (DWARF) for encoding the code source mapping. This makes the app smaller, but also makes it much harder to read the stack traces. We then added flutter tooling to decode those stack traces.

From a use case point-of-view, this is unrelated to obfuscation.

[2020-04-23 19:36] kwalrath commented on #47
@munificent I'm not sure whether this issue should be closed. Would you mind taking a look at our latest (on dart.dev, or better yet in the staged version of #2332 at https://kw-staging-dartlang-2.firebaseapp.com/tools/pub/dependencies#version-constraints)?

[2020-04-23 19:38] kwalrath commented on #1806
Should I change the docs or close this?

[2020-04-23 19:41] kwalrath commented on #292
It seems this is still a bit controversial:

#2207
https://github.com/dart-lang/site-www/pull/2332/files/b55ada735c7bcea6c16a0c9385460e74a9d224d8#diff-56ed1d9a5e898e17130ab3002180103eR437
...

[2020-04-24 00:20] munificent commented on #47
I think we're good.

[2020-04-24 00:20] #47 closed

[2020-04-24 10:45] jonasfj commented on #1806
In:

We could add a small sentence like:

Please feel free reword, this phrasing is not the best :)

But don't think we necessarily must make huge deal out of explaining what `+build-metadata` is, or when it's appropriate to use. Or that it's preferable to avoid using `+build-metadata` because it can confuse some users. A single line saying that _to keep it simple_ it is _often preferable_ to avoi

[2020-04-25 03:16] farr64 opened #2370 "Typo in https://dart.dev/codelabs/async-await (Section: Why asynchronous code matters)"
Typo in https://dart.dev/codelabs/async-await

Section: Why asynchronous code matters

The "the" (which I highlighted in bold) is either superfluous or out of sequence:

In the next sections you’ll learn **the** about futures. . .

[2020-04-25 17:54] felangel opened #2371 "Clarify when to use Part directives"
Can you please clarify what is meant by:

[https://dart.dev/guides/libraries/create-library-packages#organizing-a-library-package](https://dart.dev/guides/libraries/create-library-packages#organizing-a-library-package)

It’s a bit unclear if part usage is discouraged in general or just in the context of library creation and if so it would be nice to elaborate on the rationale. Happy to open a PR t

[2020-04-27 15:54] kwalrath commented on #2370
Thanks for reporting this! If you'd like to fix it, you can click the doc icon at the upper right of the page.

[2020-04-27 15:58] kwalrath commented on #2371
My understanding is that `part` was an early language feature that fell out of common use, except in automatically generated code. Also, the relatively new extension feature can be used in some places where `part` used to be necessary.

Does that sound right, @kevmoo or @munificent? How can we clarify our guidance?

[2020-04-27 16:02] vipref opened #2374 "Compilation error In Step 4 of the "Intro to Dart for Java Developers""
The keyword 'extends' needs to be changed to 'implements' for all subclasses when the Shape class has a factory constructor else the code doesn't compile.

The error is below:

Error compiling to JavaScript:
main.dart:15:3:
Error: The superclass, 'Shape', has no unnamed constructor that takes no arguments.
  Circle(this.radius);
  ^^^^^^
Error: Compilation failed.

[2020-04-27 16:11] kwalrath commented on #2374
Thanks for the issue, @vipref. Could you tell me exactly where the affected code is? (URL + some nearby text) Thanks!

[2020-04-27 16:26] kevmoo commented on #2371
I don't think there is a lot of overlap between extension members and parts.

My suggested guidance: parts are useful for code generation or cases here
libraries have to be big and should be broken into files.

...but it's pretty rare when a library has to be big. There are many ways
to split things up...

On Mon, Apr 27, 2020 at 8:58 AM Kathy Walrath <notifications@github.com>
wrote:

[2020-04-27 17:15] kwalrath opened #2377 "Update pub.dev tab URLs"
Per the conversation at https://github.com/dart-lang/site-www/pull/2332#pullrequestreview-394558946, pub.dev package tabs will have prettier URLs soon. Once those URLs are implemented, we should use them. (Low priority because the old URLs will continue to work.)

[2020-04-27 22:06] munificent commented on #2371
I agree with Kevin. Maybe say:

[2020-04-27 22:41] felangel commented on #2371
Thanks @kevmoo and @munificent for the clarification! Is there some justification for avoiding parts outside of code generation? I feel there are cases where parts are still very useful. Take the following scenario for example:

[code]

We can define `Foo` and `Bar` alongside `MyClass` which is fine but might lead to a somewhat bloated file.

I find parts are useful for this sort of scenario becau

[2020-04-27 23:46] kwalrath commented on #292
I'm going to close this, because example apps are an exception to the rule

[2020-04-27 23:46] #292 closed

[2020-04-28 00:13] johnpryan commented on #2353
I'm not sure what's causing this, but it doesn't affect users. Search results for "YouTube iframe failed to execute postmessage on domwindow does not match the recipient window's origin" don't seem to agree on a solution.

[2020-04-28 00:13] #2353 closed

[2020-04-28 09:25] vipref commented on #2374
Will re-file with details

[2020-04-28 09:25] #2374 closed

[2020-04-28 14:05] SchmadenSchmuki opened #2380 "Explain variables within collections in 'Loops' page"
Page URL: https://dart.dev/language/loops
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/language-tour.md

Description of issue:

I had the unexpected behaviour of
[code]
not changing the values of the entries in my doubleList.
After that I read on stackoverflow that primitives will be passed by value.

Maybe this could be mentioned in the language tour, especi

[2020-04-28 14:50] jorgecoca commented on #2371
The case that @felangel described is what is being used in the [flutter_bloc IDE extensions](https://marketplace.visualstudio.com/items?itemName=FelixAngelov.bloc), and I personally like it a lot, since it makes the integration so much easier, and we do not need a barrel file just for the bloc (+ events and states).

[2020-04-28 15:22] kwalrath commented on #2312
https://github.com/dart-lang/pub/pull/2465/files#diff-7192e860ddb78fc60e6bb87a113e4535 proposes a link to a migration guide, perhaps at /null-safety/migration-guide.

[2020-04-28 17:52] kwalrath commented on #2380
Thanks for the feedback. I'll think about how/where we can make this clearer.

[2020-04-28 22:11] kwalrath commented on #2270
It's time to fix this build. I'll take a whack at it and call in reinforcements if necessary.

[2020-04-29 13:21] mit-mit commented on #2046
Closing as this seems to have been resolved:

<img width="528" alt="Screenshot 2020-04-29 at 15 21 09" src="https://user-images.githubusercontent.com/13644170/80600703-17761f00-8a2d-11ea-9a7b-bb858217c560.png">

[2020-04-29 17:00] kevmoo opened #2382 "'dart2js: Dart-to-JavaScript compiler' – replace IE w/ Edge"
Page URL: https://dart.dev/tools/dart2js.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/dart2js.md

Replace "Internet Explorer" with Edge

[2020-04-29 18:24] jamesderlin commented on #2046
It's certainly better now than it used to be, but the ordering still seems kind of weird.  Presumably ia32 and ia64 appear above ARMv7 and ARMv8 because most people downloading the SDK are downloading for an x86-based desktop, but by the same reasoning, x64 should be first.

[2020-04-30 16:22] kwalrath opened #2383 "Improve search pages & CSE"
From flutter/website#4000, here are some problems with the search pages on dart.dev & flutter.dev that we'd love some help with:

* ~~When the text field is empty on both /search & /search-all, it's too small. Fixed on dart.dev by #2741.~~
* It'd be nice to copy the search query from /search over to /search-all.
* We should probably tweak the ownership of the CSEs, so a role account is the owner i

[2020-04-30 21:08] Aayush-B commented on #2382
Hi,
I would like to work on this.

[2020-05-01 00:02] kwalrath commented on #2382
Fixed in #2384 by @Aayush-B. Thank you!

[2020-05-01 00:02] #2382 closed

[2020-05-01 00:54] kwalrath commented on #2270
I decided to add a beta channel instead of fixing the dev build. Fixing the dev build can wait until after 2.8 ships on stable channel.

[2020-05-01 04:00] ashrafalhamzy opened #2385 "'Get the Dart SDK' page issue"
Page URL: https://dart.dev/get-dart.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/get-dart.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-05-01 17:29] Samtfm commented on #2370
Looks like this has been fixed. The typo is no longer present on the live site.

[2020-05-01 17:38] farr64 commented on #2370
Yeah: I fixed it after Kathy's suggestion ;-)

Thanks. Closing this now.

[2020-05-01 17:38] #2370 closed

[2020-05-01 17:49] kwalrath commented on #2385
Closing due to lack of description. If you edit this issue to add info, I'll be happy to reopen it.

[2020-05-01 17:49] #2385 closed

[2020-05-01 19:46] SakhileMamba opened #2386 "pub.dev packages bookmarking"
Could you please kindly build functionality for logged in users on the pub.dev website to be able to bookmark their commonly used and favourite packages. 

This functionality will be highly appreciated. 

[2020-05-01 20:17] #2386 closed

[2020-05-02 02:13] joshuamwolfe commented on #2211
Have a few weeks till class restarts I’ll take a crack.

[2020-05-04 16:53] munificent commented on #2371
The main problems is that those part files:

* Share the same private scope as the library and all other parts.
* Can't contain their own imports.

So you don't get the benefits of being able to reason about each file independently. They are deeply intertwined. It only really lets you break your file into smaller files *textually* but not *conceptually*. In fact, it can end up *more* confusing bec

[2020-05-05 20:59] #2290 closed

[2020-05-05 20:59] #2207 closed

[2020-05-05 20:59] #1806 closed

[2020-05-06 15:34] kwalrath opened #2389 "Add date to SDK archive page?"
Page URL: https://dart.dev/tools/sdk/archive/
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/sdk/archive/index.md

https://flutter.dev/docs/development/tools/sdk/releases?tab=macos has dates for each release, which is handy (e.g. when updating wikipedia, or when deciding whether you should download the SDK again). It'd be nice to have release dates on the Dart page. We mi

[2020-05-06 15:41] sfshaza2 commented on #2389
I love that idea!

[2020-05-06 16:40] amitbar05 opened #2392 "one example wrong in Language Style"
In section [DO capitalize acronyms and abbreviations longer than two letters like words](https://dart.dev/guides/language/effective-dart/style#do-capitalize-acronyms-and-abbreviations-longer-than-two-letters-like-words)
You got a conflict between:
Good examples:
DB, Id
Bad examples:
Db, ID

Just need to change in good example the "Id" to "ID".

[2020-05-06 21:13] kwalrath commented on #2326
Fixed with #2362.

[2020-05-06 21:13] #2326 closed

[2020-05-06 22:07] #2346 closed

[2020-05-07 18:39] piegamesde opened #2396 "22ms for a "Hello world!" is not fast"
The language is advertised as being fast using this screenshot:

![image](https://user-images.githubusercontent.com/14054505/81331749-585fda80-90a2-11ea-82f3-6e3ec4bbfd19.png)

Game developer Jonathan Blow has made a [short thread](https://twitter.com/Jonathan_Blow/status/1258424476116508672) about this that explains why this isn't fast nor a good example.

I do understand the intention behind thi

[2020-05-07 20:49] kwalrath commented on #2396
Thanks for making sure we're aware of this, @piegamesde.

/cc @johnpryan @mit-mit @kevmoo @messi01

[2020-05-07 21:03] kwalrath commented on #2392
Ah, but ID is an abbreviation, not an acronym. It's covered by the following sentence:

[2020-05-07 21:03] #2392 closed

[2020-05-08 17:04] kwalrath opened #2397 "Add note about old release names?"
flutter.dev will soon have a note about the name change: flutter/website#4064. Should we, as well?

The relevant pages:
* https://dart.dev/get-dart
* https://dart.dev/tools/sdk/archive#download-urls

Also relevant is the PR that updated the pages and code for beta: #2363

/cc @mit-mit

[2020-05-08 18:31] kwalrath commented on #2238
Ah, yes, the example works in DartPad (as you can see by the embedded DartPad in that page), but that's because DartPad takes care of details like including the script tag.

We should probably link to the directions at https://dart.dev/tutorials/web/get-started and (somewhere) summarize how DartPad code differs from real app code.

[2020-05-10 19:45] minhajabbas opened #2398 "'Dart SDK archive' page issue"
Page URL: https://dart.dev/tools/sdk/archive/
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/sdk/archive/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-05-11 07:17] mit-mit commented on #2397
I *think* the changes on our end were pretty minor, and don't need a note?

[2020-05-11 16:00] #2397 closed

[2020-05-11 16:05] kwalrath commented on #2398
Closing due to lack of description.

[2020-05-11 16:05] #2398 closed

[2020-05-11 16:32] bobjoyce opened #2399 "Dart Codelab Sample shows XMLHttpRequest Error on line 1"
The Intro to Dart for Java Developers codelab Starting Shapes now shows an XMLHttpRequestError on line 1, even on the sample code.  This error did not occur 2 days ago (Saturday) on the same sample.  The error happens on both MacIntosh using Chrome (even after a restart) and on Windows.

![image](https://user-images.githubusercontent.com/804093/81586231-11a40600-936a-11ea-9cf8-424ff589a6d6.png)

[2020-05-11 23:51] domesticmouse commented on #2399
Duplicate of https://github.com/dart-lang/dart-pad/issues/1554. I believe this has been rectified by rolling restart of the backend compilation service

[2020-05-12 02:49] domesticmouse commented on #2330
I'm happy with @bwilkerson's text. @kwalrath do you want me to put into a PR?

[2020-05-12 08:23] misiurina opened #2400 "Blank embedded DartPads on codelab"
https://dart.dev/codelabs/async-await has all the embedded DartPads blank. No code there, copy and reset don't work. Probably an issue with the source.

[2020-05-12 19:14] kwalrath commented on #2330
Sure, if you're willing, that'd be great @domesticmouse!

[2020-05-12 19:16] kwalrath commented on #2400
It works for me, so I think you need to take a look at https://dart.dev/tools/dartpad/troubleshoot.

(There's a link to that up high in the page, but it's easy to miss. I'm not sure how I can make it more obvious without distracting the majority of people who have no problem with the DartPads.)

[2020-05-12 19:16] #2400 closed

[2020-05-13 01:01] bobjoyce opened #2401 "Dart Codelabs and Dartlab broken - XMLHttpRequest error and minify error"
In the Intro to Dart for Dart Developers, I click on Open the Scream example in DartPad. and I get the error Error loading gist 9bcb7dba6dca46e2a9dbfb300298461e.

In the Dart Cheatsheet lab, I got an error when I run some solutions (e.g. running the solution for getters and setters.  The error mentioned issues converting to javascript and minify.  I'd show the error but now I just get a blank scre

[2020-05-13 01:03] bobjoyce commented on #2399
Thanks, Brett.  That fixed the issue yesterday, but the same or a similar
issue now appears to be happening again.  I filed another issue.

Bob

On Mon, May 11, 2020 at 4:51 PM Brett Morgan <notifications@github.com>
wrote:

[2020-05-13 02:39] domesticmouse commented on #2399
Yup, this is a still ongoing issue as I figure out how to keep the backend sane and serving.

[2020-05-13 06:40] domesticmouse commented on #2401
I think I may have finally figured out the right ritual to placate the server gods. Closing this for now, but feel free to re-open if it goes sideways again. Or ping me on Twitter (same username).

[2020-05-13 16:28] #2401 closed

[2020-05-13 20:30] munificent opened #2402 "Remove "PREFER placing external 'package:' imports before other imports.""
I personally like the guideline, but we've never had automated tooling support for it and don't have any plans. I think the benefits of being able to easily automatically sort imports outweigh the benefits of seeing a package's own "package:" imports separately.

I think we should just remove the rule and let the previous rule cover all "package:" imports.

[2020-05-14 12:32] misiurina commented on #2400
It didn't work for me on two different devices, so I thought, there's a problem with the site. Thanks for the link and sorry for bothering you.

[2020-05-14 16:52] kwalrath commented on #2400
No worries, we want to know about possible outages! Is it working for you yet?

[2020-05-14 16:55] kwalrath commented on #2331
Since this isn't a type problem, I'm going to close this issue. But it does seem like something that IDEs/editors could be much more helpful with.

[2020-05-14 16:55] #2331 closed

[2020-05-14 22:27] pq commented on #2402
Unless I'm misunderstanding, I _think_ we do?

I believe that the sorting analysis server provides and you can call out to in IntelliJ via the Code Menu respects this ordering.

![image](https://user-images.githubusercontent.com/67586/81991446-1977da80-95f6-11ea-824e-fee5d3943ffb.png)

(fyi @scheglov)

Also as of really recently (https://github.com/dart-lang/sdk/commit/7fe16ba8125ccaa275dfb29bf029

[2020-05-15 04:27] domesticmouse commented on #2399
I think this is now mitigated, mostly. I still have a few 500s, now and then, but nothing like earlier in the week. Closing this out.

[2020-05-15 04:27] #2399 closed

[2020-05-15 06:50] dev-aentgs opened #2406 "Make left and right navs collapsible in Dart site"
Hi,
Please make the left and right navigation menus collapsible on the [documentation pages](https://dart.dev/guides/language/language-tour) . This will make reading experience better.

[2020-05-15 10:45] #573 closed

[2020-05-15 13:04] jonasfj opened #2408 "[discussion]: Tweak pubspec.lock recommendations"
See: https://dart.dev/guides/libraries/private-files#pubspeclock

**Today, we say:**

**I think, it would be better to say:** (_or something along these lines_)

**I _strongly_ think, it would be better to say:** (_or something along these lines_)

----------------

## Rationale for library packages recommendations

When developing a library package the `pubspec.lock` will not affect the package c

[2020-05-15 13:42] mit-mit commented on #2408
I just earlier today suggested to @kwalrath in email:

### for apps:

change:
[code]

to something like:
[code]

### for packages:

change:
[code]

to something like:
[code]

[2020-05-15 16:35] munificent commented on #2402
We have support for sorting imports, but (as far as I know) it doesn't separate out a package's own "package:" imports from "package:" imports of other packages. At least tidy_dart does not support that, and I think that's the one that is most widely used inside Google.

[2020-05-15 16:38] scheglov commented on #2402
The sorting in Analysis Server also does not separate package's own `package:` imports from other  `package:` imports.

[2020-05-15 17:34] pq commented on #2402
Ah, ok, cool.  Thanks!  In that case, bombs away :)

[2020-05-16 01:03] natebosch commented on #2408
"Ensures" is a strong word - there are other misconfigurations that could change this. I'd go with "This allows you to test your package..."

[2020-05-16 01:18] kwalrath opened #2412 "Add "What's new" page"
Maybe start with a "What's new on this site" section to dart.dev/docs, like flutter.dev/docs.

Then we can add a page like https://flutter.dev/docs/whats-new-archive.

This came up in the course of Effective Dart changes: #2404, #2405.

[2020-05-16 01:20] kwalrath commented on #2406
Could you clarify what you mean by _collapsible_? Is there a site you'd like us to emulate?

Thanks!

[2020-05-16 05:34] dev-aentgs commented on #2406
Hi,
Similar to this [oracle java documentation page](https://docs.oracle.com/en/java/javase/14/core/java-core-libraries1.html) .
Collapsible = show/hide feature

When we zoom-in 150% or more on dart.dev site, the navigation is hidden and a menu button is shown(Attaching screenshots for reference). Thought that while reading it would be better to have the ability to hide/collapse both left and righ

[2020-05-16 09:24] dev-aentgs opened #2413 "'Dart cheatsheet codelab' page issue"
Page URL: https://dart.dev/codelabs/dart-cheatsheet.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/codelabs/dart-cheatsheet.md

Description of issue:
dartpad doesn't show code snippet in [Conditional property access code example](https://dart.dev/codelabs/dart-cheatsheet#code-example-2)
![dart_codelab2](https://user-images.githubusercontent.com/65178249/82116143-119a7080-9

[2020-05-16 09:30] dev-aentgs commented on #2413
Code snippet appeared after refreshing the page.

[2020-05-16 09:30] #2413 closed

[2020-05-17 06:25] nnhhiilliisstt opened #2414 "Add dark mode for documentation page"

[2020-05-17 06:26] nnhhiilliisstt commented on #2412
can i work on this issue?

[2020-05-18 06:57] dev-aentgs opened #2418 "'Iterable collections' page issue"
Page URL: https://dart.dev/codelabs/iterables.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/codelabs/iterables.md

Description of issue:
Under Iterable [Example: Using first and last](https://dart.dev/codelabs/iterables#example-using-first-and-last)
Instead of `var iterable = ['Salad', 'Popcorn', 'Toast'];` it should be `Iterable iterable = <String>['Salad', 'Popcorn', 'T

[2020-05-18 07:07] domesticmouse commented on #2418
Type casting a `List` to a `List<String>` (which is what your suggested patch does) doesn't stop the use of indexing. The following code works:

[code]

The way to stop this, is to cast the `List` to a `Iterable`, like thus:

[code]

[2020-05-18 07:22] dev-aentgs commented on #2418
`Iterable iterable = <String>['Salad', 'Popcorn', 'Toast'];`
i mentioned this.

[2020-05-18 08:15] dev-aentgs opened #2419 "'Iterable collections' page issue skipWhile() explanation"
Page URL: https://dart.dev/codelabs/iterables.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/codelabs/iterables.md

Description of issue:

The explanation is little confusing and possibly misleading.  **_Note that the element that satisfies the predicate is also included._** is incorrect.
Elements for predicate true are skipped but **remaining collection of elements are re

[2020-05-18 08:40] dev-aentgs opened #2420 "'Iterable collections' page issue missing function in Exercise: Putting it all together"
Page URL: https://dart.dev/codelabs/iterables.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/codelabs/iterables.md

Description of issue:
In [Exercise: Putting it all together](https://dart.dev/codelabs/iterables#exercise-putting-it-all-together)  the `bool isValidEmailAddress(EmailAddress)` function is not provided.

[2020-05-18 10:29] dev-aentgs commented on #2420
`isValidEmailAddress(EmailAddress)` doesn't appear in (_ctrl + space_ ) autocomplete suggestions but it is provided internally.

[2020-05-18 10:29] #2420 closed

[2020-05-18 16:07] kwalrath commented on #2412
Thanks for volunteering, @nnhhiilliisstt! You're welcome to submit a PR, but be warned, it might be fiddly work because we'll want to set a good precedent for future changes.

[2020-05-18 16:10] nnhhiilliisstt commented on #2412
will try my best

[2020-05-18 17:06] kwalrath commented on #2414
Could you please elaborate?

[2020-05-18 17:13] nnhhiilliisstt commented on #2414
It's a feature request. I don't know anyone felt the need of it or, not but I think it would be nicer if @dart-lang team adds a 'Dark Mode' in the official documentation.

Thank you.

[2020-05-18 17:28] kwalrath commented on #2414
This would be a significant project, but an interesting one if anyone has the time to volunteer. If anyone's interested in mocking this up, let us know on this issue.

[2020-05-18 21:27] #2330 closed

[2020-05-18 22:07] kwalrath commented on #2324
Will the koans being developed by @RedBrogdon be sufficient to address this issue?

[2020-05-19 00:37] kwalrath opened #2421 "Codelab DartPads should inject code, not use gists"
To avoid possible GH rate limits during events that rely heavily on codelabs, we should use inject_embed.dart.js instead of gists to get source code into embedded DartPads.

It looks like we started to convert https://dart.dev/codelabs/async-await but didn't complete it.

* Example to follow: [cmdline get started tutorial](https://dart.dev/tutorials/server/get-started) ([source](https://github.com

[2020-05-19 06:50] mit-mit commented on #2324
Yup, that's exactly what this was meant to track

[2020-05-19 13:24] dev-aentgs opened #2422 "'Get started: command-line and server apps' page issue"
Page URL: https://dart.dev/tutorials/server/get-started
Page source: https://github.com/dart-lang/site-www/tree/master/src/_tutorials/server/get-started.md

Description of issue:
In [Compile for production](https://dart.dev/tutorials/server/get-started#8-compile-for-production) are the given instructions specific to **Mac/linux OS** ?
On **Windows** the compiled app wasn't executable until extensi

[2020-05-19 19:52] kwalrath commented on #2422
@kevmoo or @mit-mit do you know the answer to this?

[2020-05-19 20:25] kwalrath opened #2423 "Use num less often"
From @timsneath:

I suspect `num` might be overused in other areas of the site, as well.

[2020-05-19 23:33] kwalrath commented on #2312
Working on a PR now for a placeholder and redirect.

[2020-05-20 07:20] dev-aentgs opened #2426 "'Write command-line apps' page issue"
Page URL: https://dart.dev/tutorials/server/cmdline
Page source: https://github.com/dart-lang/site-www/tree/master/src/_tutorials/server/cmdline.md

Description of issue:
In [Overview of the dcat app code](https://dart.dev/tutorials/server/cmdline#overview-of-the-dcat-app-code)  and [Parsing command-line arguments](https://dart.dev/tutorials/server/cmdline#parsing-command-line-arguments)
why is ca

[2020-05-20 07:35] domesticmouse commented on #2426
If you look at the documentation for [`addFlag()`](https://pub.dev/documentation/args/latest/args/ArgParser/addFlag.html) you will see that it's return type is void, so utilising cascade allows the construction of the parser and adding a flag in a one liner.

The alternative would be to construct the parser on one line, and then set it on the following line, which I believe we have a lint check to

[2020-05-20 07:35] #2426 closed

[2020-05-20 09:09] jonasfj commented on #2408
Agreed. I often have a local `pubspec.lock` that is really old, because I forget to updated. But on travis I'll usually test against latest dependencies.

---------

I mostly care that we: Strongly recommend _application packages_ **do commit** `pubspec.lock`.
(to mitigate dependency changes between dev, test, QA and production deployments).

I argue in the rationale above that: for _library packa

[2020-05-20 10:47] lzhuor opened #2427 "Git URL in dependencies examples are not working"
Example given is using `git://` which causes error during `pub get` command:

[code]

![image](https://user-images.githubusercontent.com/14172220/82437597-429edc00-9aca-11ea-8848-4e2642dc4b39.png)

The correct one should be `git@git@github.com/XXX`

[2020-05-20 12:45] lukelima commented on #2211
hey @joshuamwolfe are you still doing it ? If not, can I be assigned to this issue ?

[2020-05-20 12:48] joshuamwolfe commented on #2211
I was not expecting to be accepted to springboard boot camp I don't have the time that I thought I did. Yes it can be reassigned.

[2020-05-20 12:49] lukelima commented on #2211
Thanks for reporting it, @joshuamwolfe  !

Hey @kwalrath ! Could you assign it to me ?

[2020-05-20 15:00] kwalrath commented on #2211
Done. Thank you for volunteering!

[2020-05-20 15:08] kwalrath commented on #2427
Thanks for the issue & PR, @lzhuor! I've asked an engineer to review the PR.

[2020-05-20 15:09] kwalrath commented on #2426
Thanks for the answer, @domesticmouse!

[2020-05-20 15:10] kwalrath commented on #2418
@dev-aentgs want to do a PR for this?

[2020-05-20 15:19] kwalrath opened #2429 "Remove unnecessary mentions of Observatory"
I found uses in two files:

[code]

The dart-devtools mention appears to still be valid, for now (it's output), but I should check whether the output is the same and whether there's a bug filed for that. The dart-vm mention should go, in favor of Dart DevTools, I think.

[2020-05-20 16:20] kevmoo commented on #2422
@mit-mit ?

[2020-05-20 19:36] mit-mit commented on #2422
Yes, `.exe` would be the appropriate extension on Windows. If you omit the `-o` flag, I believe it does that by default.

[2020-05-20 22:51] kwalrath opened #2431 "Update pub uploader output"
In a week or two, we expect the `pub uploader` output to change. The example text should be updated at that time.

Details:
https://github.com/dart-lang/site-www/pull/2395

/cc @jonasfj @isoos

[2020-05-20 23:37] #2423 closed

[2020-05-21 04:46] dev-aentgs commented on #2418
@kwalrath changes will be needed in example code given in embedded dartpad, not sure how to change those.

[2020-05-21 05:28] dev-aentgs commented on #2422
Thank you @mit-mit ,
Tried without `-o` flag
`PS E:\vscode-workspace\dart-commandl-ine\cli> dart2native .\bin\main.dart --verbose`
`Generating AOT kernel dill.`
`Generating AOT snapshot.`
`Generating executable.`
`Generated: e:\vscode-workspace\dart-commandl-ine\cli\bin\main.exe`

Executable was generated with the default name _`main.exe`_ from  `main.dart`
Couldn't find `flag` to set the name of

[2020-05-22 00:04] #2130 closed

[2020-05-22 04:40] dev-aentgs opened #2435 "Question - Write HTTP clients & servers"
Page URL: https://dart.dev/tutorials/server/httpserver
Page source: https://github.com/dart-lang/site-www/tree/master/src/_tutorials/server/httpserver.md

Question :
Are there updated versions of links given in [What next?](https://dart.dev/tutorials/server/httpserver#what-next)

Saw the warnings given on [github.io server codelab](https://dart-lang.github.io/server/codelab/) and the related [gith

[2020-05-22 09:33] dev-aentgs opened #2437 "'Add elements to the DOM' page issue"
Page URL: https://dart.dev/tutorials/web/low-level-html/add-elements
Page source: https://github.com/dart-lang/site-www/tree/master/src/_tutorials/web/low-level-html/add-elements.md

Description of issue:
It is mentioned in [Other resources](https://dart.dev/tutorials/web/low-level-html/add-elements#other-resources) that more info about DOM and CSS can be found in [Language tour](https://dart.dev/

[2020-05-22 09:50] dev-aentgs opened #2438 "'Remove DOM elements' page issue"
Page URL: https://dart.dev/tutorials/web/low-level-html/remove-elements
Page source: https://github.com/dart-lang/site-www/tree/master/src/_tutorials/web/low-level-html/remove-elements.md

Description of issue:
CSS `font-size `property to make text larger is missing in dartpad code.

**The code in dartpad**
`#to-do-list li:hover {
  color: red;
  cursor: pointer;
}`
**The code in explanation**
`#t

[2020-05-24 07:51] dark-chocolate opened #2439 "'Fixing common type problems' page issue"
Page URL: https://dart.dev/guides/language/sound-problems
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/sound-problems.md

### Description of issue:

Quoting the example of [Invalid casts](https://dart.dev/guides/language/sound-problems#invalid-casts)

[code]

If you pass `List<String>` to` assumeStrings()` method, it fails at runtime.

[code]

But documentati

[2020-05-24 14:42] dev-aentgs opened #2440 "'Effective Dart: Design' page"
Page URL: https://dart.dev/guides/language/effective-dart/design
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/effective-dart/design.md

Description:
[AVOID extending a class that isn’t intended to be subclassed.](https://dart.dev/guides/language/effective-dart/design#avoid-extending-a-class-that-isnt-intended-to-be-subclassed)
Dart doesn't allow `final` `clas

[2020-05-24 14:54] dev-aentgs commented on #2439
@dark-chocolate ,
When you specify list literal without `<String>`, the type is considered as dynamic.
`Uncaught Error: TypeError: Instance of 'JSArray<dynamic>': type 'JSArray<dynamic>' is not a subtype of type 'List<String>'`

Try this `assumeStrings(<String>['1','2']);`

[2020-05-25 02:42] rdnobrega commented on #1073
Hi, could you just tell us how to install it in another folder? Or update the site to do manual install by downloading sdk manually...

[2020-05-25 05:18] dev-aentgs opened #2441 "'Effective Dart: Design' page issue"
Page URL: https://dart.dev/guides/language/effective-dart/design
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/effective-dart/design.md

Description of issue:
In [design.md](https://github.com/dart-lang/site-www/blob/master/src/_guides/language/effective-dart/design.md), the text appears to be _strike through_  starting just before [Libraries section](https://

[2020-05-25 05:53] dark-chocolate commented on #2439
@dev-aentgs

Yes,` assumeStrings(<String>['1','2']);` worked.

But I don't understand one thing, when creating a list variable, it works but when directly using it in parameters, it fails.

[code]

[2020-05-25 06:17] dev-aentgs commented on #2439
@dark-chocolate ,
Not sure but I think the reason is that Dart type inference needs some context; either `initialization` or `explicit cast` to determine the correct `type` at runtime.

Reading through [effective dart](https://dart.dev/guides/language/effective-dart/design#avoid-redundant-type-arguments-on-generic-invocations) it states

`var things = Set();`
Here, since the variable has no type a

[2020-05-25 06:41] #2439 closed

[2020-05-25 07:01] domesticmouse commented on #2441
The [rendered version](https://dart.dev/guides/language/effective-dart/design) on dart.dev looks good to me. The markdown we are using isn't quite the same as GitHub markdown. Unfortunately markdown is underspecified.

[2020-05-25 07:01] #2441 closed

[2020-05-25 07:05] dev-aentgs commented on #2441
Yes rendered version is good.

[2020-05-26 11:37] mit-mit commented on #2422
@kwalrath I suggest we remove the `-o` part from this page

[2020-05-26 11:44] RayDarar opened #2442 "'Extension methods' page private/public information"
Page URL: https://dart.dev/guides/language/extension-methods
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/extension-methods.md

I think it is worth noticing that it's possible to create extension methods without naming it and that by doing so, it will make it "private". I can't come up with the application other than "local scoping" extension methods to the f

[2020-05-26 15:26] kwalrath commented on #1073
There's a whole nother page about installing manually.

[2020-05-26 16:32] rdnobrega commented on #1073
Well, losing control of what enters where in my computer is not what I expect to be a "novice" thing. Anyways, since you didn't point it anywhere, for anyone who got here for the same reason:
1. Download Dart and put the folder wherever you would like;
2. Add to PATH: "<dart directory>\bin".

[2020-05-26 16:59] natebosch opened #2444 "'Fixing common type problems' page issue"
Page URL: https://dart.dev/guides/language/sound-problems
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/sound-problems.md

https://dart.dev/guides/language/sound-problems#the-function-expression-type--isnt-of-type-

## Incorrect description

This should be "in Dart 2 using a parameter type other than `dynamic`". The current phrasing implies a probably with pas

[2020-05-26 18:20] kwalrath opened #2445 "Update Effective Dart for null safety"
Examples:
* Don't use `late final` for a local variable.
* Use `:` syntax in constructors when possible, rather than `late final`.

What other examples might we want?

/cc @munificent @mit-mit @johnpryan @kevmoo

[2020-05-26 18:25] kevmoo commented on #2445
It's more like **avoid** `late final` if it's not needed. It may be a subtle thing to communicate.

[2020-05-26 20:24] kwalrath commented on #2442
Thanks for making sure we knew about this, @RayDarar. We initially thought there wasn't a good use case for unnamed extensions, but it appears there might be. I'm going to close this in favor of #2337.

[2020-05-26 20:24] #2442 closed

[2020-05-26 20:36] kwalrath commented on #2440
Good question, but beyond the scope of the website. Maybe ask this on a Dart discussion group? https://dart.dev/community

[2020-05-26 20:36] #2440 closed

[2020-05-26 20:39] kwalrath commented on #2438
Thanks, @dev-aentgs! We need to make a pass through the pages that contain DartPads, auto-including code instead of using gists. I'll create a project for these changes and add this.

[2020-05-26 20:43] kwalrath commented on #2437
Thanks, @dev-aentgs! I think we should probably just remove this section unless there are other resources we want to point to.

[2020-05-26 20:50] kwalrath commented on #2435
Good question, @dev-aentgs. As you can probably tell, this page was written a long time ago.

@kevmoo & @mit-mit, what do you think we should do? Is this page still useful? If so, where should we point next? (https://pub.dev/packages/shelf? https://github.com/dart-lang/pub-dev? https://github.com/dart-lang/dart-services?)

[2020-05-26 20:52] domesticmouse commented on #2435
Fwiw, I referred to this page while building out my Flutter for macOS sample, so yes it is a useful page. No preferences on where next, however. =)

[2020-05-26 20:54] mit-mit commented on #2435
I definitely this this page is useful. I would link to all those three links you have [there](https://github.com/dart-lang/site-www/issues/2435#issuecomment-634271674) Kathy in 'What next'

[2020-05-26 22:22] jonasfj commented on #2427
I have no problems cloning:
[code]

On linux in a  clean docker image without any special configuration of my git client.

-----------
That said, it might be fine to improve the documentation by pointing out that any url that works with `git clone <url>` will do. And that the common forms for this on github is:
 * `git@github.com:munificent/kittens.git` for private repositories, and,
 * `https://g

[2020-05-26 23:21] kwalrath commented on #2418
Good point, @dev-aentgs. I'm converting the gists to be auto-included, but until then... I've forked the gist and pointed to the new code.

[2020-05-27 04:14] dev-aentgs commented on #2418
Thank you @kwalrath

[2020-05-27 04:18] dev-aentgs commented on #2438
Thank you @kwalrath

[2020-05-27 04:46] dev-aentgs commented on #2440
Thank you @kwalrath , asked on [dart-lang #987](https://github.com/dart-lang/language/issues/987)

[2020-05-27 06:40] domesticmouse commented on #2389
@mit-mit what is required to make this happen? I'm guessing the included html is generated during the release process somehow. =)

[2020-05-27 07:43] aembode opened #2450 "dead link of "Dart Language specification" in the observatory doc."
Hi

There is a dead link on one page of the documentation I was reading. Here below the necessary information to reach it :

Page : https://dart-lang.github.io/observatory/evaluate.html
Link title : Dart Language specification
Link address : https://dart-lang.github.io/docs/spec/

Regards,

Abd-El-Mannane

[2020-05-27 11:40] mit-mit commented on #2389
The Dart code we have actually contains support for getting the time stamps off of the SDK archive files. I tried extending the html so those are shown in the tables. But I don't think it's going to work well for us, as it looks like the time stamps are often off by a few days from what the [changelog](https://github.com/dart-lang/sdk/blob/master/CHANGELOG.md) has.

@athomas I suspect that's becau

[2020-05-27 11:42] jonasfj commented on #2431
This is scheduled for 28th, in either case, shipping the new messages a few days in advance is probably okay.
We're switching traffic gradually anyways, so there will be inconsistencies.

[2020-05-27 12:00] athomas commented on #2389
@mit-mit Depends on the channel, dev releases are typically released on the same day. Beta releases maybe, but stable releases usually have at least a 2 day gap from the release date. A better way would be to use the dates from the git tags, those are usually created just before the release is published. We could expand the promotion step to add another file to cloud storage that contains the publ

[2020-05-27 16:36] #2408 closed

[2020-05-27 17:04] kwalrath opened #2451 "Make sure guidance for using "as" is clear"
Details: https://github.com/dart-lang/linter/issues/2102

Some searchable terms that are related (so I can find this issue again): casting, type annotation, type promotion, upcasting, concepts

[2020-05-27 17:08] #2427 closed

[2020-05-27 20:02] kevmoo opened #2453 "'Publishing packages' – Publishing prereleases – should we demonstrate w/ -dev?"
Page URL: https://dart.dev/tools/pub/publishing#publishing-prereleases
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/pub/publishing.md

We tend to use `-dev` as a suffix for packages during development – only changing it before we publish. This makes it easy for someone looking at the source to understand the state of the package. See https://github.com/dart-lang/sdk/wik

[2020-05-27 21:55] #2437 closed

[2020-05-28 15:28] kwalrath opened #2456 "Clarify why Id is capitalized that way"
People keep thinking we've made a mistake, so I think we need to make the explanation harder to miss.

Related: #2455, #2392, #2053

[2020-05-28 21:08] #2194 closed

[2020-05-29 00:35] franklinyow commented on #2312
Can this be closed?

[2020-05-29 03:26] kwalrath commented on #2312
I think so. @mit-mit?

[2020-05-29 07:25] mit-mit commented on #2312
Yes, we are no longer blocked, closing

[2020-05-29 07:25] #2312 closed

[2020-05-29 07:32] mit-mit commented on #2453
I'm confused, because we have an internal team practice on a few packages, we now want to change our external guidance for how our customers should do it?

I like the current guidance; using `-dev` is aligned with the version numbers we use for the core SDK: https://dart.dev/get-dart#release-channels

Wouldn't it be simpler to change our internal practice to use something like `-unpublished`?

[2020-05-29 10:54] isoos opened #2458 "Split library tour into beginner and advanced guides"
It looks like parts of the library tour is more useful for beginners, while others are better consumed when somebody is more familiar with the language and the libraries. This may lead to frustrations (see longer thread around [here](https://gitter.im/dart-lang/TALK-general?at=5ed0282ff0b8a2053abd6b43)), and it seems that splitting the tour could reduce such frustrations.

[2020-05-29 15:19] jakemac53 commented on #2453
I don't think we need to be overly prescriptive here, I would definitely not add a warning or error to pub.

Given that we are going to start publishing pre-release versions then I agree with @mit-mit that we should reconsider how we are managing the "in progress" versions as the current `-dev` strategy would become confusing I think.

[2020-05-29 17:09] kwalrath commented on #2458
It looks like the discussion refers to the library tour, right?

[2020-05-29 17:11] isoos commented on #2458
Ah, I'm sorry I meant Library tour.

[2020-05-29 17:13] kwalrath commented on #2458
It looks like maybe we should remove the Iteration section from https://dart.dev/guides/libraries/library-tour#utility-classes. Also, we should point to the (relatively new) [iterable collections codelab](https://dart.dev/codelabs/iterables). In fact, I should do a pass through both the tours to point to codelabs as appropriate.

[2020-05-29 20:16] kevmoo commented on #2453
I'm fine going either way – just pushing for consistency here.

A lot of folks follow along w/ our repos and assume we're always using best practices.

[2020-05-29 20:16] kevmoo commented on #2453
Didn't mean to close!

[2020-05-30 11:30] hjlp20150803 opened #2460 "'Troubleshooting pub' page issue"
Page URL: https://dart.dev/tools/pub/troubleshoot
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/pub/troubleshoot.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
It still stays on old version, what's wrong

[code]

[2020-06-01 02:23] #2460 closed

[2020-06-01 22:02] #2422 closed

[2020-06-01 23:54] #2418 closed

[2020-06-02 00:57] nosmirck opened #2461 "Comparing Generics doesn't work with Collections"
When trying to Compare Generics with types, it works as expected, example:

[code]

But when comparing with other types like List<int> it breaks.

[code]

With the following Errors:

[code]

[2020-06-02 01:22] kwalrath commented on #2461
@leafpetersen should this work?

[2020-06-02 05:15] leafpetersen commented on #2461
No.  This is a parsing restriction that goes back to Dart 1.  You can't use `List<T>` (or other generic class instantiations) as a type Object.  You can work around this parsing restriction by defining a function `Type typeObject<T>() => T` and comparing `T == typeObject<T>()`.

[2020-06-02 08:20] nosmirck commented on #2461
@leafpetersen thank you very much! That worked!

I managed to work around it in a naive way doing:
`if(<int>[] is T) print('foo got a List of int');`

But your solution is much better!!

Sadly, I can't use it as I originally intended using a switch statement like this (can't use mine neither):

[code]

Because switch statements must have cases that resolve to const (either directly or a returned i

[2020-06-02 08:21] #2461 closed

[2020-06-03 23:24] kwalrath opened #2465 "Auto-include codelab exercise code"
The [async-await codelab](https://dart.dev/codelabs/async-await) has 3 exercises (embedded DartPads with not only the main code, but also solutions, tests, and hints). Unlike the page's 5 examples (embedded DartPads with only main code), the exercises can't have auto-included code. Auto-including the exercise code would enable analysis at the least; testing should be possible too.

Enabling auto-i

[2020-06-04 16:11] kwalrath opened #2468 "Followup changes for new /tools/experiment-flags page"
As a followup to #2467, we should add that page to the sidenav and any other relevant page indexes. We might also add a version note about when `pub run` started supporting `--enable-experiment`.

Also, we should probably add that flag to the command pages (e.g. pub, dart).

[2020-06-04 19:18] jamesderlin opened #2469 "`yield*` is not well documented"
https://github.com/dart-lang/site-www/pull/510 added `yield*` to the language tour, but it just says:

without is a bit vague and doesn't explain *what* `yield*` actually does.

The old [Dart Language Asynchrony Support: Phase 2](https://web.archive.org/web/20180102202033/https://www.dartlang.org/articles/language/beyond-async) article had a more thorough explanation, and I can't find any counterp

[2020-06-04 21:37] johnpryan commented on #2465
Not sure what the code excerpter supports, but we need it to support code like this:

[code]

[2020-06-04 21:39] kwalrath commented on #2465
We often also have a hint... which might or might not be auto-included, but which needs to be in the same code block.

[2020-06-04 23:38] johnpryan commented on #2465
We could also to add a feature to the inject script that combines snippets. Then the code excerpter could be used without any modifications.

For example:

[code]

The script could combine these into a single DartPad based on the `ga_id` or maybe that they're right after each other. I don't think this would be a breaking change if we make sure they've specified a `file` value.

[2020-06-05 00:25] kwalrath commented on #2465
It'd be nice if we didn't have to specify all the same info for all of them if they're adjacent; less prone to error. Something closer to this (although adding `run-dartpad:` wouldn't be so bad):

[code]

[2020-06-05 01:53] kwalrath commented on #2216
We've removed the dev instructions from this page (favoring the SDK archive instead), so I'm closing this.

[2020-06-05 01:53] #2216 closed

[2020-06-06 00:07] kwalrath opened #2472 "New favicon isn't showing up"
The dart.dev favicon should look exactly like the pub.dev favicon, as of #2470. I'm not seeing that. :(

Looking at the page source, it's from https://dart.dev/assets/shared/dart/icon/64.png, which looks like the old icon. I thought it'd be updated when I took on the new site-shared, where I updated [the icon](https://github.com/dart-lang/site-shared/blob/master/src/_assets/image/dart/logo/64.png)

[2020-06-06 01:08] chalin commented on #2472
AFAICT you did the update correctly. If I build and serve locally from master@HEAD I get the right icon. I checked Travis: the master build of #2470 succeeded and it also deployed successfully (and it's using the right version of site-shared).

After all that, the only thing that comes to mind is to delete Travis caches and trigger a rebuild on the latest non-cron master-branch build.

[2020-06-06 01:13] kwalrath commented on #2472
Thank you, @chalin! I'll try deleting those Travis caches.

[2020-06-07 09:01] 01abhishekjain opened #2474 "'Debugging Dart web apps' page issue"
Page URL: https://dart.dev/web/debugging.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/web/debugging.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
This document should also mention how to automatically break at start of user script, similar to node's `--inspect-brk`

[2020-06-07 17:33] Mahmud-CSE16 opened #2476 "How to convert string to raw string in dart"
I want to convert an existing string to raw string.

like,
String s = "Hello \n World"

I want to convert this s variable to raw string(I want to print exact  "Hello \n Wrold")

Thanks

[2020-06-08 13:47] pq commented on #2402
Is this  done?

[2020-06-08 14:09] kwalrath commented on #2474
@grouma can you tell us how you'd automatically break? thanks!

[2020-06-08 14:14] kwalrath commented on #2476
I don't know the answer, offhand. Have you tried https://stackoverflow.com/tags/dart?

[2020-06-08 17:54] #2474 closed

[2020-06-08 20:44] Mahmud-CSE16 commented on #2476
yes but i can not get any answer. I need backslash(\) in output. I am trying to fetch string value from rest api. it have bunch of mathjax(latex) formula containing backslash.

[2020-06-08 20:46] domesticmouse commented on #2476
@Mahmud-CSE16 can you link to your StackOverflow question?

[2020-06-08 20:54] Mahmud-CSE16 commented on #2476
there have similar question but answer is not clear.
I ask the question in my way.
**here is the link:**
[https://stackoverflow.com/questions/62270974/how-to-convert-string-to-raw-sting-in-dart](https://stackoverflow.com/questions/62270974/how-to-convert-string-to-raw-sting-in-dart)

[2020-06-09 00:24] kwalrath commented on #2476
I'm going to close this, since it looks like your question is being answered on StackOverflow.

[2020-06-09 00:24] #2476 closed

[2020-06-09 16:10] kwalrath commented on #2402
Fixed by #2405.

[2020-06-09 16:10] #2402 closed

[2020-06-10 08:04] AAAbramenko opened #2478 "Add IIFE description"
Page URL: https://dart.dev/guides/language/language-tour
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/language-tour.md

Add info/description about Dart IIFE (immediately invoked function expression) support.
Learned about it from [here](https://medium.com/dartlang/3-cool-dart-patterns-6d8d9d3d8fb8).

[2020-06-10 09:23] nathan-king commented on #2211
Hey @kwalrath, I can get this done if still open :)

[2020-06-12 22:11] franklinyow commented on #2324
Ready to close?

[2020-06-12 22:18] kwalrath commented on #2324
Yes, this is fixed by the **Learn with Snippets!** code samples in https://nullsafety.dartpad.dev.

[2020-06-12 22:18] #2324 closed

[2020-06-13 16:01] vgazioglu opened #2483 "'Iterable collections' page issue"
Page URL: https://dart.dev/codelabs/iterables.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/codelabs/iterables.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

![image](https://user-images.githubusercontent.com/61664410/84573281-414e8f80-ada8-11ea-8fdf-90613811aabb.pn

[2020-06-13 16:34] vgazioglu opened #2484 "Bad URL in server homepage"
Page URL: https://dart.dev/server/
Page source: https://github.com/dart-lang/site-www/tree/master/src/server/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

gRPC Quicstart HTML link is wrong. Must be

https://grpc.io/docs/languages/dart/quickstart/
not
https://grpc.io/docs/languages/dar

[2020-06-15 08:14] mit-mit opened #2485 "Document the new `Never` type"
As part of the wider null safety changes, Dart 2.9 has a new type, `Never`. This can be used as a return type:

  *  `void foo() {}`: A function which usually returns normally, but doesn't return a (meaningful) result

  *   `Never foo() {}`: A function which returns abnormally (e.g. throws or runs an infinite loop), e.g. the `exit()` function.

[2020-06-15 15:06] mit-mit commented on #2485
https://dart.dev/guides/language/sound-dart would be a good place for this

[2020-06-15 21:23] kwalrath commented on #2485
We might want to at least mention this somewhere in the language tour, as well.

[2020-06-15 21:24] kwalrath commented on #2484
Thank you, @vgazioglu! This should be easy to fix by editing the page source in the GitHub UI. Any takers?

[2020-06-15 21:29] kwalrath commented on #2483
Is the issue that when you go to the Solution tab and press Run, you get an exception?

I think that's a DartPad UI issue, since it runs the code that's in the Dart tab, not the code that's in the Solution tab. (I think that's confusing and should be fixed!) If you copy the code from the Solution tab to the Dart tab, the tests pass.

I'm going to close this as a duplicate of https://github.com/dar

[2020-06-15 21:29] #2483 closed

[2020-06-15 22:21] kwalrath commented on #2485
Discussion: https://groups.google.com/a/dartlang.org/d/topic/misc/-LQkbzJIj04/discussion

[2020-06-15 23:19] natebosch opened #2487 "Effective Dart should more strongly point away from `dynamic` arguments"
https://dart.dev/guides/language/effective-dart/design#do-annotate-with-object-instead-of-dynamic-to-indicate-any-object-is-allowed

Usage has shifted since this was written. It is now more common to take `Object` for the "try to act like a type union" case. `dynamic` is reserved for when you do want runtime dynamic behavior.

This guideline should say to prefer `Object` always, not exclusively fo

[2020-06-16 18:13] nyvasilev11 commented on #2484
I wanna give a try on this.

[2020-06-16 20:15] Lilymage commented on #2484
Hi, I tried my first PR on this!
#eff53ef

[2020-06-16 23:28] kwalrath commented on #2484
Cool! Just to make sure you know, you can edit this file in the page source without even creating a local version of the site-www repo.

(Not that there's anything wrong with having the whole repo... but it isn't necessary for this typo fix.)

[2020-06-18 09:36] Lilymage commented on #2484
Hmm, I tried editing the page by clicking on the little pencil, but I got this note :
" You’re making changes in a project you don’t have write access to. Submitting a change will write it to a new branch in your fork Lilymage/site-www, so you can send a pull request. "
Is there something I am not doing right ?

[2020-06-18 17:31] kwalrath commented on #2484
Nope, you're doing it exactly right. Keep going!!

[2020-06-19 08:41] Mihir-Bhasin commented on #2484
can I also help in this

[2020-06-19 09:16] Lilymage commented on #2484
I changed the link in my repo and made a PR #2489 :)

[2020-06-19 14:46] #2484 closed

[2020-06-19 14:47] kwalrath commented on #2484
@Lilymage already fixed this one, but you're welcome to make other doc fixes, @Mihir-Bhasin!

[2020-06-19 17:22] Mihir-Bhasin commented on #2484
Ok my pleasure thank you

On Fri, Jun 19, 2020, 8:18 PM Kathy Walrath <notifications@github.com>
wrote:

[2020-06-19 18:33] devvercer commented on #1263
I cannot find documentation anywhere about what the library name is used for.  The library is imported using its file name (not the library name).  It looks like it is used for resolving deferred imports.  What else?  This should be documented!

[2020-06-21 13:33] jonny7737 opened #2490 "'Asynchronous programming: futures, async, await' page issue"
Page URL: https://dart.dev/codelabs/async-await.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/codelabs/async-await.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
No code in dartpad windows.  All controlls are visible and seemingly functional.  All I see is a cursor o

[2020-06-22 17:51] kwalrath commented on #2490
Hi, @jonny7737. Did you try the DartPad troubleshooting tips at https://dart.dev/tools/dartpad/troubleshoot? There's a link to them in the blue box at the top of the page, but it's easy to miss.

This issue is possibly related to https://github.com/dart-lang/dart-pad/issues/1237.

[2020-06-23 08:37] mit-mit commented on #2360
@sfshaza2 is this still 'needs information'?

[2020-06-23 17:34] sfshaza2 commented on #2360
I don't think so. It sounds like we can get what we need from engineering.

[2020-06-23 18:04] kwalrath commented on #2360
I'll close this and create a flutter/website issue.

[2020-06-23 18:04] #2360 closed

[2020-06-23 20:38] kwalrath commented on #1713
It looks like it's passing the test now, and the gist was updated 11/2019.

[2020-06-23 20:38] #1713 closed

[2020-06-24 03:28] kwalrath commented on #2465
The dart-cheatsheet codelab is a heavy user of exercises. (See #2491)

[2020-06-24 17:07] escamoteur opened #2493 "Add information about lazy initialization of global and static variables"
It would be nice to add some words to the language tour about the fact that global and static variables are initialized lazy,

[2020-06-24 22:03] kwalrath commented on #2493
@leafpetersen wdyt?

[2020-06-26 01:59] kwalrath opened #2496 "Recommend relative paths for inside-package imports"
See https://github.com/flutter/samples/pull/463#discussion_r439219534 for details.

[2020-06-29 08:46] wdodsalman opened #2498 "good"

[2020-06-29 20:07] bwilkerson commented on #1892
There are new docs ready to be published whenever you can do so.

[2020-06-29 21:20] kwalrath commented on #2498
I'm hoping this is a compliment for the site. 😄

[2020-06-29 21:20] #2498 closed

[2020-06-29 23:06] kwalrath opened #2501 "Fix type for Future in sample"
Details: https://github.com/dart-lang/site-www/pull/2500#pullrequestreview-439513930

[2020-06-29 23:53] kwalrath opened #2502 "Should be easier to see highlights in code"
I don't know when this happened, but I no longer notice highlighted code because the yellow highlight is too close to the grey background. Here's an example from https://dart.dev/tools/diagnostic-messages#abstract_super_member_reference:

![image](https://user-images.githubusercontent.com/2164483/86067001-920cec00-ba28-11ea-9b69-124b9d36f98d.png)

In line 5, the second to last character is highlig

[2020-06-30 03:55] habeckmatt commented on #2502
Hey, is this up for grabs?

[2020-06-30 08:48] zeyadsharo opened #2505 "'dart (Dart VM)' page issue"
$ flutter new app
Setting VM flags failed: Unrecognized flags: disable-dart-dev
![image](https://user-images.githubusercontent.com/33178745/86105318-dac7b200-bac7-11ea-99ab-a3f5d32584bc.png)

[2020-06-30 10:29] zeyadsharo commented on #2505
#

[2020-06-30 17:17] kwalrath commented on #2502
Yes! Consider it yours!

[2020-06-30 17:18] kwalrath commented on #2502
Oh wait... looks like someone else has already grabbed it, @habeckmatt. :) Let me take a look at @doctorbracewell's work.

[2020-06-30 19:34] DoctorBracewell commented on #2502
Oh! Sorry @habeckmatt , I don't know how I missed your comment. Sorry :(.
It was actually in dart-lang/site-shard, check https://github.com/dart-lang/site-shared/pull/120

[2020-06-30 22:56] domesticmouse commented on #2505
Hey @zeyadsharo, I'm guessing you are attempting to run flutter under [MINGW64](http://mingw-w64.org/doku.php)?

[2020-07-01 16:18] kwalrath commented on #2487
@munificent what do you say?

[2020-07-01 17:39] #1892 closed

[2020-07-01 20:29] #2501 closed

[2020-07-01 23:01] kwalrath commented on #2421
Closing because all the codelabs now use embedded code, rather than gist-backed DartPads (dartpad-embed). Some details:

* Use this command to search for gist-backed DartPads: `fgrep -Rl {{site.dartpad-embed src`
* The `site.dartpad-embed*` macros are defined in `_config.yml`.
* src/codelabs/async-await.md still has code for gist-backed DartPads, but it's commented out.
* The following pages still

[2020-07-01 23:01] #2421 closed

[2020-07-01 23:06] kwalrath commented on #2352
I've fixed the Java -> Dart codelab. I couldn't find any other occurrences.

[2020-07-01 23:06] #2352 closed

[2020-07-03 21:38] zeyadsharo commented on #2505
i don't know but i tried to use flutter web i gets this issue