[2021-10-14 06:59] domesticmouse commented on #3628
No, Dart doesn't have a concept of a classpath, nor does it have WAR files. Dart's command line experience is closer to that of Python or Node.js than to that of Java. The current working directory for an application is the directory in which the executable is launched.

With that said, I think we could be clearer [here](https://dart.dev/tutorials/server/cmdline#running-dcat) and spell out downloa

[2021-10-14 13:28] #3621 closed, assigned to parlough

[2021-10-15 17:52] johnpryan opened #3629 "Add security policy exception for dartpad.dev"
### Describe the problem

Loading dart.dev from a DartPad snippet using url_launcher causes a CORS issue: https://github.com/dart-lang/dart-pad/issues/2038.

### Expected fix

Could we add an exception to the security policies that were added in https://github.com/dart-lang/site-www/pull/3540?

### Additional context

- https://github.com/dart-lang/dart-pad/issues/2038
- https://github.com/flutter

[2021-10-15 19:59] #3623 closed, assigned to lkmandy

[2021-10-15 23:34] drkcode opened #3630 "DartPad erros message and info messages"
### Describe the problem

![Screenshot_20211015-202625](https://user-images.githubusercontent.com/49912598/137564295-819e7c3f-7632-4a09-98fa-add6c621fbe5.png)

Need a hide/show button for mobile version, cuz it takes almost entire view. (Sorry if dont speak english very well, I m still learning)
 Ty

### Expected fix

_No response_

### Additional context

_No response_

[2021-10-16 00:07] parlough commented on #3630
Thanks for opening an issue @drkcode!

As a note, this GitHub repository is for work on the Dart website (dart.dev), you can find the repository for DartPad at [https://github.com/dart-lang/dart-pad](https://github.com/dart-lang/dart-pad). You will likely get more help if you create an issue there instead. Perhaps @johnpryan can add on to this issue or move this issue there for you if you don't ge

[2021-10-16 14:43] Semik007 opened #3631 "[PAGE ISSUE]: 'Dart SDK archive'"
### Page URL

https://dart.dev/get-dart/archive/

### Page source

https://github.com/dart-lang/site-www/tree/master/src/get-dart/archive/index.md

### Describe the problem

The <select> tag doesn't work. I can not select a version to download the archive.

Screenshot:
[https://radikal.ru/lfp/a.radikal.ru/a01/2110/36/be73b77c22c7.png/htm](url)

### Expected fix

_No response_

### Additional conte

[2021-10-17 22:59] parlough commented on #3631
Hey @Semik007, thanks for opening an issue.

For some reason the link leads me to a a site where it cannot find the image file. Could you include the image directly here within GitHub? Also, if any errors show up in the console, that would be super useful to include as well. Thanks so much!

[2021-10-18 19:32] iarunr opened #3634 "DartPad Null Safety"
Dartpad null safety is turned ON by default, so the primary code won't work unless you turn it off ( the int values can't be null, must be initialized ).
it may create ambiguity in first-time coders.

**Suggestion**
either add a note to turn null safety off or change the primary code with default

[2021-10-18 20:38] #3628 closed

[2021-10-19 06:37] iarunr commented on #3634
codelabs link :
https://codelabs.developers.google.com/codelabs/from-java-to-dart/#1

By primary code, I mean the starting code itself.

class Bicycle {
  int cadence;
  int speed;
  int gear;
}

void main() {

}

There must be a notable indication to show this will through null safety error its ok at this point we will sort it out in the next steps.
now it is mentioned as an observation in the 5t

[2021-10-19 15:23] kwalrath commented on #3577
I think that's OK. This is the place where I'll see it, and that's the place where SDK engineers will see it.

[2021-10-20 20:18] parlough opened #3635 "From Java to Dart Codelab mentions dartfmt"
The [Java to Dart Codelab](https://codelabs.developers.google.com/codelabs/from-java-to-dart#1) mentions `dartfmt` in a few places and links to the old dartfmt link.

These mentions should be updated to `dart format` and link to https://dart.dev/tools/dart-format instead.

[2021-10-22 03:51] #3635 closed

[2021-10-22 04:00] domesticmouse commented on #3634
I'm pulling the error observation to first in the list, and bolding the word error.

[2021-10-24 00:43] parlough commented on #3631
Hey @Semik007, thanks so much for helping me access the image. I included it in your response for others to see as well.

Taking a look, this issue is likely due to the JavaScript failing to load or run since that is how we retrieve the builds for the archive page. Do you have JavaScript disabled for your entire browser or the site? If not, can you include the text or an image of any errors in the

[2021-10-24 00:59] parlough opened #3636 "Browser tests are failing"
### Describe the problem

The latest release of `test_api` is causing timeouts for Chrome: https://github.com/dart-lang/test/issues/1620

### Expected fix

Temporarily restrict `test_api` dependency to `">=0.4.0 <0.4.6"` and make sure to remove restriction when fix is released.

### Additional context

_No response_

[2021-10-25 14:52] parlough opened #3642 "Revert test_api dependency restriction once timeout issue is fixed"
### Describe the problem

Due to browser test time outs, we had to restrict the version of the test_api dependency in https://github.com/dart-lang/site-www/pull/3637. We should move these restrictions when able to.

### Expected fix

Once a fix is released for https://github.com/dart-lang/test/issues/1620, revert the changes in https://github.com/dart-lang/site-www/pull/3637. Consider limiting the

[2021-10-25 20:33] #3642 closed, assigned to parlough

[2021-10-28 19:47] parlough opened #3644 "Investigate verifying Firebase redirects are sorted and unduplicated"
### Describe the problem

For readability and editing purposes, it is helpful for the firebase.json redirects to be sorted. This has become even more clear with https://github.com/flutter/website/pull/6397 which identified a repeated go link leading to different sources, which can be a larger problem that is easier to notice when sorted.

### Expected fix

Investigate adding a CI check to verify t

[2021-11-02 01:32] kwalrath opened #3650 "Add page about understanding error and warning messages"
### What information is missing?

@bwilkerson wrote a [blog post about diagnostic messages](https://medium.com/dartlang/dart-diagnostic-messages-ae302aa398e8). @mit-mit would like the post's content summarized in its own page on this site, under the **Static analysis** topic (probably above **Customizing static analysis**).

### How would you like us to fix this problem?

_No response_

[2021-11-02 04:28] parlough commented on #3629
I've been trying to test various solutions to these problems, but I'm having trouble identifying a great one.

I believe the primary CORS policy issue occurred before my changes, at least after reverting that and testing it. Since [`access-control-allow-origin`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin) cannot be set for multiple origins without checkin

[2021-11-02 04:32] parlough commented on #3650
I think the suggested position in the menu makes sense. :+1:

Just as a note, this would be great to link to from https://dart.dev/tools/diagnostic-messages as well but that would have to be done on the SDK side.

[2021-11-03 00:32] kwalrath commented on #3629
Oh, just saw this. So... #3638 is only a partial fix?

[2021-11-03 06:25] parlough commented on #3629
Yeah there's multiple issues at play here. The primary one being the CORS one relating to access-control-allow-origin.

That PR follows guidelines to switch to a newer style while adding support for DartPad as an ancestor but these other issues prevent any noticeable benefit.

[2021-11-03 15:11] vanillajonathan opened #3651 "Indention in the style guide"
### What information is missing?

The style guide does not mention what indention to use (spaces or tabs) and how many to use.

### How would you like us to fix this problem?

Add what kind of spacing to use. Example "Use two spaces for indention".

[2021-11-03 15:49] #3644 closed

[2021-11-03 17:15] kwalrath commented on #3651
This, although it might seem strange, is intentional. As https://dart.dev/guides/language/effective-dart/style#do-format-your-code-using-dart-format says, "the official whitespace-handling rules for Dart are whatever `dart format` produces."

That guideline also points to https://github.com/dart-lang/dart_style/wiki/Formatting-Rules, which has details about the formatting rules that `dart format`

[2021-11-03 17:17] kwalrath commented on #3651
Closing, but we do appreciate you noting that it seemed to be missing. Does the Formatting-Rules link have what you wanted?

[2021-11-03 17:17] #3651 closed

[2021-11-03 17:19] kwalrath commented on #3651
/cc @munificent fyi

[2021-11-03 17:29] vanillajonathan commented on #3651
Most other languages seem to have a style guide which declares what indention to use. I believe not including that in the style guide is bad as it leads a fragmented community with codes of different styles.

[2021-11-03 17:57] kwalrath commented on #3651
Iirc, we followed the lead of Go, which says "let the machine take care of most formatting issues." https://golang.org/doc/effective_go#formatting.

[2021-11-03 18:07] srawlins opened #3652 "diagnostics page should support an "old diagnostic name" concept"
### Describe the problem

I'd like to rename the `invalid_super_invocation` diagnostic to `super_invocation_not_last`. @bwilkerson points out that this currently requires creating a section with the old name, which links to the new section (by the new name). We'd like a better way that doesn't require that click.

The current fragment links work by translating the diagnostic names, found in header

[2021-11-03 18:08] srawlins commented on #3652
I'd be happy to take on this task if someone can point me to the script that turns the diagnostics in the SDK into the diagnostics.md file in this repo.

[2021-11-03 18:13] bwilkerson commented on #3652
The generator actually produces a `diagnostics.md` in the `analyzer` package's `tools` directory, and that file is currently hand-copied to this repository. The generator is here: https://github.com/dart-lang/sdk/blob/main/pkg/analyzer/tool/diagnostics/generate.dart.

[2021-11-03 18:21] devoncarew opened #3653 "documentation for named arguments anywhere"
See dart-lang/sdk#47451 for the meta issue and dart-lang/language#1072 for the language issue.

[2021-11-03 19:31] vanillajonathan commented on #3651
Go is explicit about using tabs tho, and when using tab its natural to increase the indention by one more tab for each indention.

[2021-11-03 19:44] kshiitiz opened #3654 "TypeError in example"
### Page URL

https://dart.dev/tutorials/web/fetch-data

### Page source

_No response_

### Describe the problem

I see the following error while running its_all_about_you app:
Uncaught Error: TypeError: Instance of 'JSArray<dynamic>': type 'JSArray<dynamic>' is not a subtype of type 'List<String>'

### Expected fix

Edit the example code to cast correctly.

### Additional context

_No response_

[2021-11-03 19:48] kshiitiz commented on #3654
Change
```final favoriteThings = jsonData['favoriteThings'] as List<String>; ```
to:
```final favoriteThings = List<String>.from(jsonData['favoriteThings']);```

[2021-11-03 20:07] #3654 closed

[2021-11-03 22:10] mleonhard opened #3657 "Add null-aware subscript operator `?[]` to Language Tour"
The page https://dart.dev/guides/language/language-tour#other-operators
lists operators `()`, `[]`, `.`, and `?.`.  It is missing `?[]`.  I wasted many minutes looking for it and finally found it in https://github.com/dart-lang/language/issues/376 .  Let's add it to the language tour to save other users' time.

[2021-11-03 22:30] mmcdon20 commented on #3657
I agree that `?[]` should be mention on the language tour.

I also wish the language tour would mention that `async`, `async*`, and `sync*` keywords can be used with anonymous functions.

[2021-11-04 03:53] parlough commented on #3652
@srawlins Sounds like you'll handle this on the SDK side but if you need anything on this end, feel free to ping me again here :)

[2021-11-05 08:30] mmahamed opened #3660 "[PAGE ISSUE]: 'Codelabs' Broken link"
### Page URL

https://dart.dev/codelabs/

### Page source

https://github.com/dart-lang/site-www/tree/master/src/codelabs/index.md

### Describe the problem

The link for 'Intro to Dart for Java Developers' is broken.

### Expected fix

_No response_

### Additional context

_No response_

[2021-11-05 09:29] danagbemava-nc commented on #3660
Hi @mmahamed, thanks for catching that.

<details>
<summary>screenshot</summary>

<img width="1440" alt="Screenshot 2021-11-05 at 09 24 54" src="https://user-images.githubusercontent.com/88313112/140488910-271f79b6-6dc0-4912-a5de-a135f37ffd45.png">

</details>

[2021-11-07 22:55] domesticmouse commented on #3660
Hi @mmahamed, thanks for your report. The codelab is back online.

[2021-11-07 22:55] #3660 closed

[2021-11-08 01:22] parlough commented on #3657
@kwalrath I noticed we currently call the `[]` operator the "List access" operator here, do we want to name that something more generic like the "subscript operator"? I don't believe the spec has a name for it as technically that is dependent on each individual overriding case, but it seems subscripting is a commonly accepted name and is what Swift uses.

[2021-11-09 00:28] kwalrath commented on #3657
I was going to say that we should use the name in the spec, but it seems to studiously avoid naming `[]` (if it ever did name it). We might just want to call it the `[]` operator, like the spec does.

Btw, `?[` appears to be in [the spec](https://spec.dart.dev/DartLangSpecDraft.pdf) only once, in a table ("Figure 3") in section 17.20/17.21 (p. 148) that lists ways to invoke methods, along with eac

[2021-11-09 00:35] jpangburn opened #3667 "Tour page has examples that get lint warning: Avoid using `forEach` with a function literal.dartavoid_function_literals_in_foreach_calls"
### Page URL

https://dart.dev/guides/language/language-tour

### Page source

_No response_

### Describe the problem

I use the recommended lints on VSCode for Dart (default setting) and I see this lint `Avoid using 'forEach' with a function literal.dartavoid_function_literals_in_foreach_calls` for the following code:

And in the same section, the following code gets the same warning:

### Expec

[2021-11-09 00:37] #3652 closed

[2021-11-09 08:06] parlough commented on #3667
Thanks for opening an issue @jpangburn. I agree it would be nice for the code present to follow the recommended lints.

Some of the uses of `forEach` in the language tour are pretty engrained so this won't be exactly straightforward. In this particular example, it is used to illustrate anonymous functions, so `for ... in` would not suffice. That isn't to say we can't think of alternative examples

[2021-11-09 16:07] Erhannis opened #3668 "[PAGE ISSUE]: 'Dart cheatsheet codelab' - editors broken"
### Page URL

https://dart.dev/codelabs/dart-cheatsheet.html

### Page source

https://github.com/dart-lang/site-www/tree/master/src/codelabs/dart-cheatsheet.md

### Describe the problem

The embedded editors don't compile code - they give syntax errors, even for the provided solutions.  See screenshot:

![Failing compile](https://user-images.githubusercontent.com/3024589/140959839-1cb4ee75-630c-4

[2021-11-09 16:10] jpangburn commented on #3667
Yeah, as I read further through the tour, I see there's a lot of these.  Whoever wrote the tour likes anonymous functions.  Personally, I like them too and don't see what the harm is for appropriate use cases (other than obvious things like no early exit, no return values, etc.) but I also like linters and following style for a language for more consistent code in a project with multiple developer

[2021-11-09 16:17] parlough commented on #3668
Hi @Erhannis! Thanks for opening an issue. When you run code with DartPad it always runs and analyzes the code in the primary tab rather than in the "Solution" tab. You can copy the solution code to the primary "Dart" tab to fix the errors if desired. Does that make sense?

Perhaps we can make this behavior more clear somehow.

[2021-11-09 16:44] PeperMarkreel opened #3670 "[PAGE ISSUE]: 'Asynchronous programming: futures, async, await'"
### Page URL

https://dart.dev/codelabs/async-await.html

### Page source

https://github.com/dart-lang/site-www/tree/master/src/codelabs/async-await.md

### Describe the problem

This is a really not helpful, confusing and itself contradicting example page. Please redo this completely and make it simple.

### Expected fix

A good, not confusing or contradictory explanation of asynchronous program

[2021-11-09 16:47] parlough commented on #3670
Hey @PeperMarkreel, thanks for opening an issue. I can understand you may be frustrated or confused by some of examples. Are there any specific areas which you think need improvement or are contradictory? Thanks again!

[2021-11-09 17:43] Erhannis commented on #3668
Oh, I see - that makes more sense, haha.  Adding to my confusion was that
I'd also tried to test some unrelated code in the main tab, not realizing
it would break hidden tests - so I got compile errors for code that looked
fine.  (Maybe if there was an untested scratchpad tab you could run, too?)

But yeah, maybe if the Solution tab were formatted differently than the
Dart tab, or the Run button e

[2021-11-09 19:37] munificent commented on #3602
I don't want readers to have to read "function or method" every single time a callable thing is mentioned. How about we add a section to the [glossary](https://dart.dev/guides/language/effective-dart#glossary) that says that unless noted otherwise, "function" refers to top-level functions, local functions, static methods, and instance methods. Then we can change the guidelines to consistently just

[2021-11-09 19:44] parlough commented on #3602
That consistency and simplification sounds great to me! Function should be understood without even looking at the glossary in most cases, so that seems like a good direction. @kwalrath What do you think?

[2021-11-09 21:21] #1271 closed

[2021-11-09 21:27] #3359 closed

[2021-11-09 21:30] kwalrath commented on #3667
Many of the code samples in the tour predate the style guide by years, so I think we should follow the recommended style (except when it interferes with legibility or the point the tour is trying to make).

[2021-11-09 21:33] kwalrath commented on #3668
@johnpryan @RedBrogdon maybe we should move/dupe this to the dartpad repo?

[2021-11-09 21:33] kwalrath commented on #3602
I like it.

[2021-11-09 21:38] Veercodeprog commented on #3602
hi @parlough @kwalrath @munificent ,hope you are all doing good
let me know what changes we need  ,i can work on it

[2021-11-09 21:39] Veercodeprog commented on #3602
with your guidance ,i want to work on this repo further

[2021-11-09 23:00] srawlins commented on #3652
Woohoo! Thanks!

[2021-11-10 01:31] Hixie opened #3671 "Dart-on-the-server page could be more compelling"
### Page URL

https://dart.dev/server

### Page source

_No response_

### Describe the problem

I search for [dart on the server], which pointed to https://dart.dev/server.

On my laptop, this page has literally no server-specific information above the fold ("Tutorials" is below the fold).

I think this page could be rearranged to be more compelling.

- [ ] "gRPC" is a weird thing to lead with, m

[2021-11-10 01:33] kevmoo commented on #3671
CC @parlough @kwalrath

[2021-11-15 00:11] jaean123 opened #3672 "[PAGE ISSUE]: 'A tour of the Dart language'"
### Page URL

https://dart.dev/guides/language/language-tour

### Page source

https://github.com/dart-lang/site-www/tree/master/src/_guides/language/language-tour.md

### Describe the problem

Scrollbar on Chrome on Mac is not visible when it is on a white portion of the page. This is the case for most pages on dart.dev.

Screenshot:
https://ibb.co/BCjwhbp

### Expected fix

Please change the col

[2021-11-15 02:33] parlough commented on #3672
Thanks for the report @jaean123! It's definitely important to be able to see and interact with the scrollbar, so I'll work on a fix soon.

After some investigation, I believe removing or changing the background-color property on the `html` css declaration in [main.css](https://github.com/dart-lang/site-www/blob/master/src/_assets/css/main.scss#L34) would fix this. I guess Chrome bases the scrollba

[2021-11-15 03:23] jaean123 commented on #3672
You're welcome. Thank you for your support.

[2021-11-15 05:29] parlough commented on #3671
Related: https://github.com/dart-lang/site-www/issues/3057 and https://github.com/dart-lang/site-www/issues/3058

[2021-11-15 23:55] #3408 closed

[2021-11-16 05:27] parlough opened #3678 "Verify links to Flutter website still work and update as needed"
With the recent changes to the Flutter website and infrastructure, we should look through our links to the Flutter site and verify each one still points to where is expected and update them as needed (to fix problems or avoid unnecessary redirects).

[2021-11-16 06:20] maks opened #3679 "Documentation for Dart SIMD missing"
### What information is missing?

There is not really any information at all regarding Dart supporting SIMD, in fact you would need to be fairly determined in searching dart.dev to even discover that such support exists.

Yet there used to be what I would consider a pretty good documentation page for it: https://web.archive.org/web/20190402213240/https://www.dartlang.org/articles/server/simd

and

[2021-11-16 06:23] maks commented on #3679
I would also be happy to contribute a PR updating the previous documentation page if someone could give some guidance on what specifically was lacking in it that caused it to be classified as "obsolete".

[2021-11-16 15:34] parlough commented on #3679
Thanks for sharing your interest in this page @maks. It would be nice to further SIMD documentation, perhaps by starting with this and making some updates. I'll ping @kwalrath and @mit-mit to see their thoughts on reviving an updated version of this page as it was originally removed in https://github.com/dart-lang/site-www/pull/1572

[2021-11-16 19:30] #3672 closed

[2021-11-18 01:44] kwalrath commented on #3657
@munificent or @leafpetersen, does _subscript operator_ work for you, or do you have another suggestion? You can look at #3674 (an update to https://dart.dev/guides/language/language-tour#other-operators) to see how it'd be used.

[2021-11-18 22:40] munificent commented on #3657
Seems like languages are fairly evenly split between "subscript" and "index":

* Python calls it [subscription](https://docs.python.org/3/reference/expressions.html#subscriptions). So do [Swift](https://docs.swift.org/swift-book/LanguageGuide/Subscripts.html) and [C++](https://en.cppreference.com/w/cpp/language/operator_member_access).

* C# calls them [indexers](https://docs.microsoft.com/en-us/d

[2021-11-18 23:49] #3678 closed

[2021-11-18 23:57] #3657 closed

[2021-11-19 00:14] kwalrath commented on #3679
@mit-mit what would you like us to do about SIMD? It seems like we could update the article, put it under https://dart.dev/guides/libraries, and add mentions of SIMD to https://dart.dev/guides/language/numbers & maybe the language/library tour (at least).

What do you think? Who knows the most about SIMD now?

[2021-11-19 00:19] kwalrath commented on #3679
@maks I think the code examples would need to pass analysis using the current set of recommended lints. We'd ensure this by adding all code in the article to [/examples](https://github.com/dart-lang/site-www/tree/master/examples), as documented in https://github.com/dart-lang/site-shared/blob/master/doc/code-excerpts.md & https://github.com/dart-lang/site-shared/blob/master/doc/examples.md.

[2021-11-19 00:29] maks commented on #3679
@kwalrath thanks for looking into this so quickly! I'll have a read of those docs to see how it's done - or should I wait for @mit-mit to say on if the SIMD docs can come back before I start working on it?
My 2c about why I raised this is that I think the fact that Dart supports SIMD is really a hidden gem of Dart that very few devs I spoken with in the community know about and would be a great se

[2021-11-19 00:36] #3222 closed

[2021-11-19 00:59] kwalrath commented on #3679
I suspect we'd be very happy to accept any help you can offer... but I can't guarantee that without talking to @mit-mit. Or maybe to @kevmoo.

So if you feel like looking at the text or playing with the code, that'd be awesome, but I can't make any promises about using the results... yet.

[2021-11-19 01:37] kevmoo commented on #3679
Most of our SIMD support IIRC is just methods in https://api.dart.dev/stable/2.14.4/dart-typed_data/dart-typed_data-library.html

Things like https://api.dart.dev/stable/2.14.4/dart-typed_data/Int32x4/operator_plus.html

Where you can operate on "chunks" of numeric values together.

[2021-11-19 02:17] maks commented on #3679
@kevmoo thats true, but the dartdoc documentation is somewhat terse. Really I just found that the previous documentation page did a really nice job of clearly explaining SIMD and how to make use of SIMD in the context of Dart.

Having something like this article that brings it all together with some diagrams and small code examples (at least for me) I find is super helpful if being able to dive in

[2021-11-19 02:17] kwalrath commented on #3679
There was a [really good article on SIMD](https://web.archive.org/web/20190402213240/https://www.dartlang.org/articles/server/simd) that I suspect we jettisoned because its code was untested and rotting. The figures alone are very helpful!

[2021-11-21 21:10] parlough commented on #1269
I believe the primary issue here around the confusion of `argResults` and `arguments` was fixed with the migration to null safety(https://github.com/dart-lang/site-www/commit/937debbc7a9856583538166fd8adcecb7a989cec), but we could still consider moving away from an example not built around `dart:io` by just creating a simple, local method to illustrate the usage.

[2021-11-22 06:14] parlough commented on #1159
This translation has now been fixed and the website also links to their own bug tracker. Thanks again for reporting this!

[2021-11-22 06:14] #1159 closed

[2021-11-22 06:16] parlough commented on #89
I'm curious is this needed? I assumed analytics were tracked on the download side of things?

[2021-11-22 06:52] parlough commented on #1211
It seems like the [tools page](https://dart.dev/tools) was expanded including dartdoc and others during the site redesign and later on as well. Is there anything in particular you would like to see now? Maybe we could link to the [flutter-cli page](https://docs.flutter.dev/reference/flutter-cli)? Not sure if that's what you may have in mind.

[2021-11-22 06:58] parlough commented on #1724
As far as I can tell, I'm only getting results from dart.dev on the primary search page. Perhaps this was fixed on the Google CSE end?

As for the search-all page, what is the problem in the behavior currently? Or do you just want the text to be more clear in the websites the search pulls from?

[2021-11-22 20:32] parlough commented on #1744
I want to standardize on the markdown code blocks, so I'll look into this soon.

[2021-11-22 21:13] parlough opened #3685 "Markdown syntax highlighting for HTML and CSS does not work well"
### Describe the problem

Currently we use prettify for most instances of HTML and CSS code. Trying to switch to built-in markdown highlighting resulted in not that great of a result:

<img width="952" alt="image" src="https://user-images.githubusercontent.com/18372958/142936048-032e0ec8-3db8-4d4f-a591-e94d72ecc7eb.png">

### Expected fix

Investigate how we can improve this so we can eventually s

[2021-11-22 22:58] #3115 closed

[2021-11-23 19:23] kwalrath commented on #1724
I think I fixed this on the CSE side

[2021-11-23 19:23] #1724 closed

[2021-11-23 19:24] kwalrath commented on #1211
I think the page is fine now

[2021-11-23 19:24] #1211 closed

[2021-11-23 19:28] kwalrath commented on #89
I believe they are, but I don't know if we care about the source of the download.

@mit-mit and @kevmoo, what do you say?

/cc @srawlins, who created the original issue 7 (!) years ago

[2021-11-23 20:04] kevmoo commented on #89
I don't think we have anything to do here.

We can get raw download numbers out of google storage.

On Tue, Nov 23, 2021 at 11:29 AM Kathy Walrath ***@***.***>
wrote:

[2021-11-24 14:53] #3201 closed

[2021-11-24 17:52] kwalrath commented on #89
OK, I'm closing this issue.

[2021-11-24 17:52] #89 closed

[2021-11-25 01:02] #3685 closed

[2021-11-26 14:18] mit-mit commented on #2396
Fixed earlier in https://github.com/dart-lang/site-www/pull/3413

[2021-11-26 14:18] #2396 closed

[2021-11-27 01:46] #297 closed

[2021-11-29 18:07] natebosch opened #3692 "CSS is not loading on Effective Dart"
### Page URL

https://dart.dev/guides/language/effective-dart

### Page source

_No response_

### Describe the problem

The CSS file 404s so there is no styling on the page.

### Expected fix

_No response_

### Additional context

_No response_

[2021-11-29 18:09] kevmoo commented on #3692
CC @kwalrath @parlough

[2021-11-29 18:12] parlough commented on #3692
I’m not currently experiencing this. Are there any other errors in the console?

Also can you try disabling the cache in the network tab of developer tools and reloading the page?

[2021-11-29 18:15] natebosch commented on #3692
![image](https://user-images.githubusercontent.com/7528195/143920883-25663c63-f297-4237-9da2-82e2b6f03fc4.png)

Console error:

[code]

The request for CSS gets a 404:

[code]

[2021-11-29 18:15] natebosch commented on #3692
I have been reloading without the cache.

[2021-11-29 19:10] kwalrath commented on #3692
Thanks for letting us know, @natebosch. It's working for me, but I'll consult the website team.

What happens if you go to another page, such as https://dart.dev/guides/language/language-tour?

[2021-11-29 19:18] natebosch commented on #3692
Other pages work.

The page that is broken is using the hash `5e520dd94f9ec5a550bab0f5016724c330a7cd2bfd66265ed95105d374177a66`, so far the ones that work look like they are using the hash `a25e572053d2725cea15007818f58ca5c0018ebe1fcd3da915a2a07e14d2a3d0`.

Should these be identical across all pages?

[2021-11-29 20:04] kwalrath commented on #3692
I've filed an internal bug (b/208275562) against Firebase Hosting.

[2021-11-30 20:18] kwalrath commented on #3692
And it's fixed! It took some detective work, apparently. But I suspect we helped other sites with our report, so worth it.

[2021-11-30 20:18] #3692 closed

[2021-11-30 20:24] parlough commented on #3692
Great to hear!

Thanks again for the report @natebosch :)

[2021-12-04 19:04] Avingo255 opened #3697 "[PAGE ISSUE] 'Add Elements to the DOM' Page Issue"
### Page URL

https://dart.dev/tutorials/web/low-level-html/add-elements#:~:text=%20Add%20elements%20to%20the%20DOM%20%201,app.%20The%20main%20%28%29%20function%20uses...%20More%20

### Page source

_No response_

### Describe the problem

On the example with the todo list, it is currently not possible to run the app because there are many errors within the code. This could be because the code the

[2021-12-04 19:12] parlough commented on #3697
Thanks for opening the issue @Avingo255. There's a work in progress change which will fix this soon!

[2021-12-06 14:57] Dfurb87 opened #3698 "Delete"
### Describe the problem

Deleted

### Expected fix

_No response_

### Additional context

_No response_

[2021-12-06 14:57] Dfurb87 commented on #3698
Delete

[2021-12-06 15:44] parlough commented on #3698
I'll close this issue as you mentioned @Dfurb87. Let us know if you need any help or have any issues though. Thanks!

[2021-12-06 22:49] devoncarew opened #3699 "documentation for enhanced enums"
This is the tracking issue to update the website to include information about enhanced enums.

See https://github.com/dart-lang/sdk/issues/47849 for the main tracking issue.

[2021-12-07 17:59] parlough opened #3701 "Firebase preview deploys are failing"
### Describe the problem

Firebase preview deploys in PRs are failing due to the JWT token being invalid.

See https://github.com/dart-lang/site-www/runs/4446366078?check_suite_focus=true for more context on a failed run.

This is causing PR builds from branches on the repo to fail.

### Expected fix

Not sure yet, but looks like it may be an issue with the [service account](https://github.com/dar

[2021-12-07 18:05] parlough commented on #3701
\cc @mit-mit

[2021-12-07 18:08] mit-mit commented on #3701
This seems to be happening across several of our repos. I'm not sure why yet.

[2021-12-08 05:24] parlough commented on #3576
@srawlins Just clarifying, what are the types supported here?

[2021-12-08 14:12] #3560 closed

[2021-12-08 14:51] kwalrath opened #3706 "Reenable analysis checks"
### Describe the problem

We need to fix the build, and then undo #3705.

### Expected fix

_No response_

### Additional context

_No response_

[2021-12-08 16:29] parlough opened #3710 "Verify analysis result file included diagnostics are necessarily included"
### Describe the problem

Some of the analysis results included in the result files are specified with the `stable, beta, dev` modifiers even if we don't use them for code excerpts.

### Expected fix

We should go through the various analysis result files and verify the diagnostic result is needed. If it is not, remove the `stable, beta, dev` exclusion from the related ignores or fix the diagnosti

[2021-12-08 17:10] #3706 closed

[2021-12-08 23:04] kwalrath opened #3714 "Update SDK release wiki page"
### Describe the problem

https://github.com/dart-lang/site-www/wiki/Updating-to-new-SDK-releases refers to Travis, for one thing. It could use a refresh.

### Expected fix

_No response_

### Additional context

_No response_

[2021-12-08 23:06] kwalrath opened #3715 "[PAGE ISSUE]: 'What’s new'"
### Page URL

https://dart.dev/guides/whats-new

### Page source

https://github.com/dart-lang/site-www/tree/master/src/_guides/whats-new.md

### Describe the problem

Needs an update for 2.15.

### Expected fix

Also update https://dart.dev/guides/language/evolution.

### Additional context

_No response_

[2021-12-09 04:37] srawlins commented on #3576
For now, only the singular value, `lint` :D. No immediate plans to support other "types."

[2021-12-09 21:22] parlough commented on #3577
It seems progress has been made towards this with the Effective Dart work in https://github.com/dart-lang/site-www/pull/3649

As for the language tour, I'm not sure we ever explicitly refer to tear-offs, but do have this related [Functions as first-class objects](https://dart.dev/guides/language/language-tour#functions-as-first-class-objects) section where we could expand on the idea and add a new

[2021-12-09 21:31] kwalrath commented on #3577
The language tour doesn't currently use the word _tear-off_. I want to update it to use it, and to at least mention the `ClassName.new` form of constructor tear-off.

[2021-12-09 22:09] kwalrath opened #3720 "Update content in 'Concurrency in Dart' page"
### Page URL

https://dart.dev/language/concurrency

### Page source

https://github.com/dart-lang/site-www/tree/master/src/_guides/language/concurrency/index.md

### Describe the problem

Definitely:
- [x] Convert code snippets to use code excerpts. (@parlough)
- [x] Add this page to the sidenav. Link to it appropriately. (https://github.com/dart-lang/site-www/pull/3850)
- [ ] Figure out how to s

[2021-12-10 05:36] parlough opened #3721 "[2.16] Document analyzer's new strict-casts mode"
### What information is missing?

The analyzer's [new `strict-casts` mode](https://github.com/dart-lang/language/pull/2019) needs to be documented with the release of 2.16 and any old mentions of the "no implicit casts" need to be updated or indicated that they are deprecated.

### How would you like us to fix this problem?

- [ ] Document new `strict-casts` mode
- [ ] Update old mention of deprec

[2021-12-10 13:09] mobylin opened #3722 "[PAGE ISSUE]: 'A tour of the Dart language'"
### Page URL

https://dart.dev/guides/language/language-tour

### Page source

https://github.com/dart-lang/site-www/tree/master/src/_guides/language/language-tour.md

### Describe the problem

"For more information about maps, see the generics section and the library tour’s coverage of the Maps API."

the link of "Maps API" is wrong

### Expected fix

_No response_

### Additional context

_No re

[2021-12-10 16:01] parlough commented on #3722
Hey @mobylin, thanks for opening an issue. The "Maps API" link seems to lead me to https://dart.dev/guides/libraries/library-tour#maps which is the map section of the library tour. Are you seeing different results or do you expect the link to navigate elsewhere? Let us know. Thanks!

[2021-12-11 01:02] timsneath opened #3723 "[PAGE ISSUE]: 'How to use packages'"
### Page URL

https://dart.dev/guides/packages

### Page source

https://github.com/dart-lang/site-www/tree/master/src/_guides/packages.md

### Describe the problem

should read:

### Expected fix

_No response_

### Additional context

_No response_

[2021-12-13 21:17] kkreine commented on #3221
Hey @kwalrath, it looks like the first two samples haven't been linked in the docs. I think it makes sense to link command_line in [/cmdline.md](https://github.com/dart-lang/site-www/blob/e02336c20370b91de190282cc5330af093c7d58b/src/_tutorials/server/cmdline.md) and extension_methods in [/extension-methods.md](https://github.com/dart-lang/site-www/blob/e02336c20370b91de190282cc5330af093c7d58b/src/

[2021-12-13 22:06] kwalrath commented on #3221
Thanks for looking into this, @kkreine! We have a site freeze right now, and then there are the holidays. But I'd love for you to fix this in January, if that isn't too late for you.

@parlough sgty?

[2021-12-13 22:19] parlough commented on #3221
That would be great if you could fix this in January, thanks! I would be happy to help with any questions or problems you come across :)

[2021-12-13 22:23] kwalrath commented on #3723
I think we call it _pub_ intentionally, since it's sometimes `dart pub` and sometimes `flutter pub` — or am I wrong about that?

[2021-12-13 22:57] kkreine commented on #3221
@kwalrath  @parlough Sounds good to me! Thanks.

[2021-12-14 11:55] jonasfj opened #3724 "Upgrading specific dependencies -- will not upgrade to latest versions"
I think the semantics covered here: https://dart.dev/tools/pub/cmd/pub-upgrade#upgrading-specific-dependencies

Is incorrect, it used to be that we would upgrade to the latest version available. But afaik now `dart pub upgrade foo bar` just means that only `foo` and `bar` is upgraded. Both are upgraded as far as possible without violating constraints in `pubspec.yaml` and without upgrading other d

[2021-12-14 12:43] mit-mit commented on #3701
I believe I've fixed the credentials for this; see this sample PR which is now deploying previews:
https://github.com/dart-lang/site-www/pull/3727

Unfortunately a side-effect of this fix is that the existing token used for production deploys likely doesn't work anymore. I believe the right fix for that is to use the github action for deploys to live also:
https://github.com/dart-lang/site-www/pul

[2021-12-14 15:50] parlough opened #3728 "Verify all embedded and linked DartPads are updated to null safety"
### Describe the problem

DartPad has removed support for not null-safe snippets.

We should verify all linked and embedded DartPads are updated and remove any unnecessary mention of the distinction between types of DartPads.

### Expected fix

- [ ] Find any DartPad snippets that are not updated
- [ ] Update any DartPad snippets if necessary
- [x] Remove any unnecessary null-safe flags from embed

[2021-12-14 20:10] kwalrath opened #3729 "Clean up the 'dart pub token' page"
### Page URL

https://dart.dev/tools/pub/cmd/pub-token.html

### Page source

https://github.com/dart-lang/site-www/tree/master/src/tools/pub/cmd/pub-token.md

### Describe the problem

This page needs a copy edit.

### Expected fix

_No response_

### Additional context

_No response_

[2021-12-14 20:12] kwalrath opened #3730 "[PAGE ISSUE]: 'Custom package repositories'"
### Page URL

https://dart.dev/tools/pub/custom-package-repositories.html

### Page source

https://github.com/dart-lang/site-www/tree/master/src/tools/pub/custom-package-repositories.md

### Describe the problem

This page needs a copy edit.

### Expected fix

_No response_

### Additional context

_No response_

[2021-12-16 13:40] TalMoshel1 commented on #2119
Hey,
if you still need help, I want to work on it.

[2021-12-18 13:14] adriantafoya opened #3736 "jj"
kk

[2021-12-18 17:20] parlough commented on #3736
Hi @adriantafoya, thanks for opening an issue. Do you have any more information on what problem you faced? Let me know, otherwise I can close the issue for you. Thanks again!

[2021-12-18 23:52] hexaron opened #3737 "Clarify that `required` does not mean non-nullable"
### Page URL

https://dart.dev/guides/language/language-tour#named-parameters

### Page source

_No response_

### Describe the problem

Using the `required` keyword does not force the parameter to be non `null`, it only forces a parameter to be specified.
Consider:
[code]
This will compile and print out `null`.

### Expected fix

A warning that `required` is not the same as non-nullable.

### Add

[2021-12-19 05:50] parlough commented on #3737
Thanks for opening an issue @hexaron! I can definitely see how this clarification and perhaps a nullable example as well would be useful to showcase.

[2021-12-25 02:27] parlough commented on #3736
I'm going to close this issue for now, but if you have any more information, feel free to respond here or make a new issue. Thanks again!

[2021-12-25 02:27] #3736 closed

[2021-12-27 16:10] parlough commented on #2022
What do you think about the state of this now that we have https://dart.dev/guides/language/concurrency?

If desired, we could even add a dart.dev/isolates redirect pointing to https://dart.dev/guides/language/concurrency#how-isolates-work that can change as needed over time.

[2021-12-27 16:18] parlough opened #3738 "Enable `unnecessary_late` lint for examples"
### Describe the problem

A new `unnecessary_late` lint will be added to the linter in the Dart 2.16 SDK. We should enable it for our examples as it catches a few types of unnecessary `late` modifiers.

### Expected fix

- [ ] Enable the `unnecessary_late` lint in our examples and various projects
- [ ] Fix any violations of the lint
- [ ] Update any code excerpts necessary

[2021-12-28 22:16] parlough opened #3741 "Arrow brackets disappear and break markdown formatting"
### Describe the problem

My understanding was Kramdown automatically escaped the less than arrow bracket (`<` as `&lt;`), but it seems it fails occasionally.

For example, in https://dart.dev/tools/diagnostic-messages#illegal_async_generator_return_type the description is supposed to have `Iterable<T>`, but it lost the generic specifier and the italic formatting is broken.

<img width="776" alt="

[2021-12-28 22:45] parlough commented on #3701
I'm closing this as fixed due to PR and live deploys both working for a while. Thanks @mit-mit!

[2021-12-28 22:45] #3701 closed

[2021-12-29 04:08] mmcdon20 opened #3742 "DartPad autocomplete doesn't always fit on screen."
### Describe the problem

The autocomplete menu doesn't always fit entirely on the screen making it difficult to read the available options.

This happens when the text for an autocomplete option is too long to fit within the available space.

### Expected fix

Update the autocomplete menu to fit on screen better.

### Additional context

As an example, if you enter the following code on DartPad:

[2021-12-29 07:42] parlough commented on #3742
Hi @mmcdon20, thanks so much for the report.

That set of autocompletion suggestions is definitely too large. I have a feeling we should just set a max-width and add an ellipsis at the end like IntelliJ:

<img width="536" alt="image" src="https://user-images.githubusercontent.com/18372958/147638315-ea66bfa4-6a60-4e32-ac7d-e832c5198956.png">

If it's really needed, we could also expand the one you

[2021-12-29 21:11] Wdestroier opened #3743 "Offer and link to an official Discord server"
### What information is missing?

Hi,
Flutter has an official Discord server.
So should Dart, right?
I'm asking for an official server, because the unofficial servers have little to nobody online...
This change can, hopefully, grow the interest in the language.

### How would you like us to fix this problem?

It would be awesome if the https://dart.dev/community page had a permanent Discord server

[2021-12-29 21:55] parlough commented on #3743
Hey @Wdestroier, I would also like to see a more active Discord for the Dart community, as you've seen by [The Unofficial Dart Community Discord](https://discord.gg/Qt6DgfAWWx).

I can't speak to the Dart team's stance on an official Discord for Dart developers and the community, but at least for the unofficial Discord, if it gets enough traction I believe we can explore linking to it from the com

[2021-12-29 22:17] Wdestroier commented on #3743
Hi, @parlough.
This server is great indeed.
I'm not much of a marketeer myself, but to increase engagement I believe that they need to make it official... like the Flutter Discord.

[2021-12-31 03:44] jamesderlin opened #3744 "Add links to explain behavior on 'Fixing type promotion failures' page"
### Page URL

https://dart.dev/tools/non-promotion-reasons.html

### Page source

https://github.com/dart-lang/site-www/tree/master/src/tools/non-promotion-reasons.md

### Describe the problem

A lot of people are confused that non-local variables aren't automatically promoted by `is` or null checks.  Although https://dart.dev/tools/non-promotion-reasons.html helps explain that the behavior is exp

[2021-12-31 14:43] cansati opened #3745 "Hey, i found something wrong in dart's list algorithm."
[code]

When you run this code, the output of list asd has to be [[1,1],[1,1,1]] but it becomes [[1,1,1][1,1,1]] unfortunately. Hope it's useful for community.

Regards

[2021-12-31 17:52] parlough commented on #3745
Hi @cansati, thanks for opening an issue.

Taking a look at your code, this behavior is expected. You add a **reference** to the list stored in `anEmpSkills` to `asd` twice. Even though you clear the list, the references still point to the same list, so when you print `asd` it will contain two references to the same list (which will therefore have the same contents).

If you want to achieve the be

[2022-01-01 03:40] parlough commented on #3722
I will close this issue for now as it seems to be working as intended, but if you have any more information or different expectations, let me know by responding and I can re-open the issue. Thanks again!

[2022-01-01 03:40] #3722 closed

[2022-01-01 07:20] AmirhosseinAzimyzadeh opened #3746 "Dart live editor not working due to localStorage access error"
### Page URL

https://dart.dev/

### Page source

_No response_

### Describe the problem

From the main page (in the console) I have access to localStorage and it's working just fine but somehow live editor is unable to access to the localStorage

Message on live editor:
DartPad requires localStorage to be enabled. For more information, visit dart.dev/tools/dartpad/troubleshoot.

console errors:

[2022-01-01 22:06] parlough commented on #3746
Hey @AmirhosseinAzimyzadeh, thanks for opening an issue!

I'm curious where is the (live editor) DartPad you are trying? Is it at the bottom of the homepage on https://dart.dev, https://dartpad.dev, or somewhere else? Thanks again!

[2022-01-02 03:53] AmirhosseinAzimyzadeh commented on #3746
@parlough
Bottom of the home page (https://dart.dev/)

[2022-01-04 02:25] parlough commented on #3746
Hey again @AmirhosseinAzimyzadeh, thanks for the update.

If you get a chance, I recommend trying the instructions under [Embedded DartPads don't appear](https://dart.dev/tools/dartpad/troubleshoot#embedded-dartpads-dont-appear). Particularly, cookies must be allowed for dart.dev and dartpad.dev in most browsers for DartPad to be able to properly access local storage.

Also give https://dartpad.de

[2022-01-04 05:02] AmirhosseinAzimyzadeh commented on #3746
After allowing third party cookies it's working
Thanks.

[2022-01-04 05:02] #3746 closed

[2022-01-04 11:33] modulovalue opened #3749 "Link to programmatically retrieve all versions"
### Page URL

https://dart.dev/get-dart/archive

### Page source

_No response_

### Describe the problem

The get-dart/archive page lists a link to download any version, but it doesn't list a link to retrieve all available versions.

### Expected fix

An answer to the following question: Is there a link to get a list of all versions i.e. where do the dropdowns get their data from?

### Additional

[2022-01-04 16:27] mmcdon20 commented on #3742
@parlough my apologies for submitting this ticket in the wrong repo.

@domesticmouse @devoncarew @srawlins @kevmoo Can someone move this ticket to the DartPad repo?

[2022-01-04 17:45] parlough commented on #3749
Hi @modulovalue, you can reference our code to retrieve the versions [here](https://github.com/dart-lang/site-www/blob/master/src/get-dart/sdk_builds.dart/lib/src/dart_downloads.dart). We use the [google_apis package](https://pub.dev/packages/googleapis) and its storage API to query for the listing. Using other language's google storage APIs should look similar.

As an example, this generates a li

[2022-01-04 18:48] modulovalue commented on #3749
Thank you :)

[2022-01-04 18:48] #3749 closed

[2022-01-05 01:42] parlough commented on #3745
I'm going to close this for as there doesn't seem to be an issue and this repository is for the dart.dev website. If you have any more concerns or would like further clarification, feel free to respond here and let me know. Thanks again!

[2022-01-05 01:42] #3745 closed

[2022-01-05 01:52] parlough opened #3750 "Document suggesting a replacement after a package is discontinued"
### What information is missing?

Page: https://dart.dev/tools/pub/publishing#discontinue

Currently we document how to discontinue a package, but not the fact you can suggest a replacement or how to go about doing so.

For example, [pedantic](https://pub.dev/packages/pedantic) has the `lints` package suggested as a replacement:

<img width="221" alt="image" src="https://user-images.githubusercont

[2022-01-06 00:22] parlough commented on #3221
With the great contributions from @kkreine and the inclusion of the isolate examples on the [new concurrency page](https://github.com/dart-lang/site-www/pull/3696), this seems to be addressed. Thanks everyone.

If anyone would like any further improvements around specific links/mentions, feel free to open a new, focused issue. Thanks :D

[2022-01-06 00:22] #3221 closed

[2022-01-07 18:20] devoncarew opened #3753 "documentation for super-initializer parameters"
See dart-lang/sdk#48055 for the main tracking issue.

[2022-01-07 18:22] devoncarew commented on #3753
For people who have rights to this repo, can you add this issue to the https://github.com/orgs/dart-lang/projects/37 project?

cc @kwalrath

[2022-01-10 21:46] parlough commented on #2642
Taking a look at the discourse here and the current fleshed out state of the analyzer diagnostics and their related documentation, as well as the lack of further concern since null safety was released, I feel we can maybe close this issue.

If we still do want to add a small note or warning about migration somewhere, I appreciate @lrhn's suggestion of creating and using a consistent function acros

[2022-01-10 21:49] #2642 closed

[2022-01-10 22:26] kwalrath commented on #2022
I think that takes care of this issue!

sgtm

[2022-01-11 23:02] kwalrath opened #3755 "dart.dev/robots.txt excludes all robots"
### Describe the problem

https://dart.dev/robots.txt is blocking most of the site content, as if it were a staging site. Looking at dart-lang/site-shared/pull/50, I'm guessing that we've made a change that prevents robots.txt from being overwritten to be more permissive.

@kevmoo found this issue; I don't know how long it's existed.

### Expected fix

_No response_

### Additional context

_No re

[2022-01-12 02:37] mmcdon20 opened #3756 "add hyperlink hover buttons to h4 headings and/or add h4 headings to table of contents"
### Describe the problem

There are a number of h4 headers in the language tour that would be nice to be able to quickly link to, and easily share a relevant part of the documentation with someone.

For example the section on the [initializer list](https://dart.dev/guides/language/language-tour#initializer-list) is not in the table of contents, and in order to link to this part of the documentatio

[2022-01-12 17:37] kwalrath commented on #3743
/cc @RedBrogdon

[2022-01-12 19:10] parlough commented on #3756
Thanks for the suggestion @mmcdon20!

I'm not sure about adding h4 headings to the TOC as I'm worried it may provide too much information and cause crowding, perhaps limiting the usefulness, especially to the right-side TOC. Perhaps @kwalrath can provide more thoughts there though.

As for adding the hyperlink hover buttons, I can definitely see that being useful, as we occasionally link to h4 hea

[2022-01-12 19:26] mmcdon20 commented on #3756
@parlough I would be satisfied even if you only did this.

[2022-01-12 19:30] kwalrath commented on #3756
I agree that hyperlink hover buttons would be really handy.

We considered adding h4s to the TOC, but it makes the TOC harder to scan (and space is limited), so we stuck to two levels.

[2022-01-12 19:45] kwalrath opened #3757 "[PAGE ISSUE]: 'DartPad in tutorials: Best practices'"
### Page URL

https://dart.dev/resources/dartpad-best-practices.html

### Page source

https://github.com/dart-lang/site-www/tree/master/src/resources/dartpad-best-practices.md

### Describe the problem

Do we really need the survey at the end of the page any more? (Is anyone looking at the responses?)

### Expected fix

Remove the survey, perhaps documenting the survey-publishing process in the w

[2022-01-12 19:48] kwalrath commented on #3757
@inmatrix maybe you know?

[2022-01-12 22:24] InMatrix commented on #3757
Good catch. This survey is no longer needed.

[2022-01-12 22:41] kwalrath commented on #3755
We think this might have stopped working as of https://github.com/dart-lang/site-www/pull/3726. That PR was merged 12/14, which was a week before we started getting autogenerated emails with the subject "New Coverage issue detected for site dart.dev".

[2022-01-13 00:12] kevmoo commented on #3755
Yup! We no longer use `deploy.sh` – which has the bit that says `--robots ok`

[2022-01-13 00:14] kevmoo commented on #3755
So we should blame @mit-mit for this 🙃

[2022-01-13 07:31] mit-mit commented on #3755
Wait, what -- changing the deploy command reconfigured the robots.txt?

[2022-01-13 07:42] parlough commented on #3755
The old deploy script (called from [here](https://github.com/dart-lang/site-www/pull/3726/files#diff-5c3fa597431eda03ac3339ae6bf7f05e1a50d6fc7333679ec38e21b337cb6721L124)) accepted a parameter to [change](https://github.com/dart-lang/site-shared/blob/master/tool/deploy.sh#L60) the `robots.txt`. Since we passed "ok" into the deploy.sh command [`_setRobotsOk`](https://github.com/dart-lang/site-share

[2022-01-13 07:51] parlough opened #3760 "[2.16] Update `dartdoc` command documentation to `dart doc`"
### Page URL

https://dart.dev/tools/dartdoc.html

### Page source

https://github.com/dart-lang/site-www/tree/master/src/tools/dartdoc.md

### Describe the problem

In Dart 2.16, the previous `dartdoc` command will be replaced by `dart doc`, with plans for an eventually removal.

### Expected fix

Switch usages and documentation of `dartdoc` as a command to `dart doc`. Still point out the previou

[2022-01-13 16:44] #3755 closed

[2022-01-13 19:25] pree-T commented on #3667
Is this issue still open? May I work on it? Can someone help me as I am new to open source contribution?

[2022-01-13 20:48] jpangburn commented on #3667
@pree-T The issue is still open.  The problem seems to be that it's not super clear what the right answer is.  As @kwalrath said, many tour examples are pretty old and were created long before the linter's recommended style.  So is the right answer to remove these examples that violate style?  Change them to other things that don't violate style?  Or leave them as-is because they demonstrate some

[2022-01-13 20:57] kevmoo opened #3762 "robots.txt should reference sitemap.xml"
### Describe the problem

Our `robots.txt` file does not reference `sitemap.xml` – it should!

### Expected fix

Add the reference!

### Additional context

_No response_

[2022-01-13 20:59] kevmoo commented on #3762
CC @kwalrath @parlough

See https://developers.google.com/search/docs/advanced/robots/create-robots-txt

[2022-01-13 21:09] kevmoo commented on #3762
FYI: `sitemap.xml` is correctly configured in our Google Search console settings, so this isn't super urgent. But it would be nice to do for other search engines

[2022-01-13 21:18] kevmoo opened #3763 "sitemap.xml contains a bunch of `/index` pages"
### Describe the problem

See https://dart.dev/sitemap.xml

Search for `/index<`

### Expected fix

Remove these. They redirect to the right file, but we should just give the right link in our sitemap!

Should just point to the actual file.

### Additional context

Seems we've had this issue before - https://github.com/dart-lang/site-www/issues/933

[2022-01-13 21:19] kevmoo commented on #3763
CC @parlough

[2022-01-17 03:04] mmcdon20 opened #3767 "language tour: external and interface keywords"
### Page URL

https://dart.dev/guides/language/language-tour#keywords

### Page source

https://github.com/dart-lang/site-www/tree/master/src/_guides/language/language-tour.md

### Describe the problem

In the table of keywords in the language tour, the `external` and `interface` keywords currently link to stackoverflow discussions about these keywords rather than official explanations of these ke

[2022-01-17 04:47] parlough commented on #3767
Thanks for opening such a thorough issue @mmcdon20.

I love your idea to link to the spec for `external`.

As for `interface`, that's slightly more complicated. I think it still deserves a place in the table as it provides an explanation of why it can't be used as an identifier in some situations. Beyond that, it also provides a useful reference for Java and C# developers to find the Dart equivale

[2022-01-17 05:38] mmcdon20 commented on #3767
Yeah, I thought this might be the case...

I could potentially agree if it linked to a good explanation somewhere, although it still might seem slightly weird to have it in the table of keywords if it isn't actually a keyword.

Not really, these are about all I could find:
https://news.dartlang.org/2012/11/breaking-change-deprecated-language-features-and-dart2js.html
https://news.dartlang.org/2012

[2022-01-17 06:00] parlough commented on #3767
I mean it is treated specially by the Dart language and tooling as a "built-in identifier", so it is still a sort of keyword.

<img width="498" alt="image" src="https://user-images.githubusercontent.com/18372958/149715524-153054f9-65e2-4c22-a055-0d38d0e1007b.png">

I agree the current location we're pointing isn't ideal. Perhaps the blog post you linked or some more up-to-date alternative or artic

[2022-01-17 06:01] parlough commented on #3767
To sum up, I think there are three action items here:

- [ ] Update the `external` entry to link to the spec: https://spec.dart.dev/DartLangSpecDraft.pdf#External%20Functions
- [ ] Remove the mention to JavaScript in the built-in identifier explanation
- [ ] Try to find (or create) a suitable alternative to link to for the `interface` built-in identifier

[2022-01-17 06:39] mmcdon20 commented on #3767
@parlough Thanks for the clarification.

Although I wonder, if `interface` no longer really does anything in dart, does it still need to be a "built-in identifier", or is it just a holdover from when it used to do something? That might be a question for the language engineers.

[2022-01-17 07:23] mmcdon20 commented on #3767
Just a thought, but another possibility would be to have the `interface` keyword link to the section on [implicit interfaces](https://dart.dev/guides/language/language-tour#implicit-interfaces).

Seems like that is the information you would want if you were a Java/C# developer looking for the dart equivalent (even if it isn't technically about `interface` as a keyword, and `implements` already lin

[2022-01-18 21:24] parlough opened #3768 "Standardize usage of em dash"
### Describe the problem

Currently we are inconsistent in our usage of em-dash(and perhaps other dashes) and not all usages follow the [Google developer documentation style guide](https://developers.google.com/style/dashes).

### Expected fix

We should consistently follow the style guide.

### Additional context

_No response_

[2022-01-19 01:32] kwalrath commented on #3768
Specifically, the style guide calls for no spaces around em dashes.

Is it still OK to use a true em dash (e.g. Option+Shift+hyphen on Mac) as a character? It's easier to read than `&mdash;`.

[2022-01-19 20:08] parlough commented on #3768
It seems the true em dash(—) is still fine to include and works just fine.

[2022-01-19 20:46] kwalrath commented on #3768
We should also check for remaining short dashes. E.g. in https://dash-site-dev--dart-r4q6o37f.web.app/guides/libraries/create-library-packages#organizing-a-library-package there's one good dash (after _intended_ on the second line below) and one bad (highlighted before `shelf.dart` on the same line):

<img width="901" alt="image" src="https://user-images.githubusercontent.com/2164483/150210865-d14

[2022-01-20 17:42] munificent opened #3769 "Explanation of mixin "on" clause is inaccurate"
### Page URL

https://dart.dev/guides/language/language-tour#adding-features-to-a-class-mixins

### Page source

_No response_

### Describe the problem

The language tour says:

This isn't a great motivating example for using an `on` clause. The code would be better written as:

[code]

Note here that the `MusicPerformer` mixin declares that it implements `Musician` even though it doesn't actuall

[2022-01-20 18:44] parlough commented on #3584
With the infrastructure updates being included in https://github.com/dart-lang/site-www/commits/main, the default branch has now been updated to `main`! https://github.com/dart-lang/site-www

[2022-01-20 18:44] #3584 closed

[2022-01-20 18:44] parlough commented on #2918
Implemented by https://github.com/dart-lang/site-www/commit/99fd6c7e61d2dc70809bed4b3dd6efe8fd5b2470

[2022-01-20 18:44] #2918 closed

[2022-01-20 19:08] #3576 closed

[2022-01-20 19:26] kwalrath opened #3773 "Fix robots.txt"
### Describe the problem

https://dart.dev/robots.txt disallows robots :(

### Expected fix

_No response_

### Additional context

_No response_

[2022-01-20 19:27] kevmoo commented on #3773
See recent https://github.com/dart-lang/site-www/issues/3755

[2022-01-20 19:36] kevmoo commented on #3762
@parlough – assuming https://github.com/dart-lang/site-www/pull/3774 works, would you follow-up with this one?

[2022-01-20 19:37] parlough commented on #3762
Yep!

[2022-01-20 19:43] #3773 closed

[2022-01-20 19:53] parlough commented on #3773
déjà vu 🐙

The site has deployed and the robots.txt looks good to me! https://dart.dev/robots.txt

[2022-01-20 21:04] #3762 closed

[2022-01-21 00:37] #3757 closed

[2022-01-24 22:14] kwalrath commented on #3667
@pree-T you might want to start on a simpler issue (one that doesn't require you to edit multiple files) for your first site-www contribution.

[2022-01-26 17:21] srawlins commented on #2338
There is now a third: `strict-casts: true`. I've updated the top description.

[2022-01-26 18:00] kevmoo commented on #2338
We should be clear about which SDK versions these appear in!

[2022-01-26 18:17] srawlins commented on #2338
Good point; I've updated the summary with "since" versions; strict-casts is not in until 2.17.0

[2022-01-26 22:40] parlough commented on #2043
Fixed by https://github.com/dart-lang/site-www/pull/3765

[2022-01-26 22:40] #2043 closed

[2022-01-26 22:44] parlough commented on #2478
This is very useful, especially in terms of initializing `late final` variables. Bumping up the priority.

[2022-01-26 22:48] parlough commented on #3715
Fixed by https://github.com/dart-lang/site-www/commit/a2aefa76ab63c86fe6bc7c900132972506395687

[2022-01-26 22:48] #3715 closed

[2022-01-27 11:55] mit-mit commented on #2777
@kwalrath we're moving ahead with this change now. Do we still need these website updates?

[2022-01-27 17:36] kwalrath commented on #2777
Looks like we fixed this in #3641. Thanks for the reminder!

[2022-01-27 17:36] #2777 closed

[2022-01-27 17:48] kkreine commented on #3272
Hey @parlough, it looks like this hasn't been completed yet. If this is still needed, would you like me to add a sentence such as "However, when converting only a single object to a string, calling toString() is acceptable." to the file, below the code example?

[2022-01-27 18:52] parlough commented on #3272
Hi @kkreine, this work has not been completed yet. Thanks for taking it on, I love that idea!

Perhaps we can refer to other exceptions on the page to be consistent with wording. For example: https://github.com/dart-lang/site-www/blob/main/src/_guides/language/effective-dart/usage.md?plain=1#L603-L604

I'm not the best with word crafting, but maybe something like the following?

[code]

Feel free

[2022-01-28 03:04] parlough opened #3785 "Add a key binding to focus search bar"
### Describe the problem

A lot of websites have a key binding to focus (and open if needed) the search bar. It's convenient, particularly for keyboard users.

### Expected fix

Add a key binding to focus the search bar.

Google Search and GitHub both use `/` so I think it would be a good choice.

Consider bringing over the implementation to docs.flutter.dev as well.

### Additional context

_No r

[2022-01-28 03:07] parlough commented on #3785
Any thoughts?

[2022-01-28 07:02] parlough opened #3787 "Consider adding a OSSF Scorecard analysis action"
### Describe the problem

[OSSF Scorecards](https://github.com/ossf/scorecard#security-scorecards) is a tool to assess various checks related to software security. They now have an official [GitHub action](https://github.com/ossf/scorecard-action) so we could consider including at least some of its rules in our build.

### Expected fix

_No response_

### Additional context

_No response_

[2022-01-29 01:33] kkreine commented on #3272
Hi @parlough, thank you for the guidance; it sounds much better to be consistent with wording, and I'll work to adhere to that.

[2022-01-29 14:40] EKivutha commented on #3714
@parlough  please assign

[2022-01-30 00:44] parlough commented on #3714
Hi @EKivutha, thanks for the ping! Unfortunately for this specific issue, the GitHub wiki pages must be updated by someone with commit access to the repository as they don't support pull requests.

Kathy updated the majority of the page a few days ago besides the Travis section. I will update this to refer to how to update the SDK versions used by the new Docker based infrastructure.

If there is

[2022-01-30 08:08] parlough opened #3790 "Replace or simplify font awesome usage"
### Describe the problem

After the infrastructure update we use JS for integrating Font Awesome. Even using brotli it is still 436 kB and by far the largest thing on the website for just a few icons.

### Expected fix

Manually include the icons we need perhaps as a font or switch to material icons and/or SVGs.

### Additional context

_No response_

[2022-01-30 08:42] parlough opened #3792 "Consider switching to Google Sans Text"
### Describe the problem

We already use Google Sans and Google Sans Display for various locations on the site and headers. It would be nice to standardize on Google Sans for body text as well to maintain a consistent style.

### Expected fix

- Add header to `head.html` to import the new font
- Remove Roboto links
- Update style references to Roboto to Google Sans Text with a fallback to Roboto s

[2022-01-30 14:42] EKivutha commented on #3714
@parlough how do I get commit access

[2022-01-31 21:04] #3272 closed

[2022-02-01 00:11] kwalrath commented on #3785
@khanhnwin or @johnpryan what do you think?

[2022-02-01 00:12] kwalrath commented on #3787
@khanhnwin fyi

[2022-02-01 00:14] kwalrath commented on #3790
@khanhnwin @btobin fyi

[2022-02-01 00:14] kwalrath commented on #3792
@khanhnwin fyi

[2022-02-01 00:15] parlough commented on #3792
Can anyone speak to if we are allowed to use these fonts? I know we already use Google Sans and Google Sans Display, but these are newer I believe so maybe could have extra requirements? There are no external guidelines.

[2022-02-01 00:17] kwalrath commented on #3714
Commit access is pretty rare, but we welcome PRs and specific up

[2022-02-01 00:18] kwalrath commented on #3714
Oops, didn't mean to close this! Commit access is fairly locked down, but as @parlough said, we'd welcome specific suggestions for change. And of course we welcome pull requests for non-wiki changes!

[2022-02-01 00:54] parlough commented on #2338
@srawlins Just to confirm, `strict-casts` will only be available in 2.17? https://github.com/dart-lang/language/blob/master/resources/type-system/strict-casts.md lists 2.16 and it seems to work in the beta as well.

[2022-02-01 01:15] kevmoo commented on #2338
Seems like it's 2.16 – works fine here https://github.com/dart-lang/ffigen/pull/264

[2022-02-01 01:20] johnpryan commented on #3785
Sounds great, it looks like [api.flutter.dev](https://api.flutter.dev/) uses `/` too.

[2022-02-01 05:39] srawlins commented on #2338
Ah yeah, sorry. I had checked `2.16.0-dev.0`, but that is not the right thing to check 🤣 . 2.16.0 should be good.

[2022-02-01 16:50] khanhnwin commented on #3785
Sgtm! That'd be great!

[2022-02-01 20:17] parlough opened #3797 "Add tests for sitemap.xml generation"
### Describe the problem

Currently we don't test the sitemap.xml generation to verify it is working as expected beyond the links being functional.

### Expected fix

We could add some post-stage tests similar to linkcheck to verify it is generated as expected. Some other pages could potentially share this functionality as well.

### Additional context

_No response_

[2022-02-01 22:35] kwalrath commented on #2142
There's a new concurrency page, but it doesn't cover microtasks: https://dart.dev/guides/language/concurrency

[2022-02-02 03:40] #3763 closed

[2022-02-02 06:28] parlough opened #3799 "Standardize custom jekyll url shortcuts"
### Describe the problem

Some of our shortcuts are named with `_` and some are named with `-` to separate the words. Beyond that we don't use some of the shortcuts when we should.

### Expected fix

- [ ] Standardize Jekyll URL tags to `-`
- [ ] Use the shortcuts in locations we should

### Additional context

_No response_

[2022-02-03 08:52] mit-mit commented on #2338
We can still remove it here from the public docs if we don't feel it's something new, external developers should consider using. These docs should essentially be our recommendation for what things to consider using.

[2022-02-03 14:27] parlough commented on #2338
With `strict-casts` coming out in 2.16 that's no longer much of a worry. I am working on this now and outside of a mention of when `strict-casts` was introduced I don't plan to document `implicit-casts` much.

[2022-02-03 15:16] #3760 closed

[2022-02-03 17:20] kwalrath opened #3807 "[PAGE ISSUE]: 'The pubspec file'"
### Page URL

https://dart.dev/tools/pub/pubspec.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/tools/pub/pubspec.md

### Describe the problem

We need to add a 2.16 version note for the platforms tag.

This would be a followup to #3801.

### Expected fix

_No response_

### Additional context

_No response_

[2022-02-03 17:29] #3767 closed

[2022-02-06 01:00] parlough opened #3810 "Code excerpts being out of date does not fail GitHub actions checks"
### Describe the problem

After the infrastructure updates, code excerpts being out of date or failing to run does not cause the GitHub actions tests to fail.

### Expected fix

If the code excerpter fails, the GitHub tests should also fail.

### Additional context

_No response_

[2022-02-06 19:40] parlough opened #3816 "dart2js page mention of Firefox debugging is outdated"
### Page URL

https://dart.dev/tools/dart2js.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/tools/dart2js.md

### Describe the problem

The Firefox debugging section is outdated.

- I believe Firefox does support source maps now, but we say it doesn't.
- The article on enabling debugging might be out of date.
- The image showcasing how to pause on exceptions is super ou

[2022-02-07 03:45] parlough opened #3817 "Update What's New page for website changes since 2.15 before 2.16"
### Page URL

https://dart.dev/guides/whats-new

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/whats-new.md

### Describe the problem

A 2.16 entry has not been added yet.

### Expected fix

Add the 2.16 entry.

### Additional context

_No response_

[2022-02-07 10:32] #3807 closed

[2022-02-07 10:38] nickppbd opened #3818 "[PAGE ISSUE]: 'Null safety codelab'"
### Page URL

https://dart.dev/codelabs/null-safety.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/codelabs/null-safety.md

### Describe the problem

Instead of _fields_, _variables_ could be more easy to understand.

### Expected fix

_No response_

### Additional context

_No response_

[2022-02-08 06:51] hrk2023 commented on #3790
Hey @parlough can I work on this issue?

[2022-02-08 18:40] parlough opened #3821 "Update messaging around vm service message"
### Page URL

https://dart.dev/tools/dart-devtools.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/tools/dart-devtools.md

### Describe the problem

The messaging for the VM service will no longer mention Observatory in a future release (https://github.com/dart-lang/sdk/issues/46756).

### Expected fix

Update references to the message to whatever the message ends up bei

[2022-02-08 19:09] #3817 closed

[2022-02-08 20:12] #3818 closed

[2022-02-08 21:13] mit-mit commented on #3721
@parlough are you working on this, or do we need to find someone else?

[2022-02-08 21:15] parlough commented on #3721
@mit-mit I'll get back to this today and get something up for review for this and the other options mentioned in https://github.com/dart-lang/site-www/issues/2338 by today or tomorrow.

[2022-02-09 03:34] parlough commented on #3721
Closing as a duplicate of https://github.com/dart-lang/site-www/issues/2338

[2022-02-09 03:34] #3721 closed

[2022-02-09 07:24] hrk2023 commented on #3790
Ok then I will start with replacing the font awesome links with appropriate material icons.

[2022-02-09 16:17] parlough opened #3827 "Investigate layering on top of Dart docker images instead of retrieving the SDKs ourselves"
### Describe the problem

Right now the build breaks with every stable release to give us a chance to update the checksums and confirm them. This can be problematic preventing some fixes from being incorporated until the checksums are updated.

### Expected fix

Is it possible to rely on the official Dart images somehow so we don't have to worry about this check? That way we can also know if analy

[2022-02-09 21:09] hrk2023 commented on #3790
@parlough I made a PR [#151](https://github.com/dart-lang/site-shared/pull/151) in the dart-lang/site-shared repo regarding this issue. Please check it out and that's done I can create a PR for some CSS change required for the material icons.

[2022-02-11 14:19] hrk2023 commented on #3790
@parlough I made a PR [#3830](https://github.com/dart-lang/site-www/pull/3830) in dart-lang/site-www repo to add some css styles for material icons added in dart-lang/site-shared.

[2022-02-11 19:06] #2338 closed

[2022-02-16 06:02] AlexV525 opened #3832 "[mirror] Deploy issues with mirror sites"
### Describe the problem

In #3726 the deploy workflow was migrated to the Firebase deploy, which causes our mirror site unable to follow up on changes. Reasons:

- We use a legacy deploy workflow as defined at https://github.com/cfug/dart.cn/blob/aade33ab22e4cd61aff49b1c91224d6cbded896c/.github/workflows/build.yml.
- We don't have valid Firebase projects (at present), and I don't think we have an

[2022-02-16 06:38] chenglu commented on #3832
Offline chatted and checked with Alex, these changes may not affect the deployment of the .cn site since the .cn site is not using Firebase Hosting.

When synchronizing the docs repo, we might consider ignoring the Firebase configuration files and build script, such as the `firebase.json`, thanks!

[2022-02-16 06:45] #3832 closed

[2022-02-16 07:56] parlough commented on #3832
Thanks for your hard working maintaining and localizing the Chinese language sites! Let us know if any changes here will help your processes :D

[2022-02-17 03:08] AlexV525 commented on #3832
A further step might be migrated to a Firebase host, then we can throw our concern away. :)

[2022-02-17 20:13] #3810 closed

[2022-02-19 20:57] parlough opened #3841 "Combine dartdevc and dartdevc FAQ pages with the most important information"
### Page URL

https://dart.dev/tools/dartdevc/

### Page source

https://github.com/dart-lang/site-www/tree/main/src/tools/dartdevc/index.md

### Describe the problem

The dartdevc information is split across two pages. It may have made since when it first came out, but I think we can consolidate the most important information, particularily now that is in not intended for direct user usage.

###

[2022-02-20 01:08] parlough opened #3842 "[2.17]: Account for dart2js deprecation"
### Page URL

https://dart.dev/tools/dart2js.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/tools/dart2js.md

### Describe the problem

dart2js is being deprecated in Dart 2.17.

### Expected fix

We should indicate this and move relevant documentation to `dart compile` where possible.

### Additional context

_No response_

[2022-02-20 01:11] parlough opened #3843 "[2.17] Account for dartdevc deprecation"
### Page URL

https://dart.dev/tools/dartdevc/

### Page source

https://github.com/dart-lang/site-www/tree/main/src/tools/dartdevc/index.md

### Describe the problem

`dartdevc` as a standalone CLI tool is being deprecated.
Slightly related: https://github.com/dart-lang/site-www/issues/3841

### Expected fix

We should indicate this deprecation and make sure documentation around the proper tools

[2022-02-20 02:42] parlough opened #3846 "Standardize code highlighting system"
### Describe the problem

Currently we use a prettify system with tools to convert blocks that start with `{% prettify dart tag=pre+code %}` as well as a rouge based system relying on the markdown code blocks (```).

Prettify is no longer supported, does highlighting in the browser, requires a more complicated system, and complicates our site infrastructure. We should standardize on rouge and the

[2022-02-21 16:10] parlough opened #3849 "Move away from jquery in our own JS files"
### Describe the problem

We currently use jquery in our [js files](https://github.com/dart-lang/site-www/tree/main/src/assets/js). While we have to currently include jquery anyway for our current Bootstrap use, for our very small uses we don't need to use jquery functionality. Removing most uses will make it easier to remove in the future.

### Expected fix

Replace use of Jquery with more modern

[2022-02-21 16:17] parlough commented on #3849
If anyone wants to help contribute to this. I recommend updating one function in a pull request at a time. So it is easier to review and to test. Let me know if you have any questions or need any help. Thanks!

[2022-02-23 17:34] timsneath opened #3852 "[PAGE ISSUE]: 'Fetch data dynamically'"
### Page URL

https://dart.dev/tutorials/web/fetch-data

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_tutorials/web/fetch-data.md

### Describe the problem

This page urgently needs rewriting to not require `dart:html`. Most all users who come to it will either be writing server-side code without UI, or Flutter code.

### Expected fix

Use package:http.

This page is bette

[2022-02-23 18:12] parlough commented on #3852
Sounds like a great idea. Now that `package:http` is supported by DartPad, we can likely create some great cross-platform examples that can help a wider audience.

I can look into this and other related improvements to the article, thanks!

[2022-02-24 21:03] #3785 closed

[2022-02-26 22:03] bwilkerson opened #3857 "New diagnostic message documentation available"
### Page URL

https://dart.dev/tools/diagnostic-messages

### Page source

_No response_

### Describe the problem

There is new content for this page in `https://github.com/dart-lang/sdk/blob/main/pkg/analyzer/tool/diagnostics/diagnostics.md` that's ready to be incorporated.

### Expected fix

_No response_

### Additional context

_No response_

[2022-02-27 12:25] bkbonner opened #3859 "Dart Language Tour - DartPad snippets occasionally fail to load properly"
### Page URL

https://dart.dev/guides/language/language-tour#constructors

### Page source

https://github.com/dart-lang/site-www/blob/main/src/_guides/language/language-tour.md

### Describe the problem

I was trying to understand the constructor syntax and looking at the docs...and noticed that Dartpad examples don't seem to be rendered properly.

I knew that Dart was open source, so I googled "

[2022-02-27 12:35] bkbonner commented on #3859
After submitting this, I noticed a plugins folder in https://github.com/dart-lang/site-www/tree/main/src and decided to dive into it briefly.   I saw 'code-sample' and thought it might be it, but then remembered that the tag in the source was

<?code-excerpt

I saw the code-excerpt-framer was moved to site-shared in #2600.  For convenience, here it is:

https://github.com/dart-lang/site-shared/tre

[2022-02-27 12:53] bkbonner commented on #3859
One other quick note.

I noticed the ['callable_classes' dartpad example](https://dart.dev/guides/language/language-tour#callable-classes)  is working.

The syntax for the working 'callable classes' example is:
[code]
[code]
<?code-excerpt "misc/lib/language_tour/classes/employee.dart (super)" plaster="none"?>
[code]

[2022-02-27 13:54] bkbonner commented on #3859
another 'nugget' of info:

This was in my javascript console.  I'm on 'chrome 98' on OS-X Monterey 12.2.1

When I clicked on the errors, I definitely got 404 msgs.
e.g.,  https://dartpad.dev/scripts/embed_dart.dart.js.map

<img width="1016" alt="image" src="https://user-images.githubusercontent.com/667769/155885183-b231a571-c35b-449d-9fe3-d3c4b81b4713.png">

[2022-02-27 14:02] bkbonner commented on #3859
Ok, well, it 'finally' showed up.  I'm running this on a 2018 macbook air with 16 GB of memory.  I only have Chrome and VS Code open.   I wouldn't have thought it would taken that long to render, but it finally showed up.   Weird.

![image](https://user-images.githubusercontent.com/667769/155885365-79aa56fb-2c64-4523-a7ec-8672c03712f0.png)

This can probably be closed, or if someone else sees this

[2022-02-27 17:35] #3857 closed

[2022-02-27 17:57] parlough commented on #3857
These are now published as of https://github.com/dart-lang/site-www/commit/fea6f582025358988e29bf9d09e176cbbfce47c5. Thanks for the update, the new diagnostic documentation looks great!

[2022-02-27 18:26] parlough commented on #3859
Hey @bkbonner, thanks so much for the report and the thorough investigation!

I do believe the issue arises because there are many embedded DartPads on the page and each one is essentially a new page, but this particular issue where only the console shows up does not happen consistently. We try to limit the amount of DartPads in the language tour because of the performance hit but it is nice to ha

[2022-03-01 20:14] #2438 closed

[2022-03-01 20:14] #3415 closed

[2022-03-01 20:14] #3697 closed

[2022-03-01 20:19] parlough commented on #3055
I believe the majority, if not all, snippets are now updated to null safety. Any exceptions that come up can be addressed on a case by case basis. We will continuing tracking the work to test code excerpts in https://github.com/dart-lang/site-www/issues/1803

[2022-03-01 20:19] #3055 closed

[2022-03-01 23:18] olechafm opened #3865 "[PAGE ISSUE]: 'Dart cheatsheet codelab'"
### Page URL

https://dart.dev/codelabs/dart-cheatsheet#conditional-property-access

### Page source

https://github.com/dart-lang/site-www/tree/main/src/codelabs/dart-cheatsheet.md

### Describe the problem

`(myObject != null) ? myObject.someProperty : null`

shouldn't that be

`(myObject.someProperty  != null) ? myObject.someProperty : null`

### Expected fix

_No response_

### Additional cont

[2022-03-02 11:14] danagbemava-nc commented on #3865
Hi @olechafm, `(myObject != null) ? myObject.someProperty : null` is the correct expression to be used for this case.
The assumption is that `myObject` might be null so that is where the null check needs to be. You first need to check if the object itself is null before you can access the property.

Closing as this is the correct code.

Feel free to open any more issues if you do find something th

[2022-03-02 11:14] #3865 closed

[2022-03-06 01:11] #3816 closed

[2022-03-06 01:21] #3738 closed

[2022-03-06 17:53] jamesderlin opened #3874 ""CONSIDER copying a nullable field..." recommendation should be clearer"
### Page URL

https://dart.dev/guides/language/effective-dart/usage#consider-copying-a-nullable-field-to-a-local-variable-to-enable-type-promotion

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/language/effective-dart/usage.md

### Describe the problem

The "CONSIDER copying a nullable field to a local variable to enable type promotion." recommendation uses the term

[2022-03-06 18:57] parlough commented on #3874
I can definitely see where the confusion can come in, thanks for the explanation and detailed context @jamesderlin.

In [Fixing type promotion issues](https://dart.dev/tools/non-promotion-reasons) we are pretty direct and say "Create a local variable that holds the value of X", but I can see some word like "aliases" instead of "hold" working well.

@munificent Do you have any thoughts on how we ca

[2022-03-07 15:30] alexmarkov opened #5727 "Consider adding documentation about huge methods"
In order to compile extremely huge methods compiler may spend a lot of time and memory, and may eventually run out of memory.
Also, compiler may compile such methods with certain optimizations disabled or reduced (such as inlining). Huge methods are also harder to reason about and maintain.

So we should suggest users to avoid writing (or generating) too large methods, maybe in "Effective Dart". W

[2022-03-07 19:08] StuckInsideJake opened #3878 "[PAGE ISSUE]: 'Dart SDK archive'"
### Page URL

https://dart.dev/get-dart/archive/

### Page source

https://github.com/dart-lang/site-www/tree/main/src/get-dart/archive/index.md

### Describe the problem

Absolute horse shit that your updates break all my code.

### Expected fix

Dont fucking break everything I wrote

The current Dart SDK version is 2.13.4.

Because map_one_interface depends on json_serializable >=6.0.0 which req

[2022-03-07 19:08] #3878 closed

[2022-03-07 19:08] StuckInsideJake opened #3879 "[PAGE ISSUE]: 'Dart SDK archive'"
### Page URL

https://dart.dev/get-dart/archive/

### Page source

The current Dart SDK version is 2.13.4.

Because map_one_interface depends on json_serializable >=6.0.0 which requires SDK version >=2.14.0 <3.0.0, version solving failed.
pub get failed (1; Because map_one_interface depends on json_serializable >=6.0.0 which requires SDK version >=2.14.0 <3.0.0, version solving failed.)
Process fi

[2022-03-07 19:09] StuckInsideJake commented on #3879
Android studio does not recognize 2.16 versions

[2022-03-07 19:09] #3879 closed

[2022-03-07 20:31] parlough commented on #3879
Hello @StuckInsideJake, were you able to figure out your issue?

If it is possible, I recommend updating your Dart SDK (>= 2.14) or Flutter SDK (>= 2.5) to the newest release you can.

I haven't heard of any particular issues around using these recent releases on Android Studio, but if you have the latest plugin releases and it's not working, consider opening an issue on the [flutter-intellij](htt

[2022-03-08 10:03] twcctz10 opened #3881 "haonature.com"
_Deleted for being spam and potentially malicious._

[2022-03-08 10:53] parlough commented on #3881
This repository is for reporting issues with the Dart website. Please do not post off-topic ads, links, or malicious content. Thanks.

[2022-03-08 10:53] #3881 closed

[2022-03-08 16:01] jeffdahl opened #3883 "Get Dart Ubuntu No such file or directory"
### Page URL

https://dart.dev/get-dart

### Page source

_No response_

### Describe the problem

When running the following:
`echo 'deb [signed-by=/usr/share/keyrings/dart.gpg arch=amd64] https://storage.googleapis.com/download.dartlang.org/linux/debian stable main' | sudo tee /etc/apt/sources.list.d/dart_stable.list`

I receive:
`bash: deb [signed-by=/usr/share/keyrings/dart.gpg arch=amd64] htt

[2022-03-08 18:56] munificent opened #3884 "Add `!` null assert operator to language tour operator table"
### Page URL

https://dart.dev/guides/language/language-tour#operators

### Page source

_No response_

### Describe the problem

The Language Tour has a very nice table that summarizes all of the operators in Dart. It looks like it's missing the unary postfix `!` null-assert operator that was added as part of null safety.

### Expected fix

Add `!` to the "postfix unary" row.

### Additional cont

[2022-03-09 13:44] mit-mit commented on #3884
What do we want to call it?

[2022-03-10 00:45] munificent commented on #3884
The language spec calls it a "null-assert operator", which is also what Kotlin calls `!!`. It's not a great name (since it doesn't have much to do with `assert()` in Dart, but it's... OK?

[2022-03-10 06:36] parlough commented on #3714
I've updated this to remove travis and with new instructions of how to test new releases. Thanks!

[2022-03-10 06:36] #3714 closed

[2022-03-11 04:43] suragch opened #3890 "New Dart book"
### Page URL

https://dart.dev/resources/books

### Page source

_No response_

### Describe the problem

There is another Dart book that can be added to this page:

Data Structures & Algorithms in Dart
https://www.raywenderlich.com/books/data-structures-algorithms-in-dart

Full disclosure: I'm one of the authors.

### Expected fix

_No response_

### Additional context

_No response_

[2022-03-11 05:32] parlough commented on #3890
@suragch This is really cool. It's nice to see a book not about Dart but about something else (besides Flutter) using Dart. Thanks for working on this and sharing. Definitely a great addition!

I can work on adding this and I hope to have a chance to read it soon :)

[2022-03-11 06:03] parlough commented on #3890
One question. The raywenderlich site specifies "By Vincent Ngo, Jonathan Sande and Kelvin Lau" but it seems in the book itself, you are specified as the only author. Should the author just be "Jonathan Sande" in the dart.dev listing?

Thanks again!

[2022-03-11 06:14] suragch commented on #3890
Thanks, @parlough. The book is based on [Data Structures and Algorithms in Swift](https://www.raywenderlich.com/books/data-structures-algorithms-in-swift), which was by Vincent Ngo and Kelvin Lau. I did the Dart version but am heavily indebted to the work of the two Swift authors. Since the main raywenderlich.com page that you'll link to uses all three of our names, you can follow that pattern. Bu

[2022-03-11 17:52] igouy opened #3893 "Cannot find source file: hello.def"
### Page URL

https://dart.dev/guides/libraries/c-interop#building-and-running

### Page source

_No response_

### Describe the problem

[code]

### Expected fix

I expect the example to just work when followed:

https://dart.dev/guides/libraries/c-interop#building-and-running

### Additional context

_No response_

[2022-03-11 18:02] igouy opened #3894 "Fix FFI example fails to find dependent package `test_utils`"
### Page URL

https://dart.dev/guides/libraries/c-interop#building-and-running

### Page source

_No response_

### Describe the problem

[code]

### Expected fix

I expect "an example of building the dynamic library and executing the Dart app" to work when followed.

The "hello_world example has the following files" does not mention "../test_utils"

### Additional context

_No response_

[2022-03-11 23:03] parlough commented on #3893
Thanks for opening an issue @igouy!

It seems the CMake logic requires the [`hello.def`](https://github.com/dart-lang/samples/blob/master/ffi/hello_world/hello_library/hello.def) file to exist, but we didn't include it this list yet. You can [download it](https://github.com/dart-lang/samples/blob/master/ffi/hello_world/hello_library/hello.def) and include it next to other files in the `hello_libra

[2022-03-11 23:10] parlough commented on #3894
Hi @igouy, thanks again for opening an issue.

I'm curious, did you just install the linked files in the instructions? Currently they are meant as more of an example to loosely follow and understand, not necessarily as a template. Therefore for testing purposes, it require files elsewhere in the [samples](https://github.com/dart-lang/samples) repository.

I'm thinking we can make it clear it, that

[2022-03-12 09:25] delanym opened #3897 "Invalid documention: user-info is not supported in url"
### Page URL

https://dart.dev/tools/pub/environment-variables#optional-environment-variables

### Page source

_No response_

### Describe the problem

See https://github.com/groupe-edf/nexus-repository-dart/issues/6

### Expected fix

_No response_

### Additional context

_No response_

[2022-03-12 18:31] parlough commented on #3897
Hey @delanym, thanks for opening an issue. It seems that specifying user info is [not supported](https://github.com/dart-lang/pub/blob/master/lib/src/source/hosted.dart#L64-L66) in the URL. If you need authentication against a third party pub server, it seems [`dart pub token`](https://dart.dev/tools/pub/cmd/pub-token) is the preferred solution.

@jonasfj Could you provide some extra context here?

[2022-03-13 03:28] #3723 closed

[2022-03-13 03:30] #3893 closed

[2022-03-13 03:30] #3890 closed

[2022-03-13 07:58] jamesderlin opened #3899 "[PAGE ISSUE]: 'Customizing static analysis' has a broken code excerpt"
### Page URL

https://dart.dev/guides/language/analysis-options

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/language/analysis-options.md

### Describe the problem

In the description for `strict-raw-types`, I see:

[code]
![image](https://user-images.githubusercontent.com/17391434/158050683-40adfc6a-8455-4d85-85fb-030a1978a4d4.png)

### Expected fix

_No response_

[2022-03-13 15:24] delanym commented on #3897
It looks possible to use a [token](https://help.sonatype.com/repomanager3/nexus-repository-administration/user-authentication/security-setup-with-user-tokens) with Nexus Pro, but not Nexus OSS.

[2022-03-13 17:28] igouy commented on #3894
Yes I (not ironically) "literally" followed the instructions.

It's hello world! Make it so I can copy and paste stuff into a terminal window and it just works.

[2022-03-13 17:39] parlough commented on #3894
Thanks for clarifying!

I'll see if we can move everything within the directory to avoid the external directory dependency, making it easier to just copy and paste from the sample you want to use.

[2022-03-13 22:54] #3899 closed

[2022-03-14 10:15] jonasfj commented on #3897
See my reply in https://github.com/dart-lang/site-www/pull/3901.

In short: Surprised anyone did this. Using `dart pub token` is much better.

[2022-03-14 10:15] #3897 closed

[2022-03-14 14:01] fzyzcjy opened #3902 "Is https://fartlang.org/, i.e. Fart, the official Dart?"
### Page URL

https://fartlang.org/

### Page source

_No response_

### Describe the problem

The https://fartlang.org/ describes a language called *Fart*, but all its links point to Dart-related pages, including this issue tracker. I have searched Fart without interesting results.

So I wonder whether Fart is really the (old) name of Dart? Or someone is just joking?

### Expected fix

_No respon

[2022-03-14 18:09] johnpryan opened #3903 "documentation for weak refs and finalizers"
https://github.com/dart-lang/language/blob/master/accepted/future-releases/1847%20-%20FinalizationRegistry/proposal.md

[2022-03-14 18:09] johnpryan opened #3904 "[2.19] `Isolate.run()` docs"
https://dart-review.googlesource.com/c/sdk/+/217008

### Summary

"Runs [computation] in a new isolate and returns the result." - [API docs](https://github.com/dart-lang/sdk/commit/a5f25ee3ba5a7f2e22b7698590727b32c37204f9#diff-c9ae8fb1ff4a1b2edd5b4883ebb21d80f818511d5f90ff7e79993f2cb9f909fcR153)

Currently, you have to use sendport and receiveport to get a return from an isolate. Isolate.run() doe

[2022-03-14 18:10] johnpryan opened #3905 "documentation for signing dart2native executables"
The https://dart.dev/tools/dart-compile page lists links to the [bug](https://github.com/dart-lang/sdk/issues/39106), but there could be more pages to update.

[2022-03-14 18:10] johnpryan opened #3906 "Document beta support for RISC-V"
https://github.com/dart-lang/sdk/issues/38587

[2022-03-14 18:11] johnpryan opened #3907 "documentation for FFI plugins"
https://github.com/flutter/flutter/pull/96225

[2022-03-14 18:11] johnpryan opened #3908 "documentation for new FFI NativeTypes"
We should update the [FFI page](https://dart.dev/guides/libraries/c-interop) to include the [new types](https://dart-review.googlesource.com/c/sdk/+/229156) if we need to.

[2022-03-14 18:11] johnpryan opened #3909 "documentation for deprecated .packages file"
https://github.com/dart-lang/sdk/issues/48272

[2022-03-14 18:12] johnpryan opened #3910 "[2.17] Use new `dart` subcommands"
We should ensure we are using `dart` subcommands if the previous command is deprecated in 2.17: https://github.com/dart-lang/sdk/issues/46100

[2022-03-14 18:36] mit-mit commented on #3905
I can take this one

[2022-03-14 18:38] mit-mit commented on #3909
The work here is to search for any documentation that might mention `.packages, check that those same places already mention `package_config.json`, and if then to simply remove the mentioning of `.packages`

[2022-03-14 18:58] parlough commented on #3906
Is this ready to be documented as a properly supported architecture? It seems some features are not fully supported (FFI) and it doesn't seem the release team is releasing Linux builds for RISC-V yet.

[2022-03-15 00:46] fzyzcjy commented on #3902
I see 😆

[2022-03-15 09:23] parlough commented on #3907
Do you mean for this to be tracked in [flutter/website](https://github.com/flutter/website)? I'm not sure of any actionable work here on the Dart side.

[2022-03-15 22:50] telenieko opened #3917 "https://news.dartlang.org/ is broken"
### Page URL

https://news.dartlang.org/

### Page source

_No response_

### Describe the problem

There are several search results that point to <https://news.dartlang.org/> but that page is out of date and very much broken. There are broken images that screw up the whole layout and take most of the top part which means that when you go in you see nothing:

![image](https://user-images.githubuse

[2022-03-16 02:07] parlough commented on #3917
Thanks for opening an issue @telenieko.

I agree the broken images (especially the one on the top of each article) make the site and articles a bit hard to navigate, so it would be nice to see those fixed (or removed) for reference and posterity purposes. The root page redirect could be nice to see as well.

I'm not sure who has access though and the work likely wouldn't have any priority due to t

[2022-03-16 22:29] kevmoo commented on #3917
Ugh. Hrm. Not sure what to do about this.

@sfshaza2 – any context here? @mit-mit ?

[2022-03-17 03:02] domesticmouse commented on #3917
Worst case we can redirect the DNS entry to a web host that 301 redirects the user appropriately.

[2022-03-17 07:56] mit-mit commented on #3917
I added this to the agenda for next weeks Dart DevRel meeting

[2022-03-17 19:03] jamesderlin opened #3920 "[PAGE ISSUE]: 'The Dart type system' Should the "Generic type assignment" section mention potential runtime failures?"
### Page URL

https://dart.dev/guides/language/type-system#generic-type-assignment

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/language/type-system.md

### Describe the problem

Should the "Generic type assignment" section (https://dart.dev/guides/language/type-system#generic-type-assignment) mention that treating `Generic<Subtype>` as a subtype of `Generic<Supert

[2022-03-17 19:16] parlough commented on #3920
Good idea. We do mention this in [Fixing common type problems](https://dart.dev/guides/language/sound-problems#runtime-errors) but you’re right it could be worth mentioning as a warning here.

Thanks for the suggestion :)

[2022-03-17 19:26] parlough opened #3921 "Improve 'Custom package repositories' page"
### Page URL

https://dart.dev/tools/pub/custom-package-repositories.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/tools/pub/custom-package-repositories.md

### Describe the problem

This page could use some updates to cover missing pieces from the new [Hosting a private Dart package repository](https://medium.com/dartlang/hosting-a-private-dart-package-repository-774c

[2022-03-17 19:36] jamesderlin commented on #3920
I don't seem to see this specific kind of problem mentioned on that page.  I think the case of `Generic<Subtype>` being substitutable for `Generic<Supertype>` is worth mentioning explicitly since, unlike the cases that use `dynamic` or where there are explicit casts, it *looks* safe (particularly from the perspective of `addAnimal`), especially since it's implicitly allowed without any static anal

[2022-03-17 19:41] sfshaza2 commented on #3917
@kevmoo, I just scrolled through several pages of this blog and I don't agree that most of it has any value. Most of it seems pretty value-less to me. (Do we need info on IntelliJ 2017? or news that Dart is now strongly typed? or info on Dart Conf from years ago?) I remember that the content lives on blogger and @mit-mit has access to that. (I might still have access, too.)

I would suggest that w

[2022-03-17 20:15] parlough commented on #3917
Sounds like a good plan to me, especially with the redirect. If anyone wants to refer to the contents externally, [the Wayback Machine](https://web.archive.org/web/*/http://news.dartlang.org) for the site should be sufficient.

[2022-03-17 20:57] parlough opened #3922 "Update mentions to `dart create` template names"
The template names are being simplified in Dart 2.17, we should make sure we switch references to the new versions with the release:

[code]

[2022-03-17 20:59] parlough opened #3923 "Update mentions and usages of `package:lints` version to 2.0"
With Dart 2.17, the lints package will release a ^2.0.0 version with various new lints and corresponding fixes.

If we mention or use the old version anywhere, with the release of 2.17 we should update those references and fix any lints as necessary.

[2022-03-17 21:05] domesticmouse commented on #3923
Is `flutter_lints` also getting a matching major version bump?

[2022-03-17 21:11] parlough commented on #3923
@domesticmouse Yep, you can find more info here: https://github.com/flutter/packages/pull/1165, but I'm not sure about the timelines on the `flutter_lints` side.

[2022-03-17 21:44] goderbauer commented on #3923
v2 of package:lints is published. package:flutter_lints will follow shortly as soon as https://github.com/flutter/packages/pull/1165#issuecomment-1071542929 is resolved.

[2022-03-19 00:50] RedBrogdon opened #3924 "New docs request: enhanced enums"
Some enhancements to Dart's enums have landed in recent releases, and are likely to be completed in the next release. You can see the spec for these changes at:

https://github.com/dart-lang/language/blob/master/accepted/future-releases/enhanced-enums/feature-specification.md

When those are ready to land, we'll need updates to the language tour and (more than likely) a few other areas as well.

[2022-03-19 00:52] RedBrogdon opened #3925 "New docs request: named arguments anywhere"
The ability to use named arguments anywhere in a function invocation (before or after positional ones) is likely to land in the next release. We'll need to update the language tour and any other places that mention the previous restriction to only place named arguments after positional args.

Spec for this change is available here:

https://github.com/dart-lang/language/blob/master/accepted/future

[2022-03-19 00:55] RedBrogdon opened #3926 "New docs request: super parameters"
Super parameters are likely to arrive in the next SDK release. We'll need to make sure the language tour is updated, and probably create a sample app or two for use in code excerpts.

Spec is available at:

https://github.com/dart-lang/language/blob/master/working/1855%20-%20super%20parameters/proposal.md

[2022-03-19 00:57] #3926 closed

[2022-03-19 00:57] #3925 closed

[2022-03-19 00:57] #3924 closed

[2022-03-19 20:05] sfshaza2 commented on #3917
Exactly, @parlough. Kathy felt that the wayback machine should be sufficient and I tend to agree. If we save an archive of the blog, we can always dive in to retrieve any tidbits that still might be useful.

[2022-03-20 20:48] telenieko commented on #3917
It may be worth noting that search engines do not appear to index the [Wayback Machine](https://web.archive.org/), at least not fully as you can see by [asking google for site:web.archive.org + dart](https://www.google.com/search?q=site%3Aweb.archive.org+dart).

This would mean that if <https://news.dartlang.org/> is simply taken down and redirected to <https://medium.com/dartlang> Dart's "history

[2022-03-20 20:51] telenieko commented on #3917
It may be worth noting that search engines do not appear to index the [Wayback Machine](https://web.archive.org/), at least not fully as you can see by [asking google for site:web.archive.org + dart](https://www.google.com/search?q=site%3Aweb.archive.org+dart).

This would mean that if <https://news.dartlang.org/> is simply taken down and redirected to <https://medium.com/dartlang> Dart's "history

[2022-03-20 21:49] sfshaza2 commented on #3917
Migrating the old content to Medium is a non-starter for me. It's absolutely not worth the effort unless we have specific articles of interest we want to preserve publicly. @mit-mit, would you be willing to make the more minor changes on the old blog as recommended by @telenieko? I could definitely live with that solution. (I still think we should back up an archive of the blog and save it interna

[2022-03-20 22:24] parlough opened #3929 "Deploy is failing due to authentication issue"
### Describe the problem

It seems the Firebase JWT (token) has expired or no longer has the appropriate permissions to deploy, causing the deploy to fail:

You can see an example of the failed deploy in GitHub Actions here: https://github.com/dart-lang/site-www/runs/5619923913?check_suite_focus=true

[code]

### Expected fix

Generate a new token and replace the old one in GitHub secrets.

If the

[2022-03-21 10:27] Nirsu opened #3933 "Introduction - would like to contribute"
I'm currently a student, working for a company using a lot Flutter and JS (ReactJS, Nodejs).
I'm new to open source contribution, so I'd like to participate in my first pr. I saw that there was only one issue with the beginner label, but it's already assigned, I'd like to know if there was another issue I could contribute to :)

Thanks

[2022-03-21 12:24] sanathusk opened #3934 "dart.dev does not have an interactive language tour"
### Describe the problem

[Dart Lang site](https://dart.dev/) currently has an playground (with some sample programs that can be selected from dropdown) and a seprate language tour guide (https://dart.dev/guides/language/language-tour). But the language tour guide is not interact and a bit verbose. An interactive language tour similar to [go lang's ](https://dart.dev/) would be beginner friendly.

[2022-03-21 12:47] parlough commented on #3934
Thanks for the suggestion @sanathusk. It would definitely be interesting to introduce a completely workshop/interactive style of the language tour using DartPad.

For now, the [Dart codelabs](https://dart.dev/codelabs) are a great way to get a sort of similar experience. The [Dart cheatsheet codelab](https://dart.dev/codelabs/dart-cheatsheet) is a particularly good way to get familiar with the lan

[2022-03-21 12:52] parlough opened #3935 "Code blocks in alert windows lose background styles"
### Describe the problem

Code blocks within alert boxes lose their background styles.

An example from [Customizing static analysis](https://github.com/dart-lang/site-www/blob/main/src/_guides/language/analysis-options.md?plain=1#L205-L215):
<img width="916" alt="Screen Shot 2022-03-21 at 7 50 51 AM" src="https://user-images.githubusercontent.com/18372958/159264463-ffe0ebe7-9991-4284-a056-8ca37e5

[2022-03-21 13:02] parlough commented on #3933
Hi @Nirsu, it's great to hear from you and to see your excitement about participating, thanks for reaching out :)

For now, my recommendation is to look at issues with the [Help wanted label](https://github.com/dart-lang/site-www/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22) which is sort of similar to `beginner` and find one you're interesting in working on. It's okay to only work on a

[2022-03-22 05:57] sanathusk commented on #3934
Will definitely try codelabs.Thank you for the reply

[2022-03-22 14:46] Renesanse opened #3936 "Flutter web great example?"
### What information is missing?

A lot of developers confused in web development by using flutter web. what about to show a cool example for community?

### How would you like us to fix this problem?

rewrite to flutter web

[2022-03-22 21:55] domesticmouse commented on #3936
I suspect this request should be moved to the [flutter/website issue tracker](https://github.com/flutter/website/issues).

[2022-03-22 22:16] parlough commented on #3936
Hi @Renesanse, thanks for opening an issue.

To clarify, would you like to see more Flutter web examples or the dart.dev site implemented with Flutter?

For Flutter web examples, you could check out [Flutter samples](https://flutter.github.io/samples/#?platform=web) for some good examples for web or the [Flutter photobooth](https://github.com/flutter/photobooth) for a popular example. If you're lo

[2022-03-22 23:36] kevmoo commented on #3909
@mit-mit – do we want to (at a minimum) keep *some* references around – maybe at least one saying "hey this is old. If you're on 2.17+ delete it"

[2022-03-22 23:47] parlough commented on #3909
If that is desired, perhaps a note to remove it on the [Package layout](https://dart.dev/tools/pub/package-layout) page where we currently have the note about how it was replaced.

[2022-03-23 00:24] parlough commented on #3843
@mit-mit @kevmoo Not sure who to direct this to, but I had some questions as I was working on updates around this.

We have many mentions to `dartdevc`, especially in terms of specific behavior developer's need to keep in mind.

Should we still use `dartdevc` to explain these mentions, "Dart dev compiler", or something along the lines of "when building a web app in debug mode" or "when not using r

[2022-03-23 00:33] kevmoo commented on #3909
Or the 'what to ignore' page? Basically say if the package in question depends on Dart 2.17 (or greater) then you no longer need to ignore it.

[2022-03-23 01:25] #3728 closed

[2022-03-23 13:08] #3936 closed

[2022-03-23 14:26] bwilkerson opened #3945 "New documentation for diagnostics"
### Page URL

https://dart.dev/tools/diagnostic-messages

### Page source

_No response_

### Describe the problem

The documentation for diagnostics has been updated to include several new diagnostics.

### Expected fix

These need to be pulled from the `analyzer` package.

### Additional context

_No response_

[2022-03-23 16:33] theRealProHacker opened #3946 "Typo"
### Page URL

https://api.dart.dev/stable/2.16.2/dart-io/FileSystemEntity/isAbsolute.html

### Page source

_No response_

### Describe the problem

### Expected fix

Should be

### Additional context

I would have loved to fix this myself, but IMO the source code isn't very clearly structured for a stranger.

[2022-03-24 06:15] parlough commented on #3946
Thanks for catching this and opening an issue.

I'll go ahead and keep this open so I can trick fixing it (since I can't move it), but for reference, API documentation changes are tracked in the [SDK Repository](https://github.com/dart-lang/sdk/issues). I'll likely submit a fix tomorrow.

Thanks again :)

[2022-03-24 17:05] #3945 closed

[2022-03-24 17:06] parlough commented on #3929
Anyone able to help with this? I don’t have the ability to deploy locally so we’re missing some updates like the recent diagnostic messages.

Thanks!

[2022-03-24 17:38] sfshaza2 commented on #3929
I just pinged Khanh and others about this.

On Thu, Mar 24, 2022 at 10:06 AM Parker Lougheed ***@***.***>
wrote:

[2022-03-24 18:49] bwilkerson commented on #3945
I'm not seeing these when I open the page. Is there an expected delay from the time the PR lands until the time they show up on the web site?

[2022-03-24 18:58] parlough commented on #3945
@bwilkerson Sorry, the deploy is currently broken and I don’t have permission to deploy manually.

https://github.com/dart-lang/site-www/issues/3929

@sfshaza2 has raised the issue with the devrel team, hoping we can get it fixed soon.

[2022-03-24 19:15] bwilkerson commented on #3945
No problem. Thanks for the issue reference.

[2022-03-24 19:30] sfshaza2 commented on #3945
Yes, @khanhnwin is working on it. We are close to having it fixed, I think.

[2022-03-24 19:32] sfshaza2 commented on #3929
I don't have permission to deploy it manually, either. @khanhnwin is close to getting the issue fixed. (It has to do with a firebase token.)

[2022-03-24 22:47] mattetti commented on #3193
I run into this issue using dart FFI with Go in c-shared mode. Everything works fine on mac where ffi's `malloc.free` does what's expected. But on windows, when trying to free the native memory allocated in cgo (via `C.CString` for instance) would result in a segfault.

As workaround was to follow the recommendation shared by @johnpryan and to define an exported function in Go that can be called f

[2022-03-25 17:19] bwilkerson commented on #3929
I don't know whether this means that this issue has now been fixed, but in case it's useful information the new diagnostics appear to be live.

[2022-03-25 17:59] sfshaza2 commented on #3929
Yes, @mit-mit was able to fix the issue. Thanks, @khanh and all!

[2022-03-25 18:35] parlough commented on #3929
Looks like the deploy and the deploy previews are working. Thanks everyone for your help :)

[2022-03-25 18:35] #3929 closed

[2022-03-28 18:37] parlough commented on #3946
I created a CL with a fix for this against the SDK [here](https://dart-review.googlesource.com/c/sdk/+/239180). Thanks again for reporting the issue!

[2022-03-28 18:37] #3946 closed

[2022-03-29 15:50] nilsreichardt opened #3951 "One `Note:` too much in `style.md`"
<img width="966" alt="image" src="https://user-images.githubusercontent.com/24459435/160652769-1f6d9e86-a9c6-4367-a2df-f19db2a5476e.png">

https://dart.dev/guides/language/effective-dart/style#do-name-libraries-and-source-files-using-lowercase_with_underscores

[2022-03-29 16:28] #3951 closed, assigned to nobody

[2022-03-29 17:46] munificent commented on #3874
Yeah, I agree. "Copy" is totally the wrong word to use here. I like "assign":

[2022-03-30 02:10] #3874 closed

[2022-03-30 05:31] parlough opened #3954 "Consider extracting link check from stage/deploy to catch link issues in PRs"
### Describe the problem

The link check is tied to the build/stage jobs, which don't run in every user's PRs. We should consider extracting it from those jobs so it will catch link issues for all pull requests.

### Expected fix

Perhaps create a separate job to run the link checker. If possible avoid rebuilding the website again just for the link check.

### Additional context

_No response_

[2022-03-30 12:21] parlough commented on #3933
I'm going to close this for now, but always feel free to let us know if you need help contributing. Thanks again!

[2022-03-30 12:21] #3933 closed

[2022-03-30 15:32] Esgrima opened #3956 "Linkable Sections"
### Describe the problem

Sections of the documents are not linkable.

### Expected fix

Add a link button to each section so when the link is shared and someone uses it, they're taken straight to that section of the document.

### Additional context

Internal g3docs use this.

[2022-03-30 18:46] parlough commented on #3956
Hey @Esgrima, thanks for opening an issue.

Can you clarify what you'd like to see added? Currently, our h2 and h3 headers have anchors on hover/focus that you can use to get the link from and links to h4 headers work as well. They look like the following:

<img width="317" alt="Example anchor from language tour header" src="https://user-images.githubusercontent.com/18372958/160908353-f0f79234-a75

[2022-03-31 18:43] kevmoo commented on #3906
@mit-mit @rmacnak-google – we're not ready to document RISC-V yet – correct?

[2022-03-31 21:49] rmacnak-google commented on #3906
The bots only started uploading RV64 SDKs yesterday. I'd put it off until the next release so things have time to settle.

[2022-03-31 22:21] parlough opened #3958 "Support listing riscv64 builds on archive page"
### Page URL

https://dart.dev/get-dart/archive/

### Page source

https://github.com/dart-lang/site-www/tree/main/src/get-dart/archive/index.md

### Describe the problem

As of https://github.com/dart-lang/sdk/commit/2d530c15560cc26da82ba1016c3b7bc5f43b6efc there are riscv64 linux builds generated.

### Expected fix

**Wait until a build is released to a dev branch.**

We should verify the archiv

[2022-03-31 22:22] parlough commented on #3906
I will keep this issue as tracking any necessary documentation changes, and have separated out [archive page](https://dart.dev/get-dart/archive) support for handling `riscv64` builds: https://github.com/dart-lang/site-www/issues/3958

[2022-03-31 23:52] parlough commented on #3904
This has been reverted in https://github.com/dart-lang/sdk/commit/d063ac32335881e34f324746b8e155cc93bc57d8, so changing the milestone.

[2022-04-01 10:35] mit-mit commented on #3906
I would like to update dart.dev with information about this for the 2.17 release, but tagging it as "experimental support" until we have a bit more customer validation.

Relevant pages are:
https://dart.dev/get-dart#system-requirements
https://dart.dev/get-dart/archive

[2022-04-03 02:06] parlough commented on #3883
I'm going to close this for now as no one else has reported this issue and the supported distros include these tools. Let me know if  you are still experiencing this issue, thanks!

[2022-04-03 02:06] #3883 closed

[2022-04-03 05:36] KhaledR57 opened #3961 "Log Instead of Print"
https://github.com/dart-lang/site-www/blob/b57d97bab1c9962b48c299b1890282744378a5b7/src/get-dart/sdk_builds.dart/lib/src/dart_downloads.dart#L66

I have seen this line while I was searching in the repo files, and I thought it is better to change `print()` to [`log()`](https://api.flutter.dev/flutter/dart-developer/log.html).

Is it good to change all `print()` (Used for debugging) to  [`log()`](ht

[2022-04-03 06:31] #3961 closed

[2022-04-05 00:36] #3935 closed

[2022-04-05 06:51] osa1 opened #3968 "Remove link to SDK issue #33383 as linked target adds little to understanding"
### Page URL

https://dart.dev/language/libraries

### Page source

_No response_

### Describe the problem

The language guide links to https://github.com/dart-lang/sdk/issues/33383 in a note in section "Libraries and visibility".

As a user I found that link more confusing than helpful. There's an answer in the thread, but I have to skip multiple comments to find it. Even after finding the answe

[2022-04-05 18:28] khanhnwin commented on #3945
For record keeping, this was fixed. Thanks for your patience, everyone!

[2022-04-06 02:11] parlough opened #3970 "Update 'dart pub uploader' page for removal of command in Dart 2.17"
### Page URL

https://dart.dev/tools/pub/cmd/pub-uploader.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/tools/pub/cmd/pub-uploader.md

### Describe the problem

The subcommand is being removed in Dart 2.17.

### Expected fix

Mention that is removed and consider removing some mentions to it. Make sure the alternative strategy is well documented.

### Additional context

[2022-04-06 06:39] parlough commented on #3968
Thanks for the suggestion, I agree that linking to a large issue with a lot of discussion isn't really helpful. I can put some thought in to how we could structure a more straight-forward, condensed explanation inline in the doc.

I do wonder if the explanation of "why" is even needed at all as part of the language tour though. Do you(or others passing by) find it helpful/relevant to learning Dart

[2022-04-06 06:53] osa1 commented on #3968
Good point. I generally find it useful, as long is it doesn't make the text too verbose (e.g. maybe it's in a footnote, a separate page, or in an expandable section), for two reasons:

1. I'm a language implementer and designer myself, so I'm interested to know if a decision was made purely for social reasons (e.g. designers think feature X is bad for software engineering, it leads to unmaintainab

[2022-04-07 23:17] parlough opened #3971 "[2.17]: Redirect 'dart pub uploader' page to publishing page's uploaders documentation"
### Page URL

https://dart.dev/tools/pub/cmd/pub-uploader.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/tools/pub/cmd/pub-uploader.md

### Describe the problem

With the release of Dart 2.17, the old `dart pub uploader` command will be removed and no longer functional in older versions.

### Expected fix

We should delete the page and redirect the URL to the "Uploaders

[2022-04-08 12:06] #3970 closed

[2022-04-08 14:34] #3958 closed

[2022-04-08 14:37] parlough commented on #3906
I've landed documentation and archive support for RISC-V in https://github.com/dart-lang/site-www/commit/81ffe294b86e3f1003d8cf69674eaa2e0ecb59cc

I'll keep this issue open to track bringing that support to the beta and stable branches when those land.

[2022-04-10 08:27] parlough opened #3977 "Consider splitting 'dart compile' subcommands into their own pages"
### Page URL

https://dart.dev/tools/dart-compile.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/tools/dart-compile.md

### Describe the problem

As it stands now, we don't document the complete functionality of each command and the page is getting rather long. As we add more documentation about the various commands, especially with `dart compile js` replacing `dart2js`

[2022-04-10 08:28] parlough commented on #3977
@sfshaza2 @mit-mit Does splitting these up seem fine to you? Another option would be to only have a separate page for the `js` subcommand for now, but the consistency would be nice.

[2022-04-11 00:05] domesticmouse commented on #3977
I'm supportive of splitting and documenting sub commands on different pages

[2022-04-11 08:06] VanshajPoonia opened #3981 "Spell Checking method is deprescated"
### Describe the problem

When I ran make setup, I received the warning: Calling `DidYouMean::SPELL_CHECKERS.merge!(error_name => spell_checker)' has been deprecated.

### Expected fix

Please call `DidYouMean.correct_error(error_name, spell_checker)' instead.

### Additional context

_No response_

[2022-04-11 08:21] parlough commented on #3981
Thanks for opening an issue. This was a temporary bug in a previous bundler release. Next time we update our Ruby dependencies, I believe this should be fixed.

Until then, the the build should still work. Let me know if you have any other issues. Thanks again!

[2022-04-11 08:35] mit-mit commented on #3977
I'm fairly indifferent (we have much longer pages on the site even of we, say, expand this one to 2x it's current length)

[2022-04-11 19:39] parlough commented on #3193
Hi @Jordan-Nelson, I'm not too familiar with DevTools but with the new [`Finalizer`](https://github.com/dart-lang/sdk/commit/7dca34c23535287593595a3f570a714465556210#diff-046b8cfb69b986e4f303074da675c5ba4e74f4354fbc78f7be2bffa0d62e2de7R9) API Dart is introducing in 2.17, I believe that should allow for more exploration in this area.

You can read and comment on a new proposal/design doc for adding

[2022-04-11 22:49] #3981 closed

[2022-04-12 06:18] dcharkes commented on #3193
The Dart `Pointer` objects that point to the allocated C memory (allocated by `toNativeUtf8`) will be freed by the Dart GC. The allocated C memory is not freed.

`Pointer`s do not include native memory.

In order to tell the Dart GC that you're holding on to native memory, one can use the `NativeFinalizer` [1]. The NativeFinalizer can also free the C memory when an object gets GCed.

The typical p

[2022-04-12 17:38] #3908 closed

[2022-04-12 19:44] Jordan-Nelson commented on #3193
Nice. I think that would be very useful. Looking forward to using it!

[2022-04-13 14:58] Jordan-Nelson commented on #3193
There are two things I am trying to determine. First, does the app/program have a memory leak. Second, what is causing the leak if one exists (which allocation is not freed up). I figured out a simple way to achieve the first goal. This might be obvious to others, but it wasn't to me, so I figured I would share.

1. Create a script that exercises to code paths you want to test (ex: `memory_profili

[2022-04-16 21:20] parlough commented on #3977
After experimenting with this, I found for now it's probably not necessary, as a lot of the current information contained in the `dart2js` page would be better located somewhere else as a lot of it is shared behavior.

[2022-04-16 21:20] #3977 closed

[2022-04-16 23:54] parlough opened #3993 "Investigate support for test package's GitHub actions reporter"
### Describe the problem

The 1.21.0 release of the test package added support for a GitHub actions reporter in https://github.com/dart-lang/test/pull/1678.

### Expected fix

We should investigate using it and surfacing those results to make it easier to identify test issues.

### Additional context

_No response_

[2022-04-22 16:55] #3842 closed

[2022-04-22 18:02] parlough commented on #3906
@mit-mit Do you want the beta riscv builds to show up yet or should we only surface the dev builds for now?

[2022-04-22 18:08] parlough commented on #3907
@johnpryan Do you have more context here?

[2022-04-23 09:45] mit-mit commented on #3906
Showing beta RISC-V would be fine! Probably don't want stable yet.

[2022-04-25 16:28] #3906 closed

[2022-04-25 18:04] kevmoo commented on #3843
@sigmundch ?

[2022-04-26 16:30] #3907 closed

[2022-04-26 19:46] sigmundch commented on #3843
I like the idea of just saying "when building in dev mode" if that works OK in the context of the other docs.

I agree with the sentiment in https://github.com/dart-lang/site-www/issues/3841 and I am curious whether it makes sense to take it a step further and remove both pages. Afterall, the inner workings of dartdevc are not as relevant as the workflows for developing on the web it self.

[2022-04-27 04:36] parlough commented on #3843
Thanks for your thoughts here @sigmundch. I also like that direction for simplifying understanding for developers.

It's a bit of a larger undertaking to restructure that across the docs properly, so I'll separate out that work from what's necessary for the 2.17 release. Do you think dart2js can go in similar direction of being referred to as more of "when building in release mode" as well?

[2022-04-27 11:25] #3910 closed

[2022-04-27 16:01] sigmundch commented on #3843
Thanks @parlough, totally makes sense update the docs a bit at a time.

Re: dart2js vs "building in release mode" - I can see some places changing, but I sense we will still want to talk about dart2js (or `dart compile js`) for two reasons. One is to show how to use the command-line tool when not using webdev/flutter-tool, since that may be the only way some developers will have available to build

[2022-04-27 17:55] iapicca commented on #3907
https://github.com/flutter/website/issues/7073

[2022-04-28 22:30] parlough opened #4009 "Document package:checks when/if it moves out of preview"
### What information is missing?

There is a new experimental testing package, [`package:checks`](https://github.com/dart-lang/test/tree/master/pkgs/checks) that presents an alternative to the traditional matchers.

### How would you like us to fix this problem?

If/when this package moves beyond a preview stage, we should consider documenting it or at least noting its existence.

[2022-04-29 16:04] mmcdon20 opened #4011 "Is it "initializing parameters" or "initializing formals"?"
### Page URL

https://dart.dev/guides/language/language-tour#initializing-parameters

### Page source

_No response_

### Describe the problem

The [dart language tour](https://dart.dev/guides/language/language-tour#initializing-parameters) describes a feature it calls "initializing parameters", however both [effective dart](https://dart.dev/guides/language/effective-dart/usage#do-use-initializing

[2022-04-29 16:19] parlough commented on #4011
I struggled deciding between these terms but chose simply parameters since I thought it would be the more familiar term for those reading the language tour.

I suppose it is better to be consistent with formals though and better explain the terminology (either here or in another section). Thanks for your thoughts!

[2022-04-29 16:49] mmcdon20 commented on #4011
@parlough I do agree that the term "parameters" is far more familiar to people than "formals" is, but "initializing formals" seems to be used everywhere except for the language tour. I did notice that the dart language spec actually uses "initializing formal parameter" a few times, but mostly uses the shortened "initializing formal". I think if you used "initializing formal parameter" in the langu

[2022-04-29 17:02] parlough commented on #4011
Yep, I think "Initializing formal parameters" is a good choice since it will be more discoverable when users search or use the TOC.

[2022-04-30 05:21] #4011 closed

[2022-04-30 07:48] parlough opened #4013 "Consolidate and organizing web tooling and processes documentation"
The overall picture for web is getting a bit messy on the website, even more so with the introduction of `dart compile js` and the deprecation/future removal of `dart2js` and `dartdevc`. We don't direct users in any particular direction for web development with Dart and are often inconsistent with where functionality is documented, with it split and sometimes repeated across many pages:

- [`dart2

[2022-05-02 19:01] parlough opened #4016 "Consider removing or consolidating Dart 2 migration pages"
We have multiple pages describing how to migrate from Dart 1 to Dart 2. We should track the usage of these pages and consider removing them. Dart 2 came out over 4 years ago and these pages continue to get out of date with their guidelines in terms of updating to the most recent versions of Dart.

Pages:
- [Dart 2 migration guide](https://dart.dev/dart-2)
- [Dart 2 migration guide for web apps](ht

[2022-05-02 19:01] #3841 closed

[2022-05-03 07:29] warrior1112 opened #4017 "invalid link"
please update this url / link

Method cascades, where [everything is a builder](http://news.dartlang.org/2012/02/method-cascades-in-dart-posted-by-gilad.html)!

![image](https://user-images.githubusercontent.com/42972418/166417857-dec617a1-74d9-4ce8-9fd9-e64e79186375.png)

[2022-05-03 07:31] warrior1112 commented on #4017
please update this url / link

Method cascades, where [everything is a builder](http://news.dartlang.org/2012/02/method-cascades-in-dart-posted-by-gilad.html)!

![image](https://user-images.githubusercontent.com/42972418/166418108-4a3abbb3-15f7-40fc-80db-4ea247a0549d.png)

[2022-05-03 13:07] danagbemava-nc commented on #4017
Closing as duplicate of #3917

[2022-05-03 18:01] #3971 closed

[2022-05-04 00:51] parlough commented on #3059
With the change to the new strict mode analyzer options in [Enabling additional type checks](https://dart.dev/guides/language/analysis-options#enabling-additional-type-checks) which have deeper explanations and examples, I think we're in a fine position.

As for highlighting the exception for dynamic, I think Bob's thoughts about `dynamic` make sense and I feel highlighting the exception in that p

[2022-05-04 00:51] #3059 closed

[2022-05-05 11:26] mit-mit commented on #3699
Hi @parlough how is this coming along? Anything I can do to help?

[2022-05-05 18:22] parlough commented on #3653
@itsjustkevin The work is done, but we've so far been holding off on merging some of the PRs until 2.17 is released, keeping them in draft state to avoid accidental merging. I've been tracking those which have been reviewed and are ready to be incorporated in in the "Completed but not merged" column of the 2.17 project.

[2022-05-05 18:23] parlough commented on #3753
Only part of the work has been completed. I've opened https://github.com/dart-lang/site-www/pull/4023 which addresses the remaining requirements. I will move it to done when review and changes are complete.

[2022-05-06 01:01] itsjustkevin commented on #3653
Thank you for the heads up @parlough, I'd love to know more about this process sometime!

[2022-05-06 07:01] parlough commented on #3699
@mit-mit I've opened https://github.com/dart-lang/site-www/pull/4026 with documentation for enhanced enums. Any feedback there would be great :)

[2022-05-09 22:40] bumpylumps commented on #3792
I would be happy to help with this if those fonts still need to be swapped.

[2022-05-09 23:55] parlough commented on #3792
Thanks for the offer to help @bumpylumps. I'm not sure this is the best direction yet and it will require further coordination elsewhere as well. I'll let you know if we want to continue with this :)

[2022-05-09 23:57] bumpylumps commented on #3792
Sounds good. Thanks for getting back to me, here to help!

[2022-05-11 13:34] mit-mit commented on #3909
@parlough I think this can safely be merged now?

[2022-05-11 15:07] #3909 closed, assigned to nobody

[2022-05-11 15:10] #3905 closed

[2022-05-11 15:10] #3434 closed

[2022-05-11 15:24] #3653 closed

[2022-05-11 15:32] #3699 closed

[2022-05-11 17:15] #3922 closed

[2022-05-15 08:38] kari538 opened #4037 ""if (... is int)" does not "promote to the tested type", as you have written here:"
### Page URL

https://dart.dev/null-safety/understanding-null-safety

### Page source

_No response_

### Describe the problem

Before null-safety, I had a Map with "pings" that would count down for different players in a game. As players would come and go, their ping would be added and removed from the Map, but the countdown might try to count down after an entry was removed, so I added an "if" s

[2022-05-16 03:54] parlough commented on #4037
Hi @kari538, thanks for opening an issue.

This is an issue because type promotion only works on local variables due to properties and other things like the map's subscript operators technically being able to return a different value each time. You can read more about this occurrence in [Working with nullable fields](https://dart.dev/null-safety/understanding-null-safety#working-with-nullable-fiel

[2022-05-16 09:28] jamesderlin opened #4038 "Suggestion: 'Learning Dart as a JavaScript developer' should mention `for` loops"
### Page URL

https://dart.dev/guides/language/coming-from/js-to-dart

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/language/coming-from/js-to-dart.md

### Describe the problem

I suspect that one of the reasons why I see `Iterable.forEach` used so much in Dart questions on StackOverflow is because many people have been institutionalized by JavaScript where `for ...

[2022-05-16 09:49] parlough commented on #4038
I feel this is a large emission even not considering the extra considerations of coming from JavaScript. Thanks for pointing that out!

[2022-05-17 11:14] mit-mit opened #4042 "Dart is single-threaded"
I've seen statements on various social media a number of times stating that "Dart is single-thread". I've not before been able to understand where that impression comes from, but someone recently linked to this: https://dart.dev/articles/libraries/dart-io. This has in it: _"Dart is a single-threaded programming language"_.

I suggest we:

1. Add a new Q/A entry in https://dart.dev/faq under "Nativ

[2022-05-18 01:39] #3821 closed

[2022-05-18 04:13] parlough commented on #1169
This typo has been fixed and the codelab bug report link now points to the proper destination. Thanks again for opening an issue!

[2022-05-18 04:13] #1169 closed

[2022-05-18 04:13] parlough commented on #1176
This typo has been fixed and the codelab bug report link now points to the proper destination. Thanks again for opening an issue!

[2022-05-18 04:13] #1176 closed

[2022-05-18 04:55] parlough commented on #980
Now that support for this mechanism was removed and this documentation only points elsewhere, there is nothing to left to update, so closing. Thanks!

[2022-05-18 04:55] #980 closed

[2022-05-18 17:31] johnpryan commented on #4042
This makes sense to me

[2022-05-18 17:34] johnpryan commented on #4042
For 3, the [introduction to the dart:io](https://dart.dev/articles/libraries/dart-io) page is better covered in the [library tour](https://dart.dev/guides/libraries/library-tour#dartio) and the new [concurrency](https://dart.dev/guides/language/concurrency) docs.

[2022-05-18 17:42] #3768 closed

[2022-05-18 18:04] #3903 closed

[2022-05-19 19:33] timsneath opened #4055 "Update warning about calling unsigned code from macOS through FFI"
As I understand it, the limitation referenced here is no longer accurate:
https://github.com/dart-lang/site-www/blob/757943b5bb8252089141fa102d7283ee107980cf/src/_guides/libraries/c-interop.md?plain=1#L78-L82

It looks like https://github.com/dart-lang/sdk/issues/38314 is fixed. Is that correct, @dcharkes? If so, let's remove this caveat from this page. (If not, let's update it to point to an open

[2022-05-19 20:54] parlough commented on #4055
It looks like we can remove this, but if I'm understanding correctly, if we remove this we need to introduce another note:

It seems that even with the changes, (unsigned and signed?) shared libraries need to be in the same directory or subdirectory as the signed Dart executable or use an unsigned executable.

Perhaps @dcharkes can shine some light on what is import to highlight for developers aro

[2022-05-19 22:42] parlough commented on #7
This was implemented a long time ago with the Dash redesign and https://dart.dev/#try-dart which introduced multiple introductory code samples. Thanks!

[2022-05-19 22:42] #7 closed

[2022-05-19 22:47] parlough commented on #2767
I'm going to close this as that page is a high level document which doesn't really go into the new language features introduced with null safety. The page links to [Understanding null safety](https://dart.dev/null-safety/understanding-null-safety) which covers [Required named parameters](https://dart.dev/null-safety/understanding-null-safety#required-named-parameters) alongside the other language

[2022-05-19 22:47] #2767 closed

[2022-05-19 22:49] parlough commented on #1270
This work was completed by https://github.com/dart-archive/dart-tutorials-samples/issues/60

[2022-05-19 22:49] #1270 closed

[2022-05-19 22:51] parlough commented on #1959
These are no longer referenced with https://github.com/dart-lang/site-www/commit/53fb128420f99bc34f84329869b4e6c402e29e56.

[2022-05-19 22:51] #1959 closed

[2022-05-21 04:28] aboutmydreams commented on #2207
when I pub get, the lock file is update now (flutter 2.10), the lock file can’t let everyone working on the app uses the exact same versions. I think the doc should be update.

And I think, one of the principles of whether it is recommended to add it to gitignore is whether it is an auto-generated vs. overridden file

please reconsider, thanks!

[2022-05-21 05:38] kari538 commented on #4037
It only works on local variables? How local?... The expression "the variable is promoted *within that block of code*" made me think that it's promoted locally but can exist globally!...?

Anyway, thanks for the workarounds! :) I'm gonna go with:

`map[x] = map[x]! - 1`

for now. It's a longer line than:

`map[x]--`

but at least, it's still a one-liner! ;)

[2022-05-21 20:15] parlough opened #4057 "Expand Visual Studio Code documentation"
### Page URL

https://dart.dev/tools/vs-code.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/tools/vs-code.md

### Describe the problem

Currently we just point to Flutter's documentation which has a lot of great information but is quite specific to developing Flutter applications.

### Expected fix

We should document some of the general setup of VS Code and usage of th

[2022-05-23 06:18] dcharkes commented on #4055
I did some local testing, there's three modes for dylibs with `codesign`:

### 1. Signed with an identity

[code]

Running with the downloaded (by the Dart team signed) SDK works with any file path.

[code]

### 2. Signed ad hoc

Using `-` as identity

[code]

Running with the downloaded (by the Dart team signed) SDK works with any file path.

### 3. Completely unsigned

[code]

I cannot open this

[2022-05-23 06:59] mit-mit commented on #2207
Sorry @aboutmydreams not sure I fully understand. If you are seeing a case where `pubspec.lock` is being touched even when not needed, can you please file a new issue including some repro steps?

[2022-05-23 11:36] skillcombo opened #4062 "Suggestion to mention free online course to learn Dart"
### What information is missing?

I think , it will be useful to add such page https://skillcombo.com/topic/dart/ with courses to learn dart.

### How would you like us to fix this problem?

_No response_

[2022-05-23 12:54] jonasfj commented on #2207
When you've upgrade/downgrade Flutter SDK, it's likely that `pubspec.lock` will need to be changed. This is an unfortunate side-effect of pinned dependencies in Flutter sdk-packages. Is that what you're talking about?

[2022-05-23 18:03] sigmundch commented on #4042
Agree, makes sense to me too!

[2022-05-23 22:57] parlough commented on #4062
Hi @skillcombo, thanks for the suggestion!

While I don't think we want to link to an external site which lists courses, it could be nice to list some popular courses on a resources page. Perhaps we can expand the [Videos](https://dart.dev/resources/videos) page to be like Flutter's [Videos and online courses](https://docs.flutter.dev/resources/videos#online-courses) page.

[2022-05-23 23:06] parlough commented on #4055
Thanks so much for the investigation and clarifications @dcharkes!

It sounds like having a note is still useful but perhaps we should link to documentation on signing libraries rather than linking to an issue with some mixed/confusing messages.

[2022-05-24 00:03] aboutmydreams commented on #2207
The version of the Flutter SDK has not changed. This is sent when I switch my application to view the branch. The two branch .lock files are the same, but when I execute the switch command, the dart plugin of vscode automatically helps me execute it. flutter pub get, resulting in an update of the .lock file

[2022-05-24 05:34] dcharkes commented on #4055
We should probably find the relevant documentation from Apple itself, though I was unable to find it.

By now, everyone has to sign / ad hoc sign on MacOS, so the limitation is nothing Dart specific as far as I understand. So we can also opt to have no message.

[2022-05-25 03:54] mmcdon20 opened #4064 "cascade notation works on "instance methods" rather than "function calls""
### Page URL

https://dart.dev/guides/language/language-tour#cascade-notation

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/language/language-tour.md

### Describe the problem

This is just a small nitpick from the dart language tour, but the current explanation for cascade notation says:

The explanation says that cascade works on "function calls", but it does not

[2022-05-25 04:04] parlough commented on #4064
That makes sense, thanks for catching this @mmcdon20!

I think we still need to include "calls" somehow though to indicate that invoking those methods work, not just accessing the tear-off of the method.

[2022-05-25 04:11] mmcdon20 commented on #4064
@parlough technically there is nothing stopping you from using a cascade with a tear-off, but it effectively does nothing. So, I would be happy with "instance method calls" or similar.

[2022-05-25 04:24] parlough commented on #4064
Yeah they work, but I want to make sure the reader realizes it works for calling them too, so "instance methods calls" seems great to me :)

Taking a look, I realized none of the functional examples in the section actually call a traditional method directly on the object, only access or modify its properties. Perhaps we should add that.

[2022-05-25 13:42] #256 closed

[2022-05-25 16:25] terryl1900 commented on #2142
Hi @kwalrath , searching "dart event loop" on Google, the first result is https://dart.cn/articles/archive/event-loop, which is the same as the archive URL you mentioned above.

While waiting for someone to create an updated doc, I'm curious if you know whether these points in the old doc are still true:

[code]

[2022-05-26 18:12] parlough commented on #2142
@lrhn Would you be able to provide some input on @terryl1900's questions? We could also use your responses as guidelines when creating any new documentation around this. Thanks :)

[2022-05-27 13:45] #4055 closed

[2022-05-27 13:45] #4064 closed

[2022-05-30 00:20] #3954 closed

[2022-05-30 19:22] parlough commented on #3787
Fixed by https://github.com/dart-lang/site-www/commit/3199718ef9fb68f02845a7937cf0509a3bc39a2a

[2022-05-30 19:22] #3787 closed

[2022-05-30 19:31] parlough commented on #3629
The affecting policies were removed with the website infrastructure update and `url_launcher` is no longer supported on the DartPad end. Closing this for now, but if we add further policies, we'll make sure there are exceptions for DartPad :)

[2022-05-30 19:31] #3629 closed

[2022-05-30 19:33] parlough commented on #3487
These were removed in https://github.com/dart-lang/site-www/commit/0f6d8b0a75be496f392b03b89ff1a20122662774 and other related commits.

[2022-05-30 19:33] #3487 closed

[2022-05-30 19:34] parlough commented on #3096
I'm marking this as no longer blocked due to the release of the [official Dart docker image](https://hub.docker.com/_/dart/) which is defined in https://github.com/dart-lang/dart-docker

[2022-05-30 19:37] parlough commented on #2981
This was fixed in https://github.com/dart-lang/site-www/commit/5da4181681b8129c542af876766f993b2fd278e4 and expanded in https://github.com/dart-lang/site-www/commit/577aef5f3999a81bb04d0f47f845836c971a67df

[2022-05-30 19:37] #2981 closed

[2022-05-30 19:40] parlough commented on #2766
This feature technically is not specific to null safety, as it can be used for other potential migrations in the future, and we link to the general area now extensively across the site when discussing language versions. I'm inclined to keep this where it is, but am open to further input. Thanks!

[2022-05-30 19:40] #2766 closed

[2022-05-30 20:23] parlough commented on #399
Closing as not planned due to the never released functionality being removed from pub in https://github.com/dart-lang/pub/pull/3305.

For those reading this, if you would like to discuss the feature or alternatives, you may want to open an issue on the [pub repository](https://github.com/dart-lang/pub).

[2022-05-30 20:23] #399 closed

[2022-05-30 20:40] parlough commented on #787
I'm going to close this issue in favor of https://github.com/dart-lang/site-www/issues/663 which covers the same issue. Thanks!

[2022-05-30 20:40] #787 closed

[2022-05-31 02:19] parlough commented on #977
I'm going to close this in favor of https://github.com/dart-lang/site-www/issues/1158 which also tracks this work. Thanks for opening an issue :)

[2022-05-31 02:19] #977 closed

[2022-05-31 12:07] #4038 closed

[2022-05-31 15:38] parlough opened #4076 "Don't include external link icon on full dart.dev links"
### Page URL

https://dart.dev/tools/diagnostic-messages.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/tools/diagnostic-messages.md

### Describe the problem

Since the messages in the diagnostic page are used outside of dart.dev, they don't use local links and as a result are marked as external.

### Expected fix

We should probably not generate the icon for fully spe

[2022-06-01 17:19] klr981 opened #4077 "Web apps: Fetch data dynamically"
### Page URL

https://dart.dev/tutorials/web/fetch-data

### Page source

_No response_

### Describe the problem

Tutorials do not work outside of DartPad even when following Get started: Web apps

### Expected fix

_No response_

### Additional context

_No response_

[2022-06-01 21:04] parlough commented on #4077
Hey @klr981, thanks for opening an issue. Could you provide some more context on what isn't working? Is there an error or other problem running?

[2022-06-05 23:50] parlough commented on #3159
On the Flutter website side, go links are used for design documents (which make sense to enumerate), but here (on dart.dev) they are more like temporary links or just used by tooling. So a list of them won't be that meaningful or reliable, so I'm going to close this for now, but if someone feels this is necessary, feel free to respond or reopen. Thanks!

[2022-06-05 23:50] #3159 closed

[2022-06-06 01:28] #1926 closed

[2022-06-06 05:25] #4076 closed

[2022-06-06 14:30] Barben360 opened #4088 "Insufficient testing for iterator codelab final exercise"
### Page URL

https://dart.dev/codelabs/iterables

### Page source

_No response_

### Describe the problem

In the final test, the content of the following function must be completed by the user:

[code]

The correct solution is:

[code]

However if the condition is inverted (which is a very common logic error, especially for a beginner), then the tests pass anyways.

[code]
The problem is that t

[2022-06-06 17:57] #4016 closed

[2022-06-08 06:11] mh- opened #4095 "Explain how to handle transactions that cannot be interleaved in 'Concurrency in Dart'"
### Page URL

https://dart.dev/guides/language/concurrency/index

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/language/concurrency/index.md

### Describe the problem

The page "Concurrency in Dart" should also explain how to **handle transactions that must not be interleaved**.

If you search for "mutex" on the page explaining concurrency in Dart, you just find the

[2022-06-08 18:00] johnpryan commented on #4095
But this page is mostly focused on providing an overview of asynchrony, concurrency and isolates, so I'm not sure if this is the best page for this type of information.

This is a useful design pattern with more than one correct solution, so we could link to this package or @lrhn's [StackOverflow answer](https://stackoverflow.com/a/42091982) somewhere on dart.dev, but we might consider a new page

[2022-06-08 18:16] mh- commented on #4095
I understand, just want to add that developers who encounter a problem with interleaved output might attribute this to a _concurrency_ problem and then come to precisely this page to learn more about possible solutions. At least that's what I did.

[2022-06-12 22:42] #4088 closed

[2022-06-13 02:50] parlough commented on #4077
I'm going to close this as this page will soon be reworked and any current problems will be covered by the work suggested in https://github.com/dart-lang/site-www/issues/3852. If you have any more desires for the new page, let us know there. Thanks!

[2022-06-13 02:50] #4077 closed

[2022-06-13 22:38] austinhutchen commented on #2119
I would enjoy working ont his, if help is still needed!

[2022-06-14 14:46] Daniel-Yonkov opened #4099 "[PAGE ISSUE]: 'A tour of the Dart language'"
### Page URL

https://dart.dev/guides/language/language-tour

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/language/language-tour.md

### Describe the problem

The example confined within the **Numbers** section regarding the int type is using exponents as part of the integer literals. in CLI applications, they are considered as double and throws an Error during run

[2022-06-15 03:42] parlough commented on #4099
Thanks for catching this! Exponents result in a double and since the section is about literals, we should likely just remove the exponent literal from the integer section.

_Here is a related commit clarifying this behavior in the spec: https://github.com/dart-lang/sdk/commit/debbf6822376aa660e289f7e28e379ea9c56ed47_

[2022-06-15 03:55] parlough commented on #2119
Hey @austinhutchen, taking a look, most of the relevant TODOs had issues created by woinbo. Thanks for offering though. I'll close this issue to avoid any confusion.

You may want to look at some of the "Help Wanted" issues to see if any them match your interests: https://github.com/dart-lang/site-www/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22

[2022-06-15 03:55] #2119 closed

[2022-06-15 04:18] parlough commented on #2077
Marking this as fixed by https://github.com/dart-lang/site-www/issues/2077 which links to more resources and clarifies the words with modifiers.

[2022-06-15 04:18] #2077 closed

[2022-06-15 04:19] parlough commented on #3730
I'm going to close this as a duplicate and consolidate this in https://github.com/dart-lang/site-www/issues/3921

[2022-06-15 04:19] #3730 closed

[2022-06-15 08:11] Daniel-Yonkov commented on #4099
Reference #4100

[2022-06-15 09:11] parlough opened #4102 "Migrate to GA 4"
### Describe the problem

Universal analytics will go away in 2023: https://blog.google/products/marketingplatform/analytics/prepare-for-future-with-google-analytics-4/

### Expected fix

We should migrate our uses to Google Analytics 4: https://support.google.com/analytics/answer/10089681?hl=en

### Additional context

Related include: https://github.com/dart-lang/site-www/blob/main/src/_includes

[2022-06-15 09:17] parlough commented on #4102
No rush on this, but I wanted to create an issue to track the work.

\cc @kevmoo

[2022-06-15 16:46] johnpryan opened #4104 "Update Debugging Dart web apps page"
### Page URL

https://dart.dev/web/debugging

### Page source

https://github.com/dart-lang/site-www/blob/main/src/web/debugging.md

### Describe the problem

The web/debugging page has an outdated DevTools screenshot, some broken links, and might have outdated instructions

### Expected fix

Update the screenshot, fix broken links, update any outdated information.

### Additional context

_No res

[2022-06-16 04:28] parlough commented on #4099
Fixed by https://github.com/dart-lang/site-www/commit/84b828dce371663109df74b9b9845a48bbeb6314

Thanks again!

[2022-06-16 04:28] #4099 closed

[2022-06-20 04:00] #4104 closed

[2022-06-21 11:14] yujinlin0224 opened #4111 "TV is an abbreviation for television, why `TVVcr` is good but `TvVcr` is bad?"
### Page URL

https://dart.dev/guides/language/effective-dart/style

### Page source

https://github.com/dart-lang/site-www/blob/d2d436b3ca51bbd08df4e8f77464aaa8944e297d/src/_guides/language/effective-dart/style.md

### Describe the problem

In *DO capitalize acronyms and abbreviations longer than two letters like words* says

TV is an abbreviation for television, why `TVVcr` is good but `TvVcr` i

[2022-06-21 12:17] danagbemava-nc commented on #4111
cc: @parlough what are your thoughts on the expected fix?

[2022-06-21 12:40] parlough commented on #4111
Thanks for catching this @yujinlin0224, this makes sense to me. It seems useful to illustrate this combination of an acronym that is two letters than one that is not, so perhaps we can find a good replacement that fits with the others rather than swapping these.

[2022-06-21 14:36] yujinlin0224 commented on #4111
I'm not a native English speaker, so I may be wrong, here is my personal opinion:

Rather than using acronyms and abbreviations to distinguish between rules, I prefer to use the source of the letters to distinguish or the pronunciation to distinguish.

1. source of the letters

Suppose `ab` is an acronym or abbreviation of word(s) and `xyz` is a complete word

- If the letter of acronym or abbrevi

[2022-06-22 01:14] magickibbles opened #4113 "[PAGE ISSUE]: 'Asynchronous programming: futures, async, await'"
### Page URL

https://dart.dev/codelabs/async-await.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/codelabs/async-await.md

### Describe the problem

The test solution for [practice using async and await](https://dart.dev/codelabs/async-await#exercise-practice-using-async-and-await) doesn't work because of null-safety

### Expected fix

please update this so it function

[2022-06-22 03:32] parlough commented on #4113
Hi @magickibbles, thanks for opening an issue.

Could you provide some more information on the issue you're facing? Are there any specific errors? The tests and solution provided for this exercise seemed to work for me.

Thanks again :)

[2022-06-22 03:40] parlough commented on #4111
Thanks for your thoughts @yujinlin0224!

I'll rope in @munificent as these are his guidelines to see what he thinks.

It sounds like a simple modification would be making the exception be about initialisms (abbreviations that are sounded out by the letter) rather than acronyms.

[2022-06-22 04:35] parlough opened #4114 "Add null-aware operators to Null safety codelab"
### Page URL

https://dart.dev/codelabs/null-safety.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/codelabs/null-safety.md

### Describe the problem

Now that null safety has been out for a while, this codelab is more useful as a whole when understanding handling `null` values as a whole. We have the new strategies for dealing with `null` but not the preexisting ones, s

[2022-06-27 06:39] #3799 closed

[2022-06-27 06:59] #4114 closed

[2022-06-29 13:56] cnmade commented on #3917
I can confirm the same issue here .

[2022-07-03 08:21] strazdinsg opened #4125 "Invalid argument for `dart compile js` example"
### Page URL

https://dart.dev/tools/dart-compile

### Page source

_No response_

### Describe the problem

The example contains incorrect argument `-02`:
$ dart compile js -02 -o out/main.js web/main.dart

The correct argument is `-O2`, not `-02`

### Expected fix

`dart compile js -O2 -o out/main.js web/main.dart`

### Additional context

_No response_

[2022-07-03 13:54] #4125 closed

[2022-07-04 10:52] TheJim92 opened #4129 "[PAGE ISSUE]: 'A tour of the core libraries'"
### Page URL

https://dart.dev/guides/libraries/library-tour

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/libraries/library-tour.md

### Describe the problem

The following link in the section about Async and Future objects brings to a 404 not found: https://github.com/dart-lang/sdk/blob/main/docs/newsletter/20170915.md#synchronous-async-start

### Expected fix

_N

[2022-07-04 14:41] parlough commented on #4129
Thanks for catching this. The old newsletter entries were recently moved to the [language repository](https://github.com/dart-lang/language/tree/master/archive/newsletter) and I forgot to update our references to them.

I've updated them in https://github.com/dart-lang/site-www/pull/4130

Thanks again!

[2022-07-05 04:00] #4129 closed

[2022-07-11 00:45] Tohusk opened #4135 "[PAGE ISSUE]: 'Asynchronous programming: futures, async, await'"
### Page URL

https://dart.dev/codelabs/async-await.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/codelabs/async-await.md

### Describe the problem

[Exercise: Practice using async and await](https://dart.dev/codelabs/async-await#exercise-practice-using-async-and-await) is broken, solution is showing and the dart pad is not functioning as expected.

### Expected fix

_

[2022-07-11 00:46] #4135 closed

[2022-07-11 00:53] Tohusk commented on #4113
I'm also getting this issue on firefox,
![Screenshot 2022-07-11 at 10-51-37 Asynchronous programming futures async await](https://user-images.githubusercontent.com/33451949/178169654-c2992586-57c8-4597-9b36-1b4eb7c04b68.png)
same issue with the two exercises below:
![Screenshot 2022-07-11 at 10-52-11 Asynchronous programming futures async await](https://user-images.githubusercontent.com/33451949/1

[2022-07-11 00:53] parlough commented on #4113
Thanks for catching this @Tohusk, fixing it now :)

[2022-07-12 21:02] bagintz opened #4139 "[PAGE ISSUE]: 'Migrating to null safety'"
### Page URL

https://dart.dev/null-safety/migration-guide.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/null-safety/migration-guide.md

### Describe the problem

`dart pub outdated --mode=null-safety`

shouldn't  this be

`flutter pub outdated --mode=null-safety`

???  At least the dart one didn't work for me

### Expected fix

change to flutter

### Additional contex

[2022-07-12 21:33] parlough commented on #4139
Hi @bagintz, thanks for opening an issue.

This is the website for the Dart programming language, so not every user has the `flutter` command installed, therefore we showcase the `dart` version of the commands, which the `flutter` tool just redirects to for pub related commands.

As of Flutter 1.19, Flutter's `bin` folder also has the `dart` command line tool though, so if you add that folder to y

[2022-07-12 21:33] #4139 closed

[2022-07-14 16:41] liamappelbe opened #4142 "Objective C interop guide"
### What information is missing?

Dart <-> Objective C interop is one of the features that's going to be announced as part of the 2.18 release (though the implementation is entirely in the [ffigen repo](https://github.com/dart-lang/ffigen), and already available). I'd like to add a guide in the interoperability section, like the [FFI guide](https://dart.dev/guides/libraries/c-interop).

### How wo

[2022-07-14 17:59] parlough commented on #4142
Thanks for the heads up, this will be a nice addition.

Example reference: https://github.com/dart-lang/ffigen/tree/master/example/objective_c

[2022-07-14 21:18] parlough opened #4143 "[PAGE ISSUE]: Add quick fix to linter rules page"
### Page URL

https://dart.dev/tools/linter-rules.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/tools/linter-rules.md

### Describe the problem

We don't document what quick fixes are or what linter rules have quick fixes.

### Expected fix

- [ ] Add a new section which documents what quick fixes are
- [ ] Update the generator to highlight which rules have quick fixes

[2022-07-14 23:24] bwilkerson commented on #4143
That makes sense for lints, but I'll note that quick fixes are also available for non-lint diagnostics. Would we also want to associate quick fixes with non-lint diagnostics?

Also, note that the documentation for lints might be moving to the [Diagnostic Messages](https://dart.dev/tools/diagnostic-messages) page. There has been some discussion about the future of this page if we make that change.

[2022-07-14 23:27] bwilkerson commented on #4143
And I'd strongly recommend that we think about ways to keep this data up-to-date, such as by generating it based on the code so that as we add fixes for lints we get the documentation updated appropriately. (Other ideas are welcome.)

[2022-07-15 05:13] timsneath opened #4144 "Update 'Who uses Dart' page"
### Page URL

https://dart.dev/community/who-uses-dart.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/community/who-uses-dart.md

### Describe the problem

This page is in urgent need of an update, as highlighted here:
https://news.ycombinator.com/item?id=32078346

### Expected fix

Use content as in https://news.ycombinator.com/item?id=32104816 to update it!

### Addit

[2022-07-17 23:53] magickibbles commented on #4113
honestly forgot why I submitted this. sorry. ty tho :^)

[2022-07-17 23:53] #4113 closed

[2022-07-18 19:11] parlough commented on #3917
Thanks @mit-mit, that's a much better experience for referring to this older content.

[2022-07-18 19:11] #3917 closed

[2022-07-20 17:57] #4142 closed

[2022-07-21 17:54] munificent commented on #4111
Honestly... I think the real underlying rule here is just that `Id` is an exception and all other two-letter acronyms/abbreviations/initialisms are fully capitalized. I don't know why we make an exception for `Id`. I remember talking about it with other folks at the time that we were first establishing this guideline and most people generally seemed to prefer the `d` not being capitalized, but I d

[2022-07-22 23:16] arkeri opened #4150 "[PAGE ISSUE]: 'Dart DevTools'"
### Page URL

https://dart.dev/tools/dart-devtools.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/tools/dart-devtools.md

### Describe the problem

VS code Devtools Network Page shows nothing. It opens and remains blank. It doesn't show any sort of detail as to why and it doesn't show any error.

I'm on an M1 mac but I'm uncertain whether that is the problem.

### Expec

[2022-07-23 00:06] parlough commented on #4150
Hey @arkeri, thanks so much for opening an issue. Unfortunately, this is the issue tracker for the dart.dev website.

Can you try using the standalone devtools instead of the one embedded into VS Code? If that works, consider opening an issue on [Dart for VS Code repository](https://github.com/Dart-Code/Dart-Code) with information about your setup, including if other pages are working, perhaps a s

[2022-07-23 00:06] #4150 closed

[2022-07-23 07:38] linlan-doc opened #4151 "[PAGE ISSUE]: 'A tour of the Dart language'"
### Page URL

https://dart.dev/guides/language/language-tour

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/language/language-tour.md

### Describe the problem

In the section Numbers

[code]

The result is int.

### Expected fix

_No response_

### Additional context

_No response_

[2022-07-25 03:02] domesticmouse commented on #4151
It is?

[code]

Running the above code:

[code]

[2022-07-25 13:29] danagbemava-nc commented on #4151
@domesticmouse, it produces an `int` if you run it in `dartpad/web`.

<img src="https://user-images.githubusercontent.com/88313112/180786659-ceb8fc92-cb14-42e5-ad6d-9d1e40ec100e.png" width="400" />

Hi @linlan-doc, this is covered in the [numbers documentation](https://dart.dev/guides/language/numbers).

The above is an excerpt from the numbers page. See the last paragraph in https://dart.dev/guid

[2022-07-25 14:39] linlan-doc commented on #4151
I tested on Android emulator and the output is double, Thank you for your time.

[2022-07-25 14:39] #4151 closed

[2022-07-25 15:06] parlough commented on #4151
Thanks for clearing it up @danagbemava-nc.

We do link to the article, but I wonder if we can make it more explicit it describes the differences between platforms.

[2022-07-26 02:11] domesticmouse opened #4153 "[PAGE ISSUE]: 'dart2js: Dart-to-JavaScript compiler'"
### Page URL

https://dart.dev/tools/dart2js.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/tools/dart2js.md

### Describe the problem

The description for the `--packages=<path>` argument, contains the following:

Specifies the path to the package resolution configuration file. For more information, see [Dart Package Configuration File.](https://github.com/dart-lang/la

[2022-07-26 23:01] #4153 closed

[2022-07-28 18:03] rmacnak-google opened #4157 "Include Windows ARM64 on the Archive page"
Windows ARM64 is in the same state as Linux RISC-V in that we are building and uploading the SDK for it but our testing infrastructure does not have hardware for it.

[2022-07-28 18:31] johnpryan opened #4158 "Improve visibility of dart-lang/linter docs"
### Page URL

https://dart.dev/tools/linter-rules

### Page source

https://github.com/dart-lang/site-www/blob/main/src/tools/linter-rules.md

### Describe the problem

If I'm looking for more information about a rule, I need to go to the [linter package documentation](https://dart-lang.github.io/linter/lints/) and search for it there.

### Expected fix

Link to the linter package docs from the [L

[2022-07-28 19:14] parlough commented on #4158
I'm curious what information do you need from the linter standalone website that isn't present on the dart.dev Linter rules page? Or are you looking for information in a specific format?

For the most part, the information is the same, and I would rather reduce the need to go to the external site.

[2022-07-28 19:17] parlough commented on #4157
Last time I added this, it seemed the desire wasn't to highlight the builds yet.

@mit-mit Can this be shown now on the archive and if so, should we surface both the beta and dev builds?

[2022-07-28 20:40] johnpryan commented on #4158
That makes sense. Maybe there's some things we could do to make this page easier to use like  badges or separate pages for each rule.

[2022-07-28 20:40] #4158 closed

[2022-07-29 05:18] atsansone commented on #4042
@mit-mit : Would this issue be better served by splitting 1-4 as separate issues or should this all be done as one effort?

[2022-07-29 07:21] mit-mit commented on #4042
I think a single issue is fine? I updated the top to have check-boxes!

[2022-07-29 07:28] mit-mit commented on #4157
Yeah, I think it might make good sense to treat it like RISC-V. We should then update both the archive and the systems requirements on https://dart.dev/get-dart

WDYT @athomas ?

[2022-08-02 03:04] atsansone commented on #4111
Consider the main [documentation style guide](https://developers.google.com/style/word-list#letter-i): it considers the correct usage to be `ID`. Also, `id` is a _word_ on its own. Using `ID` should improve clarity and consistency. (Sure, I understand it's almost universally accepted to use `Id` in code, but I think consistency should win out.)

[2022-08-02 07:49] Roms1383 opened #4160 "Clarify caret syntax"
### What information is missing?

As per the [docs of caret syntax for dependencies](https://dart.dev/tools/pub/dependencies#caret-syntax), it states that:
* `^1.2.3` is equivalent to `'>=1.2.3 <2.0.0'` (up to the next **major** release, exclusive)
* `^0.1.2` is equivalent to `'>=0.1.2 <0.2.0'` (up to the next **minor** release, exclusive)

What is the correct interpretation here ?
Does it mean th

[2022-08-02 17:25] munificent commented on #4111
That's the guidance for documentation. In doc comments and string literals, yes, you should write it as "ID". Likewise, you should fully capitalize "HTTPS" and "NASA".

But the guidance this issue is talking about is abbreviations appearing in identifiers. That has different capitalization rules from normal English grammar.

[2022-08-03 07:11] Roms1383 commented on #4160
There's an explanation already [on StackOverflow](https://stackoverflow.com/questions/53563079/what-is-the-caret-sign-before-the-dependency-version-number-in-flutters-pub), could you please confirm that it's correct ?

[2022-08-03 15:50] parlough commented on #4160
Yeah that is a good explanation on StackOverflow. As the section you pointed out notes, the caret syntax expands up to before the next breaking version:

Based on the semver scheme pub uses, this is the next major version (X.0.0) for any major > 1, and the next minor version (0.X.0) for and major < 1:

We have further documentation on pub's versioning here: https://dart.dev/tools/pub/versioning#se

[2022-08-04 08:46] Roms1383 commented on #4160
Awesome, thanks!

[2022-08-05 17:38] brnt-toast commented on #3849
I'll start taking a look over the weekend

[2022-08-08 17:58] #4157 closed

[2022-08-08 21:08] parlough opened #4163 "Generate site with Dart based tooling"
### Describe the problem

Currently, dart.dev and docs.flutter.dev both use a complex setup using Jekyll with Ruby plugins, some custom built Dart tools, as well as some JavaScript scripts for various functionality. It got so complex we migrated to using a Docker based build so users wouldn't have to deal with setting it all up.

This makes contributions and updates harder as our community is most

[2022-08-08 22:10] atsansone commented on #3849
Bootstrap 5.x removed its jQuery dependencies. We may be able to consider a holistic change.

[2022-08-08 22:26] parlough opened #4164 "Update bootstrap to 5.x or remove it"
### Describe the problem

We currently use Bootstrap 4 across the site, which has now been superseded by Bootstrap 5, and it currently requires we pull in jquery as well. Beyond that, our current use of bootstrap is quite messy, with lots of overrides, and custom styles anyway.

### Expected fix

We should either migrate to Bootstrap 5 if the migration isn't too hard, otherwise consider removing o

[2022-08-08 22:28] parlough commented on #3849
Yeah it would be nice to update Bootstrap (or even remove it completely as a lot of styles are custom anyway), but either will likely be a larger undertaking. I've made an issue to track that work: https://github.com/dart-lang/site-www/issues/4164

In the mean time, it is nice to incrementally move our custom JS scripts away from jquery so once we do make that bootstrap change, we can remove jquer

[2022-08-09 01:09] #4143 closed

[2022-08-09 14:34] washingtondeveloper opened #4165 "Consider adding complete Dart Course in progress PT-BR"
Page URL

https://www.youtube.com/watch?v=Vz11rFFewkM&list=PLK5FPzMuRKlyiWZUUqea2Hmszhy9vUixJ

### Describe the problem

I would like to share the track of videos I'm producing for learning the Dart language.

Videos are in progress. Until the opening date of this issue, the last video is in series 66.

### Expected fix

Being able to share with videos from the videos page
https://dart.dev/resourc

[2022-08-09 17:34] GroovinChip opened #4166 "[PAGE ISSUE]: 'dart pub global'"
### Page URL

https://dart.dev/tools/pub/cmd/pub-global#activating-a-package-with-git

### Page source

https://github.com/dart-lang/site-www/tree/main/src/tools/pub/cmd/pub-global.md

### Describe the problem

There should be instructions for activating a package from git that is contained in a monorepo or other grouped directory structure.

For example, I want to use my forked version of [flutte

[2022-08-12 05:14] domesticmouse opened #4169 "[PAGE ISSUE]: 'Objective-C interop using package:ffigen' needs to be updated for `exclude-all-by-default`"
### Page URL

https://dart.dev/guides/libraries/objective-c-interop

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/libraries/objective-c-interop.md

### Describe the problem

The text of this page contains a sample of the `ffigen` config that was changed in https://github.com/dart-lang/ffigen/pull/431/files#diff-e352cb7b95dae5bdc12e90c5d6f71e27a9dd5677ab003fd13bb1c16

[2022-08-12 05:53] parlough commented on #4169
I believe this will be fixed by https://github.com/dart-lang/site-www/pull/4167 which I hope to review soon.

[2022-08-12 12:46] olof-dev opened #4170 "Documentation for abstract instance variables"
I only learned from https://github.com/dart-lang/sdk/issues/57324 that one can declare an abstract instance variables of an abstract class via something like `abstract String name;`. It'd be great if this could be documented in the language tour, under either [Abstract classes](https://dart.dev/guides/language/language-tour#abstract-classes) or [Abstract methods](https://dart.dev/guides/language/l

[2022-08-13 14:34] domesticmouse commented on #4170
FYI @mit-mit

[2022-08-15 08:15] mit-mit commented on #4170
@leafpetersen WDYT?

[2022-08-19 08:57] mit-mit opened #4174 "Null safety update"
Details TODO

[2022-08-19 08:59] mit-mit commented on #4042
Making this P1 as I think it has the potential to cause confusion over Dart's architecture.

[2022-08-19 09:04] mit-mit opened #4175 "Link to new platform specific networking"
We have new platform specific networking in experimental state:
https://github.com/dart-lang/http/issues/764

It would be good to figure out how to get this linked to on dart.dev and flutter.dev. A few potential pages:

https://dart.dev/guides/libraries/useful-libraries
https://dart.dev/tutorials/server/httpserver
https://docs.flutter.dev/development/data-and-backend/networking

cc @brianquinlan

[2022-08-19 15:30] itsjustkevin opened #4176 "[Records] Language feature docs"
### Summary

Records are a new type/collection type/data structure. They are great for working with patterns, but don't necessitate/are not necessitated by patterns, so the main records content will be separate from patterns.

### Evaluation

1. ~Records content will go with the rest of the collection types content (happening in #4612, "Language > Types > Collection types" )~
  - ~Could also separ

[2022-08-19 15:49] itsjustkevin opened #4177 "☂️ [Extension type] Language feature docs"
_Copied from #5446 and closed that issue to consolidate tracking_
This issue outlines the plan for the new extension types language feature in 3.3.

### Summary

Extension types are an abstraction that lets you write a new, static-only interface for an existing type. This could mean _expanding functionality_ by declaring new members, or redefining the type's existing members, or _enforcing discipl

[2022-08-19 16:02] itsjustkevin opened #4178 "[Patterns] Language feature docs"
### Summary

Patterns are a syntactic category, like expressions and statements. There is no topic that needs to be replaced by patterns; they're just another way to write Dart code but not necessary for it.

New topics influenced by patterns will have to be created and linked to in other sections / categories:
- Records ([separate issue](https://github.com/dart-lang/site-www/issues/4176))
- Switc

[2022-08-20 19:50] #3921 closed

[2022-08-21 01:26] #4169 closed

[2022-08-22 12:34] davestimpert opened #4182 "[PAGE ISSUE]: 'What not to commit'"
### Page URL

https://dart.dev/guides/libraries/private-files

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/libraries/private-files.md

### Describe the problem

There's a typo: `pubspeck.lock` should be `pubspec.lock`

### Expected fix

Fix the typo

### Additional context

In the `For application packages` section of pubspec.lock

[2022-08-23 08:58] jonasfj opened #4183 "Document "funding" key for "pubspec.yaml""
On the https://dart.dev/tools/pub/pubspec page.

[code]

[2022-08-23 08:58] sigurdm opened #4184 "Documentation of the `funding` field in pubspec.yaml"
### What information is missing?

We need to document the format (a list of urls) and probably show a screenshot of how it is presented on the pub.dev site.

https://github.com/dart-lang/pub-dev/issues/4353

### How would you like us to fix this problem?

_No response_

[2022-08-23 09:44] sigurdm commented on #4184
Closing as duplicate of https://github.com/dart-lang/site-www/issues/4183

[2022-08-23 09:44] #4184 closed

[2022-08-23 17:17] parlough commented on #4183
I saw support was added to pub.dev in https://github.com/dart-lang/pub-dev/pull/5961. Does the current deployment have this change?

Also, just to confirm, the field only supports a list of HTTPS URLs? How about just one?

For other's reference: https://github.com/dart-lang/pub-dev/issues/4353

[2022-08-23 20:19] isoos commented on #4183
Yes, it does.

Yes. That would be a list of one https URL.

[2022-08-23 23:35] #4182 closed

[2022-08-25 11:31] mit-mit commented on #4174
I'll prep a PR for this

[2022-08-25 17:45] liamappelbe opened #4191 "ObjC interop guide needs to mention callbacks and threading limitations"
### Page URL

https://dart.dev/guides/libraries/objective-c-interop

### Page source

_No response_

### Describe the problem

There are 3 callback/threading issues with the current Objective-C interop:

1. Dart can't pin an isolate to a thread at the moment (https://github.com/dart-lang/sdk/issues/46943)
2. Most of the Apple APIs don't guarantee which thread a callback will be run on
3. Many Appl

[2022-08-25 19:07] natebosch opened #4192 "[Suggestion]: 'Effective Dart: Design' - We should recommend always annotating with `dynamic`."
### Page URL

https://dart.dev/guides/language/effective-dart/design#do-annotate-with-dynamic-instead-of-letting-inference-fail

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/language/effective-dart/design.md

### Describe the problem

Currently we only recommend an explicit `dynamic` type annotation when inference fails, and we say

The practices I see have shifted

[2022-08-25 19:15] natebosch commented on #4192
I might even go a step further, and recommend type annotating with `Object?` instead of letting inference fill in `dynamic`, and reserving `dynamic` for the cases where you specifically need dynamic invocations in the body.

[2022-08-25 19:34] parlough commented on #4192
\cc @munificent

[2022-08-25 23:35] munificent commented on #4192
I'm not sold on this. If an API returns a value of type `dynamic`, I *don't* want users taking the result of that and storing it in a variable explicitly annotated `dynamic`. Because if that API ever changes to return a useful type, now their annotation is throwing away that more precise type.

I agree that we want people using `dynamic` less, but I think the place to do that is upstream. If you d

[2022-08-26 16:57] natebosch commented on #4192
I'd be curious to see how often this change plays out, compared to how often folks are using a `dynamic` they don't want, but aren't aware of.

We could use our other strictness initiatives continue to push away `dynamic` if we want to be conservative in Effective Dart and wait for it to be more clearly descriptive of practice. I think we'd be doing a service to readers here if we consistently adv

[2022-08-27 00:09] #4183 closed

[2022-08-29 22:08] #3956 closed

[2022-08-30 18:56] #4191 closed

[2022-08-30 19:21] liamappelbe opened #4204 "Small markdown formatting glitch on ObjC guide"
### Page URL

https://dart.dev/guides/libraries/objective-c-interop

### Page source

_No response_

### Describe the problem

In the swift example, there's a string literal that's incorrectly formatted: `"\_TtC12***swift\_module***10***SwiftClass***"`

The code tags are preventing the bold tags from working, and the underscores also don't need to be escaped.

### Expected fix

Either remove the c

[2022-08-30 19:26] parlough commented on #4204
Sorry, when reviewing I mistook the purpose of the formatting and added the code tags. Thanks for catching this. You can remove the code tag.

[2022-08-30 19:30] liamappelbe commented on #4204
Actually, mixing both looks pretty good on the site (though it looks a bit odd on github): `"_TtC12`***`swift_module`***`10`***`SwiftClass`***`"`

[2022-08-30 19:45] #4204 closed

[2022-09-01 00:22] gregoryT5 opened #4207 "[PAGE ISSUE]: 'C interop using dart:ffi' has a bad link"
### Page URL

https://dart.dev/guides/libraries/c-interop

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/libraries/c-interop.md

### Describe the problem

The "Flutter dart:ffi page" link on the C interop page under [Bundling and Loading C Libraries](https://dart.dev/guides/libraries/c-interop#bundling-and-loading-c-libraries) is dead.  It is currently pointed at htt

[2022-09-02 21:23] MaryaBelanger commented on #4207
There are 3 different c-interop pages on flutter.dev: [ios](https://docs.flutter.dev/development/platform-integration/ios/c-interop), [mac](https://docs.flutter.dev/development/platform-integration/macos/c-interop), and [android](https://docs.flutter.dev/development/platform-integration/android/c-interop), but no home page for c-interop as concept.

Besides rearranging the content on flutter.dev (

[2022-09-02 23:00] gregoryT5 commented on #4207
That sounds good, thanks @MaryaBelanger!  That approach also makes it clearer that there aren't c-interop documentation pages for desktop linux or windows yet 😄

[2022-09-05 08:48] mit-mit commented on #4175
Hey @atsansone is this something you can help with?

[2022-09-05 09:12] mit-mit commented on #4042
cc'ing @craiglabenz who just did a talk on this topic and might have some ideas for how to phrase this?

[2022-09-05 09:13] mit-mit commented on #3852
Hey @parlough, still working on this?

[2022-09-05 23:00] domesticmouse commented on #3852
Which DartPad issue is blocking you?

[2022-09-06 16:59] #4207 closed

[2022-09-07 17:52] mit-mit opened #4213 "Fix code scanning alert - Incomplete multi-character sanitization"
CI for a [recent PR](https://github.com/dart-lang/site-www/runs/8234139482) failed with a code scanning alert:
https://github.com/dart-lang/site-www/security/code-scanning/53

[2022-09-07 19:29] #4174 closed

[2022-09-13 13:46] wcarmon opened #4219 "[PAGE ISSUE]: 'Package dependencies'"
### Page URL

https://dart.dev/tools/pub/dependencies.html

### Page source

https://github.com/dart-lang/site-www/tree/main/src/tools/pub/dependencies.md

### Describe the problem

example for caret syntax is unclear.  Does it stay within the same major version or the same minor version.

See https://dart.dev/tools/pub/dependencies#caret-syntax

Specifically this sentence: `For example, ^1.2.3 is

[2022-09-13 14:55] danagbemava-nc commented on #4219
I believe this is a duplicate of https://github.com/dart-lang/site-www/issues/4160 as such I'll be closing this in favor of https://github.com/dart-lang/site-www/issues/4160.

[2022-09-13 14:55] #4219 closed

[2022-09-14 18:59] MaryaBelanger opened #4224 "[2.19] runZoned docs"
### Parent:
https://github.com/dart-lang/sdk/issues/49679

### Evaluation:
- Update needed:
    - https://dart.dev/articles/archive/zones : `runZoned` with `onError` used
    - ~Page is archived, what's the policy there? Update and take out of archive?~
      - Will take care of in a separate issue: https://github.com/dart-lang/site-www/issues/4348
- ~No entry in change log yet, add~
  - The only

[2022-09-14 19:19] parlough commented on #4224
The zones article is heavily outdated, in both the code examples and some of the explanations with much of it predating Dart 2. The writing and formatting of the website has heavily changed since then too.

Users want to learn more about zones though, so I would like to see the article updated. Starting with getting the code examples function and then adjusting for the 2.19 changes next would be a

[2022-09-14 19:24] MaryaBelanger commented on #4224
@parlough So, this doesn't need to be rolled out with the 2.19 release, necessarily? It sounds like an improvement issue vs. a fix. Just want to clarify

[2022-09-14 19:27] parlough commented on #4224
The removal of `onError` from `runZoned` does require changes/fixes to the article with the 2.19 release.

I'm just highlighting other changes are needed to get the article compatible with even Dart 2.18 (hence the current archived state), so perhaps that's a higher priority, first step.

[2022-09-14 20:16] parlough commented on #2389
@athomas Was there ever any work done to make the publish date available from cloud storage?

[2022-09-14 20:56] athomas commented on #2389
Hmm, this is weird, I can't reproduce the timestamps being off on the `release` artifacts, they are off on the `raw` zips. This is for macOS, but I get the same result for Linux SDKs:

[code]
🤷

[2022-09-15 09:23] mit-mit opened #4225 "Missing documentation on configuration specific imports"
### What information is missing?

We seem to be missing documentation on configuration specific imports. They are mentioned briefly here in the creating package docs: https://dart.dev/guides/libraries/create-library-packages#conditionally-importing-and-exporting-library-files

### How would you like us to fix this problem?

Should be mentioned alongside the docs for imports, probably around here:

[2022-09-15 09:23] mit-mit commented on #4225
cc @atsansone

@lrhn can probably help with eng. input

[2022-09-15 09:29] mit-mit commented on #4225
Here's the original proposal: https://github.com/lrhn/dep-configured-imports/blob/master/DEP-configured-imports.md

[2022-09-15 19:45] dikeshchouhan1 opened #4226 "[PAGE ISSUE]: 'Get the Dart SDK'"
### Page URL

https://dart.dev/get-dart/

### Page source

https://github.com/dart-lang/site-www/tree/main/src/get-dart/index.md

### Describe the problem

debugging

### Expected fix

_No response_

### Additional context

_No response_

[2022-09-16 06:56] danagbemava-nc commented on #4226
Hi @dikeshchouhan1, what is the issue you're referring to? Some more information would be appreciated

[2022-09-18 21:36] #692 closed

[2022-09-19 16:37] #4213 closed

[2022-09-19 17:06] parlough commented on #4013
I think it's in a much better spot yeah, thanks for your work on that!

[2022-09-19 17:06] #4013 closed

[2022-09-20 00:48] parlough commented on #2465
This is now possible and has been implemented as an example in the async-await codelab with: https://github.com/dart-lang/site-www/commit/8a49647b3301e62b310359201148a95fb4336b2b

[2022-09-20 00:48] #2465 closed

[2022-09-20 00:57] parlough commented on #2113
Going to close this in favor of https://github.com/dart-lang/site-www/issues/3852 where we're going to replace the article with a cross-platform one. I'm writing tests and code excerpts in that process.

[2022-09-20 00:57] #2113 closed

[2022-09-21 23:41] parlough commented on #3670
Thanks again for opening an issue. I'm going to close this for now as we need more actionable pain areas and potential improvements. We're always open to suggestions and improvements though!

[2022-09-21 23:41] #3670 closed

[2022-09-23 07:45] parlough commented on #1325
Fixed by https://github.com/dart-lang/site-www/pull/2956

[2022-09-23 07:45] #1325 closed

[2022-09-25 23:51] parlough commented on #4226
I'm going to close this issue, but if you have any more information or need more help, feel free to respond here or open a new issue. Thanks!

[2022-09-25 23:51] #4226 closed

[2022-09-28 03:42] swch01 commented on #2009
This section of the language tour only shows the syntax for redirecting generative constructors.

https://github.com/dart-lang/site-www/blob/main/src/_guides/language/language-tour.md#redirecting-constructors

[2022-09-29 11:15] ispbridge opened #4248 "[PAGE ISSUE]: 'Get the Dart SDK'"
### Page URL

https://dart.dev/get-dart/

### Page source

https://github.com/dart-lang/site-www/tree/main/src/get-dart/index.md

### Describe the problem

Code for M1 Mac didn't work

$ brew upgrade dart
Error: Cannot install under Rosetta 2 in ARM default prefix (/opt/homebrew)!
To rerun under ARM use:
    arch -arm64 brew install ...
To install under x86_64, install Homebrew into /usr/local.

#

[2022-09-29 17:32] MaryaBelanger opened #4249 "[2.19] Deprecated APIs"
## This is an _evaluation_ ticket

Evaluating the _possible_ need for doc updates due to dart-lang/sdk#34233

### Summary

APIs deprecated in previous releases are fully removed now.

### Evaluation

Search dart.dev for all the APIs mentioned in the change log, (unlikely any are mentioned in the docs)
Correct to new recommended option if available :

- [x] `MirrorsUsed` and `Comment`
- [x] `kInval

[2022-09-29 18:28] parlough commented on #4248
Thanks for opening an issue @ispbridge!

It looks like you have the ARM version of Homebrew installed, so I'm confused why you need to specify to run the command in `amd64` mode. Is the terminal you're running this in running in Rosetta mode? [This article](https://www.macworld.com/article/338843/how-to-force-a-native-m1-mac-app-to-run-as-an-intel-app-instead.html) shows how to check if an app is

[2022-09-29 18:41] parlough commented on #4249
We don't currently track SDK release notes or breaking changes outside of language evolution and a link to the blog on the site's "What's new page". Might be useful to introduce a similar page to Flutter's.

As for the deprecations and removals here, you're right that we'll unlikely use any of these, but thanks for checking!

[2022-10-01 19:32] iLoveDocs opened #4252 "[PAGE ISSUE]: 'A tour of the Dart language'"
### Page URL

https://dart.dev/guides/language/language-tour

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/language/language-tour.md

### Describe the problem

Write above [this](https://dart.dev/guides/language/language-tour#extension-methods) line, in `noSuchMethod` section, there's a line:

This link seems to be broken.

### Expected fix

_No response_

### Addit

[2022-10-01 23:50] parlough commented on #4252
Thanks for opening an issue. Looks like a newer destination can be found at https://github.com/dart-lang/language/blob/master/archive/feature-specifications/nosuchmethod-forwarding.md

[2022-10-03 18:39] mit-mit commented on #4225
I'd like to adjust this to P2. There is a lot of mystery on how these work/

[2022-10-03 19:30] MaryaBelanger opened #4254 "[3.2] Private field promotion docs"
## This is an _evaluation_ ticket

Evaluating the possible need for doc updates due to dart-lang/language#2020

### Summary

Type promotion is currently only available for _local_ variables. [#2020](https://github.com/dart-lang/language/issues/2020) will make it possible for _class_ fields to be safely promoted if they meet certain criteria: when the field is `private` and `final` (and there are n

[2022-10-03 21:41] stereotype441 commented on #4254
Minor nit: when you say "and getters of the same name, in the same library, are also final" I think you mean something like "and there are no concrete getters of the same name, in the same library".  (There's no such thing as a final or non-final getter).

[2022-10-03 22:13] parlough commented on #2478
For reference, IIFE is also a construct used in JS. MDN has some extensive docs with some shared motivation: https://developer.mozilla.org/en-US/docs/Glossary/IIFE

[2022-10-03 22:15] parlough commented on #2435
The tutorial was stripped in https://github.com/dart-lang/site-www/commit/a97d50201ee78fcd38d52d9d83dbc2aa875d4d91 resulting in this not being relevant and work for replacement material is planned in https://github.com/dart-lang/site-www/issues/3058. Closing in favor of that work. Thanks again for opening an issue!

[2022-10-03 22:15] #2435 closed

[2022-10-03 22:17] parlough commented on #2414
I'm going to close this in favor of https://github.com/dart-lang/site-www/issues/2625 which covers the same issue. Thanks everyone for opening the issue and surrounding suggestions!

[2022-10-03 22:17] #2414 closed

[2022-10-03 23:10] parlough commented on #25
@khanhnwin Was any related tracking or monitoring implemented internally for the Dart and Flutter websites? Do we need any work here with that or simply due to the nature of Firebase? Let me know if we can close this. Thanks!

[2022-10-04 01:05] #2389 closed

[2022-10-04 01:14] parlough commented on #404
I'm going to close this as a duplicate of https://github.com/dart-lang/site-www/issues/404. The API docs have been expanded a bit, but we definitely should document this on the site still.

[2022-10-04 01:14] #404 closed

[2022-10-04 01:24] parlough commented on #2319
I'm going to mark this as fixed by https://github.com/dart-lang/site-www/commit/63393923a1854289bb37e4919a37ec294d2ae887 which increased the font-size to 16px.

[2022-10-04 01:24] #2319 closed

[2022-10-04 01:26] parlough commented on #2543
I'm going to close this as fixed by https://github.com/dart-lang/site-www/commit/63393923a1854289bb37e4919a37ec294d2ae887 which saw the font sizes and font weight increased across the site.

[2022-10-04 01:26] #2543 closed

[2022-10-04 15:17] MaryaBelanger opened #4261 "Mention `noSuchMethod` for interface change breaking implementing class?"
### Page URL

https://dart.dev/guides/language/effective-dart/design#avoid-implementing-a-class-that-isnt-intended-to-be-an-interface

### Page source

https://github.com/dart-lang/site-www/tree/main/src/_guides/language/effective-dart/design.md

### Describe the problem

Not really a problem, just a question. The section _AVOID implementing a class that isn’t intended to be an interface_ is makin

[2022-10-04 15:20] MaryaBelanger commented on #4261
@munificent looks like you wrote the section (albeit a while ago!), any thoughts?

[2022-10-04 15:28] srawlins opened #4262 "Effective Dart: Don't type annotate initializing super formals"
### Page URL

https://dart.dev/guides/language/effective-dart/design#dont-type-annotate-initializing-formals

### Page source

_No response_

### Describe the problem

Effective Dart has a rule, "DON’T type annotate initializing formals." which should be extended to cover super parameters.

### Expected fix

I don't know if a super parameter is an "initializing formal" or a new construct. So eithe

[2022-10-04 15:29] srawlins commented on #4262
CC @munificent @natebosch

[2022-10-04 15:33] natebosch commented on #4262
Mentioning super parameters in that rule SGTM.

[2022-10-04 15:44] MaryaBelanger commented on #4249
Thanks for the insight @sfshaza2! Yeah, like @parlough said this is just to check the regular docs to make sure none of these are mentioned in any of the long-form content (guides, tutorials, troubleshooting, etc.); these changes are all documented in the change log already.

[Flutter breaking changes](https://docs.flutter.dev/release/breaking-changes) (for my reference)

Possibly, not sure how to

[2022-10-04 15:57] MaryaBelanger opened #4263 "[2.19] `noSuchMethod` docs"
## This is an _evaluation_ ticket

Evaluating the _possible_ need for doc updates due to dart-lang/sdk#49687

### Summary

Behavior (implementing class using overriding private fields) that used to delegate to `noSuchMethod` now just throws an exception. Allowing this behavior to be handled by `noSuchMethod` previously posed a privacy gap, and made the recent implementation of field promotion unso