[2020-07-05 20:45] polina-c opened #2509 "'Dart cheatsheet codelab' page issue"
Page URL: https://dart.dev/codelabs/dart-cheatsheet.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/codelabs/dart-cheatsheet.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

When I click 'run' for example in 'Cascades', I get error 'Error compiling to JavaScript: Instan

[2020-07-06 07:38] cuichuanteng opened #2510 "Use browser access to trigger two requests"
[code]
[code]

[2020-07-06 16:37] munificent opened #2511 "Include example of concatenated two-letter acronyms"
Under "DO capitalize acronyms and abbreviations longer than two letters like words.", it would be good to show an example of how an identifier formed from sequential acronyms is cased when those acronyms are and are not two letters long. Something like:

[code]

[2020-07-06 17:08] matanlurey commented on #2487
+1000. This seems consistent with TypeScript's use and of the `unknown` type:
https://mariusschulz.com/blog/the-unknown-type-in-typescript

[2020-07-06 18:22] munificent commented on #2487
Yes, I think this is a good change. I believe the ecosystem has moved since we originally added that guideline and now dynamic really means "I want complete dynamism".

[2020-07-06 20:03] jonmountjoy opened #2512 "'Sound null safety' page: how to try (or not) for Flutter"
Page URL: https://dart.dev/null-safety/
Page source: https://github.com/dart-lang/site-www/tree/master/src/null-safety/index.md

Description of issue:

Many people use Dart to develop Flutter apps.

This documentation page doesn't make it clear how to use the latest Dart and its sound null safety, in Flutter apps.
Doing so may result in a lot more usage of the feature.

[2020-07-06 20:04] kwalrath commented on #2510
Could you please clarify what the problem is and what page is affected? Thanks!

[2020-07-06 20:06] kwalrath commented on #2512
You can't yet use the feature with Flutter. We could be much clearer about this.

[2020-07-06 20:13] kwalrath commented on #2509
Unfortunately, that's just what happens when you have invalid code in a DartPad. The fix would be to change all the "before" examples to be runnable.

/cc @johnpryan @domesticmouse @RedBrogdon

[2020-07-06 20:16] kwalrath commented on #2505
I'm going to close this, since we don't cover Flutter on this site. I'd suggest getting help via the Flutter community: https://flutter.dev/community. (Maybe the Flutter Community Slack?) Good luck, @zeyadsharo!

[2020-07-06 20:16] #2505 closed

[2020-07-07 00:34] cuichuanteng commented on #2510
This is a sample code and all the code. After running, visit http://127.0.0.1:4000 through the chrome browser, the console will see 2 printouts, but if you use curl http://127.0.0.1: 4000 will only output once.

[2020-07-07 00:35] cuichuanteng commented on #2510
@kwalrath

[2020-07-07 01:26] kwalrath commented on #2510
Looks like the affected files are https://dart.dev/tutorials/server/httpserver (src/_tutorials/server/httpserver.md) and possibly the following Dart files:

examples/httpserver/test/httpserver_test.dart
examples/httpserver/bin/hello_world_server_secure.dart
examples/httpserver/bin/hello_world_server.dart

[2020-07-07 01:55] cuichuanteng commented on #2510
Can you reproduce this problem? Is this a bug? Or did I write it wrong?

[2020-07-07 07:09] zhesha commented on #2512
There is "Important" section with text: "Because null safety is still in tech preview, don’t use null safety in production code.". I think flutter can be mentioned here as well. For example: "Also, as Flutter uses stable version of Dart, null safety not yet available in Flutter"

[2020-07-07 10:41] jonmountjoy commented on #2512
FWIW, I installed the beta channel of Flutter, thinking it would be there too, so perhaps don't say "as Flutter uses stable version...".

[2020-07-07 16:05] kwalrath commented on #2510
Could you create a gist with your code and exact instructions on how you ran it and used the browser and curl? That way we can duplicate your work.

[2020-07-07 16:08] kwalrath commented on #2512
I'm not sure I can guarantee what version of Dart Flutter uses... What really matters is that the Flutter libraries haven't been converted yet.

[2020-07-07 16:22] cuichuanteng commented on #2510
@kwalrath   demo repository:https://github.com/cuichuanteng/dart-httpserver-demo.git

[2020-07-07 16:33] cuichuanteng commented on #2510
[demo video](https://github.com/cuichuanteng/dart-httpserver-demo/blob/master/demo.mov)

[2020-07-07 16:51] kwalrath commented on #2510
Thanks the video helps!

[2020-07-07 17:24] theacodes commented on #2510
Hi @cuichuanteng! The reason you're seeing two requests with the browser is because the browser actualy performs two separate requests - one for the page itself (`/`) and one for the page's favicon (`/favicon.ico`). You can verify this by modifying the code above to also print out the request's path:

[code]

Outputs this when using the browser:

[code]

If you want to know more about favicons, ch

[2020-07-07 17:24] #2510 closed

[2020-07-07 17:55] kwalrath commented on #2510
Thank you, @theacodes!

[2020-07-07 23:26] cuichuanteng commented on #2510
Everyone thanks!  @kwalrath  @theacodes

[2020-07-08 12:13] A-freedom opened #2514 "'dart2native' isn't exist with the dart sdk"
Hi I'm on Ubuntu 20.04 LTS and I have 'Dart Sdk'  installed on my computer and It is run just fine but dart2native isn't exist

[code]
[code]

for some reason or another, dart2native isn't existed, I had tried to reinstall it from different sources and still this same  result

[2020-07-08 16:14] kwalrath commented on #2514
I believe that dart2native isn't included in the Flutter SDK. You'll need to download the Dart SDK separately.

[2020-07-08 23:23] polina-c commented on #2509
Another option for fix would be not to use DartPad for something that is not runnable. As a user, if I see button 'Run' for a code example, I expect it to work.

[2020-07-09 14:16] snevetssirk opened #2515 "jsonDecode with large data sets"
the jsonDecode function fails on large data sets.

For example, when pulling data from a publicly available source, jsonDecode works when parsing the 673,043 byte output of:

'https://api.covid19api.com/country/united-states/status/confirmed/live?from=2020-06-01T00:00:00Z&to=2020-06-01T23:59:59Z';

but never returns when parsing the 2,019,199 byte output of the same API (for a larger date range):

[2020-07-09 15:27] kwalrath commented on #2509
If we don't use Dartpad, we lose the ability for people to modify the code and get it to run.

Maybe DartPad (or the DartPad embedding code) could disable the Run button instead?

[2020-07-09 15:48] kwalrath commented on #2515
This sounds like an SDK bug, so I'm going to move this over to that repo.

[2020-07-09 18:49] abhi47roy opened #2516 "Send ZIP file to a REST based API which is using SSL/TLS (https) hosted on AWS from a flutter based mobile application"
Previously I created a REST API which was taking a ZIP file and two other parameters as input from the flutter mobile application
The services were running on http

The code :

`var uri = Uri.parse("http://XX.XXX.XX.XX/gatewayapp/userinfo/sendFileToServer/");
var request = http.MultipartRequest('POST', uri);
     Map<String, String> headers = {
       "Accept": "application/json"
     };
     //ad

[2020-07-09 23:02] kwalrath commented on #2516
Hi, @abhi47roy. Stack Overflow is the best place for how-to questions. https://dart.dev/community has link to that and other resources.

I'm going to close this, since it isn't (at least directly) a doc issue.

[2020-07-09 23:02] #2516 closed

[2020-07-10 03:24] f3ve commented on #2211
If this is still open I'd like to help! :)

[2020-07-10 06:56] zhesha commented on #2509
At the beginning of a document, there is the text "The embedded editors in this codelab have partially completed code snippets. You can use these editors to test your knowledge by completing the code and clicking the Run button." So it's pretty clear that you should "complete" code before running. Also, it can be considered as "practical exercises", from that perspective it's expected that you nee

[2020-07-10 16:28] kwalrath commented on #2211
I'm starting to think this isn't going to happen, but I'd be very happy for you to try, @f3ve! The baton is yours.

[2020-07-10 16:29] kwalrath commented on #2509
Thanks, @zhesha. I agree that it isn't really a bug, but we could make it less enticing to do the wrong thing. :)

[2020-07-10 18:45] polina-c commented on #2509
Yes, not a bug.
Unfortunately, most people do not read from beginning. They search for words/sections.

[2020-07-11 02:38] f3ve commented on #2211
Thanks! I'll take a swing at it.

[2020-07-11 03:37] f3ve commented on #2211
How do you want something like this?
![image](https://user-images.githubusercontent.com/56381169/87215607-febb9c80-c2ec-11ea-9c35-ee7de05df87e.png)
Would you prefer the icon stay inside or be on the outside?

[2020-07-12 21:23] manosrenieris opened #2518 "Bad URL"
URL:  https://www.dartlang.org/docs/tutorials/fetchdata/
Linkedfrom: https://api.dart.dev/stable/2.8.4/dart-html/HttpRequest-class.html
Expected page:  Possibly https://dart.dev/tutorials/web/fetch-data

[2020-07-13 06:38] guolingege opened #2520 "I declared a get property in extension, but appearing conflict when I am using this property in the extension declaration."
Page URL: https://dart.dev/tools/diagnostic-messages.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/diagnostic-messages.md

Description of issue:
[code]

I found an official doc points out that "A member named ‘{0}’ is defined in extensions ‘{1}’ and ‘{2}’ and neither is more specific", but the error in my project says the two extensions are same!

<img width="1332"

[2020-07-13 08:12] zhesha commented on #2518
The link is under the "Other resources" section(first link), link title is "Fetch Data Dynamically" and description is "a tutorial from A Game of Darts, shows two different ways to use HttpRequest to get a JSON file." and it fails with 404.
Interesting that next link says "Get Input from a Form, another tutorial from A Game of Darts, shows using HttpRequest with a custom server." and in links to h

[2020-07-13 08:24] zhesha commented on #2518
Also, the issue should be moved to "dart-lang/sdk", as an API page generated from comments in code. I can create PR to fix this, but I'm not sure is simply removing these two links is good enough. Also, we can add a link to https://dart.dev/tutorials/web/fetch-data, as it has some explanation about HttpRequest.

[2020-07-13 17:41] kwalrath commented on #2518
Thanks for the report, @manosrenieris, and for the analysis, @zhesha.

I think we should update the API doc comments (dart-lang/sdk) *and* add a redirect on site-www to fetch-data.

[2020-07-13 17:49] kwalrath commented on #2520
We need to figure out whether this is a doc bug or an SDK bug. @filiph?

[2020-07-13 18:11] zhesha commented on #2518
@kwalrath I want help, but I am not sure how. I think we should remove two links to "tutorial from A Game of Darts" because there is no such tutorial. And add a new link to https://dart.dev/tutorials/web/fetch-data. If I'm right I will create PR tomorrow. If you need more time to investigate how to change these links, I'll wait.

[2020-07-14 20:34] kwalrath commented on #2518
I'm not actually sure how to modify the API docs at the moment, but it should be possible via a dart-lang/sdk PR (cc me!). As to creating a redirect, you'd do that by adding an entry to the long list in https://github.com/dart-lang/site-www/blob/master/firebase.json.

[2020-07-15 00:22] kwalrath commented on #2520
Maybe @bwilkerson can clarify?

[2020-07-15 00:27] kwalrath commented on #2518
As for "A Game of Darts", it's just the old name for the Dart tutorials. The equivalent today would be https://dart.dev/tutorials.

[2020-07-15 15:11] kwalrath opened #2521 "Fix banner CSS"
https://github.com/dart-lang/site-www/pull/2508#discussion_r453011120

[2020-07-15 16:45] #2512 closed

[2020-07-15 23:07] #2270 closed

[2020-07-15 23:25] kwalrath opened #2525 "Fix the beta build"
The beta and dev builds are failing. That's OK for dev... but shouldn't be OK for beta. Because this has been failing since the very first 2.9 beta, I'm guessing 2.9 is just pickier than 2.8. Some of these errors we might be able to ignore using comments like `// ignore_for_file: some_analyzer_error_or_warning_id`.

Example: https://travis-ci.org/github/dart-lang/site-www/jobs/708518273

The probl

[2020-07-16 01:29] jmagman opened #2526 "Update documentation for Windows pub cache location to from APPDATA to LOCALAPPDATA"
https://github.com/dart-lang/pub/pull/2297 changed the default pub cache path on Windows to `%LOCALAPPDATA%\Pub\Cache`
Update documentation still referring to `%APPDATA%`:
- https://dart.dev/tools/pub/environment-variables
- https://dart.dev/tools/pub/cmd/pub-get#the-system-package-cache

https://github.com/dart-lang/site-www/search?q=APPDATA&unscoped_q=APPDATA

[2020-07-16 05:36] domesticmouse commented on #2520
@guolingege can you please supply a minimised reproduction case?

I'm curious what the `BuildContextEx` is in that error message?

[2020-07-16 14:04] bwilkerson commented on #2520
A minimal reproduction case would be very helpful. In the absence of that, I have a couple of questions that might also help.

Do you have another extension named `BuildContextEx` that defines those two members and is imported into `BuildContextEx.dart`?

Is the class `BuildContext` generic?

[2020-07-16 14:24] guolingege commented on #2520
I will send you tomorrow

发自我的iPhone

[2020-07-16 16:46] kwalrath commented on #2526
Thanks, @jmagman! Do you want to fix this, or shall I open it up to the community?

[2020-07-16 18:27] jmagman commented on #2526
@kwalrath https://github.com/dart-lang/site-www/pull/2527

[2020-07-16 19:53] #2526 closed

[2020-07-17 00:33] #2514 closed

[2020-07-17 07:08] rustkas opened #2528 "Crash report (Dart version=2.8.4 (stable))"
I would like to share code example with crash report. I hope it help to do Dart VM better.

Code example:

[code]

Crash report:

[code]

[2020-07-17 07:15] #2528 closed

[2020-07-17 07:16] rustkas commented on #2528
It is not right place for this issue. I report it to dart sdk project

[2020-07-18 20:09] Nargi777 opened #2533 "'Get the Dart SDK' page issue"
Page URL: https://dart.dev/get-dart.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/get-dart.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-07-19 02:58] Adityaanand09 commented on #2227
hi! I would like to resolve this issue, since i am a beginner can you help me get started? Thank you.

[2020-07-19 02:58] Thwaltaraung opened #2534 "'The pub tool' page issue"
Page URL: https://dart.dev/tools/pub/cmd/
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/pub/cmd/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-07-20 17:03] sfshaza2 commented on #2533
No issue listed. Closing.

[2020-07-20 17:03] #2533 closed

[2020-07-20 17:04] sfshaza2 commented on #2534
No issue listed. Closing.

[2020-07-20 17:04] #2534 closed

[2020-07-20 18:34] #2271 closed

[2020-07-20 19:53] xpat opened #2539 "Solution fails -- Codelab: Asynchronous programming: futures, async, await."
I got the following error messages when I ran the solution on the first exercise:

Part 1 Test failed! Did you forget to implement or return from reportUserRole?
Part 2 Test failed! Did you forget to implement or return from reportLogins?

They're the hints, right?  Why do they appear when I run the solution?

[2020-07-20 20:39] munificent commented on #1208
I think this is covered by #2487, which I have a fix out for.

[2020-07-20 20:39] #1208 closed

[2020-07-20 22:21] #2511 closed

[2020-07-20 23:00] kevmoo opened #2540 "Content on migrating existing code to null safety"
Placeholder for now

Should cover the migration tool, how to think about dependencies, running tests, SDK constraint, etc etc

CC @sfshaza2 @kwalrath

[2020-07-21 14:01] kaaaartikkkk commented on #2211
Hey, can I know if I can get this done?

[2020-07-21 14:30] sfshaza2 commented on #2540
Thanks for setting this up, @kevmoo! I figure we can use this bug as a meta bug for the changes needed.

[2020-07-21 14:31] sfshaza2 commented on #2539
@johnpryan, can you weigh in?

[2020-07-21 15:33] joshuamwolfe commented on #2211
Just give it a try, at worst, you learned something new!

On Tue, Jul 21, 2020 at 10:01 AM kaaaartikkkk <notifications@github.com>
wrote:

[2020-07-21 16:41] johnpryan commented on #2539
It sounds like you might be viewing the solution, but haven't copied the code into the "Dart" tab.

We might consider changing the behavior of DartPad to run the solution when it's selected.

[2020-07-21 17:18] xpat commented on #2539
Sure enough, when I run the solution from the Dart tab I get the message:  All tests passed!

Thumbs up on this idea:

@johnpryan @sfshaza2 Thank you both for your follow-up.

[2020-07-21 17:19] #2539 closed

[2020-07-22 02:12] #1798 closed

[2020-07-22 20:38] munificent commented on #2487
Done: https://github.com/dart-lang/site-www/pull/2535

[2020-07-22 20:38] #2487 closed

[2020-07-24 16:09] bwilkerson opened #2541 "Diagnostic messages documentation not rendering links correctly"
The diagnostic messages documentation contains links, but those links are appearing as HTML tags.

For an example, look at https://dart.dev/tools/diagnostic-messages#unchecked_use_of_nullable_value and notice the explicit HTML text `<a href=` (and following) in the doc. The link is in the markdown version of the documentation and is not escaped. This should have been rendered as a link, so I'm gue

[2020-07-24 18:31] sfshaza2 commented on #2541
Yes that's an oopsie. I see 5 hrefs on that page.

[2020-07-24 19:40] timsneath opened #2543 "Font size too small on print => long line lengths"
When printing a beautiful but lengthy document like the null safety article from @munificent, the text is very small on letter and A4 paper, which results in long line lengths. There is a sizeable body of published research on line length and readability; while it comes to varying conclusions as to the optimum, our default here (150 characters) is over double the recommendations that I've encounte

[2020-07-24 22:50] bwilkerson opened #2545 "Add link to `Never` for methods that never return in summary of 'Understanding Null Safety'"
In this section of the null safety doc (https://dart.dev/null-safety/understanding-null-safety#top-and-bottom), in the last bullet item, consider mentioning one use case for `Never`: using it as a return type on methods that never return. The analyzer now uses that as being equivalent to the `alwaysThrows` annotation from `package:meta`, and it would be nice to eventually remove the annotation and

[2020-07-24 22:50] bwilkerson commented on #2545
@munificent

[2020-07-24 22:56] dkwingsmt opened #2546 ""Understanding null safety" should label each figure or snippet as with or w/o null safety"
There are a lot of figure or snippets in this article (great!), but it's unclear whether the figure or snippet is before or after the change without carefully reading the context, which might be misleading when a reader is skimming through the article. I suggest labeling each of them clearly, or at least those that are compared side-by-side.

[2020-07-24 22:58] bwilkerson commented on #2545
Or add a forward pointer to "Never for unreachable code".

[2020-07-24 23:13] munificent commented on #2543
I actually find the font a little painfully small even on a desktop web browser.

[2020-07-25 03:39] shashank-001 opened #2547 "'Get the Dart SDK' page issue"
Page URL: https://dart.dev/get-dart.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/get-dart.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-07-25 15:17] simphotonics commented on #2444
We are encouraged to **omit_local_variable_types**. In the example below, omitting the type declaration of the variable `alphaDecoder` leads to `constantReader` being identified as having type `dynamic`. In this case, I would have to specify the type of the function parameter.

Question. Is is at all possible to use the typedef `Decoder<T>` on the RHS to **omit_local_variable_types** when assignin

[2020-07-27 04:08] munificent opened #2549 ""!" is not needed on "localMax" and "localMin" in null safety doc"
Filing an issue since I'm on vacation right now. An [astute reader noticed a couple of mistakes](https://twitter.com/h_mike_dev/status/1286845035674324992):

[code]

The last statement should be changed to:

[code]

[2020-07-27 10:20] domesticmouse commented on #2547
I'm curious what the issue is that you were having with the Get Dart page?

[2020-07-27 20:50] natebosch commented on #2444
No, and I believe the lint `omit_local_variable_types` _should_ allow this.

In any case, outside of any considerations about local variable type annotations, the way we would recommend you write this is:

[code]

See https://dart.dev/guides/language/effective-dart/usage#do-use-a-function-declaration-to-bind-a-function-to-a-name

[2020-07-27 23:26] sfshaza2 commented on #2547
No issue listed. Closing.

[2020-07-27 23:26] #2547 closed

[2020-07-27 23:27] sfshaza2 commented on #2543
Me too!

[2020-07-27 23:29] sfshaza2 commented on #2546
Good idea!

[2020-07-28 08:56] simphotonics commented on #2444
@natebosch Thank you for your reply, I'll take that on board.  Appreciate the link (I must have missed it in your comment above).

 Had a quick look and at least with my setup, I am including `package:pedantic/analysis_options.yaml` in my local `analysis_options.yaml` file,  the lint `omit_local_variable_types` does indeed flag the usage shown above. Won't be an issue though, I'll follow the recom

[2020-07-28 18:22] natebosch commented on #2444
Ah, yeah I think https://github.com/dart-lang/linter/issues/2107 tracks that issue.

[2020-07-28 20:39] chalin opened #2552 "Homepage "Try Dart" isn't working"
Same issue, it would seem, as https://github.com/flutter/website/issues/4400. I'd expect to see some code and be able to run it. No code is shown and so there is nothing to run:

![image](https://user-images.githubusercontent.com/4140793/88719080-b70c8180-d0f0-11ea-9fcf-e537bd54b6b5.png)

The console shows:

[code]

[2020-07-29 12:22] chalin commented on #2552
Seems to be working now, closing.

Note that the DevTools error is still there in the console.

[2020-07-29 12:22] #2552 closed

[2020-07-29 16:48] #2549 closed

[2020-07-30 20:20] kevmoo opened #2554 "Discuss language versioning"
Pages like https://dart.dev/guides/language/extension-methods talk about how the feature was added in `2.7` but doesn't discuss how to set up the pubspec.yaml for this feature

[code]

We should document that.

We should also (Perhaps) discuss how using experimental features also requires aligning with language versioning and link to https://dart.dev/tools/experiment-flags

See

https://github.com

[2020-07-31 18:26] thomasmelak commented on #2211
I am new to open source and I'd like to fix this issue but I don't know which file I should fix can you guys help?

[2020-08-04 01:16] kwalrath commented on #2554
Do we really need a separate page/section for language versioning, or could we just point people to https://dart.dev/tools/pub/pubspec#sdk-constraints from everywhere that requires a minimum SDK version?

I guess I'm asking whether "language versioning" is an important thing to present to average Dart developers, or whether "minimum SDK" is all they really need to know.

[2020-08-04 01:17] kwalrath commented on #2546
@munificent are you interested in taking this on?

[2020-08-04 01:21] kwalrath commented on #2543
Related: #2319

[2020-08-04 01:36] kwalrath commented on #2541
We should use markdown link format, like we do for `[constant context]`. Actually, we can improve the constant context links, too... I'll create a PR.

[2020-08-04 19:06] andy7809 opened #2558 "Get started: command-line and server apps tutorial has incorrect (?) paths after stagehand console-full"
The command-line and server apps tutorials here recommend creating a directory `cli`. Then, running `stagehand console-full` in `cli` results in the following files being written (I think):

[code]
In step 6, the tutorial recommends running `dart bin/main.dart` to run the starter app. Shouldn't this instead be `dart bin/cli.dart`?

Did I do the tutorial wrong?

[2020-08-04 19:09] andy7809 commented on #2558
I have changed the `dart bin/main.dart` instances to `dart bin/cli.dart` locally, but I wanted to get some feedback before I opened a PR or anything. Am I doing this right?

Thanks for your viewing patience, I'm just an intern trying to learn some dart before the end of the summer :)

[2020-08-04 21:31] #2541 closed

[2020-08-05 00:32] munificent commented on #2546
Happy to!

[2020-08-05 15:11] #2546 closed

[2020-08-05 15:11] kwalrath commented on #2546
Thanks, @munificent!

[2020-08-05 16:29] kwalrath commented on #2558
What you're doing sounds right. I suspect that the template started producing different names quite a while ago, and you're just the first person to report this issue.

[2020-08-05 16:31] kwalrath commented on #2558
We'd love it if you created a PR, so I've assigned this to you. Thank you!!

[2020-08-05 16:44] kwalrath commented on #2211
What would be great would be for someone to provide the CSS. I can stick it into the necessary file (probably https://github.com/dart-lang/site-www/blob/master/src/_assets/css/main.scss), but I don't know what CSS to use.

You could test your CSS changes against one of the places that (erroneously) doesn't have the punctuation inside the external link. E.g. look at the "AngularDart" link at https:

[2020-08-05 16:49] kwalrath commented on #2319
We're looking into making dart.dev fonts similar to pub.dev fonts, which are a bit bigger and heavier.

[2020-08-05 16:50] kwalrath commented on #2543
If someone would like to give us a PR for the print fonts, I'd happily test and accept it.

[2020-08-05 17:10] kwalrath commented on #2227
@Adityaanand09 I'd be happy for you to resolve this issue! I think all you need to do is go to the page (https://dart.dev/guides/language/language-tour), click the page icon at the upper right, and then edit the appropriate part of the page source using the GitHub UI. Then create a PR with an appropriate title and description, and (on a separate line in the description) `Fixes #2227`.

[2020-08-05 17:28] kwalrath opened #2565 "Document JS number semantics"
See https://github.com/dart-lang/sdk/issues/42924 for details.

[2020-08-06 00:00] #2558 closed

[2020-08-06 18:26] kwalrath opened #2567 "Make it easier to find the PDF version of the in-progress language spec"
Per https://github.com/dart-lang/sdk/issues/42924#issuecomment-670098243.

[2020-08-07 15:55] #2567 closed

[2020-08-08 00:29] leafpetersen commented on #2554
Seems to me that there should be some basic documentation that explains that:
  - New language features (breaking or non-breaking) are not available unless opted into
  - Opting in is done by setting the min sdk constraint
  - Possibly a table showing what language features are enabled by what version (this requires maintenance work)

[2020-08-10 16:01] bwilkerson opened #2569 "How to forward on the diagnostic messages page"
The diagnostic messages page (https://dart.dev/tools/diagnostic-messages) uses anchors whose names match the names of the diagnostics. We now have a case where we would like to rename one of the diagnostics that has documentation on that page.

The problem is that if we rename the diagnostic from `a` to `b`, the analysis server in newer versions of the SDK will produce a link containing `#b` while

[2020-08-10 16:54] kwalrath commented on #2554
We have a page (https://dart.dev/guides/language/evolution) that could be a natural home for all this info. I think the table could be very useful, I'm willing to maintain it, and updating this page is already on our release checklist.

/cc @mit-mit

[2020-08-10 16:57] kwalrath commented on #2569
The most straightforward, lowest tech possibility is to just put a manual forward in the page. Something like this:

[code]

Another possibility is to add an anchor tag to b, but that risks confusing users.

[2020-08-10 17:06] bwilkerson commented on #2569
I hadn't considered that aspect.

How about just
[code]

Would it be ok (or even preferable) for all of those to be at the end of the page?

[2020-08-10 17:08] kwalrath commented on #2569
Yes, end of page makes sense to me.

[2020-08-11 00:29] bwilkerson commented on #2569
Ok, thanks! I've updated my CL to include the forwarding section in case you're interested (https://dart-review.googlesource.com/c/sdk/+/157921).

[2020-08-11 00:29] #2569 closed

[2020-08-11 17:56] dark-chocolate opened #2572 "'Extension methods' page issue"
Page URL: https://dart.dev/guides/language/extension-methods
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/extension-methods.md

![image](https://user-images.githubusercontent.com/40364434/89931575-a558cd00-dc0c-11ea-9108-94af80b6ffb5.png)

`Feature specification` link is broken.

[2020-08-12 18:37] kwalrath commented on #2572
Thanks for letting us know! If someone wants to grab this, it should be an easy fix.

Old URL: https://github.com/dart-lang/language/blob/master/accepted/2.6/static-extension-members/feature-specification.md#dart-static-extension-methods-design
New URL: https://github.com/dart-lang/language/blob/master/accepted/2.7/static-extension-methods/feature-specification.md#dart-static-extension-methods-des

[2020-08-12 22:09] LifeofDan-EL commented on #2572
I would like to work on it. Can I be assigned that?

[2020-08-12 22:52] LifeofDan-EL commented on #2572
Made a PR https://github.com/dart-lang/site-www/pull/2573

[2020-08-12 23:02] #2572 closed

[2020-08-13 20:56] kwalrath commented on #2502
I happened to be looking through all the code samples I can find, and here are 2 places that exemplify highlighting:

* https://dart.dev/guides/language/language-tour#metadata (`@deprecated` in the first code block)
* https://dart.dev/guides/language/effective-dart/usage#prefer-asyncawait-over-using-raw-futures (`async` and `await` in the "good" code block)

The highlighting is much more visible o

[2020-08-14 16:54] kwalrath opened #2577 "Clarify that Flutter 1.21 contains the full Dart SDK"
See discussion: #2576

[2020-08-14 18:30] kwalrath opened #2578 "Test homepage DartPad code"
The upgrade to jekyll (#2570) caused a problem that is making us stop using code-excerpt in the homepage. This means that the code displayed in the embedded DartPad won't be auto-included/tested. Once #2570 and #2575 are in, we should reimplement #2124 in a way that works with the new jekyll.

/cc @johnpryan @theacodes

[2020-08-14 20:00] stupendoussuperpowers commented on #2202
I'd like to work on this. Can someone guide me to the Language Tour Docs? @kwalrath @rkj

[2020-08-14 20:42] kwalrath commented on #2202
You're very welcome to give it a try! You can get a link to the source file for the language tour (or any other doc page on dart.dev) at the top right of the page.

[2020-08-14 22:10] kwalrath opened #2579 "Add links from static analysis messages to diagnostic-messages?"
https://dart.dev/guides/language/sound-problems lists some static analysis messages. We used to auto-include them, but as of 2.9, we can't ignore errors (https://github.com/dart-lang/sdk/issues/42977), so we now avoid testing known bad code (#2575) and can't auto-include the messages.

To compensate a bit, we could link from the message in sound-problems to the message's entry in https://dart.dev/

[2020-08-14 22:21] kwalrath opened #2580 "Change Effective Dart when "bad" code doesn't pass analysis"
#2575 fixed the build, partly by removing test code that no longer passes analysis. Two occurrences were in Effective Dart:

* https://dart.dev/guides/language/effective-dart/design#do-annotate-when-dart-infers-the-wrong-type ([diff](https://github.com/dart-lang/site-www/pull/2575/files/ef7995c200ec41622cc12ce6a7eb1e24117824be#diff-b95ea59d5bd24841b41baee2745469d7))
* https://dart.dev/guides/langu

[2020-08-14 22:51] johnpryan commented on #2580
Just a drive-by comment, but in that first example, the good and bad snippets are exactly the same.

[2020-08-14 23:15] johnpryan opened #2581 "Fix `runTwice` function for Dart 2.9 in DartPad samples on homepage"
Since https://github.com/dart-lang/site-www/pull/2574 was merged, we need to apply [this change](https://github.com/dart-lang/site-www/pull/2575/files#diff-1528efe58227b3be77486de58b4e8c6dR10) to the snippet in dartpad_picker_main.js:

[2020-08-14 23:32] kwalrath commented on #2580
Looks like it's been that way since #889. What the heck?

[2020-08-15 05:53] stupendoussuperpowers commented on #2202
Before I submit a PR, just to confirm that the changes I am making align with those wanted in this thread, would a `fromJson` constructor be an adequate example of using factory constructors to initialise variables with custom logic? I ask because as a beginner myself, that's the most frequent use-case for a factory constructor.

`factory Logger.fromJson(Map<dynamic, dynamic> json) {
     return L

[2020-08-17 07:32] mit-mit commented on #2554
Combining it with that SGTM.

When we document this, should also mention this analyzer message that developers will likely see:
<img width="675" alt="Screenshot 2020-08-17 at 09 32 32" src="https://user-images.githubusercontent.com/13644170/90369765-99399900-e06c-11ea-9172-a9df65cd5099.png">

[2020-08-17 11:57] eernstg opened #2583 "'Nullability and Generics' example needs adjustment"
Thanks to @dark-chocolate for noticing this, cf. https://github.com/dart-lang/sdk/issues/43069#issue-680165596. The section https://dart.dev/null-safety/understanding-null-safety#nullability-and-generics should be adjusted. It says that the following example is OK:

[code]

However, it is actually a compile-time error for a generative constructor like `Box.empty` to fail to initialize `object`. It

[2020-08-17 12:09] dark-chocolate commented on #2583
Sir, please correct me if I'm wrong.

The field `object` can have a value of `null` so it is fine to leave it uninitialised, and hence the above code should be OK. But just because it won't give us an idea whether the user actually forgot to initialise the field `object` or he wants `object` to have a value of `null`, Dart should give a compile time error. It's done to improve code maintainability

[2020-08-17 12:46] eernstg commented on #2583
Exactly. The rule in the language specification that requires final instance variables to be initialized by each generative constructor (or by an initializing expression in the declaration itself) is [here](https://github.com/dart-lang/language/blob/b9017651a340cc5b26b1b814782374b1932d446b/specification/dartLangSpec.tex#L3247).

It would not be unsound to allow such a final instance variable with

[2020-08-18 18:05] jamesderlin opened #2586 "'Understanding null safety' page issue"
Page URL: https://dart.dev/null-safety/understanding-null-safety/
Page source: https://github.com/dart-lang/site-www/tree/master/src/null-safety/understanding-null-safety/index.md

Description of issue:

https://dart.dev/null-safety/understanding-null-safety#null-assertion-operator has an example:

[code]

The `HttpResponse.ok` constructor neglects to initialize the `error` member, which currently

[2020-08-19 16:13] kwalrath commented on #2565
@eernstg has given me the following text as a possible starting point. It could replace the text in the `int` subsection of https://dart.dev/guides/language/language-tour#numbers. We might want to have some additional example code, as well, and to update the 'Bitwise and shift operators' section.

-------
Integer values no larger than 64 bits, depending on the platform. Overflows do not cause erro

[2020-08-19 16:43] eernstg commented on #2565
Small correction: '\code{-1 <{}< 1}' should be '`-1 << 1`'.

[2020-08-19 16:49] kwalrath commented on #2565
I wondered about that... figured I'd clarify later, but thanks for clarifying now.

[2020-08-19 17:11] kwalrath commented on #2586
While we're in there, we should change the double quotes to single quotes, to match the style of other Dart code in the website.

[2020-08-19 17:26] kwalrath commented on #1205
Is this issue fixed by https://dart.dev/guides/language/effective-dart/design#avoid-using-dynamic-unless-you-want-to-disable-static-checking?

Note: We might want to refer to that guidance (or update the text of) https://dart.dev/guides/language/effective-dart/design#prefer-annotating-with-dynamic-instead-of-letting-inference-fail.

[2020-08-19 17:59] Abdul-Sen commented on #2577
Thanks, I'll take this issue as a first-time contributor.

[2020-08-19 18:09] jamesderlin commented on #2586
It's been [pointed out to me](https://stackoverflow.com/questions/63440051/why-a-final-field-should-be-initialised-when-it-is-made-nullable/63440535?noredirect=1#comment112268890_63440535) that https://dart.dev/null-safety/understanding-null-safety#nullability-and-generics also has:

[code]
and says:

So it seems that the intended behavior is to no longer require `final` fields to be initialized i

[2020-08-19 18:24] kwalrath commented on #2577
Sorry, I forgot that I'd marked this as for beginners, so I'm fixing it in #2589. :(

[2020-08-19 18:30] kwalrath commented on #2525
Thea and I fixed this in #2575! But then it broke again. :(

https://travis-ci.org/github/dart-lang/site-www/jobs/719352447

[2020-08-19 21:47] #2577 closed

[2020-08-19 23:27] #2202 closed

[2020-08-20 21:27] munificent commented on #2586
These are both mistakes on my part. Final fields do need to be initialized even if nullable. I would change them to:

[code]

And:

[code]

Sorry about that!

[2020-08-20 21:31] munificent commented on #2583
Yes, this was a mistake on my part. We could either provide an initializer in Box.empty() or make the field non-final. I lean slightly towards the latter since it leaves the prose alone. So:

[code]

[2020-08-20 21:39] munificent commented on #2580
Not *exactly* the same. In the good example, `highest` is declared using `num` and in the bad example, it's `var`.

For the second one, I think removing `final` from both the good and bad examples should fix it:

[code]

[2020-08-22 01:26] dark-chocolate opened #2590 "'The Dart type system' page issue"
Page URL: https://dart.dev/guides/language/type-system
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/type-system.md

**Description of issue:**

Referencing the code provided [here](https://dart.dev/guides/language/type-system#generic-type-assignment)

[code]

[code]

According to my limited understanding of Dart, both the codes will always fail at runtime. So,

[2020-08-24 01:40] tatsuyafujisaki opened #2593 "Outdated instruction on DartPad page"
Page URL: https://dart.dev/tools/dartpad#step-2-server
Page source: https://github.com/dart-lang/site-www/blob/master/src/tools/dartpad/index.md
Description of issue: The following instruction ...
[code]

... may not line up with the current DartPad.
![](https://user-images.githubusercontent.com/1838962/90995019-94895d80-e5f5-11ea-833e-7e63c0d59660.png)

[2020-08-24 22:33] kwalrath commented on #2586
Sounds good.

It's great to hear that!

[2020-08-24 22:49] kwalrath commented on #2593
Thank you for letting us know about this! I won't get to this for a few days, but I think a community member could easily fix this, so I've marked it **help wanted**.

[2020-08-24 22:51] kwalrath commented on #2590
This might be something that worked in 1.X and even early 2.X, but not any more. @mit-mit who'd be a good person to ask?

[2020-08-24 23:54] johnpryan opened #2594 "move code_excerpt_framer.rb into site_shared"
Since https://github.com/dart-lang/site-www/pull/2591, the file in flutter/website and dart-lang/sdk have diverged. This file should be moved to site_shared, and use a symlink instead.

[2020-08-25 13:03] mit-mit commented on #2590
cc @lrhn

[2020-08-25 14:51] lrhn commented on #2590
With null safety, it's going to be an all-out error fest!
[code]
It'd be an implicit downcast (which will indeed always fail at runtime).
Implicit downcasts are going away, so it'd bea compile-time error.
Would be, if you ignore that the `List` constructor is going away with null safety, so it'll fail to compile even before it gets to type checking.

So, for pre-null safety, the text should be som

[2020-08-25 23:55] munificent commented on #1205
Only partially. That says to use `Object` instead of `dynamic` for overload-ish cases, but doesn't say to avoid those cases.

That rule is about a somewhat different thing, but definitely could stand to be written better.

[2020-08-27 14:36] johnpryan commented on #2594
https://github.com/dart-lang/site-shared/pull/121 has been merged, this symlink can be added now

[2020-08-27 19:59] sarahec commented on #1976
I'm already looking at the page and spotting an issue. Kindly pass this to me :)

[2020-08-27 20:10] sarahec opened #2599 "Misplaced code sample block in Streams tutorial"
In https://dart.dev/tutorials/language/streams, the ```handleError()``` snippet should appear just below its description, but instead appears under [The transform() function](https://dart.dev/tutorials/language/streams#transform-function).

Fix: Move the snippet up.

[2020-08-27 21:26] kwalrath commented on #1976
It's yours!

[2020-08-27 23:29] sarahec commented on #1976
Filed #2599. I have a fix, we're working out some access control issues w/
the PR.

On Thu, Aug 27, 2020 at 2:26 PM Kathy Walrath <notifications@github.com>
wrote:

--
Sarah Clark | Exec. Producer, IDR@GDS | sarahclark@google.com | M:
+1.408.605.2653

[2020-08-28 02:02] sarahec opened #2601 "README needs updating for non-Googlers"
The top-level README describes a process that only works for a handful of original maintainers:  checking out the main repo and pushing to master. It needs to describe a process of forking & submitting PRs via Github.

In addition, the "effective dart" TOC bug can strike anyone and also needs to be mentioned.

[2020-08-28 16:02] #2599 closed

[2020-08-28 21:02] kwalrath commented on #1976
@sarahec do you think we can close this issue?

[2020-08-28 21:16] sarahec commented on #1976
Yes, we can close this.

[2020-08-28 21:40] kwalrath commented on #1976
Great, thank you!

[2020-08-28 21:40] #1976 closed

[2020-08-29 18:43] bhumikasharma29 commented on #2601
I want to work on this

[2020-08-29 18:55] bhumikasharma29 commented on #2227
Can I work on this?

[2020-08-29 22:42] thearyanvijay opened #2604 "Error displayed near the footer on the dart.dev website homepage"
<?code-excerpt replace=”/ *\/\/\s+ignore_for_file:[^\n]+\n//g; /(^	\n) *\/\/\s+ignore:[^\n]+\n/$1/g; /(\n[^\n]+) *\/\/\s+ignore:[^\n]+\n/$1\n/g”?>

![Screenshot 2020-08-30 at 4 07 04 AM](https://user-images.githubusercontent.com/70454372/91647300-f07d3780-ea76-11ea-9a36-614ca3b1d152.png)

[2020-08-30 22:09] Thwaltaraung opened #2605 "README issue"

[2020-08-31 05:44] domesticmouse commented on #2605
I'd like to know what the issue with the README actually is.

[2020-08-31 05:50] domesticmouse commented on #2604
Can you please tell us your operating system make and revision, and your browser make and version. Thanks!

[2020-08-31 05:53] domesticmouse commented on #2604
/cc @johnpryan in case this is a dartpad embedding issue. I can't replicate on macOS 10.15.6 / Chrome 85.0.4183.83.

[2020-08-31 10:45] thearyanvijay commented on #2604
Apple MacBook Air
macOS Catalina 10.15.6

Browser: Chrome, Version 85.0.4183.83 (Official Build) (64-bit)

[2020-08-31 10:47] thearyanvijay commented on #2604
Apple MacBook Air
macOS Catalina 10.15.6

Browser: Safari, Version 13.1.1 (15609.2.9.1.2)

[2020-08-31 10:52] thearyanvijay commented on #2604
![WhatsApp Image 2020-08-31 at 4 20 16 PM](https://user-images.githubusercontent.com/70454372/91712792-1b19de00-eba6-11ea-827a-c0ae0f71ce19.jpeg)

![WhatsApp Image 2020-08-31 at 4 21 03 PM](https://user-images.githubusercontent.com/70454372/91712804-240aaf80-eba6-11ea-9d41-ed118f7fe6f0.jpeg)

[2020-08-31 10:57] tribals opened #2606 "Effective Dart - which import style is preferred for package's own imports?"
Need to clarify which import style is preferred for package's own imports using simple rules to follow.

Currently, the [docs](https://dart.dev/guides/language/effective-dart/usage#do-use-relative-paths-when-importing-libraries-within-your-own-packages-lib-directory) says:

And then:

And there is ["Creating packages" guide](https://dart.dev/guides/libraries/create-library-packages#importing-libra

[2020-08-31 12:02] lrhn commented on #2606
Yes.

You shouldn't be importing libraries in `lib/src/` from a different package *at all*.

You may import libraries in `lib/src/` from inside the same *Pub* package.  That can be from the `test/` or `bin/` directories, in which case you should use `package:` URIs, or from inside the `lib/` directory, in which case you should use a relative URI.

[2020-08-31 16:38] kwalrath commented on #2227
Absolutely! It's yours.

[2020-08-31 16:50] kwalrath commented on #2604
Oops, I see it too (though I have to select the empty area). This looks like a leftover of us converting from auto-included code to in-file code.

[2020-08-31 16:54] kwalrath commented on #2601
@bhumikasharma29 if you're willing to set up the doc build — which can take a bit of time and effort — you are very welcome to work on this issue. It's not the easiest issue to start with, though.

[2020-08-31 17:05] sarahec commented on #2601
I'll be working on this later today.

On Mon, Aug 31, 2020 at 9:54 AM Kathy Walrath <notifications@github.com>
wrote:

--
Sarah Clark | Exec. Producer, IDR@GDS | sarahclark@google.com | M:
+1.408.605.2653

[2020-08-31 17:26] bhumikasharma29 commented on #2227
Will you please review this?

[2020-08-31 21:46] #2604 closed

[2020-08-31 22:11] #2601 closed

[2020-09-01 06:28] parzuko commented on #2593
Can I take this issue?

[2020-09-01 15:28] santitigaga opened #2612 "Remove server option from pub publish page"
Page URL: https://dart.dev/tools/pub/cmd/pub-lish.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/pub/cmd/pub-lish.md

We need to remove the server discussion from this page.

-----
Original description of issue:

The task pub publish can´t add the option --server
<img src="https://i.imgur.com/TZZyWae.png"/>

[2020-09-01 16:02] kwalrath opened #2614 "'Resources' page issue"
Page URL: https://dart.dev/resources/
Page source: https://github.com/dart-lang/site-www/tree/master/src/resources/index.md

This page only has two things on it, but the sidenav shows a lot more items.

[2020-09-01 16:44] kwalrath commented on #2612
@jonasfj can you (or someone you know :) clarify the situation with the `--server` option, and whether it should be mentioned in https://dart.dev/tools/pub/cmd/pub-lish and the help?

[2020-09-01 19:53] jonasfj commented on #2612
This is a problem in `flutter_tool` wrapping `pub`.

You can do it with `flutter pub pub publish --server ...`, but this option isn't very useful, unless you're publishing to a server behind VPN as we don't have any authentication in place for this.

Another option is to use the `publish_to: <server>` in `pubspec.yaml`. Again, then authentication story for these is not good.

-------------------

[2020-09-01 22:14] kwalrath opened #2617 "Transition doc over to the new `dart` tool"
Although the existing Dart CLI tools will be around for quite a while, we need to transition over to the [new `dart` tool](https://dart.dev/tools/dart-tool):

1. Find pages that use the command line, and substitute the new `dart` tool for existing tools.
2. Convert the build and CI to use the new `dart` tool. (See #2623, #2624, and [this comment](https://github.com/dart-lang/site-www/issues/2617#i

[2020-09-02 09:19] RaenonX opened #2618 "Fix commented-out error messages in "Fixing common type problems""
See #2619 and comments below for details.

Original comment:

[2020-09-02 15:33] mit-mit commented on #2323
Punting to beta 2

[2020-09-02 16:23] kwalrath commented on #2618
Yikes. Thanks for letting us know, @RaenonX!

[2020-09-02 17:25] kwalrath commented on #2618
The problem happened sometime between July 28 & August 31, probably due to #2575 (or possibly #2591).

I'm going to make a quick workaround, but we should take a longer look at this page and perhaps bring it back to [what it was July 28](https://web.archive.org/web/20200728213004/https://dart.dev/guides/language/sound-problems).

[2020-09-02 20:47] dramos07 opened #2620 "Add explicit language to advise removing "_" for nested functions."
Local functions have names and those identifiers are in a scope where privacy doesn't apply, but [#dont-use-a-leading-underscore-for-identifiers-that-arent-private](http://go/effective-dart/style#dont-use-a-leading-underscore-for-identifiers-that-arent-private), does not explicitly include them in that language.

For completeness and to better guide the users it would be great to add nested functi

[2020-09-03 17:53] #2593 closed

[2020-09-07 08:04] felpsisonfire commented on #2617
Can I get the first 8?

Also, I have a question: Do we need to substitute the entire Dart CLI tools with the new ones? Just to clarify
In the given example:
Actual:
[code]
New:
[code]
The {% comment %} piece seems to have no effect in the page after the livereload

[2020-09-07 08:33] felpsisonfire commented on #2617
Just to get the things straight. We need to replace the old Dart CLI tools with the new dark tool, is that right? Using the given example:
Actual:
[code]
New:
[code]

[2020-09-07 09:33] mit-mit commented on #2617
A couple of PRs for the CI part here:

https://github.com/dart-lang/site-www/pull/2623
https://github.com/dart-lang/site-www/pull/2624

[2020-09-07 20:05] feinstein opened #2625 "Add dark theme"
Could we have a dark theme for the website? It's a lot better to read at night, something like https://firebase.flutter.dev/docs/overview.

![image](https://user-images.githubusercontent.com/8120472/92414858-7ad73280-f12c-11ea-9ad2-c68885734295.png)

[2020-09-08 01:58] feinstein opened #2626 "Provide additional explanation of topics for 'Creating packages' page"
Page URL: https://dart.dev/guides/libraries/create-library-packages
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/libraries/create-library-packages.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

There are several tips on this page, but there are not explanations,

[2020-09-08 16:21] kwalrath commented on #2617
@felpsisonfire you've got it.

[2020-09-08 20:15] jonasjuni opened #2627 "Suggestion change 'Using class members code example'"
Hi, sorry for disturbing you guys but the code exemple shown on [Using class members](https://dart.dev/guides/language/language-tour#using-class-members) is a bit confusing, using the [Point](https://api.dart.dev/stable/2.9.2/dart-math/Point-class.html) class as an exemple give me an error because we can't assign another value to a final

[code]

I know it isn't a big deal, but it'd nice to have a

[2020-09-09 00:44] kwalrath commented on #2627
Thanks for the feedback! We do test the code, but sometimes we use shortcuts, and this looks like one of those cases. :/

[2020-09-09 00:48] kwalrath commented on #2626
@jakemac53 can you help? I'm not sure we need to explain everything in this page, but maybe we can at least explain in this issue.

[2020-09-09 00:51] kwalrath commented on #2625
That's pretty cool! We're on different infrastructure, so I suspect it'd be a lot of work (and thus unlikely to get done), but you never know.

[2020-09-09 01:15] feinstein commented on #2626
I can help selecting the questions, but since I don't do Dart for web (I am mostly a Flutter dev for Mobile Apps), I don't know many of the answers, but would like to know :)

[2020-09-09 01:52] felpsisonfire commented on #2617
Cool! Can I get the first 8?

[2020-09-09 02:11] feinstein commented on #2626
The `library` directive is poorly documented. The [Language Tour](https://dart.dev/guides/language/language-tour) says it will be explained on this page, but it doesn't. As far as I understand `library` is mostly obsolete, but I don't know the edge cases were it still matter, and new project templates still add it to new libraries.

Beyond better documenting the `library` directive, I would also e

[2020-09-09 03:09] jakemac53 commented on #2626
This is based on the implementation - it is specifically a recommendation based on how we construct "compilation units" (we use the term modules in code/docs) for modular compilation. This recommendation applies to the build_web_compilers package specifically, and how it constructs those compilation units.

Dart does not have any built in notion of a compilation unit itself, so we use heuristics t

[2020-09-09 23:47] kwalrath commented on #2617
Absolutely. Thank you!

[2020-09-10 21:37] #2612 closed

[2020-09-10 23:32] kwalrath opened #2631 "Change how we use the term "element""
This came up in a discussion with @johnpryan and @munificent.

"Element" is overloaded to mean "a syntactic construct that can appear inside a collection literal" and "a value that can appear in a collection object". The former is evaluated at runtime and may produce zero or more of the latter.

UI-as-code features like collection if, collection for, and spread are elements in the former sense, bu

[2020-09-11 14:42] kwalrath opened #2632 "Clarify usage of late"
See https://github.com/dart-lang/language/issues/1020#issuecomment-642941016

[2020-09-11 15:09] mit-mit commented on #2632
I think we should make this a P1 (it's a new keyword with the potential to make the code less verbose and more efficient). I also suggest we tag it on a null safety beta milestone.

[2020-09-11 17:27] dnfield opened #2633 "Document when, if ever, is it better to use a bool to check late initialization"
I'm writing code where I will lazily initialize a cache field on my class.

I could make the variable `Foo? _cachedFoo;` or `late Foo _cachedFoo;` with a bool to track whether I've set it at least once.

Reading https://dart.dev/null-safety#creating-variables, it's not entirely clear to me whether either of these is preferable, but it seems like one should be. It'd be helpful if that documentation

[2020-09-12 00:15] munificent commented on #2633
Thanks for filing this, @dnfield. I agree some guidance would be good. I moved the issue over to the repo for dart.dev where the null safety docs and "Effective Dart" live.

[2020-09-12 12:21] zhesha commented on #2518
@kwalrath I have created PR to dart-lang/sdk, and it already merged.
Here is a change to file with redirects https://github.com/dart-lang/site-www/compare/master...zhesha:patch-1
Can you accept this change and can we update API docs from dart-lang/sdk comments, as they are updated?

[2020-09-13 00:35] RobLewis opened #2635 "Bad URL"
URL: https://www.dartlang.org/articles/libraries/broadcast-streams (link <a href="https://www.dartlang.org/articles/libraries/broadcast-streams">Single-Subscription vs. Broadcast Streams</a> on page https://pub.dev/documentation/rxdart/latest/rx/Rx-class.html
Expected page: a description of Single-Subscription vs. Broadcast Streams.
Actual page: 404

[2020-09-13 04:09] tijoforyou opened #2636 "Check code example for Nullability on 'Understanding null safety' page"
Page URL: https://dart.dev/null-safety/understanding-null-safety/
Page source: https://github.com/dart-lang/site-www/tree/master/src/null-safety/understanding-null-safety/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: **Bad code example.**

Under the `Never for unreachable code` [sectio

[2020-09-14 05:39] Aman9026 commented on #2635
@RobLewis This page is a part of [ReactiveX](https://github.com/ReactiveX)
I've created a [PR](https://github.com/ReactiveX/rxdart/pull/505) to fix this.
You can refer to https://www.dartcn.com/articles/libraries/broadcast-streams for a description of Single-Subscription vs. Broadcast Streams.

[2020-09-14 06:20] Aman9026 commented on #2631
@kwalrath  The writers have used "element" at two places which caught my attention:

- In examples having "halogens", if we go with that context, elements would be possibly referring to "chemical elements"

- In examples of "list", this is ambiguous and needs to be fixed

[2020-09-14 14:11] mit-mit commented on #2540
I think we should move this to the beta milestone, WDYT @kwalrath @kevmoo ?

[2020-09-14 15:43] kwalrath commented on #2518
Thank you, @zhesha! Your change looks good, except that the URL should be a host-agnostic path. Could you create a PR for the change? (I could, but then you wouldn't get credit.)

[code]

[2020-09-14 17:07] kwalrath commented on #2635
Thank you, @Aman9026! I'm going to close this issue.

[2020-09-14 17:07] #2635 closed

[2020-09-14 18:34] kevmoo commented on #2540
SGTM – although let's talk about it tomorrow, @mit-mit

[2020-09-14 23:47] kwalrath commented on #2631
#2638 fixed this in the language tour, but we need to make a sweep through other uses.

[2020-09-15 06:52] zhesha commented on #2518
I have created the right patch https://github.com/dart-lang/site-www/compare/master...zhesha:patch-2 . But I don't have a button to close the previous one. Also, as I can see there are some changes in API docs comments in dart-lang/sdk repo, so will you regenerate API doc section on site?

[2020-09-15 13:46] brammool opened #2639 "'A tour of the Dart language' page issue"
Page URL: https://dart.dev/guides/language/language-tour
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/language-tour.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
The example for "default values for positional parameters" has a default value for "device"

[2020-09-15 16:39] #2614 closed

[2020-09-15 16:41] kwalrath commented on #2518
The API doc gets regenerated automatically, but it takes a while for changes to make their way to the stable channel. You can check out the latest generated docs by going to the `be` (bleeding edge) docs:

https://api.dart.dev/be/dart-html/HttpRequest-class.html

[2020-09-15 22:34] #2518 closed

[2020-09-15 22:36] kwalrath commented on #2639
The issue, iirc, was that even though there's a default value, someone could pass `null` as the value. When null safety hits, we'll probably want to rewrite this example!

[2020-09-15 22:36] #2639 closed

[2020-09-16 19:43] kwalrath opened #2642 "Document common issues wrt null safety migration/mixed-mode"
Depending on how people will find/research these issues, this doc could be in one of two places:

* https://dart.dev/tools/diagnostic-messages (if people will find these issues only via static analysis).
* a new page that's similar to [Fixing common type problems](https://dart.dev/guides/language/sound-problems). diagnostic-messages would still have some info, but would link to this new page so th

[2020-09-16 21:32] stereotype441 commented on #2642
Here's a concrete example of this (based on https://github.com/flutter/flutter/blob/master/packages/flutter/lib/src/painting/image_provider.dart).  @kwalrath let me know if this is the kind of information you're looking for.  It's a real world example, with all the complexity that real world examples tend to entail, so feel free to adapt/simplify this example as needed.

Prior to migration the cod

[2020-09-16 21:48] kwalrath commented on #2642
That _is_ longer than I'd normally include in a doc page, but I suspect we can use it as the basis of a simpler example. I'm looking forward to the examples of the other 3 cases. Thanks, @stereotype441!

[2020-09-16 22:46] stereotype441 commented on #2642
Hmm, I'm having a lot of trouble finding examples in the other categories!  AFAICT, *all* of the instances of this issue in Flutter use `== null` or `!= null` checks.  I broadened my search to other packages that have been migrated so far, and again found nothing.

The only place where I've found examples that didn't involve `== null` or `!= null` checks is in the Dart SDK itself, and they're not

[2020-09-17 04:59] leafpetersen commented on #2642
My general take on this is that while we may want some "advanced mode" docs for true power users, for most people a very simple example and a very simple explanation is warranted.  Specifically, I think we should say something like the following, which would be linked to from certain warnings around dead code/unnecessary casts, and is used to document the exception that is thrown by the inserted r

[2020-09-17 08:34] amitgujralit opened #2643 "'A tour of the Dart language' page issue"
Page URL: https://dart.dev/guides/language/language-tour
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/language-tour.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: Down casting a variable from 'var' type to 'int' type

Dart considers everything as object.

[2020-09-17 08:34] amitgujralit opened #2644 "'A tour of the Dart language' page issue"
Page URL: https://dart.dev/guides/language/language-tour
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/language-tour.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: Down casting a variable from 'var' type to 'int' type

Dart considers everything as object.

[2020-09-17 08:35] amitgujralit commented on #2644
Duplicate issue reported.

[2020-09-17 08:35] #2644 closed

[2020-09-17 08:50] #2643 closed

[2020-09-17 18:28] munificent commented on #2445
Another example from @srawlins:

[code]

means that variables are not promoted to non-nullable. But if you re-wrote it:

[code]

then you get nice promotion. This only works for variables, not for property access, so `list != null && list.isNotEmpty && list.first != null` does not promote list.first. But I think non-nullable promotions are a very good reason to change our thinking on `?? false`.

[2020-09-17 21:07] PetaSoft opened #2645 "Shrink size of dart2native EXE files"
I used dart2native to figure out the size of the created EXE file. I used a simple hello world dart source file and applied the command `dart2native helloworld.dart -k exe -o .\helloworld.exe`. I ran the command on Windows 10 x64 (2004) Professional. Unfortunately, the created EXE file was 4842 KB in size. That is far more than I expected. I suppose that the complete dart runtime is copied into th

[2020-09-17 22:41] pcsosinski commented on #2540
what's blocking this currently?

[2020-09-17 22:43] sfshaza2 commented on #2540
Creating a new page? Nothing. Kathy volunteered to do it yesterday afternoon.

[2020-09-18 07:01] mit-mit commented on #2540
I think @pcsosinski is asking since @kwalrath added the 'blocked' tag

[2020-09-18 23:24] Classy-Bear opened #2646 "Tutorial 'Write HTTP clients & servers' doesn't work as expected"
# hello_world_server.dart doesn't work as expected.
## Problem
The [Write HTTP clients & servers](https://dart.dev/tutorials/server/httpserver) tutorial in the [Using the http_server package](https://dart.dev/tutorials/server/httpserver#using-http-server-package) section doesn't work as expected.

## Steps to reproduce
Download the [example code](https://github.com/dart-lang/dart-tutorials-samples

[2020-09-21 13:29] jonasfj opened #2647 "'Publishing packages' page should document is:unlisted"
Page URL: https://dart.dev/tools/pub/publishing.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/pub/publishing.md

**Blocked**, waiting for the `is:unlisted` feature to be shipped on pub.dev (https://github.com/dart-lang/pub-dev/issues/4044).

I think it would be worthwhile explaining:
 * What an _unlisted package_ is: A publicly available package that is excluded wit

[2020-09-21 16:45] ug2454 opened #2648 "'Package versioning' page issue"
Page URL: https://dart.dev/tools/pub/versioning.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/pub/versioning.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: Under Title 'A name and a Number' in a para, 3rd line, it is written "...and it won’t affect you one **wh

[2020-09-21 16:46] ug2454 commented on #2648
can i please be assigned to this issue?

[2020-09-21 21:52] kwalrath commented on #2540
Actual content is blocked on Flutter being ready for people to try null-safety migration.

[2020-09-21 21:56] kwalrath commented on #2648
I think this would be a good change, since "whit" is a very uncommon word. Want to do it, @ug2454?

[2020-09-21 22:02] kwalrath commented on #2646
Thanks for filing the issue, @Classy-Bear. Could you provide the output of `dart --version`.

Also, can anyone else confirm this? Thanks!

[2020-09-22 00:45] Classy-Bear commented on #2646
Sure, here it is: `Dart SDK version: 2.9.1 (stable) (Wed Aug 12 12:37:19 2020 +0200) on "macos_x64"`
**NOTE**: I haven't test with other SDK version.

[2020-09-22 02:31] ug2454 commented on #2648
Yes absolutely. I closed it after looking up meaning of whit which is the same as bit. But you are right, its not very common. I will make changes.

[2020-09-22 16:04] pnkjsajwan opened #2651 "'Troubleshooting DartPad' page issue"
Page URL: https://dart.dev/tools/dartpad/troubleshoot.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/dartpad/troubleshoot.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-09-22 17:00] kwalrath commented on #2648
Fixed by #2650

Thanks, @ug2454!

[2020-09-22 17:00] #2648 closed

[2020-09-22 17:01] kwalrath commented on #2651
Closing due to lack of description.

[2020-09-22 17:01] #2651 closed

[2020-09-22 19:07] johnpryan opened #2652 "Update analyser-results.txt files for CI builds"
The beta and dev channel builds are currently broken since the output has changed slightly in 2.10:

old:

[code]

new:

[code]

Pull request https://github.com/dart-lang/site-www/pull/2624 runs `dart analyze` on the `dev` and `beta` channels. To fix CI for the `dart` and `beta` channel builds we have two options:

1. Run `dart bin/update_dart_analyzer_txt.dart` from the `tool/dart_tools` director

[2020-09-22 23:46] kwalrath commented on #2642
(I edited Leaf's comment so it was easier to read in the GitHub UI.)

Agreed, a simple example is probably what we want. We can point to more complex examples if necessary.

/cc @RedBrogdon, who's coordinating null safety example work

[2020-09-22 23:53] leafpetersen commented on #2642
FYI - We're currently pushing on an alternative approach that eliminates most of the user facing complexity described here, so this issue may be greatly downscoped.  Essentially, we will add an implicit `default` case with a `throw` to switches over non-nullable types which don't already have a default, and we will add an implicit `throw` after expression statements of type `Never` (e.g. calls to

[2020-09-23 21:02] kwalrath commented on #2485
There's a bit of doc already: https://dart.dev/null-safety/understanding-null-safety. But we should mention it in /null-safety (and elsewhere, as null safety support progresses).

[2020-09-24 23:13] Adefebrian commented on #1073
if you are using linux u can install with ez way with command > for debian base : sudo apt-get install dart . for arch base : sudo pacman -S dart / yay dart. u dont need to set path after installing dart u can start to coding dart on ur editor or terminal .

[2020-09-25 15:22] bwilkerson opened #2654 "Replace the glossary entry for override inference"
The diagnostic messages documentation (https://dart.dev/tools/diagnostic-messages) contains a glossary entry for override inference. The text reads more like expository text than a glossary entry. I think we'll need to have documentation for Null Safety that explains how type inference in general, and override inference in particular, works, so it might be good to replace the glossary entry with a

[2020-09-25 15:23] bwilkerson commented on #2654
@domesticmouse

[2020-09-25 19:15] stevenanthonyrevo commented on #2646
Let me know if I can help with this issue!

I've tried downloading the suggested example HTTP server project above and was able to successfully access a return via curl `http://127.0.0.1:4040/` running from `Dart SDK version: 2.9.1 (stable) (Wed Aug 12 12:37:19 2020 +0200) on "macos_x64"` returning the result of `"Hello, world!"`

Please make sure you are accessing the correct port and the port is

[2020-09-25 19:58] kwalrath commented on #1810
#2454 changed the codelab to use embedded code, rather than gists. So now the code is analyzed, but the tests still aren't being automatically run.

[2020-09-25 20:03] kwalrath commented on #2238
Kind of related: we should update the web tutorial page at https://dart.dev/tutorials/web to acknowledge Flutter's web support (https://flutter.dev/web).

[2020-09-25 20:38] Classy-Bear commented on #2646
It looks like I point to the wrong example. The problem is in this section: [Using the http_server package](https://dart.dev/tutorials/server/httpserver#using-http-server-package).

[2020-09-25 20:40] Classy-Bear commented on #2646
@stevenanthonyrevo Can you run the new example again? The example is not related to the `http_server` package.

[2020-09-25 23:03] kwalrath commented on #756
Closing because I can't find any occurrences of links to GitHub when pub.dev is warranted.

[2020-09-25 23:03] #756 closed

[2020-09-25 23:36] kwalrath commented on #2581
I didn't notice you were assigned and tried to do this myself... ./compile[_dev].sh didn't work for me, though.

[2020-09-25 23:37] kwalrath commented on #2521
No longer necessary, as we aren't using the new style any more.

[2020-09-25 23:37] #2521 closed

[2020-09-25 23:41] kwalrath commented on #2227
Sorry for the delay, things got busy and this requires actual thought. :)

[2020-09-26 03:15] stevenanthonyrevo commented on #2646
Correct, the downloadable zip with the examples is an outdated bundle of the master (archived).
Archived: https://github.com/dart-lang/dart-tutorials-samples/blob/master/httpserver/bin/mini_file_server.dart
Newer: https://github.com/dart-lang/site-www/blob/master/examples/httpserver/bin/mini_file_server.dart

 ` Stream<HttpRequest> server;` is the missing. I will write the correct example file dow

[2020-09-26 04:35] Classy-Bear commented on #2646
This pull request doesn't add any value. You're just specifying a type annotation, which is good because it fulfills the following lint: [prefer_typing_uninitialized_variables](https://dart-lang.github.io/linter/lints/prefer_typing_uninitialized_variables.html), but doesn't actually solves the problem.

[2020-09-26 04:58] stevenanthonyrevo commented on #2646
Can you describe “...but doesn’t actually solve the problem?” With more detail.

Have you installed the needed package “Path” using ‘pub get’ ?

This resolved any issues I seen within the repo.

Would need more details to investigate further

On Sep 26, 2020, at 12:35 AM, David Acevedo <notifications@github.com> wrote:

﻿

This pull request doesn't add any value. You're just specifying a type anno

[2020-09-26 06:07] Classy-Bear commented on #2646
As I say, fixing a bad lint doesn't solve the problem. You're just giving a variable a type. The example still doesn't work if you add this line: `Stream<HttpRequest> server;`

After reading carefully the [Write HTTP clients & servers](https://dart.dev/tutorials/server/httpserver) page I got to solved. The response wasn't closed, so I add  `await req.response.close();`.

[2020-09-26 08:16] domesticmouse commented on #2654
I'm happy to help refine, but I lack the knowledge to write the original text. Help?

[2020-09-27 09:42] BerlinLion opened #2657 "'Get started: command-line and server apps' page issue"
Page URL: https://dart.dev/tutorials/server/get-started
Page source: https://github.com/dart-lang/site-www/tree/master/src/_tutorials/server/get-started.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

I always get the error message "command not found", although I've set all the paths in both

[2020-09-28 14:18] bwilkerson commented on #2654
(I probably should have said, but the referenced page hasn't actually been updated yet. The glossary entry is visible in this PR: https://github.com/dart-lang/site-www/pull/2655.)

I'm willing to expand on what I wrote for the glossary entry, but @munificent could probably do a better job, both with override inference and with other forms of inference.

[2020-09-28 20:20] kwalrath commented on #2657
Could you give us your OS info?

[2020-09-29 06:24] feinstein opened #2659 "Difference between <T extends SomeBaseClass> to just <SomeBaseClass>"
Since Dart generics are very limited compared to other languages, I wonder what's the difference between `<T extends SomeBaseClass>` to just `<SomeBaseClass>`. This is the kind of use case the [language tour shows][1], but I don't see the point of using it.

Am I missing something? I feel the docs should at least point out why `<T extends SomeBaseClass>` would be desirable over the simpler `<SomeB

[2020-09-29 08:12] BerlinLion commented on #2657
I have an Ubuntu 20.04.1 LTS

Best Regards,
Hamid Aminirad

On Mon, Sep 28, 2020 at 10:21 PM Kathy Walrath <notifications@github.com>
wrote:

[2020-09-29 15:26] CabdiyareGelle opened #2660 "'Language samples' page issue"
Page URL: https://dart.dev/samples/
Page source: https://github.com/dart-lang/site-www/tree/master/src/samples/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-09-29 15:57] devoncarew opened #2661 "'Sound null safety' page issue - document how to opt the analyzer in"
Page URL: https://dart.dev/null-safety/
Page source: https://github.com/dart-lang/site-www/tree/master/src/null-safety/index.md

Description of issue:

We should also document how to opt the analyzer (and IDEs) into null safety:

See https://github.com/dart-lang/samples/blob/master/null_safety/calculate_lix/analysis_options.yaml; in your analysis options file, you need to add:

[code]

[2020-09-29 16:20] devoncarew commented on #2661
Similarly, we should document how to opt-out of null safety from the analyzer perspective. That's done by ensuring that your sdk min. version in the pubspec file is below the sdk version that opts people into null safety.

[2020-09-29 17:41] kwalrath commented on #2660
Closing due to empty description.

[2020-09-29 17:41] #2660 closed

[2020-09-29 17:46] kwalrath commented on #2659
You're right, we should clarify this.

My guess would be that `<SomeBaseClass>` accepts types that mix in or implement `SomeBaseClass`, but `<T extends SomeBaseClass>` requires a `extends SomeBaseClass` somewhere in the type's superclass chain.

@leafpetersen is my guess right? Can you give us an example of why this might matter?

[2020-09-29 17:49] kwalrath commented on #2657
This seems like a mix of Dart info (`pub global`) and platform-specific (`PATH`) info. We will soon be changing the way a lot of commands work, due to the `dart` all-in-one command, so this is an area that's likely to change soon.

[2020-09-29 21:50] BerlinLion commented on #2657
Thanks a lot for Your answer. I have already solved the problem, but I
don't know anymore how I did it. Indeed it was a mixture of different
solution, that I had found here and there on different websites.
However I thank You though for Your answer.

Best regards,
Hamid Aminirad

On Tue, Sep 29, 2020 at 7:50 PM Kathy Walrath <notifications@github.com>
wrote:

[2020-09-29 23:45] leafpetersen commented on #2659
I'm sorry, I need a little more context for where `<SomeBaseClass>` appears.  From the docs, I think you may be confusing parameters and arguments?  That is, just as with functions I can have:

[code]

With generic classes there is a corresponding notion of generic parameters and arguments:

[code]

If I've missed the point of your question, perhaps you can expand a bit?

[2020-09-30 00:01] feinstein commented on #2659
I am used with Java and C# which have more elaborated generics bounds, so I decided to play with some codes to try out Dart simpler bounds.

Code 1:

[code]

Code 2:

[code]

Then I wondered why go to the trouble to specify `<T extends Base2>` on Code 2 and then use T, if I can use `Base2` instead, like in Code 1, not having to care about `T`.

Since Dart generics bounds can only extend to one cla

[2020-09-30 00:09] kwalrath commented on #2659
I'm rusty on generics, but I wonder if Flutter has some real-world examples of this. E.g. collections where the type must descend from `Widget`, but you want to know for sure what _kind_ of widget you'll get.

[2020-09-30 00:45] leafpetersen commented on #2659
@feinstein Your code in "Code 1" is less statically safe.  There's an implicit downcast on the result of the call to `b1.get` that can fail at runtime.  For example, this slight modification of your code still statically checks out, but fails at runtime:
[code]

If you make the same changes to your "Code 2" (and add the missing generic argument on the type of `b1`) there error is caught at runtime

[2020-09-30 01:19] feinstein commented on #2659
Oh, got it!

Maybe a simple explanation on this implicit downcast could be added so users would know the benefit of this.

[2020-09-30 12:54] maheshmnj opened #2663 "'dartanalyzer' installation instructions not found"
Page URL: https://dart.dev/tools/dartanalyzer.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/dartanalyzer.md

I searched throughout the dart docs and could not find how to install dartanalyzer.

[2020-09-30 17:43] kwalrath commented on #2659
IIRC, I recently saw someone (in a PR that converts code from non-null-safe to null-safe) change `<T>` to `<T extends Object>`, to ensure that the incoming type was non-nullable.

So that's another use case we might see a lot more of once null safety is the norm.

[2020-09-30 17:53] kwalrath commented on #2663
Good point. We should have a link from all the tools pages back to https://dart.dev/tools/sdk.

[2020-09-30 19:20] #2583 closed

[2020-10-01 10:59] parzuko commented on #2663
Can i maybe try fixing this ?

[2020-10-01 11:43] saumya66 commented on #2657
Does this page has a typo ? @BerlinLion

[2020-10-01 11:45] mnordine opened #2666 "Broken "Imperative Component Loading" link"
On https://dart.dev/web/deployment, link is `404`

[2020-10-01 15:26] kwalrath commented on #2663
I'd like to fix one page, to set up the precedent for other pages to follow... but I suppose you might have a better idea than I would. Sure, go ahead! Just fix one page, for now, so we can figure out a good scheme.

[2020-10-01 16:23] mnordine commented on #2666
@kwalrath my bad, it's the following link that is a `404`: https://github.com/dart-lang/angular/blob/master/doc/faq/component-loading.md

[2020-10-01 16:42] kwalrath commented on #2666
Oh, good catch! It looks like everything inside https://github.com/dart-lang/angular/tree/master/doc is gone!

@kevmoo is there a replacement?

[2020-10-02 05:34] malihanan commented on #2227
Is the issue solved or can I work on it?

[2020-10-02 07:27] kfish610 opened #2671 "Explain why Dart uses '_' for privacy rather than a keyword in the documentation."
Coming from C#, I was incredibly confused why Dart chose to use a prefix of `_` for private variables, rather than the typical `public`, `private`, and `protected` modifiers. After reading through https://github.com/dart-lang/sdk/issues/33383, however, I understand why Dart chose this method of visibility modification, and I don't mind it as much. However, it seems strange to me that no where in t

[2020-10-02 09:05] bentxt opened #2672 "version number in 'brew switch' command might wrong"
on https://dart.dev/get-dart

Command in Get Dart/Installing SDK/Mac

` brew switch dart 2.1.0`

Error:

[code]

Suggestion:
`brew switch dart 2.10.0`

[2020-10-02 16:45] parzuko commented on #2663
Alright! Should I just start with adding the link back to https://dart.dev/tools/sdk ?

[2020-10-02 17:16] kwalrath commented on #2227
It's almost resolved. We have a fix (#2608), but I wanted @bhumikasharma29 to review my changes. It's been a week, though, so I might just merge without his review.

[2020-10-02 18:40] #2412 closed

[2020-10-02 18:41] kwalrath commented on #469
Yes, it is. Would you like to fix it, @MarcusXavierr?

[2020-10-02 18:45] kwalrath commented on #2663
Yes, I think so. The question is what form that link should take. (It should be simple, clear, and easy to use across every non-`dart`-command page. The `dart` pages will be special because we'll probably want to mention the Flutter SDK too.)

We can work out that form here, or you can create a PR with a proposal for `dartanalyzer`. Your choice!

[2020-10-02 18:58] kwalrath commented on #2671
I don't think the language tour should justify or provide history, but it seems legit to link out to justifications (such as dart-lang/sdk#33383, in this case). Maybe a note like this:

What do you think, @kfish610?

[2020-10-02 19:03] kfish610 commented on #2671
That sounds reasonable, though I think they're called access modifiers, not annotations. Other than that, seems well worded, definitely would have made me much less confused than I was when I read the tour originally.

[2020-10-02 19:09] kwalrath commented on #2671
Oops, yep, you're right about using _access modifiers_.

[2020-10-02 19:09] kwalrath commented on #2671
@kfish610 would you like to make this fix, or shall we open it up to the community?

[2020-10-02 19:15] #2666 closed

[2020-10-02 19:15] kfish610 commented on #2671
I can make it, is there anything I need to do other than make a pull request?

[2020-10-02 19:23] kwalrath commented on #2671
Thanks! Just make a pull request. Search for "Deprecation note" to find some code to copy. (I don't see any other "Language note"s, but it makes sense to me to have a separate note type for this.)

[2020-10-02 19:24] kwalrath commented on #2672
It would only work if you'd already downloaded and not deleted 2.1.0... but we should update this number anyway! Want to create a PR for this, @bentxt?

[2020-10-02 19:29] kfish610 commented on #2671
@kwalrath Out of curiosity, is there a reason you prefer saying "Language note" as opposed to just "Note"? All of the notes on the tour just say "Note", and most of them refer to the language.

[2020-10-02 20:04] kwalrath commented on #2671
You're not wrong. I was thinking that a "Language note" might imply a comparison to other languages, but perhaps that's too subtle a point.

[2020-10-02 21:04] JHBitencourt commented on #2663
Wouldn't it be cool to add a note on each one of theses SDK tools to prefer using the new `dart` unified tool, from Dart 2.10?

I mean, now it is preferable to use `dart analyze foo.dart` over `dartanalyzer foo.dart`

[2020-10-02 21:15] laurameck commented on #2211
👋 Is this still available? I'd like to work on this.

[2020-10-02 22:27] laurameck commented on #2211
Had some thoughts after debugging this in the browser a bit. If you change the styling of the icon to be absolute, you can make the punctuation appear right after the text content when it's outside the link. However, this also makes it so that any following content won't know about the icon, and you'd need a way to determine where to add extra spacing.

For example, in your previous example, the c

[2020-10-02 22:43] laurameck commented on #1093
Hi, is this available to pick up?

[2020-10-02 22:53] kwalrath commented on #2211
Thanks for taking a look, @laurameck! Can you point me to a representative page in Wikipedia?

[2020-10-02 22:54] laurameck commented on #2211
Sure thing, if you scroll to the bottom of [this article](https://en.wikipedia.org/wiki/Gladys_West), you can see the external links under the References section

[2020-10-02 23:06] kwalrath commented on #2211
That's interesting. They still have the punctuation afterward (so there's still a gap), but because the symbol is aligned on the baseline, the gap isn't noticeable/objectionable.

I'm not sure whether we must/should use an SVG icon (assuming the font could be on the baseline), but it looks like we could _get_ it from the material icons site: maybe [open_in_new](https://material.io/resources/icons/

[2020-10-02 23:11] chalin commented on #1093
As far as I know this is up for grabs, so ... it's yours! 😄  (If you'd like, I can try to dig up the style changes I used to create the screenshots shown above, but if so, that won't happen until early next week.)

[2020-10-02 23:17] kwalrath commented on #2663
@JHBitencourt we probably should. (I hadn't because up until recently, I thought 2.10 would just be a tech preview for the unified `dart` tool.) Could you file an issue for that?

[2020-10-02 23:37] laurameck commented on #2211
Good catch--here's what it looks like with the vertical-align set to baseline

Period outside of link:
<img width="148" alt="" src="https://user-images.githubusercontent.com/9971478/94977295-612fcd80-04d5-11eb-82c6-6175489df725.png">
Period inside of link:
<img width="79" alt="" src="https://user-images.githubusercontent.com/9971478/94977323-799fe800-04d5-11eb-87ef-d7f8521c8c22.png">

Does that lo

[2020-10-02 23:56] kwalrath commented on #2211
If we set vertical-align to baseline, LGTM, and we can (over time) stop including the punctuation in the link.

Would you be able to create a PR for the vertical-align change, @laurameck?

[2020-10-03 00:03] laurameck commented on #2211
Sure thing! I'll get a PR up shortly.

On Fri, Oct 2, 2020 at 17:56 Kathy Walrath <notifications@github.com> wrote:

[2020-10-03 00:27] MarcusXavierr commented on #469
Hi @kwalrath, what exactly needs to be done?

[2020-10-03 01:15] JHBitencourt opened #2678 "Create notes on Dart SDK tools pages to inform about the new dart unified tool"
Page URL: https://dart.dev/tools/dartanalyzer.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/dartanalyzer.md

According to the new Dart 2.10, is preferable to use the new `dart` unified command line tool over the standalone ones, such as `dartanalyzer`, `dartfmt`, `dart2js`, `dart2native` and `pub`.

So it would be cool to create an informative note on each one of th

[2020-10-03 01:16] JHBitencourt commented on #2663
@kwalrath  Sure! #2678

[2020-10-03 01:56] kwalrath commented on #2663
Thank you!

[2020-10-03 02:06] kwalrath commented on #469
The following code and the text that describes it need should be updated to use a more current (or maybe imaginary) example of an executable:

[code]

It'd be nice to find (or make up) a similar example that has 2+ executables, one with nothing after the `:`, and one with something. Doing a [quick search on pub.dev](https://pub.dev/dart/packages?q=tool&sort=popularity) I found dart_style, which (g

[2020-10-03 03:05] #2211 closed

[2020-10-03 03:36] laurameck commented on #1093
Could someone with color blindness also weigh in on if this is enough of an improvement? I shifted the good/bad to the top left like @chalin, but I also increased the font size to match the code snippet to hopefully make it more legible. I can certainly add a border if the size and location change isn't sufficient.
<img width="954" alt="Screen Shot 2020-10-02 at 9 33 50 PM" src="https://user-image

[2020-10-03 04:01] aizatazhar commented on #2456
I feel that confusion arises because of not knowing the subtle difference between abbreviations and acronyms so describing the abbreviation/acronym might be helpful. Additionally, how about creating a new line with bolded "Exception:" which is consistent with the rest of the document? Here's what I propose:

---

To avoid this, acronyms and abbreviations are capitalized like regular words.

**Exce

[2020-10-03 05:04] tijoforyou commented on #1093
Yes, this is a lot better. Thank you!

As per the above image, the "good" and the "bad" annotations are the first things that I notice now. So, the background color is no longer my primary cue.

[2020-10-03 18:35] MarcusXavierr commented on #469
Something like this?
[code]
@kwalrath

[2020-10-05 08:48] sumandipanshu commented on #2617
Can i work on this issue?
Also, what should i do for those `.md` files which are combined to form a single `.md` file.
For example: `dart2js` and `dart2native`, these two commands have been merged into a single command `dart compile`.

[2020-10-05 09:16] sumandipanshu commented on #2617
Also, I am confused about what actually we have to do here.
    1. Find pages that use the command line, and substitute the new dart tool for existing tools.
    2. Perhaps we could add a comment like the following to each occurrence of a command.

Which one we are supposed to do?

[2020-10-05 18:04] johnpryan commented on #2581
The bash scripts both worked for me with Dart 2.9.2, do you have any console output?

I created a PR to address this issue: https://github.com/dart-lang/site-www/pull/2683

[2020-10-05 18:13] #2581 closed

[2020-10-05 18:17] kwalrath opened #2684 "Make sure people can update dartpad_picker_main.js"
See #2581 for info. I was unable to use ./compile[_dev].sh, but @johnpryan had no problems. I should try again and put the console output here.

[2020-10-05 19:50] kwalrath commented on #2617
@sumandipanshu: Good questions. Now that the `dart` command is out of technical preview, testing usage isn't the focus any more. I suspect we'll want to start actually updating pages (and testing them and the commands along the way). But I'm not sure about the timing.

I'll ask tomorrow in our weekly meeting and update this bug to reflect what we decide.

[2020-10-05 19:59] kwalrath commented on #469
@MarcusXavierr that LGTM

[2020-10-05 20:04] kwalrath commented on #2456
I like your idea, but I tweaked it slightly to add examples and change the capitalization of the definition. What do you think?

One slight thing that bothers me is that I think of "IO" as an initialism, not an acronym. But I suppose "IO" might be both.

[2020-10-05 20:09] kwalrath commented on #2456
In [that same example](https://dart.dev/guides/language/effective-dart/style#do-capitalize-acronyms-and-abbreviations-longer-than-two-letters-like-words), I don't understand why it's `ui` but `IO`. @munificent?

[2020-10-05 20:33] sumandipanshu commented on #2678
can i work on this issue?

[2020-10-05 21:43] munificent commented on #2456
The intent was to show how leading abbreviations are handled lowerCamelCase identifiers. Maybe we should be clearer by showing the context where the examples are used so that the mandated capitalization is clearer:

[code]

?

[2020-10-05 22:26] #2671 closed

[2020-10-06 00:29] munificent opened #2685 ""RVM is not a function..." when running `source ./tool/env-set.sh`"
I'm trying to build and run the site locally on my Mac. I'm running Catalina, which changes the default shell to zsh. When I run the instructions in the README.md, I get:

[code]

I've tried poking around in the various shell scripts, but I'm way out of my league there. It does seem like I can work around it by running the suggested:

[code]

And then doing everything inside that bash session. But

[2020-10-06 00:37] VinvithaReddy opened #2686 "'Dart documentation' page issue"
Page URL: https://dart.dev/guides/index
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-10-06 00:37] #2686 closed

[2020-10-06 01:03] kwalrath commented on #2685
@johnpryan what do you think we should do?

[2020-10-06 03:17] micpap25 commented on #425
It's a bit hard to tell what exactly the status of this is since it still says "Overridable Operators", but since #311 was closed I think this can be closed as well.

[2020-10-06 07:04] aizatazhar commented on #2456
Yup! The tweaks and context in the examples definitely made it a lot clearer.

For the bad examples `var HttpRequest = ...` and ` var UiHandler = ...`, would a better bad example be `var hTTPRequest = ...` and ` var uIHandler = ...`, since they are variables so lowerCamelCase is expected, but the section is telling us to treat acronyms and abbreviations as regular words instead of fully capitalizi

[2020-10-06 11:01] #1710 closed

[2020-10-06 11:01] #1942 closed

[2020-10-06 12:10] #1093 closed

[2020-10-06 16:56] kwalrath commented on #425
Thanks for taking a look, @micpap25. @chalin what do you think?

[2020-10-06 17:03] #2227 closed

[2020-10-06 17:42] johnpryan commented on #2685
Running `/bin/bash --login` will process `~/.bashrc`, `~/.bash_profile`, or `~/.profile`, which will set up NVM and RVM if you have them installed:

[code]

For reasons unknown, I can't run `bin/bash --login`, I need to manually run `/bin/bash` and `source ~/.profile` to load NVM and RVM.

We might want to add the `/bin/bash --login` or `/bin/bash && source ~/.YOUR_PROFILE_FILE_WITH_RVM_AND_NVM` t

[2020-10-06 17:47] kwalrath commented on #2685
Whatever we do, it should work for flutter/website, too... and I think their requirements are worse than ours, due to a (rvm?) version mismatch with flutter/flutter. Docker is sounding better and better.

/cc @sfshaza2

[2020-10-06 18:41] sfshaza2 commented on #2685
That's probably true.. I'm on Catalina but am still using Bash.

[2020-10-06 22:40] kwalrath commented on #2678
Sorry, we aren't quite ready for this yet.

[2020-10-06 22:44] kwalrath commented on #2617
We're going to take a slower approach than I expected to update these pages. I'll unblock this issue and #2678 once we're ready to go.

[2020-10-07 00:17] chalin commented on #425
In my opinion, the problem originally reported here still holds.

I'm not sure I follow your reasoning: #311 was closed because #976 resolved the issue.

---

Actually, taking another quick look, IMHO a few more changes would help:

- Under [Classes > Methods](https://dart.dev/guides/language/language-tour#methods): add a subsection named "Operators" (because as the DLS says, operators are just me

[2020-10-07 01:15] micpap25 commented on #425
@chalin Ah, sorry, I thought your first comment...

...was saying that "this is fixed, thus we can easily address #311", not "when this is fixed, we can also address #311". If that makes sense, lol.

I was originally asking about this issue because I wanted to resolve it, but it seems you have a clear plan of what will change so I'll move on to a different issue.

[2020-10-07 01:18] chalin commented on #425
Oh, I see! No worries. Yes, I'll submit a fix soon. Cheers.

[2020-10-07 16:44] kellsaro opened #2692 "'Understanding null safety' page issue"
Page URL: https://dart.dev/null-safety/understanding-null-safety#nullability-and-generics
Page source: https://github.com/dart-lang/site-www/tree/master/src/null-safety/understanding-null-safety/index.md

Description of issue:

At section 'Nullability and generics', there is an error at the code example:
[code]
As `object` has been declared `final` it must be initialized in `empty` constructor. Re

[2020-10-07 22:05] chalin commented on #2685
Hi all. We faced this issue a while back (_Either support zsh or clarify that only bash is supported_ #2080) and the decision made back then was:

There is a note in the README stating that the instructions work for bash and that YMMV with other shells.

Mentioning the need to run `/bin/bash --login` certainly seems reasonable.

I did look into making the build scripts zsh compatible last year, an

[2020-10-07 23:17] munificent commented on #2685
Maybe a silly question because I don't have much context, but... is there a reason an almost-entirely static-generated site requires Node, Ruby, Dart, Bash, and Firebase? Could the build stack be simplified?

[2020-10-07 23:33] munificent commented on #2456
"Better bad". :) Yes, I think those help clarify what we're trying to say.

[2020-10-08 00:10] kwalrath commented on #2554
@munificent wrote a bunch about language versioning in this PR: #2628

[2020-10-08 00:46] chalin commented on #2685
Well, ...

- Jekyll needs Ruby
- The site is hosted on Firebase, hence the need for the corresponding Node packages
- Some of the site updates scripts (e.g., TOC, code-excerpt sync) are written in Dart
- We need to support at least one shell / environment. Bash was the obvious choice until recently.

A word about Docker, since Kathy mentioned it earlier. Flutter/website was switched over to Docker

[2020-10-08 04:48] leafpetersen opened #2788 "Documentation for abstract fields?"
It came up in an internal code review that `abstract` fields are not covered by the nnbd documentation, though they are part of the release.  Is this covered somewhere else?  If not, should we cover it as part of the null safety docs?

cc @kwalrath @munificent @eernstg

[2020-10-08 05:02] aizatazhar commented on #2456
Haha I noticed that and was contemplating saying "badder" :')

Is it alright if I made a PR for this issue?

[2020-10-08 16:35] kwalrath commented on #2456
A PR would be great. Thanks!

[2020-10-09 01:36] aizatazhar commented on #2456
Thanks so much for the help @kwalrath @munificent :D

[2020-10-09 19:48] stereotype441 commented on #2642
Ok, we've landed the updated approach.  Considering my example above:
[code]
What we've decided is that flow analysis no longer considers code to be unreachable due to an "impossible" null check.  So even though `data` is definitely assigned a value whose type is non-nullable `ByteData`, and that *seems* like it should mean that `data == null` can never evaluate to `true` at (1), flow analysis kno

[2020-10-09 20:37] kwalrath commented on #2642
I've marked this as blocked since we don't know if we need it.

[2020-10-09 20:47] kwalrath opened #2695 "Document abstract fields"
Details: dart-lang/sdk#43712

[2020-10-11 07:20] AlexV525 opened #2697 "Typo in "Understanding null safety""
In our translation of this doc we found some typos. Some of them has been fixed already, but this one is still remained:

https://github.com/dart-lang/site-www/blob/4ef930c2feaaf49d614d63aba91c6d420f7b0750/src/null-safety/understanding-null-safety/index.md#L713

Should `the now non-nullable` be `the new non-nullable` ?

[2020-10-11 13:14] mojjammil opened #2698 "Fix variable initialization in Java Dart Codelab"
The part where we Initialize _speed to 0:

It is confusing not knowing exactly where to initialize? Within the class or inside main, or outside?

[2020-10-11 18:18] sumandipanshu commented on #2698
@mojjammil Could you please provide any reference to where you are getting confused?

[2020-10-12 07:37] mojjammil commented on #2698
It's in Intro to Dart for Java Developers -> Create a simple Dart class -> Add a read-only variable - > Initialize _speed to 0:

Mentioning it needs to be declared within the class might be handier

[2020-10-12 18:45] kochetkov-ma commented on #2420
![image](https://user-images.githubusercontent.com/16944358/95780261-3f53f900-0cd4-11eb-9980-9f3c6c8a09eb.png)

[2020-10-12 20:40] sumandipanshu commented on #2698
Dart implements privacy at library level, not the class level (unlike Java).
So, placing it anywhere inside the same library would make no difference.
[Refer here.](https://dart.dev/guides/language/language-tour#libraries-and-visibility)

Duplicate of #1463

[2020-10-12 23:26] kwalrath opened #2699 "Add `void` to the basic Dart program section of language tour"
#2693 added`void` to the function examples. We should mention `void` in the discussion that follows.

[2020-10-12 23:27] kwalrath commented on #1268
Related: #2699

[2020-10-12 23:33] kwalrath commented on #2698
@sumandipanshu #1463 doesn't seem to be related. Was there another bug you meant to refer to?

[2020-10-12 23:35] kwalrath commented on #2697
Pretty sure @munificent meant "now". `List` used to be nullable, but "now" (i.e. under null safety) it's non-nullable.

[2020-10-12 23:35] #2697 closed

[2020-10-12 23:41] kwalrath commented on #2420
I suspect the issue is that the **Run** button doesn't run the solution. You need to copy the code back into the **Dart** tab and _then_ click Run. That works for me.

This confusing UI has been reported: https://github.com/dart-lang/dart-pad/issues/1601

[2020-10-13 00:04] AlexV525 commented on #2697
Thanks for the explanation!

[2020-10-13 13:45] sumandipanshu commented on #2698
@kwalrath Ahh, sorry i mistakenly linked it to the another issue.
This is the [issue](https://github.com/dart-lang/dart-pad/issues/1463) which i wanted to link, but it seems to be in a different repository.

[2020-10-13 13:49] micpap25 commented on #542
Looks like this can be closed, doesn't look like there are any occurrences of `pub.dartlang.org` in the website.

[2020-10-13 13:54] #542 closed

[2020-10-13 13:56] #2456 closed

[2020-10-14 06:01] shubhamhackz commented on #1268
@kwalrath I wrote an article two years back explaining behaviour of `void` keyword. Let me know if this could be useful.

[2020-10-14 06:08] shankar-pariyar opened #2700 "DartPad input/output features of dart:io library not working"
In DartPad some features of dart:io library not working like "stdin.write()" and "stdout.readLineSync()" are not working.
Runtime error is occurring as below:
- For stdin.write()
Uncaught Error: Unsupported operation: StdIOUtils._getStdioOutputStream

- For stdout.readLineSync()
Uncaught Error: Unsupported operation: StdIOUtils._getStdioInputStream

[2020-10-14 17:42] kwalrath commented on #2700
DartPad runs on the web, so unfortunately it can't support dart:io. It should provide better messages, though. I'm going to close this in favor of https://github.com/dart-lang/dart-pad/issues/1615.

[2020-10-14 17:42] #2700 closed

[2020-10-14 21:11] ffeldhaus opened #2701 "Documentation improve usage example of getUserMedia method"
The usage example in the [documentation of `getUserMedia`](https://api.dart.dev/stable/2.10.2/dart-html/Navigator/getUserMedia.html) [can cause errors due to the usage of `createObjectURL` as browsers are disabling support for it](https://stackoverflow.com/a/33759534/1128705). Just attach `MediaStream` object directly to the `srcObject` property of `VideoElement` and consider adding width and heig

[2020-10-14 22:12] kevmoo opened #2702 "null-safety page: update SDK version to be '>=2.11.0-213.0.dev <3.0.0'"
Currently https://dart.dev/null-safety#configure-the-sdk-version

`environment: sdk: '>=2.10.0-56.0.dev <3.0.0'`

This should be environment: sdk: `'>=2.11.0-213.0.dev <3.0.0'`.

[2020-10-14 22:14] kevmoo commented on #2702
FYI: confirming this is indeed an issue w/ the internal null-safe chat

[2020-10-14 22:23] kevmoo commented on #2702
Per discussions internally: `2.11.0-213.0.dev` as a lower bound makes sure folks are on a Dart – and Flutter – SDK that supports null safety!

[2020-10-14 23:10] #2702 closed

[2020-10-15 13:13] micpap25 commented on #1242
Looks like this was simplified by removing "mood" and the default parameter on `device`. I think it's concise enough now.
[code]

This can be closed IMO.

[2020-10-15 16:13] kwalrath commented on #1242
@micpap25 I still see `mood` in https://dart.dev/guides/language/language-tour#default-parameter-values. (I think you're looking at https://dart.dev/guides/language/language-tour#optional-positional-parameters?)

[2020-10-15 18:15] micpap25 commented on #1242
Ah, I misunderstood where the issue was. I can submit a PR for this.

[2020-10-16 20:00] sumandipanshu commented on #2699
I would like to work on this issue. Can i take this? @kwalrath

[2020-10-16 20:52] kwalrath commented on #2699
Sure thing, @sumandipanshu!

[2020-10-16 23:33] #425 closed

[2020-10-19 19:14] timsneath opened #2710 "'Sound null safety' SDK constraints recommendation seems incorrect for TP2"
Page URL: https://dart.dev/null-safety/
Page source: https://github.com/dart-lang/site-www/tree/master/src/null-safety/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
The SDK constraints section seems incorrect, for three reasons:

[code]

1. I don't think this is indented correctly, is

[2020-10-19 19:40] kwalrath commented on #2710
We updated the lower bound last week, based on conversations inside the team. @kevmoo can tell you more.

As to the format, I'm pretty sure you can compact it like this, but I didn't test it, and I don't know whether we'd usually recommend this format. We should, however, change the quotes to be double, since we usually use single quotes only for .dart files.

[2020-10-19 20:47] #1242 closed

[2020-10-19 21:41] mit-mit commented on #2710
It's totally correct that a lower bound of 2.10 will suffice, but I personally find that confusing. It's not something we're likely to see a lot for future experiments, as it's only needed when they last several stable release. In those cases, the current dev release is the likely lower SDK constraint needed. @leafpetersen any reason why recommending a lower bound of 2.11.0-0.x would be bad?

[2020-10-19 21:42] mit-mit commented on #2710
Upper bound of `<2.12.0` sgtm

[2020-10-19 21:53] timsneath commented on #2710
My only thought is whether we overcomplicate the version by being so specific; ideally it's something that a developer can easily verify. (That is, `2.10` is _easy_, but `2.11.0-229.0.dev` is a mouthful and prone to error.)

[2020-10-19 21:59] kevmoo commented on #2710
The nice(ish) thing about `2.11.0-229.0.dev` is it makes sure folks don't stumble into trying this with an old SDK.

They have to be on a recent build.

[2020-10-19 23:28] kwalrath commented on #2710
I'll update the doc now.

[2020-10-19 23:39] kwalrath commented on #2698
I understand now. We could be clearer about what we mean.

[2020-10-20 00:56] #2710 closed

[2020-10-20 15:30] kwalrath commented on #2699
Thanks for fixing this, @sumandipanshu!

[2020-10-20 15:33] #1203 closed

[2020-10-20 16:14] #1273 closed

[2020-10-20 16:43] sumandipanshu commented on #2698
I would like to work on this issue. But I'm confused about what needs to be done in order to resolve this issue? what kind of info we need to add there?
And where is the source code?

[2020-10-20 16:53] sumandipanshu commented on #2646
Does this issue still needs some work?

[2020-10-20 17:24] kwalrath commented on #2698
@sumandipanshu unfortunately this codelab isn't open source, so a Googler has to fix it. :(

[2020-10-21 18:51] Classy-Bear commented on #2646
No, since the `response` is being closed, the [code](https://github.com/dart-lang/site-www/blob/518b01bfdcf6bda569f6cc150518f64e9455dd5b/examples/httpserver/bin/mini_file_server.dart#L36) from this repo is up to date and the [example code](https://github.com/dart-lang/site-www/blob/518b01bfdcf6bda569f6cc150518f64e9455dd5b/examples/httpserver/bin/mini_file_server.dart#L36) in the "Write HTTP client

[2020-10-21 18:51] #2646 closed

[2020-10-21 21:15] micpap25 commented on #1316
Looks like this was fixed, can be closed.
![image](https://user-images.githubusercontent.com/34077605/96788157-ff220400-13c0-11eb-8303-ad71afb988a0.png)

[2020-10-21 22:38] natebosch commented on #1316
Looks like this was fixed by https://github.com/dart-lang/site-www/pull/1620

[2020-10-21 22:38] #1316 closed

[2020-10-21 23:20] kwalrath commented on #1316
Thanks, @micpap25 & @natebosch

[2020-10-21 23:21] #1272 closed

[2020-10-22 12:38] kwalrath commented on #2554
We've added the language versioning info to the evolution page (https://dart.dev/guides/language/evolution#language-versioning) in #2696. Leaving this bug open to make sure we cover everything we need to.

[2020-10-25 20:30] micpap25 opened #2717 "Non-existant functions in Built-In-Types for Language Tour"
Page: https://dart.dev/guides/language/language-tour#lists
Page Source: https://github.com/dart-lang/site-www/blob/master/src/_guides/language/language-tour.md
Other Page Source: https://github.com/dart-lang/site-www/blob/master/examples/misc/lib/language_tour/built_in_types.dart

The source for the Language Tour refers to functions in the built_in_types file that don't exist, like `list-if` and `

[2020-10-25 20:32] micpap25 opened #2718 ""//uncommenting this causes an error" in Language Tour"
Page: https://dart.dev/guides/language/language-tour#lists
Page Source: https://github.com/dart-lang/site-www/blob/master/src/_guides/language/language-tour.md

Issue: There are a few instances where a code example has a section that says "uncommenting this causes an error". This is pretty obviously misleading and could cause confusion.

[2020-10-26 19:52] kwalrath commented on #2718
this -> this line?

[2020-10-26 19:55] kwalrath commented on #2717
These are just names of doc regions (used in code excerpts). E.g. `<?code-excerpt "misc/test/language_tour/built_in_types_test.dart (list-if)"?>` refers to https://github.com/dart-lang/site-www/blob/953164d0da62023ac44888b6f07d180cd5616f69/examples/misc/test/language_tour/built_in_types_test.dart#L109.

[2020-10-26 23:21] micpap25 commented on #2717
Ah, I see the issue. I didn't notice there was a difference between `built_in_types` and `built_in_types_test`. No problem then.

[2020-10-26 23:21] #2717 closed

[2020-10-27 16:21] kwalrath opened #2719 "Change URLs for command-line tools being replaced by `dart`"
We'll follow a variant of the pub precedent but NOT update any pub URLs: (/tools/pub/cmd/pub-outdated, e.g.). Here are the new URLs we'll use:

* [x] /tools/dart-analyze (redirect from /tools/dartanalyzer)
* [x] /tools/dart-compile (redirect from /tools/dart2native and, eventually from /tools/dart2js)
* [x] /tools/dart-create
* [x] /tools/dart-format (redirect from /tools/dartfmt) (#2982)
* [x] /t

[2020-10-27 16:30] kwalrath commented on #2617
OK, this issue is unblocked! @sumandipanshu feel free to update (and test!) the commands. E.g., if you take `src/_guides/language/formatting.md`, then you'll do the following:

1. `dartfmt` -> `dart format` everywhere
2. Change the example command, if necessary, to one that works (`dart format -w .`?)

@felpsisonfire could you revisit #2629, and make sure all the new commands work? Thank you!

[2020-10-27 20:26] kwalrath commented on #2678
Obsoleted in favor of #2719 (which I'm working on this very minute).

[2020-10-27 20:26] #2678 closed

[2020-10-29 05:35] shubhamhackz commented on #1268
@kwalrath  Any update on this?

[2020-10-29 23:52] kwalrath commented on #1404
Thanks for the PR, #2716! Do you think we should add something about nonliterals — enums, arg lists, param lists?

[2020-10-30 00:09] kwalrath commented on #1268
We added a discussion of `void` in #2708. I think that's probably sufficient, for now.

[2020-10-30 00:09] #1268 closed

[2020-10-30 00:33] kwalrath opened #2720 "Skip the dev jobs"
The dev channel jobs are taking 50 minutes and then timing out, starting with https://travis-ci.org/github/dart-lang/site-www/builds/739979991 (PR from 6 hours ago). https://travis-ci.org/github/dart-lang/site-www/builds/740059875 (master channel) looks broken in the same way. We haven't released a dev build recently, so I don't know why this is happening.

Soon we might have a non-nullable by def

[2020-10-30 00:52] pq commented on #2720
See: https://github.com/dart-lang/sdk/issues/43979.

[2020-10-30 00:52] pq commented on #2720
This should be fixed in dev builds post https://github.com/dart-lang/sdk/commit/45931e9ea86099ff225b39e564ece2806ac32de8.

[2020-10-30 01:07] micpap25 commented on #1404
I agree that we should mention that you can you trailing commas for those other types. I'll add to my PR, let me know what you think.

[2020-10-30 20:14] devoncarew commented on #2661
This is no longer necessary (post TP2).

[2020-10-30 20:14] #2661 closed

[2020-10-31 03:15] micpap25 commented on #2718
These three, specifically:
![image](https://user-images.githubusercontent.com/34077605/97769967-8d0a9700-1b05-11eb-8726-f3600a3ff949.png)
![image](https://user-images.githubusercontent.com/34077605/97769977-9e53a380-1b05-11eb-8137-e87c41e05bc2.png)
![image](https://user-images.githubusercontent.com/34077605/97769981-a6abde80-1b05-11eb-9bac-846b76dffff3.png)

[2020-10-31 19:23] shubhanshu02 commented on #2617
Hi @kwalrath! I'm a new contributor here. Can I work on `src/_tutorials/`?

[2020-11-01 03:41] micpap25 commented on #2383
@kwalrath Should the Dart /search and /search-all files be simplified down to the way they are in Flutter?

[2020-11-01 03:48] micpap25 commented on #2383
@johnpryan made some changes to the site that fix the first problem you listed, I'm bringing them over to the Flutter site right now.

[2020-11-02 23:22] #2720 closed

[2020-11-02 23:28] kwalrath opened #2722 "Reenable dev builds"
Once a fixed dev build comes out, we need to reenable those tests. We might need to make them failable, too. (For more info, see #2720.)

Related: #1803

[2020-11-02 23:41] kwalrath commented on #2718
Just to be clear... the issue is that "this" is unclear — seems like it could refer to the comment instead of the whole line, correct?

[2020-11-02 23:47] kwalrath commented on #2617
Thanks for the offer, @shubhanshu02! I've assigned you https://github.com/dart-lang/site-www/blob/master/src/_tutorials/server/get-started.md (https://dart.dev/tutorials/server/get-started).

[2020-11-02 23:53] kwalrath commented on #2383
Yes, I think so. When I updated the Flutter search, I just copy-pasted what was in the custom search console. Going back to the console, here's what it says for the dart.dev-only search:

[code]

And for the "more sites" search:

[code]

[2020-11-02 23:56] #1404 closed

[2020-11-03 04:53] micpap25 commented on #2718
ah, I'm sorry. I'm referring just to the part that says "Uncommenting this causes an error", not the entire line.

[2020-11-03 10:21] shubhanshu02 commented on #2617
@kwalrath, I have two questions on the `src/_tutorials/server/get-started.md` file -
1. Since `stagehand` is replaced by `dart create`, there is no need to install `stagehand`. So what should be done to the "Get more command-line developer tools" heading which has the `pub global activate stagehand`?
2. Also I noticed that `dart create` automatically runs `dart pub get` on completion. So should th

[2020-11-03 17:51] kwalrath commented on #2617
1. We won't need stagehand, so delete that heading and content. (You might have to adjust other text accordingly.)
2. Yes, I think you can remove that heading, but do update the description to say what `dart create` gets the packages you depend on.

Thank you! It's good to see that you're testing this well!

[2020-11-04 03:42] pq commented on #2722
I just bumped the linter back to `dev` and things are looking good.  You should be good to go?

[2020-11-04 06:15] shubhanshu02 commented on #2617
Thank you @kwalrath for the help. I have created the PR, please review it.

[2020-11-05 01:01] kwalrath commented on #2722
Fixed in #2726

[2020-11-05 01:01] #2722 closed

[2020-11-05 12:58] shubhanshu02 opened #2728 "Update /tutorials/server/get-started to use `dart pub get`"
As discussed in #2725, we should add a step to show the usage of `dart pub get` later where the reader imports a library to the https://dart.dev/tutorials/server/get-started.
Reason: Since the `dart create` automatically runs `dart pub get` on completion, the step for its usage is removed.

[2020-11-05 13:34] bshlomo opened #2729 "pub publish doc"
In the current version doc -
Publish is one of the commands of the pub tool.
$ pub publish [--dry-run] [--force]

In dart SDK last version
Usage: pub publish [options]
-h, --help       Print this usage information.
-n, --dry-run    Validate but do not publish the package.
-f, --force      Publish without confirmation if there are no errors.
    **--server**     The package server to which to uploa

[2020-11-05 18:24] kwalrath commented on #2729
@mit-mit @kevmoo I have a vague memory that we didn't want to advertise `--server`. Right or wrong?

[2020-11-05 18:49] kwalrath opened #2730 "Add null safety migration FAQ"
We have an internal doc that is mostly applicable to external folks as well.

@ryanmcginnis has offered to convert it!

[2020-11-05 22:47] kwalrath opened #2731 "Update diagnostic messages"
How-to instructions here: https://github.com/dart-lang/site-www/issues/1949#issuecomment-535257768

[2020-11-05 23:33] kevmoo commented on #2729
I think correct – we're deprecating it.

https://github.com/dart-lang/pub/pull/2697

On Thu, Nov 5, 2020 at 10:25 AM Kathy Walrath <notifications@github.com>
wrote:

[2020-11-05 23:55] kwalrath commented on #2729
Thanks for making sure we were documenting this correctly, @bshlomo!

[2020-11-05 23:55] #2729 closed

[2020-11-06 09:31] aasirmutwalli22 opened #2733 "support for microcontroller"

[2020-11-06 14:28] micpap25 commented on #977
I'm about to make a push for this, I just have one question. Why might the CSE for search-all on this site be different from the one on the Flutter site? Aren't they supposed to show the same results? This is coming from someone who doesn't know much about the topic, I just wanted to check.

[2020-11-06 17:22] kwalrath commented on #977
Good question! The Dart "search more" CSE has these sites:

* api.dart.dev
* dart.dev
* flutter.dev
* stackoverflow.com

The Flutter "search more" CSE is the same, but with api.flutter.dev instead of api.dart.dev. I think that makes sense because api.flutter.dev is a superset (more or less) of api.dart.dev, and it might be confusing for non-Flutter Dart devs to get results like dart:ui that aren't

[2020-11-06 20:51] kwalrath commented on #2733
Could you clarify what the issue is?

[2020-11-07 10:21] aasirmutwalli22 commented on #2733
It is not an essue. It is a feature request. If dart lang can be used to program microcontrollers like arduino, esp32, etc.

[2020-11-07 15:11] AymenBrxII opened #2740 "Dart book resource"
**Title:** [Dart Apprentice](https://www.raywenderlich.com/books/dart-apprentice/)
**Description:** Dart Apprentice will teach you all the basic concepts you need to master this language. Follow along the easily and thoroughly explained concepts and you will be building Dart applications in a breeze.
**Authors:** Jonathan Sande & Matt Galloway

[2020-11-08 03:31] micpap25 commented on #977
I'm just realizing... I accidentally commented on the wrong issue... this belongs on #2383, haha.

[2020-11-08 15:30] TechTraderss opened #2743 "Terminal is 3b API"
:stuck_out_tongue_closed_eyes:

[2020-11-09 16:17] kwalrath commented on #2733
Ah, thanks for the clarification. Could you please open or comment on an issue in the dart-lang/sdk repo?

[2020-11-09 22:18] #1920 closed

[2020-11-09 22:37] #2743 closed

[2020-11-09 22:45] kwalrath commented on #2740
Thanks, I hadn't heard of that! It looks like it's in early access right now (and maybe not available in print?), but we'd welcome a pull request to add it to https://github.com/dart-lang/site-www/blob/master/src/_data/books-dart2.yml (which is included by https://github.com/dart-lang/site-www/blob/master/src/resources/books.md).

[2020-11-09 22:57] #2733 closed

[2020-11-09 22:59] kwalrath commented on #2718
So changing "this" to "this line" is the fix, correct? Or we could say something like this:

[code]

[2020-11-09 23:41] micpap25 commented on #2718
OK, I think I misinterpreted some of your comments from earlier and confused myself a little.

Basically, I previously thought that `//Uncommenting this causes an error` wasn't a clear enough indication to tell viewers that "this isn't allowed and will cause problems". I think it could be replaced with a more direct statement.

I think I'll make a PR for this.

[2020-11-10 21:27] #2718 closed

[2020-11-10 21:35] kwalrath commented on #2617
@shubhanshu02 are you interested in adopting another page?

[2020-11-11 08:08] shubhanshu02 commented on #2617
Yes, sure.

[2020-11-11 14:52] kwalrath commented on #2617
How about https://dart.dev/tutorials/server/cmdline?

[2020-11-11 20:53] kwalrath opened #2745 "Create page for /go/unsound-null-safety"
Details at https://github.com/dart-lang/sdk/issues/44149#issuecomment-725653524.

We could start with just a pointer to the migration page if necessary, changing the redirect to point to the new page asap.

UPDATE: #2752 created the go link, which currently points to https://github.com/flutter/flutter/wiki/Experimenting-with-null-safety-in-Flutter#unsound-null-safety. The next step is to create a

[2020-11-11 22:13] kevmoo opened #2746 "'Null safety: frequently asked questions' page issue"
Page URL: https://dart.dev/null-safety/faq.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/null-safety/faq.md

Move the section on `pkg:ffi` to the bottom – likely not super relevant to most external developers

[2020-11-12 01:29] munificent opened #2748 ""Mixed-mode" -> "Mixed-version""
The [in-progress null safety migration docs](https://kw-www-dartlang-1.firebaseapp.com/guides/language/evolution#mixed-mode-programs) use "mixed-mode" to refer to a Dart program that contains some opted in and some opted out libraries. That term is kind of confusing because "mode" sounds like a way to *run* a program (think "debug mode" or "release mode") but "mixed-mode" describes the program its

[2020-11-12 01:30] munificent commented on #2748
Tying all the threads together: https://github.com/dart-lang/sdk/issues/44149

[2020-11-12 02:45] kwalrath commented on #2748
Sounds good!

I'll be happy to make all the changes for dart.dev.

[2020-11-12 03:02] kwalrath commented on #2748
@ryanmcginnis fyi. The FAQ uses _mixed-mode_  in one paragraph, and I'm fixing that now. (It doesn't use _partial null safety._) We might want to update the internal FAQ to match, so we don't accidentally regress in the future.

[2020-11-12 04:29] micpap25 commented on #1432
It looks like this page doesn't exist anymore, and I can't find this line of text anywhere on the website. I think this can be closed.

[2020-11-12 10:58] firefox360 opened #2751 "Conditional Exports Dart 2"
Hi there,

I saw a lot of people asking questions about conditional exports in dart 2. I found out, Dart 2 does not support conditional exports the way it was supported in dart 1. The only condition now is based on dart.library,*!

But our project has a login screen and instead of using if-else conditions in one code base we wanted to use dependancy injection to load a specific export of the login

[2020-11-12 13:51] mit-mit commented on #2748
Adding a go link in https://github.com/dart-lang/site-www/pull/2752. For now pointing it at the wiki, but once we land this new page about mix version / unsound null safety, we should update that go link to point to it.

[2020-11-12 14:21] brittafi commented on #2746
Hi, as a beginner to contributing I'd like to do this. Thanks!

[2020-11-12 15:38] ryanmcginnis commented on #2748
@kwalrath thanks! i've updated the internal FAQ.

[2020-11-12 17:34] kwalrath commented on #1432
Thanks, @micpap25!

[2020-11-12 17:34] #1432 closed

[2020-11-12 17:38] munificent commented on #2748
Thanks!

[2020-11-12 17:40] kwalrath commented on #1432
I was curious, so I looked up where this page is on the 404 list. It's the 5th highest 404 over the past 30 days (the top 5 are all obsolete articles), with an average of one lookup per day. Stack Overflow and google are the highest sources of referrals, by far.

[2020-11-12 17:43] kwalrath commented on #2746
It is your, @brittafi. Thank you for volunteering!

[2020-11-12 17:48] kwalrath commented on #2751
As a programming question, this is a good candidate for asking the [community](https://dart.dev/community#join-the-conversation) — maybe StackOverflow? When you get an answer, if it's appropriate for the Dart docs, could you please file an issue or PR with specific improvements we should make? (If it's a Flutter-specific answer, then https://github.com/flutter/website is the right place for the is

[2020-11-12 17:48] #2751 closed

[2020-11-13 05:54] arcticfox1919 opened #2755 "">>>" operator is not supported"
![](https://github.com/arcticfox1919/ImageHosting/blob/master/2020-11-13-002.png?raw=true)

I see the ">>>" operator in the document, but I get an error when I use it. Is this an oversight of the document?

![](https://github.com/arcticfox1919/ImageHosting/blob/master/2020-11-13-003.png?raw=true)

[2020-11-13 07:52] firefox360 commented on #2751
The issue is you disabled the conditional exports, where it was available in Dart 1. Please make it available again :)

[2020-11-13 17:12] kwalrath commented on #2746
Fixed by #2756

[2020-11-13 17:12] #2746 closed

[2020-11-13 17:19] kwalrath commented on #2751
Ah, that would be an issue for https://github.com/dart-lang/language. :)

[2020-11-13 17:32] kwalrath commented on #2755
Oh interesting! I see the operator in the spec, but num, int, and double don't seem to implement it. I suspect it's available for specialized number classes.

/cc @lrhn for guidance on how to cover this in the language tour

[2020-11-14 04:43] micpap25 commented on #2228
The current version of the Language Tour uses the former to introduce `extends` and the latter to introduce `@override`. I don't think this needs to be condensed or changed, and perhaps this can be closed.

[2020-11-14 04:45] micpap25 commented on #2138
`lint` has been changed to `info` in these examples, making it explicit that these are the descriptions given by the analyzer. I think this can be closed.

[2020-11-15 17:14] micpap25 commented on #2077
I feel like the existence of this issue contradicts #2091 and might be confusing for people looking through the issues. I think this can be closed and the importance of #2091 be stressed.

[2020-11-15 17:17] micpap25 commented on #1935
Is this still an issue? The email hasn't changed from `conduct@dartlang.org`. This could be closed.

[2020-11-15 17:24] chalin commented on #1935
You're right that conduct@dartlang.org is still active (I just tested it). It's more a question of whether it _should_ be updated to refer to dart.dev, which might happen eventually (I can understand that it's low priority). Is there an urgency to close this issue? Cheers

[2020-11-15 17:35] micpap25 commented on #1935
It seems like a very easy fix, I could do it. But I agree, I'll defer to someone who maintains the repo regarding whether this should be updated.

[2020-11-16 10:39] lrhn commented on #2755
The `>>>` operator is not implemented yet. It's been specified since before 2.0, but implementing it hasn't been a priority yet.
So, nobody can use it. I hope it will be implemented *real soon now*.

When we introduce it into the implementations, then we will probably also add a `>>>` operator to the `int` class.

[2020-11-16 11:52] dcharkes opened #2762 "Document preference of placement of consts"
Would it be useful to make Effective Dart opinionated on the placement of constants?

@cskau-g and I identified two types of common constants:

1. Non-reusable constants
2. Reusable constants

Non-reusable constants are often separated out from a function, but only used in that function. Moving the constant outside the function creates a smaller function body. However, it makes the constant availa

[2020-11-16 19:35] kwalrath commented on #2077
Even with a glossary, it's still a good idea to define acronyms before using them. I'm going to leave this issue open, since even if we have a glossary, we'll still need to define the acronyms (or at least link to the glossary).

[2020-11-16 19:39] kwalrath commented on #2755
We might want to mention somewhere that `>>>` isn't implemented, probably in https://dart.dev/guides/language/language-tour#bitwise-and-shift-operators.

[2020-11-16 19:49] #2241 closed

[2020-11-16 19:51] #2116 closed

[2020-11-16 19:52] kwalrath commented on #2762
@munificent what do you say?

[2020-11-16 19:54] kwalrath commented on #2748
I believe I've fixed this everywhere.

[2020-11-16 19:54] #2748 closed

[2020-11-17 17:35] Dimibe opened #2763 "'Understanding null safety' page issue"
Page URL: https://dart.dev/null-safety/understanding-null-safety/
Page source: https://github.com/dart-lang/site-www/tree/master/src/null-safety/understanding-null-safety/index.md

Description of issue:
In the part [nullability-and-generics](https://dart.dev/null-safety/understanding-null-safety#nullability-and-generics) is the the following example:

[code]
and the after that the statement "Note

[2020-11-18 16:28] kwalrath opened #2766 "Move per-library language version selection doc to unsound null safety page"
There's no need for people to use per-library version selection except in the context of incremental null safety migration, so we should probably move the doc from https://dart.dev/guides/language/evolution#per-library-language-version-selection to the soon-to-exist /null-safety/unsound-null-safety page.

Suggested in  https://github.com/dart-lang/site-www/pull/2764#issuecomment-729627739

[2020-11-18 18:54] kwalrath opened #2767 "Add `required` to /null-safety"
Noticed while working on #2739

[2020-11-18 21:49] kwalrath commented on #2695
@munificent I never got to this. Do you think you could add a bit about abstract fields to https://dart.dev/null-safety/understanding-null-safety, so I can point to that from other places? Or maybe you could feed me some words, and I'll figure out a reasonable place to plop them for now?

[2020-11-19 12:58] #2540 closed

[2020-11-19 17:17] kwalrath commented on #2745
Fixed by #2764

[2020-11-19 17:18] #2745 closed

[2020-11-19 17:19] kwalrath commented on #2730
Fixed by #2737.

[2020-11-19 17:19] #2730 closed

[2020-11-19 17:21] kwalrath commented on #2554
Done! We probably want to move the Per-library language version selection section out of the evolution page, but that's tracked by #2766.

[2020-11-19 17:21] #2554 closed

[2020-11-19 23:37] timsneath opened #2776 "Migrating package examples"
## Page

https://dart.dev/tools/pub/create-packages (new section)

## Notes

One note from my last-mile experience: there's no mention in the docs about migrating examples / samples, yet they're quite likely to have a separate `pubspec.yaml`.

That introduces a number of (unanswered) questions. For example, what if an example doesn't have all its dependencies migrated? Is it better to not start th

[2020-11-19 23:57] kwalrath commented on #2138
We could be clearer, though — especially now that the lint boxes have turned into gray boxes, for some reason. The line # looks wrong in the lint messages, too.

Another problem is that these examples are so long that they push the description of what the page covers ("This document explains...") down beyond the first windowful.

Maybe we could just have a screenshot of analytics output? Or we cou

[2020-11-19 23:58] #2627 closed

[2020-11-20 00:30] kevmoo commented on #2776
We absolutely want to make sure the example still runs.

The only way to do that (without requiring a user to pass flags) is to have the example flagged with `// @dart=2.9`

Either way, we should tell folks to migrate their examples, but if they cannot be run strongly, the example should have some screaming comments at the top telling folks such

[2020-11-20 00:30] kwalrath opened #2777 "Migrate from .packages to package_config.json"
Per https://github.com/dart-lang/pub/issues/2756, the `.packages` file is being replaced by `.dart_tool/package_config.json`. The docs should be updated to reflect this.

Spec: https://github.com/dart-lang/language/blob/master/accepted/future-releases/language-versioning/package-config-file-v2.md

Affected files:
src/_includes/packages-dir.html
src/tools/pub/versioning.md
src/tools/pub/cmd/pub-upg

[2020-11-20 01:34] alecpedigree4 opened #2778 "Issue 1"
Hello

[2020-11-20 02:46] alecpedigree4 commented on #2778
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.37.0/install.sh | bash

[2020-11-20 16:50] #2778 closed

[2020-11-20 22:49] kwalrath commented on #2088
Closing this because we don't plan to add icons to the dart.dev sidenav

[2020-11-20 22:49] #2088 closed

[2020-11-20 22:54] kwalrath commented on #1955
Moving to flutter/website, since I believe that https://flutter.dev/docs/development/platform-integration/c-interop should use "C interop", to match what you see at https://dart.dev/guides/libraries/c-interop

[2020-11-20 22:58] #1955 closed

[2020-11-21 03:42] micpap25 commented on #2268
Looks like this issue was fixed with this merged, we can close this.

[2020-11-21 19:17] kwalrath commented on #2268
True. Thanks, @micpap25!

[2020-11-21 19:17] #2268 closed

[2020-11-26 23:32] jamesderlin commented on #2493
The language tour does state:

But this isn't quite accurate and seems somewhat misleading since it doesn't really have anything to do with the variable being `final` or not.

[2020-12-01 06:20] jmewes opened #2783 "Remove link to deprecated Atom plugin"
The following page refers to the deprecated [dart-atom](https://github.com/dart-atom/dart) plugin:

https://dart.dev/tools#ides-and-editors

I'd say the Dart website should not link to deprecated plugins.

[2020-12-01 17:58] kwalrath commented on #2783
Thanks for the report; I'll look into this.

[2020-12-01 19:01] kwalrath opened #2784 "Update dart:ffi note"
https://dart.dev/guides/libraries/c-interop says "As of Dart 2.7, dart:ffi is in beta". Update the version, at least. The status still seems accurate, based on the link.

UPDATE: I've updated the version to 2.10, but we'll need to update the version note in future releases.

[2020-12-01 19:28] mit-mit commented on #2784
Yes, still in beta (for a little bit longer; a few last changes coming through). But yes, should say "as of Dart 2.10".

[2020-12-01 23:18] #2783 closed

[2020-12-01 23:26] #2740 closed

[2020-12-01 23:28] kwalrath commented on #1935
I expect @mit-mit to update us soon on the feasibility of changing the addresses from dartlang.org to dart.dev.

[2020-12-03 17:46] kwalrath commented on #2788
Closing in favor of #2695, which @munificent has agreed to work on.

[2020-12-03 17:46] #2788 closed

[2020-12-03 18:26] KevinRohn commented on #2617
Hi @kwalrath

I would like to start contributing to the [pub tool](https://dart.dev/tools/pub/cmd) sites. I took a look at the website [pub outdated] (https://dart.dev/tools/pub/cmd/pub-outdated) and have some open questions.

1.) What should I do if a command output suggests using another command with the deprecated syntax?

For example:
[code]
Should I open an issue to fix the static output info

[2020-12-03 18:49] kwalrath commented on #2617
Great! I'll assign `pub outdated` to you.

Yes, exactly. Please file an issue (or make sure an issue has already been filed) at https://github.com/dart-lang/sdk/issues.

Let's still call it the _pub tool_. Only the syntax has changed.

[2020-12-04 01:19] leafpetersen commented on #2695
Any progress on this?

[2020-12-05 00:08] kwalrath commented on #2445
Marking this p2 because Effective Dart often lags a bit... but I'd love to have this ready for the stable release.

[2020-12-05 10:09] #2343 closed

[2020-12-06 12:06] emilieroberts opened #2790 "Code sample needs format/description improvements"
The code sample for [Do Annotate When Dart Infers The Wrong Type](https://dart.dev/guides/language/effective-dart/design#do-annotate-when-dart-infers-the-wrong-type) has the same code sample twice, once with green "do", and the second with grey. It follows a long list of green "dos" and red "don'ts" so it is confusing because the code is identical.

![Screenshot 2020-12-06 at 1 05 50 PM](https://u

[2020-12-06 21:59] KevinRohn commented on #2617
Hi @kwalrath,

I think you assigned an wrong user to the task. :)

[2020-12-07 16:59] kwalrath commented on #2617
Oops! Fixed.

[2020-12-07 17:06] KevinRohn commented on #2617
Hi @kwalrath

if the first review is good enough let me know then I could also work on the other 'pub tool' commands.

[2020-12-07 17:08] kwalrath commented on #2617
Wonderful, will do!

On Mon, Dec 7, 2020 at 9:06 AM KevinR <notifications@github.com> wrote:

[2020-12-07 17:24] KevinRohn commented on #2617
Ok, I checked the tasks, and for now you can assign following sites to me:

`src/tools/pub/cmd/pub-upgrade.md`
`src/tools/pub/cmd/pub-cache.md` (it's not on the list yet)
`src/tools/pub/cmd/pub-get.md`

The other `pub tool` commands requires more time to test all the commands.
I would like to do them step by step, after the above list.

[2020-12-07 17:35] KevinRohn commented on #2617
While checking the list I also noticed that the following entries are missing in the task list, but they are available on the `pub tools` site and the old syntax is still used there.
`[src/tools/pub/cmd/pub-cache.md](https://github.com/dart-lang/site-www/blob/master/src/tools/pub/cmd/pub-cache.md)`
`[src/tools/pub/cmd/pub-lish.md.md](https://github.com/dart-lang/site-www/blob/master/src/tools/pub/

[2020-12-08 04:35] Abhishek01039 commented on #2790
@emilieroberts
Please see
``` num highest = 0;```
 and ```var highest = 0;```
It is different in both examples.

Thanks

[2020-12-08 10:48] emilieroberts commented on #2790
Wow, ok, that is really not clear. Maybe this could be improved in the
following ways:
- fix the box formatting so it says "don't" and is red like the other code
samples
- mention in the proceeding paragraph what the dev is supposed to be
looking for, eg. "notice the type of the variable 'highest' in the
following sample"
- and/or use colour to highlight the important line or "var/num"
declaration

[2020-12-08 15:08] shubhanshu02 commented on #2617
Hi, @kwalrath! Yesterday, I was going through the web tutorial and tested it with the new dart tool. Can you assign me this [page](https://dart.dev/tutorials/web/get-started)?
File: `src/_tutorials/web/get-started.md`

[2020-12-09 01:35] kwalrath commented on #2617
Done! Thank you, @shubhanshu02!

[2020-12-13 00:53] Amirnateghi1 opened #2796 "'Code of conduct' page issue"
Page URL: https://dart.dev/code-of-conduct.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/code-of-conduct.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-12-13 04:14] NinaPacifier commented on #2657
@BerlinLion May I work on this issue???

[2020-12-13 04:20] NinaPacifier commented on #2502
Hey, @kwalrath  May I work on this issue???

[2020-12-13 04:24] NinaPacifier commented on #2414
@kwalrath Dark mode seems an interesting feature for me. Can I take this issue??

[2020-12-13 07:20] noamraph opened #2797 "'Unsound null safety' page issue"
Page URL: https://dart.dev/null-safety/unsound-null-safety.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/null-safety/unsound-null-safety.md

Description of issue:

I tried to create a simple flutter app with null safety, using a legacy library (shared_preferences). I got an error, that referred me to this page. However, it was unclear to me what I should do. Adding the `-

[2020-12-13 09:48] aliyazdi75 opened #2798 "'List' is deprecated and shouldn't be used."
I know we can use `<String>[]` instead of using `List<String>`, but how to use `List<String>(length)`?
as [doc](https://dart.dev/guides/language/effective-dart/usage#do-use-collection-literals-when-possible) says:

[2020-12-13 16:27] SebastianJL opened #2799 "'Null safety: frequently asked questions' page issue"
Page URL: https://dart.dev/null-safety/faq.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/null-safety/faq.md

Description of issue:
I was just wondering about the following point:

From my point of understanding this should be changed to something like this:

The argument being, that in multithreaded code the code snippet as present in the FAQ now could actually fail with

[2020-12-14 06:11] #2798 closed

[2020-12-14 18:48] NinaPacifier commented on #2799
@SebastianJL I am new to open source. May I work on this issue??

[2020-12-14 18:53] NinaPacifier commented on #2796
@Amirnateghi1 I am new to the open-source contribution. May I work on this issue???

[2020-12-14 19:19] kwalrath commented on #2414
Go for it!

[2020-12-14 19:23] kwalrath commented on #2657
@NinaPacifier thank you for volunteering! I'm assigning this to you. This page has been updated recently, so this issue might not even be an issue any more.

[2020-12-14 19:26] kwalrath commented on #2796
I'm closing this, due to the lack of description. @Amirnateghi1 if you unintentionally left it blank, please update this issue and I'll reopen it.

[2020-12-14 19:26] #2796 closed

[2020-12-14 19:27] kwalrath commented on #2799
This content is from an internal FAQ, so I need to get a call from them. @ryanmcginnis, would you be able to follow up?

[2020-12-14 19:28] ryanmcginnis commented on #2799
hey @davidmorgan WDYT?

[2020-12-15 09:53] davidmorgan commented on #2799
Thanks for the suggestion Sebastian!

But actually that's not needed in Dart, which uses `async`/`await` for code that would be multithreaded code in other languages. Because there is no `async` code in the snippet, it's not possible for the map to change.

[2020-12-15 22:39] #2797 closed

[2020-12-16 06:00] maiermic opened #2807 "Simplify TypeScript example on Dart home page"
The TypeScript example of the section "Optimized for UI" is unnecessary verbose and thereby not a fair comparison IMO
![screenshot](https://user-images.githubusercontent.com/8530117/102309952-41536600-3f6a-11eb-85b3-494de5f21dce.png)

In the Dart example, the visibility modifier and return type of `toString` are omitted. This should be done in the TypeScript example, too. Further, an expression ca

[2020-12-16 19:04] kwalrath commented on #2807
@mit-mit what do you think? We might need some designer help updating the figure, so we might want to make any other homepage changes we're considering at the same time.

[2020-12-16 21:30] munificent commented on #1017
I removed the "EffectiveDart" tag because I think this is too deep of an issue to fit into the guidelines. I think it worth having a doc somewhere that explains how covariant generics work including the consequence of contravariance like the issue here. Over the long term, I would love to move away from unsound covariance in general once we have @eernstg's variance annotations.

[2020-12-16 23:28] munificent commented on #2762
We have generally stayed away from mandating an ordering in "Effective Dart" because it gets complicated really quickly. Should a getter be next to its backing field, or with other getters? Should private members be together regardless of what kind they are, or should members be grouped by kind first and then privacy? Are static members separated from instance members? Overrides? Abstract members?

[2020-12-16 23:28] #2762 closed

[2020-12-16 23:29] munificent commented on #2790
Duplicate of #2132.

[2020-12-16 23:29] #2790 closed

[2020-12-16 23:32] munificent commented on #2496
Note that we intent to make [the corresponding lint](https://dart-lang.github.io/linter/lints/prefer_relative_imports.html) be enabled in the default recommended set, so "Effective Dart" should align with that too.

[2020-12-17 00:25] #2620 closed

[2020-12-17 16:53] kwalrath opened #2812 "Remove link to sdk/.../GENERIC_METHODS.md"
Per https://github.com/dart-lang/language/issues/1372#issuecomment-746656045, the language tour shouldn't link to this doc.

[2020-12-17 16:57] kwalrath commented on #2502
Looks like this was fixed by https://github.com/dart-lang/site-shared/pull/120.

[2020-12-17 16:57] #2502 closed

[2020-12-17 18:22] SebastianJL commented on #2799
@davidmorgan

Yes, but I think the unsuspecting user might still use this in async code, as the faq is written for null safety issues and isn't focused on sync code. May I sugest adding a note about async code with my suggested code example?

[2020-12-17 18:32] SebastianJL commented on #2799
Isn't something like this conceiveable?

[code]

Or is my example to contreived?

[2020-12-17 21:35] #1101 closed

[2020-12-17 21:36] #1078 closed

[2020-12-17 23:05] kwalrath opened #2814 "'What’s new' page issue"
Page URL: https://dart.dev/guides/whats-new
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/whats-new.md

Don't forget to add https://dart.dev/dart-team-packages.

[2020-12-18 08:25] davidmorgan commented on #2799
Yes, your example has a race condition if the map is updated elsewhere.

That applies to any Dart code, though; I'm not sure we need to call it out here.

That said, the example is already a bit contrived and could maybe be improved. Most often what you actually want is just:

[code]

and you'll only occasionally want to add an explicit check for the null. How about we change the whole thing to:

[2020-12-18 16:31] srLitem commented on #2119
Hello @kwalrath!
I was curious if there is anything else that needs to be done regarding this issue.

[2020-12-18 20:04] SebastianJL commented on #2799
Would be fine by me.

[2020-12-19 09:06] Amirnateghi1 commented on #2796
Spring Boots

[2020-12-19 09:07] alecpedigree4 commented on #2796
$i

On Sat, Dec 19, 2020 at 4:06 AM Amirnateghi1 <notifications@github.com>
wrote:

[2020-12-21 18:17] shubhanshu02 commented on #2617
Hi @kwalrath! Can you assign me some more pages?

[2020-12-21 18:33] SebastianJL commented on #2799
@davidmorgan
I added a pull request with your proposed changes. Please accept or close.

[2020-12-23 03:12] surda19-jin opened #2821 "What the holly"

[2020-12-24 18:45] syncing0x opened #2822 "'Dart DevTools' page issue"
Page URL: https://dart.dev/tools/dart-devtools.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/dart-devtools.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2020-12-25 00:36] marcosrgdev commented on #2821
Any ideas?

[2020-12-28 05:35] syncing0x commented on #2822
http://167.99.78.116/transaction/BC120D0648E0A15D19137454C64E555C4047EB06D26198A5865BC5AB42E7C5CF

[2020-12-29 00:41] syncing0x commented on #2822
Duplicate of #

[2020-12-29 19:50] sachin-cpp commented on #2617
Hi @kwalrath ! I am a new contributor here. Can I work on [src/_guides](https://github.com/dart-lang/site-www/tree/master/src/_guides) ?

[2020-12-31 22:58] syncing0x opened #2828 "dart-lang/https://www.xinren.io"

[2021-01-02 02:39] syncing0x opened #2829 "https://renproject.io/developers"

[2021-01-02 20:52] DanTup opened #2830 "Clarify docs: "Switch statements in Dart are intended for limited circumstances, such as in interpreters or scanners""
This came up [on reddit](https://www.reddit.com/r/dartlang/comments/kovzd3/why_switch_statements_in_dart_are_intended_for/). The [language tour says about switch statements](https://dart.dev/guides/language/language-tour#switch-and-case):

It's not very clear what this means. Should they be avoided? If so, what is the actual reason (and could it be explained on the site)? What's special about inte

[2021-01-04 10:27] Dxree commented on #2814
Hey @kwalrath, I know you assigned yourself to the issue, but if you do want to turn it in, I could take care of it.
I would just need a quick info where I should add the missing resource in the page.

[2021-01-04 19:36] Hesamedin opened #2831 "Is the lib directory excluded by the analyzer per 'Customizing static analysis'"
Page URL: https://dart.dev/guides/language/analysis-options
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/analysis-options.md

Description of issue:
`lib/` is part of the path to the file that is going to be excluded according to your doc at [here](https://dart.dev/guides/language/analysis-options#excluding-files). However, I realized that my folder is still v

[2021-01-05 19:28] kwalrath commented on #2821
😆  maybe another time...

[2021-01-05 19:28] #2821 closed

[2021-01-05 19:40] kwalrath commented on #2830
I don't recall the history of this, but a little sleuthing shows that I made the change (as a set of post-1.0 language changes) and Gilad Bracha reviewed it: https://chromiumcodereview.appspot.com/757003003.

@lrhn or @leafpetersen can you provide any guidance?

[2021-01-05 20:13] kwalrath commented on #2831
@pq or @devoncarew, I believe @Hesamedin, but is that really the way `analyzer: exclude:` is supposed to work? It's counterintuitive to include `test/` but not include `lib/`. Should anything else change in this doc?

Affected doc section: [Excluding files](https://dart.dev/guides/language/analysis-options#excluding-files).

[2021-01-05 20:17] kwalrath commented on #2814
Thanks @Dxree! I think it should go in a new section at the top called something like "Changes after 2.10". (We'd presumably change the title and its description after our next stable release.) We'd also need to delete `toc: false` from the top of the file.

[2021-01-05 20:33] #2799 closed

[2021-01-05 20:57] kwalrath commented on #2119
@srLitem thanks for asking! I suspect we do still need to do something, especially since we now have 46 occurrences of TODO in code (up from 39). Are you willing to do a review similar to the one @lenniezelk did?

[2021-01-05 23:40] #2377 closed

[2021-01-06 00:52] #2812 closed

[2021-01-06 01:05] kwalrath commented on #2617
You picked the hardest one to work on (/guides/packages) 😄 . But I'll assign all 4 of the /guides pages to you — the other 3 should be much easier!

[2021-01-06 01:18] kwalrath commented on #2617
How about src/_tutorials/libraries/shared-pkgs.md? If there are any others you'd like to do, let me know. (I'm back from vacation, so I'll be more responsive now. :)

[2021-01-06 01:21] kwalrath commented on #2695
@leafpetersen could you ask @munificent the next time you're in the same (virtual) room?

[2021-01-06 12:41] lrhn commented on #2830
Gilad did not like switch statements. I think that's the entirety of the story.
The phrase also occurs in the language specification:

I understand that switch statements are often considered "dirty" in object oriented language (you should just have a method on the object and call that instead, internal dispatch instead of external switching). That does require a class per object you want to recog

[2021-01-06 13:49] Cat-sushi opened #2837 "FAQ (null safety) should mention `growable` optional parameter for `List.generate()`"
With my understanding, `List<int>(10)` generates a fixed length list, ~~while `List<int>.filled(10,0)` generates a growable list which is very slow with subscripting.~~
~~The page should also mention `List<int>.generate(10, generator, growable: false)` replacing `List<int>(10)` in some case.~~
We sometime have to migrate unnamed `List` constructor to `generate()` to avoid initialize members twice.

[2021-01-06 15:15] pq commented on #2831
Hmmm.  I agree that  it feels odd but `lib` is kind of special and think we probably want to just update the docs to capture the gotcha.

fyi @bwilkerson who might be interested.

[2021-01-06 15:57] bwilkerson commented on #2831
I was unaware that `lib` was being handles differently, and I don't believe that it should be. We've had a fairly large number of reports claiming that `exclude` wasn't working; I'm wondering now how many of those cases were a result of this bug.

I think that we should
- fix the bug and require `lib` to be included,
- add a warning when a glob pattern doesn't match any paths in the directory stru

[2021-01-06 16:57] devoncarew commented on #2831
I was unaware of this a well. Are we definitely doing this? A very casual perusal of pkg/analysis_server/lib/src/context_manager.dart and pkg/analyzer/lib/src/source/path_filter.dart doesn't turn up any `lib/` hardcoding.

[2021-01-06 17:16] kwalrath commented on #2830
Thanks, @lrhn and @DanTup!

[2021-01-06 17:20] pq commented on #2831
🤔

hrmmm.  Not sure what I was thinking about but will dig a little and if I come up with anything will report back.  Sorry for possibly muddying the waters!

[2021-01-06 17:21] #2830 closed

[2021-01-06 17:22] DanTup commented on #2830
Great, thanks!

[2021-01-06 17:23] kwalrath commented on #2837
Thanks for the suggestions, @Cat-sushi!

@davidmorgan, what do you say?

/cc @ryanmcginnis

[2021-01-06 19:10] shubhanshu02 commented on #2617
@kwalrath Ya, I'm good with that. I've nearly completed the changes and will make a PR in a few minutes. Any other file I could help with?

[2021-01-07 07:32] woinbo commented on #469
Is this issue still open? Can I work on this issue, this will be my 1st open source contribution.

[2021-01-07 15:03] davidmorgan commented on #2837
Hmm, it looks to me like `List.filled` defaults to `growable: false` which makes it equivalent

https://api.dart.dev/stable/2.10.4/dart-core/List/List.filled.html

[2021-01-07 18:24] kwalrath commented on #469
It looks like this was fixed in #2688. Thanks for asking!

[2021-01-07 18:24] #469 closed

[2021-01-07 18:44] woinbo commented on #469
Hello @kwalrath, I want to contribute to the flutter and dart I'm not getting from where should I start can you guide me as this is going to be my 1st contribution. I'm working on flutter and dart for about 1 year.

Thank you

[2021-01-07 21:01] kwalrath commented on #469
That's great! I'll look out for a bug for you — maybe part of #2617 — but in the meantime, if you notice any issues with a dart.dev page (small things like typos are easiest to start with), you can click the page (📄)  link at the upper right of the page, then edit the page using the GitHub UI.

[2021-01-07 23:24] kwalrath commented on #469
@woinbo, I've assigned src/tools/dart-devtools.md (from #2617) to you. Does that work for you?

[2021-01-07 23:26] kwalrath commented on #2617
I've assigned src/tools/dart-devtools.md to @woinbo for an introductory PR.

[2021-01-08 00:17] kwalrath commented on #2617
@shubhanshu02 how about src/_tutorials/server/httpserver.md next?

[2021-01-08 01:41] woinbo commented on #469
Yup that's perfect for me , let me work on this issue. Thank you

[2021-01-08 02:23] Cat-sushi commented on #2837
Sorry, I misunderstood.
`filled()` creates fixed length lists.

 `generate()` create growable lists, anyway.
It is confusing, and I fell into the trap.

[2021-01-08 02:30] woinbo commented on #2617
@kwalrath Thank you for this, let me start working on it.

[2021-01-08 03:08] woinbo commented on #2617
Hello @kwalrath, actually being my 1st open-source contribution I am not getting exactly what I have to do in this file src/tools/dart-devtools.md

[2021-01-08 03:28] woinbo commented on #2617
@kwalrath I have created a pull request. Kindly check it, please 😊 #2841

[2021-01-08 03:40] woinbo commented on #2119
@kwalrath, as @srLitem didn't reply, may I work on this TODO issue.

[2021-01-08 03:50] Abhishek01039 commented on #2617
Hello @kwalrath
Can you please assign `src/tools/pub/cmd/pub-global.md` to me?
Thanks

[2021-01-08 03:56] woinbo commented on #1073
You can add path your-self by editing environment variable in your operating system setting

STEPS TO ADD PATH: (In windows)

NOTE: make sure you have downloaded dart-SDK on your pc

STEP1: Press windows key then type env, you will see edit environment variable option, click and open it
STEP2: In the newly opened window you will find Path as variable select it and click on edit.
STEP3: Then add th

[2021-01-08 06:10] chethanprabhakar commented on #2617
Hello @kwalrath
Please assign `src/tools/pub/cmd/pub-downgrade.md`

[2021-01-08 23:45] kwalrath commented on #2119
Go ahead, @woinbo. I suspect @srLitem needed a response sooner than I was able to give it. :(

[2021-01-09 04:08] timsneath opened #2844 "Switch from recommending Travis"
In this document, we refer to Travis and Appveyor as our recommended solutions for GitHub CI. Now that Travis is closing down travis-ci.org, we might consider recommending GitHub Actions instead, since that's what we're using ourselves.

https://github.com/dart-lang/site-www/blob/d41a3870ed19c81c80c91a5c5a362adde304cd16/src/_guides/testing.md#L131-134

[2021-01-09 04:43] woinbo commented on #2119
Thank you @kwalrath, for assigning it to me.

[2021-01-09 05:35] woinbo commented on #2119
I have grouped the remaining TODOs in this file https://gist.github.com/woinbo/f71447550872339e51683f50bfc2d464 .
Please check it out! Anything else for me.
@kwalrath

[2021-01-11 11:11] mit-mit commented on #2807
cc @sigmundch can you comment on the TypeScript part?

@kwalrath in case we want to update, I'd just ask Jeremy to make this change.

[2021-01-11 12:12] Sameerkash commented on #2617
@kwalrath  I would like to be assigned to the last three

[2021-01-11 17:02] sigmundch commented on #2807
All the suggestions above for TypeScript are accurate:
* TypeScript members are public by default, so the public is not necessary. Private members are different (they need to be marked "private"), but those also have different semantics (TypeScript private is class private, whereas Dart `_name` are private to the library)
* The return type of the function is also inferred by typescript, just like

[2021-01-11 18:44] kwalrath commented on #2617
Do you mean  src/tools/sdk/_linux.md, _windows.md, and _mac.md? (You have access to all three?)

[2021-01-11 18:45] kwalrath commented on #2844
SGTM. @RedBrogdon wdyt?

[2021-01-11 19:05] kwalrath opened #2849 "Update /tools/pub/cmd"
The page needs to talk about the `dart` command, as well as the `flutter` command.

[2021-01-11 19:45] kwalrath commented on #2807
So, just to be sure, I should ask Jeremy to change the TypeScript code to be this:

[code]

Is that right, @sigmundch?

[2021-01-11 20:43] sigmundch commented on #2807
Either that or, if we want to declare `toString()` as a method as opposed to a property that returns a function, then we would have to write it as:

[code]

The former is more compact due to the closure syntax and type inference, but I think the latter is more idiomatic (but to be honest, I'm not completely sure)

[2021-01-11 21:23] maiermic commented on #2807
Is the goal of the comparison to show the *familiar syntax*? Does it look more familiar if it is more similar?

@sigmundch Wouldn't it be more similar if the return type of `toString` is omitted as in the Dart example? You may also add `;` after `links: number = 4` as it is in the Dart code, even though it is optional in TypeScript

**TypeScript**
[code]
**Dart** (unchanged)
[code]

You could even

[2021-01-11 22:29] woinbo commented on #2617
anything else for me @kwalrath

[2021-01-11 22:32] woinbo commented on #2617
may I work on src/tools/sdk/_windows.md i have access to windows @kwalrath

[2021-01-11 23:14] sigmundch commented on #2807
I am less informed on what is the underlying goal is, but @kwalrath should be able to answer.

My 2c, I'd like the examples to have the same semantics, and I personally prefer something that looks idiomatic in the underlying language. I think the original Dart one is the most idiomatic variant. The TS variant is not idiomatic as @maiermic initially pointed out.

I believe the method syntax is more

[2021-01-11 23:15] sigmundch commented on #2807
I agree :) - sorry forgot to say that in my last post.

[2021-01-12 01:41] Sameerkash commented on #2617
Yes @kwalrath , okay you can assign me mac for now since I have primary access to it. Although I had windows +WSL2 and would probably have it back in some time.

But you can go ahead and assign it to @woinbo

[2021-01-12 07:38] maiermic commented on #2807
@sigmundch The return type of `toString()` is inferred as `string` in TypeScript 4.1.3 ([Playground](https://www.typescriptlang.org/play?ssl=1&ssc=1&pln=7&pc=43#code/MYGwhgzhAEDKCmBzAtvAdgF2gbwFDQOhAEs0BrCALmjQFdkAjeAJ2gF5oAWAbn0IwD2sDM1KIAFAEoc0ZvAy1maaAAMAktAAWYAG7xoAEmwZNxCADoS5CAF8ipCiu7QbuV7gAm8UGDnRgAmgQWBBIqJjUCCjoGLgBQVgAZgIC1FLsAHw09EysHKHRmOaCwqJoiEA))

[code]

[2021-01-12 07:49] maiermic commented on #2807
By the way, you may omit the type of `links`, since it is inferred, too (see [Playground](https://www.typescriptlang.org/play?ts=4.1.3&ssl=1&ssc=1&pln=9&pc=53#code/MYGwhgzhAEDKCmBzAtvAdgF2gbwFDQOhAEs0BrGAXmgBYBufQjAe1gwCdTEAKASh2jt4GAK7s00AAYBJaAAswAN3jQAJNgxziEAHQlyEAL5FSFSXWiHcV3ABN4oMEOjBmaCFghJUmAFxxvdAxcLxQgvVMqaAByUkUwEltoeJAReGjcAHpM6AA9LJyAFQBPAAcVaI9ONERo6G1oNGYsSAhiRDQwACMQFRZoDDKKtBFkLv

[2021-01-12 17:38] kwalrath commented on #2617
@Sameerkash you have _mac.md, and @woinbo you have _windows.md. Thank you!

[2021-01-12 17:42] woinbo commented on #2119
@kwalrath can you check this one too..

[2021-01-12 17:48] kwalrath commented on #2119
Your groupings look great, @woinbo. Could you please file the issues and then create one or more PRs to add the relevant issue URL/number next to each TODO in the source code? Thank you!

[2021-01-12 17:51] woinbo commented on #2119
Hello @kwalrath, changes are to be done in the grouping (gist) file or in the main site-www source code. Thank you!

[2021-01-12 17:55] kwalrath commented on #2119
The gist is just a planning doc. We need issues on the site-www tracker, and references to those issues in the site-www source code.

[2021-01-12 17:57] woinbo commented on #2119
ok, sure I will do it. Thank you @kwalrath, could you also review my PR #2841

[2021-01-12 18:37] #2605 closed

[2021-01-12 18:42] kwalrath opened #2851 "Recommend best practices for package README.md files"
Related: https://github.com/dart-lang/stagehand/issues/683

Package READMEs often serve triple duty, as API homepages, pub.dev homepages, and repo homepages. For example, consider, the README for the shelf package (https://github.com/dart-lang/shelf/blob/master/README.md), which is rendered in the following places:

* https://pub.dev/packages/shelf (package homepage; other tabs include Example and

[2021-01-12 18:48] kwalrath commented on #2851
General guidance for READMEs (not Dart-specific):

* The README checklist from @ddbeck: https://github.com/ddbeck/readme-checklist
* Maybe someday: https://github.com/thegooddocsproject/templates

[2021-01-12 19:46] kwalrath commented on #2851
Dart-specific guidance for READMEs:
* If the package has associated UI, include a screenshot.
* Use absolute URLs for links, images, etc., so that they'll work no matter where the README is published.

[2021-01-12 21:13] filiph commented on #2851
Additional guidance (totally optional):

* spend some time on the short description at the top of the README. It should concisely describe what the package is about, at a glance.
* screenshot is better than not, mov/gif is better than static image
* screenshot above the line (visible close to the beginning of the README
* use badges (CI/CD, coverage, etc.) to signal maintenance, stability
* use co

[2021-01-13 06:13] jayoung-lee commented on #2851
I'd also suggest authors to:
* start README with a short sentence that summarizes what the package can do
* include a "Features" section that lists key features (preferably with bullet points)
* include a "Parameters" section that lists available parameters, if applicable (preferably in tables)
* include a "Getting started" or "How to use" section, which helps users quickly understand how to use t

[2021-01-13 09:58] woinbo opened #2852 "TODO(chalin): use $site-color-codeblock-bg"
### we need to refactor these TODO's if someone interested does comment on this issue.

Find pages with TODO's, and refactor them by changing code or add new code to that file.

Here's a list of the 11 pages we should look at and eventually update (there might be more that don't show up due to improper formatting):
* Style Related
- [ ] TODO(chalin): use $site-color-codeblock-bg? [link to file](ht

[2021-01-13 10:37] woinbo commented on #2119
Hey @kwalrath, I did create issue #2852 for all the TODO' and list the files. can you please check and if anything needs to be changed do inform me.

[2021-01-13 11:16] woinbo commented on #2617
Hello @kwalrath, I did update _windows.md. Kindly check it, please. PR #2853

[2021-01-13 11:29] woinbo commented on #2617
Hello @kwalrath, I did PR #2854 for src/tools/pub/troubleshoot.md and updated this file to use new dart tool, kindly check it. Thank you!

[2021-01-13 20:56] devoncarew opened #2858 "Mention that `dart fix` debuts in 2.12"
We should update the dart cli doc page to mention `dart fix`.

[2021-01-13 21:56] kwalrath commented on #2852
Actually... What I meant was to file one issue per group of TODOs. So one issue for the style TODOs, one for the dart analyze TODOs, etc. Then create one or more PRs to point from each TODO to the relevant issue.

[2021-01-13 21:56] #2852 closed

[2021-01-14 03:29] woinbo opened #2859 "Address TODOs related to style"
TODO's related to style:

Style Related
- [ ] TODO(chalin): use $site-color-codeblock-bg? [link to file](https://github.com/dart-lang/site-www/blob/main/src/_sass/components/_code.scss#L1)
- [ ] TODO(chalin): 1.5rem; [link to file](https://github.com/dart-lang/site-www/blob/main/src/_sass/components/_code.scss#L7)
- [ ] TODO: drop once heading class styles (like .h4) are fixed. [link to file](http

[2021-01-14 03:32] woinbo opened #2860 "Address TODO related to running browser tests"
TODO's related to analyzing Dart code in the repo:

 - [x]  TODO After dart CLI ships in stable, use dart analyze for all channels. [link to file](https://github.com/dart-lang/site-www/blob/master/tool/dart_tools/bin/update_analyzer_txt.dart) (fixed by https://github.com/dart-lang/site-www/commit/1510195ad47ba2abb34f2e50d5d084eb19884ffe)

- [ ]  TODO(chalin): as of 2019/11/17, we don't need to sel

[2021-01-14 03:34] woinbo opened #2861 "Address TODOs related to regexp"
TODOs related to Regexp:

 - [ ]  TODO: maybe style special characters inside a regexp as punctuation. [link to file](https://github.com/dart-lang/site-www/blob/dd7abec8d8b31c4d8a78c7c469d3186c99d74512/src/_assets/js/vendor/code-prettify/prettify.js)

@kwalrath (#2119)

[2021-01-14 03:38] woinbo opened #2862 "Address TODOs related to versions"
### we need to refactor these TODO's if someone interested does comment on this issue. These issues are realated to `version`

Find pages with TODO's, and refactor them by changing code or add new code to that file.

Here's a list of the 11 pages we should look at and eventually update (there might be more that don't show up due to improper formatting):
* Version related:
 - [ ] TODO: identify ver

[2021-01-14 03:41] woinbo opened #2863 "Address TODOs in build instructions"
We have the following TODOs related to build instructions:

 - [ ]  TODO (https://github.com/dart-lang/site-www/issues/2219): Fix build instructions.[link to file](https://github.com/dart-lang/site-www/blob/master/src/_guides/libraries/c-interop.md)
- [ ] TODO: Give an example of how to deploy with Firebase, which originally was shown on [link to file](https://github.com/dart-lang/site-www/blob/ma

[2021-01-14 03:49] woinbo commented on #2852
Sorry, @kwalrath I took it wrong but I have fixed the mistake with these relevant issues #2859 #2860 #2861 #2862 #2863. I have one question what about the issues which don't lay in any category. Should I create one single issue for those?

[2021-01-14 04:12] woinbo commented on #2485
Hey @mit-mit, I read this issue and understood properly but to make things clear, exactly what is to be done is to update doc for the `never` keyword in comparison with `void`  by explaining all things about `never`. If I'm not wrong may I work on this issue and update the doc for `new`, please guide me exactly which file is to be updated in doc. Thank you!

[2021-01-14 10:16] mit-mit commented on #2485
Hi @woinbo, I'll let @kwalrath (who oversees all our docs) answer those questions

[2021-01-14 17:36] kwalrath commented on #2851
This sounds more detailed than I'm used to seeing in a README. Can you point me to an example of this? (Maybe the package API tends to reuse the same parameters in multiple places?)

[2021-01-14 17:46] kwalrath commented on #2485
@woinbo it's going to take some subtle work to make `Never` fit into the existing docs, so I'd like to do it myself but haven't found the time yet.

If you'd like to help, what I could really use is to figure out the exact places where `Never` should be discussed. (This sounds like what you asked mit to do, but the problem is that this kind of footwork takes time!)

Another way you could help migh

[2021-01-14 18:00] woinbo commented on #2485
@kwalrath example code, which describes the use of never in comparison of void, Right...?

[2021-01-14 18:35] kwalrath commented on #2852
Thank you!

One issue per category-less TODO, please. Thanks again!

[2021-01-14 18:44] kwalrath commented on #2862
Looks like these are TODOs in things we depend on... not in our source code.

[2021-01-14 18:44] #2862 closed

[2021-01-14 18:44] kwalrath commented on #2861
Looks like these TODOs are in something we depend on — not our own source code. (Sorry I didn't notice this before!)

[2021-01-14 18:44] #2861 closed

[2021-01-14 18:50] kwalrath commented on #2863
We should clarify these TODOs.

[2021-01-14 19:07] woinbo commented on #2861
No problem @kwalrath, these all activities are giving me a great experience😊.

[2021-01-14 19:35] woinbo commented on #2119
PR updating TODO's with issues number next to each TODO

#2866
#2865
#2867

[2021-01-15 01:17] jayoung-lee commented on #2851
Then it's probably because some packages visited during the recent user study were simpler than others?

Participants visited few pages that listed parameters, attributes, or properties, and they found it useful when deciding whether to test the package or not.
* https://pub.dev/packages/markdown_editable_textinput
* https://pub.dev/packages/qr_flutter
* https://pub.dev/packages/bluetooth
* https:

[2021-01-15 01:43] kwalrath commented on #2851
I took a quick look at those package pages plus the other places where their README.md is used. There are some issues with sharing the content, although not as many as I expected. Mostly the issues are with dartdoc rendering differently or not finding images because they had relative URLs. Interestingly, relative images worked on pub.dev/packages pages.

* markdown_editable_textinput
  * https://p

[2021-01-15 01:45] kwalrath commented on #2851
To be clear... I believe that of the 3 README usages, the package page is most important. It's good that if the README works in the repo, it seems highly likely to work as a package page. I'm curious how many people look at the API docs on pub.dev.

[2021-01-15 09:33] jayoung-lee commented on #2851
I agree that the package page is most important!

It seems like very small number of pub.dev visitors open API docs (`/documentation/`).
![image](https://user-images.githubusercontent.com/11873270/104707672-900f2f80-56d1-11eb-9fea-4d76b34465a8.png)

[2021-01-15 16:39] kwalrath commented on #2851
That's very good information to have! It's especially telling since there's only one URL for each package under `/packages/`, but multiple URLs under each package's `/documentation/` path (even if you only consider `/documentation/latest`).

[2021-01-16 15:46] Sameerkash commented on #2617
@kwalrath , I have some issues setting up the environment, followed all the steps for installing `nvm` and `rvm` as mentioned, but facing this error `travis_fold: command not found` when running `./tool/install.sh` and `./tool/before-install.sh  `

any pointers on what I might be doing wrong?

[2021-01-17 08:37] ucallz opened #2869 "AVOID using curly braces in interpolation when not needed. The example is wrong"
Page URL: https://dart.dev/guides/language/effective-dart/usage
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/effective-dart/usage.md

Description of issue:

https://dart.dev/guides/language/effective-dart/usage#avoid-using-curly-braces-in-interpolation-when-not-needed

The second row is wrong

[code]

[2021-01-17 15:07] Abhishek01039 commented on #2617
Hello @kwalrath
seems like  `src/tools/dart-tool.md`  is done with the new dart tool.

[2021-01-18 10:19] brainee opened #2871 "'webdev' page issue"
Page URL: https://dart.dev/tools/webdev.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/webdev.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
the following packages's versions are too old
build_runner: ^1.0.0
    build_web_compilers: ^0.4.0

it will rase up a bug

[2021-01-18 11:14] Crazywater opened #2872 "Effective Dart: Update with collection-for/if/spread operators"
The rule [CONSIDER using higher-order methods to transform a sequence](https://dart.dev/guides/language/effective-dart/usage#consider-using-higher-order-methods-to-transform-a-sequence) should probably be mention that collection-for/if/spread are fine too (or even preferred in some cases?)

[2021-01-19 18:33] kwalrath commented on #2617
@Sameerkash your problems sound familiar, although I don't think I've seen them myself. Are you using bash? I think it's easier to use with our build than zsh is, although I don't know whether that's what causing this particular issue.

[2021-01-19 18:40] bwilkerson opened #2875 "New diagnostic message documentation"
New diagnostic message documentation has been added in the sdk repo (https://dart-review.googlesource.com/c/sdk/+/179880) and is ready to be integrated into https://dart.dev/tools/diagnostic-messages.

[2021-01-19 23:56] kwalrath commented on #2869
I'm pretty sure the code is correct, but I'll let @munificent decide whether it could be better/clearer.

[2021-01-20 06:47] RandalSchwartz opened #2878 "Language tour: Anonymous Functions mistaken "statement" when meaning "return expression""
No, if the function contains only *one expression* and that expression is *being returned* as the value of the function...

Sadly, the only example uses the print() function, which returns void, and some confuse it with a statement.  This can definitely use a clean-up.

[2021-01-20 17:47] kwalrath commented on #2045
The internal doc go/dart-install has some tips we could copy. (Also, I could update it to reflect the latest channels.)

[2021-01-20 17:48] kwalrath commented on #2045
/cc @ryanmcginnis

[2021-01-20 19:09] RandalSchwartz commented on #2755
One would wonder why there isn't a matching <<< then.

[2021-01-20 19:14] RandalSchwartz commented on #2871
[code]
could be also written more simply as:
[code]

[2021-01-20 23:25] lrhn commented on #2755
There is an infinity of possible operators that we can add to the language. We can (and do) consider whether we should introduce larger regular families of operators, or just stick with the ones we have. Until such time, we'll probably only add specific operators that we actually need. The `>>>` is well-established and do we have an actual need for it. (Really, removing the `>>>` operator from the

[2021-01-21 03:53] Abhishek01039 commented on #2617
`src/tools/webdev.md` is done with this PR https://github.com/dart-lang/site-www/pull/2870.

[2021-01-21 14:20] Sameerkash commented on #2617
I'm using bash now, everything executed successfully, but still, some dart dependencies are not resolving although there's no error while doing pub get

[2021-01-22 18:00] fatiherikli opened #2882 "Internal server error when you perform GET request to the compile endpoint"
https://v1.api.dartpad.dev/api/dartservices/v2/compile

[2021-01-22 18:03] fatiherikli commented on #2882
Actually it turned out it gives an internal server error when you go to a page which does not exist

https://v1.api.dartpad.dev/foo-bar

[2021-01-22 18:03] fatiherikli commented on #2882
I'm closing the issue since this is not an issue. But **Internal Server Error** is a little bit brutal for a website of a programming language. Isn't it?

[2021-01-22 18:03] #2882 closed

[2021-01-22 21:38] woinbo commented on #2617
Hey @kwalrath, I did update src/tools/pub/cmd/pub-uploader.md PR no #2883

[2021-01-22 22:04] kwalrath commented on #2882
/cc @RedBrogdon @domesticmouse fyi

[2021-01-23 17:41] zakariaz opened #2886 "Mistake in explaining making a POST request from a standalone client in httpserver.md"
Hi,

i found a mistake in the the documentation when trying to learn dart, since i never contributed before to a project, i missed the point that i had to fill an issue first before making a pull request. So better later than never.

here is the link to the [pull request](https://github.com/zakariaz/site-www/pull/1)

Thank you for the amazing work that you are doing

[2021-01-24 14:46] legolas108 opened #2887 "Remove mention of the resource package"
Page URL: https://dart.dev/tools/pub/package-layout.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/pub/package-layout.md

"You can reference another package’s assets using the [resource package](https://github.com/dart-lang/resource)." references a deprecated package. What's the alternative replacing this package, please?

[2021-01-25 21:21] kwalrath commented on #2887
@kevmoo what should we say?

[2021-01-25 21:25] kwalrath commented on #2886
Thank you for the PR! I'll approve it once you move it over to our repo.

[2021-01-25 21:30] kevmoo commented on #2887
CC @munificent @lrhn – I don't think we HAVE a replacement. 🤷

[2021-01-25 22:54] bwilkerson commented on #2875
Should these be live on the site now, or does it take a while? I'm not seeing some of the messages that I expected to see (such as MAIN_FIRST_POSITIONAL_PARAMETER_TYPE).

[2021-01-26 00:11] kwalrath commented on #2875
They should be live now, but it looks like Travis is not cooperating. Let me follow up on this...

[2021-01-26 00:18] kwalrath commented on #2875
I tried kicking off a new build.

[2021-01-26 00:43] bwilkerson commented on #2875
Thanks!

[2021-01-26 02:59] kwalrath commented on #2875
It still hasn't started. 😭

[2021-01-26 10:36] lrhn commented on #2887
We don't. It's not really possible.

The entire idea behind storing "resources" in the `lib/` directory and accessing them using `package:` URIs is fundamentally flawed when you do AOT compiling. It refers to *source* locations, and we don't have any well-defined way to ensure that the files are even available at run-time, and if they are, no promise about where they can be found.
I'm sure we coul

[2021-01-26 22:17] zakariaz commented on #2886
You are welcome.
Merge done

[2021-01-26 23:07] kwalrath commented on #2875
Still not started... Our move to GitHub Actions can't come soon enough.

[2021-01-27 06:05] RedBrogdon commented on #2844
Sounds like a good idea to me.

[2021-01-27 18:52] kwalrath commented on #2886
Reopening (see https://github.com/zakariaz/site-www/pull/1#issuecomment-768450707).

[2021-01-27 19:03] kwalrath commented on #2887
@legolas108 thanks for the issue. Although the answer isn't the one we might have hoped for, at least we know that we should remove the reference to the `resource` package. Would you like to edit the page?

[2021-01-27 19:15] kwalrath commented on #2875
I did a manual push, and the new content is now visible on dart.dev (e.g. https://dart.dev/tools/diagnostic-messages#main_first_positional_parameter_type). 😓

[2021-01-27 19:15] #2875 closed

[2021-01-27 19:24] bwilkerson commented on #2875
Thanks!

[2021-01-28 00:03] kwalrath commented on #1789
#2889 might fix this.

[2021-01-28 18:27] #2887 closed

[2021-01-28 20:36] shubhanshu02 commented on #2617
@kwalrath I can help with the `src/tools/sdk/_linux.md`, if it is not assigned to anyone yet. I use Linux as my primary operating system.

[2021-01-28 21:59] kwalrath commented on #2617
@shubhanshu02 _linux.md is yours. Thank you!

[2021-01-29 01:56] kwalrath commented on #2617
I've updated the assignment list, and I removed some assignments from people who don't seem to be active any more.

If you'd like to talk about any of this, I'm [on Flutter's discord server](https://github.com/flutter/flutter/wiki/Chat) in the #hackers-devrel channel. (I've updated the CONTRIBUTING.md file to have the same link.)

[2021-01-29 02:46] Sameerkash commented on #2617
@kwalrath I'm not getting the packages resolved.

I don't need to do that since its just doc update right ? Can I go ahead and push it without actually building the site ?

[2021-01-29 17:01] kwalrath commented on #2617
Yes, just go ahead and push. I'll stage your changes to make sure they work.

[2021-01-29 17:59] jonasfj opened #2896 "'Verified publishers' should mention package transfer"
Page URL: https://dart.dev/tools/pub/verified-publishers.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/pub/verified-publishers.md

We should probably mention how to do package transfer.
Specifically how to change a package from being owned by uploaders to being owned by a publisher.

It might be worth another section.

[2021-01-29 20:36] kwalrath commented on #2896
Where can I find this info?

[2021-01-30 01:09] kwalrath commented on #35
`run` is no longer listed in the output of `dart pub run`, as of 2.12, so I'm going to close this issue.

[2021-01-30 01:09] #35 closed

[2021-01-30 01:19] kwalrath opened #2898 "Add pages for new pub commands"
Also, commands -> subcommands.

* Subcommands we should probably document:
  * New subcommands: add, login, remove
  * Other subcommands: logout
* Subcommands we should remove: run

2.10 stable's output from `dart help pub`:
[code]

2.12.0-133.7.beta output from the same:
[code]

[2021-01-30 01:21] kwalrath commented on #2849
Well, this got a little more involved than I expected! I filed #2898 to record issues that I'm unlikely to fix in the PR I'm preparing.

[2021-01-30 01:46] kwalrath commented on #2898
/cc @mit-mit @jonasfj @sigurdm

[2021-01-31 07:20] Sameerkash commented on #2617
@kwalrath I didn't go through the file before focusing on all of this 😅.
And now that I have, I think there are no changes to be made in `src/tools/sdk/_mac.md`, it has instructions to install dart-sdk using homebrew and no references to the dart cli tools. Hence I believe it can be safely closed.

And I've gone through `src/_includes/get-sdk.md` and has the same instructions to install `dart-sdk`

[2021-02-01 10:51] jonasfj commented on #2896
I was mostly thinking that ones a publisher has been created, it might be useful to give a hint like:
 * Transfer packages to the publisher using the admin-page for the given package:
![6zuXNpTwfED8CuJ](https://user-images.githubusercontent.com/149732/106448724-73217d00-6483-11eb-9764-a8e691911b98.png)

 * Remember to invite other members to the publisher:

![BshMF68XeT8mQoX](https://user-images.g

[2021-02-01 12:27] jonasfj commented on #2898
We should also document:
 * `dart pub upgrade --major-versions`
   * This will do a resolution of all dependencies without the upper-bound constraint.
   * Then it'll update the `pubspec.yaml` with new constraints as needed.
   * TL;DR: This gives you the same versions as is listed in "Resolvable" column of `dart pub outdated`
   * Using `dart pub upgrade --major-versions foo bar` will only attemp

[2021-02-01 17:21] srLitem commented on #2119
@kwalrath I was not able to reply during the last few weeks...Thanks, @woinbo for taking over 🔥
Let me know if there's something I can do now, I'm looking forward to contributing 😄

[2021-02-01 17:25] kwalrath commented on #2896
Cool, thanks @jonasfj!

[2021-02-01 17:51] kwalrath commented on #2617
Sounds good. @shubhanshu02 found the same for _linux.md, and it makes sense that the installation instructions are unlikely to contain references to Dart SDK commands. (When compiling that list of files, I just looked for command-line formatting, not for specific commands.)

Thanks for checking that. #2883 doesn't look related, though... Could you check the PR/issue number?

Consider them yours. T

[2021-02-01 19:01] AliAkberAakash commented on #2844
I've added a pull request for this in #2903

[2021-02-01 21:25] #2844 closed

[2021-02-02 14:28] Sameerkash commented on #2617
Hey @kwalrath,
- [x] `src/_includes/get-sdk.md` at  #2906
- [x]  `src/_guides/language/formatting.md` at  #2904
- [x] `src/_guides/packages.md` at #2905

have been updated, could you please review them?

[2021-02-02 21:48] kwalrath opened #2907 "Mention the characters package wherever String is covered"
Relevant links:
* https://pub.dev/packages/characters
* https://medium.com/dartlang/dart-string-manipulation-done-right-5abd0668ba3e
* https://github.com/dart-lang/language/issues/1428

[2021-02-03 01:34] Akmal500 opened #2908 "'Dart SDK archive' page issue"
Page URL: https://dart.dev/tools/sdk/archive/
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/sdk/archive/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-02-03 01:36] parlough commented on #2908
Could you perhaps elaborate on the issue you faced/found?

[2021-02-03 18:08] jonasfj opened #2909 "Suggest using `dart pub upgrade --null-safety`"
Page URL: https://dart.dev/null-safety/migration-guide#update-dependencies
Page source: https://github.com/dart-lang/site-www/tree/master/src/null-safety/migration-guide.md

![AxZW6XRQLAt2pQL](https://user-images.githubusercontent.com/149732/106788648-81bd8f00-6651-11eb-9261-0bdcfce40c9d.png)

Maybe we should recommend `dart pub upgrade --null-safety`, now that it also works reasonably under flutt

[2021-02-03 21:00] kwalrath opened #2911 "Fix the beta & dev builds"
I worked around the dev build breakage in #2910, but I think one of our recent migrations broke the build somehow.

[2021-02-04 03:23] nosmirck opened #2913 "is! description should be flipped"
https://dart.dev/guides/language/language-tour#type-test-operators

The operator/description table looks like this:

Operator | Meaning
-- | --
as | Typecast (also used to specify library prefixes)
is | True if the object has the specified type
is! | False if the object has the specified type
-- | --

But the actual behaviour for `is!` should say: False if the object **doesn't** have the specified

[2021-02-04 12:35] mit-mit commented on #2909
sgtm

[2021-02-05 21:45] johnpryan opened #2917 "Remove travis_fold to support ZSH"
Once we are migrated from Travis CI to Actions, we can remove any `travis_fold` statements from the codebase and update the README.

The reason travis_fold doesn't work in ZSH is that `env-set.sh` attempts to export a shim using `export -f`, which ZSH [doesn't support](https://superuser.com/questions/1515680/export-f-equivalent-in-zsh):

[code]

cc: @athomas

[2021-02-05 22:51] kwalrath commented on #2685
Closing in favor of #2917.

[2021-02-05 22:51] #2685 closed

[2021-02-05 23:10] johnpryan opened #2918 "Use Docker for building"
Adding a `Dockerfile` to the repo would simplify the environment setup and make it consistent across Linux, macOS, and Windows. This would keep the existing tools we have, but allow Docker users to skip installing RVM and NVM. @btobin has experience building a Jekyll site this way.

Previous discussion here: https://github.com/dart-lang/site-www/issues/2685

This also applies to flutter/website in

[2021-02-05 23:42] kwalrath commented on #2909
In https://dart.dev/null-safety/migration-guide#check-dependency-status, should we feature `dart pub upgrade --null-safety --dry-run` instead of `dart pub outdated --mode=null-safety`? And then take off the `--dry-run` for https://dart.dev/null-safety/migration-guide#update-dependencies?

Might we still want to talk about `dart pub outdated --mode=null-safety` anywhere (e.g. in https://dart.dev/nu

[2021-02-05 23:44] kwalrath commented on #2913
I believe this is correct as written, although it might be easier to understand if we turned it around:

True if the object **doesn't** have the specified type

[2021-02-06 00:05] parlough commented on #2913
@kwalrath I agree, flopping the conditional here introduces a more clear separation between the two. It also follows how I personally read its use in an expression:

[code]

[2021-02-06 02:54] Sameerkash commented on #2918
Since I had pain setting up the environment, I'd really love to work on this.
I'll wait till the first triage ?

Cc @kwalrath

[2021-02-06 03:48] SuperBeagleDog opened #2920 "It's very troublesome to import extension function."
**Code Snippet.**
`  extension Foo on String{
    void test(){}
 }`

**In this case,**
we can't simply use test() function on an instance of String,
Like this ` "test".test()` with **"alt+Enter" automatically importing**:

We can't use **"quickly import"** feature in Android Studio to give an instance of String the ability to call test() method in Dart.

**Kotlin can do this but Dart can't!**

To

[2021-02-06 03:56] parlough commented on #2920
I can see how this feature would be nice, especially since people are familiar with it in other languages.

This repository is for the Dart website and this is more of a request for an addition to the analysis server which is in the [sdk repository](https://github.com/dart-lang/sdk). You can [create an issue](https://github.com/dart-lang/sdk/issues/new) there, specifying it's for the analysis serv

[2021-02-06 03:59] SuperBeagleDog commented on #2920
I'm not sure what did you want to say, I just issue a problem that Dart can't use extension function feature as easily as Kotlin does, and hope the Dart team can improve it. Thanks.

[2021-02-06 04:10] parlough commented on #2920
不好意思，我好久没用中文，但我的意思就是-

这个仓库是Dart网站的，你应该在Dart的[sdk仓库](https://github.com/dart-lang/sdk/issues/new)写这个问题。

[2021-02-06 04:14] SuperBeagleDog commented on #2920
Got it, Thank you.

[2021-02-06 05:48] #2920 closed

[2021-02-06 13:49] Sameerkash commented on #2909
This would be handy as I'm currently migrating some of the packages and I found it a tedious task to copy past each dependency to their key, also the tricky part was, the `tick` mark would also get copied along and with my editor having autosave, pub would run and throw error all the time I modify the file.

[2021-02-07 02:43] nosmirck commented on #2913
OMG! That's totally right! It's actually correct but because of the way we read it as `is not` reading that False at the beginning and saying that matches the type confused the hell out of me!

I'm closing this but leaving the suggestion open to maybe change it to:

True if the object **doesn't** have the specified type

Thanks for the clarification!

[2021-02-08 10:49] mit-mit commented on #2909
I would recommend first running `dart pub outdated --mode=null-safety` to undertand the status, and then change the guidance to run `dart pub upgrade --null-safety` where it currently says to manually edit the pubspec. Note that we also changed the output of `dart pub outdated ` do suggest that, so would be great to update the UI text shown in docs.

[2021-02-08 10:58] shubhanshu02 commented on #2617
@kwalrath Can you assign me the ` src/_guides/libraries/c-interop.md` or `src/tools/pub/cmd/pub-deps.md`?

[2021-02-08 17:34] kwalrath commented on #2617
You've got it. Thanks!

[2021-02-08 17:36] kwalrath commented on #2918
Thank you for volunteering, @Sameerkash! @johnpryan and @athomas the ones who've most recently work on the site build, so I'll let them answer you.

[2021-02-08 17:37] woinbo commented on #2617
Hello @kwalrath, sorry I was out for some reasons!! Any thing for me??

[2021-02-08 17:41] Sameerkash commented on #2918
@kwalrath I recently got some more exposure to jekyll in one of the programs I'm a part of.

So if there's an other issues that is up for grabs (if this particular one isn't) I'd really like to contribute more this repo.

So please @ me and I'll take a look asap.

[2021-02-08 17:55] kwalrath commented on #2918
@Sameerkash that's great to hear! Right now we're kind of heads down, but after the Flutter event I'd love to talk with you about how you could contribute to site infrastructure. (We're trying out [Flutter's Discord server](https://github.com/flutter/flutter/wiki/Chat) for discussions like this that aren't tied to a particular issue.)

[2021-02-08 17:58] Sameerkash commented on #2918
Thanks @kwalrath I'm active on the flutter discord server.

Would love to hear more from you there.

[2021-02-08 18:06] kwalrath commented on #2617
@woinbo how about src/tools/experiment-flags.md? That's one that could probably use some real testing, since the examples are either old or maybe not real. :)

[2021-02-08 18:08] kwalrath commented on #2913
I'm going to reopen because I do want to make this less confusing (plus I'm actively working on the language tour right now).

[2021-02-08 18:32] woinbo commented on #2617
@kwalrath please review these PR #2865 #2866 #2867, these are in the pull request tab from last 25 days. You haven't checked them? I will see src/tools/experiment-flags.md today or tomorrow. Thank you!!

[2021-02-08 19:01] kwalrath commented on #2617
Sorry for the backlog, @woinbo... Things are crazy busy here right now. I do intend to take a look. Thanks for taking a look at experiment-flags!

[2021-02-08 21:25] athomas commented on #2918
I'm supportive of this idea. I've spent a bit of time over the last couple of days to understand how the various site-* scripts hang together and what they do. Quite a bit of complexity comes from trying to work in a local environment where all sorts of things may be in the wrong state. If we'd switch to a dockerfile-based approach, the local environment is isolated from whatever weird configurati

[2021-02-08 23:01] kwalrath commented on #2918
I'm not sure how this will affect your work, @athomas, but we're planning to freeze the sites for a week, starting 2/24. We should talk...

[2021-02-09 10:23] guidezpl opened #2923 "Add documentation about publishing previews"
Alongside documentation about pre-releases https://dart.dev/tools/pub/publishing#publishing-prereleases, we should add documentation about preview packages (e.g. https://pub.dev/packages/intl/versions/0.17.0)

[2021-02-09 16:50] kwalrath commented on #2923
@mit-mit we should talk about this today

[2021-02-09 16:59] kwalrath commented on #2920
Thanks for the help, @parlough! I hope you get what you need, @SuperBeagleDog.

[2021-02-09 17:27] parlough commented on #2920
As a reference(if anyone comes across this) the new issue was opened at https://github.com/dart-lang/sdk/issues/44875

[2021-02-09 18:39] shubhanshu02 opened #2925 "Update the C Interop Tutorial to make it platform independent"
### Description

The tutorial follows [this](https://github.com/dart-lang/samples/tree/master/ffi/hello_world) example. While the `hello.dart` program in the example uses different pathnames to use platform-specific dynamic libraries, the tutorial shows the following line, which opens the dynamic library specific to macOS.
[code]
To make the tutorial platform-independent, we may use the path for d

[2021-02-09 21:42] kwalrath commented on #2923
Got the details from mit:
* As a developer, you don't have to do anything to make your release a preview release _or_ to graduate it to a stable release.
* Pub.dev shows a package release as a Preview release when the published package's min SDK (in the pubspec) is an SDK that doesn’t yet have a stable release.

Example: The 0.17.0 version of the intl package has a [min SDK of 2.12.0-0](https://gi

[2021-02-09 23:42] kwalrath commented on #2917
Travis -> GHA work is happening in #2921

[2021-02-10 00:41] parlough opened #2926 "Consider flipping the order of language versions"
Page URL: https://dart.dev/guides/language/evolution
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/evolution.md

Just opening an issue to gather feedback on the the order of language versions may benefit from being reversed. I imagine as a user visits this page, they'd expect to see the most recent versions first. It's likely those are likely the versions they

[2021-02-10 00:55] johnpryan commented on #2917
It looks like once that is merged, we can update the README to indicate that ZSH is supported.

[2021-02-10 08:27] guidezpl commented on #2923
Makes sense, matches my expectations

[2021-02-10 23:03] kwalrath commented on #2926
My inclination is also to see most recent things first (more helpful for finding which minimum language version you need), but I think @mit-mit was thinking of this more like "this is our history".

[2021-02-11 15:59] #2923 closed

[2021-02-11 17:43] #2849 closed

[2021-02-11 18:12] kwalrath opened #2937 "Expand/update typedef discussion"
Details are in dart-lang/sdk#44965

[2021-02-11 19:27] theacodes opened #2938 "Pages should show the last time they were updated"
Because of the ephemeral nature of the world of software, it would be useful for users to be able to see the last time a page was updated.

This information should be determined by the last time the file was modified in git at the time of publication.

There are several places we could place this go:

1. The least disruptive but also least visible spot would be in the footer:

![image](https://use

[2021-02-11 19:35] theacodes commented on #2938
There is a Jekyll plugin that can retrieve this information for us: https://github.com/gjtorikian/jekyll-last-modified-at

[2021-02-11 20:43] zakariaz commented on #2886
Hello,

I am very confused, i merged it against my own repo!

i did a proper pull request to the official repo so it can be merged. Thank you

here is the link to the [pull request](https://github.com/dart-lang/site-www/pull/2939#ref-pullrequest-787064061l)

[2021-02-11 21:06] #2886 closed

[2021-02-11 21:54] kwalrath opened #2940 "Add promotion info/workaround to /null-safety"
Details in https://github.com/dart-lang/sdk/issues/44900.

[Example from Lasse & mit](https://dartpad.dev/6e35cb85754ce3d44b1e94bf4d69caec?null_safety=true)

Note that `BadEvent` needs to use `year!` because `year` could have been changed by an overriding getter in a subclass. `GoodEvent` shadows `year` with a local variable (`var year = this.year`) so that the code can just use `year`.

[2021-02-11 23:39] parlough commented on #2911
I believe these are working again with the switch to Github actions: https://github.com/dart-lang/site-www/pull/2921 :D

For example: https://github.com/dart-lang/site-www/runs/1881433095

[2021-02-12 00:22] parlough opened #2942 "Update Android Studio icon in tooling page"
Page URL: https://dart.dev/tools/
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/index.md

Description of issue: The tooling page includes the old Android Studio icon.

I tried to find a decent image of the new icon without the title, but all I could find is the following SVG. It has a circular white app background behind it which looked weird once added to the actual pag