[2021-02-12 00:43] #2871 closed

[2021-02-12 01:12] kwalrath commented on #2911
GHA doesn't surface allowed failures well, but I believe (if you look at, say, https://github.com/dart-lang/site-www/actions/runs/558615064) that 5 tests are still failing:

* test (stable, ./tool/analyze-and-test-examples.sh --null-safety, true) (this can't pass until 2.12 stable)
* test (beta, ./tool/analyze-and-test-examples.sh --null-safety, true)
* test (beta, ./tool/analyze-and-test-examples

[2021-02-12 01:16] kwalrath commented on #2911
Taking a quick look at [.github/workflows/build.yml](https://github.com/dart-lang/site-www/blob/master/.github/workflows/build.yml), it seems like when I fix any of those tests, I should change `experimental` to `false`. Is that correct, @athomas?

[2021-02-12 01:17] Cat-sushi opened #2943 "Packages / Package reference / Versioning doesn't explain the meaning of 2.12.0-0"
[site-www/versioning.md at master · dart-lang/site-www](https://github.com/dart-lang/site-www/blob/master/src/tools/pub/versioning.md "site-www/versioning.md at master · dart-lang/site-www")

[2021-02-12 01:21] kwalrath commented on #2917
Still some occurrences, but I think that's only because flutter/website hasn't been switched to GHA yet.

[code]

[2021-02-12 01:26] kwalrath commented on #2942
Will do. Thanks for letting us know, @parlough!

[2021-02-12 01:34] kwalrath commented on #2942
Filed b/180058612

[2021-02-12 03:20] kwalrath commented on #2858
This debuts in 2.12, right @devoncarew?

[2021-02-12 09:49] mikeparr opened #2947 "Choclatey compusory - please clarify"
It reads   '..CAN be istalled with choclatey'
Is this a MUST?  Is there another way.  Is the Choclatey way easiest?

[2021-02-12 12:43] athomas commented on #2911
@kwalrath Correct. I haven't really looked into what `--null-safety` does in those scripts. Hopefully that flag can be retired post 2.12 and all the steps using the flag can be removed completely.

[2021-02-12 13:16] athomas commented on #2917
Yes, some of those scripts very much emulate "Travis stages" and I didn't carry that over into GitHub Actions. I did that partly because they tend to rely on exporting variables from one script to the next which would've needed extra work and because they were shared with other repos still using Travis. With the migration of the flutter website, some might not be needed anymore (especially if we'd

[2021-02-12 17:44] kwalrath commented on #2947
It's not a must; you can always download the SDK as a zipfile, and I think other installers are available. I, unfortunately, haven't installed the SDK on Windows in a very long time, so I can't give advice on what's easiest.

[2021-02-12 22:42] kwalrath opened #2950 "Address TODOs in the language tour"
I'm about to create a PR for the first phase of migrating the language tour to null safety. Like the Effective Dart migration (#2944), I'm starting with just the code and the text directly affected by the code. Subsequent PRs will add info about null safety features and address known issues.

This issue is intended to track progress on all the TODOs in the language tour that aren't already covered

[2021-02-12 22:54] kwalrath opened #2951 "Centralize embedded DartPad/iframe styling"
A lot of files with embedded DartPads have the following at the top:

[code]

We should, you know, actually do that. :)

[2021-02-13 03:13] micpap25 commented on #1117
Hi, looks like we do already link to the article here:

![image](https://user-images.githubusercontent.com/34077605/107840246-31e07580-6d7f-11eb-8643-64fd21632b32.png)

I'm fairly certain that following the document's recommendations for built-in times would require a more extensive rework; for one, we would have to replace all of our recommended cases for using the `dynamic` type.

[2021-02-13 15:26] mikeparr commented on #2947
Thanks for the reply, Kathy.  I might look for other ways, to avoid installing an extra program (chocolatey)
Mike

------ Original Message ------
From: "Kathy Walrath" <notifications@github.com<mailto:notifications@github.com>>
To: "dart-lang/site-www" <site-www@noreply.github.com<mailto:site-www@noreply.github.com>>
Cc: "mikeparr" <themikeparr@gmail.com<mailto:themikeparr@gmail.com>>; "Author" <a

[2021-02-13 20:31] parlough commented on #2947
I don't use Windows much but when I do I prefer manually downloading the SDK as a zip from the [archive](https://dart.dev/tools/sdk/archive) and adding it to my PATH manually or selecting it in IntelliJ.

@kwalrath Perhaps not the most appropriate repo for this, but supporting [winget](https://docs.microsoft.com/en-us/windows/package-manager/winget/) and [adding manifests](https://github.com/micro

[2021-02-13 20:36] hamyarflutter opened #2954 "solution is actually a hint..!"
in this link https://dart.dev/codelabs/dart-cheatsheet#code-example-11 solution is like a  hint...there is no assertion i think so

[2021-02-13 20:46] parlough commented on #2954
Could you elaborate on what you expect the solution to be?

Do you mean that you expected the "extra credit" assertion to be in the solution as well?

[2021-02-15 07:15] hamyarflutter commented on #2954
hi..
yes of course...
i think so..
i am new to dart but i think there is no "extra credit"!

thanks for support

[2021-02-16 18:35] kwalrath commented on #1117
The article is a bit obsolete with null safety, so maybe we shouldn't link to it any more. I need to check on our `void` guidance and (as filed in #2485) add something about `Never`.

[2021-02-16 19:08] kwalrath opened #2955 "Follow-up to null safety migration guide update"
Follow-ups to #2929:

* Remove `-nullsafety` from images.
* Be consistent with https://dart.dev/tools/pub/publishing#publishing-previews.
  * Maybe link to/from it.
  * Maybe remove some content from /null-safety/migration-guide if it isn't essential.
* Be consistent about release vs. version, especially in the final paragraph.
* "Switch to the latest beta release" instead of "Switch to the latest

[2021-02-16 23:41] munificent commented on #1205
I'm giving "Effective Dart" some love right now and I'd like to figure out what we want to do here. What do you think of a guideline something like:

Thoughts?

[2021-02-17 00:50] #2132 closed

[2021-02-17 01:20] #2580 closed

[2021-02-17 22:06] #2869 closed

[2021-02-18 18:22] hankyusa commented on #2763
I'm having the same issue.

Paste the following into [DartPad with null safety enabled](https://dartpad.dartlang.org/?null_safety=true).

[code]

Click "RUN" button.

Console shows the following output.

[code]

[2021-02-19 02:57] parlough commented on #1673
Fixed by https://github.com/dart-lang/site-www/pull/2946

[2021-02-19 02:57] parlough commented on #2472
Fixed by https://github.com/dart-lang/site-www/pull/2946

[2021-02-19 02:59] #1673 closed

[2021-02-19 03:36] chalin commented on #1673
Was this a dup of #2472?

[2021-02-19 03:42] chalin commented on #2472
Hi all! Here's a little background. As you know, there are two asset folders, one named `_assets` and the other `assets`.

Some assets, like the `og:image` must always be referred to using the same path. We do this because we want posts (on FB, Twitter, etc) linking to the `og:image` to have a valid link "forever". Resources like these reside under the `assets` folder, and these assets should be r

[2021-02-19 03:44] chalin commented on #2472
Oh, I think that I'm remembering why we did it this way -- at least for the `og:image`: Kathy had started seeing 404s. Well, I guess that checking for 404s is one way to confirm my hypothesis :)

[2021-02-19 03:52] chalin commented on #2472
Taking a closer look ...

@kwalrath: in #2470 you updated the image at the path `site-shared/src/_assets/image/dart/logo/64.png` ... but the favicon is (well, was) read from `/shared/dart/icon/64.png`. Sorry that I didn't notice that before. You need to update the image in both locations (there are two files for the same image because they serve different purposes and need to be accessed via diffe

[2021-02-19 04:11] parlough commented on #2472
@chalin Thanks for the thorough investigation around that. I can see how the hashed icon location may cause issues(including limiting caching of it). I must have got lost in navigating the submodule and various symlinks so I never noticed that icon wasn't properly updated. I've gone ahead and opened https://github.com/dart-lang/site-shared/pull/127 and https://github.com/dart-lang/site-www/pull/29

[2021-02-19 15:33] hankyusa opened #2971 "'Effective Dart: Usage' page issue: Link to `unnecessary_getters` lint rule is broken."
Page URL: https://dart.dev/guides/language/effective-dart/usage
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/effective-dart/usage.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

Link to `unnecessary_getters` lint rule (https://dart-lang.github.io/linter/

[2021-02-19 16:18] kwalrath commented on #2971
Thanks for the report! Looks like it should perhaps be https://dart-lang.github.io/linter/lints/unnecessary_getters_setters.html.

[2021-02-19 16:23] #2913 closed

[2021-02-19 16:41] #2472 closed

[2021-02-19 16:45] chalin commented on #2472
So ... is this really finally fixed?!? 😄

[2021-02-19 16:58] kwalrath commented on #2472
Not sure. :) See my comment in #2967. (And thanks for all the context, @chalin!)

[2021-02-19 17:02] kwalrath commented on #1673
Yes, I think so.

[2021-02-19 19:26] #2971 closed

[2021-02-19 19:28] kwalrath opened #2977 "dartfix ->dart fix"
The only mention currently is in /tools

Per the discussion in https://github.com/dart-lang/site-www/pull/2804#discussion_r579377191
Related: #2858

[2021-02-19 23:24] kwalrath commented on #2261
We apparently might move this API, so... I guess I'll close this issue.

[2021-02-19 23:24] #2261 closed

[2021-02-20 00:15] #2951 closed

[2021-02-20 02:28] #996 closed

[2021-02-20 02:28] #1387 closed

[2021-02-20 18:37] kwalrath opened #2981 "Make /tools/dart-fix unique"
Incorporate everything from https://github.com/dart-lang/sdk/blob/master/pkg/dartdev/doc/dart-fix.md into https://dart.dev/tools/dart-fix, and update https://dart.dev/go/dart-fix to link to /tools/dart-fix.

More info: #2978

[2021-02-22 16:26] devoncarew commented on #2858
Yup

[2021-02-22 17:18] kwalrath commented on #2858
Ha, I forgot that when I created the link & page. I should update those pages to mention that.

[2021-02-22 23:28] kwalrath commented on #2977
Fixed recently.

[2021-02-22 23:28] #2977 closed

[2021-02-22 23:29] #2858 closed

[2021-02-23 01:38] franklinyow opened #2987 "Add version info related to null safety known issue list"
The known issue list need to have information about build version to avoid confusion

https://github.com/dart-lang/site-www/pull/2948

[2021-02-23 03:59] kwalrath commented on #2987
The only issues right now are in packages, so I don't think we have any reason (yet) to add version info.

[2021-02-23 03:59] #2987 closed

[2021-02-23 16:27] #2525 closed

[2021-02-23 20:16] kwalrath commented on #2950
Also, make sure that the second item under "Important concepts" says something about`Object?` working "if you opt into null safety", with a link to where those instructions are.

[2021-02-23 22:27] #2445 closed

[2021-02-23 22:45] micpap25 opened #2991 "Standardize location of links in source"
While working on the null-safety code, I noticed that all the links were in-place (that is, the url was right next to the text that would be displayed). This is different from how, say, the language tour does it, where all the urls are at the bottom of the source.

Obviously this isn't very high priority, but perhaps one method should be chosen and kept to.

[2021-02-23 22:45] micpap25 commented on #2955
Working on this right now, also made #2991 based on my observations.

[2021-02-23 22:57] filiph opened #2992 "Migrate library tour to null safety"
https://dart.dev/guides/libraries/library-tour should have null safe code. I'm on it.

[2021-02-24 03:23] filiph commented on #2992
Ok, I have the code ready and also the markdown ready. @kwalrath, should I try to land both with one PR? I see that the model https://github.com/dart-lang/site-www/pull/2891 only migrated the code.

[2021-02-24 04:53] micpap25 opened #2994 "Move preview-version.png out of null safety folder"
Related to #2993

After this PR, the image `/null-safety/preview-version.png` will no longer be used in the `null-safety` folder; its only usage will be at  `/tools/pub/publishing.md`. The file should be moved to be closer to that page within the file structure.

[2021-02-24 17:08] kwalrath commented on #2992
Oh nice! One PR for both is fine. I hope you did separate commits for the initial copies, so it's easy to see what changed (she said belatedly).

[2021-02-24 18:39] kwalrath opened #2996 "Add another dart format example"
Per https://github.com/dart-lang/site-www/pull/2982#pullrequestreview-597797990, we should probably start off with a `dart format .` example, since that's how you'd usually run it.

[2021-02-26 00:43] #2695 closed

[2021-02-26 00:44] munificent commented on #2695
This is documented in "Understanding Null Safety" now. Do you want this bug to also cover the "Language Tour" changes too?

[2021-02-26 14:18] kwalrath opened #3003 "Remove/replace site.www in _config.yml"
We no longer use site.www (it's a legacy of back when we split dartlang.org, I think). We should do one of the following:

1. Delete it from `_config.yml`.
2. Change it to `dart-site` (to match [flutter.dev's _config.yml](https://github.com/flutter/website/blob/master/_config.yml)) and make it empty.

If option 2 works, I prefer that, in case we copy any text from flutter.dev to dart.dev.

[2021-02-26 14:34] kwalrath commented on #2565
@vsmenon has written a more extensive treatment of numbers. We plan to turn that into a page soon, which I'll link to from the language tour.

[2021-02-26 14:42] kwalrath commented on #2940
I believe this is covered by https://dart.dev/guides/language/effective-dart/usage_migrated#consider-copying-a-nullable-field-to-a-local-variable-to-enable-type-promotion (which will be moved to https://dart.dev/guides/language/effective-dart/usage once null safety is in the stable SDK).

I wonder if this should also be in the FAQ, which is based on an internal FAQ.

/cc @ryanmcginnis @davidmorgan

[2021-02-26 16:25] kwalrath opened #3004 "Document using `dart migrate` for incremental migration"
Related: #2642

Here's the text of a (month-old) email from @srawlins that we could adapt:

Subject: New "incremental migration" workflow in "dart migrate" command

Last week's dev release includes a new "incremental migration" feature in the "dart migrate" command...

While we strongly recommend that developers migrate each package to null safety in one go, we acknowledge that there are cases in

[2021-02-26 20:52] kwalrath opened #3007 "Update null_safety_examples/*/pubspec.yaml"
See https://github.com/dart-lang/site-www/pull/2983#discussion_r583888525.

[2021-02-26 21:03] #1244 closed

[2021-02-26 23:28] kwalrath commented on #2632
#3008 contributes to addressing this issue.

[2021-02-27 00:01] kwalrath commented on #2907
This package is now mentioned in https://dart.dev/guides/libraries/library-tour#extracting-data-from-a-string and (in more depth) https://dart.dev/guides/language/language-tour_migrated#runes-and-grapheme-clusters.

I'm going to close this issue, but please open a new one if you'd like additional coverage.

[2021-02-27 00:01] #2907 closed

[2021-02-27 03:16] #2992 closed

[2021-02-28 21:56] lesleytechh commented on #2908
I'm a little confused about the archive.

[2021-02-28 22:41] kwalrath commented on #2908
Could you tell us what confused you?

[2021-03-02 19:14] mit-mit commented on #2909
I think this happened in https://github.com/dart-lang/site-www/commit/bc51d0bb90ca195d28ebc86bff240ce6e293ae42#diff-55449b49f1a140f943f5da5518584bb3e32db53f3452e2a15975bc041109fbd6

[2021-03-02 19:34] #2909 closed

[2021-03-02 19:35] kwalrath commented on #2950
The urgent TODOs have been addressed, I think.

[2021-03-02 21:47] kwalrath commented on #2632
Here's the new coverage we've published, so far:

* https://dart.dev/guides/language/language-tour_migrated#late-variables
* https://dart.dev/guides/language/effective-dart/usage_migrated#dont-use-late-when-a-constructor-initializer-list-will-do
* https://dart.dev/guides/language/effective-dart/design_migrated#avoid-public-late-final-fields-without-initializers

[2021-03-02 21:48] #2632 closed

[2021-03-02 22:46] munificent commented on #1205
PR out: https://github.com/dart-lang/site-www/pull/3021

[2021-03-02 22:58] munificent commented on #803
OK, I went through it. Overall, I think it's a really fantastic guide. The section on documentation is especially good.

But I don't see anything I want to clone into "Effective Dart". A lot of the specific guidance is already there. The specific rules that aren't there are things around formatting where the Flutter guide is in conflict. The stuff that isn't in "Effective Dart" that I like the mos

[2021-03-02 22:58] #803 closed

[2021-03-03 03:04] #2872 closed

[2021-03-03 18:14] #3004 closed

[2021-03-03 19:02] #1205 closed

[2021-03-03 19:03] #2633 closed

[2021-03-03 19:17] parlough commented on #2926
Thinking about it some more, I can definitely see this page's use as a chronological evolution since we have plenty of other places where changes are outlined in reverse chronological order.

[2021-03-03 19:17] #2926 closed

[2021-03-04 14:55] nosmirck opened #3040 "'is' does not cast variables out of the scope"
When using `is` casting should work with variables out of the scope too. Here is an example:

[code]

Tested this on the latest DartPad with null safety enabled.

[2021-03-04 16:30] nosmirck commented on #3040
closing here since I opened agains the wrong repo

[2021-03-04 16:30] #3040 closed

[2021-03-04 18:51] Mcculloughj opened #3041 "'dart: The Dart command-line tool' page issue"
Page URL: https://dart.dev/tools/dart-tool.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/dart-tool.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-03-04 18:51] #3041 closed

[2021-03-05 09:54] Tomucha opened #3043 "'dart pub upgrade' page issue"
Page URL: https://dart.dev/tools/pub/cmd/pub-upgrade.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/pub/cmd/pub-upgrade.md

Description of issue:

Missing description of new(?) flag "--major-versions"

[2021-03-05 23:49] johnpryan commented on #2692
Looking at the previous snippet, it seems like solution 3 is what was intended. I don't think the `final` is necessary here, since it's focused on the cast in the `unbox()` method.

[2021-03-08 05:03] micpap25 commented on #3043
Hi, seems that your issue is already part of #2898. I'm going to start working on this soon.

[2021-03-08 07:47] Tomucha commented on #3043
Cool, feel free to close this one.

Thanks!

[2021-03-08 08:53] domesticmouse commented on #3043
Thanks @Tomucha, de-duping

[2021-03-08 08:53] #3043 closed

[2021-03-08 23:18] kwalrath opened #3046 "Follow up on _migrated PR"
As follow ups to #3039:

* Remove more /examples/.../library_tour/* files (from the repo & from /tool/dartformat.sh)
* Use a macro to shorten references to examples (e.g. "../null_safety_examples/misc/lib -> "lib")
* Convert src/_guides/libraries/_dart-io-tour.md & src/_guides/libraries/_dart-html-tour.md to use null-safe code

[2021-03-09 00:32] ghaithx10 opened #3047 "'Get the Dart SDK' page issue"
Page URL: https://dart.dev/get-dart.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/get-dart.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-03-09 00:41] parlough commented on #3047
Thanks for the report! Would you mind elaborating what issue(s) you faced on this page? Was something not clear, did a link not work, etc?

[2021-03-09 18:48] kwalrath commented on #2918
For more context, check out [our conversation on the Discord channel](https://discord.com/channels/608014603317936148/613844675949887491/818894402603843584) (requires a login).

[2021-03-10 08:48] srawlins opened #3052 "Avoid language-free backticks in Effective Dart"
https://dart.dev/guides/language/effective-dart/documentation#prefer-backtick-fences-for-code-blocks has an example with a backtick block, starting with three backticks, which does not include a language specification (or an ["info string"](https://github.github.com/gfm/#info-string)). However, https://github.com/dart-lang/dartdoc/issues/2520 was opened against dartdoc, and now dartdoc warns about

[2021-03-10 15:45] parlough commented on #3052
This is a good idea. Are you suggesting a new rule be added or just this one should be amended/added to?

[2021-03-10 16:34] srawlins commented on #3052
I don't even think it's worth calling out in text. I just think the example should be changed to include a language tag. Folks can research Markdown elsewhere.

[2021-03-10 17:50] kwalrath commented on #3047
Closing due to lack of description.

[2021-03-10 17:50] #3047 closed

[2021-03-10 18:51] kwalrath commented on #3007
Still need to update these.

[code]

[2021-03-11 18:11] kwalrath opened #3055 "Finish migration to null safety"
* Add interim not-null-safe notes to more pages (follow-up to #3051)
* Follow up on migrated page work (#3046)
* Migrate remaining code snippets (related: #1803)

[2021-03-11 18:14] #2911 closed

[2021-03-11 18:23] kwalrath opened #3056 "Document "Q1 2021 small features""
Tracking bugs: https://github.com/dart-lang/sdk/issues/44911 (features), https://github.com/dart-lang/sdk/issues/44927 (docs)

New features:

* `>>>` (triple-shift) as an overridable operator (dart-lang/language#120)
* **Do not plan** to update documentation for these minor features:
  * Type arguments on annotations: (dart-lang/language#1297)
  * Generic function types as type arguments (dart-lan

[2021-03-11 23:03] parlough commented on #2814
Fixed by https://github.com/dart-lang/site-www/pull/3048
Closes https://github.com/dart-lang/site-www/pull/2842 as well

[2021-03-11 23:11] #2814 closed

[2021-03-11 23:21] kevmoo opened #3057 "/server – move DartPad link below tutorials"
Page URL: https://dart.dev/server/
Page source: https://github.com/dart-lang/site-www/tree/master/src/server/index.md

There a bit of a chance that folks coming here are just looking for a way to write Dart in a scratch pad, but it feels weird to have the link at the top.

Suggest moving it down...or maybe just removing it?

CC @kwalrath @mit-mit

[2021-03-11 23:29] kwalrath commented on #3057
I remember nothing about this, but it looks like we added that button during our last major site redesign, when we switched from dartlang.org to dart.dev:

https://github.com/dart-lang/site-www/commit/82cb19a9761c568ae796fda3305b58788bad2669#diff-a0344f0663405ef609af2c746581bd49e27ad882a77c9334a21e91760f34feae

[2021-03-12 00:35] erf opened #3058 "Rewrite or remove /tutorials/server/httpserver"
Page URL: https://dart.dev/tutorials/server/httpserver
Page source: https://github.com/dart-lang/site-www/tree/master/src/_tutorials/server/httpserver.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

The `http_server` package is used in one example, but it looks like its pretty much abandon wa

[2021-03-12 01:38] kwalrath commented on #3058
@kevmoo or @sigmundch what do you think we should do?

[2021-03-12 02:17] erf commented on #3058
Isn't the `shelf` package more relevant for "some higher-level buildingblocks"?

[2021-03-12 02:54] kevmoo commented on #3058
Yeah it would be a lot better if we talked about shelf here

[2021-03-12 07:51] mit-mit commented on #3057
I have no recollection of why I added that :-( Maybe we had a lot of redirects here from some old important page?

But I think we can just go ahead and remove the tools section from this page entirely?

[2021-03-12 10:08] wujek-srujek opened #3059 "Update documentation about null-safety and 'implicit-casts: false'"
The document here: https://dart.dev/guides/language/analysis-options#enabling-additional-type-checks has an example with an implicit downcast and mentions that `implicit-casts: false` fixes this. However, this document: https://dart.dev/null-safety/understanding-null-safety says `So with null safety we are removing implicit downcasts entirely.` I tested it in my app and in dartpad and it works as

[2021-03-12 16:39] kwalrath commented on #3058
It sounds like we have two choices, for now:

1. Update the example code and content to use shelf.
2. Remove this page and adjust other pages that refer to it.

I prefer the first option (in the short term, at least), because people do want this content. I took a look at 30-day and 1-year analytics, and this is consistently the #2 tutorial (after /tutorials/language/streams), and in the top-30 pag

[2021-03-12 16:43] kwalrath commented on #3057
I guess we needed a server-side homepage but really wanted people to try the interactive approach to learning about the subject.

Agreed, that seems unnecessary. I can take a shot at reorganizing this page.

[2021-03-12 17:13] erf commented on #3058
Could you perhaps add some information on performance or best practices?

A few maybe-not-so-releavnt questions: Should i use `Isolates` to handle each request? Do i call `flush` before `close` on a `HttpResponse` stream? How does `HttpResponse.persistentConnection` work and when should i use it? I also would like to see some more info on how to use `WebSocket.pingInterval`.

BTW: I really like Da

[2021-03-12 18:26] parlough opened #3062 "Modify dart analyze docs to specify not only directory support but also single file"
Page: https://dart.dev/tools/dart-analyze

This will not be supported until the next release of Dart, but putting this here as a reminder for us to update when the release occurs.

https://github.com/dart-lang/sdk/commit/1712737dea2559f1722c3be49cc0c7629f85312d

[2021-03-12 21:54] kwalrath commented on #3059
Thanks for reporting this, @wujek-srujek. @bwilkerson, what's your take?

[2021-03-13 03:01] Sameerkash commented on #3058
I was just taking a look at `shelf` as I was going through pub-dev, this will be a good opportunity for me, I'll try this one soon!

cc @kwalrath

[2021-03-13 13:53] erf commented on #3058
@Sameerkash Sounds good!

I just converted some pure Dart code to use `shelf`, `shelf_router`, `shelf_static` and `shelf_web_socket`. I was stumped a bit at first as to how use the latter two with `shelf_router`, but made it work in the end. Maybe a guide on how to combine these would also be helpful.

Maybe i could also contribute myself, but i'm very new to these libraries.

[2021-03-13 14:17] Sameerkash commented on #3058
Anyway you can link what you wrote ?

[2021-03-13 14:52] erf commented on #3058
It's not open source, but i can paste the gist of it:

[code]

[2021-03-13 15:06] erf commented on #3058
.. but my web app is here -> https://fakkt.app 😎

BTW: just found a great youtube tutorial here -> https://www.youtube.com/watch?v=ZKNKNxaliZQ 🔥

[2021-03-13 15:54] Sameerkash commented on #3058
@erf Thanks, I was checking out the same tutorials since morning, one doubt I have is are you managing any ` js` on the client-side?

[2021-03-13 16:06] erf commented on #3058
Yes. A client request a index.html which loads some javascript, and then i talk to the server by sending messages via a WebSocket.

[2021-03-13 16:55] Sameerkash commented on #3058
Sounds great thanks !

[2021-03-15 05:15] Shahid786-pixel opened #3067 "'Tutorials' page issue"
Page URL: https://dart.dev/tutorials/index
Page source: https://github.com/dart-lang/site-www/tree/master/src/_tutorials/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-03-15 05:16] #3067 closed

[2021-03-15 14:59] modulovalue opened #3070 "Bad URL https://dart.dev/articles/archive/simd"
URL: https://dart.dev/articles/archive/simd
Expected page: An archived article about simd.

Found at: https://dart.dev/articles/archive/numeric-computation at 'Note: This article does not cover the SIMD types available in Dart, which enable operating on four floating-point numbers in parallel. To learn more, read Using SIMD in Dart.'

[2021-03-15 15:02] devahmedsaleh opened #3071 "Revise explanation of read-only properties in Java & Dart Codelab"
In the Codelab:  [Intro to Dart for Java Developers](https://codelabs.developers.google.com/codelabs/from-java-to-dart/#1), illustration of read-only properties is confusing.

In the related Java code, `speed` is not _read-only_ property, this is shown in:

[code]

Also:

In Dart code, `speed` was made _private_ by adding `_`, but it is not _read-only_ as shown in:

[code]

the public _getter_ `ge

[2021-03-15 15:11] modulovalue opened #3072 "Archived numeric computation article links to removed benchmarking article"
URL: https://dart.dev/articles/archive/benchmarking
Expected page: An archived article about benchmarking

Found multiple times at https://dart.dev/articles/archive/numeric-computation

[2021-03-15 15:38] bwilkerson commented on #3059
It's my understanding (@munificent, please correct me if I'm wrong) that the quote above is a slight exaggeration and that null safety actually disallows all implicit downcasts _except_ for those from `dynamic`.

And it's also my understanding (@srawlins, please correct me if I'm wrong) that the option still reports an error in the case where an implicit downcast from `dynamic` is found.

Assuming

[2021-03-15 21:45] esDotDev opened #3074 "'Migrating to null safety' page issue"
The guidance on[ this page](https://dart.dev/null-safety/understanding-null-safety#null-assertion-operator) currently endorses using ! operator to "cast away" nullability, as a workaround for the static analyzer's inability to trust null-checks on non-local vars.

This is fundamentally a risky approach, because it leaves future NPEs in the code. Consider:
[code]

It's quite easy for some developer

[2021-03-16 00:31] #3070 closed

[2021-03-16 00:36] kwalrath commented on #3074
The proposal sounds reasonable, but presumably we introduced `!` for a good reason, so I'd like input from one of our language gurus.

/cc @mit-mit @munificent

[2021-03-16 00:51] kwalrath commented on #3072
Here's the most recent version I could find of the benchmarking article:
https://web.archive.org/web/20160702204441/https://www.dartlang.org/articles/benchmarking/

So it was apparently removed between July and October, 2016.

We've gotten only a handful of requests for the benchmarking article in the past 30 days, so I think the easiest fix is to just remove the links from the numeric computation

[2021-03-16 09:45] wujek-srujek commented on #3059
Hi @bwilkerson you are right, I've just tested it, and implicit downcasting to dynamic still works, and `implicit-casts: false` reports this as error.

[2021-03-16 17:22] #2898 closed

[2021-03-16 19:32] kwalrath commented on #2728
#3076 added a note about dart pub get, so I'm going to close this. We might still add a separate step, but only if people tell us that it's a good idea.

[2021-03-16 19:32] #2728 closed

[2021-03-16 20:00] devahmedsaleh opened #3077 "implement not extend Exception class"
In [Intro to Dart for Java Developers](https://codelabs.developers.google.com/codelabs/from-java-to-dart/#3) Codelab, it is mentioned that:

But In Dart, we cannot `extend `the Exception class, it should be replaced by `implement`

[2021-03-16 23:43] kwalrath commented on #3072
Fixed by #3079

[2021-03-16 23:43] #3072 closed

[2021-03-16 23:53] kwalrath commented on #3077
Thanks for spotting this! You're right, I think: it should be _implement_.

[2021-03-18 23:27] munificent opened #3081 ""with with" typo in "Effective Dart""
In [AVOID writing incomplete generic types](https://dart.dev/guides/language/effective-dart/design#avoid-writing-incomplete-generic-types), there is a duplicate "with".

[2021-03-19 01:04] kwalrath commented on #3081
Sounds like a great bug for a new contributor to fix!

[2021-03-19 12:00] dcharkes opened #3084 "'C interop using dart:ffi' page mention package:ffi"
We should get package:ffi mentioned (utf conversions, memory management) on https://dart.dev/guides/libraries/c-interop.

cc @mit-mit

[2021-03-19 12:19] mit-mit commented on #3084
+1

[2021-03-19 20:48] kwalrath commented on #3084
There are a couple of different approaches we could take, depending on how much we want to emphasize package:ffi:

1) Add package:ffi (and maybe package:ffigen?) to the first paragraph, and link to its docs from the second paragraph. Maybe add (or link to) examples of using it.

2) Treat it like we do package:ffigen, where's it's covered only in a separate section.

We should also add package:ffi

[2021-03-20 16:58] parlough commented on #2684
I have a feeling if you try again with the a stable SDK >= 2.12 on your path this may now work, but if not - can you provide the output so I can take a look?

Depending on what you find I can also update the instructions in the README, providing some other extra context that may be useful in general.

[2021-03-22 07:50] yangfu132 opened #3091 "'Migrating to null safety' page issue"
Page URL: https://dart.dev/null-safety/migration-guide.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/null-safety/migration-guide.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

“Apply migration” is not available in Chrome , Chrome version is 89.0.4389.90, MacOSX.

[2021-03-22 08:00] mit-mit commented on #3084
In practice, I'd think that anyone writing FFI code will be using the package. So I'd just add some example of using it for utf conversions and freeing memory.

[2021-03-22 16:51] parlough commented on #3091
Just to verify, you don't see the "apply migration" button in the upper right of the migration tool?

[2021-03-22 22:48] kwalrath commented on #3084
Where's some good sample code we can use?

[2021-03-22 22:58] #2692 closed

[2021-03-22 23:54] kwalrath opened #3093 "Make updates null safety codelab"
#2983 created the null safety codelab. Here's how we should follow up, in rough order of most urgent/easy to less urgent/easy:

- [x] Add /codelabs/null-safety to the list of codelabs in /codelabs (#3112)
- [x] Listof -> ListOf: https://github.com/dart-lang/site-www/pull/2983#discussion_r598166849 (#3112)
- [x] Add link to this bug from the null safety codelab, and perhaps explicitly mention featu

[2021-03-23 07:23] rad10wave commented on #3081
Can I work on this issue?

[2021-03-23 09:15] dcharkes commented on #3084
The samples repo contains code, but misses some memory management.

https://github.com/dart-lang/samples/blob/master/ffi/structs/structs.dart#L65-L69

Here's a version of `reverse` with memory management:

[code]

[2021-03-23 17:36] kwalrath commented on #3081
It's yours, @rad10wave!

[2021-03-23 18:24] kwalrath commented on #3057
During the reorg, rename /server to /cli

[2021-03-23 18:28] kwalrath opened #3096 "Add a page on how to run Dart in Docker"
/cc @mit-mit @kevmoo

[2021-03-23 18:30] #1195 closed

[2021-03-23 21:56] munificent commented on #3081
Fixed!

[2021-03-23 21:56] #3081 closed

[2021-03-23 22:57] munificent commented on #3074
It's not just a workaround for that. It's an escape hatch for any case where the static type system is too conservative and pessimistic and doesn't correctly understand that some code is dynamically code. It's exactly like an `as` expression. You try to avoid using them, but sometimes they are the best solution.

Yes, just like `as` expressions can also potentially throw exceptions (as downcasts c

[2021-03-23 22:57] #3074 closed

[2021-03-24 21:32] kenzieschmoll opened #3099 "DevTools documentation is out of date"
The chart [here](https://dart.dev/tools/dart-devtools) is stale.

* Missing information about Flutter Desktop in general (all our tools are enabled for flutter desktop)
* Missing information about the [network](https://flutter.dev/docs/development/tools/devtools/network) view. Available for Flutter native (non-web) and Dart CLI.
* Missing information about the [app size](https://flutter.dev/docs/d

[2021-03-25 20:04] parlough opened #3101 "[Next Release] Update references to and documentation around Stagehand"
Various references will be need to be removed, updated, or added to with the transition to what was stagehand just being part of `dart create` as the explicit references to stagehand won't be so relevant or necessary anymore.

https://github.com/dart-lang/sdk/commit/f6ce7a829f288267fb9720a30346ff4c086001ab

[2021-03-25 20:56] kwalrath commented on #3101
`fgrep -Rl stagehand src` shows 5 occurrences of "stagehand" in the site:

- [ ] src/tools/dart-tool.md
- [ ] src/_tutorials/web/get-started.md
- [ ] src/_tutorials/server/get-started.md
- [ ] src/_tutorials/server/cmdline.md
- [ ] src/_guides/libraries/useful-lib

raries.md

[2021-03-26 13:47] srawlins opened #3103 "downcast is no longer but in doc, it say that works. fix plz"
@rlaehddnrwiki commented on [Thu Mar 25 2021](https://github.com/dart-lang/dartdoc/issues/2592)

![화면 캡처 2021-03-26 093839](https://user-images.githubusercontent.com/59792586/112561130-f02ff980-8e17-11eb-9d71-e9ba39eeee13.png)
![화면 캡처 2021-03-26 094216](https://user-images.githubusercontent.com/59792586/112561135-f1612680-8e17-11eb-8200-a17db565c311.png)
![화면 캡처 2021-03-26 094231](https://user-ima

[2021-03-26 19:46] simphotonics opened #3104 "'Formatting code' page issue | The flag -w is not longer supported"
Page URL: https://dart.dev/guides/language/formatting
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/formatting.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

The guide suggest using the command:
[code]
For the current stable version:
[code]
The flag `-w`

[2021-03-29 16:57] #3104 closed

[2021-03-29 17:00] kwalrath commented on #3104
Thanks for the report (@simphotonics), the fix (@micpap25), and the review (@parlough)!

[2021-03-29 20:43] uerceg opened #3108 "'Migrating to null safety' dead anchor link"
Hey guys.

Minor issue spotted on [this](https://dart.dev/null-safety/migration-guide) page. Chapter 5, `Set the package version to indicate a breaking change.` anchor link. It's set to point to https://dart.dev/null-safety/migration-guide#version and seems like that's non existing part on the page. I assume it's mean to point to `Package version` which is accessed with https://dart.dev/null-safet

[2021-03-30 23:15] #3108 closed

[2021-03-31 03:56] parlough opened #3111 "How do we want to refer to dart_style(dartfmt) and its functionality?"
The [dart_style](https://pub.dev/packages/dart_style) package is used to implement `dart format` and previously/still `dartfmt`. There are places we refer to this package/functionality as `dartfmt`, `dart format`, and perhaps some other repositories refer to it as `dart_style`(we do but only in reference to the pub listing I believe).

IntelliJ also has a lot of strings referring to it as `dartfmt

[2021-03-31 04:08] domesticmouse commented on #3111
My understanding is that `dart format` is the new name for `dartfmt`. I don't know what the story is with `dart_style`.

@mit-mit can you clarify?

[2021-03-31 07:30] mit-mit commented on #3111
I would use the prose "The Dart formatter" or the tech term `dart format` regarding on the context. I would not refer to the repo name, which is an implementation detail, and may change.

[2021-03-31 17:39] morrica commented on #1263
This is indeed difficult to figure out. Based on the information a google search can provide it seems that the library directive is intended to make the following private access work, but it doesn't.

File `base_thing.dart`:
[code]
File `thing.dart`:
[code]

The solution seems to be to use `part`, `part of` directives, but that doesn't really work if I have a `Thing2` that also wants access to `Ba

[2021-03-31 18:40] kwalrath commented on #2565
I'm starting on this now.

[2021-04-01 09:02] Ahmed-Adel-Ismail-Talabat opened #3114 "after following the instructions, cannot find dart path"
Page URL: https://dart.dev/get-dart.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/get-dart.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

after following the instructions, dart is downloaded, but cannot find it on the machine

[2021-04-01 20:26] bharat-biradar commented on #2617
@kwalrath I can take them

[2021-04-02 11:14] dark-chocolate opened #3115 "'dart pub outdated' page issue"
Page URL: https://dart.dev/tools/pub/cmd/pub-outdated.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/pub/cmd/pub-outdated.md

**Description of issue:**

The output shown In the very first run of `dart pub outdated` command:

![image](https://user-images.githubusercontent.com/40364434/113410820-98176b00-93b4-11eb-9c65-dbdabc4eefd2.png)

As you can see here, `path` is

[2021-04-02 12:16] bharat-biradar commented on #2617
@parlough is there anything that needs to be changed in [experiment-flags.md](https://github.com/dart-lang/site-www/blob/master/src/tools/experiment-flags.md). I couldn't find anything

[2021-04-02 14:05] lexent3010 opened #3117 "Custom type for map"
Hello. I do not understand if there is an opportunity to create your own type for map in dart. I want only certain strings from variables, or a list, to be the keys of an object.

[2021-04-02 14:57] woinbo commented on #2617
I too looked at this file but found nothing which should be corrected, Everything is perfect and fine. Thank you!

[2021-04-02 15:13] kwalrath commented on #2617
At a glance, `$ dart --enable-experiment=super-mixins,no-slow-checks bin/main.dart` needs to be changed to use `dart run`. That might be all.

[2021-04-02 17:02] parlough commented on #3117
I'm not exactly sure what you're requesting. To cover any potential meaning, I outlined a few possible scenarios:

If you want to specify what type of values a map can contain as its key and values, you can specify generic types. For example a `Map<String, int>` is a map with `String` keys and `int` values. You can learn more about this in the [Maps](https://dart.dev/guides/language/language-tour#

[2021-04-02 17:35] bharat-biradar commented on #2617
@woinbo As mentioned in the [comment](https://github.com/dart-lang/site-www/issues/2617#issuecomment-775352675) should a new example be added? Or is it fine to just port the existing docs for now?

[2021-04-02 19:56] lexent3010 commented on #3117
Let me give you an example. We have such a list or other string variable.
`var list = ['foo', 'bar', 'hello', 'world']`
And I want only the values in the list to be used in the role of keys when initializing an object.
And I would like the compiler to track this. You understood correctly that I used this in TypeScript

[2021-04-03 03:48] micpap25 commented on #3114
This issue is not directly related to the Dart Documentation, but rather deals with the program you are using to download Dart. Refer to the docs for Chocolatey or Homebrew if you're on Windows / Mac respectively.

Regardless, not being able to find the installation shouldn't prevent you from using Dart.

[2021-04-03 20:00] bharat-biradar commented on #2617
@kwalrath Except for this [installation script](https://github.com/dart-lang/site-www#3-run-installation-scripts) anything else needs to be updated?

[2021-04-04 21:12] parlough commented on #3117
Yeah I'm not sure there is a great way of achieving this in Dart currently.

As this is the GitHub repo for the [Dart website](https://dart.dev), I recommend you instead create an issue on the [Dart language GitHub repo](https://github.com/dart-lang/language/issues) with your request and an example. They handle what features get added to the language and you will be able to have more discussions t

[2021-04-05 18:06] kwalrath commented on #2617
https://dart.dev/tools/pub/cmd/pub-deps needs to be updated to match the other pub subcommands pages (e.g. https://dart.dev/tools/pub/cmd/pub-cache).

[2021-04-05 18:24] bharat-biradar commented on #2617
@kwalrath I have opened a [PR](https://github.com/dart-lang/site-www/pull/3118) for pub deps.
I found some installation scripts that use pub commands please see if they also need to be updated
- [site-shared/tools/check-links.sh](https://github.com/dart-lang/site-shared/blob/824f80fa9c91f49299c02ac0a43920a65877bba4/tool/check-links.sh#L89)
- [sire-shared/tools/before-install.sh](https://github.com

[2021-04-05 20:24] kwalrath commented on #2617
Thank you! I've merged it.

Yes, those should be updated, too. Want to do it?

[2021-04-05 20:28] kwalrath commented on #3117
Thanks for the answer, @parlough! I'm going to close this, since there's no actionable item for the docs.

[2021-04-05 20:28] #3117 closed

[2021-04-05 20:34] kwalrath commented on #3114
Thanks for answering, @micpap25.

@Ahmed-Adel-Ismail-Talabat, I'd suggest getting help from one of the [community forums](https://dart.dev/community#join-the-conversation), like StackOverflow. Once you figure out the solution, if you have specific suggestions for the docs, we'd love an issue/PR with a link to whatever resource helped you.

(We generally avoid documenting other tools or OS-specific

[2021-04-05 20:34] #3114 closed

[2021-04-06 05:29] bharat-biradar commented on #2617
@kwalrath Yes, I'll update them.

[2021-04-06 18:32] kwalrath commented on #3115
This was an actual screenshot, and I don't believe path was a transitive dependency (although it might've been both direct and transitive).

[2021-04-06 18:45] dark-chocolate commented on #3115
@kwalrath Ok, it means `path` was a direct dependency. But then this line in the second part of the article needs to be changed.

Additionally , the latest screenshot shows the exact word for "direct dependencies" and "transitive  dependencies", screenshot attached:

![image](https://user-images.githubusercontent.com/40364434/113762349-c9779a00-9718-11eb-8722-b60554caa9e8.png)

![image](https://us

[2021-04-06 18:59] kwalrath commented on #2617
@bharat-biradar no need to update site-shared... looks like @mit-mit has just done it in https://github.com/dart-lang/site-shared/pull/129.

[2021-04-06 19:00] kwalrath commented on #2617
I'm going to update site-www to use the new site-shared now, and then... I think we'll be done!

[2021-04-06 19:19] dark-chocolate opened #3124 "Clarify calling one library in two ways on 'Effective Dart: Usage' page"
Page URL: https://dart.dev/guides/language/effective-dart/usage
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/effective-dart/usage.md

Description of issue:

Quoting [this article](https://dart.dev/guides/language/effective-dart/usage#dont-allow-an-import-path-to-reach-into-or-out-of-lib),

![image](https://user-images.githubusercontent.com/40364434/113766415-

[2021-04-06 19:32] #2617 closed

[2021-04-06 23:21] munificent commented on #3059
That's right. Personally, I don't tend to think of casts from `dynamic` as "downcasts". I know technically they are because `dynamic` is *a* top type, but my mental model is more that `dynamic` steps outside of the concept of a type hierarchy entirely.

[2021-04-06 23:23] munificent commented on #3103
That point in the article is explaining how Dart *would* have behaved if we had added null safety but kept implicit downcasts. But then it clarifies that we didn't do that. So I think we're OK.

[2021-04-06 23:23] #3103 closed

[2021-04-08 09:44] mit-mit opened #3128 "Writing servers tutorial and http_server"
We have a server tutorial here, which mentions using `package:http_server`:
https://dart.dev/tutorials/server/httpserver#using-http-server-package

This package has been discontinued. fyi @kwalrath

@kevmoo WDYT about replacing this with steps for `package:shelf`?

[2021-04-08 15:46] kevmoo commented on #3128
Sure, @mit-mit !

[2021-04-08 16:25] kevmoo commented on #2917
Gah! I'm hitting this now. Makes me very sad.

We're migrated to actions now, right?

[2021-04-08 17:20] #2565 closed

[2021-04-08 17:30] #2917 closed

[2021-04-08 17:42] kwalrath commented on #3128
@kevmoo started work on this, but we'd love for someone to volunteer to complete it.

His start: https://github.com/dart-lang/site-www/tree/i3128_make_sample_shelf

[2021-04-08 19:53] dark-chocolate opened #3130 "'Extension methods' page issue, remove redundant generic type annotation."
Page URL: https://dart.dev/guides/language/extension-methods
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/extension-methods.md

Description of issue:

In the code used in [Implementing generic extensions](https://dart.dev/guides/language/extension-methods#implementing-generic-extensions), this line

[code]

should be made

[code]

because of [effective dart's

[2021-04-08 20:19] eernstg commented on #2565
🎉 :tada: :tada:

[2021-04-08 22:18] parlough commented on #3130
Thanks for catching this! It's always a good idea to follow and encourage best practices.

[2021-04-08 22:54] #3130 closed

[2021-04-09 00:20] tetkin-g opened #3132 "Effective dart > async/await guideline bug"
## Page

https://dart.dev/effective-dart/usage#prefer-asyncawait-over-using-raw-futures

## Notes

In Effective Dart, the guideline about preferring async/await over raw futures includes this as an example of *good* code:
[code]
However it violates the guideline about catches without `on` clauses.

[2021-04-09 00:49] kwalrath commented on #3124
It's true that the first line isn't bad; it's the combination of the two lines that's bad. I'm not sure how to make this clearer.

[2021-04-09 05:56] sdkdeepak1612 opened #3135 "'Fixing common type problems' page issue"
Page URL: https://dart.dev/guides/language/sound-problems
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/sound-problems.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
Error: The argument type 'String?' can't be assigned to the parameter type 'String' becau

[2021-04-09 05:59] #3135 closed

[2021-04-09 15:25] dark-chocolate commented on #3124
@kwalrath By "combination", do you mean there should be a space between the two lines (as mentioned in best practices)?

[2021-04-09 16:37] kwalrath opened #3137 "Mac -> macOS"
Per the discussion in #2892.

[2021-04-09 16:40] dark-chocolate opened #3138 "'Understanding null safety' page issue, code is missing a return statement."
Page URL: https://dart.dev/null-safety/understanding-null-safety/
Page source: https://github.com/dart-lang/site-www/tree/master/src/null-safety/understanding-null-safety/index.md

Description of issue:

In the code sample used [here](https://dart.dev/null-safety/understanding-null-safety#type-promotion-on-null-checks), the `return` statement is missing.

![image](https://user-images.githubusercon

[2021-04-09 16:44] kwalrath commented on #3124
No, I mean that you're including the same library in two different ways, which is very bad.

Maybe we could change the example to something like this:

[code]

[2021-04-09 16:52] dark-chocolate opened #3139 "'Understanding null safety' page issue"
Page URL: https://dart.dev/null-safety/understanding-null-safety/

Description of issue:

Taking the code written [here](https://dart.dev/null-safety/understanding-null-safety#unnecessary-code-warnings)

[code]

Instead of showing a warning like "The receiver can't be null, so the null-aware operator '?.' is unnecessary.", it gives an error:

![image](https://user-images.githubusercontent.com/4036

[2021-04-09 17:01] dark-chocolate commented on #3124
@kwalrath I didn't pay attention to the 2nd import line in 1st screenshot. I thought it would be `import 'test_utils.dart'`. I got your point now.

[2021-04-09 17:56] kwalrath commented on #3124
You aren't the first person to be confused by the example, so I think it needs some improvement.

[2021-04-09 18:12] #3111 closed

[2021-04-10 16:05] vanila1007 opened #3141 "'Sound null safety' page issue"
Page URL: https://dart.dev/null-safety/
Page source: https://github.com/dart-lang/site-www/tree/master/src/null-safety/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-04-11 03:42] arielszy opened #3142 "accessing data in variable from another variable"
hi. this threat has the purpose of knowing if theres a way to do this or adding in a future dart version.
this is what am trying to do:

var a='data';
var name ='a';

print(a);// output 'data'
print(name);//output 'a'
print('$a');// output 'data'
print('$name');// output 'a'

print('$$name');// output should be  'data' like in php

i want to do this in dart.

[2021-04-11 16:31] bharat-biradar commented on #3137
@kwalrath I have opened a PR for this issue.

[2021-04-12 12:56] Sameerkash commented on #3128
@kwalrath, I was working on this #3058  issue a few weeks ago but wasn't able to complete it, I was picking it up again today and saw this issue, don't these two serve the same purpose?

I'd like to volunteer as I have some work, I'll refactor it to work with the current one.

[2021-04-12 14:32] kevmoo commented on #3128
Happy to coordinate with you @Sameerkash !

[2021-04-12 14:38] Sameerkash commented on #3128
Thanks, @kevmoo, I took a look at your current code, as I understand you've updated the example code I believe, the actual httpserver.md would require a doc update explaining shelf.

Also, if this is same as #3058 , that should be closed

[2021-04-12 15:54] kevmoo commented on #3128
I think that's fair. I'm trying to purge use of both pkg:http_server and (honestly) use of dart:io HTTP server logic, too.

It's way too verbose and complex. I think shelf is just easier to understand

[2021-04-12 16:20] Sameerkash commented on #3128
@kevmoo, I initially thought of mentioning the shelf on the same page, but yes removing it makes more sense.

If you can tell me with what I should proceed, I can make a PR soon.

[2021-04-12 16:31] kevmoo commented on #3128
you can honestly RUN w/ my current branch. Just make it yours. Do updates inline.

Let me chat with @kwalrath first to make sure it's cool w/ her

[2021-04-12 16:40] Sameerkash commented on #3128
Thanks, @kevmoo,

I've rebased it with my own branch, just to be clear, I'll update the doc `httpserver.md`  and explain how shelf can be implemented on similar lines of HttpServer.

[2021-04-12 18:10] kwalrath commented on #3128
To be clear, I'm completely cool with @Sameerkash doing this work!

[2021-04-12 20:57] kwalrath commented on #3141
Closing due to lack of description

[2021-04-12 20:57] #3141 closed

[2021-04-12 23:39] kwalrath commented on #3099
Also, we should update the homepage's screenshot of DevTools (3rd bullet under Productive development), as mentioned in #2889.

[2021-04-13 13:55] kwalrath opened #3145 "Check initial whitespace in code blocks"
I noticed this while working on the [C interop page](https://dart.dev/guides/libraries/c-interop#using-dartffi). In the following screenshot from an in-progress version of the page, the line continuations (lines 2, 5, and 8) should be indented 4 or 6 spaces, but they're only indented 1 or 3 spaces:

![image](https://user-images.githubusercontent.com/2164483/114563171-074a5600-9c24-11eb-9352-b6be68

[2021-04-15 02:37] parlough commented on #3142
Hey @arielszy thanks for opening the issue.

My understanding is you would essentially like dynamic variable evaluation. Personally, I'm not sure this fits well into Dart which now has a lot of static guarantees with a focus on familiarity and readability.

I don't know much about language design though and this repository is for the [Dart website](https://dart.dev) and not the language itself. I

[2021-04-15 02:43] arielszy commented on #3142
Hi. I did. I realized that after publishing here. Thanks. by the way, they dont want to add this feature.

[2021-04-15 15:47] #2242 closed

[2021-04-15 15:48] kwalrath commented on #3142
I'm going to close this issue, but thanks @parlough and @arielszy for the discussion.

[2021-04-15 15:48] #3142 closed

[2021-04-15 16:21] Sameerkash commented on #3128
Waiting for @kevmoo approval to proceed.

[2021-04-15 17:12] kevmoo commented on #3128
Go for it, @Sameerkash – do you want to start with an outline/proposal in a Google Doc first?

[2021-04-15 17:14] Sameerkash commented on #3128
Sure @kevmoo, any previous such docs ? So I can get more idea how to structure it and what to include it ?

[2021-04-15 17:58] kwalrath commented on #3128
Whatever works for you is good. One possibility is to copy over the content of the existing page and add comments (which don't have to be detailed) about what needs to change.

-k-

[2021-04-15 18:42] #1165 closed

[2021-04-16 19:54] #2925 closed

[2021-04-16 22:27] kwalrath commented on #3124
Turns out we had a PR from long ago that aims to fix this. I think it's ready to commit, and I hope it helps.

[2021-04-16 22:34] #2954 closed

[2021-04-20 00:31] kwalrath opened #3156 "Make an include that lists all pub subcommands"
While reviewing PR #3150, I noticed that https://dart.dev/tools/pub/cmd#list-of-subcommands and https://dart.dev/guides/packages#pub-subcommands both list all the pub subcommands. They should use an include file instead of duplicating the info.

[2021-04-20 08:08] #1029 closed

[2021-04-20 16:06] kwalrath opened #3158 "dart.dev homepage doesn't say "open source" anywhere"
I'd think that we'd want to say something on the homepage about Dart being open source. flutter.dev _does_ have the words "open source" on its homepage ("Install Flutter today. It’s free and open source.")

Some more notes:
* https://dart.dev/overview also doesn't have the words "open source".
* A search for "open source" on the site turns up mentions on https://dart.dev/brand, https://dart.dev/co

[2021-04-20 16:52] mit-mit commented on #3158
Yeah, good point!

[2021-04-20 22:27] munificent commented on #3138
Fixed now.

[2021-04-20 22:27] #3138 closed

[2021-04-21 16:22] kwalrath opened #3159 "Add a page listing go links"
Flutter already has an auto-generated page of go links: https://flutter.dev/docs/resources/design-docs.

Also we should be consistent with whatever flutter.dev does to address https://github.com/flutter/website/issues/5665.

[2021-04-21 20:34] jjmean2 opened #3161 "'Understanding null safety' page issue"
Page URL: https://dart.dev/null-safety/understanding-null-safety/
Page source: https://github.com/dart-lang/site-www/tree/master/src/null-safety/understanding-null-safety/index.md

Description of issue:

In the first paragraph of [Required named parameters](https://dart.dev/null-safety/understanding-null-safety#required-named-parameters) section, I think this sentence

should be this. (nullable ->

[2021-04-21 21:49] kwalrath commented on #3161
@munificent I think @jjmean2 is right. OK for us to make this change?

[2021-04-21 22:03] jjmean2 opened #3162 "'Understanding null safety' page issue"
Page URL: https://dart.dev/null-safety/understanding-null-safety/
Page source: https://github.com/dart-lang/site-www/tree/master/src/null-safety/understanding-null-safety/index.md

Description of issue:

In the [Nullability and generics](https://dart.dev/null-safety/understanding-null-safety#nullability-and-generics) section, there is following code example and description.

But testing this code

[2021-04-21 22:35] squarelab-jwlee commented on #3162
Oh, there is same issue already reported for this. I didn't see it. Sorry for duplicate issue.

https://github.com/dart-lang/site-www/issues/2763

I don't know how to delete or close this issue post.

[2021-04-21 22:36] jjmean2 commented on #3162
Oh, there is same issue already reported for this. I didn't see it. Sorry for duplicate issue.

https://github.com/dart-lang/site-www/issues/2763

I don't know how to delete or close this issue post.

[2021-04-21 22:39] jjmean2 commented on #3162
close because it's duplicate issue.

[2021-04-21 22:39] #3162 closed

[2021-04-21 23:48] kwalrath commented on #3162
Thanks for being so thorough, @jjmean2!

[2021-04-22 03:05] #3156 closed

[2021-04-22 15:36] dark-chocolate opened #3163 "'Write HTTP clients' Use HttpServer instead of Stream<HttpRequest>"
Page URL: https://dart.dev/tutorials/server/httpserver
Page source: https://github.com/dart-lang/site-www/tree/master/src/_tutorials/server/httpserver.md

Description of issue:

Referring the code written [here](https://dart.dev/tutorials/server/httpserver#using-http-server-package):

[code]

But we can't get the address and port number from the `Stream<HttpRequest>`. We should rather change it to

[2021-04-22 17:25] kwalrath commented on #3163
/cc @Sameerkash, who volunteered to work on #3128.

[2021-04-22 17:26] kwalrath commented on #3163
Also /cc @kevmoo @mit-mit

[2021-04-22 17:27] kwalrath commented on #3128
@Sameerkash can you update us on your progress?

Also, #2435 is another relevant issue.

[2021-04-22 17:30] Sameerkash commented on #3163
Yes, me and @kevmoo are in constant communication trying to rewrite this page to use shelf.

This should be up soon

[2021-04-22 17:32] Sameerkash commented on #3128
We got the outline of what should go on the page.

I'm preparing an initial draft content for kevmoo to review.
Hopefully it should he done by tomorrow.

[2021-04-22 18:24] kwalrath commented on #3163
Marking this as blocked since I don't want to close it, but it should be addressed by #3128.

[2021-04-26 04:03] parlough commented on #46
This package has now been deprecated due to the following reasoning:

As such our documentation around `dart:io` and `package:http` should be sufficient.

[2021-04-26 04:12] parlough commented on #63
This would be huge for contributions and reviews, especially with the complicated setup the website currently has.

This should be able to be done with Firebase and preview channels. There's a [simple guide](https://firebase.google.com/docs/hosting/github-integration) on the Firebase website and a Firebase team member wrote a longer guide [on Medium](https://medium.com/firebase-developers/the-comp

[2021-04-26 04:30] parlough opened #3165 "Why do we use the touch-icon dev logos?"
In [head.html](https://github.com/dart-lang/site-www/blob/master/src/_includes/head.html) is there a reason we use the touch-icon- (found in [_assets/image](https://github.com/dart-lang/site-www/tree/master/src/_assets/image)) dev logos instead of the Dart logo?

This results in that icon showing up instead of the Dart logo in Google search on mobile.

![image](https://user-images.githubuserconten

[2021-04-26 04:40] parlough commented on #2594
Fixed by https://github.com/dart-lang/site-www/pull/2600

[2021-04-26 04:54] domesticmouse commented on #3165
@kwalrath is the source of truth on this call, but I suspect a Dart logo would be betterer.

[2021-04-26 16:35] #2594 closed

[2021-04-26 16:41] #46 closed

[2021-04-26 16:44] kwalrath commented on #3165
Oh that's weird. Yes, it should be the Dart logo. I can't think of when we'd intentionally use the dev logo for anything on our site.

@parlough if you could fix this, I'd appreciate it!

[2021-04-26 16:49] kwalrath commented on #63
I believe that someone (@chalin maybe?) tried implementing this but ran into issues. It might have been before preview channels were available.

[2021-04-26 16:53] chalin commented on #63
Hi y'all. I did look into this a bit quite a while back. Right: I don't think preview channels existed back then. Yes this would be great to have! 🎉

[2021-04-26 17:20] parlough opened #3169 "[Next Release] Add documentation around non-function type aliases"
Since this feature has been confirmed as part of the 2.13 release, creating this issue to track future work in documenting this functionality.

Will require changes/additions in at least the [language tour typedef section](https://dart.dev/guides/language/language-tour#typedefs) and perhaps other examples as well.

Changelog here: https://github.com/dart-lang/sdk/blob/master/CHANGELOG.md#language-

[2021-04-26 18:22] parlough commented on #3169
Duplicate of https://github.com/dart-lang/site-www/issues/2937

[2021-04-26 18:22] #3169 closed

[2021-04-26 21:09] #3007 closed

[2021-04-28 15:11] #3165 closed

[2021-04-28 20:15] dark-chocolate opened #3175 "'Customizing static analysis' page issue analysis_option_deprecated link not found"
Page URL: https://dart.dev/guides/language/analysis-options
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/analysis-options.md

In the [warning](https://dart.dev/guides/language/analysis-options#customizing-analysis-rules) part, the link for `analysis_option_deprecated` is broken.

![image](https://user-images.githubusercontent.com/40364434/116466782-350fdb80-a

[2021-04-29 06:41] #3158 closed

[2021-04-29 16:04] kwalrath commented on #3175
Thanks for letting us know about this, @dark-chocolate!

@bwilkerson, is there another place that https://dart.dev/guides/language/analysis-options#customizing-analysis-rules can link to? (The link to todo is also broken.)

[2021-04-29 16:31] bwilkerson commented on #3175
It looks like we're now publishing documentation for only the public API of the analyzer package, and the individual error codes are not part of that public API, so there's no dartdoc to which these could link.

For `invalid_assignment` we could potentially link to https://dart.dev/tools/diagnostic-messages#invalid_assignment (which is probably more informative than the doc comment for the error c

[2021-04-29 17:17] kwalrath commented on #3175
How about these:

* Hint: https://dart.dev/tools/diagnostic-messages#dead_code
* Warning: https://dart.dev/tools/diagnostic-messages#invalid_null_aware_operator
* Error: https://dart.dev/tools/diagnostic-messages#invalid_assignment (as you suggested)

[2021-04-29 18:16] parlough commented on #3175
I think these are a great set that will all be relatively commonly experienced!

[2021-04-29 18:31] bwilkerson commented on #3175
Those all look good to me too.

[2021-04-29 20:06] dark-chocolate opened #3176 "'build_runner' page issue: Remove redundant "pub"."
Page URL: https://dart.dev/tools/build_runner.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/build_runner.md

Description of issue:

Referring [this](https://dart.dev/tools/build_runner#using-built-in-commands),

![image](https://user-images.githubusercontent.com/40364434/116611695-f80f1c00-a936-11eb-9c00-af272f6fe010.png)

We can remove `pub` from them as it is redu

[2021-04-29 20:22] parlough commented on #3176
Thanks for the report! Definitely something we should update :)

If this is something you want to contribute yourself, feel free to open a pull request, and I can help you with any issues that come up. Otherwise, I can create a pull request with a fix in a few days.

[2021-04-29 21:29] #751 closed

[2021-04-29 22:53] parlough commented on #2276
@mraleph I know you mentioned creating some performance/benchmarking content relatively recently, did any of that come to fruition? Would be useful to use as a reference while working on an updated page.

[2021-04-30 03:08] parlough commented on #3137
@bharat-biradar The [Debugging Dart web apps](https://dart.dev/web/debugging) page which can be found in [debugging.md](https://github.com/dart-lang/site-www/blob/master/src/web/debugging.md) still has a few `Mac` references instead of `macOS`.

Would you like to update those in a new PR? I'd be happy to review it for you :)

[2021-04-30 03:23] bharat-biradar commented on #3137
@parlough Yes I will.

[2021-04-30 05:58] parlough commented on #1360
Now that `site-www` and other Dart repositories have standardized on GitHub Actions and it's gone well so far, is this something you still want done?

[2021-04-30 06:11] parlough opened #3182 "Update cmdline.md(Write command-line apps) to null safety"
The guide for [writing basic command-line apps](https://dart.dev/tutorials/server/cmdline) needs to be updated to null safety alongside some other updates.

I am almost done with this and will push a pull request for review within the next few days.

[2021-04-30 11:13] shellong opened #3183 "Codelabs - iterable collections, the function name filterUnder21 is incorrect"
**Issue location**
Exercise: Filtering elements from a list
https://dart.dev/codelabs/iterables#exercise-filtering-elements-from-a-list

**Issue description**
The codelab function name is **filterUnder21**, but the codelab instruction and the proposed solution suggests to return all users of age 21 or more.

[2021-04-30 13:44] mraleph commented on #2276
@parlough I have written this: https://mrale.ph/blog/2021/01/21/microbenchmarking-dart-part-1.html

I have few other things I want to write about but sadly I am very stretched. I would be happy to collaborate with you if you are planning to write a new page.

[2021-04-30 16:43] parlough commented on #3183
Thanks for the report @shellong!

I'm thinking the intention was to imply filtering _out_ users under 21, but I can see how this can be confusing. Particularly since Java and JavaScript both provide a `filter` method that works similarly to Dart's `where` method.

I'll give some thought on the best way to improve clarity here, but I'm open to ideas! Perhaps renaming the method to `filterOutUnder21

[2021-04-30 17:19] shellong commented on #3183
Hey @parlough,
Thank you for a quick reply!
I like your suggestion renaming it to findOver21, though this name doesn't reflect people at the age of 21.
FilterOutUnder21 sounds more accurate.
The third option could be findUSLegalAlcoholConsumers 🍺
Thanks :)

[2021-04-30 17:36] sfshaza2 opened #3187 "Add info on how to uninstall Dart"
Inspired by this issue on flutter.dev:  https://github.com/flutter/website/issues/5695

[2021-04-30 17:59] Sameerkash commented on #3128
Just to update, kevmoo has been busy to review my work, so still waiting for comments and changes and how to proceed with this.

[2021-04-30 18:19] parlough commented on #3187
Definitely a good idea. With our current setup, these are the following cases which seem the most important to cover:

- [ ] Uninstalling with Chocolatey in the Windows tab on [Get Dart](https://dart.dev/get-dart)
- [ ] Uninstalling with apt in the Linux tab on [Get Dart](https://dart.dev/get-dart)
- [ ] Uninstalling Debian packages with `dpkg` in the Linux tab on [Get Dart](https://dart.dev/get-d

[2021-04-30 18:22] sfshaza2 commented on #3187
I like the way you think, @parlough!

[2021-04-30 18:49] Sameerkash commented on #3187
Great points @parlough,
I'll see if I can take this up once I finish up with the issue on flutter site, if there's on WIP on this one by then.

[2021-05-01 07:30] bharat-biradar commented on #3137
@parlough Anything else I can help with.

[2021-05-01 11:28] dark-chocolate commented on #3176
@parlough

Thanks but I almost never did this so you might have tough time here, haha.

Actually, you're right, we can't use `flutter run` for running pub packages. So, we should only remove `pub` from the dart command but then these might not look align with each other:

[code]

[2021-05-02 20:39] parlough commented on #3137
@bharat-biradar I think that's all for this issue, thank you very much! If you'd like, feel free to work on any other other issue that interests you. The [help wanted issues](https://github.com/dart-lang/site-www/labels/help%20wanted) can be a good place to start.

Feel free to tag me if you ever need help or clarifications :)

[2021-05-03 11:46] mit-mit commented on #3128
@Sameerkash is there a draft PR, or are you looking for general feedback on how to update/structure the content?

[2021-05-03 11:52] Sameerkash commented on #3128
@mit-mit me and @kevmoo decided to put content over a Google doc as it'd be easy to review.

So there's a doc.

[2021-05-03 16:10] kwalrath opened #3190 "Add links to new "writing a good package page" page"
Proposal is here: https://github.com/dart-lang/site-www/pull/3147#issuecomment-829608551

[2021-05-03 16:11] kwalrath commented on #1360
Ha, no. :) Good catch!

[2021-05-03 16:11] #1360 closed

[2021-05-03 16:20] kwalrath commented on #3187
There's also the removing Dart by removing Flutter case, right?

[2021-05-03 16:39] Sameerkash commented on #3187
This could just link back to the flutter site. flutter/website#5695

[2021-05-03 17:12] sfshaza2 commented on #3187
Absolutely.

On Mon, May 3, 2021 at 9:40 AM Sameer Kashyap ***@***.***>
wrote:

[2021-05-03 17:13] mit-mit opened #3191 "Updated Dart VM integration docs"
VM native extensions are being deprecated:
https://github.com/dart-lang/sdk/issues/45451

That will make this content outdated:
https://dart.dev/server/c-interop-native-extensions

Some new content about the FFI approach would be nice.

[2021-05-03 21:36] #2046 closed

[2021-05-03 21:36] #3137 closed

[2021-05-03 22:41] johnpryan opened #3193 "Add memory management tips to dart:ffi page"
Page: https://dart.dev/guides/libraries/c-interop

@dcharkes just fixed a memory leak in our samples (https://github.com/dart-lang/samples/pull/101). We should probably document this.

We could add some memory management tips, like:

- Use `calloc.free()` when freeing memory allocated in Dart (via `malloc`, or `toNativeUtf8` from `package:ffi`, for example)
- Use a native function to free memory t

[2021-05-04 09:48] electricbolt opened #3196 "Define a Bicycle constructor comparison incorrect"
Page: https://codelabs.developers.google.com/codelabs/from-java-to-dart/#1

I'm using DartPad to assemble the code as per the instructions. Under the section:

**Define a Bicycle constructor**

`Bicycle(this.cadence, this.speed, this.gear);`

Under the Observations section it says the code above is equivalent to the following:

[code]

This doesn't appear to be the case. Using the multi-line const

[2021-05-04 16:03] kwalrath commented on #3191
Who'd be a good person to provide the information? Could we just redirect https://dart.dev/server/c-interop-native-extensions to https://dart.dev/guides/libraries/c-interop, or do we need to completely rewrite https://dart.dev/server/c-interop-native-extensions?

[2021-05-04 16:05] mit-mit commented on #3191
@mraleph mentioned he might have some (rough) content for this.

[2021-05-04 16:34] parlough commented on #3196
Hey @electricbolt, thanks so much for the report!

With the introduction of [sound null safety](https://dart.dev/null-safety) these are no longer the same, as for Dart to know the three fields are not ever null(due to having the `int` type, not `int?`), they need to be assigned with `this` constructor parameters or in the constructor initializer list.

So the equivalent in this case(using an initi

[2021-05-04 17:19] parlough commented on #3190
Just to identify what work is left on the issue:

Now that the link has been added to the sidebar, we should consider locations where references to this page would also make sense. @kwalrath mentioned the below and other places can be considered as well.

[2021-05-04 20:43] kwalrath commented on #3191
I think we could add a note now about the deprecation, and then update the page later.

[2021-05-04 23:01] RandalSchwartz opened #3197 "Language tour: confusing xOrigin yOrigin in named constructor"
The named constructor .origin uses xOrigin and yOrigin, but it's not clear that those are a reference to an earlier example defining them as const for the class.  Perhaps the const definitions can be repeated?

[2021-05-05 04:59] parlough commented on #3197
Thanks for pointing this out, fixing this would definitely improve clarity!

It seems the `const` values are actually declared lower in the [Instance methods](https://dart.dev/guides/language/language-tour#methods) section where they're not even used as far as I can tell.

We can likely just move the `const` declarations to the [Named constructors](https://dart.dev/guides/language/language-tour#me

[2021-05-05 13:11] RandalSchwartz commented on #3197
Credit actually goes to @nicos68 on Gitter, asking an innocent question.

[2021-05-05 16:14] kwalrath opened #3199 "Show indicator of additional length to on-page TOC on narrow pages"
Per feedback from @sfshaza2, it's not obvious that, in a medium-width page with a longish TOC, the TOC is abbreviated. E.g. check out https://dart.dev/guides/libraries/writing-package-pages:

![image](https://user-images.githubusercontent.com/2164483/117173661-d7edbb80-ad81-11eb-9b94-38994a164802.png)

If you aren't familiar with dart.dev TOC conventions, it looks like the TOC stops at 1. The arro

[2021-05-05 16:17] sfshaza2 commented on #3199
Thanks for filing this, @kwalrath! Perfection!  @jayoung-lee, what confused me wasn't your page, per se, it's how the Dart site implements it's table of contents. Kathy and I met yesterday to work it out.  :)

[2021-05-05 17:47] kwalrath opened #3201 "Update FAQ's list of production deployments of Dart"
This came up when reviewing #3179.

[2021-05-05 18:12] kwalrath opened #3203 "Build shouldn't fail when sdk-files-up-to-date fails"
Uh oh, our [build is failing](https://github.com/dart-lang/site-www/actions/runs/814284747)! Even though the site updated successfully, I'm labeling this as P1 because it looks bad to have a red "failing" badge.

![image](https://user-images.githubusercontent.com/2164483/117188077-80efe280-ad91-11eb-84d0-89c739fbd1e3.png)

The reason for the failure is that sdk-files-up-to-date didn't pass, but th

[2021-05-05 18:30] parlough opened #3205 "Identify some way to routinely check if the analyzer diagnostics file and the linter rules file are up to date"
The original plan to use a GitHub action to check unfortunately doesn't work well, as there is no way to indicate a job as "failing" without failing the entire build or blocking PRs from being merged. There currently only seems to be support for passing, failing, or not running as for indications. You can allow steps to fail, but then the UI will still surface the job as passing, limiting the usef

[2021-05-05 21:05] #3203 closed

[2021-05-05 21:06] kwalrath commented on #3205
A cron job that creates a PR/issue is an interesting option... I think just an issue might be sufficient, at least at first.

[2021-05-05 21:17] #3197 closed

[2021-05-05 22:13] mabuthraa opened #3206 "Typos in Iterable collections @ CodeLabs"
Exercise: Filtering elements from a list
URL: https://dart.dev/codelabs/iterables#exercise-filtering-elements-from-a-list

Currently:
Name of method filterUnder21.

Expecte:
Name of method filterAbove21.

Scope:
Both exercise explanation and code

Issue:
Request to return an Iterable containing all users of age 21 or more. So I think the name of the method is misleading with contrary meaning. It m

[2021-05-05 23:50] jayoung-lee commented on #3199
I see it now! The new design looks great :D Thanks for the update!

[2021-05-06 01:57] parlough commented on #3206
Thanks for the report @mabuthraa, I appreciate you taking your time. There is a preexisting issue for this though, so I'll close this one in favor of the original. I'll work to get that issue fixed soon as well. Thanks again!

Duplicate of https://github.com/dart-lang/site-www/issues/3183

[2021-05-06 01:57] #3206 closed

[2021-05-06 02:13] #2090 closed

[2021-05-06 02:13] #2259 closed

[2021-05-06 08:29] suragch opened #3209 "Dart books updated for null safety"
On the [Books about Dart](https://dart.dev/resources/books) page it lists [Dart Apprentice](https://www.raywenderlich.com/books/dart-apprentice) in the [Dart books preceding null safety](https://dart.dev/resources/books#dart-books-preceding-null-safety) section. However, Dart Apprentice has been fully updated for null safety as of version 1.1 of the book. (I'm the author.)

Could we make a new sec

[2021-05-06 13:49] parlough commented on #3209
Thanks for letting us know @suragch, it's super exciting to see books updated to support null safety!

I'm thinking we can add books which support null safety to the top without any header like we did for [Dart 2 books previously ](https://github.com/dart-lang/site-www/blame/98126981ce20d6c1ad5df2595a000d25dbb38c87/src/resources/books.md#L12) and keep the "Dart books preceding null safety" section

[2021-05-06 14:27] Jstuff36 opened #3210 "The async/await DartPad example does not run"
This [link](https://dartpad.dev/fae22cffa7b184b4d27cd96dd633a5af?null_safety=true) does not run because it opens with two errors. The link exist on step 7, [Congratulations](https://codelabs.developers.google.com/codelabs/from-java-to-dart/#6), of the Into to Dart Developers codelab.

[2021-05-06 19:57] 4amVim commented on #3209
Hey,

Extremely grateful for such clear instructions. I hope my PR is satisfactory 😄.

Thank You

[2021-05-06 21:35] kenzieschmoll commented on #3099
There is a pretty good gif of devtools on the flutter docs: https://flutter.dev/docs/development/tools/devtools/overview. Can we use that?

[2021-05-07 02:25] kwalrath opened #3216 "Use the site-shared code-excerpt*"
See flutter/website#5733

[2021-05-07 16:07] parlough commented on #3210
Hey @Jstuff36, thanks for pointing this out! The issues are related to null safety so we must not have updated this DartPad's gist since before the 2.12 release.

There's a few ways to fix the issues, but minimally to access the `output` span, we could use the conditional member access operator. So change the following from:

[code]

to:

[code]
Then change the generateRandom's optional `seed` pos

[2021-05-08 05:04] Sameerkash commented on #3187
@parlough where would this page go?

[2021-05-08 14:27] parlough commented on #3187
@Sameerkash I think a few places could use additions, with perhaps the most straightforward being how to uninstall with the tools mentioned in each tab on the [Get the Dart SDK](https://dart.dev/get-dart) page. Those could be included near the end of each tab and perhaps completed as an initial PR separate from any new pages.

![image](https://user-images.githubusercontent.com/18372958/117542504-8

[2021-05-09 00:22] micpap25 opened #3219 "Standardize spacing around Liquid tags"
See https://github.com/dart-lang/site-www/pull/3212#issuecomment-835581885

[2021-05-09 18:17] parlough commented on #3219
I think there is a benefit in standardization, so thanks for bringing this up! Moving the information/question over here:

Do we want to standardize around using spaces or not? We currently use a mix, with a lot of occurrences not using spaces, but Liquid's documentation and many other Jekyll websites use the spaces. Personally, I prefer using spaces for easier readability and ease of contribution

[2021-05-10 11:35] masteradit commented on #2119
Hey! I would like to contribute if this issue is still open.

[2021-05-10 13:43] #3183 closed

[2021-05-10 13:47] #3216 closed

[2021-05-10 15:21] #3099 closed

[2021-05-10 16:07] kwalrath commented on #3187
Like @parlough said, the uninstall page could be very similar to (and parallel to) the get-dart page. If the page starts looking too busy or you think that includes/tabs would be too hard to maintain, then we could use [`<summary>...<details>` tags](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details) to hide unnecessary details.

I don't think we need the actual uninstall directions

[2021-05-10 16:09] kwalrath commented on #3219
I tend to prefer spaces, as well. @sfshaza2 do you have a preference?

[2021-05-10 16:24] sfshaza2 commented on #3219
I guess that, for me, it depends. I definitely don't want URLs likes like the following:

[code]

I'm also not a fan of:

[code]

In fact, I can't think of an example where I want the spaces. So, yeah, I guess I prefer without.

[2021-05-10 16:46] kwalrath commented on #3210
I've made Parker's changes. Thanks, @parlough & @Jstuff36!

[2021-05-10 16:46] #3210 closed

[2021-05-10 18:17] kwalrath commented on #3219
I like your spacing. It makes sense to include readability space when operators are involved.

[2021-05-10 19:14] sfshaza2 commented on #3219
+1 I agree!

On Mon, May 10, 2021 at 11:17 AM Kathy Walrath ***@***.***>
wrote:

[2021-05-10 21:31] kwalrath opened #3221 "Link to all examples that are in dart-lang/samples"
Currently we have the following samples, and only the checked ones are linked to by dart.dev docs:

* [x] [command_line](https://github.com/dart-lang/samples/tree/master/command_line) (https://github.com/dart-lang/site-www/pull/3747)
* [x] [extension_methods](https://github.com/dart-lang/samples/tree/master/extension_methods) (https://github.com/dart-lang/site-www/pull/3748)
* [x] [ffi](https://gi

[2021-05-10 22:04] kwalrath commented on #3057
@mit-mit has a proposal. I'll copy it here once we nail down the last details.

[2021-05-11 06:13] parlough opened #3222 "Follow up additions for linter rule inclusion"
- [x] Include rule set(s) in the listings in some fashion, particularly the core recommended [lints](https://pub.dev/packages/lints): core, recommended, and flutter. (https://github.com/dart-lang/linter/pull/2691) (https://github.com/dart-lang/site-www/pull/3290) (https://github.com/dart-lang/site-www/pull/3498)
- [x] Include documentation about what each of the rule sets is useful for and when to

[2021-05-11 07:27] nagychris opened #3223 ""toString()" omitted in the last code snippet"
![image](https://user-images.githubusercontent.com/65423853/117775508-e08b3980-b23a-11eb-8f2e-6c66d6c5cca1.png)

Shouldn't it be `bike.toString()`?

https://developers.google.com/codelabs/from-java-to-dart#1

[2021-05-11 17:15] kwalrath opened #3226 "Add /diagrams/README"
See https://github.com/dart-lang/site-www/pull/3192#pullrequestreview-656906100 for details

[2021-05-11 18:46] #3226 closed, assigned to nobody

[2021-05-11 18:51] kwalrath commented on #3128
I'm going to make a quick pass to gut this page, say it's under construction (probably with a link to this bug), and point to the relevant packages and examples.

[2021-05-11 20:05] parlough commented on #3209
Fixed by 938117368222079ac6485a5458c6701e0b4aa6f7

Thanks @4amVim for your work and @suragch for letting us know!

[2021-05-11 20:05] #3209 closed

[2021-05-11 22:31] kwalrath commented on #3128
Closing this in favor of #3058

[2021-05-12 10:53] Sameerkash commented on #3187
Okay, I'll try and make a PR soon.

[2021-05-12 11:19] MrBirb commented on #3003
@kwalrath I believe there has been fixed :D ?

[2021-05-12 11:29] MrBirb commented on #2784
I believe this can be closed too Kathy. You removed the [note](https://github.com/dart-lang/site-www/pull/3029)

[2021-05-12 11:32] mit-mit commented on #2784
Yup, good catch, thanks!

[2021-05-12 11:32] #2784 closed

[2021-05-12 11:47] MrBirb commented on #2663
@kwalrath Kathy looks like the page was removed

[2021-05-12 11:54] MrBirb commented on #2657
@kwalrath Kathy page was updated and stagehand was removed. I don’t think there is anything to fix here.

[2021-05-12 12:16] MrBirb commented on #2251
Looks like the file was deleted?

[2021-05-12 12:18] MrBirb commented on #2228
I agree with micpap on this

[2021-05-12 12:27] MrBirb commented on #2063
Looks like the dart compile command replaced the dart2native command.

[2021-05-12 12:30] MrBirb commented on #1960
Same thing here. The dart compile command replaced the dart2native and dart2aot commands.

[2021-05-12 12:33] MrBirb commented on #1935
@mit-mit Any updates on this Michael?

[2021-05-12 12:41] MrBirb commented on #1698
Looks like all the links here are 404s

[2021-05-12 12:51] MrBirb commented on #1336
@kwalrath Looks like it was deleted?

[2021-05-12 17:11] parlough commented on #3003
Thanks for pointing that out!

Fixed by https://github.com/dart-lang/site-www/commit/51e1d2a98bf66a4d9b354b9406544b0ac2524482

[2021-05-12 17:11] #3003 closed

[2021-05-12 17:17] parlough commented on #2657
Now that `pub` has moved to a `dart` sub-command and the contents raising this issue have been removed, I'll close it for now.

Let us know if you have any further issues or questions, thanks!

[2021-05-12 17:17] #2657 closed

[2021-05-12 20:17] kwalrath commented on #2942
I never did get a response on that internal issue, yeesh.

[2021-05-12 22:18] #2942 closed

[2021-05-12 22:19] kwalrath commented on #1336
Yes, it was. Thanks for letting us know, @MrBirb!

[2021-05-12 22:19] #1336 closed

[2021-05-12 22:35] kwalrath commented on #1698
Still our 2nd highest 404. Although that's not a great experience for users, it _is_ a handy way for us to figure out which missing things are actually... missed. I looked at the last 2 years' data:

* In 89% of cases this was the landing page.
* 45% of referrals were from google searches; 20% were direct; 7% appeared to come from a non-longer-existent page on a Korean site (which is still somehow

[2021-05-12 22:39] kwalrath commented on #2063
Yep, we should add this link to https://dart.dev/tools/dart-compile.

Also related: #3221

[2021-05-12 22:42] kwalrath commented on #2251
Looks like. Thanks, @MrBirb!

[2021-05-12 22:42] #2251 closed

[2021-05-12 22:45] kwalrath commented on #2663
Yes, it was replaced by https://dart.dev/tools/dart-analyze, and it looks like that has a good link back to the `dart` tool page, which says that the tool is in the SDK. Thanks for helping us clean up our issue list, @MrBirb!

[2021-05-12 22:45] #2663 closed

[2021-05-12 23:18] kwalrath commented on #2228
Thanks for the feedback, @micpap25 & @MrBirb. Closing!

[2021-05-12 23:18] #2228 closed

[2021-05-13 10:28] vinicentus commented on #1698
The article was removed in 32193158565f756508d8c573246577f445ca35e9. We should probably:
A) check how obsolete it actually is, and consider adding it back with possible modifications, or
B) have it redirect to https://dart.dev/tutorials/language/streams#two-kinds-of-streams (The rationale for not redirecting directly to the broadcast streams sections is that the old article covered both types of s

[2021-05-13 17:12] parlough commented on #3091
If your application has any available migrations, the button will show up as clickable otherwise it will be disabled. Also if you've made changes or modified suggestions, you'll need to click "Rerun from sources" to re-enable the button.

Let us know if you have any other issues and if you experience functional issues with the migration tool consider opening an issue [for the Dart SDK](https://git

[2021-05-13 17:12] #3091 closed

[2021-05-13 17:44] parlough commented on #2947
Hey @mikeparr, I hope you were able to get Dart downloaded. If you have any issues or came across a solution that worked well for you, let us know :)

I'm going to close this issue for now, but there are issues open on the SDK repository to track improved distribution mechanisms on Windows, such as one for distributing on [winget](https://github.com/dart-lang/sdk/issues/43977).

[2021-05-13 17:44] #2947 closed

[2021-05-13 18:25] parlough opened #3235 "Switch examples from pedantic to recommended"
With the new `recommended` set of rules from the [lints package](https://pub.dev/packages/lints) being used in `dart create` in the future and being the main recommended set, we should eventually migrate examples from pedantic to those, at least for the examples migrated to null safety.

There's some overlap so hopefully it shouldn't require too many updates.

[2021-05-13 21:56] #3101 closed

[2021-05-14 01:30] #3176 closed

[2021-05-14 01:35] kwalrath commented on #2940
I'm working on this and hope to have something for @stereotype441 to look at early next week. I/O permitting. :)

[2021-05-14 20:59] parlough commented on #508
Going through all the pub links I found on site-www, there doesn't seem to be any still affected by this issue anymore. Feel free to re-open if you come across anymore.

[2021-05-14 20:59] #508 closed

[2021-05-17 13:23] mit-mit commented on #2360
Flutter docs: https://flutter.dev/docs/perf/app-size#reducing-app-size

[2021-05-17 21:36] #3219 closed

[2021-05-17 21:47] kwalrath commented on #3058
Page has been gutted & now links to more info, but I think we still need replace the content.

[2021-05-18 06:16] parlough opened #3254 "Update images on 'Fetch data dynamically' page"
Page URL: https://dart.dev/tutorials/web/fetch-data
Page source: https://github.com/dart-lang/site-www/tree/master/src/_tutorials/web/fetch-data.md

The images on the page use the old `dartlang.org` link, `http` instead of `https`, can be blurry on some screen sizes, and could use a style to match better with the rest of the website. We could create SVGs using a more user accessible tool such as h

[2021-05-18 07:17] parlough commented on #468
Closing this as this particular example has been removed in preparation for an eventual rewrite of the page: https://github.com/dart-lang/site-www/pull/3230

[2021-05-18 07:17] #468 closed

[2021-05-18 15:34] kwalrath commented on #3254
@parlough what do you think of adding **help wanted** and **beginner** tags to this?

[2021-05-19 04:35] SonNg2k opened #3264 "Explore easier access of Table of Contents on tablets/mobile"
Page URL: https://dart.dev/guides/language/language-tour
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/language-tour.md

Description of issue: No sub table of content on table browser but there is on desktop browser with tablet screen size. Both tablet and desktop devices have the same screen resolution 2360 x 1640. It is super hard to navigate on tablet devic

[2021-05-19 15:27] #3235 closed

[2021-05-19 18:54] #2937 closed

[2021-05-20 02:06] parlough commented on #3264
Hey @SonXuanNguyen2k, thanks for letting us know about your difficulty navigating. Sorry that the experience hasn't been as smooth as you would have liked! I definitely can understand that it would be nice to have easier/quicker access to a table of contents of some form.

I will give some thought to a solution and am open to specific suggestions as well. We could perhaps collapse the left sidebar

[2021-05-20 03:49] SonXuanNguyen2k commented on #3264
@parlough Thank you so much for your response. I just came up with a viable solution that might be considered as the best one (you can see the illustration in the diagram below). The full-text search feature is optional though, but the sub table of content on the right is must-have. Please also forward my suggesstion to the team that maintains the flutter.dev page, which has the same problem on ta

[2021-05-20 15:47] kwalrath opened #3269 "Fix the build"
The build broke, seemingly timed with the release of 2.13 on stable channel. As a workaround, I've been deploying by hand.

/cc @AlexV525 @parlough

[2021-05-20 15:50] #3062 closed

[2021-05-20 21:10] #3161 closed

[2021-05-20 23:22] #3269 closed

[2021-05-21 15:19] jonbhanson opened #3271 "'Publishing packages' page issue"
Page URL: https://dart.dev/tools/pub/publishing.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/pub/publishing.md

Description of issue:

My package, [flutter_native_splash](https://pub.dev/packages/flutter_native_splash) is a developer tool for generating a splash screen.  Thus, it should be added in `dev_dependencies`.  However, the instructions that are automatical

[2021-05-21 19:12] parlough commented on #3271
Hey @jonbhanson, thanks for the issue/question! Unfortunately, as far as I know, currently package developers have no way to specify the package as being a `dev_dependency` in the `installing` tab. I believe this is on the pub team's radar though. You can find two issues around supporting this customization at [The pub installing tab doesn't show dev_dependencies](https://github.com/dart-lang/pub-

[2021-05-21 19:44] jonbhanson commented on #3271
Thanks @parlough, I've added my comments to those tickets.  You can close this if you'd like since it is a duplicate.

[2021-05-21 21:55] munificent opened #3272 "Clarify that string interpolation guideline doesn't apply to single objects"
The guideline [PREFER using interpolation to compose strings and values](https://dart.dev/guides/language/effective-dart/usage#prefer-using-interpolation-to-compose-strings-and-values) is intended to only apply when building up a larger string out of multiple pieces. But some misread it and interpret to mean that you also should not call `toString()` when all you need to do is convert a single obj

[2021-05-21 23:38] #3271 closed

[2021-05-23 19:25] NACEFOuail opened #3274 "'Get the Dart SDK' page issue"
Page URL: https://dart.dev/get-dart.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/get-dart.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-05-23 21:28] parlough commented on #3274
Hey @NACEFOuail, thanks for the issue!

Was there a particular issue you had with this page or perhaps anything about the instructions that was confusing? Let us know and we'd be happy to help or work on a fix!

[2021-05-25 21:42] parlough commented on #3046
I'm slowly working towards finalizing all the individual migrations. There's a few pieces remaining and once it's finalized I'll work on consolidating everything back to `examples` and updating `dartformat.sh` for all relevant changes.

[2021-05-28 15:36] parlough commented on #2851
We now have a great article covering this with https://github.com/dart-lang/site-www/pull/3147 which can be found at https://dart.dev/guides/libraries/writing-package-pages.

Thanks for the amazing work on this article, it's a great resource!

Closing this for now. If there are any other additions you'd like to see, we can discuss them in a targeted, follow-up issue.

[2021-05-28 15:36] #2851 closed

[2021-05-30 19:17] JHBitencourt opened #3283 "'Null safety codelab' page issue. Exercise 3 showing code-excerpt tag."
Page URL: https://dart.dev/codelabs/null-safety#exercise-nullable-type-parameters-for-generics
Page source: https://github.com/dart-lang/site-www/tree/master/src/codelabs/null-safety.md

Description of issue:

I guess this is not the intended behavior, and the tag shouldn't be showing at the page.

![image](https://user-images.githubusercontent.com/9002831/120117013-78f14b80-c161-11eb-9889-db7ea9d

[2021-05-30 21:31] parlough commented on #3283
Thanks for taking the time to investigate and report this! Seems to have been an issue with the `>` being improperly escaped.

[2021-05-31 20:10] parlough commented on #2647
Hey @jonasfj, my understanding is this feature is now fully supported by pub.dev.

Beyond what you mentioned in the original issue, are there any new concerns or functionality around the `unlisted` property that should be considered while documenting this? Are there any other effects besides not showing up in the normal search results?

Also, are there any potential concerns around unlisting a pac

[2021-06-01 08:08] vendz commented on #2119
@kwalrath as this issue is still open, is there anything I can do to contribute?

[2021-06-01 18:33] #2996 closed

[2021-06-01 18:41] parlough commented on #3274
Hey again!

I'm going to close this issue for now as we're lacking actionable information. If you come across another issue though, please feel free to respond here or create a new issue with the necessary information.

Thanks for your help :)

[2021-06-01 18:41] #3274 closed

[2021-06-01 18:48] parlough commented on #2755
For reference, the 2.14 dev builds now include the necessary implementation, with a changelog entry here: https://github.com/dart-lang/sdk/blob/master/CHANGELOG.md#language

[2021-06-01 18:52] #3283 closed

[2021-06-01 22:05] parlough commented on #3222
Once the next linter release(1.5.0) has its documentation generated, it will now include incompatible sets:
https://github.com/dart-lang/linter/commit/bf8de841def00dd94837493ac327bb75f59aecf2

The goal is to finalize the work to include the new rule sets as well:
https://github.com/dart-lang/linter/pull/2691

[2021-06-01 23:41] kwalrath opened #3289 "Remove daily_news example and test?"
See #3281 for details.

[2021-06-02 17:22] kwalrath commented on #2684
@parlough you just updated [dartpad_picker_main.dart.js](https://github.com/dart-lang/site-www/blob/master/src/assets/dash/js/dartpad_picker_main.dart.js) in #3276.

Did you find any problems or documentation we should improve? If not, perhaps we can close this issue.

[2021-06-02 17:29] parlough commented on #2684
@kwalrath Everything has seemingly been working the past few times I've worked with it(now with SDK >= 2.13).

I'll close this for now, but if you(or someone else reading this) has any other issues in the future, feel free to open a new issue and I can identify the issue and flesh out more documentation as necessary.

[2021-06-02 17:29] #2684 closed

[2021-06-02 21:16] kwalrath commented on #2119
Sorry I haven't responded! I'm not sure what the status is of this.

Maybe someone could volunteer to search for TODO comments, compare the list to woinbo's list, and see (1) what's still to be done on the list and (2) if anything's cropped up since the list was made?

[2021-06-03 03:13] vendz commented on #2119
@kwalrath can I try this one?

[2021-06-03 03:24] vendz commented on #2119
@kwalrath I found out out a few TODOs what should I do next?

[2021-06-03 15:54] kwalrath commented on #2119
@vendz could you put your results in the comments here?

[2021-06-03 16:47] vendz commented on #2119
Following are the `TODOs` i found that isn't present @woinbo 's list

- TODO(miquelbeltran) language-tour.md should be updated, List<String> cannot be used with null-safety
- TODO(miquelbeltran) Maybe ! would be better here
- TODO: refactor into an AbstractLlamaGreetingFactory?
- TODO(miquelbeltran) language-tour.md should explain that non-required params can be null
- TODO(chalin): I believe that

[2021-06-03 17:20] kwalrath commented on #2119
I think the Llama TODO is intentional, but the others are legit. Thanks, @vendz!

[2021-06-03 17:26] vendz commented on #2119
@kwalrath is there anything else I can do?

[2021-06-03 17:39] kwalrath commented on #2119
Could you please add the language tour TODOs in a comment to #2950? If any of the new TODOs aren't in the language tour, could you make sure there's a bug for them?

(I wish #2950 used a format like #2863... if you're up for making that happen, it'd be great.)

[2021-06-03 17:55] vendz commented on #2950
**Updating to a format similar to (#2683)**

we have the following todos related to the language tour:

- [x] Also, make sure that the second item under "Important concepts" says something aboutObject? working "if you opt into null safety", with a link to where those instructions are.
- [ ] TODO(miquelbeltran) language-tour.md should explain that non-required params can be null

[2021-06-03 17:56] vendz commented on #2119
@kwalrath I have commented on the issue please do check: https://github.com/dart-lang/site-www/issues/2950#issuecomment-854067041

[2021-06-03 18:10] kwalrath commented on #2119
There's a part I forgot (it's been a while since I filed this!): Update the .md file so that the TODO refers to the bug.

The goal would be that every TODO in a .md file (except for the intentional Llama TODO) has `TODO (<link to issue>)`. Like this one from src/_guides/libraries/c-interop.md:

[code]

[2021-06-03 18:20] vendz commented on #2119
@kwalrath so do I create new issues for all 5 `todos` and create a PR?

[2021-06-03 18:22] kwalrath commented on #2119
There can be multiple related TODOs in a single issue... So just make sure each TODO is covered by an issue, and create a PR to add the issue # to the .md file(s) at the site of each TODO. Thank you, @vendz!

[2021-06-03 18:27] vendz commented on #2119
@kwalrath pardon me as I am a bit new to this but none of the TODOs I listed above are from a `.md` file, all of them are from a `.dart` file

[2021-06-03 18:32] kwalrath commented on #2119
Oh interesting! I think the same thing applies. We want an issue referring to the TODOs, so we don't forget they exist, and we want a reference from the .dart file back to the issue.

[2021-06-03 18:36] vendz opened #3294 "TODO(miquelbeltran) language-tour.md should be updated, List cannot be used with null-safety"
TODO link:  https://github.com/dart-lang/site-www/blob/master/null_safety_examples/misc/test/language_tour/generics_test.dart#L26

[2021-06-03 18:37] vendz opened #3295 "TODO(miquelbeltran) Maybe ! would be better here"
TODO link: https://github.com/dart-lang/site-www/blob/master/null_safety_examples/misc/test/language_tour/browser_test.dart#L16

[2021-06-03 18:37] vendz opened #3296 "TODO: refactor into an AbstractLlamaGreetingFactory?"

[2021-06-03 18:37] vendz opened #3297 "Remove TODO about explaining that non-required params can be null"
TODO link: https://github.com/dart-lang/site-www/blob/master/null_safety_examples/misc/lib/language_tour/functions.dart#L29

[2021-06-03 18:37] vendz opened #3298 "TODO(chalin): I believe that handleError's test argument should be declared"
TODO link: https://github.com/dart-lang/site-www/blob/master/null_safety_examples/misc/lib/tutorial/stream_interface.dart#L4

[2021-06-03 18:38] #3296 closed

[2021-06-03 18:54] parlough commented on #2119
@vendz Thanks for your work so far! As a suggestion, I also recommend linking to the TODO line on Github so it's easier to identify where to look for someone wanting to work on the issue. For example for this issue(https://github.com/dart-lang/site-www/issues/3294) you could add to the description a link to the line where the TODO is: https://github.com/dart-lang/site-www/blob/master/null_safety_e

[2021-06-03 19:02] vendz commented on #2119
@kwalrath I have opened a PR (#3299) so please review it

[2021-06-03 19:02] vendz commented on #2119
@parlough thank you for the feedback I will edit the issues right away

[2021-06-03 19:11] vendz commented on #3295
#3299

[2021-06-03 22:08] parlough commented on #3294
Thanks for making an issue to track this. Looks like the language tour may have already been updated for this note, not using the old constructor anymore, so perhaps the fix in this case is to remove the TODO.

[2021-06-03 22:13] parlough commented on #3295
Thanks for making an issue to track this TODO! The question raised in this TODO is a good question and if anyone has any suggestions I'm open to them. I'm thinking since we know the div should be there, it's safe to use `!` in this case.

[2021-06-03 22:17] parlough commented on #3297
Thanks for opening this issue @vendz ! Taking a look at the language tour, I'm thinking the addition of this tip(https://github.com/dart-lang/site-www/blame/master/src/_guides/language/language-tour.md#L1334) may have addressed this issue. What do you think @kwalrath?

[2021-06-03 22:20] parlough commented on #3298
Thanks again for opening these @vendz

As a note for anyone referring to this in the future, I believe these declarations are replicating what's found in the SDK and it's being noted that the declaration of `handleError`'s `test` parameter doesn't match the `Function` style. So this may need to be fixed first on the SDK side if it is truly a problem.

[2021-06-03 22:37] kwalrath commented on #3297
I think you're right, @parlough. I'm going to close this.

[2021-06-03 22:38] kwalrath commented on #3297
Reopening because we should remove the TODO. :)

[2021-06-03 22:53] parlough opened #3301 "Create new codeblock theme to match Dart websites"
I was thinking we could create a new standardized code theme to match Dart websites in their current states, focusing on fitting in with dart.dev and pub.dev. Dartdoc could also use these new styles.

Currently some of dart.dev's colors don't seem to fit in with the rest of the website and pub/dartdoc use a modified derivative of GitHub's css.

Perhaps DartPad's light theme could use something sim

[2021-06-04 00:56] vendz commented on #3294
@parlough so should I remove todo from file and create a PR

[2021-06-04 00:59] vendz commented on #3297
@kwalrath should I remove the todo from file and create a PR

[2021-06-04 01:15] parlough commented on #3294
@vendz That would be great, thanks so much! In the commit message can you include the text: `fixes #3294` so this issue is automatically closed when your fix is made.

[2021-06-04 01:24] vendz commented on #3294
@parlough have made changes in #3299 so please review it

[2021-06-04 02:51] #3294 closed

[2021-06-04 02:51] #3297 closed

[2021-06-04 05:50] Labkamal opened #3302 "'A tour of the Dart language' page issue"
Page URL: https://dart.dev/guides/language/language-tour
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/language-tour.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-06-04 05:54] Labkamal commented on #3302
Where to learn Dart complete for new developer. Plz tell. There is no complete pro level courses on udemy or any platform. Plz upload video fron scratch. It is no use of learn basic. Dart servers side programming course. Dart Flutter package Development course. Plz tell me

[2021-06-04 15:23] parlough commented on #3302
Thanks for letting us know about some of the content you would like to see!

For learning Dart, outside of the language tour, consider [Codelabs](https://dart.dev/codelabs) as well as other resources like [books](https://dart.dev/resources/books) such as [Dart Apprentice](https://www.raywenderlich.com/books/dart-apprentice) which seems to be updated and cover a lot. I recommend once you've gone ov

[2021-06-06 20:10] parlough opened #3304 "Update old examples involving implicit downcasts"
Update examples in analyzer documentation and type system documentation around implicit downcasts since they were removed with null safety. There may be other cases as well.

The example in [Enabling stricter type checks](https://dart.dev/guides/language/analysis-options#enabling-additional-type-checks) is no longer relevant as it won't work without the option anyway.

As we migrate [The Dart type

[2021-06-07 17:27] parlough commented on #3304
@bwilkerson Does `implicit-casts: false` have any remaining functionality in >= 2.12 that should be documented or should I just add a note explaining it is as no longer functional?

[code]

[2021-06-07 17:33] parlough opened #3305 "Tie the homepage "Try Dart" examples to their tested versions again"
These seemingly were previously retrieved from excerpts which were tested, but are currently hardcoded into the Dart code.

We should again investigate verifying these match and pass tests.

[2021-06-07 18:18] bwilkerson commented on #3304
I think that's been replaced by other flags, but @srawlins would know more definitively. But yes, I agree that if it's deprecated / dead then we should remove it from the external docs and have a warning for it.

[2021-06-07 21:53] kwalrath opened #3309 "Create a History page"
This page should point to the Dart-relevant parts of Kasper's recent video, [Behind the birth of Dart](https://youtu.be/ZGdqu3zW8yg).

What else would be good to add?

/cc @sfshaza2

[2021-06-07 22:09] kwalrath commented on #3301
/cc @mit-mit

[2021-06-08 00:50] #3298 closed

[2021-06-08 00:53] parlough opened #3311 "Use vendor assets from site-shared"
Currently we duplicate jquery and the code-prettify files in site-www, but they are also present in site-shared. We should try to share these files if possible.

[2021-06-08 10:30] l-white opened #3313 "Dart Documentation and Flutter API are down"
503 errors are produced

[2021-06-08 11:02] l-white commented on #3313
The dart docs and Flutter API are back up! Thanks, all.

[2021-06-08 11:08] Sonal-1601 commented on #3313
Yes, It's working now. Thanks!

[2021-06-08 14:55] parlough commented on #3313
Hey everyone, thanks for your patience. I'm glad to see the issue was resolved and both the Dart and Flutter documentation are again available.

For more context, around this time, Firebase Hosting, which these websites use for static hosting had an outage, described [here on the Firebase Status Dashboard](https://status.firebase.google.com/incidents/CwDdn12D5GF6nXewEvUu). It was resolved in a lit

[2021-06-08 14:55] #3313 closed

[2021-06-08 16:04] #3311 closed

[2021-06-08 16:53] kwalrath opened #3314 "Update null safety FAQ"
We added a section about dart2js to the internal null safety FAQ (377214967). We should add it to the https://dart.dev/null-safety/faq, as well.

@sigmundch unless you already have a PR in flight, I can make this change.

/cc @ryanmcginnis

[2021-06-08 16:55] kwalrath commented on #3314
We should also update the internal FAQ to link to this external one, to let Googlers know that we want to keep the two in sync.

[2021-06-08 17:06] tetkin-g opened #3315 "Example code for "Don't use `this.` except to avoid shadowing" violates guidelines about untyped variables"
https://dart.dev/guides/language/effective-dart/usage#dont-use-this-when-not-needed-to-avoid-shadowing
The guideline includes this example:

[code]

The `var value;` part has no initializer and no explicit type, which means it's implicitly using `dynamic`, which goes against this guideline: http://go/edart/design#do-annotate-with-dynamic-instead-of-letting-inference-fail

[2021-06-08 17:08] tetkin-g opened #3316 "Example code for "Do name types using UpperCamelCase" violates guideline about missing types"
https://dart.dev/guides/language/effective-dart/style#do-name-types-using-uppercamelcase
The guideline includes this example as good code:
[code]

The `Foo([arg])` part violates:
http://go/edart/design#do-annotate-with-dynamic-instead-of-letting-inference-fail

[2021-06-08 17:12] tetkin-g commented on #3316
Same issue here:
https://dart.dev/guides/language/effective-dart/documentation#dont-use-block-comments-for-documentation
[code]

[2021-06-08 17:18] tetkin-g opened #3317 "Fix example docs for "DO use square brackets..." to meet guidelines"
## Page

https://dart.dev/guides/language/effective-dart/documentation#do-use-square-brackets-in-doc-comments-to-refer-to-in-scope-identifiers

## Notes

This guideline includes these examples of good code:
[code]
While these could be valid parts of doc comments, several of them aren't suitable as summary sentences, which could be confusing.

For example, "Similar to [Duration.inDays], but..."

[2021-06-08 17:26] tetkin-g commented on #3315
Same issue here:
https://dart.dev/guides/language/effective-dart/usage#dont-wrap-a-field-in-a-getter-and-setter-unnecessarily
[code]

[2021-06-08 19:05] kwalrath commented on #3301
Consistency would be very nice. Accessibility is also important, especially for people without perfect vision — light & dark options, and contrast beyond the minimum necessary.

[2021-06-08 20:26] kwalrath commented on #3316
/cc @munificent

[2021-06-08 20:26] kwalrath commented on #3317
/cc @munificent

[2021-06-08 20:27] kwalrath commented on #3315
/cc @munificent

[2021-06-08 20:52] shinayser opened #3319 "Add 'late' and 'required' keywords to language tour table"
In this part of the website, there are 2 missing keywords in the "Keywords" section: `late` and `required`

https://dart.dev/guides/language/language-tour#keywords

[2021-06-08 22:18] parlough commented on #3319
Thanks for catching this @shinayser, these would be great to include in the table.

Until these are added, @lrhn created a table here with some context around each keyword that may be useful as well: https://github.com/dart-lang/sdk/issues/43072#issuecomment-675324473

[2021-06-09 10:11] #3302 closed

[2021-06-09 16:23] srawlins commented on #3304
`implicit-casts` still reports when a cast is made from `dynamic` to another type (if I'm not mistaken), but Dart 2.12 with null safety allows this, so it still has functionality.

[2021-06-09 19:10] #3139 closed

[2021-06-09 22:42] #3319 closed

[2021-06-09 23:03] kwalrath opened #3322 "Compare keyword tables"
https://dart.dev/guides/language/language-tour#keywords and https://github.com/dart-lang/sdk/issues/43072#issuecomment-675324473 don't quite agree — for example, `if` is a reserved word in the language tour, but isn't bold in one of its occurrences in the issue. (It _is_ bold in the other, so I think that the language tour's table is correct there.)

It might be good to carefully go through both t

[2021-06-10 07:54] eernstg opened #3323 "Tiny missing update pedantic --> lints/recommended"
On https://dart.dev/guides/language/analysis-options#the-analysis-options-file, we have the following phrase:

I believe this should have been updated to '.. in the lints package'.

[2021-06-10 18:06] kwalrath commented on #3323
Oops. Thanks for letting us know!

[2021-06-10 18:29] parlough commented on #3323
If anyone wants to fix this, `pedantic` would need to be updated to `lints` at https://github.com/dart-lang/site-www/blame/master/src/_guides/language/analysis-options.md#L124

[2021-06-10 19:06] CHuante commented on #3323
Hi! id like to contribute to this and correct the phrase if nobody's called dibs

[2021-06-10 19:20] parlough commented on #3323
@CHuante Thanks for the offer, contribute away. Let me know if you have any questions or issues :)

[2021-06-10 19:30] parlough commented on #2160
Since we have migrated to `lints:recommended.yaml` for all new examples instead of pedantic, I'll consider this fixed by https://github.com/dart-lang/site-www/pull/3263

[2021-06-10 19:30] #2160 closed

[2021-06-10 21:23] CHuante commented on #3323
And i already have a question lol, I cant find the file thats holding that line of code.  are you able to find it through the link: https://github.com/dart-lang/site-www/blame/master/src/_guides/language/analysis-options.md#L124
or is there a more efficient way to look?

[2021-06-11 02:40] parlough commented on #3323
@CHuante It should be in that file on line 124. This line:

[code]

should be updated to:

[code]

Another link without the blame information is: https://github.com/dart-lang/site-www/blob/master/src/_guides/language/analysis-options.md

Found at the path: `/src/_guides/language/analysis-options.md`

Let me know if you need any more information!

[2021-06-11 11:43] athomas commented on #1333
I couldn't find that link in the Tour. Closing, please re-open if I misunderstood.

[2021-06-11 11:43] #1333 closed

[2021-06-11 16:13] CHuante commented on #3323
Awesome thanks! I just sent a pull request, is everything in order?

[2021-06-11 19:30] #3323 closed

[2021-06-12 18:11] #3316 closed

[2021-06-14 01:33] parlough opened #3329 "Create a dedicated page for dart create"
I just came across some writing where a link to a dedicated dart create page may come in handy, particularly with the removal of `stagehand`.

We could at the very least document its core arguments and flags, as well as discuss at a high level what each template is useful for.

It should be located with the other `dart` tools at `/src/tools/dart-create.md`:

![image](https://user-images.githubuser

[2021-06-14 01:37] parlough commented on #3222
Another piece of information that may be worth including in the future: https://github.com/dart-lang/linter/issues/2650

[2021-06-14 08:44] robertoalvesneto opened #3331 "Documentarion of Bool Class don't have operators '!' and '!='"
At https://api.dart.dev/stable/2.13.3/dart-core/bool-class.html the operators '!' and '!=' are not defined, just only '&', '==', '^' and '|'.

[2021-06-14 15:46] parlough commented on #3331
Hey @robertoalvesneto! I think this is a byproduct of `!=` not being a separate user-defined operator and instead simply being implemented as `e1 != e2` being `!(e1 == e2)`. As for `!` not being defined as part of the dartdoc, I believe this is because it is also not a user defined operator and is a special case for boolean expressions where "The expression `!e` is treated as `e ? false : true`.

[2021-06-14 16:13] kwalrath opened #3332 "Update AUTHORS file"
Per the discussion at https://github.com/dart-lang/site-www/pull/3328#issuecomment-860531913.

Whatever we do, we should probably do the same on flutter/website.

/cc @sfshaza2

[2021-06-14 17:12] kwalrath commented on #3329
I intended to have a dedicated page for each command in the table toward the bottom of [the dart tool page](https://dart.dev/tools/dart-tool). Not sure whether there's a bug for that...

[2021-06-14 17:26] sfshaza2 commented on #3332
I just looked at my corresponding file on flutter.dev. I definitely vote to delete.

[2021-06-14 17:26] sfshaza2 commented on #3332
(Sorry, didn't mean to close.)

[2021-06-14 17:38] robertoalvesneto commented on #3331
sorry to comment on the wrong repository and thanks for the explanation!

[2021-06-14 17:39] #3331 closed

[2021-06-14 18:23] munificent commented on #3132
Good catch. We can fix this by having the example catch some fictitious type that `downloadTeam()` would theoretically throw, like:

[code]

[2021-06-15 16:09] kwalrath commented on #2940
The updated page is out: https://dart.dev/tools/non-promotion-reasons

[2021-06-15 17:15] kwalrath commented on #3304
If you're using 2.12/2.13 but your lower SDK bound is before that, does `implicit-casts` still catch non-`dynamic` casts?

[2021-06-15 17:27] srawlins commented on #3304
That's correct, it would.

[2021-06-15 20:44] kwalrath opened #3339 "Followup improvements for /tools/non-promotion-reasons"
* [ ] Per @timsneath on twitter: https://twitter.com/timsneath/status/1404885186374868993, **add links** to /tools/non-promotion-reasons.
* [ ] Per https://github.com/dart-lang/site-www/pull/3253#issuecomment-858851452, **clarify the scope of this page**, and when type promotion can and cannot occur. This is related to a discussion I had with @RedBrogdon, regarding a question that @leafpetersen an

[2021-06-15 22:55] #3304 closed

[2021-06-15 23:18] kwalrath commented on #3332
Some more info: https://opensource.google/docs/releasing/authors

[2021-06-15 23:45] kwalrath opened #3341 "Align lints with Effective Dart rules"
We already mark which lints correspond to each Effective Dart guideline. We should also convey (via badges? words?) which guidelines are covered by the core or recommended lints.

E.g. https://dart.dev/guides/language/effective-dart/style#do-name-types-using-uppercamelcase is covered by the camel_case_types linter rule, which is in the [core rules](https://github.com/dart-lang/lints/blob/main/lib/

[2021-06-15 23:55] kwalrath commented on #3332
Just talked to Hixie, who's inclined to leave these files where they are. I'll add some info to the top about where to find the full list of contributors.

[2021-06-16 18:50] sfshaza2 commented on #3332
Oh well. The authors page on flutter.dev is very out of date.

On Tue, Jun 15, 2021 at 4:55 PM Kathy Walrath ***@***.***>
wrote:

[2021-06-17 17:50] sfshaza2 commented on #3332
Kathy, can you do the same for flutter.dev?

[2021-06-17 21:01] kwalrath commented on #3332
You bet.

[2021-06-18 17:32] timsneath opened #3345 "404 Errors on Customizing Analysis Rules"
https://github.com/dart-lang/site-www/blob/master/src/_guides/language/analysis-options.md#customizing-analysis-rules

These three links are broken:
<img width="870" alt="image" src="https://user-images.githubusercontent.com/2319867/122597629-7d9e7680-d020-11eb-909d-794a3547634c.png">

I spent a little time trying to find their correct replacements, but I ran out of time, so filing a bug instead.

[2021-06-18 18:12] parlough commented on #3345
Thanks for reporting this, I forgot about these dead links. Duplicate of https://github.com/dart-lang/site-www/issues/3175 which I will work on fixing now.

[2021-06-18 18:12] #3345 closed

[2021-06-21 18:31] #3175 closed

[2021-06-23 17:21] sigmundch opened #3354 "'Effective Dart: Usage' - discourage use of .runtimeType"
/cc @munificent

Every now and then a user runs into a problem because they believe they can freely use `.runtimeType`, but in practice it is an API that needs to be used with a lot of caution. See https://github.com/flutter/flutter/issues/78041

What are your thoughts on using the guide to educate about this issue? While it would be great to fix the language and libraries to avoid such pitfalls (

[2021-06-23 21:48] munificent commented on #3354
Both of those SGTM.

[2021-06-24 18:02] parlough commented on #2520
Hey @guolingege, just checking in to see if you were able to resolve your issue or if you had any extra information.

If you are still experiencing the issue, I recommend trying the latest version of Dart(https://dart.dev/get-dart) if possible as there have been lots of improvements to diagnostics since the 2.8.4 release :)

Thanks again!

[2021-06-24 18:23] parlough commented on #2429
I'm going to consider this particular issue fixed by https://github.com/dart-lang/site-www/commit/599fc0813d2d52f7b463253e11d288baeea77d25 which removed the observatory mentions from the `dart-vm` page.

The remaining observatory mention is within the `dart-devtools` page and with the latest dev releases is still valid.

[2021-06-24 18:23] #2429 closed

[2021-06-24 18:36] parlough commented on #1395
Since https://github.com/dart-lang/site-www/commit/82cb19a9761c568ae796fda3305b58788bad2669 added documentation for the spread operator and we now use the `lints:recommended.yaml` set of linter rules which includes `prefer_spread_collections` for examples, I will close this issue as fixed :D

If there's any more specific improvements you'd like to see, feel free to reopen or create a new issue. Th

[2021-06-24 18:36] #1395 closed

[2021-06-24 18:41] parlough commented on #806
I'll consider this fixed by https://github.com/dart-lang/site-www/commit/b8170dce8632db100e57ff87b8779ec061737212 which added the first Dart 2 book and was followed up by another book which was even updated to support null safety(https://github.com/dart-lang/site-www/commit/938117368222079ac6485a5458c6701e0b4aa6f7).

If anyone has any more Dart 2 books they'd like to see added to the website, feel

[2021-06-24 18:41] #806 closed

[2021-06-24 18:42] #2586 closed

[2021-06-24 18:45] #2431 closed

[2021-06-24 22:26] #1997 closed

[2021-06-24 23:40] #3314 closed

[2021-06-24 23:45] kwalrath opened #3358 "Improve null safety FAQ"
To reflect review comments about the new dart2js section in #3318. The internal FAQ will also need to be updated.

[2021-06-25 16:50] #3329 closed

[2021-06-25 17:11] parlough opened #3359 "[2.14 Stable Release] Suggest using `Object` convenience hashing functions"
Rolling your own hashing logic can potentially cause issues, so perhaps it would be a good idea for us to suggest the usage of the newly provided hash functions from https://github.com/dart-lang/sdk/commit/83376bf1ee81607a182f8558b242f1c9f4883246

This can help avoid potential implementation issues and consistency is always great.

https://github.com/dart-lang/sdk/blob/master/CHANGELOG.md#dartcore

[2021-06-27 23:06] parlough commented on #1996
Thanks again for the report! As far as I can tell this content is not on the original page anymore, so I will close this issue.

I believe the content at dart.cn is relatively up to date and its language tour does not appear to have this issue, so I recommend you check there: https://dart.cn/guides/language/language-tour

If you have any more issues or suggestions, feel free to open a new issue. T

[2021-06-27 23:06] #1996 closed

[2021-06-28 18:26] bwilkerson opened #3361 "Updated diagnostic documentation ready to be incorporated"

[2021-06-28 19:26] #3361 closed

[2021-06-28 21:55] #2063 closed

[2021-06-29 17:45] parlough commented on #2520
I'm going to close this issue for now, but if you are still experiencing this issue or another, always feel free to open another issue! Don't forget to try the latest version of Dart as well, thanks again!

[2021-06-29 17:45] #2520 closed

[2021-06-29 22:14] munificent commented on #3315
Yeah, this would be good to fix. (This guideline is ancient.) I'd probably use `Object?` for the type everywhere.

[2021-07-01 21:24] kwalrath commented on #3057
Reduced the priority because this won't get done very soon.

[2021-07-01 21:29] kwalrath commented on #2719
I'm starting work on the dart-test page and dart-pub redirect.

[2021-07-01 23:17] parlough opened #3368 "Create issue templates on the repository"
We could add various issue templates for issues created directly on GitHub.

Eventually, GitHub plans to release issue forms which could improve on the usability of this feature even more.

Read more:
https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository

[2021-07-02 22:03] pq opened #3371 "Update "customizing analysis" documentation to clarify subdirectory options"
There are a few opportunities to improve the docs here:

https://dart.dev/guides/language/analysis-options#the-analysis-options-file

See https://github.com/dart-lang/linter/issues/320#issuecomment-873254052 for more context but the TL;DR is that analysis options can be put in **_any_** subdirectory and essentially override parent directory options.  (The docs suggest that they are package-level o

[2021-07-05 07:13] izky212 opened #3373 "'Asynchronous programming: futures, async, await' page issue"
Page URL: https://dart.dev/codelabs/async-await.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/codelabs/async-await.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-07-05 18:32] parlough commented on #3373
Hi @izky212, thanks for opening an issue!

Do you have any more information on what issue you had though? Let us know and we'll be happy to help and/or work to get it fixed :)

[2021-07-07 20:52] #3254 closed

[2021-07-08 23:30] GZGavinZhao opened #3378 "Add Link to An Up-to-Date Community-Maintained AngularDart Documentation Site"
On the [Dart web](https://dart.dev/web) page, the AngularDart link points only to its GitHub repository and has no reference or link to a documentation site that can help new-comers who want to learn this fabulous framework. Is it possible to add a link on this page that links to a [community-maintained fork](https://github.com/angulardart-community/site-angulardart) of the AngularDart documentati

[2021-07-08 23:42] kwalrath commented on #3378
@GZGavinZhao I was excited to see your work on angulardart.xyz! I'll be happy to link to it... I'll do it myself, because I need to think about how to phrase it.

[2021-07-08 23:46] GZGavinZhao commented on #3378
No problem! Thank you for your time and support :)

[2021-07-10 22:03] parlough commented on #3373
Hey again @izky212! I'm going to close this issue for now as there isn't anything we can follow up on.

If you have more information or experience another issue, feel free to comment back on this issue or open a new one.

Thanks again :)

[2021-07-10 22:03] #3373 closed

[2021-07-11 14:38] Sammanay opened #3382 "Intro to Dart for Java Developers "Create A Simple Dart Class" is missing a line of code in main()"
In main(), there has to be a print(bike) line in order to see the contents of the bike. While this was not a problem to me, it can confuse newer learners.

[2021-07-11 20:53] parlough commented on #3382
Hey @Sammanay, thanks for opening the issue!

If I'm understanding correctly, you're talking about the `main` method in the first code block not including a print statement?

As far as I can tell, this is intentional as the previous statement mentions "Also remove the contents from main(), as shown in the following code snippet". This is because the DartPad fills in an unrelated, default method. T

[2021-07-12 23:41] kwalrath commented on #43
I believe this has been fixed by the addition of the https://dart.dev/guides/language/ page. Also, I just created a PR (#3386) to add a link to the changelog.

[2021-07-12 23:41] #43 closed

[2021-07-13 18:34] mont1985 opened #3390 "'dart pub get' page issue"
Page URL: https://dart.dev/tools/pub/cmd/pub-get.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/pub/cmd/pub-get.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2021-07-13 20:45] #3378 closed

[2021-07-14 00:47] kwalrath opened #3391 "Update displayed SDK to 2.13"
Oops.

Per https://github.com/dart-lang/site-www/wiki/Updating-to-new-SDK-releases, we need to update the SDK version in src/_data/pkg-vers.json, which is visible in https://dart.dev/tools/sdk and used in links to API docs (via {{site.data.pkg-vers.SDK.channel}}. For an example, see PR #2462.

[2021-07-14 19:16] #3391 closed

[2021-07-14 19:33] parlough commented on #2138
Thanks for the issue and discussion!

I'll close this as fixed by https://github.com/dart-lang/site-www/commit/7377ac6f5f98ccd1e64c2a260e67488787000f99 as I've removed unnecessary information from the warnings and made it more explicit that they are warnings. I've also updated the examples and line numbers to match their expected behavior.

If there's another change you'd like to see on this page,

[2021-07-14 19:33] #2138 closed

[2021-07-14 19:34] parlough commented on #3390
Hey @mont1985, thanks for spending the time to create an issue!

Do you perhaps have any more specifics on the issue you found on this page? Let us know and we'd be happy to help.

[2021-07-14 21:30] kwalrath commented on #3196
Unassigned myself since I don't know the new codelab publishing process. I'm willing, but I'd need help from @domesticmouse.

[2021-07-14 21:34] kwalrath commented on #2950
Just confirmed that these TODOs are no longer in the source code and have presumably been addressed.

[2021-07-14 21:40] kwalrath commented on #2950
Reopened because there are still some TODOs in language-tour.md, most of which are explicitly linked to this issue. (One is linked to #1117, and two have no linked issue.)

Not linked to any issue:
- [ ] Point to coverage of ! and late
- [ ] move/add for-in coverage to language tour?

Already linked to this issue:
- [ ] Look for null, ?, !, late, optional, Map, List, Set.
- [ ] Make sure that poin

[2021-07-15 13:18] wigl opened #3395 "How to make the result of strong-mode (implicit-casts/implicit-dynamic) analysis as warning, instead of error?"
My project has been developed for almost a year, and I didn’t use stricter static checks at the beginning, which resulted in a lot of bugs.
Now I want to add strong-mode (implicit-casts/implicit-dynamic) to analysis_options.yaml, But after that, 5k errors were displayed!
![image](https://user-images.githubusercontent.com/12051109/125794485-65d1f282-56d7-42f6-80f1-f11f00fd13ef.png)

I can't modify

[2021-07-15 17:01] parlough commented on #3395
Hey @wigl, I know you closed the issue, but I'm curious were you able to figure out a solution?

I gave it some thought and I think the best you can do is include another `analysis_options.yaml` file within a sub-directory where you don't enable the strong-mode features.

[code]

You can technically modify diagnostics to be warnings but since multiple diagnostics result from enabling these languag

[2021-07-15 17:38] parlough opened #3397 "Switch primary documentation from @deprecated to @Deprecated in language tour"
In the [Metadata section](https://dart.dev/guides/language/language-tour#metadata) of the language tour we document `deprecated` but not the `Deprecated(String message)` annotation.

Since the rule(https://dart.dev/tools/linter-rules#provide_deprecation_message) to use the message constructor is included in the core set of lints, we should at least mention it, but also focus the documentation on i

[2021-07-15 18:14] parlough commented on #2860
I've updated this as the first TODO was fixed and removed by https://github.com/dart-lang/site-www/commit/1510195ad47ba2abb34f2e50d5d084eb19884ffe

The remaining issue/TODO still exists.

[2021-07-15 21:30] #2444 closed

[2021-07-15 21:30] #2618 closed

[2021-07-15 21:30] #2590 closed

[2021-07-15 21:32] #3315 closed

[2021-07-16 05:51] jjangga0214 opened #3399 "Describe .pubignore"
Hi :)

Through https://github.com/dart-lang/pub/pull/2787, `.pubignore` is introduced.

I think it should be explained from https://dart.dev/tools/pub/publishing.

Thanks!

[2021-07-16 17:41] parlough commented on #3399
Thanks for the suggestion @jjangga0214, definitely would be nice to see this documented :)

[2021-07-17 07:20] QiXi commented on #3399
does .pubignore currently support pub.dev?

[2021-07-17 13:00] jjangga0214 commented on #3399
@QiXi Accurately speaking, as far as I know, `.pubignore` does not have a direct relationship with pub.dev.
`pub` ( = `dart pub`) filters by `.pubignore` and `.gitignore` from publishing content _before publishing_. Then pub.dev receives 'unfiltered' files, so pub.dev does not know .pubignore.

[2021-07-17 15:47] QiXi commented on #3399
I was faced with the task of publishing some files to git, but not allowing them to be published on pub.dev, after which a search brought me to topics with `.pubignore`. Perhaps I did not formulate the question well, but I would like to know if I can use it today or is it still under development?

[2021-07-18 22:45] parlough commented on #3399
I don't think `.pubignore` functionality is available in the current stable builds of the SDK, but it should be available in the latest dev and beta builds of the SDK. Keep in mind though that this may result in changes in future behavior until the 2.14 release is made stable. You can find the changelog entry at the top of the 2.14 pub subsection: 3c14d86a67db7207bbc9f654ac49ee60e08e5240

[2021-07-19 03:25] parlough commented on #2323
With the introduction of the [Null safety codelab](https://dart.dev/codelabs/null-safety) in https://github.com/dart-lang/site-www/pull/2983 which covers these main topics, I will close this issue as fixed.

Further improvements to the codelab are being tracked in https://github.com/dart-lang/site-www/issues/3093.

[2021-07-19 03:25] #2323 closed

[2021-07-19 03:40] parlough commented on #1757
I'm going to close this as fixed by https://github.com/dart-lang/site-www/pull/3218 which changes these dependencies to use a direct path to the checked in versions within `site-shared` which is a managed Git submodule that must be updated explicitly.

[2021-07-19 03:40] #1757 closed

[2021-07-19 05:54] QiXi commented on #3399
@parlough thanks for the answer

[2021-07-19 20:59] #3046 closed

[2021-07-19 21:46] #1669 closed

[2021-07-20 00:34] #3397 closed

[2021-07-20 03:27] wigl commented on #3395
I haven't solved this problem. It was closed because a new [issue](https://github.com/dart-lang/sdk/issues/46624) was created in [dart-lang/sdk](https://github.com/dart-lang/sdk).

There are some problems with adding `analysis_options.yaml` in sub-directory:
1. We also need to add `pubspec.yaml` in the subdirectory, otherwise the analyzer will not execute.
2. If `pubspec.yaml` is added, the sub-di

[2021-07-20 23:25] kwalrath opened #3408 "Mention why non-test-code might be in test.dart, not main.dart"
This is a suggestion for https://dart.dev/tools/dartpad/troubleshoot.

For context, see #3383.

[2021-07-21 11:31] cankaraman opened #3410 "Code example styled with "passes" instead of "fails""
Hi :),

I think the code example in the below page should be wrapped with "✗ static analysis: error/warning" red box. It's currently wrapped with a green success box.

"![problem](https://user-images.githubusercontent.com/16491175/126481448-44dc9068-5d02-4335-a944-05549b111823.jpg)"

url: https://dart.dev/guides/language/type-system
src: https://github.com/dart-lang/site-www/blob/master/src/_guide

[2021-07-21 14:55] parlough commented on #3410
Nice catch @cankaraman, thanks! This article was recently updated and I must have missed this one. There was also a broken link nearby, so I'll submit a PR for both of those issues soon.

[2021-07-21 15:55] cankaraman commented on #3410
No problem, glad to help.

[2021-07-21 16:08] #3410 closed

[2021-07-21 16:14] kwalrath commented on #3399
/cc @jonasfj

[2021-07-22 15:44] #1217 closed

[2021-07-22 16:06] parlough opened #3415 "Update low level HTML pages"
- [ ] Update to null safety
- [ ] Utilize Effective Dart and recommended lint standards in code
- [ ] Update diagrams (consider SVG)
- [ ] Auto include code where possible
- [ ] Update text for changes in DartPad's UI
- [ ] Consider using embedded DartPads

[2021-07-22 18:03] kwalrath commented on #1553
Just confirmed that those 3 links are still valid. The super-mixins spec link is no longer in the language tour.

I also did a wider search to find all possible references in the site:

[code]

Here are the results, all of which are still valid links:
src/tools/diagnostic-messages.md:[definiteAssignmentSpec]: https://github.com/dart-lang/language/blob/master/resources/type-system/flow-analysis.md

[2021-07-22 21:58] #2245 closed

[2021-07-22 22:36] kwalrath commented on #3223
@domesticmouse what would be a good way for me to make this change?

[2021-07-22 22:37] kwalrath commented on #3077
@domesticmouse what's the best way for me to make this change?

[2021-07-23 09:45] domesticmouse commented on #3196
@kwalrath I've pinged you on the gDoc that is the source for this codelab. Let me know when you have made the appropriate changes and I'll get the publishing process under way.

[2021-07-23 17:27] parlough commented on #2652
When I merged `null_safety_examples` into `examples`, I also updated analysis results for `beta` and `dev` and marked their CI tasks as no longer experimental. So I'll close this as fixed by https://github.com/dart-lang/site-www/commit/f8eb9b21a0b6933fcefba0a6d7f286db81802dfa

[2021-07-23 17:27] #2652 closed

[2021-07-24 10:08] CesaTor opened #3421 "\n not working on dartpad"
I tried to print a string with \n and it didn't print it creating a new line after.

This behaviour is present both on dart.dev and dartpad.dev

[2021-07-24 13:17] Mayank-9018 opened #3422 "'How to use packages' page issue"
Page URL: https://dart.dev/guides/packages
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/packages.md

Description of issue:

Isn't it supposed to be `.dart_tools/package_config.json`? or perhaps a version note for it?

[2021-07-25 02:05] parlough commented on #3421
Thanks for pointing this out @CesaTor, I created a PR [in the DartPad repository](https://github.com/dart-lang/dart-pad/pull/1969) which I believe should address the issue. If it doesn't pan out, I'll work with others to get a proper fix.

[2021-07-25 02:39] parlough commented on #3422
I do believe the goal is to move completely away from `.packages` and our documentation should likely do so as well. We have mentions of `.packages` all over and it's not a 1-1 change everywhere, so this will be a larger undertaking.

More info about the new format can be found at: https://github.com/dart-lang/language/blob/master/accepted/future-releases/language-versioning/package-config-file-v2

[2021-07-26 18:57] kwalrath opened #3423 "Swap parts of homepage's middle section?"
Followup to #3419. See https://github.com/dart-lang/site-www/pull/3419#issuecomment-886945743 for a screenshot.

[2021-07-26 21:48] #3423 closed

[2021-07-27 17:14] kwalrath commented on #3223
I'm fixing this in the same doc as I'm using to fix #3196.

[2021-07-27 17:15] kwalrath commented on #3196
OK, I've fixed this issue and #3223. Thanks for taking care of the publishing process!

[2021-07-28 04:12] parlough opened #3430 "Expand or remove Resources 'Overview' page"
Page URL: https://dart.dev/resources/
Page source: https://github.com/dart-lang/site-www/tree/master/src/resources/index.md

This page in its current state does not have much value. We should consider removing it or expand it with further information.

[2021-07-28 18:55] #2419 closed

[2021-07-28 21:39] kwalrath commented on #1117
I think we're good. Please file another bug if we're still missing something.

[2021-07-28 21:39] #1117 closed

[2021-07-28 21:39] kwalrath commented on #2485
I believe this type is sufficiently documented now. There's coverage in https://dart.dev/guides/language/language-tour#built-in-types, https://dart.dev/null-safety/understanding-null-safety, and https://dart.dev/tools/diagnostic-messages#sdk_version_never.

[2021-07-28 21:39] #2485 closed

[2021-07-28 21:44] kwalrath commented on #1158
The terms _lambda_ and _closure_ are mentioned in https://dart.dev/guides/language/language-tour#anonymous-functions. We still need to add _tear-off_, especially since we'll have constructor tear-offs soon.

[2021-07-28 21:46] kwalrath commented on #3077
I'll update the source doc now.

[2021-07-28 22:13] kwalrath commented on #3077
Looks like I made this change back in March.

[2021-07-28 22:13] #3077 closed

[2021-07-28 22:30] kwalrath commented on #3382
Closing due to lack of response, but I'd be happy to reopen this.

[2021-07-28 22:30] #3382 closed

[2021-07-28 22:31] kwalrath commented on #3223
Verified that this fix is published.

[2021-07-28 22:31] #3223 closed

[2021-07-28 22:31] kwalrath commented on #3196
Verified that this fix is published.

[2021-07-28 22:31] #3196 closed

[2021-07-28 23:56] #3421 closed

[2021-07-29 02:30] kwalrath commented on #3430
Somehow I was sure we already had a bug for this, but I can't find it.

[2021-07-29 18:43] #2719 closed

[2021-07-29 23:19] kwalrath opened #3434 "Update reference to Observatory"
https://github.com/dart-lang/sdk/issues/46756 will remove the reference to Observatory, as announced in https://groups.google.com/a/dartlang.org/g/announce/c/vBloHfsU1ws.

We'll need to update src/tools/dart-devtools.md to match. It's possible we might have a screenshot somewhere that will also need to be updated.

[2021-08-02 21:44] kwalrath opened #3440 "Test"
### Page URL

something fake

### Page source

_No response_

### Describe the problem

something

### Expected fix

You know... fix it!

### Additional context

![image](https://user-images.githubusercontent.com/2164483/127927654-9d3db487-ea02-4e4c-9d1a-9b71f7e02c29.png)

[2021-08-02 21:44] #3440 closed

[2021-08-02 21:46] kwalrath opened #3441 "[Page Issue]: PAGE-NAME"
### Page URL

https://dart.dev/guides/index

### Page source

https://github.com/dart-lang/site-www/tree/master/src/_guides/index.md

### Describe the problem

description here

### Expected fix

_No response_

### Additional context

_No response_

[2021-08-02 21:49] VLADPOLUNIN commented on #3440
?

[2021-08-02 21:55] kwalrath commented on #3440
I'm working on issue templates :)

[2021-08-03 03:39] parlough opened #3442 "Consider switching /mobile page to be /app to indicate larger scope of Flutter"
### Page URL

https://dart.dev/mobile

### Page source

https://github.com/dart-lang/site-www/blob/master/src/mobile.md

### Describe the problem

Currently this page is focused on developing mobile applications with Dart(and Flutter), but since its creation Flutter has since expanded its target platforms, describing itself as:

### Expected fix

We could switch the wording from focusing on "mobil

[2021-08-03 16:46] mohitsaxenaknoldus commented on #1073
Please assign it to me. I will help you improve the instructions.

[2021-08-03 17:44] kwalrath commented on #1073
Great! I'm looking forward to seeing your improvements.

[2021-08-03 18:11] #3441 closed

[2021-08-03 19:39] mohitsaxenaknoldus commented on #1073
I've opened a PR for it: https://github.com/dart-lang/site-www/pull/3445
Please check.

[2021-08-03 23:06] Mr-Sena opened #3446 "Create a native print without newline"
### What information is missing?

I don't know an intuitive and functional solution to my problem

### How would you like us to fix this problem?

An implementation that allows using the command with the sleep function

[2021-08-03 23:22] parlough commented on #3446
Hey @Mr-Sena, thanks for opening the issue! As a note, this is the repository for the dart.dev website, and issues for additions to the SDK are best created on the SDK repo: https://github.com/dart-lang/sdk

This is a common request though, and if you are running on a platform which supports `dart:io`, I can suggest using `stdout.write`:

[code]

This would print out `Hello Mr-Sena`.

As for a gen

[2021-08-03 23:22] #3446 closed

[2021-08-04 05:48] AndroidJedi opened #3448 "publisher domain verification issue"
### Page URL

https://pub.dev/create-publisher

### Page source

_No response_

### Describe the problem

I have verified domain ownership in Google Search Console, but when I try to create publisher I still have verification error :

```You must verify the domain property with a DNS record — verifying a URL prefix property or being a collaborator on a property that someone else has verified is no

[2021-08-04 05:58] domesticmouse commented on #3448
Please see https://support.google.com/webmasters/answer/34592?hl=en for more details on how to fix this issue.

[2021-08-04 05:58] #3448 closed

[2021-08-05 10:16] tomaszpolanski opened #3451 "NNBD migration suggests to start with `leaves` instead of `root`"
### Page URL

https://dart.dev/null-safety/migration-guide#step1-wait

### Page source

_No response_

### Describe the problem

In the explanation on what dependency to migrate first, it is said that users should migrate `leaves` first:
[code]

### Expected fix

`leaves` should be changed to `root`:

[code]

`root` has 0 parents and 1+ children
`leave` has 1 parent and 0 children.

The explanatio

[2021-08-05 19:41] parlough commented on #3451
Hey @tomaszpolanski, thanks for opening an issue!

I may be missing something, but I think you want to migrate the leaf packages with no children(dependencies) as you don't need to wait for any children to be migrated yet for that package to properly support sound null safety. Then you can migrate the parents and so on, until you reach the root, in this case C which depends on the previous ones.

[2021-08-05 20:03] tomaszpolanski commented on #3451
Hey @parlough,
thanks for the response.
First, you are right A should be first migrated and not C - that is my typo, will amend it.

Second, here is an
![graph](https://user-images.githubusercontent.com/1532227/128413192-b9602323-34ec-463d-a286-bfe6ee6267d2.png)
 image of what I understand as root package/dependency and leaves:

I have migrated a couple of packages and I know that first, you shoul

[2021-08-05 20:13] parlough commented on #3451
Hmm, I guess in this example it was trying to describe C as the root package, as the one you're trying to migrate.

For example, in this visualization of the pubviz dependencies: https://kevmoo.github.io/pubviz/

Say I want to migrate pubviz to null safety, I see it as the root package, then I have to look at its leaf nodes and update those first.

I'll pull in @kwalrath as she worked with others

[2021-08-05 20:50] kwalrath commented on #3451
It's funny, but people think of roots and leaves in different ways, maybe because graphs tend to show the root at the top and the leaves at the bottom, which is counterintuitive if you think about real-life trees.

I believe the description is correct, as written, but we can always make it clearer. I'm just not sure how.

[2021-08-05 21:15] tomaszpolanski commented on #3451
I agree that the description is correct - the only controversial issue is `root` vs `leaves`.
Another way to explaining this is upstream vs downstream dependency but it might also bring some confusion.

The reason why I've created this issue is that already twice I had to explain it to confused collegues.

[2021-08-05 21:41] kwalrath commented on #3451
Thanks, it really helps to have that context. We could emphasize whether your dependencies are null safe, and mention but deemphasize _root/leaf_ and related terms.

[2021-08-05 23:10] kwalrath opened #3455 "Document the triple-shift (>>>) operator"
### What information is missing?

2.14 will support the `>>>` operator. I need to update the language tour to reflect that. Resources:

* [Feature specification](https://github.com/dart-lang/language/blob/master/accepted/future-releases/triple-shift-operator/feature-specification.md)
* https://github.com/dart-lang/language/issues/120
* https://github.com/dart-lang/language/issues/478
* https://git

[2021-08-05 23:13] parlough commented on #2755
Closing in favor of https://github.com/dart-lang/site-www/issues/3455 which will see the `>>>` operator as implemented in Dart 2.14 documented.

Thanks for opening the issue!

[2021-08-05 23:13] #2755 closed

[2021-08-06 01:32] parlough commented on #3368
Fixed by https://github.com/dart-lang/site-www/commit/a44e504ce9c0a3abaa2814c7e1f654e487c3f126 among others which added GitHub issue forms to the repository. 🥳

[2021-08-06 01:32] #3368 closed

[2021-08-06 01:46] parlough commented on #2174
Do you think we're at a point now where we can consider removing at least some of the Dart 2 version notes?

[2021-08-06 01:52] parlough commented on #1820
I believe that this has been fixed with the switch to GitHub Actions. You can see how `deploy` depends on the `test` jobs being successful here: https://github.com/dart-lang/site-www/blob/master/.github/workflows/build.yml#L85

An example commit to the main branch which had failures which prevented the deploy job: https://github.com/dart-lang/site-www/actions/runs/1046231941

So I will close this

[2021-08-06 01:52] #1820 closed

[2021-08-06 02:12] parlough commented on #2041
I'm going to close this as all remaining tasks seem to have an associated issue and this was for 2019. Thanks for all the great work, it makes working on the site a pleasure.

[2021-08-06 02:12] #2041 closed

[2021-08-06 11:30] maheshmnj commented on #2991
@micpap25  thanks for filing the issue could you please point to the source code where exactly you meant?

[2021-08-06 12:36] chalin commented on #2041
My time flies! Thanks for the kind words @parlough.

[2021-08-06 19:55] parlough commented on #2991
I think @micpap25 is referring to the website in general not being consistent in its practices across many pages. The specific examples though were the [Null safety migration guide](https://github.com/dart-lang/site-www/blob/master/src/null-safety/migration-guide.md) which places the declarations for reference style Markdown links near where they are used compared to the [language tour](https://gi

[2021-08-07 04:55] parlough commented on #1107
At least the issue resulting in that stack trace doesn't seem to occur anymore, appearing to be fixed in https://github.com/filiph/linkcheck/commit/011ce655653c0f94bb6f522ef92f486fc835a513

The connection failed issue is still occurring though, even with the switch to GitHub actions.

[2021-08-07 05:05] parlough commented on #1748
I believe GitHub actions fails if there is an error with the linkchecker. Do you want it to fail if there are warnings as well?

[2021-08-07 15:14] i3games opened #3461 "[PAGE ISSUE]: 'The Dart type system'"
### Page URL

https://dart.dev/guides/language/type-system

### Page source

https://github.com/dart-lang/site-www/tree/master/src/_guides/language/type-system.md

### Describe the problem

The explanation for "Use sound parameter types when overriding methods" is wrong.

The explanation says:
"This code is not type safe because it would then be possible to define a cat and send it after an alliga

[2021-08-08 00:09] parlough commented on #3461
Thanks for opening an issue! I believe the intention here is to show why tightening the parameter's type to `Mouse` is not type safe(hence the static analysis error on the declaration code block) as an alligator would still be able to be passed in anyway if the reference is of type `Animal` like you said.

Essentially it's a theoretical situation to showcase if that parameter tightening code worke

[2021-08-08 04:02] dasa376 opened #3470 "firebase.json"
"hosting": {
  "public": "public",  // the only required attribute for Hosting
  "ignore": [
    "firebase.json",
    "**/.*",
    "**/node_modules/**"
  ]
}

"hosting": {
  "public": "public"

  // ...
}

"hosting": {
  "public": "dist/app"

  // ...
}

[2021-08-08 08:05] i3games commented on #3461
Thanks for your response, yes I think a bit of wording would make that clear.  Also to understand that it is not about preventing the Cat from chasing an Alligator, because that is what type "loosening" allows (code above) but it shouldn't be a able to do so when you *excpect* it can only chase a Mouse. Does that make sense?

Note that you only get a *runtime* error if you assign `cat` explicitely

[2021-08-09 15:55] kwalrath commented on #2174
I suspect so. I'll bring this up tomorrow when I talk to @mit-mit.

[2021-08-09 16:08] kwalrath commented on #1748
Nope, warnings are fine. Thanks for asking!

[2021-08-09 16:08] #1748 closed

[2021-08-09 19:33] #3295 closed

[2021-08-10 16:57] #1073 closed

[2021-08-10 17:06] kwalrath opened #3478 "Fix the beta build"
### Describe the problem

The [build is failing](https://github.com/dart-lang/site-www/runs/3292907772?check_suite_focus=true) in a [beta job](https://pipelines.actions.githubusercontent.com/VfteH5qfyVIn9IAyGolGBaN4rI1EAs9ujkrV8eieuTVoZtYAc9/_apis/pipelines/1/runs/1478/signedlogcontent/10?urlExpires=2021-08-10T17%3A05%3A54.1900811Z&urlSigningMethod=HMACV1&urlSignature=CSnw8MGTUB6zYLpkZCVClKVGRXBCJ

[2021-08-10 17:07] kwalrath commented on #3478
https://github.com/dart-lang/site-www/pull/3454 has the dev build fix.

[2021-08-10 17:13] kwalrath opened #3480 "Update analyzer results when we release 2.14 to stable"
### Describe the problem

The build will break when we release 2.14 stable.

### Expected fix

The same fix we had to make for the dev & beta channels. See #3478 for links.

### Additional context

_No response_

[2021-08-10 17:14] #3478 closed

[2021-08-10 19:57] kwalrath commented on #2174
We decided that since most people are using 2.12 or later (according to our analytics) and the tools tell you what to do to use new features if you're using a 2.7+ SDK, we'll only talk about versions for features introduced in 2.12 or later.

So let's remove the version notes for anything before 2.12.

[2021-08-10 22:33] munificent commented on #3354
Re-opening because I think @sigmundch would still like some changes to "Effective Dart". I'm not crazy about using `is` because I don't want users to think subtyping gets involved, but maybe that's the best we can do. Maybe if we are just very explicit, like:

[2021-08-10 23:15] #3289 closed

[2021-08-10 23:58] parlough commented on #3305
Closing as a duplicate of https://github.com/dart-lang/site-www/issues/2578

[2021-08-10 23:58] #3305 closed

[2021-08-11 22:34] johnpryan opened #3485 "Review tone of strings in Dart Cheatsheet"
### Page URL

https://dart.dev/codelabs/dart-cheatsheet#optional-named-parameters

### Page source

https://github.com/dart-lang/site-www/blob/master/src/codelabs/dart-cheatsheet.md

### Describe the problem

Some strings used in the snippets on this page might not be following our [style guide](https://developers.google.com/style/tone).

### Expected fix

We should consider avoiding wacky soundin

[2021-08-11 22:42] #2295 closed

[2021-08-12 21:54] parlough commented on #2230
I'm going to mark this is fixed by https://github.com/dart-lang/site-www/pull/2231 now, as the links now seem to still be leading to the correct locations while not resulting in an overlay preventing pointer interaction. Thanks!

[2021-08-12 22:02] parlough commented on #2221
As a reference, there currently is an example of this in the cheatsheet codelab: https://dart.dev/codelabs/dart-cheatsheet#using-this-in-a-constructor

Perhaps we could present this as an alternative in the [constructor section](https://dart.dev/guides/language/language-tour#constructors) for the `Point` constructor.

[2021-08-12 22:12] parlough opened #3487 "Revisit removing old command tool version notes when fully removed"
We'll keep the notes pointing to the old version of the `dart` tools for now as they still have some use and are not fully removed yet. These notes can help users realize the new version of the older tool. Once they have been fully removed or soon before, consider removing these version notes.

[2021-08-12 22:19] #2174 closed

[2021-08-13 18:14] parlough commented on #2222
Thanks for filing an issue and all of the following discussion! It seems the appropriate commands are all included in the cached Dart SDK now, but more importantly dart2native is now accessed through the top level `dart compile` command which should be accessible directly from the Flutter bin folder. The documentation for dart2native has also been replaced with the `dart compile` documentation, so

[2021-08-13 18:14] #2222 closed

[2021-08-16 18:06] parlough commented on #2908
Thanks for opening the issue, but without any specific feedback on what caused confusion, we don't have a great direction for what to improve. So I'm going to close the issue for now.

Feel free to respond here or open a new issue if you have any information you want to add. We'd be happy to explain something here and/or improve the page. Thanks again!

[2021-08-16 18:06] #2908 closed

[2021-08-16 18:50] parlough commented on #2731
I'm assuming this issue was for a specific point that the diagnostic messages page was out of date like https://github.com/dart-lang/site-www/issues/1892 was.

So I'll close this in favor of the issue to automate the update process. I've also included the most recent changes in https://github.com/dart-lang/site-www/pull/3496

[2021-08-16 18:50] #2731 closed

[2021-08-18 21:50] parlough commented on #2061
There are currently no remaining missing link anchors after https://github.com/dart-lang/site-www/pull/3459, closing this issue.

If anyone reading this comes across new broken links, feel free to open a new issue. Thanks!

[2021-08-18 21:50] #2061 closed

[2021-08-18 22:51] kwalrath opened #3503 "Remove Flutter Day puzzle piece"
### Page URL

https://dart.dev/codelabs/async-await#exercise-practice-handling-errors

### Page source

https://github.com/dart-lang/site-www/tree/master/src/codelabs/async-await.md

### Describe the problem

We should remove the following image and text, which were part of a long-ago [FlutterDay quest](https://twitter.com/FlutterDev/status/1276198179843629058):

![image](https://user-images.githu

[2021-08-18 22:55] parlough commented on #3503
Makes sense, but I'll miss it 💙

[2021-08-18 22:56] kwalrath commented on #3503
@sfshaza2 I can't find any pieces on flutter.dev.

@domesticmouse we might still have pieces in the external codelabs... unless you remember removing them?

[2021-08-18 22:58] domesticmouse commented on #3503
I think it is in at least one codelab. I'll find it when I do a sweep through the codelabs to proof everything for the next Flutter stable release.

[2021-08-18 23:02] kwalrath commented on #3503
We had a list of the pieces somewhere... I can try to find it if you can't find all 4 (or was it 5?).

[2021-08-18 23:06] #3503 closed

[2021-08-18 23:07] kwalrath commented on #3503
I'll file an issue on flutter/website, if you haven't already.

[2021-08-19 20:49] #3332 closed

[2021-08-21 01:50] parlough opened #3509 "[PAGE SUGGESTION]: 'Tutorials: web apps' - Add a mention to Flutter Web"
### Page URL

https://dart.dev/tutorials/web/index

### Page source

https://github.com/dart-lang/site-www/tree/master/src/_tutorials/web/index.md

### Describe the problem

Right now there is no mention of Flutter Web on this page despite being a summary page for "Web app" tutorials.

### Expected fix

Consider include some mention of Flutter Web and a link to a tutorial or codelab such as [Write

[2021-08-21 18:20] AlexanderJohr opened #3511 "[PAGE ISSUE]: 'Understanding null safety' shouldn't it be called type demotion instead of type promotion?"
### Page URL

https://dart.dev/null-safety/understanding-null-safety/#type-promotion-on-null-checks

### Page source

https://github.com/dart-lang/site-www/tree/master/src/null-safety/understanding-null-safety/index.md

### Describe the problem

Dear Bob Nystrom,

in Section Type **promotion on null checks**,

shouldn't it be called _type **demotion** on null checks_ instead of _type **promotion**

[2021-08-21 19:29] AlexanderJohr commented on #3511
If you agree, I would take spend my time changing the texts

[2021-08-22 01:23] parlough commented on #3511
Hey @AlexanderJohr, thanks for opening an issue.

It definitely can be a bit confusing and I'm not fully sure how to best explain, but type promotion is about moving down the class hierarchy, not up. This provides access to more properties/methods, hence type _promotion_. All `List<String>` objects are `List<String>?` and can be assigned to variables of that type, but not the other way around. Typ

[2021-08-22 01:46] parlough commented on #3511
There are some more formal mentions of type promotion in the [language spec](https://spec.dart.dev/DartLangSpecDraft.pdf), which better define type promotion and contains pieces such as the following which loosely describe promotion being from a "weaker" type to a subtype (which has access to more):

variable at a given point, which complicates the specification. Hence the requirement that the pro

[2021-08-23 04:07] asifimtiazahmed opened #3514 "[PAGE ISSUE]: 'Add elements to the DOM'"
### Page URL

https://dart.dev/tutorials/web/low-level-html/add-elements

### Page source

https://github.com/dart-lang/site-www/tree/master/src/_tutorials/web/low-level-html/add-elements.md

### Describe the problem

I am using the latest stable channel of flutter+dart. However I was trying out dart web, and The example here is outdated, not null safe, and frustrating! Please fix it, I want to be

[2021-08-23 16:31] parlough commented on #3514
Hey @asifimtiazahmed, thanks so much for opening an issue. This is one of the remaining pages we haven't had a chance to update yet, but it is on my to-do list and I'll start work on it soon.

I'm going to close this as a duplicate of https://github.com/dart-lang/site-www/issues/3415 since we're tracking the work there. If you have any more feedback on this issue, feel free to add it there, and if

[2021-08-23 16:31] #3514 closed

[2021-08-23 22:38] #1265 closed

[2021-08-25 00:11] #1099 closed

[2021-08-25 21:46] jakemac53 opened #3518 "[PAGE ISSUE]: 'Creating packages'"
### Page URL

https://dart.dev/guides/libraries/create-library-packages

### Page source

https://github.com/dart-lang/site-www/tree/master/src/_guides/libraries/create-library-packages.md

### Describe the problem

The organization section (https://dart.dev/guides/libraries/create-library-packages#organizing-a-library-package) should suggest exporting explicitly the symbols you want to expose (us

[2021-08-27 19:57] parlough opened #3522 "Add all missing pub command options"
### Page URL

https://dart.dev/tools/pub/cmd

### Describe the problem

Currently the pub command pages list each command's applicable options. Some of these commands are missing some options.

### Expected fix

Now that https://github.com/dart-lang/site-www/pull/3493 has landed with a new standardized style and format, check each command and if any has missing options, document them. They should

[2021-08-27 22:26] pq opened #3525 "effective dart: advice on unnamed vs. constructor tear-off `new` constructors?"
### What information is missing?

With [constructor tear-offs](https://github.com/dart-lang/language/blob/master/accepted/future-releases/constructor-tearoffs/feature-specification.md), there is a "new" way to define the unnamed constructor for a class.

[code]

Do we want to discourage people from using this syntax and prefer the less magic, more familiar (and equivalent):

[code]

?

### How wou

[2021-08-28 03:48] FR15 opened #3526 "[PAGE ISSUE]: 'Futures and error handling'"
### Page URL

https://dart.dev/guides/libraries/futures-error-handling

### Page source

https://github.com/dart-lang/site-www/tree/master/src/_guides/libraries/futures-error-handling.md

### Describe the problem

the 'Errors in the middle of a long chain' section , the catchError should return String type, not int.

### Expected fix

_No response_

### Additional context

_No response_

[2021-08-28 23:38] parlough commented on #3526
Hey @FR15, thanks for opening the issue.

I think as long as the returned type matches the return type of `processValue`, this should be fine in terms of proper static typing. Since `processValue` is not defined, nor the focus of this example, I can see where the confusion can arise.

We should either return a string to be consistent and make the example more focused or make it more clear that `pr

[2021-08-30 12:21] lrhn commented on #3525
I'm considering writing a FAQ for the constructor tearoffs feature(-set).
My take so far on this is:

[2021-08-31 02:30] parlough opened #3532 "[PAGE ISSUE]: 'Dart SDK archive' page shows up unexpectedly in the navbars"
### Page URL

https://dart.dev/tools/sdk/archive/

### Page source

https://github.com/dart-lang/site-www/tree/master/src/tools/sdk/archive/index.md

### Describe the problem

The archive page shows up as the Dart SDK cli `Overview` page under tools in the left sidebar and under "Docs" in the top bar, despite being navigated to from the top level `get-dart` page.

![image](https://user-images.gith

[2021-08-31 09:57] jiqimao3528 opened #3534 "[PAGE ISSUE]: 'Understanding null safety'"
### Page URL

https://dart.dev/null-safety/understanding-null-safety/

### Page source

https://github.com/dart-lang/site-www/tree/master/src/null-safety/understanding-null-safety/index.md

### Describe the problem

the code example in this page can not compile success:
[code]

### Expected fix

_No response_

### Additional context

environment:
  sdk: '>=2.12.0 <3.0.0'

[2021-08-31 11:11] TahaTesser commented on #3534
Hi @jiqimao3528
It fails to compile because `T` is not nullable

Thanks for filing the issue

[2021-08-31 11:17] TahaTesser commented on #3534
duplicate of https://github.com/dart-lang/site-www/issues/2763

[2021-08-31 11:17] #3534 closed

[2021-08-31 11:19] TahaTesser commented on #2763
Thre was new a duplicate of https://github.com/dart-lang/site-www/issues/3534, i filed an fix that makes `T` nullable but constructor is a better fix, waiting for PR to land and no more info is needed

[2021-09-01 15:19] parlough commented on #63
I'm going to close this as fixed by https://github.com/dart-lang/site-www/pull/3536 🥳

At the moment, it will only trigger for branches directly on this repository, limiting it to those who have push access. Most large changes are from dart-lang members or repository collaborators, so this should be fine for now. We could revisit this in the future if needed.

[2021-09-01 15:19] #63 closed

[2021-09-01 17:19] #1256 closed

[2021-09-01 18:31] pq commented on #3525
https://github.com/dart-lang/linter/pull/2919 lands `unnecessary_constructor_name`.  Here are the docs I threw together.  Comments and feedback are welcome!

---

# unnecessary_constructor_name

**PREFER** using the default unnamed Constructor over `.new`.

Given a class `C`, the named unnamed constructor `C.new` refers to the same
constructor as the unnamed `C`. As such it adds nothing but visual

[2021-09-01 18:40] parlough commented on #3124
I think the addition of a "good" example with the current text after https://github.com/dart-lang/site-www/pull/3066 seems to sufficiently solve this issue. Let me know if you think further additions or changes are needed.

Thanks again for creating an issue for this!

[2021-09-01 20:05] parlough commented on #1270
I've modified this issue to track archiving the other repository to avoid potential confusion as most, if not all, examples there are out dated and likely not functional with null safety.

Once https://github.com/dart-lang/site-www/issues/3415 is completed, everything still used from there should be tracked on site-www

[2021-09-02 00:13] kwalrath commented on #1860
I think so. I'm closing this issue.

[2021-09-02 00:13] #1860 closed

[2021-09-02 17:57] ufrshubham opened #3542 "[PAGE ISSUE]: 'Native extensions for the standalone Dart VM'"
### Page URL

https://dart.dev/server/c-interop-native-extensions.html

### Page source

https://github.com/dart-lang/site-www/tree/master/src/server/c-interop-native-extensions.md

### Describe the problem

Section [Appendix: Compiling and linking extensions](https://dart.dev/server/c-interop-native-extensions#appendix-compiling-and-linking-extensions) talks about a platform-independent build sys

[2021-09-02 18:19] parlough commented on #3542
Hey @ufrshubham, thanks for opening an issue!

Unfortunately, support for native extensions is [being removed](https://github.com/dart-lang/sdk/issues/45451) and this article is quite out of date, including this section. This is even more the case as the more recent sample and other related code was all removed today in https://github.com/dart-lang/sdk/commit/bda70c84892923769c40a131886d6e70fadc99

[2021-09-02 18:43] ufrshubham commented on #3542
Oh I see. If native extensions support is being dropped, then I don't see any point in updating this article. I am anyways using dart ffi so it is definitely not an major issue for me. Thanks for the information though.

[2021-09-02 23:49] #3518 closed

[2021-09-03 01:39] #3542 closed

[2021-09-03 19:05] timsneath opened #3543 "[PAGE ISSUE]: 'Books about Dart'"
### Page URL

https://dart.dev/resources/books.html

### Page source

https://github.com/dart-lang/site-www/tree/master/src/resources/books.md

### Describe the problem

I think we should consider removing the Dart 1 books from this page.

There are two Dart 2 books listed; the Wenderlich one is pretty good (I haven't reviewed the other).

I can't think of a scenario when I'd recommend the other b

[2021-09-04 09:48] LeQuadratico opened #3544 "[PAGE ISSUE] Command mentioned in page no longer available"
### Page URL

https://dart.dev/tools/pub/cmd/pub-cache.html

### Page source

https://github.com/dart-lang/site-www/tree/master/src/tools/pub/cmd/pub-cache.md

### Describe the problem

The section "Clearing the global system cache" mentions the command `dart pub cache clear` to empty the entire system cache.

However, when the command is used, I get the following error:
[code]

Flutter doctor:
[c

[2021-09-05 19:56] jamesderlin commented on #1158
Lambda and closure also are more common terms, should be known to people with computer science backgrounds, and can be looked up on Wikipedia ([lambda (programming)](https://en.wikipedia.org/wiki/Lambda_(programming)), [closure (computer programming)](https://en.wikipedia.org/wiki/Closure_(computer_programming))).  In contrast, I have never seen the term "tear-off" before learning Dart.

[2021-09-05 21:16] parlough commented on #3544
Hey @LeQuadratico, thanks so much for catching this and opening the issue!

I made a mistake when I added this subcommand, as it is actually `clean` instead of `clear`. Beyond that, I forgot this subcommand was not introduced until the 2.14 release of the SDK. I will go ahead and fix the name and add a note about version support.

Thanks again :)

[2021-09-06 00:27] parlough opened #3546 "Verify Firebase declared redirects still lead to useful locations"
The site has a lot of redirects, a few of which are quite old and potentially lead to dead or at least outdated sites.

We should verify each of them leads to a useful location, and if not try to point it to an actually useful/updated location. If there is no alternate, we should either remove the redirect so they get a 404 or add a new page for removed content.

[2021-09-06 13:43] mit-mit commented on #3543
Removing the Dart 1.x books sounds like a good idea to me!

[2021-09-08 00:41] #3544 closed

[2021-09-08 01:17] kwalrath commented on #3532
I'm open to anything that makes more sense than the current situation!

[2021-09-08 12:01] mit-mit opened #3553 "Test failure in CI"
### Describe the problem

CI job for code analysis is failing on the stable channel after we published 2.14.0:
https://github.com/dart-lang/site-www/actions/runs/1201957076

This seems to be the offending analysis issue:

https://github.com/dart-lang/site-www/runs/3544252089?check_suite_focus=true

[code]

### Expected fix

_No response_

### Additional context

_No response_

[2021-09-08 12:12] #3480 closed

[2021-09-08 12:12] #3553 closed

[2021-09-08 12:12] #3470 closed

[2021-09-08 14:12] #3526 closed

[2021-09-08 15:50] #3455 closed

[2021-09-08 22:51] munificent opened #3560 "Mention constructor tear-offs in Effective Dart "DON’T create a lambda when a tear-off will do.""
### Page URL

https://dart.dev/guides/language/effective-dart/usage#dont-create-a-lambda-when-a-tear-off-will-do

### Describe the problem

We have an existing rule that tells users to use a tear-off when possible. Right now, it is worded to specifically refer to methods. The language is getting support for [constructor tear-offs](https://github.com/dart-lang/language/blob/master/accepted/future-r

[2021-09-08 22:59] #2955 closed

[2021-09-08 23:00] #1521 closed

[2021-09-08 23:15] munificent commented on #3525
I love the linter rule and I agree with Lasse that the general "If there's two ways to do it, pick the short one" rule applies here and users should not use `.new` unless they are creating a tear-off.

I don't know if we need a specific "Effective Dart" rule for this. I'm inclined to leave it out and see if users naturally do the right thing. I'm always sensitive to "Effective Dart" being so long

[2021-09-09 00:31] #2763 closed

[2021-09-09 17:19] kwalrath commented on #3525
I agree. Minimalism is good. We can always add this later if it becomes a problem. Shall we close this issue?

[2021-09-09 17:36] pq commented on #3525
I'm happy closing it and waiting to see what happens in the wild.

Thanks all for the thoughtful conversation!

[2021-09-09 17:36] #3525 closed

[2021-09-09 18:19] kwalrath commented on #3056
Closed in #3556

[2021-09-09 18:19] #3056 closed

[2021-09-09 18:19] kwalrath commented on #3399
Closed in #3418

[2021-09-09 18:19] #3399 closed

[2021-09-09 19:44] kwalrath opened #3561 "Can't stage the site locally"
### Describe the problem

I haven't been able to stage the site locally today. I suspect this problem is related to #3540.

To be clear, I can serve the site at localhost:4000, but it looks terrible (no css, no images, no js). If I push to an external staging server (https://kw-staging-dartlang-2.web.app), it seems to work.

### Expected fix

Either provide a way to run the site using http, or hel

[2021-09-09 19:45] kwalrath commented on #1250
Working on this now.

[2021-09-09 20:09] kwalrath commented on #1038
Starting on this now

[2021-09-09 22:06] #1250 closed

[2021-09-09 22:12] feinstein commented on #1250
Thanks Kathy!

[2021-09-09 22:23] kwalrath commented on #1250
Thanks for reporting this, @feinstein!

[2021-09-10 00:31] kwalrath commented on #2878
Looks like I fixed this in #3039.

[2021-09-10 00:31] #2878 closed

[2021-09-10 21:21] parlough commented on #3561
Fixed by https://github.com/dart-lang/site-www/commit/e491c8134c187d12c087361f2892d9224eee1f0b

[2021-09-10 21:21] #3561 closed

[2021-09-13 06:17] david-fong commented on #2606
I came across the same source of confusion that motivated the [SO question that motivated this issue](https://stackoverflow.com/questions/63667801/should-i-use-package-import-when-importing-my-own-packages-library-in-dart. A key stumbling block in the question there wasn't copied over to this issue's description.

Specifically, [this part of the pub docs](https://dart.dev/tools/pub/package-layout#

[2021-09-13 09:29] lrhn commented on #2606
The pub docs should be updated, at least to say that it applies to links from *outside* the `lib/` directory.
(@jonasfj)

[2021-09-13 12:32] jonasfj commented on #2606
Filed https://github.com/dart-lang/site-www/pull/3571

[2021-09-13 16:53] david-fong commented on #2606
Thanks! I closed [the issue I incorrectly opened in the pub-dev repo](https://github.com/dart-lang/pub-dev/issues/5102).

[2021-09-14 03:03] sanjibsinha opened #3574 "Can I Submit this book, written by me, on Flutter and Dart, here?"
[Beginning Flutter with Dart](https://leanpub.com/beginningflutterwithdartl)
I want to know how to submit a book on Dart and Flutter in Dart.dev books category, for consideration.

[2021-09-14 17:18] kwalrath commented on #3561
Thanks for fixing this!

[2021-09-14 17:19] #1038 closed

[2021-09-14 23:45] kwalrath commented on #3574
We'd normally put Flutter books on flutter.dev — using the normal pull request process.

[2021-09-14 23:53] #2007 closed

[2021-09-14 23:59] #3543 closed

[2021-09-15 00:01] #2238 closed

[2021-09-15 00:12] #3532 closed

[2021-09-15 01:09] kwalrath commented on #2659
It doesn't statically check out for me, even if I add `?`s. Also, I don't see what's different between this and the old code. Maybe the analyzer is too smart for us now?

I'm working on this issue right now, trying to come up better text (and maybe example code) for https://dart.dev/guides/language/language-tour#restricting-the-parameterized-type.

[2021-09-15 07:21] sanjibsinha commented on #3574
HI Kathy
We'll kindly explain the process a little bit? What should I do in that
regard?
From where will pull that resource from? Actually, one of my books on Dart
published by Apress is there currently, however, they have done that.
Kind regards.
Sanjib

On Wed, Sep 15, 2021 at 5:15 AM Kathy Walrath ***@***.***>
wrote:

--
*Best Wishes and Kind Regards*
*Sanjib Sinha*

[2021-09-15 22:00] kwalrath commented on #3574
Here's an example of adding a book: https://github.com/flutter/website/pull/6217

[2021-09-15 22:07] srawlins opened #3576 "Static analysis page should be updated for new `ignore: type=lint` feature"
### Page URL

https://dart.dev/guides/language/analysis-options#suppressing-rules-for-a-file

### Page source

_No response_

### Describe the problem

Recently (as of last week, post-2.14), you can ignore static analysis reports inline in a new way:

`// ignore_for_file: type=lint` (or `// ignore: type=lint`)

This (first one) will suppress _all lint_ in a file (library?). So exciting! I don't kn

[2021-09-15 22:53] kwalrath opened #3577 "Document constructor tear-offs"
### What information is missing?

Constructor tear-offs are a new feature in 2.15:

* [spec](https://github.com/dart-lang/language/blob/master/accepted/future-releases/constructor-tearoffs/feature-specification.md)
* [faq](https://github.com/dart-lang/language/blob/master/accepted/future-releases/constructor-tearoffs/faq.md)

### How would you like us to fix this problem?

We should probably updat

[2021-09-16 10:35] sanjibsinha commented on #3574
Many Thanks. I'll try my best to follow your example.

On Thu, Sep 16, 2021 at 3:30 AM Kathy Walrath ***@***.***>
wrote:

--
*Best Wishes and Kind Regards*
*Sanjib Sinha*

[2021-09-16 15:59] devoncarew commented on #3560
@munificent @kwalrath - can one of you add this to the ctor tearoff project? https://github.com/orgs/dart-lang/projects/27; I don't seem to be able to edit issues in this repo

[2021-09-16 15:59] devoncarew commented on #3577
@kwalrath - can you add this to https://github.com/orgs/dart-lang/projects/27? Thanks!

[2021-09-16 16:57] #2493 closed

[2021-09-16 17:40] kwalrath commented on #2659
Is this something that the tools handle for us now, so we don't need to explicitly talk about it? I was thinking of a note like this, but maybe the point is moot:

-----------
  How does `Foo<T extends SomeBaseClass>` differ from `Foo<SomeBaseClass>`?
  If you use `<SomeBaseClass>`,
  then `Foo` can be provided objects of _any_ `SomeBaseClass` subtype.
  Adding `T extends` not only lets members of

[2021-09-16 18:00] leafpetersen commented on #2659
Again, this is (or at least reads as) a category confusion.  If you really mean, how does `class Foo<T extends SomeBaseClass> ...` differ from `class Foo<SomeBaseClass> ...` the answer is that `SomeBaseClass` in the first declaration is a free variable which refers to a specific class, and `SomeBaseClass` in the second example is the parameter, and does not refer to a specific class (you could equ

[2021-09-16 21:12] kwalrath commented on #2659
@feinstein, with the changes to the type system, do you still think we need to clarify this?

[2021-09-16 21:24] kwalrath commented on #267
Is the factory constructor still a good pattern, now that you can use `late final`?

[2021-09-16 21:26] kwalrath commented on #267
Oh, and hey, it looks like we already cover this case! https://dart.dev/guides/language/language-tour#factory-constructors

[2021-09-17 00:05] kwalrath commented on #2380
https://stackoverflow.com/questions/22210247/list-foreach-unable-to-modify-element seems to have good answers related to this. Basically, the variable (`val` above) doesn't actually refer to the item in the list; it just temporarily has the same _value_ as the item.

To apply one of lrn's explanations to your example, when you say `val *= someFactor`, it's like saying this:

[code]

To actually ch

[2021-09-17 00:59] kwalrath commented on #1371
I just tried to implement this in the two Operators sections, and... I've changed my mind about the utility of these links. In the [first table](https://dart.dev/guides/language/language-tour#operators), adding links would be horribly messy in the source code, and it's pretty easy to find the operator sections because they follow the table. In the [second table](https://dart.dev/guides/language/la

[2021-09-17 00:59] #1371 closed

[2021-09-17 05:46] feinstein commented on #2659
No, I think this can be closed... Thank you for taking the time to clarify the type system!

[2021-09-17 05:46] #2659 closed

[2021-09-18 18:39] albinpk opened #3582 "Head text overlapping"
### Describe the problem

Head text and chapter links overlaps in mobile view

![Screenshot_20210918-235402~3](https://user-images.githubusercontent.com/56157868/133905222-a21165d1-853b-4248-a079-1f93575ddd75.png)

### Expected fix

_No response_

### Additional context

_No response_

[2021-09-19 00:25] parlough commented on #3582
Thanks for catching this @albinpk! I confirmed this is happening on my phone, to not as large of an extent, but it's very noticeable when I set Chrome to the layout of the Pixel 2 XL.

[2021-09-19 01:45] parlough opened #3584 "Switch to using `main` as primary branch"
We should migrate the repository to use `main` as the primary branch. This involves at least a few steps:

- [ ] Create the new `main` branch and switch to [using it as the default branch](https://github.com/github/renaming)
- [ ] Update the Jekyll configuration to reference the `main` branch instead
- [ ] Update GitHub actions to run on the `main` branch instead
- [ ] Update all self referencing

[2021-09-20 16:44] #3582 closed

[2021-09-20 17:21] #2340 closed

[2021-09-20 17:36] kwalrath commented on #3584
I believe we plan to do this when we update dart.dev to use the same infra as flutter.dev. Is there any urgency to get this done before, say, November?

[2021-09-20 17:53] parlough commented on #3584
@kwalrath I think it's fine to put that work together, I'll switch this to `blocked` for now.

[2021-09-20 18:13] parlough commented on #3576
Would it be useful to also highlight a specific use case? Is this primarily intended for generated code?

[2021-09-20 18:30] srawlins commented on #3576
Good point. The motivation was 100% for generated code, and that's all that comes to mind now 😛

[2021-09-20 21:52] #267 closed

[2021-09-20 21:57] kwalrath opened #3588 "[PAGE ISSUE]: 'Effective Dart: Design'"
### Page URL

https://dart.dev/guides/language/effective-dart/design

### Page source

https://github.com/dart-lang/site-www/tree/master/src/_guides/language/effective-dart/design.md

### Describe the problem

https://dart.dev/guides/language/effective-dart/design#avoid-public-late-final-fields-without-initializers doesn't mention the solution of using a factory constructor. See #3580 and #267 for

[2021-09-21 05:59] parlough commented on #3415
I've started working on this. I'll try my best to split this work into chunks that can work and be deployed standalone to ease reviewing and make it easier on my end as well.

[2021-09-21 18:08] parlough opened #3591 "Switch examples ignoring analysis errors and hints on purpose to use ignore"
### Describe the problem

Currently, there are some `ignore_for_file`s used to ignore a lot of errors and hints for issues we want to keep for demonstration purposes. This can cause issues in case there are other errors in the file we don't want to ignore, making them easy to miss.

### Expected fix

Update those situations to use a single line `ignore` instead and fix any problems with the result

[2021-09-25 01:13] #3591 closed

[2021-09-25 02:24] parlough commented on #3546
If a link is pointing to a location with no good alternative, should we just remove the redirect so it results in a 404?

[2021-09-26 18:38] codisfy opened #3597 "[PAGE ISSUE]: 'A tour of the Dart language'"
### Page URL

https://dart.dev/guides/language/language-tour

### Page source

https://github.com/dart-lang/site-www/tree/master/src/_guides/language/language-tour.md

### Describe the problem

On the following example:
[code]
A note about list states

But if I run the code on https://dart.dev/#try-dart like

[code]

It doesn't give any error suggesting that the Note needs to be either updated or

[2021-09-26 20:01] parlough commented on #3597
Hey @codisfy, thanks for opening an issue. Let me start by explaining what is going on here.

So Dart is inferring the type based off the nearest shared type of the items in the list literal. In the included case, since all of its elements have the type `int`, `list` is inferred to have type `List<int>` hence not being able to add non-integer objects after creation.

[code]

In your example, since

[2021-09-28 09:47] codisfy commented on #3597
@parlough perfect explanation. Makes much more sense now.
Thanks a lot.

[2021-09-28 09:47] #3597 closed

[2021-09-28 17:41] bwilkerson opened #3599 "Updated diagnostic documentation available"
The documentation for diagnostics (https://github.com/dart-lang/sdk/blob/main/pkg/analyzer/tool/diagnostics/diagnostics.md) has been updated and is ready to be published.

[2021-09-28 17:59] parlough opened #3601 "Update samples linked to from redirects"
There are a few samples linked to directly from redirects, we should verify these are all updated to support null safety. If they are not, we should either update the sample to follow `package:lints/recommended.yaml` and support null safety or remove them if they are no longer useful.

[2021-09-28 20:37] dramos07 opened #3602 "[Effective Dart] Add function definition to glossary"
### Page URL

https://dart.dev/guides/language/effective-dart/design#avoid-starting-a-method-name-with-get

### Page source

_No response_

### Describe the problem

The current guidance for [avoiding starting a method with `get`](https://dart.dev/guides/language/effective-dart/design#avoid-starting-a-method-name-with-get) should also include functions since it also applies to that just like [avoi

[2021-09-29 01:13] parlough commented on #3602
Thanks for bringing this up @dramos07, I think it makes sense for this Effective Dart suggestion to apply to normal functions as well.

@munificent Do you think it's fine to adjust this wording to "function or method" like some of the preceding rules?

[2021-09-29 22:26] #3599 closed

[2021-09-29 22:36] kwalrath commented on #3546
Yes, I think so. That way we both offer the possibility of searching for something else, and see that people wanted the info at that URL.

[2021-10-02 23:00] Veercodeprog commented on #3602
anyone working on this?
assign me please

[2021-10-02 23:01] Veercodeprog commented on #3602
do i have to change the method name in multiple files or any particular one?

[2021-10-03 19:51] parlough commented on #3602
Hi @Veercodeprog, what this issue is mentioning is not about changing any method names. It's instead modifying a [code design suggestion](https://dart.dev/guides/language/effective-dart/design#avoid-starting-a-method-name-with-get) from [here](https://github.com/dart-lang/site-www/blob/master/src/_guides/language/effective-dart/design.md#avoid-starting-a-method-name-with-get) to apply to normal fu

[2021-10-04 16:37] parlough commented on #3601
A majority of these examples are web based ones previously found at https://github.com/dart-archive/dart-samples/tree/master/html5

The question is if we want to remove them or if it would be worth it to update the still relevant examples, following modern Dart standards and add them to the newer [samples repo](https://github.com/dart-lang/samples) or another location where they may be useful to l

[2021-10-04 16:41] parlough commented on #3574
I will close this as any work here should be done on the flutter/website side. Thanks again.

[2021-10-04 16:41] #3574 closed

[2021-10-05 07:05] sanjibsinha commented on #3574
Cool, thanks!

On Mon, Oct 4, 2021 at 10:11 PM Parker Lougheed ***@***.***>
wrote:

--
*Best Wishes and Kind Regards*
*Sanjib Sinha*

[2021-10-06 00:47] #3546 closed

[2021-10-06 02:30] parlough commented on #3601
If we're not planning to maintain the samples, the question becomes do we want to keep the redirects as is to the outdated samples, remove them completely, or redirect them elsewhere such as dart.dev/tutorials?

[2021-10-07 16:56] parlough commented on #3522
If anyone wants to help with this before I get to it, if you check the help information for each pub subcommand and compare that to its documentation page and you find any discrepancies, feel free to add them here or even create a PR accounting for the missing option.

[2021-10-07 22:12] kwalrath opened #3611 "Add additional information to dart format page"
### Page URL

https://dart.dev/tools/dart-format.html

### Page source

https://github.com/dart-lang/site-www/tree/master/src/tools/dart-format.md

### Describe the problem

We should consider adding the info in https://github.com/dart-lang/dart_style/wiki/CLI-Changes.

(I just found out about that page from https://groups.google.com/a/dartlang.org/g/misc/c/Rcpd_Sr0aKg/m/8sD323psBQAJ.)

### Expect

[2021-10-07 23:48] Veercodeprog commented on #3602
ok got it
we can add something like with some reference example
AVOID starting a method  or function name with get.

[2021-10-08 00:44] Veercodeprog commented on #3611
anyone on this?
what information needs to be added?

[2021-10-08 20:50] parlough opened #3614 "[PAGE ISSUE]: "exercise" spelt incorrectly as "exericise" in image name"
### Page URL

https://dart.dev/resources/dartpad-best-practices.html

### Page source

https://github.com/dart-lang/site-www/tree/master/src/resources/dartpad-best-practices.md

### Describe the problem

The alt text and image file name within the **II. Exercise** section has misspelt "exercise" as "exericise".

### Expected fix

The image [m_exericise.png](https://github.com/dart-lang/site-www/bl

[2021-10-08 21:12] parlough opened #3615 "Use simpler/faster `$(document.body)` instead of `$('body')` in main.js"
### Describe the problem

We currently use an inconsistent mix of `$('body')` and `$("body")` within [main.js](https://github.com/dart-lang/site-www/blob/master/src/_assets/js/main.js).

### Expected fix

We should switch these to the more consistent and slightly more performant `$(document.body)`. This will also very slightly simplify a transition away from jquery in the future.

### Additional c

[2021-10-08 21:16] parlough opened #3616 "Remove unused `openPopSelector` variable in main.js"
### Describe the problem

The `openPopSelector` variable in [main.js](https://github.com/dart-lang/site-www/blob/master/src/_assets/js/main.js#L87) is currently unused

### Expected fix

We should remove the variable if we are not using it.

[2021-10-08 21:22] parlough opened #3617 "Don't unnecessarily specify border-width twice for blockquotes"
### Describe the problem

In [main.css](https://github.com/dart-lang/site-www/blob/master/src/_assets/css/main.scss#L1393-L1394) we specify the border style for `blockquote`s but then overwrite the border-width we just set.

### Expected fix

We can just not set the border-width in the `border` shorthand property to simplify it to:

[code]

### Additional context

_No response_

[2021-10-08 21:23] bstuff commented on #3615
can I take?

[2021-10-09 01:21] DatBoiLuiskrrt commented on #3617
I've resolved this issue, and did a pull request. Let me know if everything looks right.

[2021-10-09 04:48] PurpleDDive commented on #3616
Hello there!
Can I be assigned to this task?

[2021-10-09 05:01] PurpleDDive commented on #3614
Hello there!
I want to help with this issue, hope this issue hasn't been fixed already like the issue 3616.
Can I still be assigned?

[2021-10-09 20:12] #3615 closed, assigned to nobody

[2021-10-09 20:13] #3616 closed, assigned to nobody

[2021-10-09 20:13] #3617 closed

[2021-10-10 14:51] san-2015 commented on #3614
May I try to fix this issue?

[2021-10-10 19:46] #3614 closed, assigned to nobody

[2021-10-10 19:48] parlough commented on #3601
Since we're keeping these older redirects and I've updated the gist based ones, I will close this issue. I may follow up by updating the older samples for reference purposes if I get a chance.

[2021-10-10 19:48] #3601 closed

[2021-10-11 19:24] parlough opened #3621 "Consider enabling `prefer_final_in_for_each` lint rule for examples"
### Describe the problem

The [`prefer_final_in_for_each`](https://dart.dev/tools/linter-rules#prefer_final_in_for_each) lint rule is not currently included in the recommended set, but it is a good practice as it helps prevent confusing/accidental reassignments during iteration. I've found these reassignments confusing to learners while I teach programming, so I think it would be worth switching o

[2021-10-12 06:22] parlough opened #3623 "Usage of `LineSplitter()` in examples should use the `const` constructor"
### Describe the problem

There are currently a few uses of `LineSplitter` where they could use the `const` constructor but they don't.

### Expected fix

These instances in the Dart code and documentation excerpts should use the `const` constructor instead.

`LineSplitter()` -> `const LineSplitter()`

| Example Code

[2021-10-12 12:55] lkmandy commented on #3623
Hi, I will like to work on this issue.

[2021-10-12 17:14] parlough commented on #3623
Hi @lkmandy, that would be great. Let me know if you have any issues. Thanks so much!

[2021-10-14 05:07] yanadior9029 opened #3628 "[PAGE ISSUE]: 'Write command-line apps'"
### Page URL

https://dart.dev/tutorials/server/cmdline

### Page source

https://github.com/dart-lang/site-www/tree/master/src/_tutorials/server/cmdline.md

### Describe the problem

Please provide more guidance on which path file - quotes.txt will be picked up from. Through hit and trial, i figured out that 'quotes.txt' should be under root of the dart-project.
Is there any concept of classpath