[2019-03-15 22:42] #1405 closed

[2019-03-15 23:10] #1372 closed

[2019-03-19 19:37] alorenzen opened #1410 "Mention set literals in effective dart"
Page URL: https://www.dartlang.org/guides/language/effective-dart/usage
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/effective-dart/usage.md

https://www.dartlang.org/guides/language/effective-dart/usage#do-use-collection-literals-when-possible
This mentions List and Map literals, but not the new Set literal.

[2019-03-19 19:48] kwalrath opened #1411 "Fix sidenav behavior when it disappears"
See https://github.com/dart-lang/site-www/pull/1409#issuecomment-474415397 for details.

Possibly this issue should be moved to site-shared or duplicated on flutter/website.

[2019-03-19 20:00] kwalrath commented on #1410
Thanks for the report. I'm going to close this in favor of #1365.

[2019-03-19 20:00] #1410 closed

[2019-03-27 21:10] yohanhyunsungyi opened #1424 "Contributing with translations"
Hello!

I am currently working as an iOS Developer in the U.S but also using Dart language to create an app. I want to contribute to translating this documents of Plutter into Korean which is my mother language. I saw the issue #645 , and there I saw that it is okay to register my domain and put some translated documents about some small subset.
Therefore. If you agree, I would like to register th

[2019-03-27 22:43] kwalrath commented on #1424
We'd be very happy to have you translate the site and to point to it if it's the best resource for Korean Dart developers. I don't know what the policy is on domain names, though. @filiph maybe you know?

[2019-03-28 15:33] YohanHyunsungYi commented on #1424
Thank you @kwalrath !
Anyways, I have already started translate the site for my personal studying use. Once I finalize it I can share it with you guys :)
let me know if there is a policy on domain name. :)
I am so happy to be able to contribute to the Dart language environment.

[2019-03-30 02:25] cphoenix-google opened #1427 "Remove the word "Lame" from docs"
"We've got to type x four times here define a field. Lame. We can do better:"

https://github.com/dart-lang/site-www/blob/master/src/_guides/language/effective-dart/usage.md

[2019-03-30 03:52] kevmoo commented on #1427
CC @munificent

Are we worried that this won't be understandable by non-native speakers?

I kind of like the casual tone – FWIW.

[2019-03-30 03:52] kevmoo commented on #1427
CC @kwalrath

[2019-03-30 04:08] cphoenix-google commented on #1427
It's offensive / hurtful to some people. Just seems better not to use it
this way. https://en.wikipedia.org/wiki/Ableism#The_Pitied_Character

On Fri, Mar 29, 2019 at 8:52 PM Kevin Moore <notifications@github.com>
wrote:

[2019-04-01 03:58] kwalrath commented on #1427
I think we can just remove the entire sentence ("Lame."). @cphoenix-google you're welcome to make this change yourself by clicking the doc icon at the top of the page, or we can do it the next time we get a chance.

[2019-04-01 06:24] cphoenix-google commented on #1427
I did https://github.com/dart-lang/site-www/pull/1428 but got an error on the pull request, and I can't remember whether Googlers are or aren't supposed to sign the CLA.

[2019-04-01 16:27] kwalrath commented on #1427
@cphoenix-google I think you just need to register your GitHub account at go/github.

[2019-04-04 21:44] bencalabrese opened #1432 "'Emulating Functions in Dart' page issue"
Page URL: https://www.dartlang.org/articles/language/emulating-functions
Page source: https://github.com/dart-lang/site-www/tree/master/src/_articles/language/emulating-functions.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

"It is also core to the design philosophy of the Dart language:

W

[2019-04-04 23:23] ESA-Security-Group opened #1433 "'Install Dart' page issue"
Page URL: https://www.dartlang.org/install.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/install.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2019-04-05 19:28] kwalrath commented on #1433
Closing for lack of description. Please open a new bug if you have feedback.

[2019-04-05 19:28] #1433 closed

[2019-04-05 19:29] kwalrath commented on #1432
I think you're right. We missed this when we updated the page.

[2019-04-06 20:04] CevG33ko opened #1438 "Is _speed really private?"
https://codelabs.developers.google.com/codelabs/from-java-to-dart/index.html?index=..%2F..index#1

Hi just doing the dart intro and I got irritated py the "private" _speed variable.
if "_speed" from the bicycle class is private, shouldnt I be unable to change its value manually in the main method?

The console reads:
[code]

[2019-04-06 20:06] CevG33ko commented on #1438
I am using dartpad for this outcome.

[2019-04-08 01:45] toptoken opened #1439 "'Install Dart' page issue"
Page URL: https://www.dartlang.org/install.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/install.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2019-04-08 08:38] jonasfj opened #1442 "Add context on pre-releasing of packages to 'Publishing a Package' page"
Page URL: https://dart.dev/tools/pub/publishing
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/pub/publishing.md

If you publish a package version `1.0.0` on `pub.dartlang.org`, and then later publish `2.0.0-dev|alpha|beta...` then it'll show up as a pre-release. That is `1.0.0` will remain the primary version advertised on the package page `pub.dartlang.org/packages/<pac

[2019-04-08 19:26] sil3nthill commented on #1256
hello i would like to work for this and make a PR , what should i exactly do ?

[2019-04-08 23:52] kwalrath opened #1446 "Reenable dev check-code"
See #1445.

[2019-04-08 23:54] kwalrath commented on #1256
@sil3nthill thank you for the offer! We're in the middle of a bunch of site changes, so we're avoiding content changes until after I/O (early May).

Would you be willing to look at this in May?

[2019-04-09 00:00] kwalrath commented on #1438
Hi, @CevG33ko. The variable is library-private, and main() is in the same library. I should fix this when I update the codelab (before I/O). Thanks for the report!

Closing in favor of #1135.

[2019-04-09 00:00] #1438 closed

[2019-04-09 00:00] kwalrath commented on #1439
Closing due to lack of description.

[2019-04-09 00:00] #1439 closed

[2019-04-09 00:31] kevmoo opened #1447 "'Pub Package Layout Conventions' page issue: LICENSE is REQUIRED"
See https://github.com/dart-lang/pub/blob/master/lib/src/validator/license.dart

Not sure how we want to document this.

Must be one of `LICENSE`, `COPYING`, `UNLICENSE` with any extension and any case, it appears.

The docs make it seems like this is optional for publishing...tis not...

[2019-04-09 19:19] dharanidharandharmasivam opened #1450 "'Fixing Common Type Problems' page issue"
Page URL: https://www.dartlang.org/guides/language/sound-problems
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/sound-problems.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: Instance of 'JSArray': type 'JSArray' is not a subtype of type 'Iterable<String>'

[2019-04-09 21:18] kwalrath commented on #1450
@dharanidharandharmasivam can you explain a bit more where you saw this? A code example (perhaps a gist) would be very helpful.

[2019-04-10 16:27] kwalrath commented on #1427
@cphoenix-google did you try registering your GitHub account at go/github?

[2019-04-11 10:39] mit-mit opened #1453 "Shifting menu"
In the `dash` branch, I see a weird shifting of the leftnav when I click menu entries:

This reproes for me on MacOS using Chrome 73. I doesn't seem to repro when using Safari.

![glitch](https://user-images.githubusercontent.com/13644170/55951164-de6ae100-5c56-11e9-81af-df30598ca74c.gif)

[2019-04-11 10:40] mit-mit commented on #1453
cc @isoos @kwalrath I'm curious if you also see this?

[2019-04-11 13:07] isoos commented on #1453
I think in one frame the "Language" menu item is on the same level as the banner, and then it gets pushed below it. The repositioning happens in JavaScript, as we need to monitor the scrolling and may re-adjust the top position of the sidebar depending on how the banner is scrolling out of the view.

I don't know yet why the extra jump happens on page loads, but will investigate.

[2019-04-11 17:33] kwalrath commented on #1453
I see it, too, on Chrome 75. E.g. go to https://dartlang-org-staging-1.firebaseapp.com/guides/language/language-tour, then click different items in the left nav. Almost every time you go to a new page or reload, you'll see the shift. It takes longer to resolve on a long page like the language tour, but it's also visible on shorter pages.

In Safari 12.1, I see an initial positioning issue of the l

[2019-04-11 17:53] isoos commented on #1453
@kwalrath could you please build #1454 and share the link for it? I think we should see it fixed with that change.

[2019-04-11 18:04] kwalrath commented on #1453
Staged: https://kw-staging-dartlang-2.firebaseapp.com/guides/language/language-tour

It looks much better to me. Some of the other reload issues remain, but they're much smaller.

[2019-04-11 18:09] kwalrath commented on #1453
For the record, here are the other issues I see (much less of an issue than this one):

* In the left nav, the external window icon initially loads much larger than it ends up.
* In the banner, the text shifts position a bit.
* In the banner, the external window icon isn't initially visible. (I wouldn't say this is worth fixing, but I bet this is what causes the text shift. Workaround would be to

[2019-04-11 18:56] isoos commented on #1453
I think these are all related to the way we add those icons: it is done via JavaScript, and of course after the page loads and displays, such changes do result in noticeable re-layout. The good solution would be to do that in the HTML output, I'll check what we can do about it...

[2019-04-11 20:42] kwalrath commented on #1453
The weird thing is: why are the large icons appearing in the sidenav? I'd expect them to be either not there, or in the same font the rest of the sidenav uses. I'm happy to work around the banner issue.

[2019-04-11 21:24] kwalrath commented on #1453
Mostly fixed by #1454. The issue still happens when you come into a page at an anchor, e.g. https://dartlang-org-staging-0.firebaseapp.com/guides/language/language-tour#keywords. I'm not sure how much we should worry about that, though.

[2019-04-12 07:24] isoos commented on #1453
This repositioning is though. Btw. it is noticeable on [Flutter](https://flutter.dev/docs#new-to-flutter) too, e.g. by reloading the page while at an anchor. The jump happens because the banner is assumed to be visible on load, but as we are at an anchor, it is not, and the JS part updates the view. Couple of options and tradeoffs to consider:

1. Making the banner fixed (it won't scroll out of th

[2019-04-12 07:51] isoos commented on #1453
The template generates a markup `<i class="fas fa-external-link-alt"></i>`, which is later hidden, but only after a JS part triggers an update in their style. I can fix that.

However, the same JS adds the style to `<a>` elements to display the external link icon, which pushes the width of the text (e.g. in a banner), and that causes the weird jumps. I'm not yet sure how to fix that in jekyll.

[2019-04-12 07:57] mit-mit commented on #1453
@kwalrath in the current IA, aren't all the external links in the leftnav in that last 'Other sites' group? If so, I think we can simply remove the 'external link' decoration and now worry about all this complexity.

@isoos, with #1454 the jumping issue seems resolved, thanks much!

[2019-04-12 18:10] kwalrath commented on #1453
There are a couple of additional external links that aren't in the **Other sites** group, but I think we could [re]move them:

* **Packages > Package site**
   I think we can drop this, since it's a duplicate.
* **Development > Editors & debuggers > DartPad**
   We can/should move the DartPad link to **Other sites**, but we'd need to add an Overview page for Editors & debuggers — probably a good i

[2019-04-12 19:32] kwalrath commented on #1453
The menu looks good with #1455, so I'm closing this. We can open issues later for further refinements.

[2019-04-12 19:32] #1453 closed

[2019-04-12 20:42] markuspeloquin opened #1457 "Signing key of apt source is invalid"
The key used to sign the apt source for the Dart SDK is signed with an expired key.

I'm sure you'll fix it with the next release, so it doesn't affect anybody who already has the SDK, but anybody who doesn't have it is stuck.

[code]

That key (`1397B...`) expired on 2019-04-12, and there is a newer key available in the GPG file. I'm not sure when it was updated. I just updated it hoping it would

[2019-04-12 22:48] kwalrath commented on #1457
Thanks for the report! I suspect this should go in the sdk repo, but here is much better than nothing.

@whesse & @kevmoo, who should handle this?

[2019-04-12 22:53] kevmoo commented on #1457
CC @athomas

[2019-04-13 21:08] arcannus opened #1459 "'Install Dart' page issue"
Page URL: https://www.dartlang.org/install.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/install.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2019-04-14 18:19] Alistair99 commented on #1457
I am unable to install Dart in LInux on my Chromebook:
W: GPG error: https://storage.googleapis.com/download.dartlang.org/linux/debian stable Release: The following signatures were invalid: EXPKEYSIG 1397BC53640DB551 Google Inc. (Linux Packages Signing Authority) <linux-packages-keymaster@google.com>
W: The repository 'https://storage.googleapis.com/download.dartlang.org/linux/debian stable Releas

[2019-04-15 08:54] CevG33ko commented on #1438
Got it! Thanks!

[2019-04-15 14:51] athomas commented on #1457
I've re-signed the stable repo with the new key. This should be fixed now.

[2019-04-15 14:51] #1457 closed

[2019-04-15 16:06] kwalrath commented on #1459
Closing for lack of description. If you can provide more information, please edit this issue, and I'll reopen it.

[2019-04-15 16:06] #1459 closed

[2019-04-16 18:06] kwalrath opened #1461 "Fix or remove html_proof.rb"
As of April 16, 2019, `./deploy/html_proof.rb` fails. It hasn't changed, so I suspect a ruby change. Here's the output (with `./` substituted for my directory path details):

[code]

[2019-04-18 09:00] zhengger opened #1466 "'A Tour of the Dart Language' page issue"
Page URL: https://www.dartlang.org/guides/language/language-tour
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/language-tour.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
When I increased the page size to 120%, the left side table disappeared. Can you ca

[2019-04-18 19:47] kwalrath commented on #1466
Thanks for the feedback, @zhengger. The left-side navigation is still available via the "hamburger" menu at the top left. Does that work for you?

[2019-04-19 23:30] #1446 closed

[2019-04-19 23:32] kwalrath opened #1469 "Re-enable stable check-code"
Related: #1446.

[2019-04-21 01:30] kwalrath opened #1472 "Review FAQs"
We should update the FAQs by I/O.

[2019-04-21 23:07] kwalrath commented on #1389
@a-siva could this be done soon?

[2019-04-23 11:54] zhengger commented on #1466
Thank you for your prompt reply, kwalrath!
I cannot find the "hamburger" menu. My browser is Firefox. I read flutter page at 120% size as well which works well for me. Here are two screenshots you can check out.
![Pasted Graphic](https://user-images.githubusercontent.com/2143234/56578728-eafd1b00-6600-11e9-8eae-b9ad1c6321ce.png)
![Pasted Graphic 1](https://user-images.githubusercontent.com/2143234

[2019-04-23 18:14] kwalrath opened #1475 "Create new article/page about benchmarking"
We're retiring the [benchmarking article](https://github.com/dart-lang/site-www/blob/27bd825939507669a1df2431f22def6f6ff93a70/src/_articles/server/benchmarking.md), which was at articles/server/benchmarking, because it's untested and out of date. We should replace it.

[2019-04-23 21:41] munificent opened #1476 "Recommend "?? false" and "?? true""
There are a few places in the language where "Boolean conversion" happens — where you use a value to determine whether or not to execute some code: if conditions, while conditions, operands to `&&` and `||`, etc. That conversion throws an exception if the value is null. Unlike other scripting languages, we don't treat null as "falsey".

That means when users do have an expression that could evalua

[2019-04-24 07:24] lrhn commented on #1476
Also:
* Expressions like `if (something == true) ...` or `if (something != false) ...` are semi-commonly seen as mistakes (unnecessary code) for people who are not used to working with boolean values, a superfluous check on a non-nullable boolean expression.

It's easier to fix those mistakes when the code is never to be used at all. I mistook it for a mistake in code reviews the first few times I

[2019-04-25 05:27] alejagapatrick opened #1490 "'Install Dart' page issue"
Page URL: https://www.dartlang.org/install.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/install.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2019-04-25 20:52] kwalrath commented on #1490
Closing for lack of description. If you have more information, please add a comment and I'll reopen this.

[2019-04-25 20:52] #1490 closed

[2019-04-25 21:39] pq opened #1502 "Update lint association for type annotations on APIs advice."
Page URL: https://www.dartlang.org/guides/language/effective-dart/design
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/effective-dart/design.md

 **PREFER type annotating public fields and top-level variables if the type isn’t obvious.** links to `prefer_typing_uninitialized_variables` when it should probably better point to:

http://dart-lang.github.io/linter

[2019-04-30 07:33] fanyuedong opened #1519 "remove bad link"
The link(旧的 Dart 中文网，包含更多中文[http://old.dartlang.cc/]) at the bottom of the site is wrong

[2019-04-30 10:37] jonasfj opened #1521 "Apply security headers"
See: https://securityheaders.com/?q=https%3A%2F%2Fdart.dev

Credits @sortie :)

Even though this site is static content and low impact for XSS exploits, we should always apply security headers for defense in depth.

[2019-04-30 12:43] mit-mit opened #1522 "Dart DevTools should be mentioned in the get-started tutorials"
We should add usage steps for Dart DevTools(`/tools/dart-devtools`) in the two `get-started.md` tutorials.

[2019-04-30 12:56] kwalrath commented on #1522
We also need to, in general, improve the docs for our use cases of Dart DevTools.

[2019-04-30 14:35] kwalrath commented on #1519
@fanyuedong can you give me the URL for a page that this link appears on?

[2019-04-30 15:25] fanyuedong commented on #1519
Sorry, I got it wrong. the bad link is in http://dart.goodev.org. chinese website, i found the issues link in it's bottom.i will close this issue. sorry

[2019-04-30 15:25] #1519 closed

[2019-04-30 15:26] kwalrath commented on #1519
OK, thanks for following up so quickly!

[2019-05-03 00:14] kwalrath opened #1548 "Document embedding Dart into existing native apps"
See https://github.com/dart-lang/site-www/pull/1539#discussion_r280362133 for context.

[2019-05-03 11:56] kwalrath opened #1552 "Update CollectionLiterals page with spread syntax operators"
## Page

https://dart.dev/language/generics#using-collection-literals
https://dart.dev/language/operators

## Notes

I've started documenting 2.3 features (#1550), but we should do more.

In the language tour:

~~* The spread (`...` and `...?`) operators should be in the operator table, although I don't know what the pseudo-precedence should be.~~

* Collection if & for should be acknowledged in t

[2019-05-03 12:00] kwalrath opened #1553 "Update links to language proposals"
#1550 has links to two language proposals that will presumably be moved once 2.3 is on stable channel. I'm creating this reminder because I don't think our link checker will notice that change.

[2019-05-06 12:20] jonasfj opened #1569 "Conditional imports is not covered in the language tour"
Page URL: https://www.dartlang.org/guides/language/language-tour
Page source: [src/_guides/language/language-tour.md](https://github.com/dart-lang/site-www/tree/master/src/_guides/language/language-tour.md).

Conditional imports is not covered by the language tour. Conditional imports are usually done like:

[code]

It would be nice to cover this in the language tour as the specification is hard t

[2019-05-06 20:23] alanhzhao opened #1575 "'Effective Dart: Style' page need to be updated for Unified Collections"
Page URL: https://www.dartlang.org/guides/language/effective-dart/style
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/effective-dart/style.md

Description of issue:

[Unified Collections](https://github.com/dart-lang/language/blob/master/accepted/future-releases/unified-collections/feature-specification.md) adds Control Flow Collections to the language. The ru

[2019-05-07 00:17] kwalrath commented on #1575
What do you say, @munificent? I know that new guidelines usually lag the language, but this does seem like it could be confusing.

[2019-05-07 15:53] AbdullahAli1993 opened #1589 "Search doesn't work"

[2019-05-07 17:35] kwalrath commented on #1589
Can you give more details? Search is working for me right now.

[2019-05-07 21:37] mnordine opened #1593 "Deferred loading links to old site"
On https://dart.dev/web/deployment, deferred loading still links to https://www.dartlang.org/guides/language/language-tour#lazily-loading-a-library.

Should be https://dart.dev/guides/language/language-tour#lazily-loading-a-library

[2019-05-08 00:00] kwalrath commented on #1593
Thanks, @mnordine! Please let us know if you find anything else.

[2019-05-08 00:36] #1593 closed

[2019-05-08 00:58] mnordine opened #1597 "Recommend mixin keyword after 2.1?"
https://dart.dev/guides/language/effective-dart/design#do-document-if-your-class-supports-being-used-as-a-mixin

Should recommend mixin keyword after 2.1?

[2019-05-08 15:30] TastyPi opened #1606 "Language Tour should explicitly mention asserts do not run the statement"
https://dart.dev/guides/language/language-tour#assert

Currently it says "Assert statements have no effect in production code", however because of their function-like usage it is not immediately obvious that means the statement inside the parentheses is not run, e.g. `assert(x++ == 1)` will increment `x` when debugging but won't in production code.

It would be good to explicitly mention this to c

[2019-05-08 16:38] gabrielpacheco23 opened #1608 "How to install 'dart2aot' tool?"
I can't use 'dart2aot' tool. I've already upgraded Dart to '2.3.1-dev' version.

`Dart VM version: 2.3.1-dev.0.0 (Unknown timestamp) on "linux_x64"`
`dart2aot: command not found`

[2019-05-08 16:38] mnordine opened #1609 "Design link broke on effective dart page"
On https://dart.dev/guides/language/effective-dart, in the right-hand column, design link is https://dart.dev/guides/language/effective-dart#design

It should be https://dart.dev/guides/language/effective-dart/design

[2019-05-08 16:39] mnordine commented on #1609
I think it links to the summaries as intended

[2019-05-08 16:39] #1609 closed

[2019-05-08 17:02] #1608 closed

[2019-05-08 17:52] kwalrath commented on #1597
@munificent what do you think?

[2019-05-08 17:53] kwalrath commented on #1597
Btw, thank you @mnordine for all your feedback! It's great to know that someone's reading the docs carefully.

[2019-05-08 19:01] jamesderlin opened #1610 "SDK Archive sorting is weird, "Bits" column is misnamed"
When I go to the Dart SDK Archive page to download a .zip file, for Linux I see:

![image](https://user-images.githubusercontent.com/17391434/57399893-12b6bc00-7187-11e9-9fb1-cec438f2f243.png)

1. The "32-bit" and "64-bit" entries don't specify what CPU architecture they're for.  They should be labeled "ia32" and "x64" instead (or "x86" and "x64", but "ia32" matches the filename).

2. The "Bits" c

[2019-05-08 19:01] jamesderlin opened #2046 "SDK Archive sorting is weird"
When I go to the [Dart SDK Archive page](https://dart.dev/tools/sdk/archive) to download a .zip file, for Linux I see:

![image](https://user-images.githubusercontent.com/17391434/57399893-12b6bc00-7187-11e9-9fb1-cec438f2f243.png)

1. The "32-bit" and "64-bit" entries don't specify what CPU architecture they're for.  They should be labeled "ia32" and "x64" instead (or "x86" and "x64", but "ia32" m

[2019-05-08 22:35] kwalrath commented on #1610
The "Bits" part sounds easy to fix; I'm not sure about the others. The code is in https://github.com/dart-lang/site-shared/tree/master/src/tools/sdk/archive, but since it's no longer shared, we should probably move tools/sdk back to this repo.

[2019-05-09 11:02] mnordine commented on #1597
No prob at all!

[2019-05-09 16:22] kwalrath commented on #1346
We now have a separate page for this: https://dart.dev/guides/libraries

[2019-05-09 16:22] #1346 closed

[2019-05-09 16:27] kwalrath commented on #1331
dart.dev uses flutter's nav & styles, with tweaks to make it easily distinguishable.

[2019-05-09 16:27] #1331 closed

[2019-05-09 16:28] kwalrath commented on #1378
The dart.dev version of this page is no longer marked obsolete.

[2019-05-09 16:28] #1378 closed

[2019-05-12 03:24] jinyulei0710 opened #1617 "The article about event loop had been removed"
I was just start learn about flutter, there was a article about event loop, but now had been removed.

[2019-05-13 21:50] kwalrath commented on #1617
@jinyulei0710 can you tell me which article (which URL) you were looking for and where you found the link to it? Thank you!

[2019-05-13 22:44] kwalrath commented on #1617
To clarify, we knowingly removed some obsolete articles, but we'd like to know what people were hoping to learn from them.

[2019-05-14 09:17] jinyulei0710 commented on #1617
@kwalrath it's a article about event loop. path: https://webdev.dartlang.org/articles/performance/event-loop#annotated-sample-and-output

[2019-05-14 21:22] #841 closed

[2019-05-14 21:22] mit-mit commented on #841
No longer relevant on the redesigned dart.dev

[2019-05-14 22:16] kwalrath opened #1619 "Link to new codelab"
dart.dev/codelabs should link to dart.dev/codelabs/dart-cheatsheet.

[2019-05-15 03:04] amisare commented on #1253
@daoyuly 中文版，可关注 www.dartdoc.cn

[2019-05-15 11:25] tijoforyou opened #1621 "Bad URL"
URL: https://dart.dev/articles/event-loop
Expected page: The awesome article on "The Event Loop and Dart".

https://www.dartlang.org/articles/event-loop/ used to work in the past, before the redirect to https://dart.dev

There is a reference to this article from https://api.dartlang.org/stable/2.3.0/dart-async/scheduleMicrotask.html

[2019-05-17 19:23] kwalrath commented on #1619
Starting this now.

[2019-05-17 19:46] jbdeboer opened #1623 "'pub global' page issue"
Page URL: https://www.dartlang.org/tools/pub/cmd/pub-global.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/pub/cmd/pub-global.md

Description of issue:

#activating-a-package does not explain the term "activate".  After reading the doc, I understand _how_ to use "pub global activate" but have no idea _what_ the command does.

[2019-05-20 11:16] jonasfj opened #1627 "'The pubspec file' page issue"
Page URL: https://www.dartlang.org/tools/pub/pubspec.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/pub/pubspec.md

Description of issue:

`pana` used for score of packages on `pub.dev` deducts points if the description is not between 60 and 180 characters. I believe this is based on SEO guidelines..

In https://github.com/dart-lang/linter/pull/1569#issuecomment-4935

[2019-05-20 13:22] pq commented on #1627
cc @kwalrath

[2019-05-20 16:14] kwalrath commented on #1627
Yep, this is a known issue. I can fix this now that the I/O crunch is over. Closing in favor of #1305.

[2019-05-20 16:14] #1627 closed

[2019-05-20 22:06] Suyash-Purwar opened #1628 "Broken [spread operator proposal] link"
Page URL: https://www.dartlang.org/guides/language/language-tour
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/language-tour.md

Description of issue: Broken 'spread operator proposal' link under the Lists section.

[2019-05-20 22:40] kwalrath commented on #1388
I haven't seen this again.

[2019-05-20 22:40] #1388 closed

[2019-05-20 22:41] #1345 closed

[2019-05-20 22:58] kwalrath commented on #1321
@isoos or @jonasfj, can you point me to a good example of a package that has an example/README.md file? I looked in the sdk repo but didn't find one there.

[2019-05-20 23:03] Suyash-Purwar commented on #1628
Made a PR to solve this issue: https://github.com/dart-lang/site-www/pull/1629

[2019-05-20 23:15] Suyash-Purwar commented on #1628
I have found one more broken link under the Lists section.
[control flow collections proposal] is also broken.

[2019-05-21 03:18] #1628 closed

[2019-05-21 06:45] isoos commented on #1321
@kwalrath: Not sure what qualifies as good, but this package has many things in the example directory, and uses a readme.md:  https://github.com/flutter/plugins/tree/master/packages/in_app_purchase

[2019-05-21 06:48] isoos commented on #1321
A few others:
- https://github.com/jacobaraujo7/bloc-pattern
- https://github.com/DanTup/tiler
- https://github.com/RafaelBarbosatec/achievement_view_flutter
- https://github.com/ganeshsp1/wallpaperplugin

[2019-05-21 17:37] kwalrath opened #1633 "Add back 2 articles"
https://github.com/flutter/flutter/pull/32444 removes links to Dart articles that currently 404:

https://www.dartlang.org/articles/numeric-computation/#smis-and-mints
https://www.dartlang.org/articles/dart-vm/numeric-computation
https://www.dartlang.org/articles/libraries/zones

All were essential to the documentation that included them. If we remove them, we'd either have to explain these concep

[2019-05-21 17:39] kwalrath commented on #1633
/cc @goderbauer @tvolkert

[2019-05-21 23:29] munificent commented on #1597
Yes, the new mixin syntax is rad!

[2019-05-22 00:29] #1633 closed

[2019-05-22 15:37] eldraco19 commented on #1621
Hey I found the article on web archive .
https://web.archive.org/web/20170704074724/https://webdev.dartlang.org/articles/performance/event-loop

How can I contribute to this issue ? Please guide me .

[2019-05-22 17:48] kwalrath commented on #1621
It's probably easiest for me to fix it. The question is whether I should add the article back or redirect to archive.org. The former might be better, from an analytics POV, so we can track how many people are looking at the article.

[2019-05-22 20:20] kwalrath commented on #1621
Dupe of #1617.

[2019-05-22 20:20] #1621 closed

[2019-05-22 20:21] kwalrath commented on #1617
We've gotten another report of this article being missing, so it seems I need to add it back.

[2019-05-22 20:31] tijoforyou commented on #1617
[FYI] This article is actually also linked from DocComments: https://api.dartlang.org/stable/2.3.0/dart-async/scheduleMicrotask.html

[2019-05-22 22:03] gryclmn commented on #1256
I would like to help with this issue as well for a first time PR. How can I help?

[2019-05-22 23:19] #1617 closed

[2019-05-23 15:24] bencalabrese opened #1638 "'Effective Dart' page issue - harder to navigate"
Page URL: https://www.dartlang.org/guides/language/effective-dart
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/effective-dart/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

I love a lot of the new design for the site, it looks very snazzy, but I'm

[2019-05-23 16:59] kwalrath commented on #1638
Thanks for your feedback, @bencalabrese. I'd wondered about these things when we implemented the new site, so it's good to get your take on it.

We removed the in-page TOCs (#1602) due to a CSS issue, but we should be able to fix that.

[2019-05-23 17:00] kwalrath commented on #1638
I think that in the sidenav we want to have the following:

Effective Dart
* Overview (https://dart.dev/guides/language/effective-dart)
* Style
* Documentation
* ...

[2019-05-23 18:34] arcra commented on #1638
+1 I like the site, but personally I do find the TOC at the top to be extremely useful when reviewing code to follow the style guide.

I hope it can be added back to the top!

[2019-05-23 23:03] bencalabrese commented on #1638
That sounds great! Thanks @kwalrath!

[2019-05-24 06:13] sawankumarbundelkhandi commented on #859
Flutter prefers single quotes - https://github.com/flutter/flutter/wiki/Style-guide-for-Flutter-repo#prefer-single-quotes-for-strings

[2019-05-24 08:44] lrhn commented on #859
Bob's comment from https://github.com/dart-lang/site-www/issues/859#issuecomment-473433179 still applies to that recommendation.

The rule doesn't say *why* I should use double quotes for nested strings. It's not necessary, you can use single quotes there too: `'This is a ${'nested string'}.'`. Maybe it's because it's more readable to alternate the quotes, so you can better see the matching quote

[2019-05-24 09:29] #1253 closed

[2019-05-24 10:54] jonasfj commented on #1447
I suggest that we:
1. State that `LICENSE` is required, and,
2. Do not mention that the file could be named `COPYING` or `UNLICENSE`.

Some day we should probably make a specification for the packaging format. This specification should ideally not leave room for ambiguity, but it might have to feature an appendix documenting that legacy packages may contain `COPYING` or `UNLICENSE` instead of `LIC

[2019-05-24 17:06] kwalrath commented on #859
I'm going to close this, since we haven't been able to come up with a good recommendation.

[2019-05-24 17:06] #859 closed

[2019-05-24 22:24] arcra commented on #1638
Thanks for adding this!

I was trying it, and noticed that there's some weird rendering/behavior. The bullet points are not aligned with the text (but interestingly they also work as part of the link). Possibly related to the issue mentioned above?

In the attached screenshot, my mouse was where the red dot is at the level of the bullet point that for some reason is right above "Libraries", but (I

[2019-05-24 22:30] kwalrath commented on #1638
I forgot that the formatting issue showed up on stable Chrome (which I don't normally use) but not on Canary. I'll take a look into this and see if it's an easy fix.

(Or anyone else is welcome to take a look... CSS is not my strong point.)

[2019-05-24 22:39] leiboldm opened #1641 "URL links to subheadings in effective dart are broken"
This broke some time in the last 48 hours.  I use this feature every single day to link to effective dart in code reviews.  Please fix as soon as possible.

[2019-05-24 22:40] alan-knight opened #1642 "'Effective Dart: Design' page issue - harder to get links to particular items"
Page URL: https://www.dartlang.org/guides/language/effective-dart/design
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/effective-dart/design.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: There aren't any obvious anchors next to the items. There used to b

[2019-05-24 22:44] kwalrath commented on #1638
I wonder if this is an interaction with the code that makes links not be hidden by the always-visible black bar at the top of the page. I'm going to revert the TOC part of this change, for now, and leave this bug open so we'll remember to take a look later. (Or if someone can figure out a fix that works in both Chrome stable and Chrome canary, you're welcome to take a shot at it!)

Btw, the styles

[2019-05-24 22:46] kwalrath commented on #1641
Tracked in #1638.

[2019-05-24 22:46] #1641 closed

[2019-05-24 22:46] kwalrath commented on #1642
Tracking in #1638.

[2019-05-24 22:46] #1642 closed

[2019-05-24 22:47] kwalrath commented on #1638
Removing the default TOC also removed the link anchors from the page.

[2019-05-24 22:50] leiboldm commented on #1641
I just realized there's a workaround here: you can copy the links from the table of contents.

Also, in case it wasn't clear from the original report, I'm referring to the little paper clip icons that appear next to each section header and allow you to copy a link to that section.  They have stopped appearing.

[2019-05-24 22:53] kwalrath commented on #1641
Yep, I know exactly what you're talking about. Thanks for making sure we knew about this!

[2019-05-28 13:46] isoos opened #1644 "webdev redirect is missing"
Reported on gitter:
"This results in 404 error instead of redirecting
https://webdev.dartlang.org/api/angular/angular/NgClass-class
"

https://gitter.im/dart-lang/TALK-general?at=5ced1a446366992a9436a4fe

[2019-05-29 15:36] #1623 closed

[2019-05-29 21:37] bencalabrese commented on #947
Friendly ping - is there still a plan to add this?

[2019-05-29 21:47] rakudrama commented on #947
I think `_` is a perfectly good name for an _unused_ parameter, and it appears to be a fairly widely used convention.
Perhaps the lint should allow a leading `_` for variables and parameters that are not used, and complain if they are used. This would give us a convention for intentionally unused values.

[2019-05-30 01:13] mar3y96 opened #1646 "'Dart documentation' page issue"
Page URL: https://www.dartlang.org/guides/index
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: in Tools & techniques section , Command-line tools ,Dart SDK
the arrow direction is wrong and it is active by default

[2019-05-30 17:57] kwalrath commented on #1646
Actually, I intentionally made the **Dart SDK** and **Other command-line tools** sections open as soon as you open the **Command-line tools** section. (The arrows are correct, since they reflect the open state.) It seemed silly to require people to click one more time to get a list of command-line tools.

I'm going to close this issue, but I'll keep an eye out for whether it bothers other people.

[2019-05-30 17:57] #1646 closed

[2019-05-30 20:55] duncanmak opened #1650 "Article on convertors and codecs missing"
https://dart.dev/articles/libraries/converters-and-codecs is current a dead page.

Maybe it should be resurrected.

Currently, there's a cache of the page (with the old page layout) here: http://web.archive.org/web/20190402212224/https://www.dartlang.org/articles/libraries/converters-and-codecs#how-to-write-efficient-conversions.

cc @sortie, he asked me to file an issue on IRC.

[2019-05-30 22:12] #1619 closed

[2019-05-30 22:15] kwalrath opened #1648 "Improve and link to language cheatsheet"
See #1625 for details.

[2019-05-30 23:28] kwalrath opened #1649 "Article on convertors and codecs missing"
@duncanmak commented on [Thu May 30 2019](https://github.com/dart-lang/sdk/issues/37124)

https://dart.dev/articles/libraries/converters-and-codecs is current a dead page.

Maybe it should be resurrected.

Currently, there's a cache of the page (with the old page layout) here: http://web.archive.org/web/20190402212224/https://www.dartlang.org/articles/libraries/converters-and-codecs#how-to-write-e

[2019-05-30 23:30] #1649 closed

[2019-05-30 23:34] kwalrath commented on #1447
Fixed by #1640.

[2019-05-30 23:34] #1447 closed

[2019-05-30 23:34] kwalrath commented on #1344
Fixed by #1640.

[2019-05-30 23:34] #1344 closed

[2019-05-30 23:34] kwalrath commented on #1321
Fixed by #1640.

[2019-05-30 23:34] #1321 closed

[2019-05-30 23:34] kwalrath commented on #1317
Fixed by #1640.

[2019-05-30 23:34] #1317 closed

[2019-05-30 23:34] kwalrath commented on #1305
Fixed by #1640.

[2019-05-30 23:34] #1305 closed

[2019-05-30 23:35] kwalrath commented on #1182
Fixed by #1640.

[2019-05-30 23:35] #1182 closed

[2019-05-30 23:35] kwalrath commented on #801
Fixed by #1640.

[2019-05-30 23:35] #801 closed

[2019-05-30 23:35] kwalrath commented on #757
Fixed by #1640.

[2019-05-30 23:35] #757 closed

[2019-05-30 23:43] kwalrath opened #1651 "Update lints to use the latest language features (when appropriate)"
#1652 introduced the pedantic package. Now we need to add some lints, such as prefer_collection_literals, and perhaps enable the one pedantic lint we turned off (avoid_shadowing_type_parameters).

Related: #1365

[2019-05-31 19:30] dramos07 commented on #1329
Any updates on this? this is currently blocking dart-lang/linter#365

[2019-05-31 23:23] kwalrath commented on #1610
@johnpryan or @domesticmouse, are you interested in fixing this issue? (If not, I can take a whack at it.)

[2019-06-03 17:22] #1606 closed

[2019-06-03 19:35] kwalrath opened #1656 "Improve SDK archive page"
This is an umbrella issue for requests for https://dart.dev/tools/sdk/archive:

* [x] dart-lang/site-shared#96: UI freezes
* [x] dart-lang/site-shared#97: SDK Archive sorting is weird
* [ ] #89: Download archive should use analytics
* [x] #75: Use `sdk_builds` package for archive page

/cc @johnpryan @domesticmouse

[2019-06-03 21:36] kwalrath commented on #1656
I added a couple of other bugs (very old) to the list.

[2019-06-04 00:36] kwalrath opened #1658 "'Archived articles' page issue"
Page URL: https://www.dartlang.org/articles/archive/index
Page source: https://github.com/dart-lang/site-www/tree/master/src/_articles/archive/index.md

Description of issue: Make sure all archived articles are in this page.

[2019-06-04 00:49] kwalrath commented on #1650
Fixed by #1657.

[2019-06-04 00:49] #1650 closed

[2019-06-04 13:08] vsmenon opened #1660 "dartaot docs missing"
Noted on gitter:

`dartaot` is missing from here:

https://dart.dev/tools/sdk#whats-in-the-dart-sdk

but in the sidebar.

@mit-mit @kwalrath

[2019-06-04 13:15] f-lima opened #1661 "Dart.dev is down"
Site can't be reached.

![Screen Shot 2](https://user-images.githubusercontent.com/14829317/58881986-afe71080-86b1-11e9-990c-52643880414b.png)

[2019-06-04 16:22] kwalrath commented on #1660
Oops. We vacillated between advertising it or not, and it looks like we landed in an in-between state. I'll add the tools to the sdk page.

[2019-06-04 16:29] kwalrath commented on #1661
It's working for me. Can you tell me where you are, @f-lima? Is the site still down for you?

[2019-06-04 17:14] kwalrath opened #1663 "Fix dev build"
More info: #1662

[2019-06-04 17:45] kwalrath commented on #1661
It seems to be working now, so I'm going to close this. But please comment if you have more information.

[2019-06-04 17:45] #1661 closed

[2019-06-04 20:03] kwalrath commented on #1663
As of 2.3.2-dev.0.1, code that was passing in previous dev releases is now failing. From https://travis-ci.org/dart-lang/site-www/jobs/541318807:

[code]

I've temporarily disabled dev testing, and now I'm going to take a look at whether this failure is a good thing.

/cc @johnpryan @bwilkerson

[2019-06-04 22:11] kwalrath commented on #1663
We can't fix this until we're ready to cut over to 2.3.2 — presumably that'll be when 2.3.2 is stable.

[2019-06-04 23:42] #1660 closed

[2019-06-04 23:52] johnpryan commented on #1656
Quick update: it looks like we will be able to use the `sdk_builds` package (#75) but either way there needs to be a fair number of network calls in order to display the correct version for pre-1.11.0-dev.0.0 since those are SVN revisions.

I'm going to start with a PR that updates to using sdk_builds (#75) and uses the `sdk_builds`package  (dart-lang/site-shared#97) and leave analytics and perfor

[2019-06-04 23:57] johnpryan commented on #1656
FWIW we do have the option of greatly improving the performance  if we manually mapped the SVN revisions to version strings:

using the `getVersionPaths()` from `package:sdk_builds` is a single HTTP call but results in SVN versions mixed with the others:

<img width="176" alt="Screen Shot 2019-06-04 at 4 52 50 PM" src="https://user-images.githubusercontent.com/1145719/58920943-4e429880-86e9-11e9-9

[2019-06-05 17:42] johnpryan commented on #1656
I have a working prototype [here](https://github.com/johnpryan/dart_sdk_archive) that uses a dart 2 compatible branch of `sdk_builds` (kevmoo/sdk_builds.dart#1).

I'm currently running into an issue with the googleapis Storage class provided by `sdk_builds` and filed an issue here (dart-lang/googleapis#73)

[2019-06-05 17:45] kwalrath commented on #1656
Is the prototype staged anywhere?

[2019-06-05 17:49] johnpryan commented on #1656
http://jpryan.me/dart_sdk_archive/

[2019-06-05 18:53] eladkatz opened #1666 "In the Dart tutorial, it states you can use an argument list, but when you try it, it won't compile"
In "Intro to Dart for Java Developers", Section "2. Create a simple Dart class", it states:

However, when I do that in DartPad, I get the following exception:
Uncaught exception:

When attempting to run

[2019-06-05 19:08] eladkatz opened #1667 "Intro to Dart tutorial, section 2, you forgot to say I should "print(bike)""
so the output never showed up

[2019-06-05 20:14] kwalrath commented on #1666
I don't see that exception when I change `()` to `(List args)` in https://dartpad.dartlang.org/f176b4c31b4be8a454107d0946fe2fa3.

Can you give me a way to reproduce the error you're seeing?

[2019-06-05 20:17] kwalrath commented on #1667
Unless I'm mistaken about what you're referring to, the instructions to add `print(bike)` are under the "Instantiate and print a bicycle instance" heading of https://codelabs.developers.google.com/codelabs/from-java-to-dart/#1.

[2019-06-05 20:17] #1667 closed

[2019-06-06 16:05] ViciousVisions opened #1668 "Stdout class: blocking or non-blocking (documentation)"
Stdout class - https://api.dartlang.org/stable/2.3.1/dart-io/Stdout-class.html

The documentation states that writing will block:
"It provides a blocking IOSink, so using this to write will block until the output is written."

But the Stdout methods all state "This operation is non-blocking."
write - https://api.dartlang.org/stable/2.3.1/dart-io/Stdout/write.html
writeAll - https://api.dartlang.or

[2019-06-06 21:27] kwalrath opened #1669 "Remove top-right icons from printed page"
Similar to https://github.com/dart-lang/site-www/pull/1625/files#diff-2f9b732d7e4f85168803a352c230300d.

[2019-06-07 13:24] sortie commented on #1650
Thanks @kwalrath for fixing the issue and thanks @duncanmak for filing the issue. Glad to see it get fixed!

Do we know if there's any such other useful articles that were lost in the migration?

[2019-06-07 17:36] kwalrath opened #1670 "Link from language tour to language samples page"
We have feedback from a UX researcher that the language tour can be overwhelming. I think https://dart.dev/samples is more approachable, so I plan to link prominently to that.

/cc @galeyang

[2019-06-07 17:40] kwalrath opened #1671 "redirect native-extensions article"
old: /articles/dart-vm/native-extensions
new: /server/c-interop-native-extensions

[2019-06-07 17:46] johnpryan commented on #75
It doesn't seem like anyone is interested in maintaining this package anymore, but since we already put in the work [here](https://github.com/dart-lang/site-shared/pull/100) I'm going to just copy the entire package into dart-lang/site-shared

[2019-06-07 18:31] kwalrath commented on #1650
There were definitely other articles that we removed... The question is whether they had information that was still useful. In the past week, the top-25 404s have included the following (ex)articles:

/articles/dart-vm/native-extensions (still exists; https://github.com/dart-lang/site-www/issues/1671)
/articles/dart-vm/benchmarking (1/3 the # of 404s, compared to native-extensions)
/articles/langu

[2019-06-07 18:32] kwalrath opened #1672 "Redirect /articles/zones"
New URL: https://dart.dev/articles/archive/zones

[2019-06-08 10:26] pmundt commented on #1073
A simple note as to the precise location of the default install directory (seemingly `tools\dart-sdk`) would be a useful addition to the documentation - indeed, Googling around for hints as to the install path is what brought me to this issue. On a `refreshenv` the PATH updates work as expected, but it still took a bit of digging around to figure out where, precisely, these were actually installed

[2019-06-10 16:43] nshahan opened #1673 "dart.dev favicon colors look slightly off"
Compared to the icon on the page and the favicon on pub.dev the colors look slightly lighter.

<img width="144" alt="Screen Shot 2019-06-10 at 9 33 55 AM" src="https://user-images.githubusercontent.com/2498387/59211215-32fde000-8b64-11e9-87ae-72b656a77fc2.png">

[2019-06-10 23:36] kwalrath opened #1674 "Publish diagnostics.md"
Related: #1654

Before publishing, we should add a comment to the file that warns them away from editing it directly and (ideally) gives tips on providing feedback on the content and format of the page. Something like this:

[code]

I'm thinking the location should be something like /guides/language/diagnostics.

Let's NOT put this in the sidenav yet.

/cc @legalcodes @domesticmouse @johnpryan @bw

[2019-06-11 16:35] kwalrath opened #1675 "Remove https://v1-dartlang-org.firebaseapp.com"
We left this v1 site up when we first launched Dart 2, but it's no longer helpful to the great majority of Dart users, and it's stealing search juju from dart.dev.

[2019-06-11 21:49] bwilkerson commented on #1674
The notification is being generated as of https://dart-review.googlesource.com/c/sdk/+/105600.

[2019-06-11 23:54] kwalrath commented on #1675
We should probably leave it up and redirect to dart.dev.

/cc @johnpryan @domesticmouse

[2019-06-11 23:56] kwalrath opened #1676 "Update to 2.3.2"
2.3.2 release went out today. The version # in https://dart.dev/get-dart should reflect that.

[2019-06-12 06:57] #1676 closed

[2019-06-12 15:21] sosite opened #1678 "Add "Safe" (nullable) cast operator `as?`"
It'll be a little enhancement but so much pleasant one :)

Kotlin and Swift has something like _Safe casting_ with `as?` operator. It gives an opportunity to casting with `null` fallback if cast can't be performed:

[code]

[2019-06-12 15:26] sosite commented on #736
@hereisderek I think that usage of your `safeCast()` method:
[code]
is less clearly as simple:
[code]

[2019-06-12 22:22] johnpryan commented on #1678
Thanks for filing an issue - just a head up, this issue tracker is for issues with the website. Language feature requests can be filed at https://github.com/dart-lang/language

[2019-06-12 22:33] sosite commented on #1678
Ahh, you're right, sorry ;)

[2019-06-12 22:33] #1678 closed

[2019-06-13 11:20] 84819760 opened #1680 "How to Solve Interface Naming Conflict"
//C# code
    interface IInterface1 { string GetValue(); }
    interface IInterface2 { int GetValue(); }
    class Test : IInterface1, IInterface2
    {
        //C# Multi-interface Code=
        string IInterface1.GetValue() => "result";
        int IInterface2.GetValue() => 9527;
    }
    void Main(string[] args)
    {
            //C# Use interface
            var test = new Test();

[2019-06-14 16:57] johnpryan commented on #1680
Dart [doesn't support](https://github.com/dart-lang/sdk/issues/49#issuecomment-108301493) type based overloading but you can implement a more specific return type (a covariant return type) as long it is a subtype:

[code]

You might have better results posting questions on [stackoverflow](https://stackoverflow.com/questions/tagged/dart). This issue tracker is for issues specifically for the websit

[2019-06-14 16:57] #1680 closed

[2019-06-14 20:31] kf6gpe opened #1684 "Article on serialization returns 404..."
Searching on Google for "Dart serialization" turns up https://dart.dev/articles/serialization as the first hit, but it's no longer available.

[2019-06-14 22:09] sfshaza2 commented on #1684
Correct. That article was out of date

This link should be forwarded to our JSON page:  https://dart.dev/guides/json
And you may notice that our current most comprehensive info is on the Flutter website (linked to from the JSON page).

[2019-06-16 18:55] Arhell opened #1689 "Fix content-container"
Hi, I found a bug for mobile devices.
Made a pool with a fix, thank you for your attention

Check on chrome win 10

http://joxi.ru/a2XljQKiwK8Jk2
#1688

[2019-06-17 16:39] johnpryan commented on #1689
I've included this change in #1692 - Could you go there and sign the CLA? Thanks for filing an issue and providing a fix!

[2019-06-17 22:09] #1689 closed

[2019-06-21 08:45] vinicentus opened #1695 "Bad URL"
URL: [https://dart.dev/articles/dart-vm/native-extensions](https://dart.dev/articles/dart-vm/native-extensions)
Expected page: info page about native extensions
Redirected from [https://www.dartlang.org/articles/dart-vm/native-extensions](https://www.dartlang.org/articles/dart-vm/native-extensions)

What happened to this page?

[2019-06-21 15:37] johnpryan commented on #1695
Good catch - this page moved to https://dart.dev/server/c-interop-native-extensions so we need to add a redirect.

[2019-06-22 01:38] #1695 closed

[2019-06-22 01:39] #1472 closed

[2019-06-23 06:57] Y24 opened #1697 "'Dart documentation' page issue"
![Screenshot from 2019-06-23 14-49-32](https://user-images.githubusercontent.com/37091129/59972687-38c4de00-95c6-11e9-8458-9f869a79e9c4.png)
Page URL: https://www.dartlang.org/guides/index
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/index.md

Description of issue: It's hard to describe the bug, When using firefox brower, everything is ok, however, once turns to googl

[2019-06-23 16:22] vinicentus opened #1698 "Create redirect for Broadcast Streams article"
URL: https://dart.dev/articles/broadcast-streams
redirected from https://www.dartlang.org/articles/broadcast-streams/

Can't find the page... Google only seems to index the old dartlang url.

[2019-06-24 10:01] Jungle68 opened #1699 "Effective Dart"

[2019-06-24 10:02] Jungle68 opened #1700 "Effective Dart 描述文字错误"
![image](https://user-images.githubusercontent.com/7939686/60010354-32a82d80-96aa-11e9-8a63-ee6b00351d2b.png)

[2019-06-24 11:04] lrhn commented on #1700
I do not believe the goodev.org site is owned by the Dart team. If there are issues with the translation, the owner of the site is the one who needs to be contacted. I do not see any contact information on the dart.goodev.org page, though.

[2019-06-24 16:44] johnpryan commented on #1699
What is issue you are seeing? The Effective Dart article is here: https://dart.dev/guides/language/effective-dart

[2019-06-24 16:54] johnpryan commented on #1698
I can't find where this article went but there are still some [tests](https://github.com/dart-lang/site-www/tree/master/examples_archive/site_tests/articles/broadcast-streams) @sfshaza2 was article was taken out? We may want to redirect to https://dart.dev/tutorials/language/streams#broadcast-streams if that's the case

[2019-06-24 16:56] johnpryan commented on #1697
Are you running any Chrome extensions or ad blockers?

[2019-06-24 18:12] sfshaza2 commented on #1698
Yes, I remember that article, and it’s definitely gone from the repo. That surprises me as I wasn’t aware of any aspect of broadcast streams going out of date. I would suggest the following (though Kathy might have different ideas):

- Add a redirect from the former article to the link that @johnpryan suggested. It’s the only remaining place on the site that talks about broadcast streams. However,

[2019-06-24 18:15] sfshaza2 commented on #1700
@lrhn is correct. I’m closing this issue. Please re-open if you have an issue with dart.dev. Thanks!

[2019-06-24 18:15] #1700 closed

[2019-06-24 18:17] sfshaza2 commented on #1699
Hi @Jungle68! I saw the other bug you opened where you had an issue with the translated version of our site. Please direct your questions to them. If you have an issue with our site, dart.dev, maybe you can find someone who can translate to English? Closing this for now. Thanks!

[2019-06-24 18:17] #1699 closed

[2019-06-24 18:19] sfshaza2 commented on #1697
@Y24, this is not reproducible for me. @johnpryan asks a good question. Are you running any Chrome extensions? That may be causing your problem.

[2019-06-26 16:33] johnstuarthunter opened #1702 "Bad URL"
URL: https://dart.dev/articles/await-async
Expected page:
A page about Dart async and await.
This has been over a week now.. and is the top result when you search:
"dart when an async method returns what is returned" in GOOGLE

[2019-06-26 16:43] johnpryan commented on #1702
It looks like this article was removed intentionally (32193158565f756508d8c573246577f445ca35e9) so this page should probably redirect to https://dart.dev/tutorials/language/futures

[2019-06-27 20:45] mit-mit opened #1709 "Code samples are failing analysis in Travis"
See: https://travis-ci.org/dart-lang/site-www/jobs/551280798

[code]

[2019-06-28 00:07] deakjahn opened #1710 "Issues with contrast on the site"
But really? Who thought that this would be legible?

[2019-06-28 07:02] Y24 commented on #1697
@johnpryan no, The Chrome brower is a totally new brower I installed because I can use flutter's devtools. by the way, When I open the website in Chrome on Andorid's device, they show me the same bugs:joy:

[2019-06-28 07:41] sfshaza2 commented on #1697
Is it still happening for you, @Y24?

[2019-06-28 07:42] sfshaza2 commented on #1709
Noted. I asked @johnpryan to take a look yesterday. We are wondering if this is a result of Dart 2.4.

[2019-06-28 07:43] sfshaza2 commented on #1702
That’s correct. Also, we have a new async/await codelab coming very soon.

[2019-06-28 07:44] sfshaza2 commented on #1710
What? Where? I gather the contrast of something is insufficient..

[2019-06-28 08:16] Y24 commented on #1697
@sfshaza2 oh，wonderful，I checked it right now, It seems to be fine, thank you.

[2019-06-28 08:30] stritti opened #1711 "https://dart.dev/ bloccked in Browser: Invalid cert"
Error: `NET::ERR_CERT_AUTHORITY_INVALID`

![image](https://user-images.githubusercontent.com/184547/60329021-c40bee00-998f-11e9-9d30-fe5e91be4220.png)

[2019-06-28 09:32] deakjahn commented on #1710
The site. Am I in the wrong place? I assumed it was about the web site eg. https://dart.dev/guides/language/language-tour

Main text area is so-so, border case, I'd use a more definite color but can be disputed. Code samples are downright pale, especially where the background matches the foreground (red on red, gray on gray). Right side menu is abysmal, both by eye and by measurement.

What I real

[2019-06-28 09:38] sfshaza2 commented on #1710
Thanks for that clarification, @deakjahn.

[2019-06-28 09:40] sfshaza2 commented on #1697
Good to hear! Thanks!

[2019-06-28 09:40] #1697 closed

[2019-06-28 09:43] sfshaza2 commented on #1711
Hmm.  I’m asking various folks around the globe to see if they can reproduce this.

[2019-06-28 10:04] stritti commented on #1711
I got it at Germany. But it looks like the cert is outdated.

[2019-06-28 10:10] #1711 closed

[2019-06-28 13:51] joriki opened #1712 "Improve isolate coverage in language tour"
Page URL: https://www.dartlang.org/guides/language/language-tour
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/language-tour.md

Description of issue:

The term "isolate" (which I hadn't encountered before) is first used without explanation and without a link in [the section on exceptions](https://dart.dev/guides/language/language-tour#exceptions) -- it should

[2019-06-28 16:58] johnpryan commented on #1710
I made some changes [here ](https://github.com/dart-lang/site-www/pull/1574)a while back that might improve this.

[2019-06-28 18:11] sfshaza2 commented on #1712
Excellent point, @joriki!

The page should also embed this video:  https://www.youtube.com/watch?v=vl_AaCgudcY

You might also find these community articles useful:
https://blog.usejournal.com/flutter-async-beginner-friendly-guide-for-heavy-lifting-operations-cf8ec81833d7
https://www.didierboelens.com/2019/01/futures---isolates---event-loop/

[2019-06-28 18:13] sfshaza2 commented on #1710
Good point, @johnpryan. We should revisit this, or maybe run accessibility tools over some of the pages.

[2019-06-28 20:54] jamesderlin commented on #1263
I'll also add that a lot of Dart documentation (e.g. [the "Libraries and visibility" section of the Language Tour](https://dart.dev/guides/language/language-tour#libraries-and-visibility) talks about "libraries" and mentions that identifiers with a leading `_` are private to the library, but it doesn't explain *what* a library is (other than "Every Dart app is a library", but that raises more ques

[2019-06-30 12:54] Henriquedn opened #1713 "'Dart cheatsheet codelab' page issue"
Page URL: https://www.dartlang.org/codelabs/dart-cheatsheet/
Page source: https://github.com/dart-lang/site-www/tree/master/src/codelabs/dart-cheatsheet/index.md

Description of issue: The Solution for the Exceptions part is missing catch(e) on line 18 hence the solution itself cannot pass the test

[code]

[2019-07-01 17:03] sergebeauchampGoogle opened #1714 "'A tour of the Dart language' page issue"
Page URL: https://www.dartlang.org/guides/language/language-tour
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/language-tour.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

I somewhat realized that named parameters in dart are optional by default, unless

[2019-07-01 21:21] kwalrath opened #1716 "Redirect mixins article to mixins section"
@alorenzen discovered that it’s hard to find coverage of the mixin feature, even though we cover it in https://dart.dev/guides/language/language-tour#adding-features-to-a-class-mixins. One of the top results on Google is the no-longer-with-us article https://www.dartlang.org/articles/mixins.

Redirecting /articles/mixins to /guides/language/language-tour#adding-features-to-a-class-mixins should he

[2019-07-02 00:26] kwalrath commented on #1709
Fixed in #1717.

[2019-07-02 00:26] #1709 closed

[2019-07-02 15:19] kwalrath commented on #1247
We should add a test that looks for bad external links, but (unlike flutter.dev’s current behavior) I don’t think we should fail the build just because an external URL no longer works.

Related: #1685, https://github.com/flutter/website/issues/2734

[2019-07-02 15:42] kwalrath commented on #1270
dart-tutorials-samples repo was just updated in github.com/dart-lang/dart-tutorials-samples/pull/49.

[2019-07-02 16:30] mit-mit opened #1720 "Several links are broken"
[code]

Looks like the destination pages all exists, but the anchors do not

[2019-07-02 17:27] kwalrath commented on #1720
starting now…

[2019-07-02 21:17] #1720 closed

[2019-07-02 21:50] #75 closed

[2019-07-02 22:48] kwalrath opened #1724 "Fix dart.dev search engines and search page text"
Two things are weird about search right now:

1. The Search dart.dev page is returning results from api.flutter.dev & flutter.dev as well, for some reason. E.g. go to https://dart.dev/search and search for “language” (dart.dev is first, but flutter.dev results appear on the first page) or “mixin” (api.flutter.dev is first).

2. The search-all page and engine should search api.dart.dev, and mention

[2019-07-02 23:19] kwalrath commented on #1713
I think this is https://gist.github.com/RedBrogdon/e221e3fd667825e62aac79079b8b5c59.

[2019-07-02 23:20] kwalrath commented on #1713
@RedBrogdon I can fix this if you’d like. Since it’s your gist, I thought I’d give you first crack. :)

[2019-07-03 09:56] dballesteros7 opened #1725 "'Effective Dart: Usage' page issue"
Page URL: https://www.dartlang.org/guides/language/effective-dart/usage
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/effective-dart/usage.md

Description of issue:

This part of the "DO use initializing formals when possible" style rule:

"You can't always take advantage of it. In particular, using it means
the parameter is not visible in the initialization l

[2019-07-03 18:31] kwalrath commented on #1725
@munificent, what do you think we should do?

[2019-07-04 12:31] mit-mit opened #1733 "Missing documentation around packages with non-stable SDK deps."
We are missing documentation on how to handle publishing of packages that depend on non-stable SDKs. Specifically:

- https://dart.dev/tools/pub/pubspec#version makes it sound like pre-release versions must use `-alpha.x`. Can you not use the more traditional `-dev.x`?
- https://dart.dev/tools/pub/versioning doesn't mention pre-release versioning at all
- https://dart.dev/tools/pub/publishing shou

[2019-07-04 12:31] mit-mit commented on #1733
cc @kwalrath I think this is a pretty big gap. @jonasfj has offered to write some raw content for it!

[2019-07-05 02:26] JayTam opened #1734 "是utf8而不是UTF8"
https://github.com/dart-lang/site-www/blob/fe8fcfd5fac83102d5580109a3b8c9df16d7d1f4/examples_archive/library_tour/client-server/bin/main.dart#L12

[2019-07-05 08:16] eernstg opened #1735 "Incorrect links to index entries in language specification PDFs"
On the page [Dart language specification](https://dart.dev/guides/language/spec) there are links to the [Dart 2.2 language specification](https://dart.dev/guides/language/specifications/DartLangSpec-v2.2.pdf) as well as a [bleeding edge version](https://spec.dart.dev/DartLangSpecDraft.pdf).

These are PDF documents, and at least the bleeding edge version is created using some automatic step (I'm n

[2019-07-06 12:43] Yairimedinac4621 opened #1736 "'Get the Dart SDK' page issue"
Page URL: https://www.dartlang.org/get-dart.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/get-dart.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2019-07-08 16:58] leonsenft opened #1738 "DDC claims to support every modern browser on one page, and only Chrome on another"
Page URL: https://www.dartlang.org/tools/dartdevc/
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/dartdevc/index.md

Description of issue:

The very first sentence claims DDC lets you _debug your Dart web app in any modern web browser_.

In contrast, the [FAQ](https://dart.dev/tools/dartdevc/faq#the-basics) mentions that Chrome is the only supported browser, and that othe

[2019-07-08 17:40] shihaohong opened #2009 "Add Documentation on redirecting factory constructor"
The Language spec defines implementation for the following syntax:
`factory Listenable.merge(List<Listenable> listenables) = _MergingListenable`

This can be found in the Dart Language Specification, but not in the language tour. This syntax could be made more visible.

Related: https://github.com/flutter/flutter/issues/35727

[2019-07-08 18:26] munificent commented on #1725
This bug is correct. The text is out of date.

The main case now where you wouldn't use an initializing formal is if the parameter is named, but you don't want the name to be the same as the initializing field as in:

[code]

[2019-07-08 21:38] kwalrath commented on #1738
@vsmenon the first sentence should say “the Chrome browser”, right? (We avoid making forward-looking statements in the docs.)

[2019-07-08 21:40] vsmenon commented on #1738
Agreed, we should say "the Chrome browser".

[2019-07-08 23:12] kwalrath commented on #1725
@munificent is it OK to just remove the rule, or do you want to change it?

[2019-07-08 23:27] kwalrath commented on #1736
Closing for lack of a description.

[2019-07-08 23:27] #1736 closed

[2019-07-08 23:29] kwalrath commented on #1735
Unfortunately, @mit-mit is out and I don’t know how these docs are created.

[2019-07-08 23:34] kwalrath commented on #1734
The issue appears to be that `UTF8` should be `utf8`. However, I don’t think this code is used anywhere. In fact, we intend to remove the examples_archive directory (#1336). I’m going to close this issue in favor of #1336.

[2019-07-08 23:34] #1734 closed

[2019-07-08 23:54] kwalrath opened #1741 "dartpad.dartlang.org -> dartpad.dev"
@domesticmouse or @RedBrogdon, is there any reason we shouldn’t make this change now?

[2019-07-09 02:22] domesticmouse commented on #1741
Uhm, I'm curious what the specific change is that you are asking about. [dartpad.dev](https://dartpad.dev/) works as is, but I don't want to hard re-direct from `dartpad.dartlang.org` to `dartpad.dev` as we will break a bunch of web pages. We are reliant on the information after the # in the URL, which is never sent to the server.

[2019-07-09 16:45] johnpryan commented on #1741
FWIW I think the fragment identifier stays in the URL after the redirect. I don't see how this would break any functionality but I could be missing something.

[2019-07-09 16:59] kwalrath commented on #1741
What I mean to do is to change all the DartPad links/inclusions on dart.dev from dartpad.dartlang.org to dartpad.dev. This should be a simple matter of changing a variable in a config file.

I just want to know if there’s any reason NOT to link to dartpad.dev (instead of dartpad.dartlang.org).

[2019-07-09 18:13] johnpryan commented on #1741
That sounds reasonable to me, but would like @domesticmouse to weigh in since he's more aware of the details

[2019-07-10 00:12] domesticmouse commented on #1741
That should be safe, we have already started making that change in various places. From an implementation perspective the two urls are completely equivalent

[2019-07-10 00:16] kwalrath opened #1744 "Support code highlighting in markdown code blocks"
I’d love to be able to use only triple-tick dart, never `{% prettify …%}`. But at least one use case (highlighting: `[!…!]`) doesn’t work with triple-tick dart. Having to remember to use prettify causes unnecessary complexity for site contributors. Also, I think prettify styles are different from ```dart styles.

Second, it’d be good to improve the formatting of code within strings: #1108.

[2019-07-10 00:26] #1738 closed

[2019-07-10 14:16] #1362 closed

[2019-07-10 16:51] #1741 closed

[2019-07-10 17:24] kwalrath opened #1748 "Chore: Fail build if "./tool/build-and-check-links.sh" fails"
I don’t want to have to go to travis to find out that the link check failed. I’ll fix this unless someone gets to it first…

[2019-07-10 20:07] alorenzen opened #1749 "Deferred loading in 'dartdevc: FAQ' page"
Page URL: https://www.dartlang.org/tools/dartdevc/faq.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/dartdevc/faq.md

Please add a comment about deferred loading not actually being lazy.

Context: https://github.com/dart-lang/sdk/issues/27777 and https://github.com/dart-lang/angular/issues/1836.

[2019-07-10 20:21] kevmoo opened #1750 "Document (current) best practices for platform-specific code (PSC)"
We have basic support for PSC, but it's not well documented and there are potentially big holes that a user could fall through.

- Document the recommended approach here
- Link to working examples (pkg:http, etc)
- Explain pitfalls (defining types, exports, etc)
- Hint at future direction?

[2019-07-11 06:16] ydwan opened #1751 "How to extend core methods?"
Example:
'123456'.equals(str);
Not find 'equals' method in flutter.
I want add a method on class and not break too many code.

In c#, we can add 'static' on class.
static class String {static Boolean equals() {.........}}

[2019-07-11 13:26] yourpalal commented on #1738
I support updating the docs to reflect this but I want to register my discontent about the fact that DDC is only supported in Chrome.

Unfortunately, this not only means developing in Firefox is unsupported (and even broken, for angulardart), it means that supporting firefox with your dart code takes notably more effort. If there's a bug under firefox, you cannot use the normal dev flow to fix it

[2019-07-11 17:29] kwalrath commented on #1738
@yourpalal I believe we do intend to make dartdevc support all recent browsers, but unfortunately I can’t find a tracking bug for you to follow. The relevant issues should be filed under https://github.com/dart-lang/sdk/labels/area-dev-compiler.

[2019-07-11 17:46] kwalrath opened #1752 "Create a URL that redirects to the SDK changelog"
dart.dev/sdk-changelog-2.4.0

[2019-07-11 18:04] #1752 closed

[2019-07-11 18:11] kwalrath commented on #1751
Closing because we have no such feature right now. However…

Is [static extension methods](https://github.com/dart-lang/language/blob/master/accepted/future-releases/static-extension-methods/feature-specification.md) the feature you want? It isn’t in the language yet, but has been accepted and has an [implementation plan](https://github.com/dart-lang/language/blob/master/accepted/future-releases/s

[2019-07-11 18:11] #1751 closed

[2019-07-11 20:09] kwalrath opened #1754 "Fix social share image"
In the source for https://dart.dev/get-dart, I see 3 incorrect occurrences of dartlang.org, all of which should be fixed, and one of which breaks the social share image:

[code]

[2019-07-11 20:58] #1754 closed

[2019-07-11 21:36] kwalrath commented on #1270
And again: https://github.com/dart-lang/dart-tutorials-samples/pull/51

[2019-07-11 22:01] RedBrogdon opened #1757 "Pubspec includes two dependency overrides pointed at external repos"
The site's pubspec:

https://github.com/dart-lang/site-www/blob/master/pubspec.yaml

Includes two dependency overrides that point to @chalin's personal GitHub account:

[code]

While the repos are unlikely to be taken down, it'd be good to remove those overrides or point them to copies in a more official location.

[2019-07-11 22:04] RedBrogdon opened #1758 "Gemfile references deprecated Sass library"
The site's Gemfile:

https://github.com/dart-lang/site-www/blob/master/Gemfile

Includes a reference to [Ruby Sass](https://rubygems.org/gems/sass/versions/3.7.4), which has been deprecated in favor of Dart Sass:

https://sass-lang.com/ruby-sass

[2019-07-12 08:50] ydwan commented on #1751
Thanks! I got it~

[2019-07-12 16:33] #1749 closed

[2019-07-16 09:21] bjornbjorn opened #1768 "/resources/books leads to 404"
On the https://dart.dev/resources/books page the link to the "Dart: Scalable Application Development" book leads to a 404 page.

Not sure but looks like the correct link is https://www.oreilly.com/library/view/dart-scalable-application/9781787288027/

.. at least that is what I got when I googled the title.

[2019-07-16 16:17] kwalrath commented on #1768
Thanks!

[2019-07-17 21:04] #1768 closed

[2019-07-17 22:16] kwalrath opened #1770 "Give more details around pub publish & package removal"
See https://github.com/dart-lang/site-www/pull/1762#pullrequestreview-261372247.

[2019-07-18 00:18] munificent commented on #1427
Looks like this is fixed now. :)

[2019-07-18 00:18] #1427 closed

[2019-07-18 20:27] munificent commented on #1351
We do have a section saying to use Markdown, which includes some examples of inline backticks. I think that's probably sufficient. The `[: ... :]` is ancient, was invented by a couple of people on the Dart team, and was never known by any significant number of humans on Earth.

[2019-07-18 20:27] #1351 closed

[2019-07-18 20:28] munificent commented on #1332
Fixed by #1334.

[2019-07-18 20:28] #1332 closed

[2019-07-18 21:01] munificent commented on #1329
On further thought, I don't think we're helping users by loosening this guideline. If you have a long method chain that produces an Iterable and you need to walk that iterable and do some kind of side effect, I think it's clearer to simply use a local variable and a for-in loop. So [this example](https://github.com/dart-lang/site-www/issues/1329#issuecomment-459508527) would become:

[code]

I thi

[2019-07-18 21:06] munificent commented on #999
This is an error now, so there's no need to give style guidance on it.

[2019-07-18 21:06] #999 closed

[2019-07-18 21:12] munificent commented on #1163
"Effective Dart" does already have "[DON’T import libraries that are inside the src directory of another package.](https://dart.dev/guides/language/effective-dart/usage#dont-import-libraries-that-are-inside-the-src-directory-of-another-package)", so I think that's sufficient.

[2019-07-18 21:12] #1163 closed

[2019-07-18 21:31] johnpryan opened #1773 "Layout basics codelab has incorrect solution"
The gist used for https://flutter.dev/docs/codelabs/layout-basics in section"Try using SizedBox to make space" uses `50` for the SizedBox's width, but the test code expects `100`. Corrected gist is here:

https://gist.github.com/johnpryan/326b8c5774079b7a80922e11a3730f99

I don't see a way to make a pull request to the original gist (https://gist.github.com/RedBrogdon/0c3e1ce8177a2f0cc8e2275d5260b

[2019-07-18 21:46] kwalrath commented on #1712
We should consider pointing to the docs for spawn, compute, and TransferableTypedData.

[2019-07-19 03:04] Stef-GMS opened #1774 "'Effective Dart: Style' page issue"
Page URL: https://dart.dev/guides/language/effective-dart/style
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/effective-dart/style.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue: The page states that using prefixes is "bad", but yet there are constants in

[2019-07-19 10:39] sjmcdowall commented on #1329
I still disagree @munificent  -- to me this sounds like YOUR opinion on how things should go.  Yes, you have some good arguments but I don't believe they are worth taking away an option for a programmer to use a feature available in the ecosystem.  I thought some reasonable (and simple) use cases to allow this were given -- yes, for a long complex chain maybe it's not the best (although who I am t

[2019-07-19 15:56] kwalrath commented on #1774
Good point.

@eseidelGoogle or @hixie, can you comment on why many of [Flutter material's constants](https://api.flutter.dev/flutter/material/material-library.html#constants) use the `k` prefix?

@munificent, do you think we should soften https://dart.dev/guides/language/effective-dart/style#dont-use-prefix-letters?

[2019-07-19 15:58] kwalrath commented on #1773
I think this issue belongs in github.com/flutter/website, but I can't move/transfer it for some reason.

What I usually do is fork the original gist and change the .md file to point to the new gist.

[2019-07-19 16:18] johnpryan commented on #1773
oops, wrong repo. Fix is here: https://github.com/flutter/website/pull/2845

[2019-07-19 16:18] #1773 closed

[2019-07-19 21:11] Hixie commented on #1774
https://github.com/flutter/flutter/wiki/Style-guide-for-Flutter-repo#begin-global-constant-names-with-prefix-k

[2019-07-19 21:22] srawlins commented on #1263
is perhaps the most confusing and misleading sentence in all of our docs.

[2019-07-19 23:55] kwalrath opened #1775 "Add flutter-web-preview to the README"
Are we ready yet to add this template to the ones listed in the stagehand README?

[2019-07-20 00:22] kwalrath commented on #1775
Oops, wrong repo.

[2019-07-20 00:22] #1775 closed

[2019-07-20 00:39] kwalrath commented on #1698
I think we just didn't have any tests for the code. This page is archived at https://web.archive.org/web/20190402211111/https://www.dartlang.org/articles/libraries/broadcast-streams/. I could add it back and file a bug to create tests for all the code...

[2019-07-20 02:35] #1684 closed

[2019-07-20 02:36] #1702 closed

[2019-07-20 02:37] #1716 closed

[2019-07-22 12:50] jonasfj commented on #1733
Filed https://github.com/dart-lang/site-www/pull/1785

[2019-07-22 12:55] jonasfj commented on #1733
I'm not sure how we would bring that up here.. We could start by documenting that we don't actually use semver, but instead have [`pub_semver`](https://github.com/dart-lang/pub_semver) which is based on `semver 2.0.0-rc.1`. I just filed https://github.com/dart-lang/pub_semver/pull/38 to document that we're using `semver 2.0.0-rc.1`.

I'm not sure dart.dev/tools/pub/versioning is reference document

[2019-07-22 17:45] kwalrath opened #1787 "Support {{site.alert.info}} and {{site.alert.warning}}"
...like flutter/website does. See https://github.com/dart-lang/site-www/pull/1779#discussion_r305564233 for more info.

[2019-07-23 18:24] munificent commented on #1774
No, I don't. The only places I've ever seen this done are the Flutter framework and every now and then years ago when one of the Dart VM team members used to writing C++ would write a little Dart code without knowing the idioms.

I think the documented style is fine.

[2019-07-23 18:24] #1774 closed

[2019-07-23 18:28] munificent commented on #1329
Well, it's my opinion and the opinions of anyone persuaded by my arguments. An automated formatter is basically a collection of consensus opinions.

That's entirely valid, but in that case, an opinionated automated formatter might not be the right tool for you. :) dartfmt is *not* a libertarian tool. Its philosophy is that we are all more productive *in aggregate* when we agree to do things the sa

[2019-07-23 19:11] #1329 closed

[2019-07-23 20:35] #947 closed

[2019-07-23 20:35] #967 closed

[2019-07-23 20:35] #1393 closed

[2019-07-23 20:35] #1476 closed

[2019-07-23 20:35] #1502 closed

[2019-07-23 20:35] #1575 closed

[2019-07-23 20:35] #1597 closed

[2019-07-23 20:35] #1725 closed

[2019-07-23 22:18] #1714 closed

[2019-07-24 20:25] kwalrath opened #1789 "Make sure image files are used"
More info: https://github.com/dart-lang/site-www/pull/1780#issuecomment-514753731

We might have other image files that are unused... it wouldn't be bad to do a pass to find those.

[2019-07-25 18:03] #55 closed

[2019-07-25 18:03] #1712 closed

[2019-07-25 20:12] kwalrath opened #1792 "Advertise the code of conduct"
We should point to the Dart code of conduct from more places.

DONE: ~~Also, it should probably match (be the same as?) the Flutter code of conduct: https://github.com/flutter/flutter/blob/master/CODE_OF_CONDUCT.md~~

/cc @filiph @timsneath

[2019-07-26 22:31] kwalrath opened #1794 "Fix anchors in Effective Dart"
https://travis-ci.org/dart-lang/site-www/jobs/564221852 shows 3 missing anchors:

[code]

[2019-07-26 22:45] kwalrath commented on #1325
I noticed this again today. :(

[2019-07-26 22:47] kwalrath commented on #1325
It seems to work except for rules that have custom anchors. (Sometimes we'll tweak a rule's title, but we want to keep the URL the same.)

[2019-07-27 00:02] kwalrath commented on #1671
Already fixed.

[2019-07-27 00:02] #1671 closed

[2019-07-27 00:13] kwalrath commented on #1553
All 3 references to dart-lang/language that I find in the tutorial are still valid. I'm going to leave this open as a reminder to periodically check these links by hand and maybe update them someday. It's not ideal, but it's better than nothing. The relevant links:

* https://github.com/dart-lang/language/blob/master/accepted/2.3/spread-collections/feature-specification.md
* https://github.com/dar

[2019-07-29 07:46] mit-mit commented on #1735
I'm back! @eernstg here is the job that creates the bleeding edge spec:
https://github.com/dart-lang/language/blob/master/.travis.yml

It just calls make:
[code]

Any idea why that might now work?

As for the stable spec, if you can generate a v2.4 spec, and updating the site is a simple PR to add that file [here](https://github.com/dart-lang/site-www/tree/master/src/_guides/language/specification

[2019-07-29 08:16] eernstg commented on #1735
https://github.com/dart-lang/site-www/commit/f6d8ebaa25ebafa38da65b9b5b6aafa151bff181 updated the existing 2.2 spec to have correct index references.

[2019-07-29 16:20] munificent opened #1798 ""DO use collection literals when possible" incorrectly encourages implicit dynamic"
The "good" examples for this guideline don't use type arguments and don't have a downwards inference context, which mean they implicit create collections with type argument `dynamic`. The type guidelines explicitly discourage that.

[2019-07-29 17:29] kwalrath commented on #1735
Are we all good, or should we update the link in https://dart.dev/guides/language/spec (to 2.3 or 2.4)?

[2019-07-29 18:18] kwalrath commented on #1371
`>>>` is in the table but nowhere else because it isn't implemented yet. (Arguably, it shouldn't be in the table.) For more information, see https://github.com/dart-lang/language/issues/294 and https://github.com/dart-lang/language/issues/120.

[2019-07-29 20:20] #1794 closed

[2019-07-29 22:01] kwalrath opened #1800 "Fix the portmanteau example"
The DartPad example under https://dart.dev/tutorials/web/fetch-data#using-getString-function is broken because of a problem loading data.

The fix might be as simple as changing dartlang.org to dart.dev (which we should search for globally, anyway), or it might be more involved.

[2019-07-30 07:18] domesticmouse opened #1801 "'dart2aot' page issue"
Page URL: https://dart.dev/tools/dart2aot.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/dart2aot.md

Description of issue: We should probably mention that `dart:mirrors` isn't supported, and talk about how to include package dependencies into a binary.

[2019-07-30 15:56] kwalrath commented on #1801
@domesticmouse are you getting this information, or do you need some help from me in finding the details?

[2019-07-30 20:27] kwalrath commented on #1356
We have enough videos to create this page now.

[2019-07-30 20:58] domesticmouse commented on #1801
I don’t currently have time to chase this one down 😎

[2019-07-31 00:38] kwalrath commented on #1663
It's working now.

[2019-07-31 00:38] #1663 closed

[2019-07-31 00:50] kwalrath opened #1803 "Test all code excerpts"
This bug replaces #407, which is the equivalent for the pre-dart.dev version of this site. We'll need to be able to test all samples as [null safety](https://github.com/dart-lang/language/tree/master/accepted/future-releases/nnbd) is released.

---

New pages that need tests for code excerpts:

- [ ] [Dart cheatsheet codelab](https://dart.dev/codelabs/dart-cheatsheet)
- [ ] [Dart language cheatshe

[2019-07-31 00:50] kwalrath commented on #407
Closed in favor of #1803.

[2019-07-31 00:50] #407 closed

[2019-07-31 14:34] eernstg commented on #1735
2.3 added ui-as-code features (such as `if` and `for` in collections), and they are not in the spec yet, so it would not be correct to announce any available version of the spec as 2.3 or 2.4.

[2019-07-31 16:57] kwalrath commented on #1735
I'm going to close this then. We can open another bug to update the spec when it's ready.

[2019-08-01 08:58] eernstg commented on #1735
There's one more thing, actually: We have fixed the issue with the numbered spec (2.2 at this point). But the issue still exists with the bleeding edge spec, and the procedure used to create that PDF will presumably continue to reproduce the issue each time a fresh bleeding edge spec is created (even though it's running exactly the same Makefile as the one that I'm using, and I don't experience th

[2019-08-01 13:42] eernstg commented on #1735
Working as of https://github.com/dart-lang/language/commit/dc35fd957e7896946a54b4a14083ba9ca4a74f51.

[2019-08-01 13:42] #1735 closed

[2019-08-01 14:38] #1672 closed

[2019-08-02 12:53] feinstein opened #1806 "'Package versioning' page issue"
Page URL: https://dart.dev/tools/pub/versioning.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/pub/versioning.md

Description of issue:

The document fails to explain what `+` means and when and how to use it, the only mention to it is ambiguous:

Which leads us to think that `+` should be used always when there's a change that doesn't impact the public API. The fact

[2019-08-02 16:24] kwalrath commented on #1806
@jonasfj agreed that I should make this clearer?

[2019-08-02 21:41] kwalrath opened #1807 "Todo app missing in "Add elements to the DOM""
The first example app (Todo) in https://dart.dev/tutorials/web/low-level-html/add-elements is missing. You should see a DartPad, but instead, you see "Example goes here..."

The example disappeared when we moved the web tutorials to webdev.dartlang.org. (The basic web tutorials have since moved back to dart.dev.)

You can see what it originally looked like here, back when it ran in the page:

http

[2019-08-02 21:46] kwalrath commented on #1807
The good news is that the first app in https://dart.dev/tutorials/web/low-level-html/remove-elements is working — and that app is based on the one in add-elements. So it's just a matter of locating the source code, creating a new gist if necessary, and adding the DartPad to add-elements.

[2019-08-02 23:48] kwalrath commented on #1353
I'm moving this to the new videos page (#1808).

[2019-08-03 00:13] legalcodes opened #1810 "futures codelab needs tests for examples"
(1) We should write tests for the test code that runs in DartPad exercises
(2) We should extract / test the code in example snippets.

Ed 10/23: We should update the codelab's test code to use Andrew's test package. (The test code was written before the package was finished.)

[2019-08-03 00:14] legalcodes commented on #1810
See :

https://github.com/dart-lang/site-www/tree/master/examples
https://raw.githubusercontent.com/dart-lang/site-www/master/src/samples/index.md

[2019-08-03 00:17] legalcodes opened #1811 "Enforce consistent decision about when to code font the term "async""
We should decide permissible cases to not use code font for the async term and correct usage accordingly throughout the site.

[2019-08-03 16:39] chalin opened #1812 "'Articles' page issue: should Zones be in the list?"
Page URL: https://dart.dev/articles/index
Page source: https://github.com/dart-lang/site-www/tree/master/src/_articles/index.md

Description of issue: the page lists articles with a "library" tag in the front matter. The current list has 3 entries:

The *Zones* article is under _articles/archive/zones.md. I'm assuming that if it is archived, then it shouldn't show up on the main "Articles" page. I

[2019-08-03 17:08] chalin commented on #1803
Individual work items carried over from #407:
- [ ] Dev > CLI & Server > [Write Command-line Apps](https://dart.dev/tutorials/server/cmdline) (**code excerpts have popups**)
- [ ] T&T > Static Analysis > [guides/language/analysis-options](https://www.dartlang.org/guides/language/analysis-options) - **varies pubspec analyzer options; will require separate projects**. Might be worth testing rules li

[2019-08-05 13:18] jonasfj commented on #1806
Pub uses https://github.com/dart-lang/pub_semver which is based on:
https://semver.org/spec/v2.0.0-rc.1.html, which defines:

Using `+1` for pre-1.0.0 releases to indicate a minor version is a Dart community specific convention.

Post-1.0.0, I presume the `+1` is intended to mean "build version" as is defined in semver 2.0.0-rc.1.

------

In practice I don't know when it makes sense to use `+1`,

[2019-08-05 13:19] jonasfj commented on #1806
side note: I might be enough to simply warn in `pub publish` rather than documenting it.

[2019-08-05 14:33] feinstein commented on #1806
@jonasfj I think a warning on `pub publish` would be a nice addition, but I there should be also a more opinionated documentation on this, exposing it as a good practice.

We use +1 also on Flutter apps which don't use `pub publish`, and even though you add it to the `flutter` tool, people will want to learn more about the warning and the current documentation is incomplete on this, and kinda ambi

[2019-08-05 14:38] jonasfj commented on #1806
The `flutter` tool uses `pub` under the hood:
https://flutter.dev/docs/development/packages-and-plugins/developing-packages#publishing-packages
(afaik, it does a few tricks and ensures you're calling the pub version distributed with Flutter).

[2019-08-05 15:05] feinstein commented on #1806
Oh ok, well, AFAIK the [flutter plugin repo](https://github.com/flutter/plugins) doesn't accept `+1` in post 1.0.0 versions, their CI tooling check for this if you guys want to take a look.

[2019-08-05 16:50] natebosch commented on #1806
The paragraph quoted is specifically discussing how to version packages with a major version of `0`. I'd be in favor of making this more clear by adding a trailing sentence in that paragraph - "The `+` versions should only be used for non-API changes in packages with a leading `0.` version."

IMO we don't need to specifically discuss it's use for build versions.

[2019-08-05 17:17] #1356 closed

[2019-08-05 17:28] kwalrath commented on #1812
Good point, I'll remove that tag from the Zones article.

[2019-08-05 20:07] feinstein commented on #1806
I agree that this sentence is desirable as it makes the text intention clearer, but in that case the use of `+` in anything major version different than `0`, will not be addressed in the principal dart documentation regarding versioning, which I think will lead to questions, since we see them being used a lot.

After reading:

My immediate thought is "ok, then what's the meaning of `+` in non-0 le

[2019-08-05 21:51] #1811 closed

[2019-08-05 21:57] raufabr commented on #1197
Hi, if this is still open I would like to have a go at this.

[2019-08-05 21:58] kwalrath commented on #1197
That would be great, thank you! Let me know if you have any questions.

[2019-08-06 16:55] chalin commented on #1812
Closed by #1814

[2019-08-06 16:55] #1812 closed

[2019-08-06 16:57] chalin opened #1816 "'Articles' page doesn't appear in left- or top-nav"
Page URL: https://dart.dev/articles/index
Page source: https://github.com/dart-lang/site-www/tree/master/src/_articles/index.md

- Left nav: it could appear under **Resources**
- Top nav: it should appear under **Doc**

[2019-08-06 16:58] chalin opened #1817 "No link to Articles > Archive"
Page URL: https://dart.dev/articles/index
Page source: https://github.com/dart-lang/site-www/tree/master/src/_articles/index.md

There is no link to the Articles Archive folder, which currently contains three articles.

[2019-08-06 17:44] kwalrath opened #1818 "Fix the build"
The build started breaking yesterday, between 17 & 18 hours ago:

* https://travis-ci.org/dart-lang/site-www/pull_requests
* https://travis-ci.org/dart-lang/site-www/builds/568163933

It has something to do with the excerpt refresher.

[2019-08-06 17:48] kwalrath commented on #1817
Yep, that's intentional. We aren't sure what our long-term strategy will be.

[2019-08-06 17:49] legalcodes commented on #1818
For posterity:

check-code.sh  calls  tool/refresh-code-excerpts.sh, which contains the command that is currently failing:

   `pub run build_runner build --delete-conflicting-outputs --config excerpt --output="$FRAG”`
  jtippens-macbookpro:site-www jtippens$ ./tool/refresh-code-excerpts.sh

Here's the failure (reproduced locally):

[code]

[2019-08-06 17:49] kwalrath commented on #1816
This is WAI. We have the page there only for URL walkers. (That said, we aren't wedded to this organization. We just didn't want to commit to the idea of articles.)

[2019-08-06 18:30] kwalrath commented on #1675
Decision: remove this site!

[2019-08-06 18:34] mit-mit commented on #1569
@kwalrath what the needs-info part?

[2019-08-06 18:44] kwalrath opened #1819 "Add /get-dart to the mobile nav bar"
![Screenshot_20190806-124501](https://user-images.githubusercontent.com/2164483/62567080-50d38280-b83f-11e9-9a36-8c61e61e6d3b.png)

[2019-08-06 18:45] kwalrath commented on #1569
I think I was waiting to hear if this was a stable feature.

[2019-08-06 19:18] jonasfj commented on #1569
Hmm, I might have pinged the wrong LRN, sorry..

@lrhn, is this something that is stable, and can we encourage developers to adopt it?

[2019-08-06 19:49] raufabr commented on #1197
Hi, would like guidance on this issue. I can see from the mentioned comment that you added sort_constructors_first in the [analyzer file ](https://github.com/dart-lang/site-www/blob/master/examples/analysis_options.yaml).

I'd like to clarify what you mean by making the changes on a file-by-file basis. Apologies if this is a bad question, I'm totally new to this repo. :blush:

[2019-08-06 20:17] filiph commented on #1675
Fixed with https://github.com/dart-lang/site-www/commit/abfc7baabba7d480c37a72b71c78d56238e60a6b.

Includes deep redirects, e.g. https://v1-dartlang-org.firebaseapp.com/guides/libraries/create-library-packages redirects to the corresponding page on dart.dev.

All is HTTP 301, so "permanently moved". Tells search engines that they should update their index.

Also added the code to the 1.x branch, i

[2019-08-06 20:17] #1675 closed

[2019-08-06 20:23] legalcodes commented on #1757
+1, may or may not be involved in https://github.com/dart-lang/site-www/issues/1818

[2019-08-06 20:50] kwalrath commented on #1197
It looks like this bug is stale — that we _are_ ignoring sort_constructors_first on a file-by-file basis (see the search below).

Is there another issue that appeals to you?

[code]

[2019-08-06 20:50] #1197 closed

[2019-08-06 21:30] chalin commented on #1757
FWIW: you are right that I won't be taking those down.

Unsure what kind of causal link you see with the use of dependency overrides, but I don't believe that would be the root cause of #1818.

[2019-08-06 23:03] kwalrath commented on #1757
Not your fault! It looks like it was caused by an extra file in the latest release of the crypto package.

[2019-08-06 23:18] efortuna commented on #1818
This should be fixed with this PR: https://github.com/dart-lang/crypto/pull/68

[2019-08-06 23:29] kwalrath opened #1820 "Don't push the site if any required build jobs fail"
I was surprised when the changes in https://github.com/dart-lang/site-www/pull/1815 got pushed to dart.dev even though the build was failing: https://travis-ci.org/dart-lang/site-www/builds/568602856.

This wasn't a big deal; I pushed despite the broken build because I knew the PR didn't cause the breakage.

But still, we should probably disable the push if any required job fails.

[2019-08-06 23:49] kwalrath commented on #1818
Maybe code_excerpter should have ignored this file?

[2019-08-07 00:01] efortuna commented on #1818
I would believe yes, it should be ignoring .swp files. They are temporary files created by the vim editor when you have a file open.

[2019-08-07 00:01] kwalrath commented on #1818
Fixed by updating crypto package and then deleting Travis cache.

[2019-08-07 00:01] #1818 closed

[2019-08-07 00:04] kwalrath opened #1821 "Make refresh-code-excerpts more robust"
We had a build breakage (#1818) due to code_excerpter trying to parse a .swp file. I don't know if the fault lies with code_excerpter or refresh-code-excerpts.sh, but either way, a .swp file shouldn't be able to break your build!

[2019-08-07 00:04] kwalrath commented on #1820
Related: #1821

[2019-08-07 01:08] bergwerf commented on #1738
A bug with the DDC now prevents me from developing on Firefox, and since having to move to Chrome for development is not ideal for me (partly because of convenience, partly for dogmatic reasons), I made an issue to ask/track progress of official Firefox support for the DDC here: https://github.com/dart-lang/sdk/issues/37767

[2019-08-07 11:12] jonasfj commented on #1806
@munificent, could we poke you for an opinion on the topic of when to use "build versions" in the package version. We currently have a convention for using the "build versions" as "patch version" in pre-1.0.0 releases.

From: https://github.com/dart-lang/site-www/blob/master/src/tools/pub/versioning.md

In https://github.com/dart-lang/crypto/pull/68#discussion_r311312191 you suggested increasing t

[2019-08-07 12:50] chalin commented on #1757
👍

[2019-08-07 14:15] mit-mit commented on #1569
Related issue (where I just commited to getting more info from lang. team): https://github.com/dart-lang/site-www/issues/1750

[2019-08-07 22:05] jonasfj opened #1822 "'Troubleshooting pub' explain workaround for "localhost not working in browser""
Page URL: https://dart.dev/tools/pub/troubleshoot
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/pub/troubleshoot.md

Description of issue:

If working on Chromebook, working over SSH, or in a container, it can be the case that the `localhost` where `pub` is running is different from the `lcoalhost` in the browser the user is using.
This makes it impossible to login. The

[2019-08-08 17:39] kwalrath opened #1824 "Remove src/_includes/dartpad.html?"
See https://github.com/dart-lang/site-www/pull/1799#pullrequestreview-272676216.

[2019-08-08 17:40] kwalrath commented on #1118
The new DartPad has no icon.

[2019-08-08 17:40] #1118 closed

[2019-08-08 17:41] kwalrath commented on #422
#1799 switches us to the new DartPad, which causes no console warnings, yay!

[2019-08-08 17:41] #422 closed

[2019-08-08 17:42] #1817 closed

[2019-08-08 17:42] #1816 closed

[2019-08-08 17:44] kwalrath commented on #1666
Closing due to inability to reproduce the issue.

[2019-08-08 17:44] #1666 closed

[2019-08-08 17:44] #1589 closed

[2019-08-08 17:47] kwalrath commented on #1466
I'm going to close this because we've completely redone the site implementation. If it's still an issue, could you please comment?

[2019-08-08 17:47] #1466 closed

[2019-08-08 17:48] #274 closed

[2019-08-08 18:01] kwalrath commented on #250
So it looks like all we need to do is remove this:

![image](https://user-images.githubusercontent.com/2164483/62726295-cec49480-b9cb-11e9-84d8-a4b4ccc84983.png)

[2019-08-08 18:03] kwalrath opened #1825 "Update DartPad URLs once it's no longer experimental"
More info: #1799

[2019-08-08 21:13] kwalrath opened #1826 "Link to async-await codelab"
Also retire https://dart.dev/tutorials/language/futures, redirecting it (and perhaps other URLs) to the new codelab.

[2019-08-09 19:13] kwalrath opened #1828 "Link to isolate example"
https://github.com/flutter/samples/tree/master/isolate_example

[2019-08-10 02:00] yao8384 opened #1831 "the old page has been redirect to a dangerous site; you can remove the prompt"

[2019-08-10 02:02] yao8384 commented on #1831
[http://www.dartlang.cc](url)

[2019-08-12 15:33] #1819 closed

[2019-08-12 15:48] kwalrath commented on #1831
To my knowledge, we don't control or link to dartlang.cc. I'll see if there's something else we can do about this site.

[2019-08-13 16:32] kwalrath opened #1834 "Add await to the operator precedence table"
From a developer:

[2019-08-14 16:51] #1826 closed

[2019-08-15 17:57] kwalrath opened #1835 "Update js-interop page"
We're revamping the JS interop docs to make it very clear that people should use package:js instead of dart:js. Some of the work will be in the sdk repo (links from dart:js to package:js, improvements to the package:js README), but this page needs some work, too:

* Remove TS from the page name.
* Remove js_facade_gen.
* Instead of pointing to pub.dev js dependencies, point to individual packages,

[2019-08-16 19:38] rootext opened #1837 "'Asynchronous programming: futures, async, await' page issue"
Page URL: https://dart.dev/codelabs/async-await/
Page source: https://github.com/dart-lang/site-www/tree/master/src/codelabs/async-await/index.md

Description of issue:
All code examples are empty in Chrome

[2019-08-17 13:40] banalg commented on #1750
If I can just add my two cents on this topic. I'm currently developing some IoT stuff on a RaspberryPi with Dart. I usually test on my laptop where it isn't possible to use the physicals pins of the Raspberry Pi, so I developed a mocked library to simulate button press and on/off a led. But I currently need to manually switch the package import between the real and the mocked GPIO library.
I check

[2019-08-18 04:18] cronos88 opened #1838 "Dart site in Brave Browser doesn't open well"
S.O: Windows 10
Browser: Brave version 0.67.125

When I open dart site, doesn't show animation intro (Paint your UI to life) and in the Try Dart in your Borwser section, doesn't show console.

When I inspect the page, in Console appear the following error:

new_embed_dart.dart.js:449 Uncaught Error: Failed to read the 'localStorage' property from 'Window': Access is denied for this document.
    a

[2019-08-19 00:55] domesticmouse commented on #1838
There are two separate problems here. First, Brave is preventing the video from auto-playing, which we should detect and deal with. You can enable the Paint your UI to life by toggling autoplay to on in the url bar.

The errors you see in the console are actually the DartPad embed at the bottom of the page failing. That is a more interesting problem. Oddly enough, our [test page](https://dartpad.d

[2019-08-19 01:06] domesticmouse commented on #1837
It would be useful to see the contents of the console log in the browser. The code examples are being loaded into a DartPad embed, which is possibly failing out somehow.

/cc @johnpryan

[2019-08-19 08:06] jensjoha opened #1839 "Font for "Try dart" editor on dart.dev"
- go to dart.dev
- click the "Try dart" button at the top
- lock at the editor

On my machine (Linux) the font used is too small and not monospace --- basically making the thing unreadable and unusable.

[2019-08-19 08:06] jensjoha commented on #1839
![Screenshot](https://user-images.githubusercontent.com/20773519/63249095-07385e00-c269-11e9-9a03-6c65b1ec55e7.png)

[2019-08-19 08:47] rootext commented on #1837
@domesticmouse
[code]

[2019-08-19 16:32] johnpryan commented on #1837
[code]

This could be related to #1838

[2019-08-19 16:32] johnpryan commented on #1838
This could be related to #1837

[2019-08-19 16:49] galeyang opened #1840 "Check if DartPad works with Firefox on Ubuntu"
Page URL: https://dart.dev/codelabs/async-await/
Page source: https://github.com/dart-lang/site-www/tree/master/src/codelabs/async-await/index.md

User feedback from the Future codelab
"The Colab code was not existing. Idk if this was on purpose, but every example code was not there. Browser: Firefox on Ubuntu."

cc: @legalcodes

[2019-08-19 16:50] galeyang commented on #1840
Moved this one to dartpad repo. https://github.com/dart-lang/dart-pad/issues/1211
Closed this issue.

[2019-08-19 16:50] #1840 closed

[2019-08-19 17:02] natebosch commented on #1750
No, only the presence or absence of the `dart:` libraries. Imports based on arbitrary other information are not compatible with our approach for modular builds.

[2019-08-19 18:22] johnpryan commented on #1839
DartPad issue here: https://github.com/dart-lang/dart-pad/issues/1203

[2019-08-19 19:34] jakemac53 opened #1841 "'Asynchronous programming: futures, async, await' page issue"
Page URL: https://dart.dev/codelabs/async-await/
Page source: https://github.com/dart-lang/site-www/tree/master/src/codelabs/async-await/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

The dark mode tutorials are really hard to read. The curly braces look like semicolons or something an

[2019-08-19 20:52] munificent commented on #1806
(B) is what we've done and encouraged people to do in the past. Personally, I'm fine with moving towards (A) since it's simpler.

[2019-08-19 21:10] kwalrath commented on #68
This image is no longer in our docs, now that we use the new DartPad.

[2019-08-19 21:10] #68 closed

[2019-08-19 21:10] johnpryan commented on #1841
related to https://github.com/dart-lang/dart-pad/issues/1192

[2019-08-19 21:29] jakemac53 commented on #1841
For some reason my screenshot looks much worse than that one, fwiw

[2019-08-19 21:39] johnpryan commented on #1841
the font issue (dart-lang/dart-pad#1203) has been fixed here: https://github.com/dart-lang/dart-pad/pull/1215.

We've gone through a few revisions of the colors, here's the original design:

![Screen Shot 2019-08-19 at 2 11 58 PM](https://user-images.githubusercontent.com/1145719/63301248-eedb3a00-c28e-11e9-93c9-552e12008b28.png)

here's the current version:
![Screen Shot 2019-08-19 at 2 37 33 PM]

[2019-08-19 21:41] jakemac53 commented on #1841
I think it was just the font - these both look fine to me.

[2019-08-19 21:56] johnpryan commented on #1837
Can you check if you need to [unblock third-party cookies](https://github.com/apollographql/apollo-client-devtools/issues/106#issuecomment-368752638)?

[2019-08-20 07:55] rootext commented on #1837
@johnpryan, Unblocking third-party cookies resolves the issue.

[2019-08-20 16:54] johnpryan commented on #1837
@rootext thanks. It looks like Chrome disallows access to localStorage if 3rd party cookies are blocked. (DartPad uses the localStorage API to store snippets.) It might be possible to remove the dependency on localStorage for the embedded version though.

[2019-08-20 16:55] kwalrath commented on #1837
Should we have a troubleshooting page for users of DartPad that links to solutions like this one?

[2019-08-20 16:58] johnpryan commented on #1837
I think so. The two issues that are happening are 1. using an ad-blocker and 2. disabling 3rd party cookies

[2019-08-20 17:12] kwalrath opened #1843 "Create DartPad troubleshooting page"
Every page that has embedded DartPads should be able to point to a page that has the latest known issues that might affect embedded DartPads. Ad blockers & disabling 3rd party cookies are the current culprits, according to the discussion on #1837.

Besides having info relevant to _embedded_ DartPads, this page would have info about issues that might affect _full-window_ DartPad, as well (browser c

[2019-08-20 17:12] kwalrath commented on #1843
/cc @RedBrogdon @johnpryan @domesticmouse

[2019-08-20 23:01] legalcodes opened #1845 "Security alert: Nokogiri"
GitHub is issuing a security alert for nokogiri, and recommends upgrading to version 1.10.4

See https://github.com/dart-lang/site-www/network/alert/Gemfile.lock/nokogiri/open

And our gemfile: https://github.com/dart-lang/site-www/blob/master/Gemfile#L9

[2019-08-20 23:56] kwalrath commented on #1845
I clicked the button to auto-fix the security issue. Let's see what happens...

[2019-08-21 09:17] AlexanderArendar opened #1847 "Typo in documentation of Queue.from constructor"
[Here](https://api.dartlang.org/stable/2.4.1/dart-collection/Queue/Queue.from.html) in the following code snippet
[code]
I think `superSet` was meant to be `superQueue`.

[2019-08-23 19:19] Purukitto commented on #250
Hey @kwalrath , I would like to contribute to this.
Can you give a brief rundown on what's been done and what stills needs to be fixed?

[2019-08-23 19:29] Purukitto commented on #1256
Is this issue fixed to satisfaction or can I contribute to it?

[2019-08-23 19:30] Purukitto commented on #1256
@kwalrath Is this issue fixed to satisfaction or can I contribute to it?

[2019-08-23 22:54] kwalrath commented on #1256
Sorry, @sil3nthill, @gryclmn, and @Purukitto for not getting back to you sooner!

We're ready to accept changes on these pages now. What I'd love is for each of you to claim one page (here in a comment) and commit a PR for that page fixing whatever issues I noted above for the page. I'm open to any other fixes you deem necessary, as well.

Once we have a single-page PR from you, then we can figure

[2019-08-23 22:57] kwalrath commented on #250
Thanks for offering to help!

I think all we need to do is what's in my preceding comment (i.e., remove the paragraph and example about generated js files).

[2019-08-24 07:58] Purukitto commented on #250
Can you tell me the path of the file in the repo to edit [said page]( https://www.dartlang.org/guides/libraries/private-files)
I have read the related/linked issues above and will push the relevant PR soon.

[2019-08-24 09:22] Purukitto commented on #1189
This looks like it's fixed.
Looking at the current page, I don't see any reason to believe that the block of code is the whole `.gitignore`

[2019-08-24 09:25] Purukitto commented on #975
Fixed?
![Screenshot_11](https://user-images.githubusercontent.com/49859368/63635334-27a85400-c67f-11e9-8f26-1468809fe3df.png)

[2019-08-24 09:34] Purukitto commented on #250
@kwalrath I removed the `Avoid committing generated JavaScript files:` section in the above referenced PR.

Also are the sections in the below sections still relevant after dart-lang/stagehand#549 and #1850
![Screenshot_12](https://user-images.githubusercontent.com/49859368/63635449-5f63cb80-c680-11e9-8756-13a85dce4b01.png)

[2019-08-24 09:56] Purukitto commented on #1256
@kwalrath

Sure does
<br><br>

They are indeed obvious but adding these must not break anyone and I feel they should be listed as they are cmds anyways
<br><br>

I'm not sure but it does look fine to me, maybe it was fixed?
<br><br>

If you agree on adding help and version pages I can get started on them, otherwise I'm open to take up any other page

[2019-08-24 18:03] jessy45 opened #1851 "'Dart documentation' page issue"
Page URL: https://dart.dev/guides/index
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2019-08-26 16:41] kwalrath opened #1852 "Add doc for using web workers"
Details: dart-lang/site-www#4749

[2019-08-26 16:51] Purukitto commented on #1256
Since I have no idea what that means exactly I don't think I should start on something that big as of now.
I'll check the other points and see what stuff I can come up with for them since no one else seemed to be claiming those

[2019-08-26 16:55] Purukitto commented on #250
@kwalrath can you confirm this ? Otherwise I think it's safe to assume that this issue can be closed

[2019-08-26 17:40] Purukitto commented on #250
@kwalrath

Will do just that

Some possible files can be something `keys.txt` or other library/dependency files that you might want the end user to download (node modules etc)

[2019-08-26 17:50] Purukitto commented on #250
Alright then I'll .js section and restructure the .gitignore paragraph

[2019-08-27 18:41] johnpryan opened #1854 "Add Safari detection for DartPad on front page"
context: https://github.com/flutter/website/pull/2938#discussion_r318236115

[2019-08-28 02:23] AethLi opened #1855 "translate error"
http://dart.goodev.org/guides/language/language-tour#if-android-else

that should be 'if and else'

[2019-08-28 15:42] crud-boy opened #1856 "why not using “pub install package==version”"
Whenever I want to add an angular package
 I dont know the version number, I just want to install the latest version
I have to knife pub.dev website view and then copy knife pubspec.yaml to install,
but next door js management tool npm is very convenient

[2019-08-28 15:43] #1856 closed

[2019-08-28 15:45] crud-boy commented on #1856
pub cache add package, this instruction is not obvious, but also to see the document to know
emmmmmmmmmmmmmmmmmm

[2019-08-28 18:08] Purukitto commented on #250
@kwalrath Should be fine to close this issue?-

[2019-08-28 23:32] #1845 closed

[2019-08-29 17:48] ninachen opened #1859 "Clarify how `const` should be applied to const constructors"
Problem:
I find that people tend to be confused* about whether you need to explicitly specify `const` when calling a const constructor.

Expected result:
Perhaps add a specific example for calling just a const constructor on https://dart.dev/guides/language/effective-dart/usage#dont-use-const-redundantly

*Here's an explanation I gave recently:

[code]

[0]https://dart.dev/guides/language/effectiv

[2019-08-30 22:54] galeyang opened #1860 "Allow users to adjust the height of embed Dartpad"
Moved https://github.com/dart-lang/dart-pad/issues/1209 to this repo so that we can continue tracking it.

cc: @kwalrath @RedBrogdon @legalcodes

[2019-09-03 07:13] rowild opened #1863 "'Customizing static analysis' page issue"
Page URL: https://dart.dev/guides/language/analysis-options
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/analysis-options.md

Description of issue:
At the end of this subsection

[https://dart.dev/guides/language/analysis-options#disabling-individual-rules](https://dart.dev/guides/language/analysis-options#disabling-individual-rules)

there is an `<aside>` wa

[2019-09-03 20:46] kwalrath commented on #1863
Oops! Thanks for reporting this! I'll look into why it's broken.

[2019-09-03 20:58] kwalrath commented on #1863
Found the issue! There was a curly quote in the HTML.

Before:
`<aside class="alert alert-warning” markdown="1">`

After:
`<aside class="alert alert-warning" markdown="1">`

[2019-09-03 21:06] rowild commented on #1863
Wow - that needs eagle eyes! Congrats and thank you very much!!
Am I supposed to close this issue or do I have to wait until this is merged?

[2019-09-03 21:24] kwalrath commented on #1863
Thanks for asking! This issue will be automatically closed when the pr is merged.

[2019-09-03 21:25] rowild commented on #1863
Good to know - thank you!

[2019-09-03 22:02] #1863 closed

[2019-09-04 18:24] legalcodes opened #1868 "Use ```terminal across site for terminal command examples"
See, e.g.
https://raw.githubusercontent.com/dart-lang/site-www/master/src/tools/dart2aot.md
which renders as:
https://dart.dev/tools/dart2aot

[2019-09-04 21:21] kwalrath commented on #1868
Examples of things to replace:
* `{% prettyprint sh %}`
* <code>```sh</code>
* Some occurrences of `prettyprint` or <code>```</code> with `none`

[2019-09-04 23:15] kwalrath commented on #1868
We should probably be consistent about whether we use `console` or `terminal`. I like `terminal` better. More info:

https://github.com/dart-lang/site-shared/blob/master/doc/infrastructure.md#jekyll

[2019-09-04 23:38] galeyang commented on #1810
Details from previous offline discussion

cc: @RedBrogdon I'm not sure which repo should we track this.

[2019-09-04 23:58] legalcodes commented on #1810
@galeyang Sorry, I should have clarified in the initial description:

(1) should probably be tracked in dart-lang/dart-pad @RedBrogdon please correct if I'm mistaken about this
(2) can be tracked in dart-lang/site-www since we currently have a mechanism for doing this in that repo

[2019-09-05 00:21] galeyang opened #1869 "Track the visibility of an element (e.g. survey, embedded DartPad)"
UXR would love to have a way to track number of visitors saw or were exposed to an element, such as survey, embedded DartPad placed at the end of the page.

It'd be great to get this count from GA.

This issue is also cross posted on https://github.com/flutter/website/issues/2960.

cc: @RedBrogdon

[2019-09-05 14:45] kwalrath commented on #1810
If we could get the DartPads' code from arbitrary repo files, not just gists, then (2) could possibly take care of (1) for this site.

[2019-09-05 18:03] kwalrath commented on #1724
Just noticed this again today. It's really annoying to get the flutter.dev results!

[2019-09-05 22:53] kwalrath commented on #1869
Bumping the priority so we won't forget to discuss this.

[2019-09-05 23:25] kwalrath commented on #1869
Maybe we need to use an element visibility trigger? https://support.google.com/tagmanager/answer/7679410?hl=en&ref_topic=7679108

[2019-09-05 23:36] galeyang commented on #1869
I was looking at that, Google Tag Manager, last Friday (before we published the Flutter codelab survey). I reached Flutter UXR, Flutter/Dart marketing team and another product's UXR team but I couldn't find people have experience with setting GTM up and can provide immediate guidance. Do you know who may know this?

[2019-09-05 23:47] kwalrath opened #1871 "Update async-await codelab"
We've gotten some feedback about things we might want to change/improve. Here are some of the simpler ones:

- [x] Update links in the final section:
  * "Read about Dart’s type system." -> "Get Dart"
  * Add links to more info about futures/asynchrony:
    * [Asynchronous programming: streams tutorial](https://dart.dev/tutorials/language/streams) (how to work with sequence of asynchronous events)

[2019-09-05 23:57] kwalrath commented on #1869
No, I don't.

The other solution that occurred to me was attaching an analytics event to the code that detects when a TOC entry is active. E.g. if you go to https://dart.dev/guides/language/language-tour in a wide browser window and scroll down a bit, then inspect the blue link on the right, you'll see something like this:

![image](https://user-images.githubusercontent.com/2164483/64391538-e6f4f7

[2019-09-06 23:50] kwalrath commented on #1658
They all seem to be there.

[2019-09-06 23:50] #1658 closed

[2019-09-07 00:05] #1824 closed

[2019-09-07 04:55] #1670 closed

[2019-09-07 07:25] PinelliaTime opened #1877 "Dart Chinese official website has illegal link"
URL: http://dart.goodev.org/
The link to guide the access to the old Chinese website was changed.

[2019-09-09 19:13] #1871 closed

[2019-09-09 19:30] kwalrath commented on #1855
dart.goodev.org is old. We link to a new site, http://www.dartdoc.cn.

[2019-09-09 19:30] #1855 closed

[2019-09-09 19:30] kwalrath commented on #1304
dart.goodev.org is old. We link to a new site, http://www.dartdoc.cn.

[2019-09-09 19:30] #1304 closed

[2019-09-09 19:30] kwalrath commented on #1241
dart.goodev.org is old. We link to a new site, http://www.dartdoc.cn.

[2019-09-09 19:30] #1241 closed

[2019-09-09 19:30] kwalrath commented on #1877
dart.goodev.org is old. We link to a new site, http://www.dartdoc.cn.

[2019-09-09 19:30] #1877 closed

[2019-09-09 20:44] bshlomo opened #1878 "'webdev' page issue"
Page URL: https://dart.dev/tools/webdev.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/webdev.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

![image](https://user-images.githubusercontent.com/42788959/64565108-b42f6380-d35b-11e9-85c8-e30021f584e2.png)

[2019-09-09 21:29] kwalrath commented on #1878
I believe that the output is right, although perhaps a bit confusing. Adding the test arg lets you change the test port, but the app port remains 8080.

[2019-09-09 21:33] kwalrath opened #1879 "Add 2.5 announcement banner"
Undo #1867 and update text as in #1690.

[2019-09-09 22:03] bshlomo commented on #1878
Hi

But the default is not 8081
look at the first red circle

‫בתאריך יום ג׳, 10 בספט׳ 2019 ב-0:29 מאת ‪Kathy Walrath‬‏ <‪
notifications@github.com‬‏>:‬

--
Shlomo belleli
972-50-7200510
shlomo.belleli@gmail.com

[2019-09-09 22:20] kwalrath commented on #1878
If you specify `test` with no port number, the port is 8081:

[code]

[2019-09-10 10:41] ariG23498 opened #1880 "'Asynchronous programming: futures, async, await' page issue"
Page URL: https://dart.dev/codelabs/async-await/
Page source: https://github.com/dart-lang/site-www/tree/master/src/codelabs/async-await/index.md
Description of issue: The code in the snippet section is not visible for some reason.

[2019-09-10 10:48] ariG23498 commented on #1880
![Screenshot from 2019-09-10 16 16 27](https://user-images.githubusercontent.com/36856589/64607657-8ba07b80-d3e6-11e9-8e21-f3b167a21b95.png)

[2019-09-10 15:55] jonasfj opened #1884 "email on security page doesn't work"
See https://github.com/dart-lang/pub-dev/issues/2756

Vulnerabilities in google products should be reported through:
https://www.google.com/about/appsecurity/

[2019-09-10 16:15] kwalrath commented on #1879
Fixed by #1883

[2019-09-10 16:15] #1879 closed

[2019-09-10 18:21] #1854 closed

[2019-09-10 18:25] johnpryan commented on #1837
Thanks for your help @rootext, we now have a troubleshooting page https://dart.dev/tools/dartpad/troubleshoot

[2019-09-10 18:25] #1837 closed

[2019-09-10 18:40] galeyang commented on #1869
The team helped me to get the Flutter GTM 🎉 .  I will start with trying it on the Flutter site. If it works well, then we can implement it on Dart site.

[2019-09-10 18:42] kwalrath commented on #1838
Closing because this doesn't affect people who are willing to use another browser. If anyone is invested in making this work, we'd love your help.

[2019-09-10 18:42] #1838 closed

[2019-09-10 18:56] galeyang commented on #1880
cc @RedBrogdon @johnpryan

[2019-09-10 19:10] #1828 closed

[2019-09-10 20:59] RedBrogdon commented on #1880
@ariG23498 Do you mind giving us a little more information?

I'm particularly interested in:

* What browser/OS versions are you using?
* If you open you browser's developer tools (the Chrome inspector, for example), do you see any requests that failed to complete?

[2019-09-10 22:32] kwalrath commented on #1884
@mit-mit fixed this in #1885.

[2019-09-10 22:32] #1884 closed

[2019-09-10 23:18] domesticmouse commented on #1838
The issue is brave refuses to auto play videos.

[2019-09-10 23:36] kwalrath commented on #1838
A possible solution would be to display a button or image if the browser doesn't autoplay videos.

[2019-09-11 02:18] ariG23498 commented on #1880
I am sorry that I haven't provided any information already,
The browser I am using is Brave,Version 0.68.132 Chromium: 76.0.3809.132 (Official Build) (64-bit)
[code]
This is what the console says. I am sorry I am not very comfortable with the developer tools and cannot provide you with any specifics as of now, hope this information helps.
@RedBrogdon

[2019-09-11 11:46] domesticmouse commented on #1838
I'm guessing the video tag has fallback content that we could display an image of the final state of the animation

[2019-09-11 15:46] chalin opened #1887 "Move `src/_package` tools out of `src` into `tool`"
Files and folders under `src` should contribute directly to content created by Jekyll and rendered on the site. Associated tooling should be under `tool`. cc @kwalrath

[2019-09-11 19:40] kwalrath opened #1889 "Add fallback image for front page's video tag"
From #1838:

[2019-09-11 19:41] kwalrath commented on #1889
I think we display an image instead of animation on mobile devices... If this image is high enough quality, we could re-use it inside the video tag.

[2019-09-11 19:53] kwalrath commented on #1880
@ariG23498 are you willing to use a non-Brave browser, such as Chrome or Safari or Edge or Firefox?

There are known issues with Brave because it doesn't support localStorage (https://github.com/dart-lang/dart-pad/issues/1237).

[2019-09-11 19:55] kwalrath commented on #1880
We should probably have some standard troubleshooting text for all DartPad-dependent pages to include or link to.

[2019-09-11 20:06] kwalrath opened #1891 "Link to DartPad troubleshooting page"
Every page that depends on DartPad should link to /tools/dartpad/troubleshoot. I'm thinking of searching for pages with embedded DartPads and including some text just before the topmost embedded DartPad.

Related: #1880, #1838

[2019-09-11 20:10] johnpryan commented on #1880
On that page, we should also consider mentioning why Brave isn't supported. This has come up a few times since that page was published.

[2019-09-11 20:11] kwalrath commented on #1880
I do mention Brave in that page, but I don't say explicitly that it's due to its out-of-the-box lack of support for localStorage.

[2019-09-11 20:12] johnpryan commented on #1880
SGTM

[2019-09-11 20:21] kwalrath commented on #1674
As of 7/31, it's being published at https://dart.dev/tools/diagnostic-messages.

[2019-09-11 20:21] #1674 closed

[2019-09-11 20:22] kwalrath opened #1892 "Update diagnostic messages page"
https://github.com/dart-lang/sdk/blob/master/pkg/analyzer/tool/diagnostics/diagnostics.md has just been updated. We should update https://dart.dev/tools/diagnostic-messages accordingly.

[2019-09-11 20:30] chalin commented on #1674
Is there an issue open to track its addition?

[2019-09-11 20:38] kwalrath commented on #1674
Nope, not yet. I'm not sure we'll ever want it in the sidenav. It's mostly there for the tools to point to.

[2019-09-11 21:40] chalin commented on #1868
We should also probably agree on a prompt symbol: I'd vote for `$`, as it is probably what we've been using most often.

[2019-09-11 21:50] chalin opened #1894 "Setup analyzer-results files based on Dart channel rather than Dart version"
Just before Dart 2 was released, the site build was adapted so that it could run under Dart 1 and Dart 2. In particular, this implied supporting the analysis and testing of the site examples under both versions of Dart. Part of the challenge was to support:

- Analyzer options that differed across versions
- Analyzer output that differed across versions

This issue concerns the adaptation of the b

[2019-09-11 22:06] kwalrath commented on #1894
I'd love to have this working!

[2019-09-13 22:51] kwalrath opened #1899 "Help people debug and improve performance of command-line apps"
We have dart.dev/tools/dart-devtools, but we need to add some resources (videos, docs, ...) to help people debug their apps and improve their apps' performance.

See #2055 for more discussion.

[2019-09-13 22:54] kwalrath commented on #1899
Let me explain the weird effort labels...It'll take minutes to do the basic getting started instructions, but doing more (providing a walkthrough, documenting how to use DevTools, etc.) is likely to take hours or days.

[2019-09-14 16:56] devoncarew commented on #1899
The pages which will work for CLI apps are the debugger, memory usage, the profiler page, and logging.

[2019-09-15 20:11] hugekoala commented on #1889
Would love to work on that. Is it ok?

[2019-09-16 16:58] kwalrath opened #1906 "Update wiki & pubspec (2.5)"
For details, see #1898.

[2019-09-16 16:58] kwalrath commented on #1889
Yes, consider this issue yours, @hugekoala!

[2019-09-16 20:21] yegor-pelykh opened #1907 "Please help to unpublish a package"
Hi! I want to unpublish/remove the package I published. It is very new and there is no other packages or projects dependent on it. It is just empty.
Please, may you help me to unpublish it?
Thank you!

[2019-09-16 20:58] kwalrath commented on #1907
Hi, I believe you need to file an issue at https://github.com/dart-lang/pub-dev/issues/new. An example to follow might be https://github.com/dart-lang/pub-dev/issues/1193.

[2019-09-16 20:58] #1907 closed

[2019-09-17 13:37] chalin commented on #1803
Kathy, I've moved into the opening comment the work items that used to appear in separate comments. That will make it a bit easier to track.

[2019-09-17 14:19] chalin opened #1913 "Customizing static analysis > Disabling linter rules: using 2 YAML formats"
Page URL: https://dart.dev/guides/language/analysis-options
Page source: https://github.com/dart-lang/site-www/tree/master/src/_guides/language/analysis-options.md

[Disabling individual rules](https://dart.dev/guides/language/analysis-options#disabling-individual-rules) has the following aside:

This is true if all of the linter rules are in the same options file, but that doesn't need to be the

[2019-09-17 15:08] chalin commented on #1887
For the record, the `src/_package` folder only contains `dartpad_picker`.

[2019-09-17 15:10] chalin opened #1915 "Don't commit compiled dartpad_picker JS"
Followup to #1887 and #1914.

We current commit the _compiled_ JS version of dartpad_picker. We should instead generate it when the site is built and let Jekyll place it under the assets folder.

[2019-09-17 15:12] #1887 closed

[2019-09-17 18:37] AppleEducate commented on #1569
here is an example project that i use this with for desktop, mobile and web: https://github.com/AppleEducate/moor_shared

[2019-09-17 19:56] rydmike commented on #1569
Great example @AppleEducate, it solved my issue in https://github.com/flutter/flutter/issues/40488

[2019-09-17 20:54] AppleEducate commented on #1569
Thanks 😎💪🏻

[2019-09-17 22:16] kwalrath commented on #1915
Although I understand the desire to avoid committing generated files, I'm a little leery of introducing yet another way the build can break.

/cc @filiph @johnpryan

[2019-09-18 08:43] lcrocker opened #1916 "Dart FFI docs don't work for Linux"
Dart VM version: 2.6.0-dev.0.0 (Tue Sep 10 12:55:30 2019 +0200) on "linux_x64"
Ubuntu 16.04

The documentation at

https://dart.dev/guides/libraries/c-interop

is, as it claims to be, MacOS-specific. Building hello_world on Linux involves changing the Makefile. Here's one that works:

[code]

Just thought it ought to be added.

[2019-09-18 18:41] kwalrath commented on #1916
Thanks, @lcrocker!

[2019-09-18 19:45] chalin commented on #1744
It is possible to use triple-tick markdown and get highlighting to work -- that what we did in `site-webdev`. AFAIR, most of the necessary infrastructure has already been moved into `site-shared`.

[2019-09-18 19:46] chalin commented on #1744
(Maybe the title of this issue should be updated to something like: _Support code highlighting in markdown code blocks_.)

[2019-09-18 19:47] chalin opened #1918 "Improve highlight gem code-prettifier styles"
Improve `highlight` gem code-prettifier styles, in particular when it comes to the styling of YAML. For some context, see https://github.com/dart-lang/site-www/pull/1912#discussion_r325832218.

Btw, the `highlight` gem code-prettifier styles get used when code is fenced with triple-backticks.

Also see #1744.

[2019-09-19 01:22] leafpetersen commented on #1569
This is a shipped and specified feature, and there are no current plans to deprecate it.

[2019-09-19 10:47] chalin opened #1919 "Support loading DartPad sources from site vs Gist"
The [dartpad_picker](https://github.com/dart-lang/site-www/tree/master/tool/dartpad_picker) illustrates how Dartpad sources can be loaded from somewhere other than a Gist. The tool is currently used to build a dropdown list that is shown on the homepage, but the functionality to load Dartpad sources could be factored out and reused elsewhere on the site.

Such an approach would address this issue

[2019-09-19 11:17] chalin opened #1920 "Move `diagrams` out of `src`"
The [diagrams](https://github.com/dart-lang/site-www/tree/master/src/diagrams) folder contains Graffle sources and other resources. None of these files are directly used by Jekyll to generate the site.

(Jekyll has an `exclude` feature, but IMHO, that's for files and directories that we'd have a hard time keeping out of `src`.)

[2019-09-19 12:20] iChicago opened #1922 "'Asynchronous programming: streams' page issue"
Page URL: https://dart.dev/tutorials/language/streams
Page source: https://github.com/dart-lang/site-www/tree/master/src/_tutorials/language/streams.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

In the section *"Methods that modify a stream"* you added the method
```dart Stream<R> retype<R>

[2019-09-19 17:08] #1918 closed

[2019-09-19 17:21] kwalrath commented on #1922
Fixed by #1923. Thank you, @iChicago!

[2019-09-19 17:21] #1922 closed

[2019-09-19 17:43] chalin opened #1926 "Add the pi_monte_carlo.dart tooltip'ed example to the cheatsheet?"
The `examples/misc/lib/pi_monte_carlo.dart` example used to be shown on the homepage. It had tooltip'ed code fragments that explained key Dart features. The example was dropped from the homepage (during the site redesign), but maybe this example would still be useful as part of, say, the cheatsheet?

If not, then this issue is a reminder to remove all traces of that example (source file, tooltip d

[2019-09-19 17:47] chalin opened #1927 "Examples: move cat_no_hash.dart to misc/bin"
Consider moving `misc/lib/tutorial/cat_no_hash.dart` to `misc/bin` (and update the path in the streams.md file) so that it is with the newly added `dcat` apps.

[2019-09-19 21:51] kwalrath opened #1928 "Strings in terminal output are hard to read"
To reproduce, go to https://dart.dev/tutorials/server/get-started#2-install-dart and click the **Linux** tab. The `curl` commands are blue (#00677A) on black (#212121), which is very hard to see (2.46:1 contrast ratio, according to https://webaim.org/resources/contrastchecker/). Here's a screenshot:

![image](https://user-images.githubusercontent.com/2164483/65283609-508bff80-daec-11e9-9715-776383

[2019-09-19 22:43] chalin commented on #1928
Since I was dabbling in colors earlier today, I quickly looked into this. How about the following color (#00CCEE)?

 ![image](https://user-images.githubusercontent.com/4140793/65286291-0a936380-db0d-11e9-89eb-b08f55d1a051.png)

If you like it, I can add the change to #1921, or address it separately. Let me know what you prefer.

[2019-09-19 22:47] chalin commented on #1928
The #00CCEE color makes the contrast checker happy:

[2019-09-19 22:50] kwalrath commented on #1928
Looks good!

[2019-09-20 12:49] chalin commented on #1928
I'll also be tweaking the name class contrast:

[2019-09-20 12:55] #1928 closed

[2019-09-20 13:34] chalin opened #1929 "Change default <code> color from RED to something else"
In general, the color of `<code>` elements under the new site design is the default `pretty-print` red. Red should be used parsimoniously.

How about matching the flutter.dev color (##008f83, which happens to be the same color used on angulardart.dev and, I believe, was the same color that we used to have as part of the previous site design), or one that is just a bit darker in order to have [suff

[2019-09-20 14:48] chalin opened #1931 "Delete examples_archive"
Examples contained in `examples_archive` are from the Dart 1 era. They've been kept around for long enough (in case we needed some old sources from there). It's probably a good time to delete this directory of mostly obsolete example code.

(Also remove the directory name from the top-level `analysis_options.yaml` file.)

[2019-09-20 15:02] chalin opened #1932 "GitHub Actions: run tests under Windows too"
Given that most clients are under Windows, maybe we should consider (also) running site tests under Windows.

More info: [Windows support for Dart on Travis CI](https://medium.com/dartlang/announcing-windows-support-for-dart-on-travis-ci-8160f53662f)

[2019-09-20 16:10] chalin opened #1934 "Inline or move src/_includes/dart-html-tour.md"
The [src/_includes/dart-html-tour.md](https://github.com/dart-lang/site-www/blob/master/src/_includes/dart-html-tour.md) file is included from only one other file, namely `src/_guides/libraries/library-tour.md`. It would be better to either inline the include, or at least move it to the same folder as the including file, namely `src/_guides/libraries`.

Note that [src/_includes/dart-html-tour.md](

[2019-09-20 16:30] chalin opened #1935 "Code of conduct: update email @dartlang.org address to @dart.dev"
Page URL: https://dart.dev/community/code-of-conduct
Page source: https://github.com/dart-lang/site-www/tree/master/src/code-of-conduct.md

---

Use `conduct@dart.dev` in the following `mailto` link?

    ... please [email us](mailto:conduct@dartlang.org).

cc @kwalrath

[2019-09-20 16:39] kwalrath commented on #1935
I believe the address is still `@dartlang.org`.

/cc @timsneath @messi01

[2019-09-20 17:05] chalin opened #1937 "Use https for news redirect target"
Hmm, is there any reason not to use `https` for the news URL redirect target?

https://github.com/dart-lang/site-www/blob/faa461473976f11fadc868ab554a853267f11c54/firebase.json#L65?

cc @kwalrath @johnpryan @filiph

[2019-09-20 17:41] johnpryan commented on #1937
👍 we should use HTTPS wherever we can.

[2019-09-20 17:54] #1937 closed

[2019-09-20 18:00] chalin commented on #1247
Since this issue has been opened, linkcheck has been updated, and no reports command failures on connection failures. That makes external checking much more robust.

Note that most of the machinery is in place for this, and link checking (which is currently only for internal links), is allowed to fail w/o causing Travis to be alarmed. So, if we don't mind doing external link check for every PR and

[2019-09-20 19:22] chalin commented on #1929
@kwalrath WDYT?

[2019-09-20 19:46] #1028 closed

[2019-09-20 20:18] kwalrath commented on #1929
@mit-mit looking at the designs, the code font was supposed to be teal. I don't remember when/how it turned red, do you?

[2019-09-20 20:52] chalin commented on #1929
Under `flutter/website` the code color is defined on this line: https://github.com/flutter/website/blob/master/src/_assets/css/_bootstrap_adjust.scss#L102

[code]

It seems that that definition wasn't migrated over to site-www's `_bootstrap_adjust.scss` when the site redesign happened.

As a consequence, the code color defaults to what is defined at https://github.com/dart-lang/site-www/blob/maste

[2019-09-20 20:57] chalin opened #1942 "SCSS variable $site-color-body is used but not defined"
The `bootstrap_config` file imported from site-shared at this line:
https://github.com/dart-lang/site-www/blob/c2f2476258c5ebde96d0116369a50a64aba4b1ff/src/_assets/css/main.scss#L6

Contains uses of `$site-color-body`, such as here:
https://github.com/dart-lang/site-shared/blob/8f783bfa10019afb023d4917f9cd8e614227bd3d/src/_assets/css/_bootstrap_config.scss#L4-L7

[code]

But `$site-color-body` isn

[2019-09-20 20:58] chalin commented on #1929
Related issue: #1942

[2019-09-21 01:21] kwalrath commented on #827
Closing due to lack of description

[2019-09-21 01:21] #827 closed

[2019-09-21 01:21] #1878 closed

[2019-09-21 01:22] #1469 closed

[2019-09-21 01:22] #1841 closed

[2019-09-21 01:23] #1880 closed

[2019-09-21 01:28] kwalrath commented on #1932
@johnpryan, @domesticmouse, @filiph what do you think? Has it been an issue that the Dart source code in dart.dev isn't tested on Windows?

I'm loathe to complicate our build unless we've actually experienced a problem.

[2019-09-23 11:17] code-enginner opened #1943 "weak sample usages"
Unfortunately
sample usages are very weak and makes learning difficult and slow

[2019-09-23 16:40] kwalrath commented on #1943
Could you please give us the URLs of the pages where you noticed this, and suggestions for specific ways to improve?

[2019-09-23 18:26] code-enginner commented on #1943
Thanks for your follow up!

Good documentation should be like this:
https://docs.python.org/3/tutorial/controlflow.html#unpacking-argument-lists

But for Dart, for example, look at the address:
https://api.dart.dev/stable/2.5.0/dart-async/dart-async-library.html#classes

On the right side (classes) of each link that clicks, only information about the overall functionality
(class, method, etc.) are

[2019-09-23 21:38] kwalrath commented on #1943
Thanks very much for the details, @code-enginner. I'm going to move this bug over to the SDK repo, since the code for the API docs lives there.

One thing we could do is to link from the API docs to examples/docs that are elsewhere. Or follow the Flutter team's lead and include DartPads in API docs.

[2019-09-24 06:16] andhieka opened #1946 "@override has no effect on DartPad"
The tutorial says

However, omitting `@override` in DartPad, the code compiles fine and no warning / error is displayed. For example, I expect the following code to cause compilation error. However, it runs fine in DartPad.

[code]

[2019-09-24 11:54] chalin commented on #1946
Hi. I believe that you are referring to [page 2 of the _Intro to Dart for Java Developers_ codelab](https://codelabs.flutter-io.cn/codelabs/from-java-to-dart/index.html#1).

The analyzer will not report any problems if you choose to write your code without `@override` annotations. Your `Bicycle` class has no `@override` annotations, that is why the analyser isn't reporting any issues.

Here is an

[2019-09-24 13:30] #1946 closed

[2019-09-24 15:48] #1927 closed

[2019-09-24 18:19] natebosch opened #1947 "'Creating streams in Dart' showing "Pending" comment"
Page URL: https://dart.dev/articles/libraries/creating-streams
Page source: https://github.com/dart-lang/site-www/tree/master/src/_articles/libraries/creating-streams.md

https://github.com/dart-lang/site-www/blame/00af2b563253cfa6553707dfe251bde098c7c282/src/_articles/libraries/creating-streams.md#L261

I suspect it was intended to be wrapped in `{% comment %}`?

[2019-09-25 00:22] kwalrath commented on #1947
Oh goodness. I'm tempted to fix that right now, but I'll leave it to a new contributor. :)

[2019-09-25 15:48] RedBrogdon commented on #1919
I've been working on this for a bit, and should have a PR to allow for loading from a repo ready for review in the next few days.

[2019-09-25 16:08] kwalrath opened #1948 "dart2aot -> dart2native"
The `dart2aot` command will be replaced by [`dart2native`](https://github.com/dart-lang/sdk/tree/master/pkg/dart2native).

We'll need to do the following:

* Write a new page for dart2native.
* Remove https://dart.dev/tools/dart2aot and redirect it to dart2native.
* Be sure to cover the aot & exe formats, and when you'd want each one.

/cc @mit-mit @cskau-g

[2019-09-25 16:41] kwalrath commented on #1892
It's been updated again. https://dart-review.googlesource.com/c/sdk/+/118820

[2019-09-25 17:17] chalin commented on #1892
Maybe having a script/task to fetch and update the page would be welcome?

[2019-09-25 17:19] dhanushuUzumaki commented on #1947
Hello, Can I take this up?

[2019-09-25 17:27] kwalrath commented on #1947
Absolute, it's yours!

[2019-09-25 17:28] kwalrath commented on #1892
Yes, it would be. :)

[2019-09-25 19:44] chalin commented on #1892
If you are updating this issue to include automating the task, then it will take more than e0-minutes. (Maybe we should create another issue for the automation of the page update?)

[2019-09-25 20:20] kwalrath opened #1949 "automate updates of the diagnostic messages page"
See #1892 for details

[2019-09-25 23:05] kwalrath commented on #1949
Here's the process I'm doing by hand:

1. Create a new branch of my site-www repo.
2. Go to https://github.com/dart-lang/sdk/blob/master/pkg/analyzer/tool/diagnostics/diagnostics.md, click the **Raw** button, and **Save as** _pathToRepo_/src/tools/diagnostic-messages.md.
3. View the diffs, and make sure they look reasonable.
4. Inform @bwilkerson of any issues. E.g., `title: Diagnostics` should be

[2019-09-25 23:12] kwalrath commented on #1949
Thinking about how to automate this, I'm not positive it should be automated, but perhaps it'd be good to have a build check (failable) about whether this file should be updated.

[2019-09-25 23:31] kwalrath commented on #1916
I think the code should go into dart-lang/samples, rather than into this page. (I'd be fine with pointing from this page to the linux-specific file in dart-lang/samples, but I don't want to get too into the weeds in this page... yet, at least.)

/cc @mjohnsullivan, @dcharkes, @mit-mit, @johnpryan

[2019-09-26 07:44] mit-mit commented on #1948
Wrt. aot vs exe, I would say something like this:

The standard output format is executable. This produces a stand-alone executable that contains Dart source code ahead-of-time (AOT) compiled to native machine code, and a small Dart run-time system that handles type checking and garbage collection.

The option `-o aot` can be used to compile the source code to a native AOT machine code snapshot th

[2019-09-26 17:16] #1947 closed

[2019-09-26 18:15] chalin commented on #1949
Yes, that is what I had in mind; similar to what we do with the code-excerpt refresh. I.e., actual code refresh is under site-maintainer control (and done manually using a single command), but the build scripts ensure that everything is up-to-date.

[2019-09-26 18:16] kwalrath commented on #1906
I've updated the wiki page (https://github.com/dart-lang/site-www/wiki/Updating-to-new-SDK-releases). #1953 completes the fix.

[2019-09-26 18:47] dhanushuUzumaki commented on #1934
Hello, Can I take this up?

[2019-09-26 20:00] kwalrath commented on #1869
A bit late now that our survey is no longer up, but GTM is up on the Dart site (#1950), and @galeyang has admin privileges.

[2019-09-26 20:00] #1869 closed

[2019-09-26 20:08] kwalrath commented on #1906
It turns out this bug was already fixed. Never mind!

[2019-09-26 20:08] #1906 closed

[2019-09-26 21:24] kwalrath commented on #1934
Absolutely! Thank you!

[2019-09-26 21:38] kwalrath opened #1955 "Clarify C/C++/... interop"
The Dart & Flutter FFI pages should be clearer about what languages you can interface to. E.g., currently the [Dart page](https://dart.dev/guides/libraries/c-interop) says "C interop", but the [Flutter page](https://flutter.dev/docs/development/platform-integration/c-interop) says "C/C++ interop".

According to @sjindel-google (from [this comment](https://github.com/flutter/website/issues/2941#iss

[2019-09-26 23:03] kwalrath commented on #1891
Starting this now...

/cc @johnpryan @RedBrogdon

[2019-09-27 07:31] mit-mit commented on #1955
I suggest we just use 'C interop' everywhere

[2019-09-27 17:42] dhanushuUzumaki commented on #1934
@kwalrath Should I inline the content or move the file to libraries?

[2019-09-27 17:49] chalin commented on #1934
I'd suggest that we start by relocating the file (you'll need to use an `include_relative` tag once that is done) until we've fix the code-excerpt-as-comments issue in that file.

[2019-09-27 20:56] kwalrath commented on #815
I'm not seeing this any more, so I'm going to close this. (Please comment if you still see this, and I'll re-open the bug.)

[2019-09-27 20:56] #815 closed

[2019-09-27 21:07] kwalrath opened #1958 "Go through web tutorials, fix or report any issues"
We need someone(s) to go through each of the 4 tutorials at https://dart.dev/tutorials/web, reporting/fixing any issues. We especially want to know what's confusing to new Dart devs.

* [x] Fetch Data Dynamically (reviewer: @dhanushuUzumaki)
* [x] Connect Dart & HTML (reviewer: @wang-ories)
* [x] Add elements to the DOM (reviewer: @grieff)
* [x] Remove DOM elements (reviewer: @shreyansh-goyal)

He

[2019-09-27 21:14] kwalrath opened #1959 "Link/include mini, mini_with_style?"
The [source code](https://github.com/dart-lang/site-www/blob/24852a92f5eb1845d252ec1aa8018121a54b1b46/src/_tutorials/web/low-level-html/connect-dart-html.md) for https://dart.dev/tutorials/web/low-level-html/connect-dart-html captures sample_links for mini & mini_with_style, but the new site doesn't use sample_links.

This page should instead link to that source code directly — or maybe we should

[2019-09-27 22:48] kwalrath commented on #1651
I don't think this is urgent. (I'm not even sure it's still necessary.)

[2019-09-28 00:35] kwalrath opened #1960 "Add info about bundling a library using dart compile"
/cc @mit-mit

Context: #1954

[2019-09-28 04:18] dhanushuUzumaki commented on #1934
Hello, Raised a PR - https://github.com/dart-lang/site-www/pull/1961

[2019-09-28 04:20] dhanushuUzumaki commented on #1958
Hello, I would like to take this up.

[2019-09-28 09:14] Arun8295 commented on #1800
Hi, I would like to take up this issue.

[2019-09-28 11:41] Arun8295 commented on #1800
Modified the URL from dartlang.org to dart.dev and created new gist files

https://gist.github.com/Arun8295/acb2e9d00b3b13e0c672157a4546a9d2
https://gist.github.com/Arun8295/e0ed44f41317f0e40c8bc823506af3ed

Tested the changes in dartpad by replacing my id in the URL with above gist ids.
https://dartpad.dev/experimental/embed-new-html.html?id=<<id>>

I need help to update this new gist URL instead

[2019-09-30 17:23] kwalrath commented on #1958
That'd be great! How about you do one (just comment here to say which one you choose) and report back, and we'll decide how to proceed from there. Sound good?

[2019-09-30 17:43] #1934 closed

[2019-09-30 17:58] #1891 closed

[2019-09-30 18:11] kwalrath commented on #1800
Thank you, @Arun8295! (I didn't even know you could test embedded DartPads that way... good sleuthing!)

I've forked your gists here:

https://gist.github.com/kwalrath/70bb4db7bea44663206e7a9c111f31d2
https://gist.github.com/kwalrath/256036008d252d07c9c9d72bd3b03867

All you need to do now is go to the source code for the page that embeds the DartPads (you can get to it by clicking the page icon a

[2019-09-30 23:50] kwalrath commented on #1389
It looks like we'll remove this page in favor of the dart:ffi API, which is described in https://dart.dev/guides/libraries/c-interop.

@ianwarnold thanks very much for the report and the source code. You caught us when the old way was being deprecated, and the new way wasn't working yet. :/

[2019-09-30 23:50] #1389 closed

[2019-10-01 04:32] dhanushuUzumaki commented on #1958
@kwalrath That's great. I will start with "Fetch Data Dynamically".

[2019-10-01 10:32] wang-ories commented on #1958
Hi @kwalrath,
I would like to contribute and I can start with  this topic
**Connect Dart & HTML**

[2019-10-01 13:03] escamoteur commented on #1750
@mit-mit Another application would be see here https://github.com/flutter/flutter/issues/30845 if someone want's to have different pages for iOS/Android but don't want to carry the code of the not used platform with it.

[2019-10-01 13:09] smolck commented on #1807
@kwalrath I’d like to help with fixing this. The only difference between the app in https://dart.dev/tutorials/web/low-level-html/remove-elements and the missing one is the addition of a delete button, right? If that’s the case, I presume it could be fixed by copying the code in the `remove-elements` tutorial into a gist and then removing the code for the delete button?

[2019-10-01 14:43] shreyansh-goyal commented on #1958
HI @kwalrath
I would like to take up with "Remove DOM Elements"

[2019-10-01 16:10] grieff commented on #1958
Hi @kwalrath
I'll like to contribute ane check the remaining one, «Add elements to the DOM»

[2019-10-01 17:20] kwalrath commented on #1958
Thank you, all!

[2019-10-01 17:33] kwalrath commented on #1807
I think this might be it:

https://github.com/dart-lang/dart-tutorials-samples/tree/master/todo

[2019-10-01 17:49] johnpryan opened #1965 "DartPad appears on mobile Safari"
I'm not sure if we want to show DartPad on mobile devices. It still works, but isn't quite as usable.

![Image-1](https://user-images.githubusercontent.com/1145719/65986668-2bc35080-e439-11e9-8693-712292a993e5.jpg)

[2019-10-01 18:22] johnpryan commented on #1932
I don't think we need to run all of the tests on windows. The samples used in our command line apps articles could benefit, but yes this would increase the complexity of the build.

[2019-10-01 18:36] smolck commented on #1807
Great, thanks!

I'm not sure how I need to go about creating the gist (I've never done this before) for the add-elements page. This is the part I'm not sure about, in the [`dart-tutorials-samples`](https://github.com/dart-lang/dart-tutorials-samples) README:

Do I need a Gist token in order to generate the gist to add to the add-elements page?

[2019-10-01 21:36] kwalrath commented on #1807
We can ignore `gist generate`... I don't know if it works any more, and I think we can just do it by hand. Take a look here to see how a contributor is fixing a similar case:

https://github.com/dart-lang/site-www/issues/1800#issuecomment-536180384

I think you should just fork an existing gist and make the changes. The embedded DartPad URL in remove-elements is https://dartpad.dev/embed-html.html

[2019-10-01 21:52] smolck commented on #1807
Yeah, it didn't work with my version of Dart (2.6-ish). The project is 4 years old, so that's understandable. As a side note, do you guys have any interest in a maintained fork of that project (or maybe something similar)? I'd be glad to help with the automation of this process (if possible).

   #1800 (comment)

Thank you! That clears up the process a bit more.

Will do! Should be able to get tha

[2019-10-01 22:53] kwalrath commented on #1787
Somebody (@legalcodes?) ported this.

[2019-10-01 22:53] #1787 closed

[2019-10-01 22:54] kwalrath commented on #1807
Ooh, tempting... gist-generate might not be relevant once DartPad supports real repos (dart-lang/dart-pad#1096) — and I'm not sure we'll keep dart-tutorials-samples around — but there are always process automation tasks that we could/should have. Some of them are filed as [infrastructure issues](https://github.com/dart-lang/site-www/issues?q=is%3Aissue+is%3Aopen+label%3Ainfrastructure).

Do any of

[2019-10-01 23:25] wang-ories opened #1966 "More information in web tutorials (Connect dart with html)"
When editing the HTML source code in this tutorial, https://dart.dev/tutorials/web/low-level-html/connect-dart-html#create-html, the checkbox **Show web content** is not checked by default. The **HTML**, at the upper left of DartPad is not visible.
**This can be an issue for new dev in Dartpad environment only.**
A little precision in this section can be more helpful.

[2019-10-02 00:21] smolck commented on #1807
Yes, here are some of the ones I'd be interested in helping with (whichever you prefer):
* #1336. Seems fairly straightforward, although I'm not sure I know exactly what needs to be done there.
* #1101. Not sure how to go about solving this one, but I think I'd like to try.
* #1744. Same as above.
* #1461. Don't know Ruby, but I could look into what's causing the issue.
* #1949.
* #1820.

[2019-10-02 01:39] chalin commented on #1820
That how things used to be setup. I'm unsure what change might have caused that. Will have to investigate.

The build you refer to in the opening comment doesn't show any failed jobs.

[2019-10-02 14:41] smolck commented on #1807
@kwalrath Here’s the new gist: https://gist.github.com/smolck/46cdc15290ede948ea9e310d773cd95f

[2019-10-02 20:43] kwalrath commented on #1807
Looks good! I've forked it to https://gist.github.com/kwalrath/aab6ad8c04d161458d32161ea6e87a97.

[2019-10-02 20:53] MaxRupees commented on #1958
@kwalrath Do you require anyone else to run through any of the tutorials a second time to receive and further feedback? If so I'd like to contribute.

[2019-10-02 20:59] kwalrath commented on #1807
I'd love it if you could take on any of the following:

I think all that needs to be done is to delete the directory and any references to it. You could probably do this without getting the site build working, and just let Travis do your testing.

I'd love it if you could investigate this. I don't know whether it's easily fixable, but just knowing whether it is or not would be helpful.

As long as

[2019-10-02 21:10] smolck commented on #1807
Sounds good! I think I’ll tackle them in the order you listed them (after I get a PR for to fix this issue). Thanks again for all of your help!

[2019-10-02 21:12] kwalrath commented on #1958
@MaxRupees we have other tutorials, and it's always to get eyes on them. Would you be interested in running through any of the other tutorials at https://dart.dev/tutorials?

[2019-10-02 22:05] dhanushuUzumaki commented on #1958
Hello @kwalrath
I went through the tutorial and found two issues with loading data.

https://dart.dev/tutorials/web/fetch-data#using-getString-function
https://dart.dev/tutorials/web/fetch-data#making-a-get-request

In both cases, the request fails and the data is not loaded. In network monitoring, I see both of those requests as canceled. Should I open an issue?

Regards,
Dhanushu A P

[2019-10-02 22:07] kwalrath commented on #1958
Yes, please. Open an issue with all the details you can easily supply. Thanks!

[2019-10-03 17:36] shreyansh-goyal commented on #1958
"Remove DOM Elements" is working fine

[2019-10-03 18:29] kwalrath opened #1969 "homepage looks bad when window is very wide"
URL: https://dart.dev

@mit-mit noticed that when you have a large monitor and maximize the window, you end up with the homepage flowing to the full width, and the "proof points" looking very enlarged.

The designer says that we should limit the max-height to 644px, and allow for empty space on each side rather than scaling the images to the width of the container. Here's a mockup:

![image](https

[2019-10-03 18:34] johnpryan commented on #1969
I think so - I'll take a look.

[2019-10-03 20:10] dhanushuUzumaki opened #1970 "Tutorial Fetch Data Dynamically - Unable to load data in sandbox. Request is cancelled."
I went through the tutorial and found two issues with loading data.

https://dart.dev/tutorials/web/fetch-data#using-getString-function
https://dart.dev/tutorials/web/fetch-data#making-a-get-request

In both cases, the request fails and the data is not loaded. In network monitoring, I see both of those requests as canceled.

![image](https://user-images.githubusercontent.com/14927280/66160496-e39a

[2019-10-03 20:11] dhanushuUzumaki commented on #1958
Created a new issue #1970

Regards,
Dhanushu A P

[2019-10-03 20:16] dhanushuUzumaki commented on #1966
Hello @kwalrath Can I take this up? Will it be good to have **show web content** enabled by default? https://github.com/dart-lang/dart-pad/blob/0b4156655fc07d18b0ee4f45bfe2e7005ba80e92/web/index.html#L133

Regards,
Dhanushu A P

[2019-10-03 21:06] kwalrath commented on #1970
It looks like we just need to update the gists to change www.dartlang.org to dart.dev. Here's a similar change:

https://github.com/dart-lang/site-www/issues/1800#issuecomment-536180384

[2019-10-03 21:38] wang-ories commented on #1970
Hello @kwalrath
Can I fixed this one?

[2019-10-03 21:48] kwalrath commented on #1970
Yes, please, @wang-ories!

[2019-10-03 21:50] dhanushuUzumaki commented on #1970
@kwalrath Updated the gist in my fork https://gist.github.com/dhanushuUzumaki/7f53d30c278259db277373944057e0f8

[2019-10-03 21:52] kwalrath commented on #1970
Your changes look good, and I've forked them here:

https://gist.github.com/kwalrath/f8aa7310e96d359c5f68343c9ccba8ed

Now you just need to create a PR that embeds f8aa7310e96d359c5f68343c9ccba8ed instead of the current gist.

[2019-10-03 21:55] kwalrath commented on #1970
(Of course, there are two samples that need to be updated.)

[2019-10-03 21:55] dhanushuUzumaki commented on #1955
Hello @kwalrath can I take this one? Should I update C/C++ interop to C interop in flutter docs?
https://github.com/flutter/website/blob/1fbbdc481550b9d8bc3b5ef29ca695575a839f4b/src/_data/sidenav.yml#L128

[2019-10-03 22:05] dhanushuUzumaki commented on #1970
PR created - https://github.com/dart-lang/site-www/pull/1971

Regards,
Dhanushu

[2019-10-03 22:06] kwalrath commented on #1970
Oops, @wang-ories, I didn't remember that @dhanushuUzumaki had already started on this.

Could you please pick another bug?

[2019-10-03 22:18] dhanushuUzumaki commented on #1970
Sorry, @wang-ories I didn't saw the earlier comment.

[2019-10-03 22:20] wang-ories commented on #1970
@kwalrath It is Ok, I will pick another bug .

[2019-10-03 22:34] #1807 closed

[2019-10-03 22:59] kwalrath opened #1972 "more DartPad troubleshooting..."
From #1967:

* Add an include for the DartPad troubleshooting page high up in https://dart.dev/tutorials/web/low-level-html/add-elements (probably deleting the include that's lower in that page).
* Add info to the DartPad troubleshooting page about what happens if you load too many DartPads and run into GitHub rate-limiting. (Rare unless you're repeatedly reloading a page full of DartPads.)

[2019-10-03 23:03] kwalrath commented on #1955
@dhanushuUzumaki I'm in the midst of figuring this one out, but you updating C/C++ interop to C interop in the Flutter docs SGTM (sounds good to me) if it's OK by @sfshaza2.

But first, let's wait until my PR (incoming) for this page is approved. That'll give you a model to follow.

[2019-10-03 23:06] dhanushuUzumaki commented on #1955
@kwalrath Sure.

[2019-10-03 23:13] dhanushuUzumaki commented on #1931
Hello, Can I take this up?

[2019-10-03 23:20] #1970 closed

[2019-10-03 23:24] kwalrath commented on #1800
#1971 completed the fix for this bug by incorporating these gists into the page.

[2019-10-03 23:24] #1800 closed

[2019-10-04 00:06] kwalrath commented on #1931
Yes please, @dhanushuUzumaki!

[2019-10-04 01:06] ctsstc commented on #1889
Should this issue be closed out, looks like the PR has been merged in.

[2019-10-04 01:40] dhanushuUzumaki commented on #1931
@kwalrath PR Created https://github.com/dart-lang/site-www/pull/1975

[2019-10-04 02:33] smolck commented on #1108
Maybe this could be fixed by adding some regex to [`src/_assets/js/vendor/code-prettify/lang-dart.js`](https://github.com/dart-lang/site-www/blob/master/src/_assets/js/vendor/code-prettify/lang-dart.js)?

For example, this regex[1][2] matches things like `$foo` or `${<Dart code>}`:
[code]
Could we add similar regex somewhere in `lang-dart.js` to detect string interpolation and highlight it like no

[2019-10-04 10:36] wang-ories commented on #1966
Someone already fixing this? I think we can just notify the user to verify that **Show web content** is checked. For those who are familiar with dartpad it is not an issue.

[2019-10-04 15:06] chalin commented on #1931
Thanks! Closed by #1975

[2019-10-04 15:06] #1931 closed

[2019-10-04 17:02] kwalrath commented on #1966
Sorry for the delay. Since @dhanushuUzumaki asked to handle this, I'll give him first crack.

I think we need to add a new step in the "Create a new Dart app" that explicitly tells the reader to make sure that **Show web content** is selected.

If there's a way to select it automatically, all the better, but I think it's good to make sure that they know that that checkbox needs to be selected.

[2019-10-04 17:14] kwalrath commented on #1108
I believe this would require a PR to https://github.com/google/code-prettify, but I could test the fix locally first.

@chalin how does this solution sound to you?

[2019-10-04 17:16] kwalrath commented on #1889
Yes, thank you @ctsstc!

[2019-10-04 17:16] #1889 closed

[2019-10-04 17:18] kwalrath opened #1976 "Go through streams tutorial, report/fix issues"
https://dart.dev/tutorials/language/streams

See #1958 for a similar pass through tutorials.

[2019-10-04 17:20] kwalrath opened #1977 "Go through package tutorial, report/fix issues"
https://dart.dev/tutorials/libraries/shared-pkgs

See #1958 for a similar pass through tutorials.

[2019-10-04 17:21] kwalrath opened #1978 "Go through CL/server tutorials, report/fix issues"
There are 3 tutorials under https://dart.dev/tutorials/server. We'd like a volunteer for each one, to go through and report/fix issues (similar to #1958).

* [x] [Get started](https://dart.dev/tutorials/server/get-started) (reviewer @foxbit19 found no issues)
* [x] [Write command-line apps](https://dart.dev/tutorials/server/cmdline) (reviewer @wang-ories found and fixed 2 issues)
* [x] [Write HTTP

[2019-10-04 17:39] chalin commented on #1108
@smolck - the Dart Code reference is a good find!

@kwalrath - I agree that any updates should be submitted as a PR over https://github.com/google/code-prettify.

I see that https://github.com/google/code-prettify/pull/592 hasn't been merged yet. Could we ping someone to ensure that progress is made?

Oh, we've _already_ made local changes to vendor files -- e.g., #1624! Not what I prefer (since l

[2019-10-04 18:08] wang-ories commented on #1977
Hello @kwalrath ,
I would like to pass through this tutorial and report issues.

[2019-10-04 18:12] kwalrath commented on #1977
It's yours. Thank you!

[2019-10-04 18:15] wang-ories commented on #1977
OK

[2019-10-04 18:22] kwalrath commented on #1958
@wang-ories and @grieff, could you please update this issue with the results of your assigned web tutorial reviews? Thanks!

[2019-10-04 18:38] wang-ories commented on #1958
I worked on  Connect Dart & HTML tutorial and  I opened issue here : #1966
Thanks,

[2019-10-04 19:37] #1189 closed

[2019-10-04 19:38] wang-ories commented on #1977
@kwalrath  I found  just  one typo : a reference to pub.dev site at this line
**You can follow these same steps to install any package hosted at the [Pub site](https://pub.dev;.**
The close parenthesis is missing and the link is not working.

[2019-10-04 19:41] kwalrath commented on #1977
Thank you! Would you like to file an issue or just fix it?

[2019-10-04 19:45] wang-ories commented on #1977
Just fix it.

[2019-10-04 19:55] kwalrath commented on #1977
Cool, I'll look for a PR from you.

[2019-10-04 20:01] wang-ories commented on #1977
Ok, great!

[2019-10-04 20:35] #1977 closed

[2019-10-04 21:35] grieff commented on #1958
I've checked the "Add elements to the DOM" tutorial, and everything is working fine. Also, I doesn't seem to have anything that'll be confusing to new Dart users.

[2019-10-04 22:19] kwalrath commented on #1958
Thanks, everyone! I'm closing this issue.

[2019-10-04 22:19] #1958 closed

[2019-10-05 00:13] dhanushuUzumaki commented on #1966
@kwalrath So I have to Add an explicit message to let the users know they have to enable show web content (https://github.com/dart-lang/site-www/blob/master/src/_tutorials/web/low-level-html/connect-dart-html.md#create-a-new-dart-app-create-dart-app) and also enable it by default. Please let me know if I am misinterpreting this.

Regards,
Dhanushu A P

[2019-10-05 02:30] pandaxtc commented on #72
I can confirm that using `wget -qO-` in place of `curl` works on Ubuntu 16.04. Should I open a pull request to edit https://github.com/dart-lang/site-www/blob/master/src/tools/sdk/_linux.md?

[2019-10-05 23:42] wang-ories commented on #1978
Hello @kwalrath  I can work on this  tutorial.

[2019-10-07 04:35] InfiniteVerma commented on #1976
Hi.
I would like to work on this issue.

[2019-10-07 17:44] kwalrath commented on #72
Yes please, @pandaxtc!

[2019-10-07 17:48] kwalrath commented on #1978
Thanks, @wang-ories! Which one would you like to work on first?

[2019-10-07 18:16] kwalrath commented on #1966
That sounds right to me, @dhanushuUzumaki.

[2019-10-07 18:24] kwalrath commented on #1978
@wang-ories you get your pick... just tell us which one you're doing, so anyone else who's interested can sign up for another tutorial.

[2019-10-07 18:49] pandaxtc commented on #72
Sorry about the duplicate pull requests, I needed to update my commit with an actual email for the CLA.

[2019-10-07 19:37] wang-ories commented on #1978
@kwalrath  I take  this tutorial : **Write command-line apps**

[2019-10-07 20:02] #72 closed

[2019-10-07 20:02] kwalrath commented on #72
Thanks, @pandaxtc!

[2019-10-07 21:10] wang-ories commented on #1978
@kwalrath  I found two smalls problem in this tutorial:

1 - In this section https://dart.dev/tutorials/server/cmdline#overview-of-the-dcat-app-code : the result of this command   **$ dart dcat.dart -n quote.txt**  produces empty output, i.e the file quote.txt must be created first. In the tutorial the output is  three quotes from **quote.txt.**

2 - This link https://api.dart.dev/stable/dart-io/d

[2019-10-07 21:18] kwalrath commented on #1978
Ah right, back when this was written, there was an in-page link to all the files, including quote.txt. The source is at https://github.com/dart-lang/site-www/blob/master/examples/misc/test_data/quote.txt. Maybe we should just tell people to download it from that location.

Looks like it should be https://api.dart.dev/stable/dart-convert/dart-convert-library.html.

[2019-10-07 21:24] wang-ories commented on #1978
Ok

[2019-10-07 21:30] wang-ories commented on #1978
@kwalrath  for the link is simple, can  I just fix it?

[2019-10-07 21:37] kwalrath commented on #1978
Yep, go ahead.

[2019-10-08 20:15] wang-ories commented on #1978
@kwalrath , I can work on this first problem, if not assigned yet. I will add the link to download and tell people to download.

[2019-10-08 20:32] smolck commented on #1108
@kwalrath @chalin Is submitting a PR to `code-prettify` for this (assuming it works) the route we want to go?

[2019-10-08 20:37] kwalrath commented on #1108
I think we'd want PRs both here and at code-prettify.

[2019-10-08 20:39] #1966 closed

[2019-10-08 20:57] kwalrath commented on #1978
That would be great. Thank you!

[2019-10-08 23:23] #1969 closed

[2019-10-09 05:17] wang-ories commented on #1978
Ok, I made the changes in a new PR.

[2019-10-09 13:34] #1913 closed

[2019-10-09 19:58] chalin commented on #1821
This PR excludes dot files from being processed by the code_excerpter builder: https://github.com/chalin/code_excerpter/pull/15.

@johnpryan @legalcodes @kwalrath : would one of you like to review/approve that PR?

[2019-10-09 20:55] #1821 closed

[2019-10-09 20:55] kwalrath commented on #1820
Not exactly the same, but here's a build that probably should've failed (due to a bad link) but didn't:

https://travis-ci.org/dart-lang/site-www/builds/595659627

[2019-10-10 21:02] foxbit19 commented on #1978
Hi @kwalrath,
I can take **Get started** tutorial!

[2019-10-10 21:22] kwalrath commented on #1978
It's yours!

[2019-10-10 21:49] foxbit19 commented on #1978
I've checked all commands and links into **Get started** tutorial. Everything seems to work as expected!

[2019-10-11 15:01] creativecreatorormaybenot opened #1994 ""Effective Dart: Style" page issue regarding do-use-curly-braces-for-all-flow-control-structures"
Link: https://dart.dev/guides/language/effective-dart/style#do-use-curly-braces-for-all-flow-control-structures
Source: https://github.com/dart-lang/site-www/blob/master/src/_guides/language/effective-dart/style.md

The "DO use curly braces for all flow control statements." section (see link) states that the **dangling else** problem should be avoided, however, it also states that curly braces sho

[2019-10-11 18:55] kwalrath commented on #1994
@munificent what do you say?

[2019-10-12 06:11] hamidrezabstn commented on #1978
hi can i pick third one ?

[2019-10-13 07:20] hamidrezabstn commented on #1978
:) :?

[2019-10-14 09:58] duanxianze opened #1996 "中文翻译错别字"
使用静态类型(例如前面示例中的 num ) 可以更清晰的表明你的意图，并且可以让静态分析工具来分析你的代码， 但这并不是牵制性的。（在调试代码的时候你可能注意到 没有指定类型的变量的类型为 dynamic。）

牵制 应该为 强制

[2019-10-14 13:31] mnordine opened #1997 "Update /web/deployment"
https://dart.dev/web/deployment#use-dart2js-flags-to-produce-better-javascript

Mentions `fast-startup` flag. For more info, it links to https://dart.dev/tools/dart2js, which does not mention this flag.

And then from the CHANGELOG: https://github.com/dart-lang/sdk/blob/master/CHANGELOG.md#dart2js-2

[2019-10-14 22:45] kwalrath commented on #1978
@hamidrezabstn the third one is yours. Thanks!

[2019-10-15 08:24] hamidrezabstn commented on #1978
@kwalrath
should i send PR or report issues here ?

[2019-10-15 10:44] hamidrezabstn commented on #1978
**A quick glance at the code**

code example is different from github source code
_Launch the web server_ -> in this section user need more info about webdev and installing it then he/she could run it.

**Making a POST request from a standalone client**

client code sample is differ from github version

**Using the http_server package**

mini code sample is differ from github version
and beside we

[2019-10-15 15:38] kwalrath commented on #1978
Thanks very much, @hamidrezabstn. Could you please file one issue for the code sample differences and an issue or PR for the webdev issue? Thanks!

[2019-10-15 15:49] kwalrath commented on #1997
Thanks for the report, @mnordine. If you'd like to fix this, we'd welcome your PR.

[2019-10-15 18:34] kwalrath commented on #1996
Can you please tell me the URL where you found this issue?

[2019-10-15 18:49] chalin commented on #1325
So is the TOC being updated manually now?

[2019-10-15 18:56] chalin commented on #1325
What seems to be happening is that the TOC generator is generating section title text containing Jekyll anchor syntax (e.g., `foo boo {#foo-bee-doo}`) and it fails to _use_ the Jekyll anchor syntax to create a proper anchor (continuing with the same example it would generate a TOC entry like `<a href='/guides/x/y/z#foo-boo'>foo boo {#foo-bee-doo}</a>` instead of `<a href='/...#foo-bee-doo'>foo boo

[2019-10-15 20:00] mnordine commented on #1997
I'm not sure I'm in a position to? I can't find any information on what `fast-startup` does exactly, and if it is indeed removed? It mentions "in a future version". If it is indeed removed, I could remove mention of it, of course.

[2019-10-15 20:22] kwalrath commented on #1997
It looks like the whole page (https://dart.dev/web/deployment) could use an update. Some of that information looks pretty old.

@jacob314 or @vsmenon, who'd be a good person to take a fresh look at this page?

[2019-10-15 22:55] vsmenon commented on #1997
@sigmundch - I think `--fast-startup` is obsolete (now the default).

Generally, this page is somewhat redundant with https://dart.dev/tools/webdev too.

[2019-10-16 01:23] duanxianze commented on #1996
The URL is [dart](http://dart.goodev.org/guides/language/language-tour)。It is a Chinese documentation of Dart.I can't confirm if this is an official document。but there is a link to here.

[2019-10-16 05:29] hamidrezabstn commented on #1978
@kwalrath
Your welcome!
i will make changes and send PR

[2019-10-16 06:52] dhanushuUzumaki commented on #1972
@kwalrath Can I take this up?

[2019-10-16 06:53] dhanushuUzumaki commented on #1929
Can I take this up?

[2019-10-16 16:07] kwalrath commented on #1996
Thanks, @duanxianze. I don't control that site, but I'm gathering issues under the "localization" label.

[2019-10-16 16:07] kwalrath commented on #1929
No, I think the sites will each have their own colors.

[2019-10-16 16:13] kwalrath commented on #1997
I think /web/deployment should more about deployment tips and processes, and /tools/webdev (theoretically, at least) should be more of an overview of Dart web tools, with links to tool reference pages and to pages that cover tool usage.

[2019-10-16 16:14] kwalrath commented on #1325
Yes, that sounds like what's happening.

[2019-10-16 16:24] dhanushuUzumaki commented on #1972
@kwalrath for the second part, what should be the content?

[2019-10-16 16:29] dhanushuUzumaki commented on #1929
@kwalrath So, the new color for code would be #006555?

[2019-10-16 20:08] kwalrath commented on #1972
For the second part, I think we need to add a bullet to the https://dart.dev/tools/dartpad/troubleshoot#embedded-dartpads-dont-appear section, saying something like this:

* If you repeatedly reload a page that contains embedded DartPads, then you might run into [GitHub rate limiting.](https://developer.github.com/v3/#rate-limiting) Within 60 minutes, you should be able to reload the page and see

[2019-10-16 20:13] sigmundch commented on #1997
correct, `fast-startup` is now the only emitter we have

[2019-10-16 20:17] chalin commented on #1919
As I mentioned out-of-band, the [GitHub rate limit](https://developer.github.com/v3/#rate-limiting) (as was mentioned in [this comment](https://github.com/dart-lang/site-www/issues/1972#issuecomment-542870466)), might be another reason to explore the solution proposed here.

[2019-10-17 19:35] Dstri26 opened #2002 "Optional Parameters vs Optional Named Parameters"
Case : Optional Parameters
int func1(int a, int b, [int c])
{
        ......;
}
Calling Function for this is :
func1(2,3,5);

Case : Optional Named Parameters
int func1(int a, {int b, int c})
{
       .......;
}
calling function has to be
func1(2, b : 3 , c : 5) ;
//This won't accept just func1(1,2,3)

Issue is why have two different Function types when we can just make them one.

Just Example :
v

[2019-10-18 09:06] #1894 closed

[2019-10-18 15:00] chalin opened #2007 "main.scss: bootstrap_config_shared import in wrong order"
- [ ] `main.scss` includes `bootstrap_config_shared` in the wrong order relative to the original (Flutter) site design.
- [ ] SCSS variable $site-color-body is used but not defined #1942
  - More cleanup is actually needed in `main.scss` and `_variables.scss`.

[2019-10-18 15:57] chalin opened #2011 "CI: site is deployed twice by two separate jobs in same build"
Changes introduced by #1719 cause the site to be deployed twice, now that all jobs are passing. For example, consider build [#3839](https://travis-ci.org/dart-lang/site-www/builds/599545208); the site gets deployed for these two jobs:
- [3839.1](https://travis-ci.org/dart-lang/site-www/jobs/599545209):

- [3839.6](https://travis-ci.org/dart-lang/site-www/jobs/599545214):

cc @johnpryan @legalcodes

[2019-10-18 16:11] sethladd opened #2016 "Searching for "strong mode dart" leads me to DDC page, but not to docs"
Mostly an FYI, but searching for "strong mode dart" leads me to https://github.com/dart-lang/sdk/blob/master/pkg/dev_compiler/STRONG_MODE.md#strong-mode on the DDC site. But that doesn't link over to https://www.dartlang.org/guides/language/sound-dart which I presume is the home page for strong mode?

Also, that page says "This includes a prototype of generic methods for better expressiveness and

[2019-10-18 16:37] chalin commented on #2016
@srawlins - shouldn't this issue be left on dart-lang/sdk since the page that requires updating is under the dart-lang/sdk repo?

Otherwise, I'm unsure what change is being requested over site-www. /cc @kwalrath @legalcodes

[2019-10-18 17:35] chalin commented on #1247
For the Flutter website it was suggested that we only check external links every X days, see https://github.com/flutter/website/issues/3079. I assume that we'll want something similar here too?

[2019-10-18 17:38] galeyang opened #2018 "Update async-await tutorial per UXR"
Page URL: https://dart.dev/codelabs/async-await/
Page source: https://github.com/dart-lang/site-www/tree/master/src/codelabs/async-await/index.md

We've gotten some feedback from the user survey. Here are some of the simpler ones:

- [ ] Explain explicitly that users won’t see the hidden provided code.
- [ ] Add notes on how to access the hidden code when they need it (e.g. keeping a local copy).

[2019-10-18 19:43] #2011 closed

[2019-10-18 19:55] chalin commented on #2011
I can confirm, with #2017 merged and built via [build 3844](https://travis-ci.org/dart-lang/site-www/builds/599807352), that only the stable build job triggers a deploy action.

[2019-10-18 20:07] chalin commented on #2011
Build [3845](https://travis-ci.org/dart-lang/site-www/builds/599814568) is the first cron job build. I confirm that the stable build job does not trigger a site deploy:

Related: #1247

[2019-10-18 20:10] chalin commented on #1247
Cron job scheduled to run daily:

First cron job run successfully (and none of the jobs trigger a site deploy, per #2011 -- also related is https://github.com/flutter/website/issues/3127):

cc @johnpryan @legalcodes

[2019-10-19 15:40] TunSawThant opened #2019 "'Asynchronous programming: futures, async, await' page issue"
Page URL: https://dart.dev/codelabs/async-await/
Page source: https://github.com/dart-lang/site-www/tree/master/src/codelabs/async-await/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2019-10-19 20:30] Ben0mmen opened #2020 "Threadforbullet proof"
Page URL: https://dart.dev/tools/pub/cmd/
Page source: https://github.com/dart-lang/site-www/tree/master/src/tools/pub/cmd/index.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:

[2019-10-20 07:11] hamidrezabstn commented on #1978
i made a PR at #2021

[2019-10-20 11:36] chalin commented on #2019
Hi. Thanks for opening an issue, but you haven't provided a description so I'm going to close it for now. You can still add a description after it's closed; if you do that, we'll reopen the issue.

[2019-10-20 11:36] #2019 closed

[2019-10-20 11:36] chalin commented on #2020
Hi. Thanks for opening an issue, but you haven't provided a description so I'm going to close it for now. You can still add a description after it's closed; if you do that, we'll reopen the issue.

[2019-10-20 11:36] #2020 closed

[2019-10-21 21:20] kwalrath opened #2022 "Create destination page for isolates"
It's time to give isolates a homepage.

I'm thinking of something similar to https://dart.dev/guides/json, at least to start with.

/cc @filiph

[2019-10-21 21:26] filiph commented on #2022
Insightful info from Lasse: https://groups.google.com/a/dartlang.org/d/msg/misc/PeZKhoZAj9o/9W_MriLiCgAJ

[2019-10-21 22:34] kwalrath commented on #1978
@hamidrezabstn thanks for fixing the sample links! Do you want to take a stab at fixing the webdev issue, or do you want to file an issue about it?

[2019-10-21 22:48] kwalrath commented on #2015
@a-siva we're removing https://dart.dev/server/c-interop-native-extensions in favor of https://dart.dev/guides/libraries/c-interop, right? (E.g. see dart-lang/site-www#1389) If so, this issue should be closed.

[2019-10-21 22:55] kwalrath commented on #2014
We've removed that article and redirected it to https://medium.com/dartlang/dart-asynchronous-programming-isolates-and-event-loops-bffc3e296a6a.

[2019-10-21 22:55] #2014 closed

[2019-10-21 22:57] kwalrath commented on #2012
Obsolete? (see https://github.com/dart-lang/site-www/issues/2015#issuecomment-544740455)

[2019-10-21 23:00] kwalrath commented on #2009
Thanks for the issue, @shihaohong. I hadn't seen this syntax before.

[2019-10-21 23:05] kwalrath commented on #2002
This sounds like a language design issue, not a documentation issue. There might be some discussion in one of our [communities](https://dart.dev/community#join-the-conversation).

If you're sure you want to propose a language change, https://github.com/dart-lang/language is the place to go.

[2019-10-21 23:05] #2002 closed

[2019-10-22 05:38] hamidrezabstn commented on #1978
@kwalrath i'm really sorry about that i totally forget about it ! i will make a PR for it!

[2019-10-22 06:46] DanTup commented on #2012
If those docs are going away in favour of new FFI ones, then I think so. I don't know if that's certain (I'm not at all familiar with this side of things and the linked comment looks like an open question). Feel free to close if/when you think that's the case 👍

[2019-10-22 07:27] hamidrezabstn commented on #1978
@kwalrath Done! #2025

[2019-10-22 17:18] kwalrath commented on #1978
@hamidrezabstn I just noticed that the names of the source files are down below the snippets. E.g. _hello_world_server.dart_ is displayed beneath the first code excerpt (https://dart.dev/tutorials/server/httpserver#a-quick-glance-at-the-code). It looks odd.

(I tried looking at it in the wayback machine, but it's having issues with that page. I think the filename used to be displayed on top of the

[2019-10-22 17:27] chalin commented on #1978
Maybe during site migration some styles were dropped or overridden. I can take a look first before we strip out filenames. WDYT @kwalrath?

[2019-10-22 17:29] kwalrath commented on #1978
Sure, that'd be great @chalin.

[2019-10-22 17:55] a-siva commented on #2015
Yes that is correct https://dart.dev/guides/libraries/c-interop will still be a beta version and we will have a transition period before  https://dart.dev/server/c-interop-native-extensions is completely deprecated.

[2019-10-22 19:54] kwalrath commented on #2015
Closing because we don't plan to update the native extensions page.

[2019-10-22 19:54] #2015 closed

[2019-10-22 19:54] kwalrath commented on #2012
Closing because these docs are going away.

[2019-10-22 19:54] #2012 closed

[2019-10-22 20:11] kwalrath commented on #1978
@chalin fixed the filename appearance in #2026, so I think we're good to close this issue. Thank you, everyone!!

[2019-10-22 20:11] #1978 closed

[2019-10-22 22:29] hamidrezabstn commented on #1978
@kwalrath i think because of file links under each section's title , for example: [Example file for this section: hello_world_server.dart.](https://dart.dev/tutorials/server/httpserver#run-hello-world) , and referencing that file in different positions in related section, like this

,that file name below snippets is not necessary .
but if it should be there i think below is better than above. its

[2019-10-22 23:09] kwalrath opened #2027 "Add page of best practices for using DartPad in tutorials"
Initially, this will be a PDF page produced from a Google Doc. I'll also need to add links to it from https://dart.dev/tools/dartpad, https://dart.dev/codelabs/async-await, and https://github.com/dart-lang/dart-pad/wiki.

/cc @galeyang

[2019-10-22 23:25] munificent commented on #1994
Good point. Dangling else is only one reason we prefer curlies on all multi-line control flow statements. Another key one is that it is less error-prone when a user adds another line of code to the body of a statement. [This](https://nakedsecurity.sophos.com/2014/02/24/anatomy-of-a-goto-fail-apples-ssl-bug-explained-plus-an-unofficial-patch/) is a famous example of problems that can cause.

[2019-10-23 12:00] jonasfj opened #2029 "Deprecating the `authors` field in `pubspec.yaml`"
Maybe wait until https://github.com/dart-lang/pub/issues/2234 is done, as the `authors` field is currently required when publishing a package.

In the future the `authors` field will not be displayed on `pub.dev`. The `pub publish` command will warn that it has been deprecated, but beyond that there is no harm in including the field.

However, once https://github.com/dart-lang/pub/issues/2234 has

[2019-10-23 17:09] kwalrath opened #2030 "Create streams codelab"
This would be a logical follow-on to the async-await/futures codelab.

[2019-10-24 00:05] tijoforyou commented on #1093
Hi, I was the one who originally suggested to adjust the color a little. As a color-blind person, it is a little hard to quickly figure out which-is-which.

That said, I agree that color should not be the only indication to convey this information.
But, the current "good"/"bad" annotations doesn't really help here either. Those have poor contract and is much easier to miss. For example, see the at

[2019-10-24 00:47] kwalrath commented on #1093
Thanks for the followup, @tijoforyou.

[2019-10-24 01:11] chalin commented on #1093
Yes, thanks for the detailed followup. Maybe we can left-justify the good/bad labels. WDYT?

[2019-10-24 01:33] kwalrath commented on #1093
The new design does have a lot of space around the code boxes now... It seems like we could put the labels at the upper left.

[2019-10-24 01:58] tijoforyou commented on #1093
Moving to upper left would be great IMO. That way I see this annotation first, and then can update my mental model to know what kind of example follows.

[2019-10-24 16:57] #1929 closed

[2019-10-24 17:38] kwalrath opened #2035 "static analysis text formatting issue"
Affected URLs:
* https://dart.dev/guides/language/analysis-options
* https://dart.dev/guides/language/language-tour
* https://dart.dev/guides/language/sound-dart
* https://dart.dev/guides/language/sound-problems
* https://dart.dev/guides/libraries/library-tour

These pages have a weird "static analysis: error/warning" at the top right. (Or more, for sound-dart and sound-problems.)

I don't know wh

[2019-10-24 23:16] kwalrath commented on #2035
This affects good/bad blocks like https://dart.dev/guides/language/effective-dart/style, as well.

[2019-10-24 23:23] #2035 closed

[2019-10-24 23:44] chalin commented on #1093
Hmm, I'm not sure. @kwalrath WDYT?

Maybe adding a bounding box around the label might help?

Or with a thinker border:

[2019-10-24 23:55] kwalrath commented on #1093
I do like having some kind of border/separation, but don't want it to be confused for a button.

I can live with #2 (smaller border), and if you stage it, then we can play with it and see if we can come up with something even better.

[2019-10-25 22:36] chalin commented on #1758
Yep, we also have a corresponding issue on the flutter/website side: https://github.com/flutter/website/issues/1175.

[2019-10-25 22:38] chalin opened #2040 "Upgrade ruby and gems"
Tentative experiments show that we can probably use the latest stable ruby version, currently 2.6.5.

Related:
- Gemfile references deprecated Sass library #1758
- https://github.com/flutter/website/issues/3166

[2019-10-25 23:11] chalin opened #2041 "2019Q4 work log"
_Reorder items using drag-and-drop_.

**Active**ly being worked on:
- [ ] Test all code excerpts #1803
  - [ ] Homepage Try-Dart example code issues #2126
  - [x] Asynchronous programming codelab: consider updates to example code #2128
    - In particular, note the agreement that: "pretty much **all example code** should be **free of analyzer issues** when configured with the **pedantic** options"

[2019-10-25 23:16] chalin commented on #1758
Here's the post-install message from sass:

  primary implementation: https://sass-lang.com/install

  sassc gem: https://github.com/sass/sassc-ruby#readme

  https://sass-lang.com/blog/posts/7828841

[2019-10-25 23:19] chalin opened #2042 "Upgrade node to v12"

[2019-10-26 00:15] chalin opened #2043 "Upgrade to Jekyll 4 and the latest jekyll-assets"
AFAICT, Jekyll 3.x development has stopped: the jekyll repo 3.x branches are all closed. Only `jekyll` 4 uses `jekyll-sass-converter` 2, which uses `sassc` instead of `sass` that has reached end-of-life.

For the Jekyll 4 change log, see https://github.com/jekyll/jekyll/releases/tag/v4.0.0.

Blocked by `jekyll-assets`, awaiting support for Jekyll 4: https://github.com/envygeeks/jekyll-assets/issue

[2019-10-26 00:48] chalin commented on #2043
(Given that #1758 was a p2, this is at least a p2 as well.)

[2019-10-26 01:00] #1758 closed

[2019-10-26 01:00] #2040 closed

[2019-10-26 11:54] chalin commented on #2043
A bit more motivation: AFAICT, Jekyll 3.x development has stopped: the jekyll repo 3.x branches are all closed. Only jekyll 4 uses jekyll-sass-converter 2, which uses sassc instead of the deprecated sass gem.

[2019-10-28 12:07] jonasfj commented on #2029
/CC @sigurdm, who is working to make this land in Dart 2.7.

[2019-10-29 13:20] mit-mit commented on #1733
I think this has been resolved?

[2019-10-29 13:21] mit-mit opened #2050 "Source code button is broken"
1. Go to https://dart.dev/tools/sdk
2. Click the 'Source code' button in the corner

=> 404 error

[2019-10-29 13:38] jonasfj commented on #1733
Yes, this is resolved.

[2019-10-29 13:38] #1733 closed

[2019-10-29 14:36] chalin commented on #2050
I suspect that this is because some pages were migrated from site-shared. I'll get to this as soon as I can this morning.

[2019-10-29 17:48] #2050 closed

[2019-10-30 08:20] chalin opened #2053 "Update firebase-tools 7.3.2 → 7.6.x"
Also update `superstatic` if necessary.

[2019-10-30 14:58] chalin commented on #2043
Another option would be to use jekyll-assets at head (for fork and pin the current HEAD), since it is working with Jekyll 4.

[2019-10-30 15:01] Y24 opened #2054 "'Get the Dart SDK' page issue"
Page URL: https://dart.dev/get-dart.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/get-dart.md

Found a typo? You can fix it yourself by going to the page source and clicking the pencil icon. Or finish creating this issue.

Description of issue:
Well, the firefox seems to be hard to deal with while the same page in Chrome is OK.
![Screenshot from 2019-10-30 22-44-47](https

[2019-10-30 23:17] kwalrath commented on #2054
Oh, interesting. This is an issue only for the Linux tab, and only (afaik) in Firefox. Thank you for reporting it, @Y24!

[2019-11-01 12:50] chalin commented on #2042
Closed by #2058

[2019-11-01 12:50] #2042 closed

[2019-11-01 12:51] chalin commented on #2053
Closed by #2058

(Also, there is no superstatic update available.)

[2019-11-01 12:51] #2053 closed

[2019-11-01 16:57] chalin opened #2060 "Books page: ToC links don't work, covers have external link icons, not mobile friendly"
Page URL: https://dart.dev/resources/books.html
Page source: https://github.com/dart-lang/site-www/tree/master/src/resources/books.md

- Second-level ToC entires don't work -- clicking them doesn't bring us to the book section in question. This is because link anchors aren't defined, e.g., from [this build](https://travis-ci.org/dart-lang/site-www/jobs/606023709):
[code]
- The page cover images ha

[2019-11-01 18:19] chalin opened #2061 "Link anchors are missing"
From [this build log](https://travis-ci.org/dart-lang/site-www/jobs/606023709) we can see that there are about 80 missing anchor links, e.g.:
[code]

This is because of a recent fix in jekyll-toc, which stopped generating anchor ids (since they often resulted in duplicate ids in a page).

These need to be fixed on a case-by-case basis.

[2019-11-01 18:42] #2060 closed

[2019-11-01 18:51] chalin commented on #2061
With #2062 merged, there remain 42 missing anchor links.
[code]

[2019-11-01 20:54] kwalrath commented on #2061
@chalin what's the best way to fix these?

[2019-11-04 22:07] kwalrath opened #2063 "Link to native_app"
The soon-to-be-released dart2native page might have this:

![image](https://user-images.githubusercontent.com/2164483/68162170-498a4680-ff0c-11e9-9ee3-062523fd3081.png)

We might also want to link to the example from other pages.

/cc @johnpryan

[2019-11-05 08:17] #1948 closed

[2019-11-05 08:29] mit-mit opened #2064 "Analysis failing with Dart 2.6"
From https://travis-ci.org/dart-lang/site-www/jobs/607524551:

[code]

[2019-11-05 08:29] mit-mit commented on #2064
cc @kwalrath @chalin

[2019-11-05 12:30] chalin commented on #2064
I'm on it.

(This due to a known difference in analyzer output between 2.5 and 2.6. I wasn't aware that 2.6 was going to be released to stable already.)

[2019-11-05 13:14] #2064 closed

[2019-11-05 18:07] kwalrath opened #2068 "Clarify dart2native platform support"
The dart2native page should incorporate the information in the **Known limitations** section of the [2.6 announcement](https://medium.com/dartlang/dart2native-a76c815e6baf).

/cc @mit-mit

[2019-11-05 18:07] kwalrath opened #2069 "Clarify dart2native platform support"
The dart2native page should incorporate the information in the **Known limitations** section of the [2.6 announcement](https://medium.com/dartlang/dart2native-a76c815e6baf).

/cc @mit-mit

[2019-11-05 18:08] kwalrath commented on #2069
duplicate, yay github

[2019-11-05 18:08] #2069 closed

[2019-11-05 23:03] mraleph opened #2071 "Language tour should clarify relationship between callable classes and functions"
In Dart 2 we changed how callable classes work

[code]

This is not mentioned in the language tour and might be confusing.

We used to have the whole article about emulating functions on the site - but it seems to have been deleted?

[2019-11-06 00:00] kwalrath commented on #2071
Yep, I should fix that part of the language tour.

About the emulating functions article... It looks like the latest version is saved here: https://web.archive.org/web/20190402210311/www.dartlang.org/articles/language/emulating-functions

When we did the dart.dev work we removed a bunch of low-readership articles that had no owners and/or source code tests. (Having everything be tested will be imp

[2019-11-06 00:05] kwalrath commented on #2071
In case we decide to reinstate the article's content, the discussion/links here might be handy: #600

[2019-11-06 10:00] jonasfj opened #2072 "Change Windows installer link to be https"
The [community supported Windows installer](http://www.gekorm.com/dart-windows) referenced in:

https://github.com/dart-lang/site-www/blob/a4b74d94bf0e94fafbaeb4af8e55f69ff4abf39b/src/tools/sdk/_windows.md#L50-L55

Only has an HTTP-only website (ie. without HTTPS support).

https://github.com/dart-lang/site-www/blob/a4b74d94bf0e94fafbaeb4af8e55f69ff4abf39b/src/tools/sdk/_windows.md#L61

@GeKorm, i